<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">Webgility</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
			<a href="admin.php?p=apps">{trans key="common.cancel"}</a>
			<button type="submit" class="btn btn-primary">{trans key="common.save"}</button>
		</div>
	</div>
	<hr class="clearfix">
</div>
<div class="container-fluid">
	<div class="col-xs-12">
		<p>{trans key="apps.webgility.app_desc1"}</p>
		<p>{trans key="apps.webgility.app_desc2"}</p>
	</div>
</div>