<script type="text/javascript" src="content/admin/javascript/skin-settings.js"></script>
<div id="confirmSkinDialog" style="display: none;">
	Change my theme to <span class="selectedSkin"></span> and:<br />
	<ul>
		<li><input type="radio" checked="checked" id="useLayout_default" name="useLayout" value="default" /> <label for="useLayout_default">discard my layout changes and use <span class="selectedSkin"></span>'s default layout <strong><em>(recommended)</em></strong></label></li>
		<li><input type="radio" id="useLayout_user" name="useLayout" value="user" /> <label for="useLayout_user">leave the layout changes I have already made *</label></li>
	</ul>
	<p class="note">* If selected, your cart may not look like the template in the preview.</p>
</div>