{literal}
<style type="text/css">
	.clearfix:after {
		content:".";
		display:block;
		height:0;
		clear:both;
		visibility:hidden;
	}
	.clearfix {display:inline-block;}
	/* Hide from IE Mac \*/
		.clearfix {display:block;}
	/* End hide from IE Mac */
	
	.col { float: left; }
	
	ul.templates { list-style-type: none; padding: 0px; margin: 0px; text-align: center; }
	ul.templates img { border: none; }
	ul.templates li.currentTemplate { background: #FF9; }
	ul.templates li.filtered { display: none; }
	ul.templates li { display: inline; width: 165px; border:1px solid #dddddd; float: left; margin: 10px 10px 0px 0px; padding: 2px; background-color: #eee; }
	ul.templates li p { padding: 2px; margin: 0 0 2px 0; font-weight: bold; }
	ul.templates li span.tags { display: none; }
	ul.templates li div { background: #ddd; border: 1px solid #ccc; height: 150px; margin: 0px 0px 3px; }
	ul.templates li table { padding: 0; margin: 4px; border-collapse: collapse; width: 100%; }
	ul.templates li table tr td.key { width: 45%; font-weight: bold; }
	ul.templates li table tr td.value { width: 55%; }
	
	div.browse { padding: 5px; background: #eee; text-align: right; }
	p.noResults { text-align: center; font-size: 30px; font-family: Arial,'Trebuchet MS'; color: #999; margin: 50px 0px; display: none; }
	
	#currentTemplate { margin: 0px 0px 50px; }
	#currentTemplate img { border: none; }
	
	#currentTemplate ul { list-style-type: none; margin: 0px 0px 0px 50px; padding: 0px; }
	#currentTemplate li { margin: 0px 0px 10px; }
	
	a.button:link,
	a.button:visited,
	a.button:hover { width: 210px; height: 41px; text-align: center; display: inline-block; text-decoration: none; font-family: "Trebuchet MS", Helvetica; font-size: 18px; line-height: 41px; color: #666; }
	a.button:hover { color: #000; }
	
	a.preview img { border: 2px solid #ccc; }
	
	#confirmSkinDialog span.selectedSkin { font-weight: bold; }
	#confirmSkinDialog ul { list-style-type: none; padding: 10px; margin: 0; }
	#confirmSkinDialog ul li { margin: 10px 0; }
	#confirmSkinDialog p.note { font-size: 11px; text-align: right; }
</style>
{/literal}
<ul class="templates">
	{foreach name="templates" from=$skin_templates item="skin"}
	<li class="template {$skin.selectedTemplate}" title="{$skin.name}">
		<p>{$skin.name}</p>
		<a id="preview_{$skin.name}" href="{$skin.preview_image}" {$skin.rel_group_name} class="preview" title="{$skin.title}"><img style="width: 138px; height: 150px;" src="{$skin.thumbnail_image}" /></a>
		{foreach from=$skin.images item="image"}
			<a href="{$image.src}" {$skin.rel_group_name} title="{$image.title}" class="preview"></a>
		{/foreach}
		<p>
			<a href="#" class="preview_link" rel="preview_{$skin.name}" title="{$skin.title}">Preview</a> | <span class="templateStatus">{$skin.activation_link}</span>
		</p>
		<span class="tags">{$skin.tag}</span>
	</li>
	{/foreach}
</ul>