<ul id="browse-templates" class="templates">
</ul>
<script type="text/javascript">
	var skinsInstallable = {$skinsInstallable};
</script>
{literal}
<script type="text/javascript">
	$(document).ready(function() {
		$.ajax({
			url: document.location.protocol + '//cartmanual.com/themes/list/?v='+cartVersion,
			dataType: 'jsonp',
			success: function (data)
			{
				var n = 1;
				$.each(data.themes, function(key, entry){
					var action = '<span class="templateStatus"><a href="https://www.cartmanual.com/themes/downloads/' + entry.key + '.zip">Download</a></span>';
					if (skinsInstallable)
					{
						action = '<span class="templateStatus"><a href="admin.php?p=design_settings&install=' + entry.key + '">Install</a></span>';
					}
					var html = 
						'<li class="template" title="">' +
						'<p>' + entry.name + '</p>' +
						'<a id="preview_' + entry.key + '" href="https://www.cartmanual.com/themes/downloads/' + entry.thumbnail + '" class="preview"><img style="width: 138px;height:150px;" src="https://www.cartmanual.com/themes/downloads/' + entry.thumbnail + '"/></a>' +
						'<p><a href="#" class="preview_link" rel="preview_' + entry.key + '">Preview</a> | '+ action + '</p>' +
						'</li>';
					
					$('#browse-templates').append(html);
				});
				$('#browse-templates a.preview').fancybox({
					'zoomSpeedIn': 500,
					'zoomSpeedOut': 300,
					'transactionIn': 'elastic',
					'showCloseButton': true,
					'titlePosition': 'inside',
					'titleFormat': formatTitle
				}); 
				$('#browse-templates a.preview_link').click(function(){
					$('#'+$(this).attr('rel')).click();
					return false;
				});
			},
			error: function (XMLHttpRequest, textStatus, errorThrown)
			{
				//alert(textStatus);
			}
		});
	});
</script>
{/literal}