/** anchors **/
a:link, a:active, a:visited{color:blue;}
a:hover{color:black;}

/** layout **/
.layout-zone-navigation {background-color:silver;}
.layout-zone-footer {background-color:silver;}

/** form **/
.fieldset div.hint {color:gray;}

/** elements/service **/
h1{background-color:gray;color:white;}
h3{background:#bbbbbb;}

/** messages **/
.msg-error{color:#dd0000;}
.msg-error ul li{color:#000000;}
.msg-success, .msg-notice{color:#333333;}
.msg-success ul li, msg-notice ul li{fcolor:#666666;}
.msg-warning{color:#0000dd;}
.msg-warning ul li{color:#999999;}

/** lists **/
table.list thead tr th{background:#f0f0f0;}
table.list tfoot tr td{border-top:1px solid #f0f0f0;}

/** catalog pages **/
.catalog-page-breaks ul li.active{background-color:gold;}

.price{color:#AA6600;}

.panel {background-color:white;border:1px solid gray;}
.panel .title{background-color:gray;color:white;}

.fieldset {border:1px solid silver;}
.fieldset h3{background-color:silver;color:white;}

.remark {color:gray;}
.hint {color:gray;}
