<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<h4 class="qsg-page-header">{trans key="quick_start_guide.step_two.social_media_accounts"}</h4>
		{form form=$socialMediaAccounts.form}
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<h4 class="qsg-page-header">{trans key="quick_start_guide.step_two.sharing_settings"}</h4>
		{form form=$sharingSettings.form}
	</div>
</div>