<p>{$label_app_name} {trans key="apps.wholesalecentral.app_desc"}</p>
<p>
	<a href="https://secure.wholesalecentral.com/addcompany_step1.cfm?dbid=1" target="_blank" class="btn btn-primary">{trans key="apps.wholesalecentral.app_signup_link"}</a>
</p>