<form name="form-settings" action="admin.php?p=app&key=wholesale-central" role="form" method="post" data-auto-validate="1">
	<input type="hidden" name="nonce" id="nonce" value="{$nonce}">
	<div id="content-header">
		<div class="container-fluid">
			<h1 class="col-xs-6">{trans key="apps.wholesalecentral.wholesale_central"}</h1>
			<div class="col-xs-6 pull-right text-right btn-toolbar">
				<a href="admin.php?p=apps">{trans key="common.cancel"}</a>
				<button type="submit" class="btn btn-primary">{trans key="common.save"}</button>
			</div>
		</div>
		<hr class="clearfix">
	</div>
	<div class="container-fluid">
		<div class="col-xs-12 btn-toolbar" style="margin-bottom: 22px;">
			<a href="#" class="btn" id="wholesale-central-sync">{trans key="apps.wholesalecentral.sync_products"}</a>
			<a href="#" class="btn" id="wholesale-central-export">{trans key="apps.wholesalecentral.export_products"}</a>
		</div>
	</div>
	{form form=$form}
</form>
<iframe id="iframe-download" src="" style="display: none;width: 1px;height: 1px;"></iframe>
<script type="text/javascript" src="content/admin/scripts/wholesale-central.js?v={$APP_VERSION}"></script>