<div class="row">
	<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 field-text has-error has-error has-feedback required">
		<label for="flat-rate-method-name">{trans key="shipping.title"} <span class="glyphicon glyphicon-info-sign tooltip-popover" data-original-title="" title=""></span></label>
		<input type="text" class="form-control flat-rate-method-name" name="method[carrier_name]" id="flat-rate-method-name" data-required="1" placeholder="{trans key='shipping.title'}">
		<span class="glyphicon glyphicon-warning-sign form-control-feedback warning-sign text-error" aria-hidden="true"></span>
		<span class="sr-only">(error)</span>
		<div class="tooltip">{trans key="shipping.title_tooltip"}</div>
	</div>
	<div id="add-method-flat-rate-price" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Flat Rate by order subtotal</div>
			<input type="hidden" name="method[method_id]" value="price" />
			<div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<div class="input-group">
					{if $currencyData.symbol_left}<span class="input-group-addon">{$currencyData.symbol_left}</span>{/if}
					<input type="text" class="form-control" name="rates[-1][rate_min]" placeholder="{trans key='shipping.min_subtotal'}">
					{if $currencyData.symbol_right}<span class="input-group-addon">{$currencyData.symbol_right}</span>{/if}
				</div>
			</div>
			<div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<div class="input-group">
					{if $currencyData.symbol_left}<span class="input-group-addon">{$currencyData.symbol_left}</span>{/if}
					<input type="text" class="form-control" name="rates[-1][rate_max]" placeholder="{trans key='shipping.max_subtotal'}">
					{if $currencyData.symbol_right}<span class="input-group-addon">{$currencyData.symbol_right}</span>{/if}
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<div class="row">
					<div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<input type="text" class="form-control" name="rates[-1][price]" placeholder="{trans key='shipping.price'}">
					</div>
					<div class="form-group field-select col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<select id="rate-unit" class="form-control" name="rates[-1][price_type]">
							<option selected="selected" value="amount">USD</option>
							<option value="percentage">%</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>