{if $showAll}
<div class="row">
	{if !$hasRealTime}
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="alert alert-warning text-center">{trans key="shipping.no_real_time"}</div>
	</div>
	{else}
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div id="add-method-carrier">
			<div class="row">
				{if $upsMethods}
				<div class="col-xs-12 col-sm-offset-1 col-sm-2 col-md-offset-1 col-md-2 col-lg-offset-1 col-lg-2">
					<div class="form-group text-center">
						<label for="add-method-carrier-id-ups">
							<span class="shipping-carrier shipping-carrier-ups"></span>
							<input id="add-method-carrier-id-ups" class="form-control" type="radio" name="method[carrier_id]" value="ups" checked>
						</label>
					</div>
				</div>
				{/if}
				{if $uspsMethods}
				<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
					<div class="form-group text-center">
						<label for="add-method-carrier-id-usps">
							<span class="shipping-carrier shipping-carrier-usps"></span>
							<input id="add-method-carrier-id-usps" class="form-control" type="radio" name="method[carrier_id]" value="usps"{if !$upsMethods} checked{/if}>
						</label>
					</div>
				</div>
				{/if}
				{if $fedexMethods}
				<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
					<div class="form-group text-center">
						<label for="add-method-carrier-id-fedex">
							<span class="shipping-carrier shipping-carrier-fedex"></span>
							<input id="add-method-carrier-id-fedex" class="form-control" type="radio" name="method[carrier_id]" value="fedex"{if !$upsMethods && !$uspsMethods} checked{/if}>
						</label>
					</div>
				</div>
				{/if}
				{if $canadaPostMethods}
				<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
					<div class="form-group text-center">
						<label for="add-method-carrier-id-canada_post">
							<span class="shipping-carrier shipping-carrier-canada-post"></span>
							<input id="add-method-carrier-id-canada_post" class="form-control" type="radio" name="method[carrier_id]" value="canada_post"{if !$upsMethods && !$uspsMethods && !$fedexMethods} checked{/if}>
						</label>
					</div>
				</div>
				{/if}
				{if $vparcelMethods}
				<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
					<div class="form-group text-center">
						<label for="add-method-carrier-id-vparcel">
							<span class="shipping-carrier-vparcel"></span>
							<input id="add-method-carrier-id-vparcel" class="form-control" type="radio" name="method[carrier_id]" value="vparcel"{if !$upsMethods && !$uspsMethods && !$fedexMethods && !$canadaPostMethods} checked{/if}>
						</label>
					</div>
				</div>
				{/if}
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="row">
			<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
				{if $upsMethods}
				<div class="add-method-ups">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							{form form=$upsSettings.form}
						</div>
					</div>
				</div>
				{/if}
				{if $uspsMethods}
				<div class="add-method-usps" style="{if $upsMethods}display: none;{/if}">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							{form form=$uspsSettings.form}
						</div>
					</div>
				</div>
				{/if}
				{if $fedexMethods}
				<div class="add-method-fedex" style="{if $upsMethods || $uspsMethods}display: none;{/if}">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							{form form=$fedExSettings.form}
						</div>
					</div>
				</div>
				{/if}
				{if $canadaPostMethods}
				<div class="add-method-canada_post" style="{if $upsMethods || $uspsMethods || $fedexMethods}display: none;{/if}">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							{form form=$canadaPostSettings.form}
						</div>
					</div>
				</div>
				{/if}
				{if $vparcelMethods}
				<div class="add-method-vparcel" style="{if $upsMethods || $uspsMethods || $fedexMethods ||$canadaPostMethods}display: none;{/if}">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							{form form=$vipParcelSettings.form}
						</div>
					</div>
				</div>
				{/if}
			</div>
			<div id="add-based-methods" class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
				<div class="row">
					{if $basedMethods}
					{if $basedMethods.local !== NULL || $basedMethods.local != 0}
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<label for="add-local-based-methods">
							<input id="add-local-based-methods" type="checkbox" name="based[local]" value="{$basedMethods.local}"> Add Local based methods
						</label>
					</div>
					{/if}
					{if $basedMethods.international !== NULL}
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<label for="add-international-based-methods">
							<input id="add-international-based-methods" type="checkbox" name="based[international]" value="{$basedMethods.international}"> Add International based methods
						</label>
					</div>
					{/if}
					{/if}
				</div>
			</div>
		</div>
	</div>
	{/if}
</div>
{/if}

