<ul class="nav nav-tabs nav-justified" role="tablist">
	<li role="presentation" class="active">
		<a href="#shipping-carriers" id="shipping-carriers-tab" role="tab" data-toggle="tab" aria-controls="shipping-carriers" aria-expanded="true">Select Your Shipping Carriers</a>
	</li>
	<li role="presentation" class="">
		<a href="#payment-gateway" id="payment-gateway-tab" role="tab" data-toggle="tab" aria-controls="payment-gateway" aria-expanded="false">Select a Payment Gateway</a>
	</li>
	<li role="presentation" class="">
		<a href="#taxes" role="tab" id="taxes-tab" data-toggle="tab" aria-controls="taxes" aria-expanded="false">Configure Taxes</a>
	</li>
</ul>
<div class="tab-content">
	<div class="tab-pane fade active in" role="tabpanel" id="shipping-carriers" aria-labelledby="shipping-carriers-tab">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<h4>{trans key="quick_start_guide.step_four.select_shipping_carriers"}</h4>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="alert alert-light-gray" role="alert">
								<p>{trans key="quick_start_guide.step_four.shipping_carriers_note"}</p>
							</div>
							<br />
						</div>
					</div>
					<div class="row">
						<div class="shipping-country form-group field-select col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<label for="add-method-country">Where do you primarily ship to?</label>
							<select class="form-control" name="method[country]" id="add-method-country">
								{if $originCountry.iso_a3 != 'USA' && $originCountry.iso_a3 != 'CAN'}<option value="{$originCountry.coid}">{$originCountry.name}</option>{/if}
								<option value="1">United States</option>
								<option value="2">Canada</option>
								<option value="0">{trans key="shipping.international"}</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="row">
								<div class="form-group field-checkbox col-xs-12 col-sm-12 col-md-12 col-lg-12 radio-list">
									<div class="row">
										<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
											<label for="flat-rate-method">
												<input id="flat-rate-method" class="method-type" type="radio" name="method[type]" value="flat" checked="checked"> {trans key="shipping.flat_rate"} - You control shipping price
											</label>
										</div>
										<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
											<label for="real-time-method">
												<input id="real-time-method" class="method-type" type="radio" name="method[type]" value="real-time"> {trans key="shipping.real_time"} - Get rates from major shipping carriers
											</label>
										</div>
									</div>
								</div>
								<div id="flat-rate-method-form" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									{include file="templates/pages/quick-start-guide/content/step-four/form-flat-rate-method.html"}
								</div>
								<div id="real-time-methods-form" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="display: none;"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 pull-right">
					<a id="save-shipping-carriers" class="btn btn-primary btn-block" href="#" role="button">Save</a>
				</div>
			</div>
		</div>
	</div>
	<div class="tab-pane fade" role="tabpanel" id="payment-gateway" aria-labelledby="payment-gateway-tab">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<h4>{trans key="quick_start_guide.step_four.select_payment_gateway"}</h4>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="alert alert-light-gray" role="alert">
								<p>{trans key="quick_start_guide.step_four.payment_gateway_note"}</p>
							</div>
							<br />
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
									<div class="tab-select">
										<div class="form-group field-select col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<label for="field-payment_method_id">{trans key="payment_methods.payment"}</label>
											<select id="field-payment_method_id" class="form-control field-payment_method_id" name="payment_method_id">
												<option value="">{trans key="payment_methods.please_choose_payment"}</option>
												{foreach from=$paymentMethodsGroups item="paymentMethodGroup"}
												{if count($paymentMethodGroup.methods) > 0}
												<optgroup label="{$paymentMethodGroup.name|htmlspecialchars}">
													{foreach from=$paymentMethodGroup.methods item="paymentMethod"}
													{if $paymentMethod.id == 'custom'}
													<option selected="selected" value="{$paymentMethod.id}" data-payment-method="{$paymentMethod.name|htmlspecialchars}" data-active="{if $paymentMethod.active=='Yes'}true{else}false{/if}">{$paymentMethod.name|htmlspecialchars}{if $paymentMethod.active=="Yes"} (active){/if}</option>
													{else}
													<option value="{$paymentMethod.id}" data-payment-method="{$paymentMethod.name|htmlspecialchars}" data-active="{if $paymentMethod.active=='Yes'}true{else}false{/if}">{$paymentMethod.name|htmlspecialchars}{if $paymentMethod.active=="Yes"} (active){/if}</option>
													{/if}
													{/foreach}
												</optgroup>
												{/if}
												{/foreach}
											</select>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
									<div id="payment-form">
										<input type="hidden" name="fromQS" value="0">
										<div class="dynamic-content">
											{form form=$customPayment.form}
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<img id="payment-thumbnail" src="images/admin/quick-start-guide/paypal-logo-qs.png?v={$APP_VERSION}" class="img-responsive img-thumbnail" style="display: block; margin: 0 auto 10px;">
								</div>
								<div class="col-xs-offset-3 col-xs-6 col-sm-offset-3 col-sm-6 col-md-offset-0 col-md-12 col-lg-offset-0 col-lg-12">
									<a id="payment-connect-btn" class="btn btn-primary btn-block" href="https://www.paypal.com" target="_blank" role="button">
										<p>{trans key="quick_start_guide.step_four.connect_with_paypal"}</p>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 pull-right">
					<a id="save-payment" class="btn btn-primary btn-block" href="#" role="button">Save</a>
				</div>
			</div>
		</div>
	</div>
	<div class="tab-pane fade" role="tabpanel" id="taxes" aria-labelledby="taxes-tab">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<h4>{trans key="quick_start_guide.step_four.setup_taxes"}</h4>
						</div>
					</div>
					<div class="row">
						{form form=$taxes.form}
					</div>
				</div>
				<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 pull-right">
					<a id="save-taxes" class="btn btn-primary btn-block" href="#" role="button">Save</a>
				</div>
			</div>
		</div>
	</div>
</div>
