<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="admin.logs.store_logs"}</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">

		</div>
	</div>
	<hr class="clearfix">
</div>
<div class="content-help">
	{trans key="admin.logs.list_help"}
</div>

{include file="templates/pages/admin/logs/modal-search.html"}

<div class="container-fluid">
	<div class="col-xs-12 col-md-6">
	</div>
	<div class="col-xs-12 col-md-6 pull-right text-right">
		<button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-search">{trans key="common.search"}</button>
	</div>
</div>

&nbsp;
{if $logs}
	<div class="container-fluid">
		<div class="col-xs-12 col-md-12">
			<table class="table table-striped">
				<thead>
				<tr>
					<th>{trans key="admin.logs.level"}</th>
					<th>{trans key="admin.logs.action"}</th>
					<th>{trans key="admin.profile.username"}</th>
					<th>{trans key="common.date"}</th>
					<th>{trans key="common.ip"}</th>
				</tr>
				</thead>
				<tbody>
				{foreach from=$logs item="log"}
					<tr>
						<td>
							{if $log.level == 0}{trans key="admin.logs.levels.0"}{/if}
							{if $log.level == 1}{trans key="admin.logs.levels.1"}{/if}
							{if $log.level == 2}{trans key="admin.logs.levels.2"}{/if}
							{if $log.level == 3}{trans key="admin.logs.levels.3"}{/if}
							{if $log.level == 4}{trans key="admin.logs.levels.4"}{/if}
						</td>
						<td>{$log.message|gs}</td>
						<td>{$log.username|gs}</td>
						<td>{$log.log_date_formatted|gs}</td>
						<td>{$log.ip|long2ip}</td>
					</tr>
				{/foreach}
				</tbody>
			</table>
			<div class="custom-pager">
				{if $paginator->prevPage}
					<a role="button" class="btn btn-default" href="admin.php?p=admins_log&amp;page={$paginator->prevPage}"><span class="icon icon-pagination-left"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-left"></span></button>
				{/if}

				{if $paginator->nextPage}
					<a role="button" class="btn btn-default" href="admin.php?p=admins_log&amp;page={$paginator->nextPage}"><span class="icon icon-pagination-right"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-right"></span></button>
				{/if}

				<span class="text">{$paginator->itemsFrom}-{$paginator->itemsTo} <span class="of">{trans key="common.of"}</span>  {$paginator->itemsCount}</span>
			</div>
		</div>
	</div>
{else}
	<div class="container-fluid">
		<div class="col-xs-12 col-md-12">
			{trans key="admin.logs.no_data"}
		</div>
	</div>
{/if}
