<div class="modal fade" id="modal-search" tabindex="-1" role="dialog" aria-labelledby="modal-logs-search-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-logs-search" method="get">
			<input type="hidden" name="p" value="admins_log">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-manufacturers-search-label">{trans key="admin.logs.search_store_logs"}</h4>
				</div>
				<div class="modal-body">
					{form form=$searchForm}
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary">{trans key="common.search"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>