<h3>{trans key="apps.avalara.app_desc1"}</h3>
<p>{trans key="apps.avalara.app_desc2"}</p>
<h3>{trans key="apps.avalara.app_desc3"}</h3>
<p>{trans key="apps.avalara.app_desc4"}</p>
<ul>
	<li>{trans key="apps.avalara.app_desc5"}</li>
	<li>{trans key="apps.avalara.app_desc6"}</li>
	<li>{trans key="apps.avalara.app_desc7"}</li>
	<li>{trans key="apps.avalara.app_desc8"}</li>
</ul>
<p><a href="{if $is_label}http://www.avalara.com/products/avatax{else}http://www.avalara.com/avaintegrations/pinnacle-cart{/if}" target="_blank" class="btn btn-primary">{trans key="apps.avalara.app_desc9"}</a></p>