<div class="modal fade" id="modal-update-tax-code" tabindex="-1" role="dialog" aria-labelledby="modal-update-tax-code-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-update-tax-code" action="admin.php?p=avalara&mode=update-tax-code" method="post">
			<input type="hidden" name="nonce" value="{$updateNonce}">
			<input type="hidden" name="id">

			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-update-tax-code-label">{trans key="apps.avalara.update_code"}</h4>
				</div>
				<div class="modal-body">
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary" data-action="action-save-tax-code">{trans key="common.save"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>