<div class="modal fade" id="modal-update-codes" tabindex="-1" role="dialog" aria-labelledby="modal-update-codes-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-update-codes" action="admin.php?p=avalara&mode=update-codes" method="post">
			<input type="hidden" name="nonce" value="{$update_codes_nonce}">

			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-add-tax-code-label">{trans key="apps.avalara.update_codes"}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group col-xs-12">
						<label for="update-codes-username">{trans key="apps.avalara.username"}</label>
						<input id="update-codes-username" type="text" name="avalaraUsername" placeholder="{trans key='apps.avalara.username'}">
					</div>
					<div class="form-group col-xs-12">
						<label for="update-codes-password">{trans key="apps.avalara.password"}</label>
						<input id="update-codes-password" type="password" name="avalaraPassword" placeholder="{trans key='apps.avalara.password'}">
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary" data-action="action-update-codes">{trans key="common.update"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>