<div class="modal fade" id="modal-tax-codes-delete" tabindex="-1" role="dialog" aria-labelledby="modal-tax-codes-delete-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-tax-codes-delete">
			<input type="hidden" name="nonce" value="{$delete_nonce}">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-tax-codes-delete-label">{trans key="apps.avalara.delete_tax_codes"}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group col-xs-12">
						<label><input type="radio" name="form-tax-codes-delete-mode" value="selected" checked> {trans key="apps.avalara.delete_selected_tax_codes"}</label>
						<label><input type="radio" name="form-tax-codes-delete-mode" value="search"> {trans key="apps.avalara.delete_all_tax_codes"} ({trans key="common.all"} {$itemsCount})</label>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary" data-action="action-tax-codes-delete">{trans key="common.delete"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>