<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="apps.avalara.avalara_tax_codes"}</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
			<a href="admin.php?p=app&key=avalara">{trans key="common.cancel"}</a>
			<a href="#" data-target="#modal-update-codes" data-toggle="modal" class="btn">{trans key="apps.avalara.update_codes"}</a>
			{if $hasAvalaraTaxCodes}<a href="#" data-target="#modal-add-avalara-tax-code" data-toggle="modal" class="btn">{trans key="apps.avalara.add_avalara_tax_code"}</a>{/if}
			<a href="#" data-target="#modal-add-tax-code" data-toggle="modal" class="btn btn-primary">{trans key="apps.avalara.add_code"}</a>
		</div>
	</div>
	<hr class="clearfix">
</div>
<div class="container-fluid">
	<div class="col-xs-12 btn-toolbar" style="margin-bottom: 22px;">
	</div>
	{if $tax_codes}
		<div class="container-fluid">
			<div class="col-xs-12 col-md-6">
				<div class="btn-group">
					<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							{trans key="common.bulk_actions"}
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a href="#" data-toggle="modal" data-target="#modal-tax-codes-delete">{trans key="common.delete"}</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 pull-right text-right">

			</div>
		</div>
		&nbsp;
		<div class="container-fluid">
			<div class="col-xs-12">
				<table class="table table-striped">
					<thead>
					<tr>
						<th style="width:50px;"><input type="checkbox" id="selectAll"></th>
						<th class="text-left">{trans key="apps.avalara.tax_name"}</th>
						<th class="text-left">{trans key="apps.avalara.tax_code"}</th>
						<th></th>
					</tr>
					</thead>
					<tbody>
					{foreach from=$tax_codes item="tax_code"}
						<tr>
							<td><input type="checkbox" class="checkbox-tax-code" name="row[{$tax_code.id}]" value="{$tax_code.id}"></td>
							<td class="text-left"><a href="#" class="edit-tax-code" data-id="{$tax_code.id}">{$tax_code.name}</a></td>
							<td class="text-left"><a href="#" class="edit-tax-code" data-id="{$tax_code.id}">{$tax_code.code}</a></td>
							<td class="list-actions text-right">
								<a href="#" class="edit-tax-code" data-id="{$tax_code.id}"><span class="icon icon-edit"></span>{trans key="common.edit"}</a>
								<a href="#" onclick="return AvalaraTaxes.removeTaxCode({$tax_code.id}, '{$delete_nonce}');"><span class="icon icon-delete"></span>{trans key="common.delete"}</a>
							</td>
						</tr>
					{/foreach}
					</tbody>
				</table>
			</div>
		</div>
	{else}
		<div class="container-fluid">
			<div class="col-xs-12">
				{trans key="apps.avalara.no_records"}
			</div>
		</div>
	{/if}

{include file="templates/pages/avalara/modal-add-tax-code.html"}
{include file="templates/pages/avalara/modal-add-avalara-tax-code.html"}
{include file="templates/pages/avalara/modal-update-tax-code.html"}
{include file="templates/pages/avalara/modal-update-codes.html"}
{include file="templates/pages/avalara/modal-delete.html"}

<script type="text/javascript" src="content/admin/scripts/avalara.js?v={$APP_VERSION}"></script>