<div class="page-gift-certificate wrap {class file=$smarty.template editable=true}">
	<h1>{$msg.gift_certificate.gift_certificate}</h1>
	<div class="spacer">
		{if ($auth_ok == "yes" || $user_cookie) || (($VisitorSeePrice == "YES") && ($VisitorMayAddItem == "YES"))}
			{if $check_balance=="yes"}
				{if $giftcert_error}<div style="padding:10px; color:red;">{$giftcert_error}</div>{/if}
				{if $your_balance}<div>{$msg.gift_certificate.balanceForGiftCert} {$your_balance|price}</div>{/if}
				<form name="gift_certificate_balance" method="post" action="" onsubmit="return CheckGiftCertInfo()" autocomplete="off">
					<input type="hidden" name="get_balance" value="1"/>
					<div class="fieldset {class file=$smarty.template editable=true}">
						<h3>{$msg.gift_certificate.checkBalance}</h3>
						<div class="field first required">
							<label for="gift_cert_first_name">{$msg.gift_certificate.first_name}</label>
							<div>
								<input id="first_name" name="gift_cert_first_name" type="text" id="gift_cert_first_name" maxlength="64" value="{$gift_cert_first_name|htmlspecialchars}" />
							</div>
						</div>
						<div class="field required">
							<label for="gift_cert_last_name">{$msg.gift_certificate.last_name}</label>
							<div>
								<input id="last_name" name="gift_cert_last_name" type="text" id="gift_cert_last_name" maxlength="64" value="{$gift_cert_last_name|htmlspecialchars}" />
							</div>
						</div>

						<div class="field required">
							<label for="gift_cert_voucher">{$msg.gift_certificate.voucher_code}</label>
							<div>
								<input name="gift_cert_voucher" type="text" id="gift_cert_voucher" maxlength="16" value="{$gift_cert_voucher|htmlspecialchars}" />
							</div>
						</div>
						<div class="field">
							<div>
							{button class="button-gift-certificate-balance" text=$msg.buttons.buttonGiftCertificateBalance file=$smarty.template}
							</div>
						</div>
					</div>
				</form>
			{else}
				<div class="msg-notice">
					{assign var="imageId" value="image-gift-certificate"}
					{if $designImages.$imageId}
						<img class="image-gift-certificate {class file=$smarty.template editable=true}" src="{$designImages.$imageId.content}" align="right" alt="{$msg.images.imageGiftCertificate|htmlspecialchars}"/>
					{/if}
					{$msg.gift_certificate.giftCertificateHeader}
				</div>
				{if $error_messages}
					<div class="msg-error">
						<div>{$header_error_text}</div>
						{foreach from=$error_messages item="error_message"}
							<div>- {$error_message}</div>
						{/foreach}
					</div>
				{/if}
				<form name="gift_certificate" method="post" action="{$url_http}p=gift_certificate" onsubmit="return CheckGiftCertForm()">
					<input type="hidden" name="oa" value="{$ORDER_ADD_GIFT_CERT}"/>
					<div class="fieldset {class file=$smarty.template editable=true}">
						<h3>{$msg.gift_certificate.gift_certificate}</h3>
						<div class="field first">
							<label for="chk_email_gift">{$msg.gift_certificate.email_certificate}</label>
							<div>
								<input type="checkbox" name="chk_email_gift" id="chk_email_gift" value="1" checked="checked" />
							</div>
						</div>
						<div class="field required">
							<label for="first_name">{$msg.gift_certificate.recipient_first_name}</label>
							<div>
								<input type="text" name="first_name" id="first_name" value="{$first_name|htmlspecialchars}" class="formControlText" />
							</div>
						</div>

						<div class="field required">
							<label for="last_name">{$msg.gift_certificate.recipient_last_name}</label>
							<div>
								<input type="text" name="last_name" id="last_name" value="{$last_name|htmlspecialchars}" class="formControlText" />
							</div>
						</div>
						<div class="field required">
							<label for="phone">{$msg.gift_certificate.recipient_phone_number}</label>
							<div>
								<input type="text" name="phone" id="phone" value="{$phone|htmlspecialchars}" class="formControlText" />
							</div>
						</div>
						<div class="field required">
							<label for="rep_email">{$msg.gift_certificate.recipient_email_address}</label>
							<div>
								<input type="text" name="rep_email" id="rep_email" value="{$rep_email|htmlspecialchars}" class="formControlText" />
							</div>
						</div>
						<div class="field required">
							<label for="from_name">{$msg.gift_certificate.your_name}</label>
							<div>
								<input type="text" name="from_name" id="from_name" value="{$from_name|htmlspecialchars}" class="formControlText" />
							</div>
						</div>
						<div class="field required clearfix">
							<label for="message">{$msg.gift_certificate.certificate_message}</label>
							<div>
								<textarea id="message" name="message" cols="25" rows="6">{$message|htmlspecialchars}</textarea>
							</div>
						</div>
						<div class="field required">
							<label for="gift_amount">
								{$msg.gift_certificate.certificate_amount},
								{if $default_currency.symbol_left!=''}{$default_currency.symbol_left}{else}{$default_currency.symbol_right}{/if}
							</label>
							<div>
								<input name="gift_amount" id="gift_amount" class="gift-amount" type="text" value="{$gift_amount|string_format:'%.2f'}" />
							</div>
						</div>
						<div class="buttons">
							{if $update == '1'}
								{button class="button-update-cart" text=$msg.buttons.buttonUpdateCart file=$smarty.template}
							{else}
								{button class="button-add-to-cart" text=$msg.buttons.buttonAddToCart file=$smarty.template}
							{/if}
						</div>
					</div>
				</form>
			{/if}
		{else}
			<div>
				{$msg.product.to_purchase}
				<ul class="list">
					<li><a href="{$url_https}p=login">{$msg.account.login}</a></li> 
					<li><a href="{$url_https}p=signup">{$msg.account.register}</a></li>
				</ul>
			</div>
		{/if}
	</div>
</div>
