{if $canActivate}
	<p>{trans key="recurring_profiles.desc1" label_app_name=$label_app_name}.</p>
	<p>{trans key="recurring_profiles.desc2"}:</p>
	<ol>
		<li style="margin-bottom:10px;">{trans key="recurring_profiles.desc3"}</li>
		<li style="margin-bottom:10px;">
			{trans key="recurring_profiles.desc4"}:
			<ul>
				{$recurringBillingMethodsHtml}
			</ul>
		</li>
		<li style="margin-bottom:10px;">
			{trans key="recurring_profiles.desc5"}
		</li>
	</ol>
{else} 
	<p>{trans key="recurring_profiles.desc6" label_app_name=$label_app_name}.</p>
	<p>{trans key="recurring_profiles.feature"}</p>
	<ul>
		<li>{trans key="recurring_profiles.features.feature1"}</li>
		<li>{trans key="recurring_profiles.features.feature2"}</li>
		<li>{trans key="recurring_profiles.features.feature3"}</li>
		<li>{trans key="recurring_profiles.features.feature4"}</li>
	</ul>

	{if !$is_label}
		<p>{trans key="recurring_profiles.desc7"}.</p>
		<p>{trans key="recurring_profiles.desc8" label_first_data=$label_first_data label_app_name=$label_app_name}</p>
		<p>{trans key="recurring_profiles.desc9"}</p>
		<a href="{$upgradeUrl}" class="btn" style="font-size:20px;">{trans key="recurring_profiles.desc10"}</a>
	{/if}
{/if}