<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="recurring_profiles.recurring_billing"}</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
			<a href="admin.php?p=apps">{trans key="common.cancel"}</a>
		</div>
	</div>
	<hr class="clearfix">
</div>
<div class="container-fluid">
	<div class="col-xs-12">
		<h2>{trans key="recurring_profiles.about_recurring_billing"}</h2>
		<p>
			{trans key="recurring_profiles.recurring_billing_desc" label_app_name=$label_app_name}.
		</p>
		<p>
			{trans key="recurring_profiles.payment_method_activate"}:
			<ul>{$recurringBillingMethodsHtml}</ul>
		</p>
		<p>
			{trans key="recurring_profiles.recurring_billing_enabled"}.
		</p>
		<p>
			{trans key="recurring_profiles.manage_recurring_billing"}
		</p>
	</div>
</div>
