<form name="frmProfile" data-auto-validate="1" action="admin.php?p=recurring_profiles&action=details&id={$recurringProfile->profileId}" method="post">
	<input type="hidden" name="nonce" id="nonce" value="{$nonce}">

	<div id="content-header">
		<div class="container-fluid">
			<h1 class="col-xs-6">{trans key='Recurring Profile'} #{$recurringProfile->profileId}</h1>
			<div class="col-xs-6 pull-right text-right btn-toolbar">
				<a href="admin.php?p=recurring_profiles">{trans key="common.back"}</a>
				<button class="btn btn-primary">{trans key="common.save"}</button>
			</div>
		</div>
		<hr class="clearfix">
	</div>

	<div class="container-fluid">
		{if $canUpdateStatus}
			<div class="btn-toolbar clearfix">
				<div class="col-xs-12"><a href="#" data-target="#modal-recurring-profile-update-status" data-toggle="modal" class="btn">{trans key="recurring_profiles.update_status"}</a></div>
			</div>
		{/if}
		<div class="clearfix">
			<fieldset class="clearfix fieldset-primary" style="margin-bottom: 22px;">
				<div class="col-xs-12 col-md-4">
					<div class="profile-details">
						<h4>{trans key="recurring_profiles.profile_details"}</h4>
						<table class="table  table-no-borders">
							<tbody>
								<tr>
									<td><strong>{trans key="recurring_profiles.profile_id"}</strong>:</td>
									<td><strong>{$recurringProfile->profileId}</strong></td>
								</tr>
								<tr>
									<td>{trans key="recurring_profiles.created_at"}:</td>
									<td>{$recurringProfile->dateCreated}</td>
								</tr>
								<tr>
									<td>{trans key="recurring_profiles.status"}:</td>
									<td>
										<strong>{$recurringProfile->status}</strong>
										{if $recurringProfile->status == 'Suspended'}
											(by {$recurringProfile->suspensionReason|strtolower}{if $recurringProfile->suspensionReasonDescription != ''}, {$recurringProfile->suspensionReasonDescription}{/if})
										{/if}
									</td>
								</tr>
								{if $recurringProfile->trialEnabled}
									<tr>
										<td>{trans key="recurring_profiles.trial_period"}:</td>
										<td><i>{$recurringProfile->trialDescription}</i></td>
									</tr>
								{/if}
								<tr>
									<td>{trans key="recurring_profiles.billing_period"}:</td>
									<td><i>{$recurringProfile->billingDescription}{if !$recurringProfile->hasMoreBillingCycles} (completed){/if}</i></td>
								</tr>
								<tr>
									<td>{trans key="recurring_profiles.current_billing_cycle"}:</td>
									<td>
										{if $recurringProfile->trialEnabled}
											{if $recurringProfile->hasMoreTrialCycles}
												{trans key="recurring_profiles.trial"} ({$recurringProfile->trialSequenceNumber} of {$recurringProfile->trialPeriodCycles})
											{elseif $recurringProfile->hasMoreBillingCycles}
												{trans key="recurring_profiles.billing"} ({$recurringProfile->billingSequenceNumber}{if $recurringProfile->billingPeriodCycles > 0} of {$recurringProfile->billingPeriodCycles}{else}, until cancelled{/if})
											{else}
												{trans key="recurring_profiles.completed"}
											{/if}
										{elseif $recurringProfile->hasMoreBillingCycles}
											{trans key="recurring_profiles.billing"} ({$recurringProfile->billingSequenceNumber}{if $recurringProfile->billingPeriodCycles > 0} of {$recurringProfile->billingPeriodCycles}{/if})
										{else}
											{trans key="recurring_profiles.completed"}
										{/if}
									</td>
								</tr>
								{if $recurringProfile->dateStart}
									<tr>
										<td>{trans key="recurring_profiles.start_date"}:</td>
										<td>{$recurringProfile->dateStart}</td>
									</tr>
								{/if}
								<tr>
									<td>{trans key="recurring_profiles.initial_order"}:</td>
									<td><i><a href="admin.php?p=order&id={$initialOrder.oid}">{trans key="recurring_profiles.order_num"}{$initialOrder.order_num}</a> ({$initialOrder.status})</i></td>
								</tr>
								<tr>
									<td>{trans key="recurring_profiles.customer"}:</td>
									<td><i><a href="admin.php?p=customer&mode=update&id={$user->id}">{$user->data.fname|gs} {$user->data.lname|gs}</a></i></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-xs-12 col-md-4">
					<div class="profile-details">
						<h4>{trans key="recurring_profiles.billing_info"}</h4>
						<div class="payment-profile-view-container recurring-billing-payment-profile">
							{if $paymentProfile}
								{assign var="paymentProfileId" value=$paymentProfile->id}
								{include file="templates/pages/payment-profiles/payment-profile-view.html" profile=$paymentProfile}
								<div style="margin-top: 10px;">
									<a href="#" class="btn payment-profile-update" data-recurring-profile-id="{$recurringProfile->profileId}" data-user-id="{$recurringProfile->userId}">{trans key="common.edit"}</a>
									<a href="#" class="btn payment-profile-change" data-recurring-profile-id="{$recurringProfile->profileId}" data-user-id="{$recurringProfile->userId}">{trans key="common.change"}</a>
								</div>
							{else}
								{assign var="paymentProfileId" value=0}
								<div class="payment-profile-view payment-profile-view-0 payment-profile-primary">
									<div class="gap-bottom">
										{trans key="recurring_profiles.billing_info_not_available"}
									</div>
								</div>
							{/if}
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-4">
					<div class="profile-details">
						<h4>{trans key="recurring_profiles.shipping_info"}</h4>
						{if $shippingAddress}
							<strong>{trans key="recurring_profiles.shipping_address_method"}</strong>
							<div class="shipping-address-view-container gap-top">
								{include file="templates/pages/recurring-profiles/shipping-address-view.html" shippingAddress=$shippingAddress}
								<!--
								<div style="margin-top: 10px;">
									<a class="btn" href="#" data-action="shipping-address-edit" data-action-source="recurring-profile" data-recurring-profile-id="{$recurringProfile->profileId}">Edit</a>
								</div>
								-->
							</div>
							<div style="margin-top: 10px;">
								{trans key="recurring_profiles.shipping_method"}: <i>{$initialOrder.shipping_cm_name}</i>
							</div>
						{else}
							<span>{trans key="orders.not_shippable"}</span>
						{/if}
					</div>
				</div>
			</fieldset>
		</div>
		<fieldset id="group-recurring-form">
			{form form=$recurringProfileForm}
		</fieldset>
		<fieldset id="group-recurring-item-information">
			<legend>{trans key="recurring_profiles.recurring_item_info"}</legend>
			<div id="group-recurring-item-information-body" class="container-fluid">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>{trans key="recurring_profiles.product_id"}</th>
							<th>{trans key="recurring_profiles.product_name"}</th>
							<th class="text-right">{trans key="recurring_profiles.product_price"}</th>
							<th class="text-right">{trans key="recurring_profiles.product_quantity"}</th>
							<th class="text-right">{trans key="recurring_profiles.product_subtotal"}</th>
						</tr>
					</thead>
					<tbody>
						<tr valign="top">
							<td><a href="admin.php?p=product&mode=update&pid={$lineItem->pid}">{$lineItem->productId|htmlspecialchars}</a></td>
							<td>
								<strong><a href="admin.php?p=product&mode=update&pid={$lineItem->pid}">{$lineItem->title|htmlspecialchars}</a></strong>
								{if $lineItem->options != ''}<br>Options:<br>{$lineItem->options|nl2br}{/if}
							</td>
							<td class="text-right">
								{if $recurringProfile->trialEnabled}{$recurringProfile->trialAmount|price} / {/if}
								{$recurringProfile->billingAmount|price}
							</td>
							<td class="text-right">{$recurringProfile->itemsQuantity}</td>
							<td class="text-right">
								{if $recurringProfile->trialEnabled}{$recurringProfile->trialAmount*$recurringProfile->itemsQuantity|price} / {/if}
								{$recurringProfile->billingAmount*$recurringProfile->itemsQuantity|price}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</fieldset>
		<fieldset id="group-recurring-orders">
			<legend>{trans key="recurring_profiles.recurring_orders"}</legend>
			<div id="group-recurring-orders-body" class="container-fluid">
				{if $recurringOrders}
					<table class="table table-striped">
						<thead>
							<tr>
								<th class="text-left">{trans key="recurring_profiles.order_id"}</th>
								<th class="text-left">{trans key="recurring_profiles.place_at"}</th>
								<th class="text-left">{trans key="recurring_profiles.last_update"}</th>
								<th class="text-left">{trans key="recurring_profiles.status"}</th>
								<th class="text-left">{trans key="recurring_profiles.payment"}</th>
								<th class="text-left">{trans key="recurring_profiles.fulfilled"}</th>
								<th class="text-center">{trans key="recurring_profiles.amount"}</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							{foreach from=$recurringOrders item="recurringOrder"}
								<tr>
									<td><a href="admin.php?p=order&id={$recurringOrder.oid}">{$recurringOrder.order_num}</a></td>
									<td><a href="admin.php?p=order&id={$recurringOrder.oid}">{$recurringOrder.placed_date}</a></td>
									<td><a href="admin.php?p=order&id={$recurringOrder.oid}">{$recurringOrder.status_date}</a></td>
									<td>{$recurringOrder.status}</td>
									<td>{$recurringOrder.payment_status}</td>
									<td>
										{if $recurringOrder.fulfillment_status == 'partial'}
											{trans key="orders.shipment_statuses.partial"}
										{elseif $recurringOrder.fulfillment_status == 'completed'}
											{trans key="orders.shipment_statuses.completed"}
										{else}
											{trans key="orders.shipment_statuses.pending"}
										{/if}
									</td>
									<td class="text-right">{$recurringOrder.total_amount|price}</td>
									<td class="text-right">
										<a href="admin.php?p=order&id={$recurringOrder.oid}"><span class="icon icon-edit"></span> Edit</a>
										<a target="_print" href="admin.php?p=order_invoice&orders={$recurringOrder.oid}&printing"><span class="icon icon-print"></span> Print</a>
									</td>
								</tr>
							{/foreach}
						</tbody>
					</table>
				{else}
					{trans key="recurring_profiles.no_orders_yet"}
				{/if}
			</div>
		</fieldset>
	</div>
</form>

{if $canUpdateStatus}
	{include file="templates/pages/recurring-profiles/modal-update-status.html"}
{/if}

<div id="edit-payment-profile"></div>
<div id="change-payment-profile"></div>

<script type="text/javascript"><!--
	var countriesStates = {$countriesStates};
--></script>
<script type="text/javascript" src="content/admin/scripts/recurring-profiles.js?v={$APP_VERSION}"></script>
<script type="text/javascript" src="content/admin/scripts/payment-profiles.js?v={$APP_VERSION}"></script>
