{** search form starts here **}
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<form role="form" name="form-customers-search" id="form-customers-search" method="get">
				<input type="hidden" name="p" value="recurring_profiles">
				{form form=$searchForm}
				<div class="col-sm-12">
					<input type="submit" value="Search" class="btn btn-default">
				</div>
			</form>
		</div>
	</div>
</div>
<hr>
{** search form ends here **}

<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="recurring_profiles.recurring_profiles"}</h1>
	</div>
	<hr class="clearfix">
</div>

{include file="templates/pages/recurring-profiles/modal-search.html"}
{if $recurringProfiles}
	{include file="templates/pages/recurring-profiles/modal-bulk-update-status.html"}
{/if}

<div class="container-fluid">
	<div class="col-xs-12 col-md-6">
		{if $recurringProfiles}
			<div class="btn-group">
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						{trans key="recurring_profiles.bulk_actions"}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#" data-toggle="modal" data-target="#modal-recurring-profiles-bulk-update-status">{trans key="recurring_profiles.update_status"}</a></li>
					</ul>
				</div>
			</div>
		{/if}
	</div>
	{if !$recurringProfiles}
	<div class="col-xs-12 col-md-6 pull-left text-left">
		{trans key="recurring_profiles.no_records_found"}
	</div>
	{/if}
</div>
&nbsp;
{if $recurringProfiles}
	<div class="container-fluid">
		<div class="col-xs-12">
			<table class="table table-striped table-list table-list-customers" data-search-form="#form-customers-search" data-order-by-field="orderBy" data-order-dir-field="orderDir">
				<thead>
					<tr>
						<th style="width:50px;"><input type="checkbox" id="selectAll"></th>
						<th class="sortable text-left" data-sort-field="profile_id">{trans key="recurring_profiles.profile_id"}</th>
						<th class="sortable text-left" data-sort-field="subscriber_name">{trans key="recurring_profiles.customer_name"}</th>
						<th class="sortable text-left" data-sort-field="product_name">{trans key="recurring_profiles.prod_name"}</th>
						<th class="text-left">{trans key="recurring_profiles.next_billing_date"}</th>
						<th class="text-left">{trans key="recurring_profiles.status"}</th>
						<th class="text-left">{trans key="recurring_profiles.has_trial"}</th>
						<th class="text-right" data-sort-field="product_subtotal">{trans key="recurring_profiles.product_subtotal"}</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{foreach from=$recurringProfiles item="recurringProfile"}
						<tr>
							<td><input class="checkbox-recurring-profile" type="checkbox" name="row[{$recurringProfile->profileId}]" value="{$recurringProfile->profileId}"></td>
							<td class="text-left"><a href="admin.php?p=recurring_profiles&action=details&id={$recurringProfile->profileId}">{$recurringProfile->profileId}</a></td>
							<td class="text-left"><a href="admin.php?p=recurring_profiles&action=details&id={$recurringProfile->profileId}">{$recurringProfile->subscriberName}</a></td>
							<td class="text-left"><a href="admin.php?p=recurring_profiles&action=details&id={$recurringProfile->profileId}">{$recurringProfile->productName}</a></td>
							<td class="text-left">{if $recurringProfile->hasMoreBillingCycles}{$recurringProfile->dateNextBilling}{else}&nbsp;{/if}</td>
							<td class="text-left">{$recurringProfile->status}</td>
							<td class="text-left">{if $recurringProfile->trialEnabled}Yes{else}No{/if}</td>
							<td class="text-right">
								{if $recurringProfile->trialEnabled}{$recurringProfile->trialAmount*$recurringProfile->itemsQuantity|price} / {/if}
								{$recurringProfile->billingAmount*$recurringProfile->itemsQuantity|price}
							</td>
							<td class="list-actions text-right">
								<a href="admin.php?p=recurring_profiles&action=details&id={$recurringProfile->profileId}"><span class="icon icon-edit"></span>Edit</a>
							</td>
						</tr>
					{/foreach}
				</tbody>
			</table>
			<div class="custom-pager">
				{if $paginator->prevPage}
					<a role="button" class="btn btn-default" href="admin.php?p=recurring_profiles&amp;page={$paginator->prevPage}"><span class="icon icon-pagination-left"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-left"></span></button>
				{/if}
				{if $paginator->nextPage}
					<a role="button" class="btn btn-default" href="admin.php?p=recurring_profiles&amp;page={$paginator->nextPage}"><span class="icon icon-pagination-right"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-right"></span></button>
				{/if}
				<span class="text">{$paginator->itemsFrom}-{$paginator->itemsTo} <span class="of">of</span> {$paginator->itemsCount}</span>
			</div>
		</div>
	</div>
{else}
	<!--<div class="container-fluid">-->
		<!--<div class="col-xs-12">-->
			<!--There are no records found-->
		<!--</div>-->
	<!--</div>-->
{/if}

<script type="text/javascript" src="content/admin/scripts/recurring-profiles.js?v={$APP_VERSION}"></script>