<div class="modal fade" id="modal-recurring-profile-update-status" tabindex="-1" role="dialog" aria-labelledby="modal-recurring-profile-update-status-label" aria-hidden="true">
	<div class="modal-dialog">
		<form action="admin.php?p=recurring_profiles&action=details&id={$recurringProfile->profileId}" method="POST" role="form" name="form-recurring-profile-update-status">
			<input type="hidden" name="nonce" value="{$nonce}">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-recurring-profile-update-status-label">{trans key="recurring_profiles.update_status"}</h4>
				</div>
				<div class="modal-body">
					{form form=$updateStatusForm}
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary" data-action="action-recurring-profile-update-status">{trans key="common.update"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>