<div class="modal fade" id="modal-recurring-profiles-search" tabindex="-1" role="dialog" aria-labelledby="modal-recurring-profiles-search-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-recurring-profiles-search" method="get">
			<input type="hidden" name="p" value="recurring_profiles">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-recurring-profiles-search-label">{trans key="recurring_profiles.search_recurring_profiles"}</h4>
				</div>
				<div class="modal-body">
					{form form=$searchForm}
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary">{trans key="common.search"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>