<div class="modal fade" id="modal-recurring-profiles-bulk-update-status" tabindex="-1" role="dialog" aria-labelledby="modal-recurring-profiles-bulk-update-status-label" aria-hidden="true">
	<div class="modal-dialog">
		<form action="admin.php?p=recurring_profiles&action=bulk-status" method="POST" role="form">
			<input type="hidden" name="nonce" value="{$update_nonce}">
			<input type="hidden" name="ids" value="">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-recurring-profiles-bulk-update-status-label">{trans key="recurring_profiles.update_orders"}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group col-xs-12">
						<label><input type="radio" name="updateMode" value="selected" checked>{trans key="recurring_profiles.update_selected_profiles"}</label>
						<label><input type="radio" name="updateMode" value="search">{trans key="recurring_profiles.update_all_profiles" itemsCount=$itemsCount}</label>
					</div>
					{form form=$updateStatusForm}
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary">Update</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>