<div class="shipping-address-view">
	<strong>
		{$shippingAddress->name|htmlspecialchars} <i>({$shippingAddress->addressType})</i>
		{if $shippingAddress->companyName != ''}<br>{$shippingAddress->companyName}{/if}
	</strong>
	<div class="gap-top gap-bottom">
		{$shippingAddress->addressLine1|htmlspecialchars}<br>
		{if $shippingAddress->addressLine2 != ''}{$shippingAddress->addressLine2|htmlspecialchars}<br>{/if}
		{$shippingAddress->city|htmlspecialchars},
		{$shippingAddress->stateName|htmlspecialchars} {$shippingAddress->zip|htmlspecialchars}<br>
		{$shippingAddress->countryName|htmlspecialchars}
	</div>
</div>