<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6 col-sm-6">{trans key="home.dashboard"}</h1>
		<div class="col-xs-6 col-sm-6 text-right">
			<a class="btn hidden-xs hidden-sm" href="admin.php?p=design_settings&mode=activatedesigner&design_mode_flag=on">{trans key="home.cart_designer"}</a>
			<a class="btn btn-primary" target="_blank" href="{$GlobalHttpUrl}">{trans key="home.view_site"}</a>
		</div>
	</div>
	<hr class="clearfix">
</div>
<!--<div class="col-xs-12 col-md-12 home-page-progress-line">-->
	<!--<div class="row">-->
		<!--<div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 text-center">-->
			<!--<div class="tile">-->
				<!--<div id="home-page-graph-progress"><span class="title"></span></div>-->
			<!--</div>-->
		<!--</div>-->
		<!--<div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 text-center">-->
			<!--<div class="tile">-->
				<!--<span class="glyphicon glyphicon-briefcase"></span>-->
				<!--<div class="title">Store Setup Status</div>-->
			<!--</div>-->
		<!--</div>-->
		<!--<div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 text-center">-->
			<!--<div class="tile">-->
				<!--<span class="glyphicon glyphicon-ok-sign"></span>-->
				<!--<div class="title">Enter Store Information</div>-->
			<!--</div>-->
		<!--</div>-->
		<!--<div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 text-center">-->
			<!--<div class="tile">-->
				<!--<span class="glyphicon glyphicon-credit-card"></span><br>-->
				<!--<div class="title">Setup Payment Methods &amp; Taxes</div>-->
			<!--</div>-->
		<!--</div>-->
		<!--<div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 text-center">-->
			<!--<div class="tile">-->
				<!--<span class="glyphicon glyphicon-plane"></span><br>-->
				<!--<div class="title">Setup Shipping</div>-->
			<!--</div>-->
		<!--</div>-->
		<!--<div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 text-center">-->
			<!--<div class="tile">-->
				<!--<span class="glyphicon glyphicon-book"></span><br>-->
				<!--<div class="title">Add Product &amp; Categories</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->
<div id="dashboard" class="container-fluid">
	<div class="col-xs-12 col-lg-3 pull-right">
		<div class="well home-page-orders-container">
			{if $hasOrdersAccess}
				<div class="stats-title">{trans key="home.last_orders"}</div>
				{if $orders}
					<div class="table-responsive">
						<table class="table table-striped table-responsive table-condensed">
							<thead>
								<tr>
									<th>{trans key="home.order_id"}</th>
									<th class="text-left">{trans key="home.fullfilled"}</th>
									<th class="text-right">{trans key="home.amount"}</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
							{foreach from=$orders item="order"}
								<tr>
									<td class="text-left"><a href="admin.php?p=order&id={$order.oid}">{$order.order_num}</a></td>
									<td class="text-left">
										{if $order.fulfillment_status == 'partial'}
											{trans key="home.partial"}
										{elseif $order.fulfillment_status == 'completed'}
											{trans key="home.completed"}
										{else}
											{trans key="home.pending"}
										{/if}
									</td>
									<td class="text-right">{$order.total_amount_without_gift_cert|price}</td>
									<td class="text-right">
										<a href="admin.php?p=order&id={$order.oid}"><span class="icon icon-edit"></span></a>
									</td>
								</tr>
							{/foreach}
							</tbody>
						</table>
					</div>
				{else}
					<p style="margin-bottom: 20px;">{trans key="home.no_new_orders"}.</p>
				{/if}
				<div class="row">
					<div class="col-xs-12 pull-right text-right btn-toolbar">
						<a href="admin.php?p=orders" class="btn">{trans key="common.view_orders"}</a>
					</div>
				</div>
			{/if}
		</div>
	</div>
	<div class="col-xs-12 col-lg-9">
		<div class="home-page-graph-container">
			<div class="home-page-graph-container-buttons row">
				<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
					<a href="#week" class="btn">Week</a>
					<a href="#month" class="btn btn-primary">Month</a>
					<a href="#quarter" class="btn">Quarter</a>
					<a href="#year" class="btn">Year</a>
				</div>
				<div class="col-lg-7 text-right visible-lg-inline-block" id="home-page-graph-title"></div>
				<div class="col-md-7 text-right visible-md-inline-block" id="home-page-graph-title-shorten"></div>
				<div class="col-xs-12 col-sm-12 text-right visible-sm-inline-block visible-xs-inline-block" id="home-page-graph-title-xsmall"></div>
			</div>

			<div class="well home-page-graph-container-bottom">
				<div class="row">
					<div class="col-xs-12 col-lg-4">
						<div class="row">
							<div class="col-xs-9 col-md-8 col-lg-8 pull-right graph-area">
								<div id="home-page-graph-revenue" class="home-page-micrograph"></div>
							</div>
							<div class="col-xs-3 col-md-3 col-lg-4 pull-left text-right stats-area">
								<div class="stats-value home-page-revenue">{0|price}</div>
								<div class="stats-title">{trans key="home.revenue"}</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-lg-4">
						<div class="row">
							<div class="col-xs-9 col-md-8 col-lg-8 pull-right graph-area">
								<div id="home-page-graph-orders" class="home-page-micrograph"></div>
							</div>
							<div class="col-xs-3 col-md-3 col-lg-4 pull-left text-right stats-area">
								<div class="stats-value home-page-order-count">0</div>
								<div class="stats-title">{trans key="home.orders"}</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-lg-4">
						<div class="row">
							<div class="col-xs-9 col-md-8 col-lg-8 pull-right graph-area">
								<div id="home-page-graph-items" class="home-page-micrograph"></div>
							</div>
							<div class="col-xs-3 col-md-3  col-lg-4 pull-left text-right stats-area">
								<div class="stats-value home-page-items-count">0</div>
								<div class="stats-title">{trans key="home.items_sold"}</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div id="home-page-graph-main" class="home-page-graph"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clear-both"></div>

	{if $hasProductsAccess}
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 widget">
			<div class="well home-page-stat-box">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<div class="stats-value">{$productsStats.productsCount|string_format:"%d"}</div>
						<div class="stats-title">{trans key="home.total_products"}</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<div class="stats-value">{$productsStats.outOfStockCount|string_format:"%d"}</div>
						<div class="stats-title">{trans key="home.out_of_stock"}</div>
					</div>
				</div>
				<div class="row" style="margin-top:20px;">
					<div class="col-xs-12 pull-right text-right btn-toolbar">
						<a href="admin.php?p=products" class="btn">{trans key="home.browse"}</a>
						<a href="admin.php?p=product&mode=insert" class="btn hidden-xs hidden-sm">{trans key="home.add"}</a>
					</div>
				</div>
			</div>
		</div>
	{/if}
	{if $hasCustomersAccess}
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 widget">
			<div class="well home-page-stat-box">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<div class="stats-value">{$customersStats.registeredCount|string_format:"%d"}</div>
						<div class="stats-title">{trans key="home.total_registered_users"}</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<div class="stats-value">{$customersStats.newRegisteredCount|string_format:"%d"}</div>
						<div class="stats-title">{trans key="home.new_registered_users"}</div>
					</div>
				</div>
				<div class="row" style="margin-top:20px;">
					<div class="col-xs-12 pull-right text-right btn-toolbar">
						<a href="admin.php?p=customers" class="btn">{trans key="home.browse"}</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 widget">
			<div class="well home-page-stat-box">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<div class="stats-value">{$customersStats.expressCount|string_format:"%d"}</div>
						<div class="stats-title">{trans key="home.total_express_customers"}</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<div class="stats-value">{$customersStats.newExpressCount|string_format:"%d"}</div>
						<div class="stats-title">{trans key="home.new_express_customers"}</div>
					</div>
				</div>
				<div class="row" style="margin-top:20px;">
					<div class="col-xs-12 pull-right text-right btn-toolbar">
						<a href="admin.php?p=customers" class="btn">{trans key="home.browse"}</a>
					</div>
				</div>
			</div>
		</div>
	{/if}
	{if $hasTestimonialAccess}
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 widget">
		<div class="well home-page-stat-box">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<div class="stats-value">{$testimonialStats.testimonialsCount|string_format:"%d"}</div>
					<div class="stats-title">{trans key="home.total_testimonials"}</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<div class="stats-value">{$testimonialStats.testimonialAverageRatings|string_format:"%d"}</div>
					<div class="stats-title">{trans key="home.average_testimonials"}</div>
				</div>
			</div>
			<div class="row" style="margin-top:20px;">
				<div class="col-xs-12 pull-right text-right btn-toolbar">
					<a href="admin.php?p=testimonials" class="btn">{trans key="home.browse"}</a>
				</div>
			</div>
		</div>
	</div>
	{/if}
</div>

{if !$intuit_quick_start && $intuitConnected && !$intuitConnectionActive}
	<div class="modal fade" id="modal-intuit-reconnect" tabindex="-1" role="dialog" aria-labelledby="modal-intuit-reconnect-label" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="modal-intuit-reconnect-label">{trans key="home.reconnect_quickbooks"}</h4>
				</div>
				<div class="modal-body" style="margin-bottom: 20px;">
					{trans key="home.lost_connection"}.
					<ipp:connectToIntuit></ipp:connectToIntuit>
					<div style="margin-top:8px;font-size:0.8em;">
						<a href="admin.php?p=quickbooks&mode=update-status&action=disable-quickbooks">{trans key="home.do_not_show_message"}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	{literal}
	<script type="text/javascript" src="https://js.appcenter.intuit.com/Content/IA/intuit.ipp.anywhere.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		$('#modal-intuit-reconnect').modal('show');
	});
	intuit.ipp.anywhere.setup({
		menuProxy: '{/literal}{$menu_proxy}',
		grantUrl: '{$grant_url}{literal}'
	});
	</script>
	{/literal}
{/if}

<script type="text/javascript" src="content/admin/scripts/dashboard.js"></script>