<div id="site-container" class="site-container">
	<div class="container-navigation container-navigation-top clearfix">
		<div class="{$LayoutSiteWidth} container-wrap clearfix">
			{include file="templates/layouts/zones/navigation.html"}
		</div>
	</div>

	<div class="container-header clearfix">
		<div class="container-wrap {$LayoutSiteWidth} clearfix">
			{include file="templates/layouts/zones/header.html"}
		</div>
	</div>

	<div class="container-main clearfix">
		<div class="{$LayoutSiteWidth} container-wrap clearfix">
			<div id="main" class="clearfix">
				{include file="templates/layouts/zones/left.html"}
				{include file="templates/layouts/zones/content.html"}
			</div>
		</div>
	</div>

	<div class="container-footer">
		<div class="{$LayoutSiteWidth} container-wrap">
			{include file="templates/layouts/zones/footer.html"}
		</div>
	</div>
</div>