<form name="form-promo-code" action="admin.php?p=promotions" role="form" method="post" data-auto-validate="1" autocomplete="off" enctype='multipart/form-data'>
	<input type="hidden" name="nonce" id="nonce" value="{$nonce}">
	<input type="hidden" name="mode" value="{$mode|gs}">	
	{if $id}<input type="hidden" name="id" value="{$id|gs}">{/if}

	<div id="content-header">
		<div class="container-fluid">
			<h1 class="col-xs-6">{if $mode == 'add'}{trans key="common.add"} {else}{trans key="common.editing"} {/if}{trans key="marketing.promo_code"} <span class="title">{$title}</span></h1>
			<div class="col-xs-6 pull-right text-right btn-toolbar">
				<a href="admin.php?p=promotions">{trans key="common.cancel"}</a>
				<button class="btn btn-primary">{trans key="common.save"}</button>
			</div>
		</div>
		<hr class="clearfix">
	</div>

	{form form=$form}
	
	{if $mode == "update"}
		<input type="hidden" name="promo_id" id="promo_id" value="{$id|gs}">
	{/if}
</form>


<script type="text/javascript" src="content/vendors/jquery/ui/jquery-ui-1.10.3.custom.min.js"></script>
<script type="text/javascript" src="content/admin/scripts/promo-codes.js?v={$APP_VERSION}"></script>

<script type="text/javascript">
$( "#field-start_date" ).datepicker();
$( "#field-end_date" ).datepicker();
</script>