{** search form starts here **}
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<form role="form" name="form-promocode-search" id="form-promocode-search" method="get">
				<input type="hidden" name="p" value="promotions">
				{form form=$searchForm}
				<div class="col-sm-12">
					<input type="submit" value="Search" class="btn btn-default">
				</div>
			</form>
		</div>
	</div>
</div>
<hr>
{** search form ends here **}

<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="marketing.promotions"}</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
			<a href="admin.php?p=promotions&mode=add" class="btn btn-primary pull-right">{trans key="marketing.add_promo_code"}</a>
			<div class="btn-group pull-right">
				<a class="btn" href="#" data-target="#modal-settings" data-toggle="modal">{trans key="marketing.advanced_settings"}</a>
			</div>
		</div>
	</div>
	<hr class="clearfix">
</div>

{if $promo_codes}

	{include file="templates/pages/promo-code/modal-delete.html"}

	<div class="container-fluid">
		<div class="col-xs-12 col-md-6">
			<div class="btn-group">
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						{trans key="common.bulk_actions"}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#" data-toggle="modal" data-target="#modal-promo-codes-delete">{trans key="common.delete"}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	&nbsp;
	<div class="container-fluid">
		<div class="col-xs-12 col-md-12">
			<table class="table table-striped table-list table-list-promocode" data-search-form="#form-promocode-search" data-order-by-field="orderBy" data-order-dir-field="orderDir">
				<thead>
					<tr>
						<th style="width:50px;"><input type="checkbox" id="selectAll"></th>
						<th class="sortable" data-sort-field="name">{trans key="marketing.promotions_list_table.title"}</th>
						<th class="sortable" data-sort-field="promo_code">{trans key="marketing.promotions_list_table.promo_code"}</th>
						<th class="sortable" data-sort-field="promo_type">{trans key="marketing.promotions_list_table.promo_type"}</th>
						<th class="sortable" data-sort-field="discount">{trans key="marketing.promotions_list_table.discount"}</th>
						<th >{trans key="marketing.promotions_list_table.date_range"}</th>
						<th class="sortable" data-sort-field="min_amount">{trans key="marketing.promotions_list_table.subtotal"}</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{foreach from=$promo_codes item="one"}
						<tr>
							<td><input type="checkbox" class="checkbox-promo-code" name="row[{$one.pid}]" value="{$one.pid}"></td>
							<td><a href="admin.php?p=promotions&mode=update&id={$one.pid}">{$one.name|htmlspecialchars}</a></td>
							<td>{$one.promo_code}</td>
							<td>{$one.promo_type}</td>
							<td>
								{if $one.discount_type == "amount"}
									{$one.discount|price}
								{else}
									{$one.discount|string_format:"%.2f"} %
								{/if}	
							</td>
							<td>{$one.date_start} - {$one.date_stop}</td>
							<td>{$one.min_amount|price}</td>
							<td class="list-actions text-right" nowrap>
								<a href="admin.php?p=promotions&mode=update&id={$one.pid}"><span class="icon icon-edit"></span>{trans key="common.edit"}</a>
								<a href="#" onclick="return removePromoCode({$one.pid}, '{$delete_nonce}');"><span class="icon icon-delete"></span>{trans key="common.delete"}</a>
							</td>
						</tr>
					{/foreach}
				</tbody>
			</table>
			<div class="custom-pager">
				{if $paginator->prevPage}
					<a role="button" class="btn btn-default" href="admin.php?p=promotions&amp;page={$paginator->prevPage}"><span class="icon icon-pagination-left"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-left"></span></button>
				{/if}

				{if $paginator->nextPage}
					<a role="button" class="btn btn-default" href="admin.php?p=promotions&amp;page={$paginator->nextPage}"><span class="icon icon-pagination-right"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-right"></span></button>
				{/if}

				<span class="text">{$paginator->itemsFrom}-{$paginator->itemsTo} <span class="of">{trans key="common.of"}</span>  {$paginator->itemsCount}</span>
			</div>
		</div>
	</div>
{else}
	<div class="container-fluid">
		<div class="col-xs-12 col-md-12">
			{trans key="promo_codes.no_records"}
		</div>
	</div>
{/if}

{include file="templates/pages/promo-code/modal-settings.html"}

<script type="text/javascript" src="content/admin/scripts/promo-codes.js?v={$APP_VERSION}"></script>