<div class="panel-newsletters-subscribe panel clearfix {class file=$smarty.template editable=true draggable=true}">
	<div class="content {class file=$smarty.template editable=true}">
		<form action="{$url_base}{$url_rel}p=subscribe" method="post" onsubmit="return CheckNewsletters(this)">
			<h4 class="title {class file=$smarty.template editable=true}">{$msg.headers.headerNewsletter}</h4>
			<label for="subscribe_email">{$msg.newsletters.email_address}:</label>
			<input maxlength="64" type="text" id="subscribe_email" name="email" value=""/>
			{button class="button-subscribe" text=$msg.buttons.buttonSubscribe file=$smarty.template}
			<div class="unsubscribe"><a href="{$url_http}p=unsubscribe">{$msg.newsletters.click_to_unsubscribe}</a></div>
		</form>
	</div>
</div>