 </td></tr>
 <tr>
   <td align="center"  style="font-size:11px;">
    {$CompanyName|htmlspecialchars}<br />
    <a href="{$GlobalHttpUrl}">{$msg.email.click_to_visit_us}</a><br />
   </td>
 </tr>
</table>
</body>
</html>
