<fieldset id="editable2">
	<legend>Change Colors</legend>
	<div class="btn-toolbar">
		<button class="btn" data-target="#editable2-body" data-toggle="collapse" type="button">
			Edit
			<span class="caret"></span>
		</button>
	</div>
	<div id="editable2-body" class="collapse container-fluid">
		{form form=$customForm}
	</div>
</fieldset>