<p>{trans key="apps.pricegrabber.app_desc"}</p>
<p><a href="https://partner.pricegrabber.com/mss_main.php?sec=3&ccode=us" target="_blank" class="btn btn-primary">{trans key="apps.pricegrabber.app_signup_link"}</a></p>