<p>{trans key="idev.idev_affiliates_desc"}</p>
<p><a href="http://www.idevdirect.com/10140.html" target="_blank" class="btn btn-primary">{trans key="idev.signup_here"}</a><br></p>
<p>{trans key="idev.enter_coupon_code"}</p>