<form name="form-settings" action="admin.php?p=app&key=idev" role="form" method="post" data-auto-validate="1">
	<input type="hidden" name="nonce" id="nonce" value="{$nonce}">
	<div id="content-header">
		<div class="container-fluid">
			<h1 class="col-xs-6">{trans key="idev.idev_affiliates"}</h1>
			<div class="col-xs-6 pull-right text-right btn-toolbar">
				<a href="admin.php?p=apps">{trans key="common.cancel"}</a>
				<button type="submit" class="btn btn-primary">{trans key="common.save"}</button>
			</div>
		</div>
		<hr class="clearfix">
	</div>
	{form form=$form}
</form>
