<p>{trans key="apps.endicia.app_desc1"}</p>
<p>{trans key="apps.endicia.app_desc2"}</p>
<div>
	{trans key="apps.endicia.app_desc3"}
	<ul style="margin-top:5px;">
		<li>{trans key="apps.endicia.app_desc4"}</li>
		<li>{trans key="apps.endicia.app_desc5"}</li>
		<li>{trans key="apps.endicia.app_desc6"}</li>
	</ul>
</div>
<div>
	{trans key="apps.endicia.app_desc7"}
	<ul style="margin-top:5px;">
		<li>{trans key="apps.endicia.app_desc8"}</li>
		<li>{trans key="apps.endicia.app_desc9"}</li>
		<li>{trans key="apps.endicia.app_desc10"}</li>
		<li>{trans key="apps.endicia.app_desc11"}</li>
	</ul>
</div>
<div>
	{trans key="apps.endicia.app_desc12"}
	<ul style="margin-top:5px;">
		<li>{trans key="apps.endicia.app_desc13"}</li>
	</ul>
</div>
<p style="margin:0;">
	<a href="{if $is_label}https://www.dymoendicia.com/SignUp/{else}https://www.endicia.com/labelserver/login.cfm?PartId=lddm{/if}" target="_blank" class="btn btn-primary">{trans key="apps.endicia.app_desc14"}</a>
</p>