<form name="form-settings" action="admin.php?p=app&key=endicia" role="form" method="post" data-auto-validate="1">
	<input type="hidden" name="nonce" id="nonce" value="{$nonce}" />
	<div id="content-header">
		<div class="container-fluid">
			<h1 class="col-xs-6">{trans key="endicia.endicia"}</h1>
			<div class="col-xs-6 pull-right text-right btn-toolbar">
				<a href="admin.php?p=apps">{trans key="common.cancel"}</a>
				<button type="submit" class="btn btn-primary">{trans key="common.save"}</button>
			</div>
		</div>
		<hr class="clearfix">
	</div>
	<div class="container-fluid">
		<div class="col-xs-12 btn-toolbar" style="margin-bottom: 22px;">
			<a href="#" data-target="#modal-add-funds" data-toggle="modal" class="btn">{trans key="endicia.add_funds"}</a>
			<a href="#" data-target="#modal-request-refund" data-toggle="modal" class="btn">{trans key="endicia.request_refund"}</a>
			<a href="#" data-target="#modal-change-passphrase" data-toggle="modal" class="btn">{trans key="endicia.change_passphrase"}</a>
		</div>
		<div class="col-xs-12" style="margin-bottom: 20px;">
			{trans key="endicia.current_balance"} <strong>{$currentBalance}</strong>
		</div>
	</div>
	{form form=$form}
</form>

{include file="templates/pages/endicia/modal-add-funds.html"}
{include file="templates/pages/endicia/modal-request-refund.html"}
{include file="templates/pages/endicia/modal-change-passphrase.html"}

<script type="text/javascript" src="content/admin/scripts/endicia.js?v={$APP_VERSION}"></script>