<div class="modal fade" id="modal-add-funds" tabindex="-1" role="dialog" aria-labelledby="modal-add-funds-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-add-funds" action="admin.php?p=endicia" method="post">
			<input type="hidden" name="nonce" id="nonce" value="{$addNonce}" />

			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-add-funds-label">{trans key="endicia.add_funds"}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						{form form=$addFundsForm}
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary">{trans key="common.add"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>