<div class="modal fade" id="modal-request-refund" tabindex="-1" role="dialog" aria-labelledby="modal-request-refund-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-request-refund" action="admin.php?p=endicia" method="post">
			<input type="hidden" name="nonce" id="nonce" value="{$refundNonce}" />

			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-request-refund-label">{trans key="endicia.request_refund"}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						{form form=$refundForm}
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary">{trans key="common.refund"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>