<div class="container-fluid" id="global-attributes-products-assign">
	<div class="row">
		<div class="form-group col-xs-12 col-md-5 clear-both" >
			<label for="field-assign-products-search-str">{trans key="global_attributes.please_enter_name_id"}</label>
			<input id="field-assign-products-search-str" class="form-control" type="text" value="">
			<select id="field-assign-products-search-result" class="form-control" size="10" style="height:100px;" name="assign[]"></select>
		</div>

		<div class="col-xs-12 col-md-2 text-center">
			&nbsp;<br>
			<button class="btn" id="btn-add-product">{trans key="common.add"}</button>
			<button class="btn" id="btn-remove-product">{trans key="common.remove"}</button>
		</div>

		<div class="form-group col-xs-12 col-md-5">
			<label for="field-assigned-products">{trans key="global_attributes.assigned_products"}</label>
			<select id="field-assigned-products" class="form-control" size="10" style="height:140px;" name="assigned_products[]">
			{foreach from=$field.value.products item='one'}
			<option value="{$one.pid}">{$one.title}</option>
			{/foreach}
			</select>
		</div>

		<input type="hidden" name="products_assigned" id="products_assigned_selected" value="">
	</div>
</div>