<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="global_attributes.global_prod_attributes"}</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
			<a href="admin.php?p=products_attribute&mode=add" class="btn btn-primary pull-right">{trans key="global_attributes.add_prod_attribute"}</a>
			<div class="btn-group pull-right">
				<a class="btn" href="admin.php?p=bulk_global_attributes_products">{trans key="global_attributes.assign_products_from_csv"}</a>
			</div>
		</div>
	</div>
	<hr class="clearfix">
</div>

{if $globalattributes}

	{include file="templates/pages/global-attributes/modal-delete.html"}

	<div class="container-fluid">
		<div class="col-xs-12 col-md-6">
			<div class="btn-group">
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						{trans key="global_attributes.bulk_actions"}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#" data-toggle="modal" data-target="#modal-globalattributes-delete">{trans key="common.delete"}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	&nbsp;
	<div class="container-fluid">
		<div class="col-xs-12 col-md-12">
			<table class="table table-striped">
				<thead>
					<tr>
						<th style="width:50px;"><input type="checkbox" id="selectAll"></th>
						<th>{trans key="global_attributes.name"}</th>
                        <th>{trans key="global_attributes.title"}</th>
                        <th>{trans key="global_attributes.type"}</th>
						<th>{trans key="global_attributes.published"}</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{foreach from=$globalattributes item="attribute"}
						<tr>
							<td><input type="checkbox" class="checkbox-globalattributes" name="row[{$attribute.gaid}]" value="{$attribute.gaid}"></td>
							<td><a href="admin.php?p=products_attribute&mode=update&id={$attribute.gaid}">{$attribute.name|htmlspecialchars}</a></td>
							<td><a href="admin.php?p=products_attribute&mode=update&id={$attribute.gaid}">{$attribute.caption|htmlspecialchars}</a></td>
                            <td>{$attribute.attribute_type}</td>
                            <td>{$attribute.is_active}</td>
							<td class="list-actions text-right">
								<a href="admin.php?p=products_attribute&mode=update&id={$attribute.gaid}"><span class="icon icon-edit"></span>{trans key="common.edit"}</a>
								<a href="#" onclick="return removeGlobalAttribute({$attribute.gaid}, '{$delete_nonce}');"><span class="icon icon-delete"></span>Delete</a>
							</td>
						</tr>
					{/foreach}
				</tbody>
			</table>
			<div class="custom-pager">
				{if $paginator->prevPage}
					<a role="button" class="btn btn-default" href="admin.php?p=products_attributes&amp;page={$paginator->prevPage}"><span class="icon icon-pagination-left"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-left"></span></button>
				{/if}

				{if $paginator->nextPage}
					<a role="button" class="btn btn-default" href="admin.php?p=products_attributes&amp;page={$paginator->nextPage}"><span class="icon icon-pagination-right"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-right"></span></button>
				{/if}

				<span class="text">{$paginator->itemsFrom}-{$paginator->itemsTo} <span class="of">of</span>  {$paginator->itemsCount}</span>
			</div>
		</div>
	</div>
{else}
	<div class="container-fluid">
		<div class="col-xs-12">
			{trans key="global_attributes.no_records"}
		</div>
	</div>
{/if}

<script type="text/javascript" src="content/admin/scripts/products_attributes.js?v={$APP_VERSION}"></script>