<div class="modal fade" id="modal-globalattributes-delete" tabindex="-1" role="dialog" aria-labelledby="modal-globalattributes-delete-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-globalattributes-delete">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-globalattributes-delete-label">{trans key="global_attributes.delete_global_attribute"}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group col-xs-12">
						<label><input type="radio" name="form-globalattributes-delete-mode" value="selected" checked> {trans key="global_attributes.delete_only_attribute"}</label>
						<label><input type="radio" name="form-globalattributes-delete-mode" value="all"> {trans key="global_attributes.delete_all_attribute"} (all {$itemsCount})</label>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="button"  nonce="{$delete_nonce}" class="btn btn-primary" data-action="action-globalattributes-delete">Delete</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>