{counter name="productPageSiblingsProductsCounter" assign="productPageSiblingsProductsCounter"}
{if $product_siblings && $productPageSiblingsProductsCounter == 1}
	<div class="product-siblings product-page-block clearfix {class file=$smarty.template editable=true}">
		<h3 class="product-page-block-header">{$msg.product.sibling_products}</h3>
		{assign var="products" value=$product_siblings}
		{include file="templates/pages/catalog/views/display.html"}
	</div>
{/if}