<form name="form-updates" action="admin.php?p=update&mode=update" method="post">
	<div id="content-header">
		<div class="container-fluid">
			<h1 class="col-xs-6">{trans key="updates.updates"}</h1>
			<div class="col-xs-6 pull-right text-right btn-toolbar">
				{if $new_updates}<button type="submit" class="btn btn-primary">{trans key="updates.update"}</button>{/if}
			</div>
		</div>
		<hr class="clearfix">
	</div>

	<div class="container-fluid">
	<div class="col-xs-12">
		<h2>{trans key="updates.current_version"}: {$AppVer}</h2>
		{if $new_updates}<p>{trans key="updates.backup_message"}</p>{/if}
	</div>
	{if $fixes}
		<div class="col-xs-12">
			<table class="table table-striped">
				<thead>
				<tr>
					<th style="width:50px;"></th>
					<th>{trans key="updates.update_table.code"}</th>
					<th>{trans key="updates.update_table.description"}</th>
					<th>{trans key="updates.update_table.size"}</th>
				</tr>
				</thead>
				<tbody>
				{foreach from=$fixes item="fix" key="fix_id"}
					<tr>
						<td><input type="checkbox" name="fix[{$fix.id}]" value="1" id="fix_{$fix.id}"{if $fix.installed} disabled{/if}></td>
						<td>
							<label for="fix_{$fix.id}">{$fix.id|string_format:"%08s"}</label>
							{if $fix.installed}<br><span style="text-decoration: underline;">{trans key="updates.already_installed"}</span>{/if}
						</td>
						<td>
							<strong>{$fix.name}</strong><br>
							{$fix.description}
						</td>
						<td>
							{$fix.size} KB
						</td>
					</tr>
				{/foreach}
				</tbody>
			</table>
		</div>
	{else}
		<div class="col-xs-12">
			{trans key="updates.no_updates"}
		</div>
	{/if}
	</div>
</form>