{include file="templates/emails/elements/top_html.html"}

<p>Hello {$admin.fname|htmlspecialchars}!</p>

<p>Below is the information for the change password request issued for the store administrator at this email address.</p>

<p>Please login to your account using the credentials below and update the password immediately.</p>
<p>
	{$new_password|htmlspecialchars}
</p>

<p><a href="{$AdminHttpsUrl}/admin.php">{$AdminHttpsUrl}/admin.php</a></p>

{include file="templates/emails/elements/bottom_html.html"}