{include file="templates/emails/elements/top_html.html"}

	Hello {$admin.name|htmlspecialchars}!
	
	<p>One or more administrator accounts have not been used for over 90 days.</p>
	
	<p>To maintain PCI compliance, you will need to remove those administrator accounts from administrator area.</p>
	<p>
		Accounts to remove:
		<ul>
		{foreach from=$inactive_accounts item="inadmin"}
			<li>{$inadmin.username|htmlspecialchars}</li>
		{/foreach}
		</ul>
	</p>
	
	<p><a href="{$AdminHttpsUrl}/admin.php">{$AdminHttpsUrl}/admin.php</a></p>

{include file="templates/emails/elements/bottom_html.html"}