{include file="templates/emails/elements/top_html.html"}

	Hello {$admin.name|htmlspecialchars}!
	
	<p>You password has not been changed for a {$password_age} days</p>
	
	<p>Please log into the administrator area and change your password</p>
	
	<p><a href="{$AdminHttpsUrl}/admin.php">{$AdminHttpsUrl}/admin.php</a></p>

{include file="templates/emails/elements/bottom_html.html"}