{include file="templates/emails/elements/top_html.html"}

	Hello {$admin.name|htmlspecialchars}!
	
	<p>One or more passwords associated with administrator accounts have been in use for over 90 days.</p>
	
	<p>
		To maintain PCI compliance, you will need to login into your store administrator area and change password for account listed below:
		<ul>
		{foreach from=$admins_with_expired_passwords item="expadmin"}
			<li>{$expadmin.username|htmlspecialchars}</li>
		{/foreach}
		</ul>
	</p>
	
	<p><a href="{$AdminHttpsUrl}/admin.php">{$AdminHttpsUrl}/admin.php</a></p>

{include file="templates/emails/elements/bottom_html.html"}