{include file="templates/emails/elements/top_html.html"}

Here is new product review:

<p>Product: <a href="{$AdminHttpsUrl}/admin.php?p=product&pid={$review_data.pid}&mode=update">{$review_data.product_name|htmlspecialchars}</a></p>
<p>Review title: {$review_data.review_title|htmlspecialchars}</p>
<p>Rating: {$review_data.review_rating}</p>
<p>Reviewer: {$review_data.user_name|htmlspecialchars} ({$review_data.user_login|htmlspecialchars})</p>
<p>Reviewer email: <a href="mailto:{$review_data.user_email|htmlspecialchars}">{$review_data.user_email|htmlspecialchars}</a></p>

<p><a href="{$AdminHttpsUrl}/admin.php">{$AdminHttpsUrl}/admin.php</a></p>

{include file="templates/emails/elements/bottom_html.html"}