{include file="templates/emails/elements/top_html.html"}

<div>
	Hello,<br>
	Custom form has been submitted.

	<p><b>{$form_data.title|htmlspecialchars}</b></p>

	{if $form_fields}
	<ul>
		{foreach from=$form_fields item="cf"}
		<li>{$cf.field_name|htmlspecialchars} : {$cf.field_value|htmlspecialchars}</li>
		{/foreach}
	</ul>
	{/if}
</div>

{include file="templates/emails/elements/bottom_html.html"}