{foreach from=$order_items item="order_item"}
<div style="display: inline-block; width: 200px; height: 200px;">
    {if $order_item.thumb_image_url}
    <div>
    <img src="{$order_item.thumb_image_url}" alt="{$order_item.title|escape} product image" />
    </div>
    {/if}
    <div>
        {$order_item.title}
    </div>
    <div>
        {$order_item.price|string_format:"%.2f"}
    </div>
</div>
{/foreach}