<table border='0' cellpadding='0' cellspacing='0' bordercolor="#000000">
	<tr>
		<td style='width:442px; padding-left:30px;'>
			<div style='padding:30px 20px 20px 0'>
				<p style='margin:0;' align='left'>
					Voucher Code: {$voucher}
				</p>
			</div>
			<div style='padding:0 0 50px 0;'>
				<p style='margin:0;' align='left'>
					To : {$first_name} {$last_name}<br/>
					Gift Amount : {$gift_amount|price}<br/>
					{if $from_name != ''}From : {$from_name}<br/>{/if}
					Message : {$message}
				</p>
			</div>
			<div>
				<p style='margin:0;' align='left'>
					To use this gift certificate please go to <a href="{$GlobalHttpUrl}">{$GlobalHttpUrl}</a>.<br/>
					You must enter first name, last name and voucher code shown here to use this certificate.<br />
					Please contact us if you have any questions.  
					<br/><br/>
				</p>
			</div>
		</td>
	</tr>
</table>