<table width="100%" cellpadding="5" cellspacing="1" border="0" style="background-color:#777777;">
	<tr><td style="font-size:14px;font-weight:bold;" style="background-color:#e0e0e0;">{$msg.cart.order_details}</td></tr>
	<tr>
		<td style="background-color:#f7f7f7;">
			<blockquote>
				<u>{$msg.cart.order_id}: {$order->order_num}</u><br/>
				<u>{$msg.cart.order_date}: {$order->status_date_formatted}</u>
			</blockquote>
		</td>
	</tr>
</table>
&nbsp;
<table width="100%" cellpadding="5" cellspacing="1" border="0" style="background-color:#777777;">
	<tr><td style="font-size:14px;font-weight:bold;" style="background-color:#e0e0e0;">{$msg.cart.billing_and_shipping_information}</td></tr>
	<tr><td style="background-color:#f7f7f7;">
			<table width="100%" cellpadding="0" cellspacing="0" border="0">
				<tr valign="top" valign="top">
					<td style="width:50%;">
						<blockquote>
							&nbsp;<br />
							<b><u>{$msg.billing.billing_information}</u></b><br />
							{if $order->paymentGatewayId != "paypalec"}
								<b>{$billing_address.fname|htmlspecialchars} {$billing_address.lname|htmlspecialchars}</b>,<br /> 
								{if $billing_address.company != ""}
									<b>{$billing_address.company|htmlspecialchars}</b>,<br />
								{/if}
								{$billing_address.address1|htmlspecialchars}{if $billing_address.address2 != ""}, {$billing_address.address2|htmlspecialchars}{/if}<br />
								{$billing_address.city|htmlspecialchars}, {if $billing_address.province} {$billing_address.province|htmlspecialchars}, {/if} {$billing_address.zip|htmlspecialchars}<br />
								{$billing_address.country_name|htmlspecialchars}<br />
								{if $billing_address.phone != ""}
									{$msg.billing.phone_number} : {$billing_address.phone|htmlspecialchars}<br />
								{/if}
								{$msg.account.email_address}: <a href="mailto:{$billing_address.email}">{$billing_address.email|htmlspecialchars}</a><br />
								{if $cf_billing}
									{foreach from=$cf_billing item="cf"}
									<li>{$cf.field_name} : {$cf.value_translated}</li>
									{/foreach}
								{/if}
							{else}
								<b>{$user_data.fname|htmlspecialchars} {$user_data.lname|htmlspecialchars}</b>,<br /> 
								{$msg.account.email_address}: <a href="mailto:{$user_data.email}">{$user_data.email|htmlspecialchars}</a><br />
								{$msg.billing.paypal_ec_order}
							{/if}
							&nbsp;<br />
						</blockquote>
					</td>
					<td style="width:50%;">
						<blockquote>
							&nbsp;<br />
							<b><u>{$msg.shipping.shipping_information}</u></b><br />
							{if $order->shippingRequired}
								<b>{$shipping_address.name|htmlspecialchars}</b>,<br />
								{if $shipping_address.company != ""}
									<b>{$shipping_address.company|htmlspecialchars}</b>,<br />
								{/if}

								{$shipping_address.address1|htmlspecialchars}{if $shipping_address.address2 != ""}, {$shipping_address.address2|htmlspecialchars},{/if}<br />
								{$shipping_address.city|htmlspecialchars}, {if $shipping_address.province} {$shipping_address.province|htmlspecialchars}, {/if} {$shipping_address.zip|htmlspecialchars}<br />
								{$shipping_address.country|htmlspecialchars}<br />

								{if $cf_shipping}
									{foreach from=$cf_shipping item="cf"}
									<li>{$cf.field_name} : {$cf.value_translated}</li>
									{/foreach}
								{/if}
							{else}
								{$msg.shipping.no_shipping_information_available}<br/>{$msg.shipping.order_is_not_shippable}
							{/if}
							&nbsp;<br />
						</blockquote>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
&nbsp;
<table width="100%" cellpadding="5" cellspacing="1" border="0" style="background-color:#777777;">
	<tr><td style="font-size:14px;font-weight:bold;background-color:#e0e0e0;">{$msg.cart.order_content}</td></tr>
	<tr><td style="background-color:#f7f7f7;">
			<table width="100%" cellpadding="5" cellspacing="0" border="0">
				<tr style="background-color:#e7e7e7;">
					<td><b>{$msg.product.product_id}</b></td>
					<td><b>{$msg.product.product_name}</b></td>
					<td><b>{$msg.product.product_price}</b></td>
					<td><b>{$msg.product.product_quantity}</b></td>
					<td style="text-align:right;"><b>{$msg.cart.total}</b></td>
				</tr>
				{foreach from=$shipments item="shipment"}
					<tr valign="top">
						<td style="border-top:1px solid #eeeeee;" colspan="4">
							<strong>{$msg.shipping.shipment} # {$shipment.num} - {$shipment.shipping_cm_name|htmlspecialchars}</strong>
						</td>
						<td style="border-top:1px solid #eeeeee;text-align:right;">{$shipment.shipping_amount|price}</td>
					</tr>
					{foreach from=$order_items item="order_item"}
						{if $shipment.id == $order_item.shipment_id}
							<tr valign="top">
								<td style="border-top:1px solid #eeeeee;">
									{$order_item.product_id|htmlspecialchars}
								</td>
								<td style="border-top:1px solid #eeeeee;">
									{$order_item.title|htmlspecialchars}
									{if $order_item.options != ""}
										<br /><i>{$msg.cart.options}:</i><br />
										{$order_item.options}
									{/if}

									{if $order_item.enable_recurring_billing && $order_item.recurring_billing_data}
										<div style="padding-top:5px;">
											<strong>{$msg.recurring.recurring_payments}</strong><br>
											{if $order_item.product_recurring_billing_data->getScheduleDescription() != ''}
											<div>
												{$order_item.product_recurring_billing_data->getScheduleDescription()}
											</div>
											{/if}
											{if $order_item.recurring_billing_data->getTrialEnabled()}
												{$msg.recurring.trial_period}:
												<i>{$order_item.recurring_trial_description}</i>
												<br>
											{/if}
											{$msg.recurring.billing_period}:
											<i>{$order_item.recurring_billing_description}</i>

											{if $order_item.recurring_billing_data->getStartDate()}
												{assign var="recurringStartDate" value=$order_item.recurring_billing_data->getStartDate()}
												<br>{$msg.recurring.billing_starting_at} {$recurringStartDate->format('U')|date_format:$msg.common.date_format}
											{/if}
										</div>
									{/if}

									{if $order_item.product_type == 'Digital' && $payment_status == "Received"}
									<br />
										{$msg.product.download_url}: <br />
										<a href="{$GlobalHttpUrl}/download.php?a={$order->oid}&b={$order_item.digital_product_key}">{$GlobalHttpUrl}/download.php?a={$order_data.oid}&b={$order_item.digital_product_key}</a>
									{/if}
								</td>
								<td style="border-top:1px solid #eeeeee;">
									{$order_item.admin_price|price}
									{if $order_item.is_taxable == "No"}
										<br /><span><i>({if $order_item.tax_exempt == 1}{$msg.cart.item_tax_exempt}{else}{$msg.cart.not_taxable}{/if})</i></span>
									{else}
										<br />
										{if $order_item.tax_exempt == 1}
											{$msg.cart.item_tax_exempt}
										{else}
											{$msg.cart.tax_amount} :
											{if $order_item.tax_description != ""}
												{$order_item.tax_description}
											{else}
												{$order_item.tax_rate}
											{/if}
										{/if}
										<br/>&nbsp;
									{/if}
								</td>
								<td style="border-top:1px solid #eeeeee;">{$order_item.admin_quantity}</td>
								<td style="border-top:1px solid #eeeeee;text-align:right;">{$order_item.admin_quantity*$order_item.admin_price|price}</td>
							</tr>
						{/if}
					{/foreach}
				{/foreach}

				{foreach from=$orderView.lineItems key="orderViewLineItemKey" item="orderViewLineItem"}
					<tr valign="top">
						<td colspan="4" class="InvoiceAmountCaption" align="right">
							{$orderViewLineItem.title} :
							{if $orderViewLineItem.subtitle != ''}<br>{$orderViewLineItem.subtitle}{/if}
						</td>
						<td class="InvoiceAmount" align="right" {if $orderViewLineItemKey == 'total'}style="font-weight:bold"{/if}>{$orderViewLineItem.amount}</td>
					</tr>
				{/foreach}
			</table>
		</td>
	</tr>
</table>
&nbsp;


{if $cf_invoice}
	<ul>
		{foreach from=$cf_invoice item="cf"}
			<li>{$cf.field_name} : {$cf.value_translated}</li>
		{/foreach}
	</ul>
{/if}

{if $GiftCardActive == "YES" && $order->giftMessage != ""}
	<p>
		<b><u>{$msg.cart.gift_message}: </u></b>
		<div style="border:1px solid {#ColorFormBorder#};padding:5px;margin:5px;">
			{$order->giftMessage|htmlspecialchars|nl2br}
		</div>
	</p>
{/if}

<table width="100%" cellpadding="5" cellspacing="1" border="0" style="background-color:#777777;">
	<tr><td style="font-size:14px;font-weight:bold;background-color:#e0e0e0;">{$msg.cart.company_information}</td></tr>
	<tr><td style="background-color:#f7f7f7;">
		<table width="100%" cellpadding="0" cellspacing="0" border="0">
			<tr valign="top" valign="top">
				<td style="width:50%;">
					<blockquote>
						&nbsp;<br />
						<b>{$CompanyName|htmlspecialchars}</b>,<br />
						{$CompanyAddressLine1|htmlspecialchars}{if $CompanyAddressLine2 != ""}, {$CompanyAddressLine2|htmlspecialchars}{/if}<br />
						{$CompanyCity|htmlspecialchars}, {$CompanyState|htmlspecialchars}, {$CompanyZip|htmlspecialchars}<br />
						{$CompanyCountry|htmlspecialchars}<br />
						{if $CompanyPhone != ""}
						{$CompanyPhone|htmlspecialchars}<br />
						{/if}
						<a href="mailto:{$GlobalSupportEmail}">{$GlobalSupportEmail|htmlspecialchars}</a><br />
						&nbsp;<br />
					</blockquote>
				</td>
			</tr>
		</table>
	</td>
	</tr>
</table>
&nbsp;
{if $payment_transaction}
<table width="100%" cellpadding="5" cellspacing="1" border="0" style="background-color:#777777;">
	<tr><td style="font-size:14px;font-weight:bold;background-color:#e0e0e0;">{$msg.cart.payment_information}</td></tr>
	<tr><td style="background-color:#f7f7f7;">
		<table width="100%" cellpadding="0" cellspacing="0" border="0">
			<tr valign="top" valign="top">
				<td style="width:50%;">
					<blockquote>
						&nbsp;<br />
						Card Type: {$payment_transaction.card_type}<br/>
						Card Number: {$payment_transaction.card_number}<br/>
						Authorization Code: {$payment_transaction.authorization_code}<br/>
						{if $payment_transaction.notes != ''}
						Notes: {$payment_transaction.notes}<br/>
						{/if}
					</blockquote>
				</td>
			</tr>
		</table>
	</td>
	</tr>
</table>
&nbsp;
{/if}
