{include file="templates/emails/elements/top_html.html"}

<div>
	Hello,<br>
	You have a new message regarding your order #{$order->getOrderNumber()}<br><br>
	{$emailMessage|nl2br}
</div>

{include file="templates/emails/elements/bottom_html.html"}