{include file="templates/emails/elements/top_html.html"}
<table width="100%" cellpadding="5" cellspacing="1" border="0" style="background-color:#777777;">
	<tr><td style="font-size:14px;font-weight:bold;" style="background-color:#e0e0e0;">{$msg.cart.order_details}</td></tr>
	<tr>
		<td style="background-color:#f7f7f7;">
			<ul><u>{$msg.cart.order_id}: {$order_data.order_num}</u></ul>
		</td>
	</tr>
</table>
&nbsp;
<table width="100%" cellpadding="5" cellspacing="1" border="0" style="background-color:#777777;">
	<tr><td style="font-size:14px;font-weight:bold;" style="background-color:#e0e0e0;">{$msg.cart.billing_and_shipping_information}</td></tr>
	<tr><td style="background-color:#f7f7f7;">
			<table width="100%" cellpadding="0" cellspacing="0" border="0">
				<tr valign="top" valign="top">
					<td style="width:50%;">
						<blockquote>
							&nbsp;<br />
							<b><u>{$msg.billing.billing_information}</u></b><br />
							{if $order_data.payment_gateway_id != "paypalec"}
								<b>{$user_data.fname|htmlspecialchars} {$user_data.lname|htmlspecialchars}</b>,<br /> 
								{if $user_data.company != ""}
									<b>{$user_data.company|htmlspecialchars}</b>,<br />
								{/if}
								{$user_data.address1|htmlspecialchars}{if $user_data.address2 != ""}, {$user_data.address2|htmlspecialchars}{/if}<br />
								{$user_data.city|htmlspecialchars}, {if $user_data.province} {$user_data.province|htmlspecialchars}, {/if} {$user_data.zip|htmlspecialchars}<br />
								{$user_data.country_name|htmlspecialchars}<br />
								{if $user_data.phone != ""}
									{$msg.billing.phone_number} : {$user_data.phone|htmlspecialchars}<br />
								{/if}
								{$msg.account.email_address}: <a href="mailto:{$user_data.email}">{$user_data.email|htmlspecialchars}</a><br />
							{else}
								<b>{$user_data.fname|htmlspecialchars} {$user_data.lname|htmlspecialchars}</b>,<br /> 
								{$msg.account.email_address}: <a href="mailto:{$user_data.email}">{$user_data.email|htmlspecialchars}</a><br />
								{$msg.billing.paypal_ec_order}
							{/if}
							&nbsp;<br />
						</blockquote>
					</td>
					<td style="width:50%;">
						<blockquote>
							&nbsp;<br />
							<b><u>{$msg.shipping.shipping_information}</u></b><br />
							{if $order_data.shipping_required}
								<b>{$order_data.shipping_name|htmlspecialchars}</b>,<br />
								{if $order_data.shipping_company != ""}
									<b>{$order_data.shipping_company|htmlspecialchars}</b>,<br />
								{/if}

								{$order_data.shipping_address1|htmlspecialchars}{if $order_data.shipping_address2 != ""}, {$order_data.shipping_address2|htmlspecialchars},{/if}<br />
								{$order_data.shipping_city|htmlspecialchars}, {if $order_data.shipping_province} {$order_data.shipping_province|htmlspecialchars}, {/if} {$order_data.shipping_zip|htmlspecialchars}<br />
								{$order_data.shipping_country_name|htmlspecialchars}<br />

								{if $order_data.shipping_tracking_number != "" && $order_data.shipping_tracking_number_type != ""}
								<p>
									{$order_data.shipping_tracking_number_type}
									{$msg.cart.shipping_tracking_number}:
									{$order_data.shipping_tracking_number}<br/>

									{if $order_data.shipping_tracking_number_type == "UPS"}
										<a target="_blank" href="http://wwwapps.ups.com/etracking/tracking.cgi?tracknums_displayed=5&TypeOfInquiryNumber=T&HTMLVersion=4.0&InquiryNumber1={$order_data.shipping_tracking_number}&InquiryNumber2=&InquiryNumber3=&track=Track">{$msg.cart.click_to_track}</a>
									{/if}

									{if $order_data.shipping_tracking_number_type == "USPS"}
										<a target="_blank" href="http://trkcnfrm1.smi.usps.com/PTSInternetWeb/InterLabelInquiry.do?origTrackNum={$order_data.shipping_tracking_number}">{$msg.cart.click_to_track}</a>
									{/if}

									{if $order_data.shipping_tracking_number_type == "FedEx"}
										<a target="_blank" href="http://www.fedex.com/Tracking?cntry_code=us&tracknumber_list={$order_data.shipping_tracking_number}&language=english">{$msg.cart.click_to_track}</a>
									{/if}

									{if $order_data.shipping_tracking_number_type == "CanadaPost"}
										<a target="_blank" href="http://www.canadapost.ca/cpotools/apps/track/personal/findByTrackNumber?trackingNumber={$order_data.shipping_tracking_number}">{$msg.cart.click_to_track}</a>
									{/if}
								</p>
								{/if}

								{if $order_data.shipping_tracking}
								<p>
									{$msg.cart.shipping_tracking_number}<br/>
									{foreach from=$order_data.shipping_tracking item="st"}
										{$st.carrier}: {$st.tracking}<br/>
									{/foreach}
								</p>
								{/if}
							{else}
								{$msg.shipping.no_shipping_information_available}<br/>{$msg.shipping.order_is_not_shippable}
							{/if}
							&nbsp;<br />
						</blockquote>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
&nbsp;
<table width="100%" cellpadding="5" cellspacing="1" border="0" style="background-color:#777777;">
	<tr><td style="font-size:14px;font-weight:bold;background-color:#e0e0e0;">{$msg.cart.order_content}</td></tr>
	<tr><td style="background-color:#f7f7f7;">
			<table width="100%" cellpadding="5" cellspacing="0" border="0">
				<tr style="background-color:#e7e7e7;">
					<td><b>{$msg.product.product_id}</b></td>
					<td><b>{$msg.product.product_name}</b></td>
					<td><b>{$msg.product.product_price}</b></td>
					<td><b>{$msg.product.product_quantity}</b></td>
					<td style="text-align:right;"><b>{$msg.cart.total}</b></td>
				</tr>
				{foreach from=$shipments item="shipment"}
					<tr valign="top">
						<td style="border-top:1px solid #eeeeee;" colspan="4">
							<strong>{$msg.shipping.shipment} # {$shipment.num} - {$shipment.shipping_cm_name|htmlspecialchars}</strong>
						</td>
						<td style="border-top:1px solid #eeeeee;text-align:right;">{if $shipment.free_shipping == "Yes"}<strong>FREE</strong>{else}{$shipment.shipping_amount|price}{/if}</td>
					</tr>
					{foreach from=$order_items item="order_item"}
						{if $shipment.id == $order_item.shipment_id}
							<tr valign="top">
								<td style="border-top:1px solid #eeeeee">
									{$order_item.product_id|htmlspecialchars}
								</td>
								<td style="border-top:1px solid #eeeeee">
									{$order_item.title|htmlspecialchars}
									{if $order_item.options != ""}
										<br /><i>{$msg.cart.options}:</i><br />
										{$order_item.options}
									{/if}
									{if $order_item.product_type == 'Digital'}
									<br />
										{$msg.product.download_url}:
										<a href="{$GlobalHttpUrl}/download.php?a={$order_data.oid}&b={$order_item.digital_product_key}">{$GlobalHttpUrl}/download.php?a={$order_data.oid}&b={$order_item.digital_product_key}</a>
									{/if}
								</td>
								<td style="border-top:1px solid #eeeeee">
									{$order_item.admin_price|price}
									{if $order_item.is_taxable == "No"}
										<br /><span><i>({if $order_item.tax_exempt == 1}{$msg.cart.item_tax_exempt}{else}{$msg.cart.not_taxable}{/if})</i></span>
									{else}
										<br />
										{if $order_item.tax_exempt == 1}
											{$msg.cart.item_tax_exempt}
										{else}
											{$msg.cart.tax_amount} :
											{if $order_item.tax_description != ""}
												{$order_item.tax_description}
											{else}
												{$order_item.tax_rate}
											{/if}
										{/if}
										<br/>&nbsp;
									{/if}
								</td>
								<td style="border-top:1px solid #eeeeee">{$order_item.admin_quantity}</td>
								<td style="border-top:1px solid #eeeeee;text-align:right;">{$order_item.admin_quantity*$order_item.admin_price|price}</td>
							</tr>
						{/if}
					{/foreach}
				{/foreach}
				{foreach from=$orderView.lineItems key="orderViewLineItemKey" item="orderViewLineItem"}
					<tr valign="top">
						<td colspan="4" class="InvoiceAmountCaption" align="right">
							{$orderViewLineItem.title} :
							{if $orderViewLineItem.subtitle != ''}<br>{$orderViewLineItem.subtitle}{/if}
						</td>
						<td class="InvoiceAmount" align="right" {if $orderViewLineItemKey == 'total'}style="font-weight:bold"{/if}>{$orderViewLineItem.amount}</td>
					</tr>
				{/foreach}
			</table>
		</td>
	</tr>
</table>
{include file="templates/emails/elements/bottom_html.html"}
