{include file="templates/emails/elements/top_html.html"}
{include file="templates/emails/order_received_html.html"}
<table width="100%" cellpadding="5" cellspacing="1" border="0" style="background-color:#777777;">
	<tr><td style="font-size:14px;font-weight:bold;background-color:#e0e0e0;">{$msg.cart.payment}</td></tr>
	<tr><td style="background-color:#f7f7f7;">
			<blockquote>
				<b>{$payment_method_name|htmlspecialchars}</b><br />
				{$payment_method_thankyou}
			</blockquote>
		</td>
	</tr>
</table>

<blockquote>
	<p>{$msg.email.thank_you_for_purchase2}</p>
</blockquote>

{include file="templates/emails/elements/bottom_html.html"}