{include file="templates/emails/elements/top_html.html"}
<p><b>Product Low or Out of Stock</b></p>
<blockquote>
	<p>
		<u>Product Information</u>:
		<li>Product Name : {$product.title|htmlspecialchars}</li>
		<li>Product ID : {$product.product_id|htmlspecialchars}</li>
{if $product_attributes_stock}
		<li>Product Sub ID : {$product.product_sub_id|htmlspecialchars}</li>
		<li>Options:<br/>{$product_attributes_stock.attributes_list|nl2br}</li>
{/if}
	<li>In Stock : {$new_stock}</li>
	{if $product_attributes_stock}
		<li>Stock Warning : {$product_attributes_stock.stock_warning}</li>
	{else}
		<li>Stock Warning : {$product.stock_warning}</li>
	{/if}
		<li>Admin Area URL : <a href="{$AdminHttpsUrl}/admin.php?p=product&id={$product.pid}">{$AdminHttpsUrl}/admin.php?p=product&id={$product.pid}</a></li>
	</p>
</blockquote>
{include file="templates/emails/elements/bottom_html.html"}