{include file="templates/emails/elements/top_html.html"}

<table width="100%" cellpadding="5" cellspacing="1" border="0" style="background-color:#777777;">
	<tr><td style="font-size:14px;font-weight:bold;" style="background-color:#e0e0e0;">{$msg.cart.order_details}</td></tr>
	<tr>
		<td style="background-color:#f7f7f7;">
			<ul><u>{$msg.cart.order_id}: {$order.order_num}</u></ul>
		</td>
	</tr>
</table>
{if $location.email_text != ""}
	<p>
		{$location.email_text}
	</p>
{/if}
<table width="100%" cellpadding="5" cellspacing="1" border="0" style="background-color:#777777;">
	<tr><td style="font-size:14px;font-weight:bold;" style="background-color:#e0e0e0;">{$msg.cart.billing_and_shipping_information}</td></tr>
	<tr><td style="background-color:#f7f7f7;">
			<blockquote>
				&nbsp;<br />
				<b><u>{$msg.shipping.shipping_information}</u></b><br />
				<b>{$order.shipping_name|htmlspecialchars}</b>,<br />
				{if $order.shipping_company != ""}
					<b>{$order.shipping_company|htmlspecialchars}</b>,<br />
				{/if}
				{$order.shipping_address1|htmlspecialchars}{if $order.shipping_address2 != ""}, {$order.shipping_address2|htmlspecialchars},{/if}<br />
				{$order.shipping_city|htmlspecialchars}, {if $order.shipping_province} {$order.shipping_province|htmlspecialchars}, {/if}
				{$order.shipping_zip|htmlspecialchars}<br />
				{$order.shipping_country_name|htmlspecialchars}<br />
			</blockquote>
		</td>
	</tr>
</table>
&nbsp;
<table width="100%" cellpadding="5" cellspacing="1" border="0" style="background-color:#777777;">
	<tr><td style="font-size:14px;font-weight:bold;background-color:#e0e0e0;">{$msg.cart.order_content}</td></tr>
	<tr><td style="background-color:#f7f7f7;">
			{foreach from=$location_shipments key="shipment_id" item="items" name="location_shipments_foreach"}
				<strong>{$msg.shipping.shipment} {$smarty.foreach.location_shipments_foreach.iteration}</strong><br/>
				{$msg.shipping.shipping_method}: {$shipments.$shipment_id.shipping_cm_name}

				<table width="100%" cellpadding="5" cellspacing="0" border="0">
					<tr style="background-color:#e7e7e7;">
						<td><b>{$msg.product.product_id}</b></td>
						<td><b>{$msg.product.product_name}</b></td>
						<td><b>{$msg.product.product_quantity}</b></td>
					</tr>
					{foreach from=$items item="item"}
					<tr valign="top">
						<td style="border-top:1px solid #eeeeee">
							Merchant ID: {if $item.product_sub_id != ''}{$item.product_sub_id|htmlspecialchars}{else}{$item.product_id|htmlspecialchars}{/if}
							{if $item.product_upc != ''}<br />UPC Code: {$item.product_upc}{/if}
							{if $item.product_gtin != ''}<br />GTIN: {$item.product_gtin}{/if}
							{if $item.product_mpn != ''}<br />MPN: {$item.product_mpn}{/if}
						</td>
						<td style="border-top:1px solid #eeeeee">
							{$item.title|htmlspecialchars}
							{if $item.options != ''}
								<br /><i>{$msg.cart.options}:</i><br />
								{$item.options}
							{/if}
						</td>
						<td style="border-top:1px solid #eeeeee">{$item.admin_quantity}</td>
					</tr>
					{/foreach}
				</table>

			{/foreach}
		</td>
	</tr>
</table>
&nbsp;


{include file="templates/emails/elements/bottom_html.html"}