{include file="templates/emails/elements/top_html.html"}
<blockquote>
	<p>{lang msg=$msg.recurring.subscription_cc_expiring profile_id=$profile->profileId next_transaction_date=$profile->dateNextBilling}</p>
	{assign var="subscription_url" value="`$GLOBAL_HTTPS_URL`/index.php?p=recurring_profile&id=`$profile->profileId`"}
	<p>{lang msg=$msg.recurring.subscription_update subscription_url=$subscription_url}</p>
</blockquote>

<table width="100%" cellpadding="5" cellspacing="1" border="0" style="background-color:#777777;">
	<tr><td style="font-size:14px;font-weight:bold;" style="background-color:#e0e0e0;">{$msg.recurring.profile_properties}</td></tr>
	<tr>
		<td style="background-color:#f7f7f7;">
			<blockquote>
				{$msg.recurring.profile_id}: {$profile->profileId}<br/>
				{$msg.recurring.status}: {$profile->status}<br/>
				{$msg.recurring.next_payment}: {$profile->dateNextBilling|date_format:$msg.common.date_format}
			</blockquote>
		</td>
	</tr>
</table>
&nbsp;
<table width="100%" cellpadding="5" cellspacing="1" border="0" style="background-color:#777777;">
	<tr><td style="font-size:14px;font-weight:bold;" style="background-color:#e0e0e0;">{$msg.recurring.item}</td></tr>
	<tr>
		<td style="background-color:#f7f7f7;">
			<blockquote>
				<strong>{$msg.recurring.item}: {$lineItem->title|htmlspecialchars}</strong>
				{if $lineItem->productRecurringBillingData->scheduleDescription != ''}
				<br/><br/>
				<i>{$lineItem->productRecurringBillingData->scheduleDescription|htmlspecialchars}</i>
				{/if}
				{if $lineItem->options != ''}<br/><br/>Options:<br>{$lineItem->options|nl2br}{/if}
			</blockquote>
		</td>
	</tr>
</table>
&nbsp;
<table width="100%" cellpadding="5" cellspacing="1" border="0" style="background-color:#777777;">
	<tr><td style="font-size:14px;font-weight:bold;" style="background-color:#e0e0e0;">{$msg.recurring.payment_method}</td></tr>
	<tr>
		<td style="background-color:#f7f7f7;">
			<blockquote>
				<strong>
					{if $paymentProfile->name != ''}{$paymentProfile->name|htmlspecialchars}<br>{/if}
					{$paymentProfile->billingData->name|htmlspecialchars}<br>
					{$paymentProfile->billingData->ccNumber|htmlspecialchars} -
					{$paymentProfile->billingData->ccExpirationMonth|htmlspecialchars}/{$paymentProfile->billingData->ccExpirationYear|htmlspecialchars}
				</strong>
				<br/><br/>
				{$paymentProfile->billingData->addressLine1|htmlspecialchars}<br>
				{if $paymentProfile->billingData->addressLine2 != ''}{$paymentProfile->billingData->addressLine2|htmlspecialchars}<br>{/if}
				{$paymentProfile->billingData->city|htmlspecialchars},
				{$paymentProfile->billingData->stateName|htmlspecialchars} {$paymentProfile->billingData->zip|htmlspecialchars}<br>
				{$paymentProfile->billingData->countryName|htmlspecialchars}
				{if $paymentProfile->billingData->phone != ''}
				<br/><br/>
				{$msg.recurring.phone}: {$paymentProfile->billingData->phone|htmlspecialchars}
				{/if}
			</blockquote>
		</td>
	</tr>
</table>
&nbsp;
<table width="100%" cellpadding="5" cellspacing="1" border="0" style="background-color:#777777;">
	<tr><td style="font-size:14px;font-weight:bold;" style="background-color:#e0e0e0;">{$msg.recurring.delivery_preferences}</td></tr>
	<tr>
		<td style="background-color:#f7f7f7;">
			<blockquote>
				<strong>{$msg.recurring.shipping_method}: <i>{$order->shippingMethodName}</i></strong><br>
				{if $shippingAddress}
				<br/><br/>
				<strong>
					{$shippingAddress->name|htmlspecialchars} <i>({$shippingAddress->addressType})</i>
					{if $shippingAddress->companyName != ''}<br>{$shippingAddress->companyName}{/if}
				</strong>
				<br/><br/>
				{$shippingAddress->addressLine1|htmlspecialchars}<br>
				{if $shippingAddress->addressLine2 != ''}{$shippingAddress->addressLine2|htmlspecialchars}<br>{/if}
				{$shippingAddress->city|htmlspecialchars},
				{$shippingAddress->stateName|htmlspecialchars} {$shippingAddress->zip|htmlspecialchars}<br>
				{$shippingAddress->countryName|htmlspecialchars}
				{/if}
			</blockquote>
		</td>
	</tr>
</table>
&nbsp;
{include file="templates/emails/elements/bottom_html.html"}