{include file="templates/emails/elements/top_html.html"}
<p><b>{lang msg=$msg.email.dear fname=$fname|htmlspecialchars lname=$lname|htmlspecialchars}!</b></p>
<blockquote>
	<p>
		<b>{lang msg=$msg.account.password_reset_answer s=$GlobalSiteName|htmlspecialchars}</b>
	</p>
	<p>
		<u>{$msg.account.access_information}</u>:
		<li>{$msg.account.new_password} : {$password}</li>
	</p>
	<p>
		{$msg.account.please_change_temporary_password}:<br />
		<a href="{$url_https}p=login">{$url_https}p=login</a>
	</p>
</blockquote>
{include file="templates/emails/elements/bottom_html.html"}