{include file="templates/emails/elements/top_html.html"}
<blockquote>
	<p><b>{lang msg=$msg.email.dear fname=$user_data.fname lname=$user_data.lname}</b></p>
	<p><b>{$msg.email.thanks_for_registration}</b></p>
	<p>
		<u>{$msg.email.your_registration_details}</u>:
		<li>{$msg.billing.name} : {$user_data.fname|htmlspecialchars} {$user_data.lname|htmlspecialchars}</li>
		<li>{$msg.billing.company} : {$user_data.company|htmlspecialchars}</li>
		<li>{$msg.billing.address_line1} : {$user_data.address1|htmlspecialchars}</li>
		<li>{$msg.billing.address_line2} : {$user_data.address2|htmlspecialchars}</li>
		<li>{$msg.billing.city} : {$user_data.city|htmlspecialchars}</li>
		<li>{$msg.billing.state_province} : {$user_data.province|htmlspecialchars}</li>
		<li>{$msg.billing.country} : {$user_data.country_name|htmlspecialchars}</li>
		<li>{$msg.billing.postal_code} : {$user_data.zip|htmlspecialchars}</li>
	{if $cf_billing}
		{foreach from=$cf_billing item="cf"}
		<li>{$cf.field_name} : {$cf.value_translated}</li>
		{/foreach}
	{/if}
		
		<li>{$msg.account.email_address} : {$user_data.email|htmlspecialchars}</li>
		<li>{$msg.billing.phone_number} : {$user_data.phone|htmlspecialchars}</li>
		<li>{$msg.account.login} : {$user_data.login|htmlspecialchars}</li>
	{if $cf_account}
		{foreach from=$cf_account item="cf"}
		<li>{$cf.field_name} : {$cf.value_translated}</li>
		{/foreach}
	{/if}
	{if $cf_signup}
		{foreach from=$cf_signup item="cf"}
		<li>{$cf.field_name} : {$cf.value_translated}</li>
		{/foreach}
	{/if}
	</p>
	
	
	
	<p>{$msg.email.sincerely},<br /> {$CompanyName|htmlspecialchars}</p>
</blockquote>
{include file="templates/emails/elements/bottom_html.html"}