{include file="templates/emails/elements/top_html.html"}
<blockquote>
	<p><b>{lang msg=$msg.email.new_user_registered s=$CompanyName}</b></p>
	<p>
		<u>{$msg.email.user_registration_details}</u>:
		<li>{$msg.billing.name} : {$user_data.fname} {$user_data.lname}</li>
		<li>{$msg.billing.company} : {$user_data.company}</li>
		<li>{$msg.billing.address_line1} : {$user_data.address1}</li>
		<li>{$msg.billing.address_line2} : {$user_data.address2}</li>
		<li>{$msg.billing.city} : {$user_data.city|htmlspecialchars}</li>
		<li>{$msg.billing.state_province} : {$user_data.province}</li>
		<li>{$msg.billing.country} : {$user_data.country_name}</li>
		<li>{$msg.billing.postal_code} : {$user_data.zip}</li>
	{if $cf_billing}
		{foreach from=$cf_billing item="cf"}
		<li>{$cf.field_name} : {$cf.value_translated}</li>
		{/foreach}
	{/if}
		
		<li>{$msg.account.email_address} : {$user_data.email|htmlspecialchars}</li>
		<li>{$msg.billing.phone_number} : {$user_data.phone|htmlspecialchars}</li>
		<li>{$msg.account.login} : {$user_data.login|htmlspecialchars}</li>
	{if $cf_account}
		{foreach from=$cf_account item="cf"}
		<li>{$cf.field_name} : {$cf.value_translated}</li>
		{/foreach}
	{/if}
	{if $cf_signup}
		{foreach from=$cf_signup item="cf"}
		<li>{$cf.field_name} : {$cf.value_translated}</li>
		{/foreach}
	{/if}
	</p>
	<p><li><a href="{$AdminHttpsUrl}/admin.php?p=user&uid={$user_data.uid}">{$msg.email.click_to_edit}</a></li></p>
</blockquote>
{include file="templates/emails/elements/bottom_html.html"}
