{include file="templates/emails/elements/top_html.html"}
<blockquote>
	<p><b>{$friend_name|htmlspecialchars},</b></p>
	<p>I was on <a href="{$GlobalHttpUrl}">{$GlobalSiteName}</a> today and thought you might be interested in this.</p>
	<p><b>{$product.title|htmlspecialchars}</b></p>
	<p>{$product.description}</p>
	<p><b>{$product.price|price}</b></p>
	<p>
		You can read more about {$product.title|htmlspecialchars} here :<br />
		<a href="{$product.url}">{$product.url}</a>
	</p>
	
	<p>Sincerely,</br> {$user_name|htmlspecialchars}</p>
</blockquote>
{include file="templates/emails/elements/bottom_html.html"}
