@import url(//fonts.googleapis.com/css?family=Voces);

.page {margin-top:0px; background: url(../images/bg-site.jpg) center top #ffffff; font-size: 14px; color: #444444; font-family: Voces, Helvetica, Arial;}
.layout-zone-header {min-height:120px;}
.container-wrap, .doc1024x768C { width: 950px; }

a { color:#000066; }

.container-navigation-top, 
.container-navigation-top .layout-zone-navigation {background-color:transparent;}
.container-navigation-top .layout-zone-navigation a {color:#22b8f3;}
.container-navigation-middle .layout-zone-navigation { background: transparent; }
.container-navigation { background: transparent; color: #22b8f3; }
.container-navigation a:link { color: #22b8f3; text-decoration: none; }
.container-navigation a:visited { color: #22b8f3; text-decoration: none; }
.container-navigation a:hover { color: #22b8f3; text-decoration: underline; }

a.drop-down-menu-item:link,
a.drop-down-menu-item:hover,
a.drop-down-menu-item-hover:link,
a.drop-down-menu-item-hover:hover { color: #333333; }

.container-header { background-image:none; }
.container-footer { padding-top: 0; color: #333333; }
.container-footer .container-wrap { background: transparent; border-top: 2px solid #dddddd; padding-top: 20px; }
.container-footer .layout-zone-footer {background: transparent;padding-top: 0; }
.container-footer .layout-zone-footer a{color:#333333;}

.container-menu {background:url(../images/bg-menu.png); text-transform: uppercase; padding: 4px 0; }
.layout-zone-menu .drop-down-menu {background-color:#ffffff; margin: 10px 0; }
.layout-zone-menu .drop-down-menu-item{background-color:#ffffff;color:#22B8F3; }

.layout-zone-menu .drop-down-menu-item{border:none;}
.layout-zone-menu li ul li .drop-down-menu-item{border:none;}
.layout-zone-menu li ul li ul li .drop-down-menu-item{border:none;}

.layout-zone-menu .drop-down-menu-item-hover{background-color:#333333;color:#22B8F3; border-top:none;border-left:none;border-bottom:none}
.layout-zone-menu li ul li .drop-down-menu-item-hover{background-color:#333333;color:#22B8F3;border-top:1px solid #22B8F3;border-right:none;border-left:none;border-bottom:none;}
.layout-zone-menu li ul li ul li .drop-down-menu-item-hover{border-left:1px solid #2b2b2b;}

/** navigation drop down menu **/
.panel-catalog-categories .drop-down-menu-item{background:white;}
.panel-catalog-categories .drop-down-menu-item-hover{background:#e7e5e5;}
.panel-catalog-categories .drop-down-menu a {color:black;}

.panel{border:1px solid black;}
.panel .title{background-color:#444444;}

a:link { color: #22b8f3; text-decoration: none; }
a:visited { color: #22b8f3; text-decoration: none; }
a:hover { text-decoration: underline; }

h1 { background: url(../images/bg-menu.png) repeat-x left bottom; padding-bottom: 20px; }

.custom-home { background: #ffffff; }
.custom-home h1 { padding-left: 5px; font-size: 1.3em; }
.custom-home h1 span { font-weight: normal; }
.custom-home .deals img { margin: 0 0 0 5px; }
.custom-home .top-left { width: 740px; float: left; }
.custom-home .top-right { width: 200px; float: right; margin-right: 5px; }

.panel { border: none; padding-top: 0; }
.panel .title { background: none; color: #444444; text-transform: uppercase; font-size: 1.3em; }

.content .treeview .hitarea { background:none; }
.treeview li { background: none; border-bottom: 1px dotted #cccccc; padding: 4px 0; text-transform: uppercase; }
.treeview li:last-child { border-bottom: none; }
.treeview a.selected { background: none; font-weight: bold; }
.content li.expandable ul li.expandable { margin-left:10px; }

.page-home .container-main .layout-zone-content .wrap-panels { padding: 0; }

.panel-newsletters-subscribe { background: #3d3d3d; color: #ffffff; }
.panel-newsletters-subscribe .title { color: #ffffff; padding: 0; margin-bottom: 5px; }
.panel-newsletters-subscribe .unsubscribe { margin-top: 10px; }
.panel-newsletters-subscribe a:link,
.panel-newsletters-subscribe a:visited { color: #ffffff; }
.panel-newsletters-subscribe label { display: block; }
.panel-newsletters-subscribe .content input[type="text"] { width: 175px; }
.panel-newsletters-subscribe input.submit { display: inline; float: left;margin-top:10px; }
input.button, input.reset, input.submit { background: #22b8f3; color: #ffffff; border-radius: 2px; text-transform: uppercase; border: none; font-weight: bold; padding: 4px; }


.catalog-view-flexible .product-label {  }
.catalog-view-flexible .product-label .catalog-product-sale-price { }

.page .container-main #main #left, .page .container-main #main #right {min-height:330px;}
.page .container-main #main { background: #ffffff;min-height:233px; }
.page-home .container-main #main { background: #ffffff; }
.page-home .container-main #main #left, .page-home .container-main #main #right {padding-top:10px;}

.container-main .layout-zone-content { padding: 10px 0; }
.catalog-view-thumb1 .catalog-product-image { margin-right: 10px; }

.layout-zone-menu .drop-down-menu-item-hover a:hover { text-decoration: none; }
.drop-down-menu li { display: inline-block; float: none; }
.drop-down-menu li:last-child { border-right: none; }

.image-home { margin:20px 0px 0px;background-color:#ffffff;background:none;}


.panel-catalog-categories a:link,
.panel-catalog-categories a:visited,
.panel-catalog-categories a:hover { color: #333333; }

.container-footer .section { width: 186px; margin-right: 5px; float: left; }
.container-footer .section.last { margin-right: 0; }



/* container for menu */
.container-menu { background-color:transparent; text-transform: uppercase; padding-bottom: 4px;}
.container-menu { text-align: left; }



.layout-zone-menu a.drop-down-menu-item {color: #333333;font-family:Voces,Helvetica,Arial;font-size:12px;}
.layout-zone-menu a.drop-down-menu-item-hover {color: #22b8f3;font-family:Voces,Helvetica,Arial;font-size:12px;text-decoration: none; background-color: transparent;border: none;}
.drop-down-menu li ul li {display: block;}






.catalog-view-display-box { background: #efefef; padding: 0; }
.catalog-view-display-box .catalog-product { background: #ffffff; border: 1px solid #ccc; }

/* Remove js rounded corners */
body > iframe {display: none;}
.layout-zone .panel h4 {border-radius: 6px 6px 0px 0px;}
.layout-zone-navigation ul.menu li {border-radius: 6px 6px 0px 0px;}
.panel-checkout-cart {border-radius: 6px;}
.layout-zone .panel .content {border-radius: 0px 0px 6px 6px;}
.featured-products h3 {border-radius: 6px 6px 0px 0px;}


.catalog-view-display .catalog-product {
	float: left;
	display: inline;
	width: 33.33%;
	padding: 0;
	margin: 0;
	position: relative;
}
	.catalog-view-display .catalog-product:nth-child(3n+1) {
		clear: both;
	}
	.mobile-navigation {display: none;}
	.catalog-product-hot-deal  {
		position: absolute;
		left: 0px;
		top: 0px;
		z-index: 3;
	}
	
.icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	background-color: #888;
}
.icon-bar + .icon-bar {
	margin-top: 4px;
}
.mobile-navigation {
	display: none;
	position:relative;
	float: right;
	width: 20%;
	margin-right: 2%;
}

.mobile-nav-toggle {
	float: right;
	padding: 5px;
}

.mobile-navigation-panel {
	display: none;
	margin: 0 0 20px 0;
}

.mobile-navigation-panel ul {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	background-color: #efefef;
}
.mobile-navigation-panel ul > li {
	position: relative;
	display: block;
}
.mobile-navigation-panel ul > li > a, .mobile-navigation-panel ul > li > span {
	position: relative;
	display: block;
	padding: 10px 15px;
}
.mobile-navigation-panel ul li.divider {
	border-bottom: solid 1px #afafaf;
}

.mobile-nav-subcategories-toggle {
	float: right;
	padding: 5px;
	margin-top: -5px;
	display: none;
}
.mobile-nav-subcategories-panel {
	display: none;
}
.mobile-nav-subcategories-panel ul {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	background-color: #efefef;
}
.mobile-nav-subcategories-panel ul > li {
	position: relative;
	display: block;
}
.mobile-nav-subcategories-panel ul > li > a,
.mobile-nav-subcategories-panel ul > li > span {
	position: relative;
	display: block;
	padding: 10px 15px;
}
.mobile-only {display: none;}

.custom-home {margin-bottom: 25px;}
	
@media screen and (max-width: 991px) {
	.page-home .container-header, .layout-zone-header, .container-header {height: auto;}
	.tabbed-navigation {display: none;}
	.mobilepad {padding: 5px;}
	#account-links {display: none;}
	.mobile-navigation, .mobile-only {display: block;}
	.mobile-nav-subcategories-toggle {
		display: block;
	}
	.page .layout-zone-header {width: 100%;}
	.page .layout-zone-menu, .page .layout-zone-navigation {display: none;}
	.home-container {width: 100% !important;}

	.mobile-nav-subcategories-toggle > .icon-bar + .icon-bar {
		width: 80%;
	}

	.page .layout-zone-header {
		min-height: 0;
	}
	#header > .container-menu {
		display: none;
	}
	.page .image-logo {
		margin: 0;
		display: block;
		max-width: 100%;
		height: auto;
	}
	.mobile-navigation {
		display: block;
	}
	#site-container > .container-navigation {
		display: none;
	}
	.page .image-home {
		margin: 0;
		display: block;
		max-width: 100%;
		height: auto;
	}
	.page .container-wrap, .doc800x600C, .doc800x600L, .doc1024x768L, .doc1280x1024C, .doc1280x1024L {
		width: 100% !important;
	}
	.container-main .layout-zone-left, .container-main .layout-zone-right {
		display: none;
	}

	#catalog-navigation-menu-pagesize, #catalog-navigation-menu-view {
		display: none;
	}

	.page-signup .fieldset .field label {
		width: 100% !important;
	}
	.fieldset .field label {
		padding-left: 0;
	}
	.page-signup .fieldset .field div {
		margin-left: 0;
	}
	.fieldset input[type="text"], .fieldset input[type="password"], .fieldset select {
		width: 100%;
	}

	.page-login #content .col-50, .page-product #content .product-page-center .col-50 {
		width: 100%;
	}

	.page-login #content .col-50.col-left .spacer {
		border: none;
	}

	.page-product .product-print {
		display: none;
	}

	.page-cart #form-cart div.gap-right div.col-wrap div.col-50,
	.page-cart #form-cart div.cart-other-options div.col-50 {
		width: 100%;
	}

	.page-cart #form-cart div.cart-other-options div.col-50 > .spacer {
		margin: 0;
	}

	.page-cart #form-cart div.gap-right div.col-wrap div.col-50:first-child,
	.page-cart #form-cart div.cart-other-options div.col-50:first-child {
		display: none;
	}

	#form-cart > .gap-right {
		display: none;
	}

	#form-cart > .gap-right > .col-wrap > .col-right > .col-wrap > div {
		margin-top: 30px;
	}
	#form-cart > .gap-right > .col-wrap > .col-right > .col-wrap > div:first-child {
		margin-top: 0;
	}
	#form-cart > .gap-right > .col-wrap > .col-right > .col-wrap > div > span {
		display: none;
	}
	#form-cart .cart-totals > div > div > div > div {
		margin-top: 15px;
		width: 100%;
		text-align: right;
	}
	#form-cart .cart-totals > div > div > div > div:first-child {
		margin-top: 0;
	}
	.page-cart .cart-paypal-or{
		display: none;
	}

	#form-cart table td {
		overflow: hidden;
	}

	#opc-billing-form .col-wrap .col-50, #opc-shipping .col-wrap .col-50 {
		width: 100%;
	}

	.page-opc > div > div > div.col-75, .page-opc > div > div > div.col-25 {
		float: none;
		width: 100%;
	}

	.page-opc > div > div > div.col-75 > .gap-right {
		margin-right: 0;
	}

	.page-opc > div > div > div.col-25 > .gap-left {
		margin-left: 0;
	}

	#opc-billing-form table.fieldset tr.field td div input[type="text"],
	#opc-billing-form table.fieldset tr.field td div input[type="password"],
	#opc-billing-form table.fieldset tr.field td div select {
		width: 100% !important;
	}

	#opc-payment-inner .col-wrap .col-50,
	#opc-payment-inner .col-wrap .col-30,
	#opc-payment-inner .col-wrap .col-70 {
		width: 100%;
	}

	.page-opc .payment-methods-form-wrapper {
		overflow: hidden;
		float: none;
		width: 100%;
		max-width: 100%;
		clear: both;
	}

	#opc-button-complete {
		width: 100%;
		clear: both;
		margin-top: 10px;
	}

	#opc-invoice-totals{border-bottom:2px solid #888888;}

	#-opc-dialog-login{position:fixed;width:100%;height:100%;top:30px;left:0px;margin:10px;}
	.page-cart .cart-image{width:100px;}
	.page-cart .cart-description{margin-left:115px;}
	.logo {margin-left: 2%;}
}

@media screen and (max-width: 767px) {
	.catalog-view-display .catalog-product {
		float: none;
		width: 100%;
		max-width: 100%;
	}
	.tabbed-navigation {display: none;}
	.logo {margin-left: 2%;}
	.page .layout-zone-header {width: 100%;}
	.page .layout-zone-menu, .page .layout-zone-navigation {display: none;}
	.home-container {width: 100% !important;}
	.page-cart .cart-image{width:50px;}
	.page-cart .cart-description{margin-left:65px;}
}