<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="backup.backup"}</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
			<a  href="#" data-target="#modal-backup" data-toggle="modal" class="btn btn-primary">{trans key="backup.create_backup"}</a>
		</div>
	</div>
	<hr class="clearfix">
</div>

<div class="container-fluid">
	{if $backups}
		<div class="col-xs-12">
			<table class="table table-striped">
				<thead>
				<tr>
					<th style="width:50px;"></th>
					<th>{trans key="backup.backup_table.file_name"}</th>
					<th>{trans key="backup.backup_table.size"}</th>
					<th>{trans key="backup.backup_table.created"}</th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				{foreach from=$backups item="backup"}
					<tr>
						<td></td>
						<td>
							{$backup.file_name}
						</td>
						<td>
							{$backup.size} MB
						</td>
						<td>
							{$backup.created}
						</td>
						<td class="list-actions text-right">
							<a href="#" class="restore-backup" data-id="{$backup.file_name}" data-nonce="{$restore_backup_nonce}"><span class="glyphicon glyphicon-repeat"></span>{trans key="backup.restore_backup"}</a>
							<a href="admin.php?p=backup_restore&mode=download-backup&file_name={$backup.file_name}&nonce={$download_backup_nonce}"><span class="glyphicon glyphicon-download-alt"></span>{trans key="backup.download_backup"}</a>
							<a href="#" class="remove-backup" data-id="{$backup.file_name}" data-nonce="{$delete_nonce}"><span class="glyphicon glyphicon-trash"></span>{trans key="common.delete"}</a>
						</td>
					</tr>
				{/foreach}
				</tbody>
			</table>
		</div>
	{else}
		<div class="col-xs-12">
			{trans key="backup.no_backups"}
		</div>
	{/if}
</div>

{include file="templates/pages/backup/modal-backup.html"}

<script type="text/javascript" src="content/admin/scripts/backup.js?v={$APP_VERSION}"></script>