<div class="modal fade" id="modal-backup" tabindex="-1" role="dialog" aria-labelledby="modal-backup-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-create-backup" autocomplete="off">
			<input type="hidden" name="nonce" value="{$backup_nonce}">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-backup-label">{trans key="backup.create_backup"}</h4>
				</div>
				<div class="modal-body">
					<fieldset class="open fieldset-primary" id="basic">
						<div class="container-fluid" id="basic-body">
							<div class="form-group field-checkbox col-sm-6 col-xs-12 ">
								<label for="field-backup-engine">
									<input type="checkbox" name="options[backup_engine]" id="field-backup-engine" value="Yes" checked>
									{trans key="backup.backup_engine"}
								</label>
							</div>
							<div class="form-group field-checkbox col-sm-6 col-xs-12 ">
								<label for="field-backup-skins">
									<input type="checkbox" name="options[backup_skins]" id="field-backup-skins" value="Yes" checked>
									{trans key="backup.backup_skins"}
								</label>
							</div>
							<div class="form-group field-checkbox col-sm-6 col-xs-12 ">
								<label for="field-backup-database">
									<input type="checkbox" name="options[backup_database]" id="field-backup-database" value="Yes" checked>
									{trans key="backup.backup_database"}
								</label>
							</div>
							<div class="form-group field-checkbox col-sm-6 col-xs-12 ">
								<label for="field-backup-images">
									<input type="checkbox" name="options[backup_images]" id="field-backup-images" value="Yes" checked>
									{trans key="backup.backup_images"}
								</label>
							</div>
							<div class="form-group field-checkbox col-sm-6 col-xs-12 ">
								<label for="field-backup-cache">
									<input type="checkbox" name="options[backup_cache]" id="field-backup-cache" value="Yes" checked>
									{trans key="backup.backup_cache"}
								</label>
							</div>
							<div class="form-group field-checkbox col-sm-6 col-xs-12 ">
								<label for="field-backup-downloads">
									<input type="checkbox" name="options[backup_downloads]" id="field-backup-downloads" value="Yes" checked>
									{trans key="backup.backup_downloads"}
								</label>
							</div>
						</div>
					</fieldset>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary">{trans key="backup.create_backup"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>