<p>{trans key="widgets.desc1" label_app_name=$label_app_name}
	<br/>
	<br/>
	{trans key="widgets.desc2"}:<br/>
	<img src="images/admin/widget-sizes.jpg?v={$APP_VERSION}" alt="Widget Sizes"/>
	<br/>
	<br/>
	{trans key="widgets.desc3"}:<br/>
	<img src="images/admin/widget-example.jpg?v={$APP_VERSION}" alt="Widget Sizes"/>
</p>