<form name="" method="post" action="">
	<input type="hidden" name="nonce" value="{$nonce|gs}">
	<div id="content-header">
		<div class="container-fluid">
			<h1 class="col-xs-6">{trans key="widgets.widgets"}</h1>
			<div class="col-xs-6 pull-right text-right btn-toolbar">
				<a href="#" class="btn" data-toggle="modal" data-target="#modal-widgets-settings">{trans key="widgets.advanced_settings"}</a>
				<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modal-add-campaign">{trans key="widgets.add_campaign"}</a>
				{*<a href="admin.php?p=apps">{trans key="common.cancel"}</a>*}
			</div>
		</div>
		<hr class="clearfix">
	</div>
	<div class="container-fluid">
		<div class="col-xs-12">
			{if $campaigns}
				<div class="container-fluid">
					<div class="col-xs-12 col-md-6">
						<div class="btn-group">
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
									{trans key="common.bulk_actions"}
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="#" data-toggle="modal" data-target="#modal-campaigns-delete">{trans key="common.delete"}</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				&nbsp;
				<table class="table table-striped">
					<thead>
					<tr>
						<th style="width:50px;"><input type="checkbox" id="selectAll"></th>
						<th>{trans key="widgets.name"}</th>
						<th>{trans key="widgets.description"}</th>
						<th>{trans key="widgets.date_added"}</th>
						<th></th>
					</tr>
					</thead>
					<tbody>
					{foreach from=$campaigns item="campaign"}
						<tr>
							<td><input type="checkbox" class="checkbox-campaign" name="row[{$campaign.campaign_id}]" value="{$campaign.campaign_id}"></td>
							<td><a href="#" class="edit-campaign" data-id="{$campaign.campaign_id}">{$campaign.name|htmlspecialchars}</a></td>
							<td>{$campaign.description|htmlspecialchars}</td>
							<td>{$campaign.created}</td>
							<td class="list-actions text-right" nowrap>
								<a href="#" class="edit-campaign" data-id="{$campaign.campaign_id}"><span class="icon icon-edit"></span>{trans key="common.edit"}</a>
								<a href="#" class="delete-campaign" data-id="{$campaign.campaign_id}" data-nonce="{$delete_nonce|gs}"><span class="icon icon-delete"></span>{trans key="common.delete"}</a>
							</td>
						</tr>
					{/foreach}
					</tbody>
				</table>
			{else}
				<div class="container-fluid">
					<div class="col-xs-12">
						{trans key="widgets.no_records"}
					</div>
				</div>
			{/if}
		</div>
	</div>
</form>

{include file="templates/pages/widgets/modal-widgets-settings.html"}
{include file="templates/pages/widgets/modal-widgets-add-campaign.html"}
{include file="templates/pages/widgets/modal-delete.html"}

<div id="edit-campaign-wrapper"></div>

<script type="text/javascript" src="content/admin/scripts/widgets.js?v={$APP_VERSION}"></script>