<div class="modal fade" id="modal-widgets-settings" tabindex="-1" role="dialog" aria-labelledby="modal-widgets-settings-label" aria-hidden="true">
	<div class="modal-dialog">
		<form action="admin.php?p=widgets&mode=settings" method="POST" role="form" name="form-widgets-settings">
			<input type="hidden" name="nonce" value="{$settings_nonce}">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-widgets-settings-label">{trans key="widgets.advanced_settings"}</h4>
				</div>
				<div class="modal-body">
					{form form=$settingsForm}
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary" data-action="action-widgets-settings">{trans key="common.save"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>