{** Search Form start here *}
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<form role="form" name="form-products-reviews-search" id="form-products-review-search" method="get">
				<input type="hidden" name="p" value="products_reviews">
				{form form=$searchForm}
				<div class="col-xs-12">
					<button type="submit" class="btn btn-default">{trans key="common.search"}</button>
				</div>
			</form>
		</div>
	</div>
</div>
<hr>
{** Search Form ends here **}


<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="product.reviews.product_reviews"}</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
			<a href="#" data-target="#modal-settings" data-toggle="modal" class="btn btn-primary pull-right">{trans key="product.reviews.advanced_settings"}</a>
		</div>
	</div>
	<hr class="clearfix">
</div>

{include file="templates/pages/product-review/modal-update-statuses.html"}
{include file="templates/pages/product-review/modal-delete.html"}

<div class="container-fluid">
	<div class="col-xs-12 col-md-12">
		{if $products_reviews}
			<div class="btn-group">
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						{trans key="common.bulk_actions"}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#" data-toggle="modal" data-target="#modal-products-reviews-update-statuses">{trans key="product.reviews.update_status"}</a></li>
						<li><a href="#" data-toggle="modal" data-target="#modal-products-reviews-delete">{trans key="product.reviews.delete_action"}</a></li>
					</ul>
				</div>
			</div>
		{/if}
	</div>
</div>

{if $products_reviews}
	<div class="container-fluid">
		<div class="col-xs-12 col-md-12">
			<table class="table table-striped table-list table-list-products-review" data-search-form="#form-products-review-search" data-order-by-field="orderBy" data-order-dir-field="orderDir">
				<thead>
					<tr>
						<th><input type="checkbox" id="selectAll"></th>
						<th class="text-left sortable" data-sort-field="title">{trans key="product.reviews.reviews_list_table.product_title"}</th>
						<th class="text-left sortable" data-sort-field="review">{trans key="product.reviews.reviews_list_table.review"}</th>
						<th class="text-left sortable" data-sort-field="rating">{trans key="product.reviews.reviews_list_table.rating"}</th>
						<th class="text-left sortable" data-sort-field="reviewer">{trans key="product.reviews.reviews_list_table.reviewer"}</th>
						<th class="text-left sortable" data-sort-field="added">{trans key="product.reviews.reviews_list_table.added"}</th>
						<th class="text-left sortable" data-sort-field="status">{trans key="product.reviews.reviews_list_table.status"}</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{foreach from=$products_reviews item="one"}
						<tr>
							<td><input type="checkbox" class="checkbox-product-review" name="row[{$one.review_id}]" value="{$one.review_id}"></td>
							<td><a href="admin.php?p=products_review&mode=update&id={$one.review_id}">{$one.title}</a></td>
							<td>{$one.review_title}</td>
							<td>{$one.rating}</td>
							<td>{$one.email}</td>
							<td>{$one.date_created}</td>
							<td>{$one.status|ucfirst}</td>
							<td class="list-actions text-right" nowrap>
								<a href="admin.php?p=products_review&mode=update&id={$one.review_id}"><span class="icon icon-edit"></span>{trans key="common.edit"}</a>
								<a href="#" class="delete-review" review-id="{$one.review_id}" nonce="{$delete_nonce}"><span class="icon icon-delete"></span>{trans key="common.delete"}</a>
							</td>
						</tr>
					{/foreach}
				</tbody>
			</table>
			<div class="custom-pager">
				{if $paginator->prevPage}
					<a role="button" class="btn btn-default" href="admin.php?p=products_reviews&amp;page={$paginator->prevPage}"><span class="icon icon-pagination-left"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-left"></span></button>
				{/if}

				{if $paginator->nextPage}
					<a role="button" class="btn btn-default" href="admin.php?p=products_reviews&amp;page={$paginator->nextPage}"><span class="icon icon-pagination-right"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-right"></span></button>
				{/if}

				<span class="text">{$paginator->itemsFrom}-{$paginator->itemsTo} <span class="of">{trans key="common.of"}</span>  {$paginator->itemsCount}</span>
			</div>
		</div>
	</div>
{else}
	<div class="container-fluid">
		<div class="col-xs-12 col-md-12">
			{if $hasSearchParams}
				{trans key="product.reviews.no_reviews_search"}
			{else}
				{trans key="product.reviews.no_reviews"}
			{/if}
		</div>
	</div>
{/if}

{include file="templates/pages/product-review/modal-settings.html"}
<script type="text/javascript" src="content/admin/scripts/products-reviews.js?v={$APP_VERSION}"></script>