<div class="modal fade" id="modal-products-reviews-update-statuses" tabindex="-1" role="dialog" aria-labelledby="modal-products-reviews-update-statuses-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-products-reviews-update-statuses">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-products-reviews-update-statuses-label">{trans key="product.reviews.update_reviews"}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group col-xs-12">
						<label><input type="radio" name="form-products-reviews-update-statuses-mode" value="selected" checked> {trans key="product.reviews.update_only_selected"}</label>
						<label><input type="radio" name="form-products-reviews-update-statuses-mode" value="search"> {trans key="product.reviews.update_all"} ({trans key="common.all"} {$itemsCount})</label>
						<label>{trans key="product.reviews.set_new_status"}
						<select name="form-products-reviews-update-statuses-new-status">
							<option value="approved">{trans key="common.approve"}</option>
							<option value="declined">{trans key="common.decline"}</option>
						</select>
						</label>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="button"  nonce="{$update_statuses_nonce}" class="btn btn-primary" data-action="action-products-reviews-update-statuses">{trans key="common.update"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>