<div class="shipping-address-view">
	<strong>
		{$shippingAddressData.ShippingOriginName|htmlspecialchars}
	</strong>
	<div class="gap-top gap-bottom">
		{$shippingAddressData.ShippingOriginAddressLine1|htmlspecialchars}<br>
		{if $shippingAddressData.ShippingOriginAddressLine2 != ''}{$shippingAddressData.ShippingOriginAddressLine2|htmlspecialchars}<br>{/if}
		{$shippingAddressData.ShippingOriginCity|htmlspecialchars},
		{$shippingAddressData.ShippingOriginStateName|htmlspecialchars} {$shippingAddressData.ShippingOriginZip|htmlspecialchars}<br>
		{$shippingAddressData.ShippingOriginCountryName|htmlspecialchars}
	</div>
</div>