<div class="col-xs-6">
	<div class="form-group field-checkbox">
		<label>
			<input type="checkbox" class="form-control" name="countries[]" value="0"{if in_array('0', $selectedCountries)} checked{/if}> {trans key="common.all"}
		</label>
	</div>
</div>
{foreach from=$countries item="country"}
	<div class="col-xs-6">
		<div class="form-group field-checkbox">
			<label>
				<input type="checkbox" class="form-control" name="countries[]" value="{$country.id}"{if in_array($country.id, $selectedCountries)} checked{/if}> {$country.name|gs}
			</label>
		</div>
	</div>
{/foreach}