{if $showAll}
<div class="col-xs-12 clearfix">
	{if $upsMethods}
	<div class="shipping-real-time-method">
		<div class="form-group text-center">
			<label for="add-method-carrier-id-ups">
				<span class="shipping-carrier shipping-carrier-ups"></span>
				<input id="add-method-carrier-id-ups" class="form-control" type="radio" name="method[carrier_id]" value="ups" checked>
			</label>
		</div>
	</div>
	{/if}
	{if $uspsMethods}
	<div class="shipping-real-time-method">
		<div class="form-group text-center">
			<label for="add-method-carrier-id-usps">
				<span class="shipping-carrier shipping-carrier-usps"></span>
				<input id="add-method-carrier-id-usps" class="form-control" type="radio" name="method[carrier_id]" value="usps"{if !$upsMethods} checked{/if}>
			</label>
		</div>
	</div>
	{/if}
	{if $fedexMethods}
	<div class="shipping-real-time-method">
		<div class="form-group text-center">
			<label for="add-method-carrier-id-fedex">
				<span class="shipping-carrier shipping-carrier-fedex"></span>
				<input id="add-method-carrier-id-fedex" class="form-control" type="radio" name="method[carrier_id]" value="fedex"{if !$upsMethods && !$uspsMethods} checked{/if}>
			</label>
		</div>
	</div>
	{/if}
	{if $canadaPostMethods}
	<div class="shipping-real-time-method">
		<div class="form-group text-center">
			<label for="add-method-carrier-id-canada_post">
				<span class="shipping-carrier shipping-carrier-canada-post"></span>
				<input id="add-method-carrier-id-canada_post" class="form-control" type="radio" name="method[carrier_id]" value="canada_post"{if !$upsMethods && !$uspsMethods && !$fedexMethods} checked{/if}>
			</label>
		</div>
	</div>
	{/if}
    {if $vparcelMethods}
    <div class="shipping-real-time-method">
        <div class="form-group text-center">
            <label for="add-method-carrier-id-vparcel">
                <span class="shipping-carrier-vparcel"></span>
                <input id="add-method-carrier-id-vparcel" class="form-control" type="radio" name="method[carrier_id]" value="vparcel"{if !$upsMethods && !$uspsMethods && !$fedexMethods && !$canadaPostMethods} checked{/if}>
            </label>
        </div>
    </div>
    {/if}

	{if !$hasRealTime}
	<div class="row">
		<div class="col-xs-12">
			<div class="alert alert-warning">{trans key="shipping.no_real_time"}</div>
		</div>
	</div>
	{/if}
</div>
{/if}
{if $upsMethods}
<div class="add-method-ups clearfix" style="margin-bottom: 15px;">
{foreach from=$upsMethods item="method"}
<div class="col-xs-6 col-md-6">
	<label for="add-method-usps-{$method.sdid}">
		<input id="add-method-usps-{$method.sdid}" type="checkbox" name="methods[]" value="{$method.sdid}"> {$method.method_name|gs}
	</label>
</div>
{/foreach}
</div>
{/if}
{if $uspsMethods}
<div class="add-method-usps clearfix" style="margin-bottom: 15px;{if $upsMethods}display: none;{/if}">
{foreach from=$uspsMethods item="method"}
	<div class="col-xs-6 col-md-6">
		<label for="add-method-usps-{$method.sdid}">
			<input id="add-method-usps-{$method.sdid}" type="checkbox" name="methods[]" value="{$method.sdid}"> {$method.method_name|gs}
		</label>
	</div>
{/foreach}
</div>
{/if}
{if $fedexMethods}
<div class="add-method-fedex clearfix" style="margin-bottom: 15px;{if $upsMethods || $uspsMethods}display: none;{/if}">
{foreach from=$fedexMethods item="method"}
	<div class="col-xs-6 col-md-6">
		<label for="add-method-usps-{$method.sdid}">
			<input id="add-method-usps-{$method.sdid}" type="checkbox" name="methods[]" value="{$method.sdid}"> {$method.method_name|gs}
		</label>
	</div>
{/foreach}
</div>
{/if}
{if $canadaPostMethods}
<div class="add-method-canada_post clearfix" style="margin-bottom: 15px;{if $upsMethods || $uspsMethods || $fedexMethods}display: none;{/if}">
{foreach from=$canadaPostMethods item="method"}
	<div class="col-xs-6 col-md-6">
		<label for="add-method-usps-{$method.sdid}">
			<input id="add-method-usps-{$method.sdid}" type="checkbox" name="methods[]" value="{$method.sdid}"> {$method.method_name|gs}
		</label>
	</div>
{/foreach}
</div>
{/if}
{if $vparcelMethods}
<div class="add-method-vparcel clearfix" style="margin-bottom: 15px;{if $upsMethods || $uspsMethods || $fedexMethods ||$canadaPostMethods}display: none;{/if}">
    {foreach from=$vparcelMethods item="method"}
    <div class="col-xs-6 col-md-6">
        <label for="add-method-vparcel-{$method.sdid}">
            <input id="add-method-vparcel-{$method.sdid}" type="checkbox" name="methods[]" value="{$method.sdid}"> {$method.method_name|gs}
        </label>
    </div>
    {/foreach}
</div>
{/if}

