<div class="clearfix" style="border-bottom: solid 1px #ececec;margin-bottom: 15px;">
<div class="col-xs-6">
	<div class="form-group field-checkbox">
		<label>
			<input type="checkbox" class="form-control" name="states[]" value="0"{if in_array('0', $selectedStates)} checked{/if}> {trans key="common.all"}
		</label>
	</div>
</div>
{if $methodItem.country == '1' || $methodItem.country == '1,'}
<div class="col-xs-6">
	<div class="form-group field-checkbox">
		<label>
			<input type="checkbox" class="form-control" name="states[]" value="continental"{if in_array('continental', $selectedStates)} checked{/if}> {trans key="shipping.continental_us"}
		</label>
	</div>
</div>
{/if}
</div>
{foreach from=$states item="state"}
<div class="col-xs-6">
	<div class="form-group field-checkbox">
		<label>
			<input type="checkbox" class="form-control" name="states[]" value="{$state.id}"{if in_array($state.id, $selectedStates)} checked{/if}> {$state.name|gs}
		</label>
	</div>
</div>
{/foreach}