<div id="content-header">
	<div class="container-fluid">
		<h1 style="padding-left:15px;width:auto;float:left;">{trans key="shipping.shipping"}</h1>
		<div class="pull-right text-right btn-toolbar" style="width:auto;">
			<a href="admin.php?p=shipping&mode=settings" class="btn">{trans key="shipping.advanced_settings"}</a>
			<a href="{if $PikflyEnabled == 'Yes'}admin.php?p=pikfly{else}admin.php?p=apps&action=app-center{/if}" class="btn btn-primary">PikFly</a>
			<a href="#" data-target="#modal-add-method" data-toggle="modal" class="btn btn-primary">{trans key="shipping.add_new_method"}</a>
		</div>
	</div>
	<hr class="clearfix">
</div>

{assign var="shippingMethodsExist" value=0}
<div class="container-fluid">
	<form>
		<input type="hidden" id="delete_nonce" name="delete_nonce" value="{$delete_nonce}">
		{foreach from=$countriesMethods item="countryMethods" key="coid"}
			{if count($countryMethods.flat) > 0}
				{assign var="shippingMethodsExist" value=1}
				<div class="clearfix" style="padding-bottom: 15px;margin-bottom: 15px;border-bottom:solid 1px #cccccc;">
					<h2 class="col-xs-6">{$countryMethods.name|gs} - {trans key="shipping.flat_rate"}</h2>
					<div class="col-xs-6 text-right btn-toolbar" style="margin-left: 0;margin-top: 20px;">
						<a href="#" class="add-flat-rate btn" data-country="{$coid|gs}">{trans key="shipping.add_flat_rate_method"}</a>
					</div>
					<div class="col-xs-12">
						<table class="table table-striped table-shipping">
							<thead>
								<tr>
									<th style="width:12%">{trans key="shipping.title"}</th>
									<th style="width:12%">{trans key="shipping.ship_by"}</th>
									<th style="width:24%">{trans key="shipping.range"}</th>
									<th style="width:20%">{trans key="shipping.price"}</th>
									<th style="width:13%">
										{if $countryMethods.name == 'United States'}
											{trans key="shipping.states"}
										{elseif $countryMethods.name == 'Canada'}
											{trans key="shipping.provinces"}
										{elseif $countryMethods.name == 'International'}
											{trans key="shipping.countries"}
										{else}
											{trans key="shipping.regions"}
										{/if}
									</th>
									<th style="width:9%">{trans key="shipping.priority"}</th>
									<th style="width:9%">{trans key="shipping.active"}</th>
									<th style="width:10%;"></th>
								</tr>
							</thead>
							<tbody>
								{foreach from=$countryMethods.flat item="methodItem"}
									{include file="templates/pages/shipping/elements/element-flat-rate-view.html"}
								{/foreach}
							</tbody>
						</table>
					</div>
				</div>
			{/if}

			{if count($countryMethods.fedex) > 0}
				{assign var="shippingMethodsExist" value=1}
				<div class="clearfix" style="padding-bottom: 15px;margin-bottom: 15px;border-bottom:solid 1px #cccccc;">
					<h2 class="col-xs-6">{$countryMethods.name|gs} - FedEx</h2>
					<div class="col-xs-6 text-right btn-toolbar" style="margin-left: 0;margin-top: 20px;">
						<a href="#" data-toggle="modal" data-target="#modal-fedex-settings" class="btn"{if !$fedexConfigured} title="{trans key="shipping.carrier_settings_not_configured" carrier="FedEx"}"{/if}>
							<span>{trans key="shipping.carrier_settings" carrier="FedEx"}</span>{if !$fedexConfigured}<img src="images/admin/alert-cone.gif" style="margin-left: 3px;">{/if}
						</a>
						<a href="#" class="add-real-time btn" data-country="{$coid|gs}" data-carrier-id="fedex">
							{if $countryMethods.name == 'United States'}
								{trans key="shipping.add_carrier_method" carrier="FedEx USA"}
							{elseif $countryMethods.name == 'Canada'}
								{trans key="shipping.add_carrier_method" carrier="FedEx Canada"}
							{elseif $countryMethods.name == 'International'}
								{trans key="shipping.add_carrier_method" carrier="FedEx International"}
							{else}
								{trans key="shipping.add_carrier_method" carrier="FedEx"}
							{/if}
						</a>
					</div>
					<div class="col-xs-12">
						<table class="table table-striped table-shipping">
							<thead>
								<tr>
									<th style="width:12%;">{trans key="shipping.carrier"}</th>
									<th style="width:36%;">{trans key="shipping.title"}</th>
									<th style="width:11%;">{trans key="shipping.fee"}</th>
									<th style="width:13%">
										{if $countryMethods.name == 'United States'}
											{trans key="shipping.states"}
										{elseif $countryMethods.name == 'Canada'}
											{trans key="shipping.provinces"}
										{elseif $countryMethods.name == 'International'}
											{trans key="shipping.countries"}
										{else}
											{trans key="shipping.regions"}
										{/if}
									</th>
									<th style="width:9%">{trans key="shipping.priority"}</th>
									<th style="width:9%">{trans key="shipping.active"}</th>
									<th style="width:10%;"></th>
								</tr>
							</thead>
							<tbody>
								{foreach from=$countryMethods.fedex item="methodItem"}
									{include file="templates/pages/shipping/elements/element-real-time-view.html"}
								{/foreach}
							</tbody>
						</table>
					</div>
				</div>
			{/if}

			{if count($countryMethods.ups) > 0}
				{assign var="shippingMethodsExist" value=1}
				<div class="clearfix" style="padding-bottom: 15px;margin-bottom: 15px;border-bottom:solid 1px #cccccc;">
					<h2 class="col-xs-6">{$countryMethods.name|gs} - UPS</h2>
					<div class="col-xs-6 text-right btn-toolbar" style="margin-left: 0;margin-top: 20px;">
						<a href="#" data-toggle="modal" data-target="#modal-ups-settings" class="btn"{if !$upsConfigured} title="{trans key="shipping.carrier_settings_not_configured" carrier="UPS"}"{/if}><span>{trans key="shipping.carrier_settings" carrier="UPS"}</span>{if !$upsConfigured}<img src="images/admin/alert-cone.gif" style="margin-left: 3px;">{/if}</a>
						<a href="#" class="add-real-time btn" data-country="{$coid|gs}" data-carrier-id="ups">
							{if $countryMethods.name == 'United States'}
								{trans key="shipping.add_carrier_method" carrier="UPS United States"}
							{elseif $countryMethods.name == 'Canada'}
								{trans key="shipping.add_carrier_method" carrier="UPS Canada"}
							{elseif $countryMethods.name == 'International'}
								{trans key="shipping.add_carrier_method" carrier="UPS International"}
							{else}
								{trans key="shipping.add_carrier_method" carrier="UPS"}
							{/if}
						</a>
					</div>
					<div class="col-xs-12">
						<table class="table table-striped table-shipping">
							<thead>
								<tr>
									<th style="width:12%;">{trans key="shipping.carrier"}</th>
									<th style="width:36%;">{trans key="shipping.title"}
										<span class="glyphicon glyphicon-info-sign tooltip-popover" title="" data-original-title=""></span>
										<div class="tooltip"> This label is shown on the checkout page.</div>
									</th>
									<th>{trans key="shipping.fee"}
										<span class="glyphicon glyphicon-info-sign tooltip-popover" title="" data-original-title=""></span>
										<div class="tooltip"> If you want to add on extra fees on top of the standard rates, type in the additional fee amount here.</div>
									</th>
									<th style="width:13%">
										{if $countryMethods.name == 'United States'}
											{trans key="shipping.states"}
										{elseif $countryMethods.name == 'Canada'}
											{trans key="shipping.provinces"}
										{elseif $countryMethods.name == 'International'}
											{trans key="shipping.countries"}
										{else}
											{trans key="shipping.regions"}
										{/if}
									</th>
									<th style="width:9%">{trans key="shipping.priority"}</th>
									<th style="width:9%;">{trans key="shipping.active"}</th>
									<th style="width:10%;"></th>
								</tr>
							</thead>
							<tbody>
								{foreach from=$countryMethods.ups item="methodItem"}
									{include file="templates/pages/shipping/elements/element-real-time-view.html"}
								{/foreach}
							</tbody>
						</table>
					</div>
				</div>
			{/if}

			{if count($countryMethods.usps) > 0}
				{assign var="shippingMethodsExist" value=1}
				<div class="clearfix" style="padding-bottom: 15px;margin-bottom: 15px;border-bottom:solid 1px #cccccc;">
					<h2 class="col-xs-6">{$countryMethods.name|gs} - USPS</h2>
					<div class="col-xs-6 text-right btn-toolbar" style="margin-left: 0;margin-top: 20px;">
						<a href="#" data-toggle="modal" data-target="#modal-usps-settings" class="btn"{if !$uspsConfigured} title="{trans key="shipping.carrier_settings_not_configured" carrier="USPS"}"{/if}><span>{trans key="shipping.carrier_settings" carrier="USPS"}</span>{if !$uspsConfigured}<img src="images/admin/alert-cone.gif" style="margin-left: 3px;">{/if}</a>
						<a href="#" class="add-real-time btn" data-country="{$coid|gs}" data-carrier-id="usps">
							{if $countryMethods.name == 'United States'}
								{trans key="shipping.add_carrier_method" carrier="USPS United States"}
							{elseif $countryMethods.name == 'Canada'}
								{trans key="shipping.add_carrier_method" carrier="USPS Canada"}
							{elseif $countryMethods.name == 'International'}
								{trans key="shipping.add_carrier_method" carrier="USPS International"}
							{else}
								{trans key="shipping.add_carrier_method" carrier="USPS"}
							{/if}
						</a>
					</div>
					<div class="col-xs-12">
						<table class="table table-striped table-shipping">
							<thead>
								<tr>
									<th style="width:12%;">{trans key="shipping.carrier"}</th>
									<th style="width:36%;">{trans key="shipping.title"}
										<span class="glyphicon glyphicon-info-sign tooltip-popover" title="" data-original-title=""></span>
										<div class="tooltip"> This label is shown on the checkout page.</div>
									</th>
									<th>{trans key="shipping.fee"}
										<span class="glyphicon glyphicon-info-sign tooltip-popover" title="" data-original-title=""></span>
										<div class="tooltip"> If you want to add on extra fees on top of the standard rates, type in the additional fee amount here.</div>
									</th>
									<th style="width:13%">
										{if $countryMethods.name == 'United States'}
											{trans key="shipping.states"}
										{elseif $countryMethods.name == 'Canada'}
											{trans key="shipping.provinces"}
										{elseif $countryMethods.name == 'International'}
											{trans key="shipping.countries"}
										{else}
											{trans key="shipping.regions"}
										{/if}
									</th>
									<th style="width:9%">{trans key="shipping.priority"}</th>
									<th style="width:9%;">{trans key="shipping.active"}</th>
									<th style="width:10%;"></th>
								</tr>
							</thead>
							<tbody>
								{foreach from=$countryMethods.usps item="methodItem"}
									{include file="templates/pages/shipping/elements/element-real-time-view.html"}
								{/foreach}
							</tbody>
						</table>
					</div>
				</div>
			{/if}

			{if count($countryMethods.canada_post) > 0}
				{assign var="shippingMethodsExist" value=1}
				<div class="clearfix" style="padding-bottom: 15px;margin-bottom: 15px;border-bottom:solid 1px #cccccc;">
					<h2 class="col-xs-6">{$countryMethods.name|gs} - CanadaPost</h2>
					<div class="col-xs-6 text-right btn-toolbar" style="margin-left: 0;margin-top: 20px;">
						<a href="#" data-toggle="modal" data-target="#modal-canada-post-settings" class="btn"{if !$canadaPostConfigured} title="{trans key="shipping.carrier_settings_not_configured" carrier="Canada Post"}"{/if}><span>{trans key="shipping.carrier_settings" carrier="Canada Post"}</span>{if !$canadaPostConfigured}<img src="images/admin/alert-cone.gif" style="margin-left: 3px;">{/if}</a>
						<a href="#" class="add-real-time btn" data-country="{$coid|gs}" data-carrier-id="canada_post">{trans key="shipping.add_carrier_method" carrier="Canada Post"}</a>
					</div>
					<div class="col-xs-12">
						<table class="table table-striped table-shipping">
							<thead>
								<tr>
									<th style="width:12%;">{trans key="shipping.carrier"}</th>
									<th style="width:36%;">{trans key="shipping.title"}
										<span class="glyphicon glyphicon-info-sign tooltip-popover" title="" data-original-title=""></span>
										<div class="tooltip"> This label is shown on the checkout page.</div>
									</th>
									<th>{trans key="shipping.fee"}
										<span class="glyphicon glyphicon-info-sign tooltip-popover" title="" data-original-title=""></span>
										<div class="tooltip"> If you want to add on extra fees on top of the standard rates, type in the additional fee amount here.</div>
									</th>
									<th style="width:13%">
										{if $countryMethods.name == 'United States'}
											{trans key="shipping.states"}
										{elseif $countryMethods.name == 'Canada'}
											{trans key="shipping.provinces"}
										{elseif $countryMethods.name == 'International'}
											{trans key="shipping.countries"}
										{else}
											{trans key="shipping.regions"}
										{/if}
									</th>
									<th style="width:9%">{trans key="shipping.priority"}</th>
									<th style="width:9%;">{trans key="shipping.active"}</th>
									<th style="width:10%;"></th>
								</tr>
							</thead>
							<tbody>
								{foreach from=$countryMethods.canada_post item="methodItem"}
									{include file="templates/pages/shipping/elements/element-real-time-view.html"}
								{/foreach}
							</tbody>
						</table>
					</div>
				</div>
			{/if}

			{if count($countryMethods.vparcel) > 0}
				{assign var="shippingMethodsExist" value=1}
				<div class="clearfix" style="padding-bottom: 15px;margin-bottom: 15px;border-bottom:solid 1px #cccccc;">
					<h2 class="col-xs-6">{$countryMethods.name|gs} - VIPparcel</h2>
					<div class="col-xs-6 text-right btn-toolbar" style="margin-left: 0;margin-top: 20px;">
						<a href="#" data-toggle="modal" data-target="#modal-vparcel-settings" class="btn"{if !$vparcelConfigured} title="{trans key="shipping.carrier_settings_not_configured" carrier="VIPparcel"}"{/if}><span>{trans key="shipping.carrier_settings" carrier="VIPparcel"}</span>{if !$vparcelConfigured}<img src="images/admin/alert-cone.gif" style="margin-left: 3px;">{/if}</a>
						<a href="#" class="add-real-time btn" data-country="{$coid|gs}" data-carrier-id="vparcel">{trans key="shipping.add_carrier_method" carrier="VIPparcel"}</a>
					</div>
					<div class="col-xs-12">
						<table class="table table-striped table-shipping">
							<thead>
								<tr>
									<th style="width:12%;">{trans key="shipping.carrier"}</th>
									<th style="width:36%;">{trans key="shipping.title"}
										<span class="glyphicon glyphicon-info-sign tooltip-popover" title="" data-original-title=""></span>
										<div class="tooltip"> This label is shown on the checkout page.</div>
									</th>
									<th>{trans key="shipping.fee"}
										<span class="glyphicon glyphicon-info-sign tooltip-popover" title="" data-original-title=""></span>
										<div class="tooltip"> If you want to add on extra fees on top of the standard rates, type in the additional fee amount here.</div>
									</th>
									<th style="width:13%">
										{if $countryMethods.name == 'United States'}
											{trans key="shipping.states"}
										{elseif $countryMethods.name == 'Canada'}
											{trans key="shipping.provinces"}
										{elseif $countryMethods.name == 'International'}
											{trans key="shipping.countries"}
										{else}
											{trans key="shipping.regions"}
										{/if}
									</th>
									<th style="width:9%">{trans key="shipping.priority"}</th>
									<th style="width:9%;">{trans key="shipping.active"}</th>
									<th style="width:10%;"></th>
								</tr>
							</thead>
							<tbody>
								{foreach from=$countryMethods.vparcel item="methodItem"}
									{include file="templates/pages/shipping/elements/element-real-time-view.html"}
								{/foreach}
							</tbody>
						</table>
					</div>
				</div>
			{/if}
		{/foreach}

		{if !$shippingMethodsExist}
			<div class="col-xs-12">
				{trans key="shipping.no_records"}
			</div>
		{/if}
	</form>
</div>


{include file="templates/pages/shipping/modal-add-method.html"}
{include file="templates/pages/shipping/modal-add-flat-rate.html"}
{include file="templates/pages/shipping/modal-add-real-time.html"}
{include file="templates/pages/shipping/modal-fedex-settings.html"}
{include file="templates/pages/shipping/modal-ups-settings.html"}
{include file="templates/pages/shipping/modal-usps-settings.html"}
{include file="templates/pages/shipping/modal-canada-post-settings.html"}
{include file="templates/pages/shipping/modal-vparcel-settings.html"}
{include file="templates/pages/shipping/modal-change-states.html"}
{include file="templates/pages/shipping/modal-change-countries.html"}

<script type="text/javascript" src="content/admin/scripts/shipping.js?v={$APP_VERSION}"></script>