<div class="modal fade" id="modal-vparcel-settings" tabindex="-1" role="dialog" aria-labelledby="modal-vparcel-settings-label" aria-hidden="true">
    <div class="modal-dialog">
        <form role="form" name="form-vparcel-settings" id="form-vparcel-settings" method="post" action="admin.php?p=shipping&mode=settings">
            <input type="hidden" name="nonce" id="nonce" value="{$settingsNonce}">
            <input type="hidden" name="carrier_id" value="vparcel">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
                    <h4 class="modal-title" id="modal-vparcel-settings-label">{trans key="shipping.vparcel_settings"}</h4>
                </div>
                <div class="modal-body">
                    {form form=$vparcelSettingsForm}
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-primary">{trans key="common.save"}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>