<div class="modal fade" id="modal-canada-post-settings" tabindex="-1" role="dialog" aria-labelledby="modal-canada-post-settings-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-canada-post-settings" id="form-canada-post-settings" method="post" action="admin.php?p=shipping&mode=settings">
			<input type="hidden" name="nonce" id="nonce" value="{$settingsNonce}">
			<input type="hidden" name="carrier_id" value="canada-post">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-canada-post-settings-label">{trans key="shipping.canada_post_settings"}</h4>
				</div>
				<div class="modal-body">
					{form form=$canadaPostSettingsForm}
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary">{trans key="common.save"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>