<div class="modal fade" id="modal-company-shipping-address" tabindex="-1" role="dialog" aria-labelledby="modal-company-shipping-address-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" class="form-address" name="form-company-shipping-address" id="form-company-shipping-address" method="post">
			<input type="hidden" name="nonce" id="nonce" value="{$settingsNonce}">
			<input type="hidden" name="action" value="save-address">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-company-shipping-address-label">{trans key="shipping.shipping_origin_address"}</h4>
				</div>
				<div class="modal-body">
					{form form=$shippingAddressForm}
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary">{trans key="common.save"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>