<div class="modal fade" id="modal-add-real-time" tabindex="-1" role="dialog" aria-labelledby="modal-add-real-time-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-add-real-time" method="post">
			<input type="hidden" name="nonce" id="add-real-time-nonce" value="{$add_nonce}">
			<input type="hidden" name="method[country]" value="">
			<input type="hidden" name="method[type]" value="real-time">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-add-real-time-label">{trans key="shipping.add_new_method"}</h4>
				</div>
				<div class="modal-body">
					<div id="add-real-time-form" style="display: none;">
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary" data-action="action-add-real-time">{trans key="common.add"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>