<div class="modal fade" id="modal-add-method" tabindex="-1" role="dialog" aria-labelledby="modal-add-method-label" aria-hidden="true">
	<div class="modal-dialog" style="width: 730px">
		<form role="form" name="form-add-method" method="post">
			<input type="hidden" name="nonce" id="add-method-nonce" value="{$add_nonce}">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-add-method-label">{trans key="shipping.add_new_method"}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group col-xs-12">
						<label for="add-method-country">Where do you primarily ship to?</label>
						<select class="form-control" name="method[country]" id="add-method-country">
							{if $originCountry.iso_a3 != 'USA' && $originCountry.iso_a3 != 'CAN'}<option value="{$originCountry.coid}">{$originCountry.name}</option>{/if}
							<option value="1">United States</option>
							<option value="2">Canada</option>
							<option value="0">{trans key="shipping.international"}</option>
						</select>
					</div>
					<div class="clearfix">
						<div class="form-group field-checkbox col-xs-12 radio-list clearfix">
							<div class="col-xs-12 col-md-6">
								<label for="add-method-type-flat">
									<input id="add-method-type-flat" type="radio" name="method[type]" value="flat" checked="checked"> {trans key="shipping.flat_rate"}
								</label>
							</div>
							<div class="col-xs-12 col-md-6">
								<label for="add-method-type-real-time">
									<input id="add-method-type-real-time" type="radio" name="method[type]" value="real-time"> {trans key="shipping.real_time"}
								</label>
							</div>
						</div>
					</div>
					<div id="add-method-flat-rate-form">
						<div class="form-group col-xs-12 field-text has-error has-error has-feedback required">
							<label for="add-method-flat-rate-name">{trans key="shipping.title"} <span class="glyphicon glyphicon-info-sign tooltip-popover" data-original-title="" title=""></span></label>
							<input type="text" class="form-control" name="method[carrier_name]" id="add-method-flat-rate-name" data-required="1" placeholder="{trans key='shipping.title'}">
							<span class="glyphicon glyphicon-warning-sign form-control-feedback warning-sign text-error" aria-hidden="true"></span>
							<span class="sr-only">(error)</span>
							<div class="tooltip">{trans key="shipping.title_tooltip"}</div>
						</div>
						<div class="form-group col-xs-12 field-select">
							<label for="add-method-flat-rate-type">{trans key="shipping.calculate_by"}</label>
							<select class="form-control" name="method[method_id]" id="add-method-flat-rate-type">
								<option value="flat">{trans key="shipping.calculate_per_item"}</option>
								<option value="price">{trans key="shipping.calculate_by_order_subtotal"}</option>
								<option value="base_weight">{trans key="shipping.calculate_per_order_weight"}</option>
								<option value="product">{trans key="shipping.calculate_per_product"}</option>
							</select>
						</div>
						<div id="add-method-rate-flat">
							<div class="form-group col-xs-6 field-integer has-error has-feedback required">
								<label>{trans key='shipping.min_items'}</label>
								<input type="text" class="form-control" name="rates[-1][rate_min]" data-required="1" placeholder="{trans key='shipping.min_items'}">
								<span class="glyphicon glyphicon-warning-sign form-control-feedback warning-sign text-error" aria-hidden="true"></span>
								<span class="sr-only">(error)</span>
							</div>
							<div class="form-group col-xs-6 field-integer" style="padding-left:0;">
								<label>{trans key='shipping.max_items'}</label>
								<input type="text" class="form-control" name="rates[-1][rate_max]" placeholder="{trans key='shipping.max_items'}">
							</div>
							<div class="col-xs-12" style="padding:0;">
								<div class="form-group field-text col-xs-8 has-error has-feedback required">
									<label>{trans key='shipping.price'}</label>
									<input type="text" class="form-control" name="rates[-1][price]" data-required="1" placeholder="{trans key='shipping.price'}">
									<span class="glyphicon glyphicon-warning-sign form-control-feedback warning-sign text-error" aria-hidden="true"></span>
									<span class="sr-only">(error)</span>
								</div>
								<div class="form-group field-select col-xs-4 price-type" style="padding-left:0;">
									<select class="form-control" name="rates[-1][price_type]">
										<option selected="selected" value="amount">USD</option>
										<option value="percentage">%</option>
									</select>
								</div>
							</div>
						</div>
						<div id="add-method-flat-rate-price" style="display: none;">
							<div class="col-xs-4">
								<div class="form-group">
									<div class="input-group">
										{if $currency.symbol_left}<span class="input-group-addon">{$currency.symbol_left}</span>{/if}
										<input type="text" class="form-control" name="rates[-1][rate_min]" placeholder="{trans key="shipping.min_subtotal"}">
										{if $currency.symbol_right}<span class="input-group-addon">{$currency.symbol_right}</span>{/if}
									</div>
								</div>
							</div>
							<div class="col-xs-4" style="padding-left:0;">
								<div class="form-group">
									<div class="input-group">
										{if $currency.symbol_left}<span class="input-group-addon">{$currency.symbol_left}</span>{/if}
										<input type="text" class="form-control" name="rates[-1][rate_max]" placeholder="{trans key="shipping.max_subtotal"}">
										{if $currency.symbol_right}<span class="input-group-addon">{$currency.symbol_right}</span>{/if}
									</div>
								</div>
							</div>
							<div class="col-xs-4" style="padding:0;">
								<div class="col-xs-6" style="padding: 0;">
									<div class="form-group">
										<input type="text" class="form-control" name="rates[-1][price]" placeholder="{trans key="shipping.price"}">
									</div>
								</div>
								<div class="col-xs-6">
									<div class="form-group">
										<select class="form-control" name="rates[-1][price_type]">
											<option selected="selected" value="amount">USD</option>
											<option value="percentage">%</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div id="add-method-rate-base_weight" style="display: none;">
							<div class="col-xs-4">
								<div class="form-group">
									<div class="input-group">
										<input type="text" class="form-control" name="rates[-1][rate_min]" placeholder="{trans key="shipping.min_weight"}">
										<span class="input-group-addon">{$LocalizationWeightUnits}</span>
									</div>
								</div>
							</div>
							<div class="col-xs-4" style="padding-left:0;">
								<div class="form-group">
									<div class="input-group">
										<input type="text" class="form-control" name="rates[-1][rate_max]" placeholder="{trans key="shipping.max_weight"}">
										<span class="input-group-addon">{$LocalizationWeightUnits}</span>
									</div>
								</div>
							</div>
							<div class="col-xs-4" style="padding-left: 0;">
								<div class="form-group">
									<div class="input-group">
										{if $currency.symbol_left}<span class="input-group-addon">{$currency.symbol_left}</span>{/if}
										<input type="text" class="form-control" name="rates[-1][base]" placeholder="{trans key="shipping.price"}">
										{if $currency.symbol_right}<span class="input-group-addon">{$currency.symbol_right}</span>{/if}
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="add-method-real-time-form" style="display: none;">	</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary" data-action="action-add-method">{trans key="common.add"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>