<div class="modal fade" id="modal-change-states" tabindex="-1" role="dialog" aria-labelledby="modal-change-states-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-change-states" id="form-change-states" method="post" action="admin.php?p=shipping&mode=change-states">
			<input type="hidden" name="ssid" value="">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-change-states-label">{trans key="shipping.filter_states"}</h4>
				</div>
				<div class="modal-body" style="max-height: 300px;overflow-y:auto;">

				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary">{trans key="common.save"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>