<form name="form-advanced-shipping-settings" action="admin.php?p=shipping&mode=settings" role="form" method="post" data-auto-validate="1">
	<input type="hidden" name="nonce" id="nonce" value="{$settingsNonce}">

	<div id="content-header">
		<div class="container-fluid">
			<h1 class="col-xs-6">{trans key="shipping.advanced_shipping_settings"}</h1>
			<div class="col-xs-6 pull-right text-right btn-toolbar">
				<a href="admin.php?p=shipping">{trans key="common.cancel"}</a>
				<button type="submit" class="btn btn-primary">{trans key="common.save"}</button>
			</div>
		</div>
		<hr class="clearfix">
	</div>

	<fieldset>
		<legend>{trans key="shipping.shipping_origin_address"}</legend>
		<div class="container-fluid">
			<div class="col-sm-12 col-md-6">

				<p class="form-description">{trans key="shipping.shipping_origin_address_desc"}</p>
				{include file="templates/pages/shipping/address-view.html"}
				<div>
					<a href="#" data-role="button" class="btn btn-default" data-toggle="modal" data-target="#modal-company-shipping-address">{trans key="common.edit"}</a>
				</div>
			</div>
		</div>
	</fieldset>
	&nbsp;
	{form form=$shippingSettingsForm}
</form>

{include file="templates/pages/shipping/modal-address.html"}

<script type="text/javascript"><!--
	var countriesStates = {$countriesStates};
	--></script>

<script type="text/javascript" src="content/admin/scripts/shipping-address.js?v={$APP_VERSION}"></script>
<script type="text/javascript" src="content/admin/scripts/shipping.js?v={$APP_VERSION}"></script>