<form name="form-google_marketing" class="form-google_marketing" action="admin.php?p=google_marketing" role="form" method="post" data-auto-validate="1" autocomplete="off" enctype='multipart/form-data'>
	<input type="hidden" name="nonce" id="nonce" value="{$nonce}">	
	<div id="content-header">
		<div class="container-fluid">
			<h1 class="col-xs-6">{trans key="marketing.google_tools"}</h1>
			<div class="col-xs-6 pull-right text-right btn-toolbar">
				<a class="btn" id="button-generate-site-map-top-right" href="">{trans key="marketing.generate_sitemap"}</a>
				<button class="btn btn-primary">{trans key="common.save"}</button>
			</div>
		</div>
		<hr class="clearfix">
	</div>
	{form form=$form}
	<fieldset>
		<legend>{trans key="marketing.generate_sitemap"}</legend>
		<div class="btn-toolbar">
			<button class="btn" type="button" data-toggle="collapse" data-target="#generate_site_map-body">{trans key="common.edit"} <span class="caret"></span></button>
		</div>
		<div id="generate_site_map-body" class="container-fluid collapse">
			<input type="hidden" id="field-mode" name="mode" value="" >
			<div class="form-group field-static col-xs-12 clear-both">
				<span class="static-value">
					{trans key="marketing.generate_sitemap_explanation"} <a target="_blank" href="http://www.google.com/webmasters/">http://www.google.com/webmasters/</a><br>
				</span>
			</div>
			<div class="form-group field-static col-xs-12 clear-both">
				<input class="field-generate_site_map_button btn" type="submit" id="field-generate_site_map_button" name="generate_site_map_button" value="Generate" >
			</div>
		</div>
	</fieldset>
</form>

<script type="text/javascript" src="content/admin/scripts/google-tools.js?v={$APP_VERSION}"></script>