<form name="form-customer" class="form-address" action="admin.php?p=customer" role="form" method="post" data-auto-validate="1" autocomplete="off" enctype='multipart/form-data'>
	<input type="hidden" name="nonce" id="nonce" value="{$nonce}">
	<input type="hidden" name="mode" value="{$mode|gs}">
	{if $id}<input type="hidden" name="id" value="{$id|gs}">{/if}

	<div id="content-header">
		<div class="container-fluid">
			<h1 class="col-xs-6">{trans key="common.editing"} {trans key="customers.customer"} <span class="title">{$title}</span></h1>
			<div class="col-xs-6 pull-right text-right btn-toolbar">
				<a href="admin.php?p=customers">{trans key="common.cancel"}</a>
				<a class="btn" href="admin.php?p=orders&searchParams[uid]={$customer.uid|intval}">View Orders</a>
				<button class="btn btn-primary">{trans key="common.save"}</button>
			</div>
		</div>
		<hr class="clearfix">
	</div>

	<div class="container-fluid" style="margin-bottom:20px;">
		<div class="btn-toolbar clearfix">
			<div class="col-xs-12">
				<a class="btn" href="#" onclick="{if $customer.blocked == 'Yes'}return unlockCustomer({$id});{else}return lockCustomer({$id});{/if}">{if $customer.blocked == 'Yes'}{trans key="customers.unlock_account"}{else}{trans key="customers.lock_account"}{/if}</a>
				{if $paymentProfilePaymentMethodId && $customer.login != 'ExpressCheckoutUser'}
					<a href="#" data-user-id="{$id|gs}" data-payment-method-id="{$paymentProfilePaymentMethodId}" class="payment-profile-add btn">{trans key="customers.add_payment_profile"}</a>
				{/if}
			</div>
		</div>
	</div>
	{form form=$form}

	{include file="templates/pages/admin/profile/modal-generator.html"}

</form>

{**include file="templates/pages/payment-profiles/modal-add-payment-profile-form.html"**}
<div id="edit-payment-profile"></div>
<div id="change-payment-profile"></div>

<script type="text/javascript">
    var countriesStates = {$countriesStates};
	var SecurityAccountBlockingHours = {$SecurityAccountBlockingHours};
</script>

<script type="text/javascript" src="content/admin/scripts/customers.js?v={$APP_VERSION}"></script>
<script type="text/javascript" src="content/admin/scripts/payment-profiles.js?v={$APP_VERSION}"></script>
<script type="text/javascript" src="content/vendors/clipboard/clipboard.min.js?v={$APP_VERSION}"></script>
<script type="text/javascript">
	{literal}
	$(document).ready(function(){

		/* Instantiate Clipboard */
		var clipboard = new Clipboard('#copy-clipboard');

	});
	{/literal}
</script>