<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="customers.customers"}</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
			<div class="btn-group pull-right">
				<a href="admin.php?p=recurring_profiles" class="btn">{trans key="customers.recurring_profiles"}</a>
				<a href="admin.php?p=customer&mode=export_subscribers" class="btn">{trans key="customers.export_subscribers"}</a>
			</div>
		</div>
	</div>
	<hr class="clearfix">
</div>

{** search form starts here **}
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<form role="form" name="form-customers-search" id="form-customers-search" method="get">
				<input type="hidden" name="p" value="customers">
				{form form=$searchForm}
				<div class="col-sm-12">
					<input type="submit" value="Search" class="btn btn-default">
				</div>
			</form>
		</div>
	</div>
</div>
<hr>
{** search form ends here **}

{include file="templates/pages/customers/modal-delete.html"}
{include file="templates/pages/customers/modal-export.html"}

<div class="container-fluid">
	<div class="col-xs-12 col-md-6">
		{if $customers}
			<div class="btn-group">
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						{trans key="common.bulk_actions"}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#" data-toggle="modal" data-target="#modal-customers-export">{trans key="common.export"}</a></li>
						<li><a href="#" data-toggle="modal" data-target="#modal-customers-delete">{trans key="common.delete"}</a></li>
					</ul>
				</div>
			</div>
		{/if}
	</div>
	<!--<div class="col-xs-12 col-md-6 pull-right text-right">-->
		<!--<button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-customers-search">{trans key="common.search"}</button>-->
	<!--</div>-->
</div>
&nbsp;
{if $customers}
	<div class="container-fluid">
		<div class="col-xs-12">
			<table class="table table-striped table-list table-list-customers" data-search-form="#form-customers-search" data-order-by-field="orderBy" data-order-dir-field="orderDir">
				<thead>
					<tr>
						<th style="width:50px;"><input type="checkbox" id="selectAll"></th>
						<th class="sortable" data-sort-field="name">{trans key="customers.customer_list_table.name"}</th>
						<th class="sortable" data-sort-field="username">{trans key="customers.customer_list_table.username"}</th>
						<th class="sortable" data-sort-field="email">{trans key="customers.customer_list_table.email"}</th>
						<th class="sortable" data-sort-field="company">{trans key="customers.customer_list_table.company"}</th>
						<th class="sortable" data-sort-field="phone">{trans key="customers.customer_list_table.phone"}</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{foreach from = $customers item="user"}
						<tr>
							<td><input type="checkbox" class="checkbox-customers" name="row[{$user.uid}]" value="{$user.uid}"></td>
							<td><a href="admin.php?p=customer&mode=update&id={$user.uid}">{$user.fname|htmlspecialchars} {$user.lname|htmlspecialchars}</a></td>
							<td><a href="admin.php?p=customer&mode=update&id={$user.uid}">{$user.login|htmlspecialchars}</a></td>
							<td>{$user.email|htmlspecialchars}</td>
							<td>{$user.company|htmlspecialchars}</td>
							<td>{$user.phone|htmlspecialchars}</td>
							<td class="list-actions text-right">
								<a href="admin.php?p=customer&mode=update&id={$user.uid}"><span class="icon icon-edit"></span>{trans key="common.edit"}</a>
								<a href="admin.php?p=orders&searchParams[uid]={$user.uid}&searchParams[status]=any"><span class="icon icon-orders"></span>{trans key="customers.view_orders"}</a>
								<a href="#" onclick="return removeCustomer({$user.uid}, '{$delete_nonce}');"><span class="icon icon-delete"></span>{trans key="common.delete"}</a>
							</td>
						</tr>
					{/foreach}
				</tbody>
			</table>
			
			<div class="custom-pager">
				{if $paginator->prevPage}
					<a role="button" class="btn btn-default" href="admin.php?p=customers&amp;page={$paginator->prevPage}"><span class="icon icon-pagination-left"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-left"></span></button>
				{/if}
	
				{if $paginator->nextPage}
					<a role="button" class="btn btn-default" href="admin.php?p=customers&amp;page={$paginator->nextPage}"><span class="icon icon-pagination-right"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-right"></span></button>
				{/if}
	
				<span class="text">{$paginator->itemsFrom}-{$paginator->itemsTo} <span class="of">{trans key="common.of"}</span>  {$paginator->itemsCount}</span>
			</div>
		</div>
	</div>
{else}
	<div class="container-fluid">
		<div class="col-xs-12">
			{trans key="customers.no_records"}
		</div>
	</div>
{/if}
<script type="text/javascript" src="content/admin/scripts/customers.js?v={$APP_VERSION}"></script>