<div class="modal fade" id="modal-customers-export" tabindex="-1" role="dialog" aria-labelledby="modal-customers-export-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-customers-export">
			<input type="hidden" name="nonce" value="{$export_nonce}">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-customers-export-label">{trans key="customers.export_customers"}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group col-xs-12">
						<label><input type="radio" name="form-customers-export-mode" value="selected" checked> {trans key="customers.export_selected"}</label>
						<label><input type="radio" name="form-customers-export-mode" value="all"> {trans key="customers.export_all"}</label>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="button" class="btn btn-primary" data-action="action-customers-export">{trans key="common.export"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
