<div class="modal fade" id="modal-customers-delete" tabindex="-1" role="dialog" aria-labelledby="modal-customers-delete-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-customers-delete">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-customers-delete-label">{trans key="customers.delete_customers"}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group col-xs-12">
						<label><input type="radio" name="form-customers-delete-mode" value="selected" checked> {trans key="customers.delete_selected"}</label>
						<label><input type="radio" name="form-customers-delete-mode" value="search"> {trans key="customers.delete_all_customers_from_search"} ({trans key="customers.all_found"} {$itemsCount})</label>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="button" nonce="{$delete_nonce}" class="btn btn-primary" data-action="action-customers-delete">{trans key="common.delete"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>