{foreach from=$paymentProfiles item="paymentProfile"}
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 payment-profile-view-container">
		{include file="templates/pages/payment-profiles/payment-profile-view.html"}
		<div style="margin-top: 10px;">
			<a href="#" class="btn payment-profile-update" data-role="button">{trans key="common.edit"}</a>
			<a href="#" class="btn payment-profile-delete" data-role="button">{trans key="common.delete"}</a>
		</div>
	</div>
{foreachelse}
	<div class="col-xs-12">{trans key="customers.no_payment_profiles"}</div>
{/foreach}