<div class="modal-header">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<h3 class="modal-title" id="my-modal-label">
				{trans key="quick_start_guide.title"}
				<div class="visible-xs quick-start-guide-close-xs">
					<div class="pull-right quick-start-guide-close"><a href="#"><span class="glyphicon glyphicon-remove"></span></a></div>
				</div>
			</h3>
		</div>
		<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
			<div class="navbar">
				<div class="navbar-inner">
					<div class="container">
						<ul>
							<li><a class="step cursor-default" href="#" data-target=".step-one" data-toggle="tab" data-step="1">1</a></li>
							<li><a class="step cursor-default" href="#" data-target=".step-two" data-toggle="tab" data-step="2">2</a></li>
							<li><a class="step cursor-default" href="#" data-target=".step-three" data-toggle="tab" data-step="3">3</a></li>
							<li><a class="step cursor-default" href="#" data-target=".step-four" data-toggle="tab" data-step="4">4</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-1 hidden-xs quick-start-guide-close-lg">
			<div class="pull-right quick-start-guide-close"><a href="#"><span class="glyphicon glyphicon-remove"></span></a></div>
		</div>
	</div>
</div>
<div class="modal-body qsg-form-elem">
	<div class="alert qsg-alert-success alert-modal hidden" role="alert">Success!</div>
	<form id="quick-start-guide-form" class="form-address" action="" role="form" method="post" data-auto-validate="1" enctype="multipart/form-data">
		<div class="tab-introduction">
			{include file="templates/pages/quick-start-guide/content/introduction/index.html"}
		</div>
		<div class="tab-content hidden">
			<div class="tab-pane step-one">
				{include file="templates/pages/quick-start-guide/content/step-one/index.html"}
			</div>
			<div class="tab-pane step-two">
				{include file="templates/pages/quick-start-guide/content/step-two/index.html"}
			</div>
			<div class="tab-pane step-three">
				{include file="templates/pages/quick-start-guide/content/step-three/index.html"}
			</div>
			<div class="tab-pane step-four">
				{include file="templates/pages/quick-start-guide/content/step-four/index.html"}
			</div>
		</div>
		<div class="tab-confirmation hidden">
			<div class="content row"></div>
		</div>
		<div class="tab-recommendations hidden">
			<div class="content">
				{include file="templates/pages/quick-start-guide/content/recommendations/index.html"}
			</div>
		</div>
	</form>
</div>
<div class="modal-footer modal-footer-content">
	<div class="footer-introduction">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 message text-left">
				{include file="templates/pages/quick-start-guide/footer/introduction/index.html"}
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 pull-right">
					<a class="btn btn-primary btn-block get-started" href="#" role="button">Get started</a>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-content hidden">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 message text-left">
				<div class="tab-content">
					<div class="tab-pane step-one">
						{include file="templates/pages/quick-start-guide/footer/step-one/index.html"}
					</div>
					<div class="tab-pane step-two">
						{include file="templates/pages/quick-start-guide/footer/step-two/index.html"}
					</div>
					<div class="tab-pane step-three">
						{include file="templates/pages/quick-start-guide/footer/step-three/index.html"}
					</div>
					<div class="tab-pane step-four">
						{include file="templates/pages/quick-start-guide/footer/step-four/index.html"}
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<div class="pager wizard">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pull-right hidden">
							<a class="btn btn-primary btn-block next finish" href="#" role="button">Finish</a>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pull-right">
							<a class="btn btn-primary btn-block next" href="#" role="button">Next step</a>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pull-right hidden">
							<a class="btn btn-primary btn-block previous go-back" href="#" role="button">Go back</a>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pull-right clear-both">
							<a class="later" href="#">I'll do this later</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-confirmation hidden">
		<div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right">
					<a class="btn btn-primary btn-block proceed disabled" href="#" role="button" disabled="disabled">Proceed</a>
					<a class="btn btn-primary btn-block continue-recommendations disabled hidden" href="#" role="button" disabled="disabled">Continue to recommendations</a>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right">
					<a class="btn btn-primary btn-block go-back disabled" href="#" role="button" disabled="disabled">Go back</a>
					<a class="btn btn-primary btn-block close-qsg disabled hidden" href="#" role="button" disabled="disabled">Close Quick Start Guide</a>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-recommendations hidden">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 message text-left">
				{include file="templates/pages/quick-start-guide/footer/recommendations/index.html"}
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<div class="pager">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pull-right">
							<a class="btn btn-primary btn-block recommendations-finish" href="#" role="button">Finish</a>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pull-right">
							<a class="btn btn-primary btn-block go-back" href="#" role="button">Go back</a>
						</div>
						<!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pull-right clear-both">-->
							<!--<a class="no-thanks" href="#">No Thanks</a>-->
						<!--</div>-->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{literal}
<script type="text/javascript">
	var countriesStates = {/literal}{$countriesStates}{literal};
</script>
{/literal}
<script type="text/javascript" src="content/admin/scripts/quick-start-guide.js?v={$APP_VERSION}"></script>
<script type="text/javascript" src="content/admin/scripts/social-sharing.js?v={$APP_VERSION}"></script>