/** overlays and drag-n-drop**/
#design-dashboard{line-height:15px;}
div.layout-overlay { float: left; position: absolute; z-index: 1000; display: none; }
div.layout-overlay-active,
div.layout-overlay-hover { background: url(../../../images/admin/drop_here.png) no-repeat #cccccc center; }

div.design-draggable { padding: 0.3em; width: 200px; border: 1px dashed #666; background: #fff; z-index: 1010; -moz-border-radius: 2px; font-size: 0.9em; text-align: center; position:relative;}
div.design-draggable .ui-icon{display:none;}

/** common styles fixes **/
.design-mode.ui-dialog {z-index:9999;padding:0;font-size:12px;font-family:Arial;}
.design-mode.ui-dialog .ui-dialog-titlebar .ui-button{position:absolute;}
.design-mode.ui-dialog .ui-dialog-content {border:none;}
.design-mode.ui-dialog .ui-dialog-content fieldset{border-radius:5px;border:1px solid #a1a1a1;padding:10px;}
.design-mode.ui-dialog .ui-dialog-content fieldset legend{font-size:1.1em;}
.design-mode.ui-dialog .ui-dialog-buttonpane{border:none;border-top:1px solid #ccc;padding:10px 20px;}
.design-mode.ui-dialog .ui-dialog-buttonpane .ui-button{margin-left:7px;}

.design-mode.ui-dialog .catalog-page-layout{float:left;width:12.5%;text-align:center;}

.design-mode.ui-dialog .ui-tabs {border:none;}
.design-mode.ui-dialog .ui-tabs ul.ui-tabs-nav li a{padding:3px 6px;margin:0px;}
.design-mode.ui-dialog .ui-tabs .ui-tabs-panel {padding:3px;}

/**
.design-mode.ui-dialog .ui-dialog-content .ui-icon {float:left;}
.design-mode.ui-dialog .ui-dialog-content fieldset {padding:5px;margin:0px 0px 0px 0px;}
.design-mode.ui-dialog .ui-dialog-content fieldset:last-child{margin:0px;}
.design-mode.ui-dialog .ui-dialog-content fieldset legend {padding:0px; text-transform:capitalize;}
**/
.ui-widget-overlay{background:black;filter:alpha(opacity=70);opacity:.7;position:fixed;top:0;left:0;width:99.999%;height:99.999%;z-index:9888;}

/** dialogs, editors, etc **/
.design-mode.ui-dialog .design-dialog-content-wrap{padding:0px;margin:15px;}
.design-mode.ui-dialog .design-dialog-content-wrap .field{margin:0px 0px 10px 0px;}
.design-mode.ui-dialog .design-dialog-content-wrap .field:last-child{margin:none;}
.design-mode.ui-dialog .design-dialog-content-wrap .field label{font-size:12px;display:block;}
.design-mode.ui-dialog .design-dialog-content-wrap input[type='text']{padding:5px 5px;font-size:13px;border:1px solid #A1A1A1;background-color:white;box-shadow:inset 0px 0px 7px 3px #e7e7e7;border-radius:4px;}
.design-mode.ui-dialog .design-dialog-content-wrap select{padding:5px 5px;font-size:13px;border:1px solid #A1A1A1;background-color:white;border-radius:4px;}
.design-mode.ui-dialog .design-dialog-content-wrap textarea{resize:none;height:480px;padding:5px 5px;font-size:13px;font-family:Courier;border:1px solid #A1A1A1;border-radius:4px;}
.design-mode.ui-dialog .design-dialog-content-wrap textarea.new-element{height:225px;}
.design-mode.ui-dialog .design-dialog-content-wrap .error{color:#AA0000;font-weight:bold;}

/** progress and loading **/
#left .design-mode-loading,
#right .design-mode-loading {display:block;width:100%;margin:auto;margin-top:5px;}
#content .design-mode-loading {display:block;width:100%;margin:auto;margin-top:5px;}
.design-mode-loading .design-mode-loading-wrap{background:#F9F9F9;font-size:12px;margin:0px 5px;border:1px solid #666666;padding:5px 0px 5px 24px;background: url(./../../../images/admin/loader.gif) no-repeat 4px 4px;}

#design-loader{text-align:left;padding:20px 15px 15px 110px;background:url(./../../../images/admin/spinner-big.gif) no-repeat 20px 20px;font-size:1.2em;color:#222222;}

/** outline **/
.outline {outline-color:red;outline-style:dashed;outline-width:1px;}

/** styles editor **/
#design-dialog-styles-editor-map li{cursor:pointer}
#design-dialog-styles-editor-tabs-ul {background:none;border-radius:0px;border-top:none;border-left:none;border-right:none;}
#design-dialog-styles-editor-tabs{padding:0px;margin:0px;}
#design-dialog-styles-editor .ui-tabs-panel{padding:20px 20px 0px 20px;border-left:1px solid #aaa;border-right:1px solid #aaa;border-bottom:1px solid #aaa;border-radius:0px 0px 4px 4px;}
#design-dialog-styles-editor .ui-tabs-panel .editable-select-text{width:140px;}
#design-dialog-styles-editor .ui-tabs-nav li{margin-left:2px;}
#design-dialog-styles-editor .ui-tabs-nav li:first-child{margin-left:10px;}
/**
#design-dialog-styles-editor-css {height:300px;}
#design-dialog-styles-editor .ui-tabs{padding:0px;margin:0px;}
#design-dialog-styles-editor .ui-tabs-panel{padding:0px;margin:0px;}
/**#design-dialog-styles-editor-tab-visual input[type='text'],
#design-dialog-styles-editor-tab-visual select{float:left;width:135px;font-size:11px;padding:2px;}
**/
/**
#design-dialog-styles-editor-tab-visual input[type='text']{float:left;width:135px;}
#design-dialog-styles-editor-tab-visual input[type='text'].editable-select-text{float:left;width:120px;}
#design-dialog-styles-editor-tab-visual .col-15{padding-top:1px;font-size:11px;}
#design-dialog-styles-editor-tab-visual .gap-bottom{margin:4px;}
#design-dialog-styles-editor .preview-parent .fieldset .field label{width:150px;}
#design-dialog-styles-editor .preview-parent .fieldset .field div {margin-left:160px;}
#design-dialog-styles-editor .preview-parent .fieldset .field div input{width:200px;}
#design-dialog-styles-editor .preview-parent .fieldset .field div div.hint{margin:0px;}
**/

/** save dialog **/
#design-set-selected-options { padding:3px 23px; display:none; }
.design-dialog-save-changes ul { list-style-type: none; }
.design-dialog-save-changes ul li { margin: 5px 0px; }

#design-context-menu {min-width:180px;list-style-type:none;background:#F9F9F9; font-size: 12px;border:2px solid #666666;}
#design-context-menu li {border-bottom:1px dotted #CCCCCC;padding: 3px 7px;}
#design-context-menu li:last-child {border-bottom:none;}
#design-context-menu li:hover {background: #ccc;}
#design-context-menu li .ui-icon {float:left;margin-right:6px;}
#design-context-menu li a:link,
#design-context-menu li a:visited,
#design-context-menu li a:hover {padding:0px;text-decoration:none;color:#333333;background:none;}

.editable{cursor:edit;}

.editable-select-options{border:1px solid gray;background-color:white;overflow:auto;max-height:200px;min-width:150px;z-index:1001;}
.editable-select-options ul{list-style:none;padding:0px;margin:0px;width:99%;}
.editable-select-options ul li{padding:0px;margin:0px;}
.editable-select-options ul li a {text-decoration:none;}
.editable-select-options ul li a div{padding:2px;}
.editable-select-options ul li a:hover div{padding:2px;color:white;background-color:gray;}
.design-mode.ui-dialog .design-dialog-content-wrap input.editable-select-text{padding:5px 18px 5px 5px;background:#ffffff url(./../../../images/admin/editable-select.png) no-repeat right;}
.design-mode.ui-dialog .design-dialog-content-wrap input.editable-select-text.focused{padding:5px 18px 5px 5px;background:url(./../../../images/admin/editable-select.png) no-repeat right;}

/** helper tips **/
div.helpertip,span.helpertip { background: url(../../../images/admin/helpertip.png) no-repeat; float: right; width: 16px; height: 16px; border: none; }
#design-dialog-styles-editor-tab-visual div.helpertip { float: none; display: inline-block;margin-left:3px;}
.ui-dialog-titlebar div.helpertip { margin-right: 4px; }

/** TODO: restore color picker wheel **/
#design-dialog-styles-editor fieldset legend { padding: 0px 10px; }

/** DASHBOARD **/
#design-dashboard .design-mode .ui-widget-header{background-image:none;background-color:black;}

#design-dashboard{font-family:Helvetica,Arial;position:fixed;bottom:0;left:0;width:100%;z-index:1001;padding:0px;border-top:1px solid gray;display:block;}
#design-dashboard .design-dashboard-tabs{border:0px solid black;border-radius:0px;}
.design-dashboard-tabs.ui-tabs {border:none;position:relative;font-size:12px;}
.design-dashboard-tabs.ui-tabs ul.ui-tabs-nav li{background:none;border:none;}
.design-dashboard-tabs.ui-tabs ul.ui-tabs-nav li a{color:white;margin:0px;}
.design-dashboard-tabs.ui-tabs ul.ui-tabs-nav li.ui-state-active{background:none;border:none;}
.design-dashboard-tabs.ui-tabs ul.ui-tabs-nav li.ui-tabs-selected{background:none;border:none;margin-top:-2px;}
.design-dashboard-tabs.ui-tabs ul.ui-tabs-nav li.ui-tabs-selected a,.design-dashboard-tabs.ui-tabs ul.ui-tabs-nav li.ui-tabs-selected a:hover{color:black;background:#ffffff;padding-bottom:7px;}
.design-dashboard-tabs.ui-tabs ul.ui-tabs-nav li a:hover{background:#dddddd;color:#000000;}
.design-dashboard-tabs.ui-tabs .ui-tabs-panel {padding:0px;margin-bottom:18px;} 
.design-dashboard-tabs.ui-tabs .ui-tabs-nav {position:absolute !important;left:0;bottom:0;right:0;padding:0px;padding-left:0px;}
.design-dashboard-tabs.ui-tabs .ui-tabs-nav li {border-top:none;border-bottom-width:1px;border-left:0px;border-right:0px;margin-left:0px;margin-right:0px;margin-top:0px;margin-bottom:0px;}
.design-dashboard-tabs.ui-tabs .ui-widget-header{background:#111111;margin-top:0px;}
#design-dashboard .design-dashboard-panels .panel{background-color:white;}
#design-dashboard .panel{margin:0px;}

/** DASHBOARD TABS **/
li#design-dashboard-tab-save a { background-color: #930011; color: snow; font-weight: bold; }
li#design-dashboard-tab-save a:hover { background-color: #BF0018; }

#design-dashboard li.button{float:left;list-style:none;width:125px;height:15px;padding:4px 2px 4px 22px;font-size:11px;font-family:Helvetica,Arial;background-repeat:no-repeat;background-position:3px 3px;text-align:left;margin-right:0px;margin-top:2px;border:1px solid snow;cursor:pointer;}
#design-dashboard li.button:hover {border:1px solid silver;background-color:#f0f0f0;}

#design-dashboard li.button-panel{background-image:URL('../../../images/icons/application.png');cursor:move;}
#design-dashboard li.button-panel-add{background-image:URL('../../../images/icons/application_add.png');}

#design-dashboard li.button-home{background-image:URL('../../../images/icons/house.png');}
#design-dashboard li.button-hf{background-image:URL('../../../images/icons/application_split.png');}
#design-dashboard li.button-css{background-image:URL('../../../images/icons/css.png');}
#design-dashboard li.button-restore-layout{background-image:URL('../../../images/icons/arrow_redo.png');}
#design-dashboard li.button-restore-skin{background-image:URL('../../../images/icons/arrow_redo.png');}
#design-dashboard li.button-clear-skin-cache{background-image:URL('../../../images/icons/arrow_redo.png');}
#design-dashboard li.button-save-clean-checkout{background-image:URL('../../../images/icons/arrow_redo.png');width: 150px;}

#design-dashboard li.button-images{background-image:URL('../../../images/icons/images.png');}
#design-dashboard li.button-buttons{background-image:URL('../../../images/icons/application_form.png');}
#design-dashboard li.button-headers{background-image:URL('../../../images/icons/application_cascade.png');}

#design-dashboard li.button-layout{background-image:URL('../../../images/icons/layout.png');}
#design-dashboard li.button-menu{background-image:URL('../../../images/icons/application_side_tree.png');}
#design-dashboard li.button-color{background-image:URL('../../../images/icons/color_swatch.png');}
#design-dashboard li.button-color2{background-image:URL('../../../images/icons/color_wheel.png');}
#design-dashboard li.button-font{background-image:URL('../../../images/icons/font.png');}
#design-dashboard li.button-settings{background-image:URL('../../../images/icons/b/gear.png');}

#design-dashboard li.button-catalog{background-image:URL('../../../images/icons/application_view_tile.png');}
#design-dashboard li.button-product{background-image:URL('../../../images/icons/application_view_gallery.png');}


#design-dashboard-show{font-family:Helvetica,Arial;position:fixed;bottom:0;right:0;width:60px;z-index:1001;padding:0px;display:block;}
#design-dashboard-show .design-dashboard-tabs.ui-tabs .ui-tabs-nav{padding:0px;}

#design-dashboard .skin-container{height:210px;overflow-x:scroll;overflow-y:hidden;padding:10px 0px 25px 0px;}
#design-dashboard .themes-area ul.themes{list-style:none;margin:0px;padding:0px;margin-left:10px;}
#design-dashboard .themes-area ul.themes li div{margin:auto;margin:5px 0px;text-align:center;}
#design-dashboard .themes-area ul.themes li{text-align:center;list-style:none;margin:0px 10px 0px 0px;padding:2px;float:left;width:170px;height:200px;border:2px solid #dddddd;border-radius:7px;}
#design-dashboard .themes-area ul.themes li.current{border-color:#aaaaaa;}
#design-dashboard .themes-area ul.themes li:hover{background-color:#f7f7f7;}
#design-dashboard .themes-area ul.themes li img{border:1px solid #dddddd;border-radius:5px;width:140px;max-height:140px;height:140px;}
#design-dashboard .themes-area ul.themes li.more-themes span.download{margin-left:14px;display:block;border:1px solid #dddddd;border-radius:5px;width:140px;max-height:140px;height:140px;background:url(../../../images/icons/b/download.png) no-repeat 52px 52px;}

#design-dialog-styles-editor-map.treeview li
{
	background: url("../../vendors/jquery/treeview/images/treeview-default-line.gif") no-repeat scroll 0 0 transparent;
	border-bottom: none;
	padding: 3px 0 3px 16px;
	text-transform: none;
}

.colorpicker{z-index:11111;margin-top:30px;}

.design-dialog-no-titlebar .ui-dialog-titlebar{display:none;}

div.ui-dialog div#design-dialog-images-editor.ui-dialog-content div.design-dialog-content-wrap div#design-dialog-images-editor-content form a,
div.ui-dialog div#design-dialog-images-editor.ui-dialog-content div.design-dialog-content-wrap div#design-dialog-images-editor-content form a:visited { color:red;text-decoration:underline;cursor:pointer; }