body {
	background-color: #f0f0f0;
	font-family: Helvetica,sans-serif;
	line-height: 1;
}

#loginContainer {
	height: auto;
	left: 50%;
	margin-left: -150px;
	margin-top: 0;
	position: fixed;
	text-align: center;
	top: 20%;
	width: 300px;
}

#loginContainer img {
	margin-bottom: 20px;
}
p {
	font-size: 12px;
	font-weight: 300;
	padding: 14px 19px;
	text-align: left;
	margin: 0 0 20px 0;
}

#loginContainer a {
	color: #399ef4;
}

a#forgotPassword {
	color: #9ca7b0;
	font-size: 10px;
	font-weight: 400;
	position: relative;
	top: -87px;
	left: 82px;
	text-decoration: none;
}

#loginContainer form {
	font-family: Helvetica,sans-serif;
}

h6 {
	color: #8b8b8b;
	font-size: 10px;
	font-weight: 400;
	padding-top: 10px;
	text-align: center;
	width: 300px;
	margin-top: 0;
}
h6 a {
	color: #399ef4;
	text-decoration: none;
}
h6 span {
	color: #399ef4;
}

input {
	background-color: white;
	border: solid 1px #ededed;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	color: #707379;
	font-family: Helvetica,sans-serif;
	font-size: 14px;
	font-weight: 300;
	height: 42px;
	line-height: 42px;
	margin: 0;
	outline: medium none;
	padding: 0 20px;
	width: 300px;
}
input:nth-child(3) {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-top: none;
}
#security_question {
	display: inline-block;
	padding-bottom: 10px;
}
.login-submit {
	background-color: #399ef4;
	border: medium none;
	border-radius: 2px;
	color: white;
	cursor: pointer;
	font-family: Helvetica,sans-serif;
	font-size: 14px;
	font-weight: 400;
	height: 42px;
	line-height: 40px;
	margin: 15px 0 0;
	outline: medium none;
	text-align: center;
	transition: background-color 140ms ease-out 0s;
	width: 100%;
}

@media screen and ( min-height: 600px ) {
	#loginContainer {
		margin-top: -200px;
		top: 50%;
	}
}