<fieldset id="editable2">
	<legend>Encrypted Form Settings</legend>
	<div class="btn-toolbar">
		<button class="btn" data-target="#editable2-body" data-toggle="collapse" type="button">
			Edit
			<span class="caret"></span>
		</button>
	</div>
	<div id="editable2-body" class="collapse container-fluid">
		<div class="col-xs-12">
			<p>
				Advanced Settings
			</p>
			<ol>
				<li>
					<a href="admin.php?p=paypal_payments_standard&action=generate-certificate" data-toggle="modal" data-target="#dialog-gen-csr">Click here</a> to generate and download your cart's public certificate
				</li>
				<li>
					Login to your PayPal Account
				</li>
				<li>
					Under My Account, click on Profile
				</li>
				<li>
					Look for and click the link "Encrypted Payment Settings" (or sometimes the link is "Certificates")
				</li>
				<li>
					Click the Add button under Your Public Certificates
				</li>
				<li>
					Upload the file you generated in Step 1
				</li>
				<li>
					Copy the "Cert ID" value for your public certificate, and paste into the field below
				</li>
				<li>
					To enforce encryption, go to your PayPal Account > Profile >  Website payments preferences, and set "Block Non-encrypted Website Payment" to On
				</li>
			</ol>
		</div>
		{form form=$customForm}
	</div>
</fieldset>
<div id="dialog-gen-csr" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
				<h4 class="modal-title" id="modal-dialog-gen-csr-label">Generate Certificate</h4>
			</div>
			<div class="modal-body">
				<!--<iframe src="admin.php?p=paypalipn_gencsr&printing=1" scrolling="no" style="width:100%;height:475px;overflow:hidden;border:none;"></iframe>-->
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>