<div class="page-product page-product-{$product.pid} product-view-style4 wrap {class file=$smarty.template editable=true}">
	{include file="templates/pages/product/elements/head.html"}

	<div class="product-page-top">
		{if !$is_print_version}
		<div class="spacer col-wrap clearfix">
			<div class="col-75">
				{include file="templates/pages/product/elements/element-bread-crumbs.html"}			
			</div>
			<div class="col-25 text-right">
				{include file="templates/pages/product/elements/element-print.html"}
			</div>
		</div>
		{/if}
	</div>
	
	<div class="col-wrap clearfix">
		<div class="col-33" style="float:right;">
			<div class="other-products gap-left gap-right">
				{include file="templates/pages/product/elements/element-recommended.html"}
				{if !$product_families}
					{include file="templates/pages/product/elements/element-siblings.html"}
				{/if}
			</div>
		</div>
		<div class="col-67">
			<div class="product-page-center">
				{include file="templates/pages/product/elements/element-product-title.html"}
				<div class="col-wrap gap-top">
					<div class="col-50">
						<div class="gap-left gap-right">
							{include file="templates/pages/product/elements/element-image.html"}
							{include file="templates/pages/product/elements/element-secondary-images.html"}
							<div class="text-center">
								<div class="rating-container">
								{include file="templates/pages/product/elements/element-rating.html"}
								{include file="templates/pages/product/elements/element-social.html"}
								</div>
							</div>
						</div>
					</div>
					<div class="col-50">
						<div class="gap-left gap-right">
							{include file="templates/pages/product/elements/element-manufacturer-logo.html"}
							{include file="templates/pages/product/elements/element-manufacturer-name.html"}
							{include file="templates/pages/product/elements/element-price.html"}
							{include file="templates/pages/product/elements/element-product-id.html"}
							{include file="templates/pages/product/elements/element-weight.html"}
							{include file="templates/pages/product/elements/element-stock.html"}
							{include file="templates/pages/product/elements/element-shipping-price.html"}
							{include file="templates/pages/product/elements/element-special-offer.html"}
							{include file="templates/pages/product/elements/element-email-and-wishlist.html"}
							{include file="templates/pages/product/elements/element-overview.html"}
							<!-- hr size="1" style="color:#c0c0c0;width:50%;margin-top:20px;margin-bottom:10px;sfloat:left;clear:both;"/-->
							{include file="templates/pages/product/elements/element-purchase.html"}
						</div>
					</div>
				</div>
			</div>
			{include file="templates/pages/product/elements/element-blocks.html"}
		</div>
	</div>
</div>