<div class="page-product page-product-{$product.pid} product-view-style3 wrap {class file=$smarty.template editable=true}">

	{include file="templates/pages/product/elements/head.html"}

	<div class="product-page-top">
		{if !$is_print_version}
		<div class="spacer col-wrap clearfix">
			<div class="col-75">
				{include file="templates/pages/product/elements/element-bread-crumbs.html"}			
			</div>
			<div class="col-25 text-right">
				{include file="templates/pages/product/elements/element-print.html"}
			</div>
		</div>
		{/if}
		{include file="templates/pages/product/elements/element-product-title.html"}
	</div>
	
	<div class="product-page-center gap-top">
		<div class="product-images text-center">
			<table border="0" cellpadding="0" cellspacing="0" align="center">
				<tr>
					<td>{include file="templates/pages/product/elements/element-image.html"}</td>
					{if !empty($product.secondary_images)}
						<td><div class="gap-left">{include file="templates/pages/product/elements/element-secondary-images.html"}</div></td>
					{/if}
				</tr>
			</table>
		</div>
		<div class="clearfix col-wrap gap-top">
			<div class="col-50">
				<div class="gap-left gap-right">
					{include file="templates/pages/product/elements/element-manufacturer-logo.html"}
					{include file="templates/pages/product/elements/element-manufacturer-name.html"}
					{include file="templates/pages/product/elements/element-price.html"}
					{include file="templates/pages/product/elements/element-product-id.html"}
					{include file="templates/pages/product/elements/element-weight.html"}
					{include file="templates/pages/product/elements/element-stock.html"}
					{include file="templates/pages/product/elements/element-shipping-price.html"}
					{include file="templates/pages/product/elements/element-special-offer.html"}
					{include file="templates/pages/product/elements/element-rating.html"}
					{include file="templates/pages/product/elements/element-social.html"}
					{include file="templates/pages/product/elements/element-email-and-wishlist.html"}
				</div>
			</div>
			<div class="col-50">
				<div class="gap-right">
					{include file="templates/pages/product/elements/element-purchase.html"}
				</div>
			</div>
		</div>
	</div>
	{include file="templates/pages/product/elements/element-blocks.html"}
</div>