<div style="padding-bottom:10px;">
	<div style="margin:20px 20px;font-size:1.30em;">
		{trans key="quickbooks.desc1"}
		<div style="margin:20px 0px;width:620px;padding:30px 10px;border:2px solid #dddddd;border-radius:10px;">
			<table width="600" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td align="center" width="190"><img src="images/admin/logo-light.png?v={$APP_VERSION}"></td>
					<td align="center" width="100"><img src="images/admin/3_arrows.png?v={$APP_VERSION}"></td>
					<td align="center" width="200"><img src="images/admin/intuit_instant_connect.jpg?v={$APP_VERSION}"></td>
				</tr>
			</table>
		</div>
	</div>
	<div style="margin:20px 20px;font-size:1.20em;">
		<table width="643" cellpadding="0" cellspacing="0" border="0">
			<tr valign="top">
				<td>
					<ul>
						<li>{trans key="quickbooks.list1"}<br>&nbsp;</li>
						<li>{trans key="quickbooks.list2"}<br>&nbsp;</li>
						<li>{trans key="quickbooks.list3"}<br>&nbsp;</li>
						<li>{trans key="quickbooks.list4"}<br>&nbsp;</li>
					</ul>

					<div style="font-size:1.2em;color:#509D19;">{trans key="quickbooks.desc2"}</div>

					<div style="margin:10px 0px;">
						{trans key="quickbooks.desc3"}
					</div>

					<div style="font-size:1.1em;">
						{trans key="quickbooks.desc4"}
					</div>
					<div style="">{trans key="quickbooks.desc5"}.</div>
				</td>
				<td width="200">
					<div style="border:1px solid #bbbbbb;text-align:center;">
						<div style="padding:10px;background:#509D19;color:white;font-size:1.1em;">{trans key="quickbooks.desc6"}</div>
						<div style="padding:10px;">
							<div><img src="images/admin/intuit_online.jpg?v={$APP_VERSION}"></div>
							<div style="font-size:1.7em;">{trans key="quickbooks.desc7"}</div>
							<div style="margin:10px 0px 0px 0px;">{trans key="quickbooks.desc8"}</div>
							<div style="font-size:0.85em;">{trans key="quickbooks.desc9"}</div>
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>

{literal}
<script type="text/javascript">
	$(document).ready(function() {
		$('button.app-activate').replaceWith($('<ipp:connectToIntuit></ipp:connectToIntuit>'));

		jQuery.getScript('https://js.appcenter.intuit.com/Content/IA/intuit.ipp.anywhere.js', function() {
			intuit.ipp.anywhere.setup({
				menuProxy: '{/literal}{$menu_proxy}{literal}',
				grantUrl: '{/literal}{$grant_url}{literal}'
			});
			//Need to clear the text
			$('.intuitPlatformConnectButton').html('');
		});
	});
</script>
{/literal}