<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="quickbooks.title"}</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
			<a href="admin.php?p=apps">Cancel</a>
			<a href="#" data-target="#modal-settings" data-toggle="modal" class="btn btn-primary">{trans key="quickbooks.advance_settings"}</a>
		</div>
	</div>
	<hr class="clearfix">
</div>
<div class="container-fluid">
	<h2 class="col-xs-12">{trans key="quickbooks.sync_status"}</h2>
	<div class="col-xs-12 col-md-6 col-lg-4">
		<table class="table table-striped">
			<tr>
				<td>{trans key="quickbooks.connection_status"}:</td>
				<td>{if $intuitConnectionActive}Connected{else}Disconnected{/if}</td>
			</tr>
			<tr>
				<td>{trans key="quickbooks.products_sync"}:</td>
				<td>{$productsStatus.count}</td>
			</tr>
			<tr>
				<td>{trans key="quickbooks.products_last_sync"}:</td>
				<td>{if $productsStatus.last_sync_date != ''}{$productsStatus.last_sync_date}{else}Never{/if}</td>
			</tr>
			<tr>
				<td>{trans key="quickbooks.customer_sync"}:</td>
				<td>{$customersStatus.count}</td>
			</tr>
			<tr>
				<td>{trans key="quickbooks.customer_last_sync"}:</td>
				<td>{if $customersStatus.last_sync_date != ''}{$customersStatus.last_sync_date}{else}Never{/if}</td>
			</tr>
			<tr>
				<td>{trans key="quickbooks.orders_sync"}:</td>
				<td>{$ordersStatus.count}</td>
			</tr>
			<tr>
				<td>{trans key="quickbooks.orders_last_sync"}:</td>
				<td>{if $ordersStatus.last_sync_date != ''}{$ordersStatus.last_sync_date}{else}Never{/if}</td>
			</tr>
		</table>
	</div>
</div>

{$modalSettings}
