<script type="text/javascript">
	var qbVersion = '{$intuit_quickbooks_version}';
</script>

<div class="modal fade" id="modal-quickbooks-quick-start" tabindex="-1" role="dialog" aria-labelledby="modal-quickbooks-quick-start-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-quickbooks-quick-start">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="modal-categories-export-label">{trans key="quickbooks.quickbooks_setup"}</h4>
				</div>
				<div class="modal-body">
					<div id="group-accounts-body" class="container-fluid">
						<div class="form-group field-select required col-xs-6">
							<label for="field-intuit_income_account">
								{trans key="quickbooks.income_account"}
							</label>
							<select class="form-control" id="field-intuit_income_account" name="intuit_income_account">
								{foreach from=$incomeAccounts key=optionKey item=option}
									<option value="{$optionKey}"{if ($optionKey == $intuit_income_account && $intuit_income_account != '') || ($option == $defaultIncomeAccountName)} selected="selected"{/if}>{$option}</option>
								{/foreach}
							</select>
						</div>
						<div class="form-group field-select col-xs-6">
							<label for="field-intuit_expense_account">
								{trans key="quickbooks.expense_account"}
							</label>
							<select class="form-control" id="field-intuit_expense_account" name="intuit_expense_account">
								{foreach from=$expenseAccounts key=optionKey item=option}
									<option value="{$optionKey}"{if $optionKey == $intuit_expense_account} selected="selected"{/if}>{$option}</option>
								{/foreach}
							</select>
						</div>
					</div>

					<div id="group-basic-body" class="container-fluid">
						<div class="form-group field-checkbox col-xs-12">
							<label>
								<input type="checkbox" class="form-control field-checkbox" id="field-intuit_sync_taxes" name="intuit_sync_taxes" value="1"{if $intuit_sync_taxes == 'Yes'} checked="checked"{/if}>
								{trans key="quickbooks.company_quickbooks"}
							</label>
						</div>

						<div class="form-group field-select col-xs-6">
							<label for="field-intuit_taxable_tax_code">
								{trans key="quickbooks.taxable_tax_code"}
							</label>
							<select class="form-control" id="field-intuit_taxable_tax_code" name="intuit_taxable_tax_code">
								{foreach from=$taxableTaxCodes key=optionKey item=option}
									<option value="{$optionKey}"{if $optionKey == $intuit_taxable_tax_code} selected="selected"{/if}>{$option}</option>
								{/foreach}
							</select>
						</div>

						<div class="form-group field-select col-xs-6">
							<label for="field-intuit_nontaxable_tax_code">
								{trans key="quickbooks.non_taxable_tax_code"}
							</label>
							<select class="form-control" id="field-intuit_nontaxable_tax_code" name="intuit_nontaxable_tax_code">
								{foreach from=$nonTaxableTaxCodes key=optionKey item=option}
									<option value="{$optionKey}"{if $optionKey == $intuit_nontaxable_tax_code} selected="selected"{/if}>{$option}</option>
								{/foreach}
							</select>
						</div>

						<div class="form-group field-select col-xs-6">
							<label for="field-intuit_default_tax_rate_name">
								{trans key="quickbooks.default_taxable_tax_rate"}
							</label>
							<select class="form-control" id="field-intuit_default_tax_rate_name" name="intuit_default_tax_rate_name">
								{foreach from=$salesTaxRates key=optionKey item=option}
									<option value="{$optionKey}"{if $optionKey == $intuit_default_tax_rate_name} selected="selected"{/if}>{$option}</option>
								{/foreach}
							</select>
						</div>

						<div class="form-group field-select col-xs-6">
							<label for="field-intuit_zero_tax_rate_name" class="caption">
								{trans key="quickbooks.non_taxable_tax_rate"}
							</label>
							<select class="form-control" id="field-intuit_zero_tax_rate_name" name="intuit_zero_tax_rate_name">
								{foreach from=$salesTaxRates key=optionKey item=option}
									<option value="{$optionKey}"{if $optionKey == $intuit_zero_tax_rate_name} selected="selected"{/if}>{$option}</option>
								{/foreach}
							</select>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary">{trans key="common.continue"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>