{** search form starts here **}
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<form role="form" name="form-testimonials-search" id="form-testimonials-search" method="get">
				<input type="hidden" name="p" value="testimonials">
				{form form=$searchForm}
				<div class="col-sm-12">
					<input type="submit" value="Search" class="btn btn-default">
				</div>
			</form>
		</div>
	</div>
</div>
<hr>
{** search form ends here **}

<div id="content-header">
	<div class="container-fluid">
		{if $testimonials_Enabled == 'No'}
		<h1 class="col-xs-6">{trans key="testimonials.testimonials"} ({trans key="common.disabled"})</h1>
		{else}
		<h1 class="col-xs-6">{trans key="testimonials.testimonials"}</h1>
		{/if}
		<div class="col-xs-6 pull-right text-right btn-toolbar">
			{if $testimonials_Enabled == 'Yes'}<a href="admin.php?p=testimonial&mode=add" class="btn btn-primary pull-right">{trans key="testimonials.add_testimonial"}</a>{/if}
			<div class="btn-group pull-right">
				<a class="btn" href="#" data-target="#modal-settings" data-toggle="modal">{trans key="testimonials.advanced_settings"}</a>
			</div>
		</div>
	</div>
	<hr class="clearfix">
</div>

{if $testimonials}
	<div class="container-fluid">
		<div class="col-xs-3 col-md-3">
			<div class="btn-group">
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						{trans key="common.bulk_actions"}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#" data-toggle="modal" data-target="#modal-testimonials-update-statuses">{trans key="testimonials.update_status"}</a></li>
						<li><a href="#" data-toggle="modal" data-target="#modal-testimonials-delete">{trans key="common.delete"}</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-xs-9 col-md-9 text-right">
			<h2 class="testimonial-average-label">{trans key="testimonials.average_score"} : {$averageRating}</h2>
		</div>
	</div>
	&nbsp;
	<div class="container-fluid">
		<div class="col-xs-12 col-md-12">
			<table class="table table-striped table-list table-list-testimonials" data-search-form="#form-testimonials-search" data-order-by-field="orderBy" data-order-dir-field="orderDir">
				<thead>
					<tr>
						<th style="width:50px;"><input type="checkbox" id="selectAll"></th>
						<th class="sortable" data-sort-field="name">{trans key="testimonials.name"}</th>
						<th class="sortable" data-sort-field="date_created">{trans key="common.date"}</th>
						<th class="sortable" data-sort-field="company">{trans key="testimonials.company"}</th>
						<th class="sortable" data-sort-field="rating">{trans key="testimonials.rating"}</th>
						<th class="sortable" data-sort-field="testimonial">{trans key="testimonials.testimonial"}</th>
						<th class="sortable" data-sort-field="status">{trans key="testimonials.status"}</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{foreach from=$testimonials item="testimonial"}
						<tr>
							<td><input type="checkbox" class="checkbox-testimonial" name="row[{$testimonial.id}]" value="{$testimonial.id}"></td>
							<td><a href="admin.php?p=testimonial&mode=update&id={$testimonial.id}">{$testimonial.name|htmlspecialchars}</a></td>
							<td>{$testimonial.date_created_formatted}</td>
							<td><a href="admin.php?p=testimonial&mode=update&id={$testimonial.id}">{$testimonial.company|htmlspecialchars}</a></td>
							<td>{$testimonial.rating}</td>
							<td>{$testimonial.testimonial|truncate:40:" ..."|nl2br}</td>
							<td>
								{if $testimonial.status == 'approved'}
								{trans key="testimonials.status_options.approved"}
								{elseif $testimonial.status == 'declined'}
								{trans key="testimonials.status_options.declined"}
								{else}
								{trans key="testimonials.status_options.pending"}
								{/if}
							</td>
							<td class="list-actions text-right" nowrap>
								<a href="admin.php?p=testimonial&mode=update&id={$testimonial.id}"><span class="icon icon-edit"></span>{trans key="common.edit"}</a>
								<a href="#" onclick="return removeTestimonial({$testimonial.id}, '{$delete_nonce}');"><span class="icon icon-delete"></span>{trans key="common.delete"}</a>
							</td>
						</tr>
					{/foreach}
				</tbody>
			</table>
			<div class="custom-pager">
				{if $paginator->prevPage}
					<a role="button" class="btn btn-default" href="admin.php?p=testimonials&amp;page={$paginator->prevPage}"><span class="icon icon-pagination-left"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-left"></span></button>
				{/if}

				{if $paginator->nextPage}
					<a role="button" class="btn btn-default" href="admin.php?p=testimonials&amp;page={$paginator->nextPage}"><span class="icon icon-pagination-right"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-right"></span></button>
				{/if}

				<span class="text">{$paginator->itemsFrom}-{$paginator->itemsTo} <span class="of">of</span>  {$paginator->itemsCount}</span>
			</div>
		</div>
	</div>
{else}
	<div class="container-fluid">
		<div class="col-xs-12 col-md-12">
			{if $testimonials_Enabled == 'No'}
				{trans key="testimonials.testimonials_disabled"}
			{else}
				{trans key="testimonials.no_testimonials"}
			{/if}
		</div>
	</div>
{/if}

{include file="templates/pages/testimonial/modal-settings.html"}
{include file="templates/pages/testimonial/modal-update-statuses.html"}
{include file="templates/pages/testimonial/modal-delete.html"}

<script type="text/javascript" src="content/admin/scripts/testimonials.js?v={$APP_VERSION}"></script>