<div class="modal fade" id="modal-testimonials-update-statuses" tabindex="-1" role="dialog" aria-labelledby="modal-testimonials-update-statuses-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-testimonials-update-statuses">
			<input type="hidden" name="nonce" value="{$update_statuses_nonce}">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-testimonials-update-statuses-label">{trans key="testimonials.update_status"}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group col-xs-12">
						<label><input type="radio" name="form-testimonials-update-statuses-mode" value="selected" checked> {trans key="testimonials.update_selected"}</label>
						<label><input type="radio" name="form-testimonials-update-statuses-mode" value="search"> {trans key="testimonials.update_all" itemsCount=$itemsCount} </label>
						<label>{trans key="testimonials.set_status"}
							<select name="form-testimonials-update-statuses-new-status">
								<option value="approved">{trans key="testimonials.new_status_options.approved"}</option>
								<option value="declined">{trans key="testimonials.new_status_options.declined"}</option>
							</select>
						</label>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary">{trans key="common.update"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
