<form name="thumbs_generator_scan" action="admin.php?p=thumbs_generator&mode=scan" method="POST">
	<input type="hidden" name="nonce" value="{$nonce}">

	<div id="content-header">
		<div class="container-fluid">
			<h1 class="col-xs-6">{trans key="thumbs_generator.thumbnail_generator"}</h1>
			<div class="col-xs-6 pull-right text-right btn-toolbar">
				<div class="btn-group pull-right">
					<a href="#" class="btn cleanup-images">{trans key="thumbs_generator.cleanup_images"}</a>
					<a href="#" class="btn sync-secondary-images">{trans key="thumbs_generator.sync_secondary_images"}</a>
					<button type="submit" class="btn btn-primary">{trans key="thumbs_generator.scan_images"}</button>
				</div>
			</div>
		</div>
		<hr class="clearfix">
	</div>

	<div class="container-fluid">
		<div class="col-xs-12">
			<p>{trans key="thumbs_generator.desc"}
			</p>
			{form form=$form}
		</div>
	</div>
</form>

<script type="text/javascript" src="content/admin/scripts/thumbs-generator.js?v={$APP_VERSION}"></script>