<div class="modal fade" id="modal-generate-progress" tabindex="-1" role="dialog" aria-labelledby="modal-generate-progress-label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="modal-generate-progress-label">{trans key="thumbs_generator.generate_progress"}</h4>
			</div>
			<div class="modal-body">
				<div class="progress col-xs-12 progress-striped active" style="display: none;">
					<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0;">
						<span class="sr-only">{trans key="thumbs_generator.zero_percent_complete"}</span>
					</div>
				</div>
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>