<form name="thumbs_generator_generate" action="admin.php?p=thumbs_generator&mode=generate" method="POST">
	<input type="hidden" name="nonce" value="{$nonce}">
	<input type="hidden" name="generateType" value="{$generateType|gs}">
	<input type="hidden" name="generateTarget" value="{$generateTarget|gs}">
	<input type="hidden" name="optimizePrimary" value="{$optimizePrimary|gs}">

	<div id="content-header">
		<div class="container-fluid">
			<h1 class="col-xs-6">{trans key="thumbs_generator.thumbnail_generator"}</h1>
			<div class="col-xs-6 pull-right text-right btn-toolbar">
				<a href="admin.php?p=thumbs_generator">{trans key="common.back"}</a>
				{if $totalCount > 0}<button type="submit" class="btn btn-primary">{trans key="thumbs_generator.generate"}</button>{/if}
			</div>
		</div>
		<hr class="clearfix">
	</div>

	<div class="container-fluid">
		<div class="col-xs-12">
			{if $totalCount > 0}
			<p>
			{trans key="thumbs_generator.num_images_found" totalCount=$totalCount}
			</p>
			
			{else}
			<p>{trans key="thumbs_generator.no_images_found"}.</p>
			{/if}
		</div>
	</div>
</form>

{include file="templates/pages/thumbs-generator/modal-generate-progress.html"}

<script type="text/javascript" src="content/admin/scripts/thumbs-generator.js?v={$APP_VERSION}"></script>