{if $isAdmin && $isDesignMode}
	{script src="content/vendors/jquery/contextmenu/jquery.contextMenu.custom.js"}
	{script src="content/vendors/swfobject/swfobject.js"}
	
	{script src="content/vendors/jquery/colorpicker/js/colorpicker.js"}
	{script src="content/vendors/jquery/parsecss/jquery.parsecss.js"}
	{script src="content/vendors/jquery/uploadify/jquery.uploadify.v2.1.0.min.js"}
	{script src="content/vendors/jquery/qtip/jquery.qtip-1.0.min.js"}
	{script src="content/vendors/jquery/fancybox/jquery.fancybox.js"}
	
	{script src="content/vendors/tinymce/tinymce.min.js"}
	{script src="content/admin/javascript/tiny_mce_designmode.php"}
	
	{script src="content/admin/javascript/design_mode_dialogs.js"}
	{script src="content/admin/javascript/design_mode_dashboard.js"}
	{script src="content/admin/javascript/design_mode.js"}
	{script src="content/admin/javascript/jquery.ddm.core.js"}

	{link href="content/vendors/jquery/ui/themes/smoothness/smoothness.css"}
	{link href="content/vendors/jquery/smartsuggest/css/jquery.smartsuggest.css"}
	{link href="content/vendors/jquery/treeview/jquery.treeview.css"}

	{link path=$skin_styles href="base.css" id="css-base"}
	{link path=$skin_styles href="skin.css" id="css-skin"}
	{link path=$skin_themes href=$DesignSkinTheme|cat:'.css' id="css-theme"}
	{link path=$skin_styles href="custom.css" id="css-custom"}
	
	{link href="content/vendors/jquery/ui/themes/design-mode/design-mode.css"}
	{link href="content/vendors/jquery/contextmenu/jquery.contextMenu.css"}
	{link href="content/vendors/jquery/colorpicker/css/colorpicker.css"}
	{link href="content/vendors/jquery/uploadify/uploadify.css"}
	{link href="content/vendors/jquery/fancybox/jquery.fancybox-1.3.0.css"}
	{link href="content/admin/styles/design_mode.css"}

	{link path=$skin_styles href="designmode.css" id="css-designmode" nocache=true}
	
	<div id="design-mode" class="design-mode invisible">
		<script type="text/javascript">
			var currentThemes = {$currentThemes};
			var themesInstallable = {$themesInstallable};
		</script>
		<script type="text/javascript">{php}
			echo 'var dmsid = "'.session_id().'";';
			echo 'var max_file_uploads = '.(ini_get('max_file_uploads') ? ini_get('max_file_uploads') : 1000).';';
		{/php}</script>
		{include file="templates/admin/elements/design-dashboard.html"}
		{include file="templates/admin/elements/design-dialog-save-changes.html"}
		{include file="templates/admin/elements/design-dialog-html-editor.html"}
		{include file="templates/admin/elements/design-dialog-images-editor.html"}
		{include file="templates/admin/elements/design-dialog-colors-editor.html"}
		{include file="templates/admin/elements/design-dialog-fonts-editor.html"}
		{include file="templates/admin/elements/design-dialog-new-element.html"}
		{include file="templates/admin/elements/design-dialog-styles-editor.html"}
		{include file="templates/admin/elements/design-dialog-layout-editor.html"}
		{include file="templates/admin/elements/design-dialog-custom-css-editor.html"}
		{include file="templates/admin/elements/design-context-menu.html"}
		{include file="templates/admin/elements/design-loader.html"}
		{include file="templates/admin/elements/design-auto-logout.html"}
		{include file="templates/admin/elements/design-preview.html"}
	</div>
{/if}