<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="product.family.recommended_products"}</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
			<a href="#" data-target="#modal-products-families-add" data-toggle="modal" class="btn btn-primary pull-right">{trans key="product.family.add"}</a>
		</div>
	</div>
	<hr class="clearfix">
</div>

{if $productsfamilies}
    {include file="templates/pages/product-family/modal-delete.html"}
    <div class="container-fluid">
        <div class="col-xs-12 col-md-6">
            <div class="btn-group">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        {trans key="common.bulk_actions"}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" data-toggle="modal" data-target="#modal-products_families-delete">{trans key="common.delete"}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
	<div class="container-fluid">
		<div class="col-xs-12">
			<table class="table table-striped">
				<thead>
					<tr>
                        <th style="width:50px;"><input type="checkbox" id="selectAll"></th>
						<th>{trans key="product.family.title"}</th>
                        <th></th>
					</tr>
				</thead>
				<tbody>
					{foreach from=$productsfamilies item="family"}
						<tr>
                            <td><input type="checkbox" class="checkbox-products_families" name="row[{$family.pf_id}]" value="{$family.pf_id}"></td>
							<td><a href="admin.php?p=products_family&mode=update&id={$family.pf_id}">{$family.name|htmlspecialchars}</a></td>
                            <td class="list-actions text-right">
                                <a href="admin.php?p=products_family&mode=update&id={$family.pf_id}"><span class="icon icon-edit"></span>{trans key="common.edit"}</a>
                                <a href="#" onclick="return ProductFamily.remove({$family.pf_id}, '{$delete_nonce}');"><span class="icon icon-delete"></span>{trans key="common.delete"}</a>
                            </td>
						</tr>
					{/foreach}
				</tbody>
			</table>
			
			<div class="custom-pager">
				{if $paginator->prevPage}
					<a role="button" class="btn btn-default" href="admin.php?p=products_families&amp;page={$paginator->prevPage}"><span class="icon icon-pagination-left"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-left"></span></button>
				{/if}
	
				{if $paginator->nextPage}
					<a role="button" class="btn btn-default" href="admin.php?p=products_families&amp;page={$paginator->nextPage}"><span class="icon icon-pagination-right"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-right"></span></button>
				{/if}
	
				<span class="text">{$paginator->itemsFrom}-{$paginator->itemsTo} <span class="of">{trans key="common.of"}</span> {$paginator->itemsCount}</span>
			</div>
		</div>
	</div>
{else}
	<div class="container-fluid">
		<div class="col-xs-12">
			{trans key="product.family.none_found"}
		</div>
	</div>
{/if}

{include file="templates/pages/product-family/modal-add.html"}
<script type="text/javascript" src="content/admin/scripts/product-family.js?v={$APP_VERSION}"></script>
