<div class="modal fade" id="modal-products-families-add" tabindex="-1" role="dialog" aria-labelledby="modal-products-families-add-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-products-families-add" action="admin.php?p=products_family">
			<input type="hidden" name="mode" value="{$mode|gs}">
			<input type="hidden" name="nonce" value="{$addNonce}">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-products-families-add-label">{trans key="product.family.add"}</h4>
				</div>
				<div class="modal-body">
					{form form=$addForm}
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary" data-action="action-products-families-add">{trans key="common.save"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>