<div class="pikfly-area clearfix" id="pikfly-area-{$deliveryArea.ssid}" data-ssid="{$deliveryArea.ssid}" data-zipcodes="{$deliveryArea.zip_codes}">
	<h2 class="col-xs-6">
		{$deliveryArea.title|gs}
	</h2>
	<div class="col-xs-6 text-right list-actions">
		<a href="admin.php?p=pikfly&mode=edit-area&id={$deliveryArea.ssid}" class="edit-area"><span class="icon icon-edit"></span>{trans key="common.edit"}</a>
		<a href="#" class="delete-area" data-ssid="{$deliveryArea.ssid}" data-nonce="{$delete_nonce}"><span class="icon icon-delete"></span>{trans key="common.delete"}</a>
	</div>
	<div class="col-xs-12">
		<table>
			<tr>
				<td class="text-right">{trans key="pikfly.zip_codes"}:</td>
				<td>{$deliveryArea.zip_codes}</td>
			</tr>
			<tr>
				<td class="text-right">{trans key="pikfly.delivery_days"}:</td>
				<td>
					{foreach from=$deliveryArea.delivery_days item="deliveryDay" name="deliveryDays"}{if $smarty.foreach.deliveryDays.iteration > 1},
					{/if}{$deliveryDay}{/foreach}
				</td>
			</tr>
			<tr>
				<td class="text-right">{trans key="pikfly.order_by"}:</td>
				<td>{$deliveryArea.before_time}</td>
			</tr>
			<tr>
				<td class="text-right">{trans key="pikfly.last_delivery"}:</td>
				<td>{$deliveryArea.last_delivery_time}</td>
			</tr>
			<tr>
				<td class="text-right">{trans key="pikfly.delivery_fee"}:</td>
				<td>{if $deliveryArea.delivery_fee_type == 'amount'}{$deliveryArea.delivery_fee|price}{else}{$deliveryArea.delivery_fee|gn}%{/if}</td>
			</tr>
		</table>
	</div>
</div>