<div class="catalog-view-display-box catalog-products clearfix {class file=$smarty.template editable=true}">
	<table cellspacing="0" cellpadding="0" border="0" class="catalog-list">
		<tr>
		{foreach from=$products item="product" name="cataloglist"}
			<td valign="top" width="50%" class="product-box">
				<div class="catalog-product catalog-product-{$product.pid} clearfix">
					{include file="templates/pages/catalog/elements/element-product-image.html"}
					{include file="templates/pages/catalog/elements/element-product-title.html"}
					{include file="templates/pages/catalog/elements/element-product-hot-deal.html"}
					{include file="templates/pages/catalog/elements/element-product-id.html"}
					{include file="templates/pages/catalog/elements/element-product-price.html"}
					{include file="templates/pages/catalog/elements/element-product-overview.html"}
					{include file="templates/pages/catalog/elements/element-product-sale-price.html"}
					{include file="templates/pages/catalog/elements/element-product-add.html"}
					{include file="templates/pages/catalog/elements/element-product-out-of-stock.html"}
				</div>
			</td>
		{if $smarty.foreach.cataloglist.iteration is div by 2 && not $smarty.foreach.cataloglist.last}
			</tr>
			<tr>
		{/if}
		{if $smarty.foreach.cataloglist.iteration is not div by 2 && $smarty.foreach.cataloglist.last}
			{fill_cells index=$smarty.foreach.cataloglist.iteration columns=2}
		{/if}
		{/foreach}
		</tr>
	</table>
</div>