<div class="catalog-view-flexible catalog-products spacer clearfix {class file=$smarty.template editable=true}">
	{foreach from=$products item="product" name="cataloglist"}
		<div class="catalog-product catalog-product-{$product.pid}">
			<div class="spacer">
				{include file="templates/pages/catalog/elements/element-product-image.html"}
				{include file="templates/pages/catalog/elements/element-product-title.html"}
				{include file="templates/pages/catalog/elements/element-product-hot-deal.html"}
				{include file="templates/pages/catalog/elements/element-product-sale-price.html"}
				{include file="templates/pages/catalog/elements/element-product-add.html"}
				{include file="templates/pages/catalog/elements/element-product-out-of-stock.html"}
			</div>
		</div>
	{/foreach}
</div>