<div class="catalog-view-text catalog-products {class file=$smarty.template editable=true}">
	<table cellpadding="0" cellspacing="0" border="0" class="catalog-list">
		<thead>
			<tr>
				{if $CatalogProductID == "YES"}<th>{$msg.product.product_id}</th>{/if}
				<th>{$msg.product.product_name}</th>
				<th class="text-center">{$msg.product.product_price}</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
		{foreach from=$products item="product"}
			<tr class="catalog-product catalog-product-{$product.pid} {cycle values='odd,even'}">
				{if $CatalogProductID == "YES"}
					<td><div class="catalog-product-id">{$product.product_id|htmlspecialchars}</div></td>
				{/if}
				<td class="col-70">
					<a href="{$product.url}">
						{include file="templates/pages/catalog/elements/element-product-title.html"}
					</a>
					{include file="templates/pages/catalog/elements/element-product-hot-deal.html"}
					{include file="templates/pages/catalog/elements/element-product-overview.html"}
				</td>
				<td class="text-right">
					{include file="templates/pages/catalog/elements/element-product-sale-price.html"}
				</td>
				<td class="text-right col-25">
					<!--{include file="templates/pages/catalog/elements/element-product-click-to-view.html"}-->
					{include file="templates/pages/catalog/elements/element-product-add.html"}
					{include file="templates/pages/catalog/elements/element-product-out-of-stock.html"}
				</td>
			</tr>
		{/foreach}
		</tbody>
	</table>
</div>