<div class="catalog-view-thumb1 catalog-products clearfix {class file=$smarty.template editable=true}">
	<table cellspacing="0" cellpadding="0" border="0" class="catalog-list">
		<tbody>
		{foreach from=$products item="product" name="catalog-list"}
			<tr>
				<td>
					<div class="catalog-product catalog-product-{$product.pid}">
						<div class="col-wrap celarfix">
							<div class="col-25">
								{include file="templates/pages/catalog/elements/element-product-image.html"}
								{include file="templates/pages/catalog/elements/element-product-hot-deal.html"}
							</div>
							<div class="col-75">
								{include file="templates/pages/catalog/elements/element-product-title.html"}
								<div class="col-wrap clearfix">
									<div class="col-70">
										{include file="templates/pages/catalog/elements/element-product-price.html"}
										{include file="templates/pages/catalog/elements/element-product-overview.html"}
										{include file="templates/pages/catalog/elements/element-product-sale-price.html"}
										{include file="templates/pages/catalog/elements/element-product-rating.html"}
									</div>
									<div class="col-30" style="text-align: right;">
										{include file="templates/pages/catalog/elements/element-product-add.html"}
										{include file="templates/pages/catalog/elements/element-product-out-of-stock.html"}
									</div>
								</div>	
							</div>
						</div>
					</div>
				</td>
			</tr>
		{/foreach}
		</tbody>
	</table>
</div>