<div class="catalog-view-thumb3-clean catalog-products  spacer clearfix {class file=$smarty.template editable=true}">
	<table cellspacing="0" cellpadding="0" border="0" class="catalog-list">
		<tr>
		{foreach from=$products item="product" name="products"}
			<td class="catalog-product catalog-product-{$product.pid}" valign="top">
				{include file="templates/pages/catalog/elements/element-product-image.html"}
				{include file="templates/pages/catalog/elements/element-product-title.html"}
				{include file="templates/pages/catalog/elements/element-product-price.html"}
				{include file="templates/pages/catalog/elements/element-product-sale-price.html"}
				{include file="templates/pages/catalog/elements/element-product-out-of-stock.html"}
				{include file="templates/pages/catalog/elements/element-product-click-to-view.html"}
				{include file="templates/pages/catalog/elements/element-product-add.html"}
				{include file="templates/pages/catalog/elements/element-product-out-of-stock.html"}
			</td>
		{if $smarty.foreach.cataloglist.iteration is div by 3 && not $smarty.foreach.cataloglist.last}
			</tr>
			<tr>
		{/if}
		{if $smarty.foreach.cataloglist.iteration is not div by 3 && $smarty.foreach.cataloglist.last}
			{fill_cells index=$smarty.foreach.cataloglist.iteration columns=3}
		{/if}
		{/foreach}
		</tr>
	</table>
</div>