<div class="catalog-view-thumb1-clean catalog-products spacer clearfix {class file=$smarty.template editable=true}">
	<table cellspacing="0" cellpadding="0" border="0" class="catalog-list">
	{foreach from=$products item=product}
		<tr>
			<td class="catalog-product catalog-product-{$product.pid}" valign="top">
				<div class="col-wrap clearfix">
					<div class="col-33">
						{include file="templates/pages/catalog/elements/element-product-image.html"}
						{include file="templates/pages/catalog/elements/element-product-hot-deal.html"}
					</div>
					<div class="col-67">
						{include file="templates/pages/catalog/elements/element-product-title.html"}
						{include file="templates/pages/catalog/elements/element-product-id.html"}
						{include file="templates/pages/catalog/elements/element-product-price.html"}
						{include file="templates/pages/catalog/elements/element-product-overview.html"}
						{include file="templates/pages/catalog/elements/element-product-sale-price.html"}
						{include file="templates/pages/catalog/elements/element-product-click-to-view.html"}
						{include file="templates/pages/catalog/elements/element-product-add.html"}
						{include file="templates/pages/catalog/elements/element-product-out-of-stock.html"}
					</div>
				</div>
			<td>
		</tr>
	{/foreach}
	</table>
</div>