<div class="catalog-view-thumb2 catalog-products clearfix {class file=$smarty.template editable=true}">
	<table cellspacing="0" cellpadding="0" border="0" class="catalog-list">
		<tr>
		{foreach from=$products item="product" name="cataloglist"}
			<td valign="top" width="50%">
				<div class="catalog-product catalog-product-{$product.pid}">
					<div class="col-wrap gap-bottom">
						{include file="templates/pages/catalog/elements/element-product-title.html"}
						<div class="col-40 gap-top">
							{include file="templates/pages/catalog/elements/element-product-image.html"}
							{include file="templates/pages/catalog/elements/element-product-hot-deal.html"}
						</div>
						<div class="col-50 gap-top gap-left">
							{include file="templates/pages/catalog/elements/element-product-id.html"}
							{include file="templates/pages/catalog/elements/element-product-price.html"}
							{include file="templates/pages/catalog/elements/element-product-sale-price.html"}
							{include file="templates/pages/catalog/elements/element-product-add.html"}
							{include file="templates/pages/catalog/elements/element-product-out-of-stock.html"}
							{include file="templates/pages/catalog/elements/element-product-more-in-category.html"}
						</div>
					</div>
				</div>
			</td>
			{if $smarty.foreach.cataloglist.iteration is div by 2 && not $smarty.foreach.cataloglist.last}
				</tr>
				<tr>
			{/if}
			{if $smarty.foreach.cataloglist.iteration is not div by 2 && $smarty.foreach.cataloglist.last}
				{fill_cells index=$smarty.foreach.cataloglist.iteration columns=2}
			{/if}
		{/foreach}
		</tr>
	</table>
</div>