<form name="form-search_optimization" class="form-search_optimization" action="admin.php?p=settings_search" role="form" method="post" data-auto-validate="1" autocomplete="off" enctype='multipart/form-data'>
	<input type="hidden" name="nonce" id="nonce" value="{$nonce}">	
	<input type="hidden" name="nonce_generate_htaccess" value="{$nonce_generate_htaccess}">
	<input type="hidden" name="nonce_regenerate_urls" value="{$nonce_regenerate_urls}">
	<input type="hidden" name="generate_htaccess_action" id="id-generate_htaccess" value="No">
	<input type="hidden" name="regenerate_urls_action" id="id-regenerate_urls" value="No">
	<div id="content-header">
		<div class="container-fluid">
			<h1 class="col-xs-6">{trans key="marketing.search_engine_optimization"}</h1>
			<div class="col-xs-6 pull-right text-right btn-toolbar">
				<a class="btn" href="#" onclick="return generateHtaccess();">{trans key="common.generate"} .htaccess</a>
				<a class="btn" href="#" onclick="return RegenerateURLs();">{trans key="marketing.regenerate_urls"}</a>
				<button class="btn btn-primary">{trans key="common.save"}</button>
			</div>
		</div>
		<hr class="clearfix">
	</div>
	{form form=$form}
</form>

<script type="text/javascript" src="content/admin/scripts/search-engine-optimization.js?v={$APP_VERSION}"></script>