{if $flashMessages}
	<div class="gap-left gap-right">
		<div class="flash-messages">
			{foreach from=$flashMessages key="flashMessageType" item="flashMessagesByType"}
				<div class="msg-{$flashMessageType}">
					<ul class="list">
						{foreach from=$flashMessagesByType item="flashMessage"}
							<li>{$flashMessage.message}</li>
						{/foreach}
					</ul>
				</div>
			{/foreach}
		</div>
	</div>
{/if}