<!-- BEGIN: _GUARANTEE Seal -->
<span id="_GUARANTEE_SealSpan"></span>
<img style="display:none;" src="//nsg.symantec.com/Web/Seal/AltSealInfo.aspx?S=Large&T=M&Elem=ImgTagSeal&HASH={$settings.NortonSealGuaranteeHash}&CBF=AB&AB=1&DP=fn=;src=ImgTagSeal;grt=true">
<script type="text/javascript" src="//nsg.symantec.com/Web/Seal/gjs.aspx?SN={$settings.NortonSealStoreNumber}"></script>
<script type="text/javascript">
	console.log(' garantee:  '+window._GUARANTEE);
	console.log(' loaded:  '+_GUARANTEE.Loaded);
	if(window._GUARANTEE && _GUARANTEE.Loaded) {ldelim}
		_GUARANTEE.Hash = "{$settings.NortonSealGuaranteeHash}";
		_GUARANTEE.WriteSeal("_GUARANTEE_SealSpan", "GuaranteedSeal");
	{rdelim}
</script>
<!-- END: _GUARANTEE Seal -->
