{if $PikflyEnabled == 'Yes' && $current_page != 'one_page_checkout' && $current_page != 'pikfly'}
	<div id="pikfly-button" style="display: none;">
		<a href="#" class="close-btn">&times;</a>
		<a href="{$GlobalHttpsUrl}/index.php?p=pikfly" class="pikfly-available" target="_blank">Check Availability</a>
		<a href="{$GlobalHttpsUrl}/index.php?p=pikfly" target="_blank"><img src="images/same-day-delivery.gif" style="vertical-align: middle;border:none;"></a>
	</div>
	<script type="text/javascript">{literal}
		$(document).ready(function() {
			$('#pikfly-button')
					.toggle($.cookie('pikfly-overlay-visible') != '0')
					.find('.close-btn').click(function() {
						$.cookie('pikfly-overlay-visible', '0');
						$('#pikfly-button').hide();
						return false;
					});
		});{/literal}
	</script>
{/if}