{if $non_order_items}
    <h2>
        {$msg.opc.non_cart_items}
    </h2>
    <table class="list cart" cellpadding="0" cellspacing="0">
        <thead>
        <tr>
            <th>{$msg.product.product_description}</th>
            <th class="text-right">{$msg.product.product_quantity}</th>
        </tr>
        </thead>
        <tbody>
        {foreach from=$non_order_items item="non_order_item"}
        <tr valign="top">
            <td>
                <div class="col-wrap">
                    <div class="cart-description">
                        <div><h4>{$non_order_item.title|htmlspecialchars}</h4></div>
                        <div>
                            <span class="product-id">{$msg.product.product_id}: {$non_order_item.product_id|htmlspecialchars}</span><br />
                            {if $non_order_item.attributes_list != ""}
                                {$non_order_item.attributes_list|htmlspecialchars|nl2br}
                                <br />
                            {/if}
                        </div>
                        <div>

                        </div>
                    </div>
                </div>
            </td>
            <td class="cart-quantity text-right">{$non_order_item.quantity}</td>
        </tr>
        {/foreach}
        </tbody>
    </table>
{/if}