{** LIST CART PRODUCTS **}
<table class="list cart" cellpadding="0" cellspacing="0">
	<thead>
		<tr>
			<th>{$msg.product.product_description}</th>
			<th class="text-right">{$msg.product.product_price}</th>
			<th class="text-center">{$msg.product.product_quantity}</th>
		</tr>
	</thead>
	<tbody>
	{foreach from=$order_items item="order_item"}
		<tr valign="top">
			<td>
				<div class="col-wrap">
					<div class="cart-image">
						{if $order_item.image}
							<a href="{$order_item.url}"><img src="{$order_item.thumb}" no-style="max-width: {$CatalogThumbSize}px;max-height: {$CatalogThumbSize}px" alt="{$order_item.title|htmlspecialchars}" title="{$order_item.title|htmlspecialchars}"/></a>
						{else}
							{assign var="imageId" value="image-no-image-small"}
							{if $designImages.$imageId}
								<img class="image-no-image-small {class file=$smarty.template editable=true}" src="{$designImages.$imageId.content}" alt="{$msg.images.imageNoImageSmall|htmlspecialchars}"/>
							{else}
								{$msg.images.imageNoImageSmall|htmlspecialchars}
							{/if}
						{/if}
					</div>
					<div class="cart-description">
						<div><a href="{$order_item.url}">{$order_item.title|htmlspecialchars}</a></div>
						<div>
							<span class="product-id">{$msg.product.product_id}: {$order_item.product_id|htmlspecialchars}</span><br />

							{*** Start Weight ***}
							{if $ShippingShowWeight == "YES"}
								{if $order_item.product_free_shipping == "Yes"}
									{$msg.product.weight} : <u>{$msg.product.free_shipping}</u><br />
								{elseif $order_item.product_weight > 0}
									{$msg.product.weight} : {$order_item.product_weight|weight}<br />
								{/if}
							{/if}

							{*** Start Min/Max Order ***}
							{if $order_item.is_gift != "Yes"}
								{if $order_item.min_order>1 || $order_item.max_order>0}
									{$msg.product.min_max_order} :
									{product_minmax_order min_order=$order_item.min_order max_order=$order_item.max_order}<br/>
								{/if}
							{/if}

							{if $order_item.options != ""}
								{$order_item.options|htmlspecialchars|nl2br}
							{/if}
						</div>

						{if $order_item.enable_recurring_billing && $order_item.recurring_billing_data}
							<div class="gap-top">
								<dl>
									<dt><strong>{$msg.recurring.recurring_payments}</strong></dt>
									<dd>
										{if $order_item.product_recurring_billing_data->getScheduleDescription() != ''}
											<div class="gap-top gap-bottom">
												{$order_item.product_recurring_billing_data->getScheduleDescription()}
											</div>
										{/if}
										{if $order_item.recurring_billing_data->getTrialEnabled()}
											{$msg.recurring.trial_period}:
											<i>{$order_item.recurring_trial_description}</i>
											<br>
										{/if}
										{$msg.recurring.billing_period}:
										<i>{$order_item.recurring_billing_description}</i>
										{if $order_item.recurring_billing_data->getStartDate()}
											{assign var="recurringStartDate" value=$order_item.recurring_billing_data->getStartDate()}
											<br>{$msg.recurring.billing_starting_at} {$recurringStartDate->format('U')|date_format:$msg.common.date_format}
										{/if}
									</dd>
								</dl>
							</div>
						{/if}

						{if ($DisplayPricesWithTax=="YES" && $order_item.is_taxable == "Yes") || $order_item.is_gift != "Yes"}
							<div>
								{if $DisplayPricesWithTax=="YES" && $order_item.is_taxable == "Yes"}
									{$msg.cart.tax_amount} :
									{if $order_item.tax_description != ""}
										{$order_item.tax_description} - {$msg.cart.included_in_price}
									{else}
										{math equation="round(x,2)" x=$order_item.tax_rate format="%0.2f"}% - {$msg.cart.included_in_price}
									{/if}
								{/if}
								{if $order_item.is_gift != "Yes"}
									<p>
										<span id="delete-product">
											{assign var="imageId" value="image-delete-item"}
											{if $designImages.$imageId}
												<a href="javascript:CartConfirmDeleteItem('{$order_item.ocid}')"><img class="image-delete-item {class file=$smarty.template editable=true}" src="{$designImages.$imageId.content}" alt="{$msg.images.imageDeleteItem|htmlspecialchars}"/></a>
											{/if}
											<a href="javascript:CartConfirmDeleteItem('{$order_item.ocid}')">{$msg.cart.remove_item}</a>
										</span>
									</p>
								{/if}
							</div>
						{/if}
					</div>
				</div>
			</td>
			<td class="cart-amount text-right">{$order_item.product_price|price}</td>
			<td class="cart-quantity text-center">
				<input type="hidden" name="allowed_oa_quantity[{$order_item.ocid}]" value="{if $order_item.allowed_max>0}{$order_item.allowed_max}{else}-{/if}"/>
				<input type="hidden" name="oa_inventory_control[{$order_item.ocid}]" value="{$order_item.inventory_control}"/>
				<input type="hidden" name="oa_stock[{$order_item.ocid}]" value="{$order_item.stock}"/>
				<input type="hidden" name="oa_pid_to_ocid[{$order_item.pid}]" value="{$order_item.ocid}"/>
				<input type="hidden" name="oa_ocid_to_pid[{$order_item.ocid}]" value="{$order_item.pid}"/>
				{if $order_item.is_gift == "Yes" || $order_item.product_id == "gift_certificate"}
					<input type="hidden" name="min_oa_quantity[{$order_item.ocid}]" value="-"/>
					<input type="hidden" name="max_oa_quantity[{$order_item.ocid}]" value="-"/>
					<input type="hidden" name="oa_quantity[{$order_item.ocid}]" value="{$order_item.quantity}"/>
					{$order_item.quantity}
				{else}
					<input type="hidden" name="min_oa_quantity[{$order_item.ocid}]" value="{if $order_item.min_order>0}{$order_item.min_order}{else}1{/if}"/>
					<input type="hidden" name="max_oa_quantity[{$order_item.ocid}]" value="{if $order_item.max_order>0}{$order_item.max_order}{else}-{/if}"/>
					<input type="text" class="input-quantity quantity" maxlength="6" name="oa_quantity[{$order_item.ocid}]" value="{$order_item.quantity}"/>
				{/if}
			</td>
		</tr>
	{/foreach}
	</tbody>

	<tfoot>
	{** DISPLAY SUBTOTALS **}
	{if $min_subtotal_error}
		<tr>
			<td colspan="5">
				<div class="msg-error">
					{$msg.cart.minimal_sustotal_not_reached}
					{$msg.cart.minimal_sustotal}: {$min_subtotal_amount|price}
				</div>
			</td>
		</tr>
	{/if}
		<tr>
			<td colspan="1" class="text-left"><a href="#" id="form-cart-continue-shopping">{$msg.buttons.buttonContinueShopping}</a></td>
			<td colspan="4" class="text-right"><a href="#" id="form-cart-update">{$msg.buttons.buttonUpdateCart}</a></td>
		</tr>
	</tfoot>
</table>
{** END LIST CART PRODUCTS **}