<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-12">{trans key="billing.cart_info"}</h1>
	</div>
	<hr class="clearfix">
</div>
{form form=$form}
<div class="container-fluid">
	<div class="col-xs-12">
		<a href="admin.php?p=billing&mode=cart-information&refresh-license=1" class="btn btn-primary">{trans key="billing.refresh_license_info"}</a>
	</div>
</div>

<div class="modal fade" id="modal-phpinfo" tabindex="-1" role="dialog" aria-labelledby="modal-phpinfo-label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
				<h4 class="modal-title" id="modal-phpinfo-label">More Details</h4>
			</div>
			<div class="modal-body modal-body-phpinfo">
				<div class="modal-content">
					<div id="phpinfo">
						{$phpinfo}
					</div>
				</div>
			</div>

		</div>
	</div>
</div>