<form id="form-billing-checkout" name="form-billing-checkout" role="form" method="post" data-auto-validate="1" autocomplete="off" class="form-address">
	<div id="content-header">
		<div class="container-fluid">
			<h1 class="col-xs-6">{trans key="billing.checkout"}</h1>
			<div class="col-xs-6 pull-right text-right btn-toolbar">
				<a href="admin.php?p=billing&mode=purchase">{trans key="common.cancel"}</a>
			</div>
		</div>
		<hr class="clearfix">
	</div>

	{if $form}<div id="billing-checkout-form-container">{form form=$form}</div>{/if}
	{if $html}<div id="billing-checkout-html-container">{$html}</div>{/if}

	<fieldset>
		<legend>{trans key="billing.your_order"}</legend>
		<div class="container-fluid">
			<div class="col-xs-12">
				<table class="table table-bordered" id="billing-checkout-order-content">
					<thead>
						<tr>
							<td>{trans key="billing.product"}</td>
							<td class="text-right">{trans key="billing.subtotal"}</td>
						</tr>
					</thead>
					<tbody></tbody>
					<tfoot>
						<tr id="billing-checkout-subtotal-row" style="display:none;">
							<td class="text-right"><label>{trans key="billing.promo_discount"}</label></td>
							<td class="text-right" id="billing-checkout-subtotal"></td>
						</tr>
						<tr id="billing-checkout-promo-row" style="display:none;">
							<td class="text-right"><label>{trans key="billing.promo_discount"}</label></td>
							<td class="text-right" id="billing-checkout-promo"></td>
						</tr>
						<tr>
							<td class="text-right"><label>{trans key="billing.total"}</label></td>
							<td class="text-right billing-checkout-total" id="billing-checkout-total"></td>
						</tr>
					</tfoot>
				</table>
			</div>
			<div class="hidden-xs col-md-6"></div>
			<div class="form-group field-checkbox field-checkbox-space col-xs-12 col-md-3">
				<label for="field-tc_agree">
					<input id="field-tc_agree" class="field-tc_agree" type="checkbox" value="1" name="tc_agree">
					{trans key="billing.agree.check"} <a href="{$label_terms}" target="_blank">{trans key="billing.agree.terms"}</a>
				</label>
			</div>
			<div class="col-xs-12 col-md-3 text-right">
				&nbsp;<br>
				<button class="btn btn-primary">{trans key="billing.confirm_purchase"}</button>
			</div>
		</div>
	</fieldset>
</form>

<script type="text/javascript">
	var countriesStates = {$countriesStates};
</script>

<script type="text/javascript" src="content/admin/scripts/billing.js?v={$APP_VERSION}"></script>