<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="billing.message_center"}</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
		</div>
	</div>
	<hr class="clearfix">
</div>

{if $messages}
	<div class="container-fluid">
		<h2 class="col-xs-12">{trans key="billing.messages"}</h2>
		<div class="col-xs-12">
			<table class="table table-striped">
				<tbody>
				{foreach from=$messages item="message"}
					<tr>
						<td{if $message->popup != ''} class="message-popup" data-id="{$message->mid}"{/if}>
							{$message->text}
						</td>
					</tr>
				{/foreach}
				</tbody>
			</table>
		</div>
	</div>
{else}
	<div class="container-fluid">
		<div class="col-xs-12 col-md-12">
			{trans key="billing.no_messages"}
		</div>
	</div>
{/if}

{include file="templates/pages/billing/modal-message.html"}

<script type="text/javascript">
	var messages = {$messages_encoded};
</script>

<script type="text/javascript" src="content/admin/scripts/billing.js?v={$APP_VERSION}"></script>