<div class="modal fade" id="modal-billing-profile-add-card" tabindex="-1" role="dialog" aria-labelledby="modal-billing-profile-add-card-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-billing-profile-add-card" autocomplete="off">
			<input type="hidden" name="nonce" value="{$update_nonce}">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-billing-profile-add-card-label">{trans key="billing.add_credit_card"}</h4>
				</div>
				<div class="modal-body">
					<fieldset class="open fieldset-primary" id="basic">
						<div class="container-fluid" id="basic-body">
							<div class="form-group field-text col-xs-12 ">
								<label for="field-add-cc_num">{trans key="billing.card_number"}</label>
								<input type="text" value="" name="card[cc_num]" id="field-add-cc_num" class="form-control field-cc_num">
							</div>
							<div class="form-group field-select col-xs-12">
								<label for="field-add-cc_exp_month">{trans key="billing.expiration"}</label>
								<div class="col-xs-6" style="padding-left: 0;">
									<select name="card[cc_exp_month]" id="field-add-cc_exp_month" class="form-control field-cc_exp_month">
										<option value="">---</option>
										<option value="01">Jan</option>
										<option value="02">Feb</option>
										<option value="03">Mar</option>
										<option value="04">Apr</option>
										<option value="05">May</option>
										<option value="06">Jun</option>
										<option value="07">Jul</option>
										<option value="08">Aug</option>
										<option value="09">Sep</option>
										<option value="10">Oct</option>
										<option value="11">Nov</option>
										<option value="12">Dec</option>
									</select>
								</div>
								<div class="col-xs-6" style="padding-right: 0;">
									<select name="card[cc_exp_year]" id="field-add-cc_exp_year" class="form-control field-cc_exp_year">
										<option value="">----</option>
										{foreach from=$years item="year"}
											<option value="{$year}">{$year}</option>
										{/foreach}
									</select>
								</div>
							</div>
							<div class="form-group field-text col-sm-6 col-xs-12 ">
								<label for="field-add-cc_cvv2">{trans key="billing.cvv"}</label>
								<input type="text" value="" name="card[cc_cvv2]" id="field-add-cc_cvv2" class="form-control field-cc_cvv2">
							</div>
						</div>
					</fieldset>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary">{trans key="common.add"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>