<div class="modal fade" id="modal-billing-profile-update-card" tabindex="-1" role="dialog" aria-labelledby="modal-billing-profile-update-card-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-billing-profile-update-card" autocomplete="off">
			<input type="hidden" name="nonce" value="{$update_nonce}">
			<input type="hidden" name="profile_id" value="">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-billing-profile-update-card-label">{trans key="billing.update_credit_card"}</h4>
				</div>
				<div class="modal-body">
					<fieldset class="open fieldset-primary" id="basic">
						<div class="container-fluid" id="basic-body">
							<div class="form-group field-text col-xs-12 ">
								<label for="field-update-cc_num">{trans key="billing.card_number"}</label>
								<input type="text" value="" name="card[cc_num]" id="field-update-cc_num" class="form-control field-cc_num">
							</div>
							<div class="form-group field-select col-xs-12">
								<label for="field-update-cc_exp_month">{trans key="billing.expiration"}</label>
								<div class="col-xs-6" style="padding-left: 0;">
									<select name="card[cc_exp_month]" id="field-update-cc_exp_month" class="form-control field-cc_exp_month">
										<option value="">{trans key="billing.months_options.option_default"}</option>
										<option value="01">{trans key="billing.months_options.option_1"}</option>
										<option value="02">{trans key="billing.months_options.option_2"}</option>
										<option value="03">{trans key="billing.months_options.option_3"}</option>
										<option value="04">{trans key="billing.months_options.option_4"}</option>
										<option value="05">{trans key="billing.months_options.option_5"}</option>
										<option value="06">{trans key="billing.months_options.option_6"}</option>
										<option value="07">{trans key="billing.months_options.option_7"}</option>
										<option value="08">{trans key="billing.months_options.option_8"}</option>
										<option value="09">{trans key="billing.months_options.option_9"}</option>
										<option value="10">{trans key="billing.months_options.option_10"}</option>
										<option value="11">{trans key="billing.months_options.option_11"}</option>
										<option value="12">{trans key="billing.months_options.option_12"}</option>
									</select>
								</div>
								<div class="col-xs-6" style="padding-right: 0;">
									<select name="card[cc_exp_year]" id="field-update-cc_exp_year" class="form-control field-cc_exp_year">
										<option value="">----</option>
										{foreach from=$years item="year"}
											<option value="{$year}">{$year}</option>
										{/foreach}
									</select>
								</div>
							</div>
							<div class="form-group field-text col-sm-6 col-xs-12 ">
								<label for="field-update-cc_cvv2">{trans key="billing.cvv"}</label>
								<input type="text" value="" name="card[cc_cvv2]" id="field-update-cc_cvv2" class="form-control field-cc_cvv2">
							</div>
						</div>
					</fieldset>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary">{trans key="common.update"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>