<div class="modal fade" id="modal-billing-cancel" tabindex="-1" role="dialog" aria-labelledby="modal-billing-cancel-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-billing-cancel" autocomplete="off">
			<input type="hidden" name="nonce" value="{$cancel_nonce}">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-billing-cancel-label">{trans key="billing.request_cancellation"}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group field-text col-xs-12 col-md-6">
						<label for="service_length">{trans key="billing.service_length"}</label>
						<select id="service_length" class="layoutFormInputSelect" name="service_length">
							<option value="">{trans key="billing.service_length_options.option_default"}</option>
							<option value="1">{trans key="billing.service_length_options.option_1"}</option>
							<option value="2">{trans key="billing.service_length_options.option_2"}</option>
							<option value="3">{trans key="billing.service_length_options.option_3"}</option>
							<option value="4">{trans key="billing.service_length_options.option_4"}</option>
							<option value="5">{trans key="billing.service_length_options.option_5"}</option>
						</select>
					</div>
					<div class="form-group field-text col-xs-12">
						<label for="cancel-main-reason">{trans key="billing.cancel_main_reason"}</label>
						<textarea id="cancel-main-reason" name="main_reason"></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary">{trans key="billing.cancel_service"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>