<div class="modal fade form-address" id="modal-billing-profile-update" tabindex="-1" role="dialog" aria-labelledby="modal-billing-profile-update-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-billing-profile-update">
			<input type="hidden" name="nonce" value="{$update_nonce}">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-billing-profile-update-label">{trans key="billing.update_profile"}</h4>
				</div>
				<div class="modal-body">
					{form form=$profileForm}
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary">{trans key="common.update"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>