<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="billing.billing"}</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
		</div>
	</div>
	<hr class="clearfix">
</div>

	{if $profile}
	<fieldset class="fieldset-primary">
		<legend>{trans key="billing.billing_info"}</legend>
		<div class="container-fluid">
			<div class="col-xs-12 col-md-6" style="margin-bottom: 20px;">
				{$profile->firstName|gs} {$profile->lastName|gs}<br>
				{if $profile->company != ''}{$profile->company|gs}<br>{/if}
				{$profile->address1|gs}<br>
				{if $profile->address2 != ''}{$profile->address2|gs}<br>{/if}
				{$profile->city|gs}, {$profile->state|gs} {$profile->zip|gs}<br>
				{$profile->country|gs}<br><br>
				Phone: {$profile->phone|gs}<br>
				Email: {$profile->email|gs}<br>
				<a href="#" data-target="#modal-billing-profile-update" data-toggle="modal" class="btn" style="margin-top: 10px;">{trans key="common.edit"}</a>
			</div>
			<div class="col-xs-12 col-md-6">
				{if count($profile->cards) > 0}
					{*{foreach from=$profile->cards item="card"}*}
					<div class="col-xs-12" style="margin-bottom: 10px;">
						{$profile->card->card_number}
					</div>
					<div class="col-xs-12" style="margin-bottom: 15px;">
						<a href="#" data-id="{$profile->card->profile_id}" class="btn edit-card">{trans key="common.edit"}</a>
					</div>
					{*{/foreach}*}
				{else}
					<div class="col-xs-12" style="margin-bottom: 10px;">
						No card on file
					</div>
					<div class="col-xs-12" style="margin-bottom: 15px;">
						<a href="#" data-target="#modal-billing-profile-add-card" data-toggle="modal" class="btn">{trans key="common.add"}</a>
					</div>
				{/if}
			</div>
		</div>
	</fieldset>
	{/if}
	{if $planName}
	<fieldset>
		<legend>{$planName|gs}</legend>
		<div class="container-fluid">
		{if $hasDiskUsage}
			<h3 class="col-xs-12" style="margin-top: 0;">{trans key="billing.disk_space"}</h3>
			<div class="col-xs-12">
				{$diskUsage} of {$diskLimit}
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="progress">
					<div class="progress-bar{if $diskPercentage > 90} progress-bar-danger{elseif $diskPercentage > 75} progress-bar-warning{else} progress-bar-success{/if}" role="progressbar" aria-valuenow="$diskPercentage" aria-valuemin="0" aria-valuemax="100" style="width: {$diskPercentage}%;">
						<span class="sr-only">{$diskPercentage}%</span>
					</div>
				</div>
			</div>
		{/if}

		{if $hasBandwidth}
			<h3 class="col-xs-12" style="margin-top: 0;">{trans key="billing.bandwidth"}</h3>
			<div class="col-xs-12">
				{$bandwidthUsage} of {$bandwidthLimit}
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="progress">
					<div class="progress-bar{if $bandwidthPercentage > 90} progress-bar-danger{elseif $bandwidthPercentage > 75} progress-bar-warning{else} progress-bar-success{/if}" role="progressbar" aria-valuenow="{$bandwidthPercentage}" aria-valuemin="0" aria-valuemax="100" style="width: {$bandwidthPercentage}%;">
						<span class="sr-only">{$bandwidthPercentage}%</span>
					</div>
				</div>
			</div>
		{/if}
		</div>
	</fieldset>
	{/if}
	<fieldset>
		<legend>{trans key="billing.cancel_service"}</legend>
		<div class="btn-toolbar">
			<button class="btn" data-target="#group-cancel-service" data-toggle="collapse" type="button">
				{trans key="common.edit"}
				<span class="caret"></span>
			</button>
		</div>
		<div id="group-cancel-service" class="container-fluid collapse">
			<div class="col-xs-12">
				<a href="#" data-target="#modal-billing-cancel" data-toggle="modal">{trans key="billing.request_cancellation"}</a>
			</div>
		</div>
	</fieldset>

{include file="templates/pages/billing/modal-update-profile.html"}
{include file="templates/pages/billing/modal-add-card.html"}
{include file="templates/pages/billing/modal-update-card.html"}
{include file="templates/pages/billing/modal-cancel.html"}

<script type="text/javascript">
	var countriesStates = {$countriesStates};
</script>

<script type="text/javascript" src="content/admin/scripts/billing.js?v={$APP_VERSION}"></script>