<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-12 text-center">{trans key="billing.choose_plan"}</h1>
	</div>
	<hr class="clearfix">
</div>

<div class="container-fluid">
	<div class="row">
		<div class="hidden-xs col-md-2"></div>
		<div class="col-xs-12 col-md-8">
			{if $html}
				<br>
				<div>{$html}</div>
			{else}
				{trans key="billing.cannot_connect_service"}
			{/if}
		</div>
		<div class="hidden-xs col-md-2"></div>
		<div class="col-xs-12 text-center btn-block">
			<br><br><br>
			{trans key="billing.trial.not_ready_purchase"} &nbsp;
			<a href="admin.php" class="btn">{trans key="billing.trial.continue_trial"}</a>
		</div>
	</div>
</div>

<script type="text/javascript" src="content/admin/scripts/billing.js?v={$APP_VERSION}"></script>
