<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="billing.billing"}</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
			{if $canDowngrade}<a href="admin.php?p=billing&mode=purchase&action=downgrade">{trans key="billing.downgrade"}</a>{/if}
			{if $canUpgrade}<a href="admin.php?p=billing&mode=purchase&action=upgrade" class="btn btn-primary">{trans key="billing.upgrade"}</a>{/if}
		</div>
	</div>
	<hr class="clearfix">
</div>

<div id="apps-nav" class="container-fluid">
{if $planName}
	<h2 class="col-xs-12">{trans key="billing.current_plan"}</h2>
	<div class="col-xs-12">
		{$planName|gs}
	</div>

	{if $hasDiskUsage}
	<h2 class="col-xs-12" style="margin-top: 20px;">{trans key="billing.disk_space"}</h2>
	<div class="col-xs-12">
		{$diskUsage} of {$diskLimit}
	</div>
	<div class="col-xs-12 col-sm-6">
		<div class="progress">
			<div class="progress-bar{if $diskPercentage > 90} progress-bar-danger{elseif $diskPercentage > 75} progress-bar-warning{else} progress-bar-success{/if}" role="progressbar" aria-valuenow="$diskPercentage" aria-valuemin="0" aria-valuemax="100" style="width: {$diskPercentage}%;">
				<span class="sr-only">{$diskPercentage}%</span>
			</div>
		</div>
	</div>
	{/if}

	{if $hasBandwidth}
	<h2 class="col-xs-12">{trans key="billing.bandwidth"}</h2>
	<div class="col-xs-12">
		{$bandwidthUsage} of {$bandwidthLimit}
	</div>
	<div class="col-xs-12 col-sm-6">
		<div class="progress">
			<div class="progress-bar{if $bandwidthPercentage > 90} progress-bar-danger{elseif $bandwidthPercentage > 75} progress-bar-warning{else} progress-bar-success{/if}" role="progressbar" aria-valuenow="{$bandwidthPercentage}" aria-valuemin="0" aria-valuemax="100" style="width: {$bandwidthPercentage}%;">
				<span class="sr-only">{$bandwidthPercentage}%</span>
			</div>
		</div>
	</div>
	{/if}
{/if}
</div>
