{if !$ticketSent}
<form id="form-support-ticket" name="form-support-ticket" role="form" method="post" data-auto-validate="1" autocomplete="off" action="admin.php?p=billing&mode=support">
	<input type="hidden" name="nonce" value="{$nonce|htmlspecialchars}">
	<div id="content-header">
		<div class="container-fluid">
			<h1 class="col-xs-6">{trans key="billing.submit_ticket"}</h1>
			<div class="col-xs-6 pull-right text-right btn-toolbar">
				<a href="admin.php">{trans key="common.cancel"}</a>
				<button class="btn btn-primary">{trans key="common.submit"}</button>
			</div>
		</div>
		<hr class="clearfix">
	</div>

	<div id="billing-checkout-form-container">{form form=$form}</div>
</form>
{else}
<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-12">{trans key="billing.submit_ticket"}</h1>
	</div>
	<hr class="clearfix">
</div>
<div class="container-fluid">
	<div class="col-xs-12">
		<h2>{trans key="billing.thankyou_submission"}</h2>
		<p>{trans key="billing.ticket_id"}: <strong>{$ticketData->ticketMaskedId|htmlspecialchars}</strong></p>
		<p>{trans key="billing.ticket_subject"}: <strong>{$ticketSubject|htmlspecialchars}</strong></p>
		<p>
			{trans key="billing.ticket_message"}:<br>
			<blockquote>{$ticketMessage|htmlspecialchars|nl2br}</blockquote>
		</p>
		<p>
			{trans key="billing.ticket_message_txt"}
		</p>
		<p>
			<a href="admin.php">{trans key="billing.goback_dashboard"}</a>
		</p>
	</div>
</div>
{/if}
