<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="billing.order_confirmation"}</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
			<a href="admin.php" class="btn btn-primary">{trans key="billing.goback_dashboard"}</a>
		</div>
	</div>
	<hr class="clearfix">
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			{if $placeOrderResult->html}<div>{$placeOrderResult->html}</div>{/if}
		</div>
	</div>
</div>
