<div class="catalog-view-display catalog-products spacer clearfix {class file=$smarty.template editable=true}">
	{foreach from=$products item="product" name="cataloglist"}
		<div class="catalog-product catalog-product-{$product.pid}">
			<div class="spacer">
				{include file="templates/pages/catalog/elements/element-product-image.html"}
				
				<div class="catalog-product-title">
					<a href="{$product.url}">{$product.title|htmlspecialchars}</a> - {include file="templates/pages/catalog/elements/element-product-sale-price.html"}
				</div>
			</div>
		</div>
		{if $smarty.foreach.cataloglist.iteration is div by 2 && not $smarty.foreach.cataloglist.last}
					</tr>
					<tr>
				{/if}
				{if $smarty.foreach.cataloglist.iteration is not div by 2 && $smarty.foreach.cataloglist.last}
					{fill_cells index=$smarty.foreach.cataloglist.iteration columns=2}
		{/if}
	{/foreach}
</div>