<div class="page-404 wrap {class file=$smarty.template editable=true}">
	<h1>{$msg.common.page_not_found}</h1>
	<div class="spacer">
		<div class="msg-error">
			<p>{$msg.common.page_not_found_description}</p>
		</div>
		<ul class="list">
			{include file="templates/pages/site/elements/element-map-catalog-category.html"}
		</ul>
		<ul class="list">
			<li><a href="{if $CatalogHomeLink!=""}{$CatalogHomeLink}{else}{$url_rel}{/if}">{$msg.common.home_page}</a></li>
			{if $testimonials_Enabled == "Yes"}<li><a href="{$url_http}p=testimonials">{$msg.testimonials.testimonials}</a></li>{/if}
			{if $kb_Enabled == "Yes"}<li><a href="{$url_http}p=kb">{$msg.kb.kb}</a></li>{/if}
			{if $AffiliateActive == "YES"}<li><a href="{$AffiliateAreaURL|urlencode}">{$AffiliateLinkText|htmlspecialchars}</a></li>{/if}
			{if $currencies_count > 1 || $languages_count > 1}<li><a href="{$url_http}p=international">International</a></li>{/if}
			{foreach from=$pages_links item="page_item"}<li><a href="{$page_item.url}">{$page_item.title|htmlspecialchars}</a></li>{/foreach}
			{if $AllowCreateAccount != "No"}
				<li><a href="{$url_https}p=login">{$msg.account.login}</a></li>
				<li><a href="{$url_https}p=signup">{$msg.account.register}</a></li>
			{/if}
			<li><a href="{$url_dynamic}p=cart">{$msg.cart.view_cart}</a></li>
		</ul>
	</div>
</div>