<div class="page-home wrap {class file=$smarty.template editable=true}">
	<div>
		{assign var="imageId" value="image-home"}
		{if $designImages.$imageId}
			<img class="image-home {class file=$smarty.template editable=true}" src="{$designImages.$imageId.content}" alt="{$msg.images.imageHome|htmlspecialchars}"/>
		{/if}
	</div>
	{if !empty($products)}
		{include file=$products_file}
	{/if}
</div>