<div class="page-international wrap {class file=$smarty.template editable=true}">
	<h1>{$msg.common.international_settings}</h1>
	<form name="frmInt" action="{$url_http}p=international" method="post">
	<div class="spacer">
		<div class="fieldset {class file=$smarty.template editable=true}">
			{if $languages_count > 1}
			<div class="field first">
				<label>{$msg.common.select_your_language}</label>
				<div>
					<select name="set_language">
						{foreach from=$languages item="language"}
							{if $current_language.language_id == $language.language_id}
								<option value="{$language.language_id}" selected="selected">{$language.name|htmlspecialchars}</option>
							{else}
								<option value="{$language.language_id}">{$language.name|htmlspecialchars}</option>
							{/if}
						{/foreach}
					</select>
				</div>
			</div>
			{/if}
			{if $currencies_count > 1}
			<div class="field{if $languages_count <= 1} first{/if}">
				<label>{$msg.common.choose_your_currency}</label>
				<div>
					<select name="set_current_currency">
						{foreach from=$currencies item="currency"}
						<option value="{$currency.currency_id}" {if $current_currency.currency_id==$currency.currency_id}selected="selected"{/if}>{$currency.title|htmlspecialchars}</option>
						{/foreach}
					</select>
				</div>
			</div>
			{/if}
		</div>
		<div class="buttons">
			{button class="button-save" text=$msg.buttons.buttonSave file=$smarty.template} &nbsp;
			{button type="reset" form="frmInt" class="button-reset" text=$msg.buttons.buttonReset file=$smarty.template}
		</div>
	</div>
	</form>
</div>
