<div class="page-text page-text-{$pid} wrap {class file=$smarty.template editable=true}">
	<h1>{$pageTitle|htmlspecialchars}</h1>
	<div class="spacer clearfix">
		{$pageContent|stripslashes}
	</div>
	{if $customForm && $cf_form}
		<div class="spacer">
			{if $formSubmited}
				<div class="fieldset">
					{if $customForm.is_title_visible == 1 && $customForm.title != ''}<h3 class="title">{$customForm.title}</h3>{/if}
					<div class="spacer">
						{if $customForm.thank_you_message != ''}
							{$customForm.thank_you_message}
						{else}
							{$msg.common.form_submited}
						{/if}
					</div>
				</div>
			{else}
				<form method="post" action="{$pageData.url}" class="custom-form custom-form-{$customForm.form_id}">
					<div class="fieldset">
						{if $customForm.is_title_visible == 1 && $customForm.title != ''}<h3 class="title custom-form-title">{$customForm.title}</h3>{/if}
						{if $customForm.description != ""}<div class="spacer custom-form-description">{$customForm.description}</div>{/if}
						{if $formErrors}
							<div class="msg-error spacer custom-form-errors">
								{$msg.common.form_error}
								<ul class="list">
									{foreach from=$formErrors item="formError"}
										<li>{$formError}</li>
									{/foreach}
								</ul>
							</div>
						{/if}
						<div class="msg-notice spacer">{$msg.common.required_fields_are_bold}</div>
						{foreach from=$cf_form item="cfield"}
							<div class="field {if $cfield.is_required }required{/if} clearfix {$cfield.field_code|htmlspecialchars}-wrap">
								<label>{if $cfield.field_caption == ""}{$cfield.field_name|htmlspecialchars}{else}{$cfield.field_caption|htmlspecialchars}{/if}</label>
								<div>{cfield field=$cfield}</div>
							</div>
						{/foreach}
						{if $captchaMethod != "None" && $captcha}
							<div class="fieldset {class file=$smarty.template editable=true}">
								<h3 class="title">Captcha</h3>
								<div class="field clearfix required">
									<label>Please enter CAPTCHA</label>
									<div class="captcha" style="padding-left:0px;">
										<!-- recaptcha image verification -->
										<script src="https://www.google.com/recaptcha/api.js" async defer></script>
										<div class="g-recaptcha" data-sitekey="{$site_key}"></div>
										<!-- recaptcha end -->
									</div>
								</div>
							</div>
						{/if}
						<div class="buttons">
							<input type="submit" class="button-submit submit " value="Submit"> &nbsp;
							<input type="reset" class="button-reset reset " value="Reset">
						</div>
					</div>
				</form>
			{/if}
		</div>
	{/if}
</div>