<div class="page-pikfly wrap {class file=$smarty.template editable=true}">
	<h1>We are now offering <span>same day delivery</span> options for your convenience.</h1>
	<p>Look for the <img src="{$GlobalHttpsUrl}/images/same-day-delivery.gif" style="vertical-align: middle;"> badge for items that are eligible for same day delivery</p>

	{foreach from=$deliveryAreas item="deliveryArea"}
	<h3>Same Day Delivery:</h3>
	<table style="width: 100%;margin: 0 10px 20px 10px;">
		<thead>
		<tr>
			<th>Zip Code</th>
			<th>
				If ordered by
			</th>
			<th>Delivery days</th>
			<th>Price</th>
		</tr>
		</thead>
		<tbody>
		{foreach from=$deliveryArea.zip_codes item="zip_code"}
			<tr>
				<td>{$zip_code|htmlspecialchars}</td>
				<td>
					{$deliveryArea.before_time}
				</td>
				<td>
					{foreach from=$deliveryArea.delivery_days item="deliveryDay" name="deliveryDays"}{if $smarty.foreach.deliveryDays.iteration > 1},
					{/if}{$deliveryDay}{/foreach}
				</td>
				<td>
					{if $deliveryArea.delivery_fee_type == 'amount'}{$deliveryArea.delivery_fee|price}{else}{$deliveryArea.delivery_fee}%{/if}
				</td>
			</tr>
		{/foreach}
		</tbody>
	</table>
	{/foreach}
	<div>
		<p style="text-align: right;">
			Presented by: <a href="http://pikfly.com/" target="_blank">Pikfly</a>
		</p>
	</div>
</div>