<div class="page-testimonials wrap {class file=$smarty.template editable=true}">
	<h1>{$msg.testimonials.testimonials}</h1>
	{if $testimonialSubmited}
		<div class="spacer no-space-top">
			<div class="msg-notice">
				<p>{$msg.testimonials.thanks}</p>
				<ul class="list">
					<li><a href="{$url_http}">{$msg.common.goto_home_page}</a></li>
				</ul>
			</div>
		</div>
	{else}
		{if $rating}
		<div class="spacer no-space-bottom">
			<div class="col-wrap clearfix">
				<div class="col-50">
					<div>Overall Rating: {math equation = "x*10" x=$rating format="%.2f"}%</div>
					<div>Average Rating: {math equation = "x" x=$rating format="%.2f"}/10</div>
				</div>
				<div class="col-50">
					{assign var=currentStar value=1}
					{section name=stars loop=10}
						{if $rating >= $currentStar}
							<img src="{$starFull}" alt=" "/>
						{else}
							{if $rating >= ($currentStar - .5)}
								<img src="{$starHalf}" alt=" "/>
							{else}
								<img src="{$starEmpty}" alt=" "/>
							{/if}
						{/if}
						{assign var=currentStar value=$currentStar+1}
					{/section}
				</div>
			</div>
		</div>
		{/if}

		{if $testimonials}
			<div class="spacer no-space-bottom">
				{foreach from=$testimonials item=testimonial}
				<div class="testimonial">
					<div class="testimonial-text">{$testimonial.testimonial|htmlspecialchars|nl2br}</div>
					<div class="testimonial-author">
						<b>{$testimonial.name|htmlspecialchars}</b>{if $testimonial.company}, {$testimonial.company|htmlspecialchars}{/if}
					</div>
				</div>
				{/foreach}
			
			
				{if $prevLink || $nextLink}
					<div class="spacer text-center">
						{if $prevLink}<a href="{$prevLink}">{$msg.testimonials.prev}</a>{/if}
						{if $nextLink}<a href="{$nextLink}">{$msg.testimonials.next}</a>{/if}
					</div>
				{/if}
			</div>
		{/if}

		
	
		{if $testimonialError}
			<div class="spacer no-space-bottom">
				<div class="msg-error">{$msg.testimonials.error}</div>
			</div>
		{/if}

		<form name="form-testimonial" method="post" action="index.php?p=testimonials">
			<input type="hidden" name="submitTestimonial" value="1"/>
			<div class="spacer">
				<div class="fieldset clearfix {class file=$smarty.template editable=true}">
					<h3>{$msg.testimonials.write_testimonial}</h3>
					<div class="field first required">
						<label>{$msg.testimonials.your_name}</label>
						<div><input type="text" name="testimonial[name]" value="{$testimonialToEdit.name|htmlspecialchars}"/></div>
					</div>
					<div class="field">
						<label>{$msg.testimonials.company}</label>
						<div><input type="text" name="testimonial[company]" value="{$testimonialToEdit.company|htmlspecialchars}"/></div>
					</div>
					{if $testimonials_Use_Rating == "Yes"}
					<div class="field required">
						<label>{$msg.testimonials.rating}</label>
						<div>
							<select name="testimonial[rating]">
								<option value="">-</option>
								<option value="1" {if $testimonialToEdit.rating == "1"}selected="selected"{/if}>1</option>
								<option value="2" {if $testimonialToEdit.rating == "2"}selected="selected"{/if}>2</option>
								<option value="3" {if $testimonialToEdit.rating == "3"}selected="selected"{/if}>3</option>
								<option value="4" {if $testimonialToEdit.rating == "4"}selected="selected"{/if}>4</option>
								<option value="5" {if $testimonialToEdit.rating == "5"}selected="selected"{/if}>5</option>
								<option value="6" {if $testimonialToEdit.rating == "6"}selected="selected"{/if}>6</option>
								<option value="7" {if $testimonialToEdit.rating == "7"}selected="selected"{/if}>7</option>
								<option value="8" {if $testimonialToEdit.rating == "8"}selected="selected"{/if}>8</option>
								<option value="9" {if $testimonialToEdit.rating == "9"}selected="selected"{/if}>9</option>
								<option value="10" {if $testimonialToEdit.rating == "10"}selected="selected"{/if}>10</option>
							</select>
						</div>
					</div>
					{/if}
					<div class="field clearfix required">
						<label>{$msg.testimonials.testimonial}</label>
						<div><textarea name="testimonial[testimonial]">{$testimonialToEdit.testimonial|htmlspecialchars}</textarea></div>
					</div>
					{if $captchaMethod != "None" && $testimonials_Use_Captcha && $captcha}
					<div class="field clearfix required">
					<label>{$msg.testimonials.captcha}</label>
						<div class="captcha">
							<!-- recaptcha image verification -->
							<script src="https://www.google.com/recaptcha/api.js" async defer></script>
							<div class="g-recaptcha" data-sitekey="{$site_key}"></div>
							<!-- recaptcha end -->
						</div>
					</div>
					{/if}
				</div>
				<div class="buttons">
					{button class="button-testimonial-submit" text=$msg.buttons.buttonTestimonialSubmit file=$smarty.template}
				</div>
			</div>
		</form>
	{/if}
</div>