<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="settings.advanced_settings"}</h1>
	</div>
	<hr class="clearfix">
</div>

<div id="settings-nav" class="container-fluid">
	<div class="col-xs-12 col-md-4 col-lg-3">
		<a href="admin.php?p=store_settings">
			<span class="icon icon-store-settings"></span>
			<h3 class="text-center">{trans key="store_settings.store_settings"}</h3>
		</a>
	</div>
	<div class="col-xs-12 col-md-4 col-lg-3">
		<a href="admin.php?p=checkout">
			<span class="icon icon-checkout"></span>
			<h3 class="text-center">{trans key="checkout.checkout"}</h3>
		</a>
	</div>
	<div class="col-xs-12 col-md-4 col-lg-3">
		<a href="admin.php?p=order_notifications">
			<span class="icon icon-order-notification"></span>
			<h3 class="text-center">{trans key="settings.order_notification"}</h3>
		</a>
	</div>
	<div class="col-xs-12 col-md-4 col-lg-3">
		<a href="admin.php?p=settings_invoice">
			<span class="icon icon-printable-invoices"></span>
			<h3 class="text-center">{trans key="settings.printable_invoices"}</h3>
		</a>
	</div>{if $access_filemanager}
	<div class="col-xs-12 col-md-4 col-lg-3">
		<a href="admin.php?p=filemanager">
			<span class="icon icon-file-manager"></span>
			<h3 class="text-center">{trans key="settings.file_manager"}</h3>
		</a>
	</div>{/if}
	<div class="col-xs-12 col-md-4 col-lg-3">
		<a href="admin.php?p=email_notifications">
			<span class="icon icon-notification-emails"></span>
			<h3 class="text-center">{trans key="settings.notification_emails"}</h3>
		</a>
	</div>
	<div class="col-xs-12 col-md-4 col-lg-3">
		<a href="admin.php?p=admins">
			<span class="icon icon-administrators"></span>
			<h3 class="text-center">{trans key="settings.administrators"}</h3>
		</a>
	</div>
	<div class="col-xs-12 col-md-4 col-lg-3">
		<a href="admin.php?p=forms_control&mode=customfieldslist">
			<span class="icon icon-form-fields"></span>
			<h3 class="text-center">{trans key="custom_fields.custom_fields"}</h3>
		</a>
	</div>
	<div class="col-xs-12 col-md-4 col-lg-3">
		<a href="admin.php?p=admins_log">
			<span class="icon icon-store-logs"></span>
			<h3 class="text-center">{trans key="settings.store_logs"}</h3>
		</a>
	</div>
	<div class="col-xs-12 col-md-4 col-lg-3">
		<a href="admin.php?p=api">
			<span class="icon icon-api-access"></span>
			<h3 class="text-center">{trans key="settings.api_access"}</h3>
		</a>
	</div>
	<div class="col-xs-12 col-md-4 col-lg-3">
		<a href="admin.php?p=countries">
			<span class="icon icon-globe"></span>
			<h3 class="text-center">{trans key="settings.countries"}</h3>
		</a>
	</div>
	<div class="col-xs-12 col-md-4 col-lg-3">
		<a href="admin.php?p=settings_ccs">
			<span class="icon icon-ccs"></span>
			<h3 class="text-center">{trans key="settings.credit_card_storage"}</h3>
		</a>
	</div>
	<div class="col-xs-12 col-md-4 col-lg-3">
		<a href="admin.php?p=settings_wholesale">
			<span class="icon icon-wholesale"></span>
			<h3 class="text-center">{trans key="settings.wholesale_settings"}</h3>
		</a>
	</div>
	<div class="col-xs-12 col-md-4 col-lg-3">
		<a href="admin.php?p=backup_restore">
			<span class="icon icon-backup"></span>
			<h3 class="text-center">{trans key="settings.backup_restore"}</h3>
		</a>
	</div>
	<div class="col-xs-12 col-md-4 col-lg-3">
		<a href="admin.php?p=digital_download">
			<span class="icon icon-file-manager"></span>
			<h3 class="text-center">{trans key="settings.digital_download"}</h3>
		</a>
	</div>
	<div class="col-xs-12 col-md-4 col-lg-3">
		<a href="admin.php?p=fraud_methods">
			<span class="icon-fraud-service"></span>
			<h3 class="text-center">{trans key="settings.fraud_service"}</h3>
		</a>
	</div>
	<div class="col-xs-12 col-md-4 col-lg-3">
		<a href="admin.php?p=snippets">
			<span class="icon icon-form-fields"></span>
			<h3 class="text-center">{trans key="settings.snippets"}</h3>
		</a>
	</div>
</div>