<div class="form-group field-template{if $field.errors || $field.required && empty($field.value)} has-error has-feedback required{/if} col-xs-12">
	<label for="field-plugin_openapi_token">{trans key=$field.label}</label>
	<div class="row">
		<div class="col-xs-6">
			<input id="field-plugin_openapi_token" class="form-control field-plugin_openapi_token" type="text" value="{$field.value|gs}" name="plugin_openapi_token" placeholder="{trans key=$field.placeholder}" {if $field.required} data-required="1"{/if}>
			{if $field.required}
			<span class="glyphicon glyphicon-warning-sign form-control-feedback warning-sign text-error{if !empty($field.value)} hidden{/if}" aria-hidden="true"></span>
			{else}
			<span class="glyphicon glyphicon-warning-sign form-control-feedback warning-sign text-error hidden" aria-hidden="true"></span>
			{/if}
		</div>
		<div class="col-xs-6">
			<button id="token-generate" type="button" class="btn">{trans key='common.generate'}</button>
		</div>
	</div>
</div>