<form name="form-settings" class="form-address" action="admin.php?p=checkout" role="form" method="post" data-auto-validate="1">
	<input type="hidden" name="nonce" id="nonce" value="{$nonce}">

	<div id="content-header">
		<div class="container-fluid">
			<h1 class="col-xs-6">{trans key="checkout.checkout_settings"}</h1>
			<div class="col-xs-6 pull-right text-right btn-toolbar">
				<a href="admin.php?p=settings&action=advanced">{trans key="common.cancel"}</a>
				<button class="btn btn-primary">{trans key="common.save"}</button>
			</div>
		</div>
		<hr class="clearfix">
	</div>

	{form form=$form}
</form>
<script src="content/admin/scripts/checkout-settings.js" type="text/javascript"></script>