<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="settings.setup_your_store"}</h1>
	</div>
	<hr class="clearfix">
</div>

<div id="settings-nav" class="container-fluid">
	<div class="col-xs-12 col-md-4 col-lg-3">
		<a href="admin.php?p=store_info">
			<span class="icon icon-store-address"></span>
			<h3 class="text-center">{trans key="settings.store_information"}</h3>
		</a>
	</div>
	<div class="col-xs-12 col-md-4 col-lg-3">
		<a href="admin.php?p=payment_methods">
			<span class="icon icon-payments"></span>
			<h3 class="text-center">{trans key="settings.payments"}</h3>
		</a>
	</div>
	<div class="col-xs-12 col-md-4 col-lg-3">
		<a href="admin.php?p=shipping">
			<span class="icon icon-shipping"></span>
			<h3 class="text-center">{trans key="settings.shipping"}</h3>
		</a>
	</div>
	<div class="col-xs-12 col-md-4 col-lg-3">
		<a href="admin.php?p=taxes">
			<span class="icon icon-taxes"></span>
			<h3 class="text-center">{trans key="settings.taxes"}</h3>
		</a>
	</div>
	<div class="col-xs-12 col-md-4 col-lg-3">
		<a href="admin.php?p=currencies">
			<span class="icon icon-currencies"></span>
			<h3 class="text-center">{trans key="settings.currencies"}</h3>
		</a>
	</div>
	<div class="col-xs-12 col-md-4 col-lg-3">
		<a href="admin.php?p=languages">
			<span class="icon icon-languages"></span>
			<h3 class="text-center">{trans key="settings.languages"}</h3>
		</a>
	</div>
</div>