<div id="admin-tab-sheet-settings" class="admin-tab-sheet">
	<div class="admin-tab-sheet-wrap">
		{form form=$settingsForm}
		<div class="admin-form-buttons">
			<input id="wholesalecentral-update" type="submit" value="Save changes">
			<input type="reset" value="Reset form">
		</div>
	</div>
</div>

<div id="admin-tab-sheet-datafeed" class="admin-tab-sheet">
	<div class="admin-tab-sheet-wrap">
		{form form=$datafeedForm}
	</div>
</div>