<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<h4 class="qsg-page-header">{trans key="quick_start_guide.step_three.site_information"}</h4>
		{form form=$siteInformation.form}
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<h4 class="qsg-page-header">{trans key="quick_start_guide.step_three.seo_settings"}</h4>
		{form form=$seoSettings.form}
	</div>
</div>