<h1 class="admin-page-header clearfix">
	<span class="icon icb-icon {$PageHeader[2]}"></span>
	<span class="text"><strong>{$PageHeader[0]}</strong></span>
</h1>
{if $PageWhat}
	<div class="admin-page-what">
		{trans key="common.what_to_do"}
		<ul>
	{foreach from=$PageWhat item=item}
		{if (!isset($item.visible) || $item.visible)}
		<li><a href="{$item.url}">{$item.text}</a></li>
		{/if}
	{/foreach}
		</ul>
	</div>
{/if}