<div id="loginContainer">
	<img alt="{$label_app_name}" src="{$logo}">
	<p id="form-error" class="bg-danger text-danger">{trans key=$license_error_message}</p>
	<h6>
		{trans key="common.contact_support" label_support_area=$label_support_area}
	</h6>
</div>