<div id="loginContainer">
	<img alt="{$label_app_name}" src="{$logo}">
	<p id="form-error" class="{if $is_error}bg-danger text-danger{else}bg-success text-success{/if}"{if !$login_message} style="display: none;"{/if}>{if $login_message}{trans key=$login_message}{/if}</p>
	<form id="frmLogin" url="{$AdminHttpsUrl}/login.php" method="post" autocomplete="off">
		<div>
			<input type="hidden" name="action" value="login">
			<input id="username" name="username" type="text" placeholder="Username">
			<input id="password" name="password" type="password" placeholder="Password">
			<button id="submit-login" class="login-submit" type="submit">{trans key="common.login"}</button>
			<a id="forgotPassword" href="#">{trans key="common.forgot_password"}</a>
		</div>
		{if $hasIntuitOpenId}
		<fieldset>
			<legend style="border:none;font-size:13px;margin-bottom: 10px;">-- OR --</legend>
			<div>
				<ipp:login href="{$AdminHttpsUrl}/login.php?action=openid" type="vertical"></ipp:login>
			</div>
		</fieldset>
		{/if}
	</form>

	<form id="frmResetValidate" url="{$AdminHttpsUrl}/login.php" method="post" autocomplete="off" style="display: none;">
		<div>
			<input type="hidden" name="action" value="reset">
			<input type="hidden" name="validate" value="1">
			<input id="username" name="username" type="text" placeholder="Username">
			<input id="email" name="email" type="email" placeholder="Email">
			<button id="submit-reset" class="login-submit" type="submit">{trans key="common.continue"}</button>
		</div>
	</form>

	<form id="frmResetRecovery" url="{$AdminHttpsUrl}/login.php" method="post" autocomplete="off" style="display: none;">
		<div>
			<input type="hidden" name="action" value="reset">
			<input type="hidden" name="recovery" value="1">
			<input type="hidden" name="username">
			<input type="hidden" name="email">
			<span id="security_question"></span>
			<input id="answer" name="answer" type="password" placeholder="Security Answer">
			<button id="submit-reset" class="login-submit" type="submit">{trans key="common.reset_submit"}</button>
		</div>
	</form>
	<h6>
		{trans key="common.contact_support" label_support_area=$label_support_area}
	</h6>
</div>