<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="common.security_error"}</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
		</div>
	</div>
	<hr class="clearfix">
</div>

<div class="container-fluid">
	<div class="col-xs-12">
		<h2>{trans key="common.no_privilege_access"}</h2>
	</div>
</div>