<div id="site-container" class="site-container">

	{if $DesignTopMenuAvailable == 'YES'}
		<div class="container-navigation container-navigation-top clearfix">
			<div class="{$LayoutSiteWidth} container-wrap clearfix">
				{include file="templates/layouts/zones/navigation.html"}
			</div>
		</div>
	{/if}

	<div class="container-header clearfix">
		<div class="container-wrap {$LayoutSiteWidth} clearfix">
			{include file="templates/layouts/zones/header.html"}
		</div>
	</div>

	{if $DesignTopMenuAvailable == 'YES'}
		<div class="container-menu clearfix">
			<div class="{$LayoutSiteWidth} container-wrap clearfix">
				{include file="templates/layouts/zones/menu.html"}
			</div>
		</div>
	{else}
		<div class="container-navigation container-navigation-middle clearfix">
			<div class="{$LayoutSiteWidth} container-wrap clearfix">
				{include file="templates/layouts/zones/navigation.html"}
			</div>
		</div>
	{/if}

	<div class="container-main clearfix">
		<div class="{$LayoutSiteWidth} container-wrap clearfix">
			<div id="main" class="clearfix">
				{include file="templates/layouts/zones/left.html"}
				{include file="templates/layouts/zones/right.html"}
				{include file="templates/layouts/zones/content.html"}
			</div>
		</div>
	</div>

	<div class="container-footer clearfix">
		<div class="{$LayoutSiteWidth} container-wrap  clearfix">
			{include file="templates/layouts/zones/footer.html"}
		</div>
	</div>
</div>