<div id="site-container" class="site-container">
	<div class="container-header container clearfix {$LayoutSiteWidth}">{include file="templates/layouts/zones/header.html"}</div>
	<div class="container-main container clearfix {$LayoutSiteWidth}">
		<div id="main">
			{include file="templates/layouts/zones/content.html"}
		</div>
	</div>
	{**<div class="container-footer container clearfix {$LayoutSiteWidth}">{include file="templates/layouts/zones/footer.html"}</div>**}
</div>