<form name="form-admin" action="admin.php?p=admin&mode={$mode|gs}{if $id}&aid={$id|gs}{/if}" role="form" method="post" data-auto-validate="1" autocomplete="off" enctype='multipart/form-data'>
	<input type="hidden" name="nonce" id="nonce" value="{$nonce}">
	<input type="hidden" name="mode" value="{$mode|gs}">

	<div id="content-header">
		<div class="container-fluid">
			<h1 class="col-xs-6">{if $mode == 'update'}{trans key='common.editing'}{else}{trans key='admin.admin.site_administrator_add'}{/if} {trans key='admin.admin.site_administrator'} <span class="title">{$title}</span></h1>
			<div class="col-xs-6 pull-right text-right btn-toolbar">
				<a href="admin.php?p=admins">{trans key="common.cancel"}</a>
				<button class="btn btn-primary">{trans key="common.save"}</button>
			</div>
		</div>
		<hr class="clearfix">
	</div>
{if $canAccess}
	{form form=$form}
{else}
	<div class="container-fluid">
		<div class="col-xs-12">
			{trans key='admin.admin.license_agreement' max_admins=$max_admins}
		</div>
	</div>
{/if}

	{include file="templates/pages/admin/profile/modal-generator.html"}

</form>
<script src="content/admin/scripts/admins.js?v={$APP_VERSION}" type="text/javascript"></script>
