<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key='admin.admin.site_administrators'}</h1>
		{if $canAccess}
		<div class="col-xs-6 pull-right text-right btn-toolbar">
			<a href="admin.php?p=admin&mode=insert" class="btn btn-primary pull-right">{trans key='admin.admin.site_administrator_add'}</a>
		</div>
		{/if}
	</div>
	<hr class="clearfix">
</div>

{if $canAccess}
	{include file="templates/pages/admin/admin/modal-delete.html"}
	{if $admins}
		<div class="container-fluid">
			<div class="col-xs-12 col-md-6">
				<div class="btn-group">
					<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							{trans key="common.bulk_actions"}
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a href="#" data-toggle="modal" data-target="#modal-administrators-delete">{trans key="common.delete"}</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		&nbsp;
		<div class="container-fluid">
			<div class="col-xs-12 col-md-12">
				<table class="table table-striped">
					<thead>
					<tr>
						<th style="width:50px;"><input type="checkbox" id="selectAll"></th>
						<th>{trans key='admin.profile.username'}</th>
						<th>{trans key='admin.profile.name'}</th>
						<th>{trans key='admin.profile.active'}</th>
						<th>{trans key='admin.profile.last_access'}</th>
						<th></th>
					</tr>
					</thead>
					<tbody>
					{foreach from=$admins item="admin"}
						<tr>
							<td><input type="checkbox" class="checkbox-admin" name="row[{$admin.aid}]" value="{$admin.aid}"></td>
							<td><a href="admin.php?p=admin&mode=update&aid={$admin.aid}">{$admin.username|gs}</a></td>
							<td><a href="admin.php?p=admin&mode=update&aid={$admin.aid}">{$admin.name|gs}</a></td>
							<td>{if $admin.active == 'Yes'}{trans key="admin.profile.active_options.yes"}{else}{trans key="admin.profile.active_options.no"}{/if}</td>
							<td>{$admin.last_access}</td>
							<td class="list-actions text-right">
								<a href="admin.php?p=admin&mode=update&aid={$admin.aid}"><span class="icon icon-edit"></span>{trans key="common.edit"}</a>
								<a href="#" class="remove-admin" data-id="{$admin.aid}" data-nonce="{$delete_nonce}"><span class="icon icon-delete"></span>{trans key="common.delete"}</a>
							</td>
						</tr>
					{/foreach}
					</tbody>
				</table>
				<div class="custom-pager">
					{if $paginator->prevPage}
						<a role="button" class="btn btn-default" href="admin.php?p=admins&amp;page={$paginator->prevPage}"><span class="icon icon-pagination-left"></span></a>
					{else}
						<button disabled class="btn btn-default"><span class="icon icon-pagination-left"></span></button>
					{/if}

					{if $paginator->nextPage}
						<a role="button" class="btn btn-default" href="admin.php?p=admins&amp;page={$paginator->nextPage}"><span class="icon icon-pagination-right"></span></a>
					{else}
						<button disabled class="btn btn-default"><span class="icon icon-pagination-right"></span></button>
					{/if}

					<span class="text">{$paginator->itemsFrom}-{$paginator->itemsTo} <span class="of">{trans key="common.of"}</span>  {$paginator->itemsCount}</span>
				</div>
			</div>
		</div>
	{else}
		<div class="container-fluid">
			<div class="col-xs-12">
				{trans key='admin.admin.no_admins_created'}
			</div>
		</div>
	{/if}
{else}
	<div class="container-fluid">
		<div class="col-xs-12">
			{trans key='admin.admin.license_agreement' max_admins=$max_admins}
		</div>
	</div>
{/if}

<script type="text/javascript" src="content/admin/scripts/admins.js?v={$APP_VERSION}"></script>