<div class="modal fade" id="modal-administrators-delete" tabindex="-1" role="dialog" aria-labelledby="modal-administrators-delete-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-administrators-delete">
			<input type="hidden" name="nonce" value="{$delete_nonce}">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-administrators-delete-label">{trans key="admin.admin.delete_administrators"}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group col-xs-12">
						<label><input type="radio" name="form-administrators-delete-mode" value="selected" checked> {trans key="admin.admin.delete_selected_administrators"}</label>
						<label><input type="radio" name="form-administrators-delete-mode" value="all"> {trans key="admin.admin.delete_all_administrators"} ({trans key="common.all"} {$itemsCount})</label>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary">{trans key="common.delete"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>