<meta name="twitter:card" content="{$twitterCards.card|htmlspecialchars}">
<meta name="twitter:site" content="{$twitterCards.site|htmlspecialchars}">
<meta name="twitter:title" content="{$twitterCards.title|htmlspecialchars}">
<meta name="twitter:description" content="{$twitterCards.description|htmlspecialchars}">
<meta name="twitter:image" content="{$twitterCards.image|htmlspecialchars}">