<title>{$page.title|htmlspecialchars}</title>
<base href="{$url_base}"/>
<script type="text/javascript" language="javascript">
	var site_https_url = "{$url_https}";
	var site_http_url = "{$url_http}";
	var site_base_url = "{$url_base}";
	var site_dinamic_url = "{$url_dinamic}";
	var global_https_url = "{$GlobalHttpsUrl}";
	var site_admin_url = "{$AdminHttpsUrl}";
	var site_ajax_url = "{$url_ajax}";
	var site_ajax_url_admin = "{$url_ajax_admin}";
	var skin_images = "{$skin_images}";
	var skin_themes = "{$skin_themes}";
	var skin_name = "{$DesignSkinName}";
	var CartDeleteItemUrl = '{$url_http}oa={$ORDER_REMOVE_ITEM}';
	var CartEmptyUrl = '{$url_http}oa={$ORDER_CLEAR_ITEMS}';
	var orderItemsCount = {$order->itemsCount|intval};
	var ClearCartOnLogout = {if $ClearCartOnLogout=='Yes'}true{else}false{/if};	
	var urlLogout = "{$url_https}ua={$USER_LOGOUT}";
	var USER_DELETE_ADDRESS = "{$USER_DELETE_ADDRESS}";
	var USER_DELETE_PAYMENT_PROFILE = "{$USER_DELETE_PAYMENT_PROFILE}";
	var product_may_be_added = true;
	var topMenu = '{$DesignTopMenuAvailable}';
	var topMenuStyle = '{$DesignTopMenuStyle}';
	var sideMenuStyle = '{$DesignSideMenuStyle}';
	var cartVersion = '{$AppVer|replace:' ':''|replace:'.':''|replace:'R':'r'}';
	var cartVersionRaw = '{$AppVer}';
	{if $facebookLogin == 'Yes'}
		var facebookAccountLogin = true;
		var facebookAppId = '{$facebookAppId}';
	{else}
		var facebookAccountLogin = false;
		var facebookAppId = null;
	{/if}
	var auth_ok = {if $auth_ok == "yes"}true{else}false{/if};
	var login_ok = {if ($auth_ok == "yes" || $user_cookie) && $auth_express !='yes'}true{else}false{/if};
</script>
{include file="templates/wrappers/elements/element-custom-head.html"}

{meta}
{if !$isDesignMode}
{link href="content/vendors/jquery/ui/themes/smoothness/smoothness.css"}
{link href="content/vendors/jquery/smartsuggest/css/jquery.smartsuggest.css"}
{link href="content/vendors/jquery/treeview/jquery.treeview.css"}

{/if}

{if $ReviewsEnable == '1'}
	{script src="content/vendors/jquery/rater/jquery.rater-custom.js"}
	{script path=$skin_javascript src="products_reviews.js"}
	{link href="content/vendors/jquery/rater/rater.css"}
{/if}

{if !$isDesignMode && $isDevMode}
	{link path=$skin_styles href="base.css" id="css-base"}
	{link path=$skin_styles href="skin.css" id="css-skin"}
	{link path=$skin_themes href=$DesignSkinTheme|cat:'.css' id="css-theme"}
	{link path=$skin_styles href="designmode.css" id="css-designmode" nocache=true}
	{link path=$skin_styles href="custom.css" id="css-custom"}
{elseif !$isDesignMode}
	{link path=$skin_styles href="all.css" id="css-all"}
{/if}

{link}

{if !empty($canonical_url)}
	<link rel="canonical" href="{$canonical_url}"/>
{/if}
{if !empty($rel_next)}
	<link rel="next" href="{$rel_next}"/>
{/if}
{if !empty($rel_prev)}
	<link rel="prev" href="{$rel_prev}"/>
{/if}

{script action="render" src="content/vendors/jquery/jquery-1.9.1.min.js"}
{script action="render" src="content/vendors/jquery/jquery-migrate/jquery-migrate-1.2.1.min.js"}
{script action="render" src="content/vendors/jquery/ui/jquery-ui-1.10.3.custom.min.js"}
{script action="render" src="content/vendors/jquery/treeview/jquery.treeview.js"}
{script action="render" src="content/vendors/jquery/smartsuggest/jquery.smartsuggest-min.js"}
{script action="render" src="content/vendors/jquery/corner/jquery.corner.js"}
{script action="render" src="content/vendors/jquery/cookies/cookies.js"}
{script action="render" src="content/vendors/jquery/autoresize/autoresize.jquery.min.js"}
{script action="render" src="content/vendors/md5/md5-min.js"}
{script action="render" src="content/vendors/json/json2-min.js"}
{script action="render" src="content/vendors/jquery/complexify/jquery.complexify.banlist.js"}
{script action="render" src="content/vendors/jquery/complexify/jquery.complexify.js"}

{script action="render" path=$skin_javascript src="menu.js"}
{script action="render" path=$skin_javascript src="global.js"}
{script action="render" path=$skin_javascript src="common.js"}
{script action="render" path=$skin_javascript src="validators.js"}
{script action="render" path=$skin_javascript src="base.js"}
{if $PredictiveSearchEnabled == '1'}{script action="render" path=$skin_javascript src="search.js"}{/if}
{script action="render" path=$skin_javascript src="skin.js"}

{script}
	
<!--[if gte IE 7]>
	<link type="text/css" rel="stylesheet" href="{$skin_styles}ie7plus.css" />
	<script type="text/javascript" src="{$skin_javascript}ie7plus.js"></script>
<![endif]-->
	<!--[if IE 7]>
	<link rel="stylesheet" type="text/css" href="{$skin_styles}ie7base.css" />
	<link rel="stylesheet" type="text/css" href="{$skin_styles}ie7.css" />
	<script type="text/javascript" src="{$skin_javascript}ie7base.js"></script>
	{literal}
	<script type="text/javascript">
		$(function() {
			var zIndexNumber = 5000;
			$('.ui-dialog, .drop-down-menu li,.drop-down-menu div').each(function() {
				//$(this).css('zIndex', zIndexNumber);
				zIndexNumber -= 10;
			});
			
			//$('.ui-dialog').css('zIndex', 6000);
		});
	</script>
	{/literal}
<![endif]-->
<!--[if lte IE 6]>
	<script type="text/javascript" src="content/vendors/jquery/pngFix/jquery.pngFix.pack.js"></script>
	<link type="text/css" rel="stylesheet" href="{$skin_styles}ie6base.css" />
	<script type="text/javascript" src="{$skin_javascript}ie6base.js"></script>
	<link type="text/css" rel="stylesheet" href="{$skin_styles}ie6.css" />
	<script type="text/javascript" src="{$skin_javascript}ie6.js"></script>
<![endif]-->

{if $facebookCommentsProduct == "Yes"}
<meta property="fb:app_id" content="{$facebookAppId}"/>
{/if}
{if $disallowPinterestPin == 'Yes'}
<meta name="pinterest" content="nopin" />
{/if}
{if $GoogleAnalyticsAsync == 'Yes' && $GoogleAnalyticsActive == 'YES' && !$isDesignMode}{$GoogleAnalytics}{/if}

{if $current_page == "completed" && $GoogleConversionAsync == 'YES' && $GoogleConversionActive == "YES"}
	{include file="templates/pages/google/conversion_code.html"}
{/if}

{if $IS_TRIAL && $IS_TRIAL_BAR}
<!-- Trial -->
<link rel="stylesheet" type="text/css" href="{$skin_styles}trial.css"/>
{/if}
{if twitterCards}
{include file="templates/wrappers/elements/element-twitter-head.html"}
{/if}