<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="marketing.drift_marketing"}</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
			<a href="admin.php?p=drift_marketing&mode=add" class="btn btn-primary pull-right">{trans key="marketing.add_email_campaign"}</a>
		</div>
	</div>
	<hr class="clearfix">
</div>

{if $campaigns}

	{include file="templates/pages/drift-marketing/modal-delete.html"}	

	<div class="container-fluid">
		<div class="col-xs-12 col-md-6">
			<div class="btn-group">
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						{trans key="common.bulk_actions"}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#" data-toggle="modal" data-target="#modal-campaigns-delete">{trans key="common.delete"}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	&nbsp;
	<div class="container-fluid">
		<div class="col-xs-12 col-md-12">
			<table class="table table-striped">
				<thead>
					<tr>
						<th style="width:50px;"><input type="checkbox" id="selectAll"></th>
						<th>{trans key="marketing.title"}</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{foreach from=$campaigns item="one"}
						<tr>
							<td><input type="checkbox" class="checkbox-campaign" name="row[{$one.id}]" value="{$one.id}"></td>
							<td><a href="admin.php?p=drift_marketing&mode=update&id={$one.id}">{$one.name|htmlspecialchars}</a></td>
							<td>{$one.created}</td>
							<td class="list-actions text-right" nowrap>
								<a href="admin.php?p=drift_marketing&mode=update&id={$one.id}"><span class="icon icon-edit"></span>{trans key="common.edit"}</a>
								<a href="#" onclick="return removeCampaign({$one.id}, '{$delete_nonce}');"><span class="icon icon-delete"></span>{trans key="common.delete"}</a>
							</td>
						</tr>
					{/foreach}
				</tbody>
			</table>
			<div class="custom-pager">
				{if $paginator->prevPage}
					<a role="button" class="btn btn-default" href="admin.php?p=drift_marketing&amp;page={$paginator->prevPage}"><span class="icon icon-pagination-left"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-left"></span></button>
				{/if}

				{if $paginator->nextPage}
					<a role="button" class="btn btn-default" href="admin.php?p=drift_marketing&amp;page={$paginator->nextPage}"><span class="icon icon-pagination-right"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-right"></span></button>
				{/if}

				<span class="text">{$paginator->itemsFrom}-{$paginator->itemsTo} <span class="of">{trans key="common.of"}</span>  {$paginator->itemsCount}</span>
			</div>
		</div>
	</div>
{else}
	<div class="container-fluid">
		<div class="col-xs-12 col-md-12">
			There are no records found
		</div>
	</div>
{/if}

<script type="text/javascript" src="content/admin/scripts/drift-marketing.js?v={$APP_VERSION}"></script>