<div class="modal fade" id="modal-campaigns-delete" tabindex="-1" role="dialog" aria-labelledby="modal-campaigns-delete-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-campaigns-delete">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-campaigns-delete-label">{trans key="marketing.delete_email_campaign"}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group col-xs-12">
						<label><input type="radio" name="form-campaigns-delete-mode" value="selected" checked> {trans key="marketing.delete_selected_email_campaigns"}</label>
						<label><input type="radio" name="form-campaigns-delete-mode" value="search"> {trans key="marketing.delete_all_email_campaigns"} ({trans key="common.all"} {$itemsCount})</label>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="button" nonce="{$delete_nonce}" class="btn btn-primary" data-action="action-campaigns-delete">{trans key="common.delete"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>