<form name="form-customfield" action="admin.php?p=forms_control" role="form" method="post" data-auto-validate="1" autocomplete="off" enctype='multipart/form-data'>
	<input type="hidden" name="nonce" id="nonce" value="{$nonce}">
	<input type="hidden" name="mode" value="{$mode|gs}">
	{if $id}<input type="hidden" name="id" value="{$id|gs}">{/if}

	<div id="content-header">
		<div class="container-fluid">
			<h1 class="col-xs-6">{if $mode == 'customfieldsadd'}{trans key="custom_fields.add_custom_field"}{else}{trans key="common.editing"} {trans key="custom_fields.custom_fields"}{/if} <span class="title">{$title}</h1>
			<div class="col-xs-6 pull-right text-right btn-toolbar">
				<a href="admin.php?p=forms_control&mode=customfieldslist">{trans key="common.cancel"}</a>
				<button class="btn btn-primary">{trans key="common.save"}</button>
			</div>
		</div>
		<hr class="clearfix">
	</div>

	{form form=$form}
</form>

<script type="text/javascript" src="content/admin/scripts/forms-control.js?v={$APP_VERSION}"></script>