<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="custom_fields.custom_fields"}</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
			<a href="admin.php?p=settings&action=advanced">{trans key="common.cancel"}</a>
			<button class="btn btn-primary" onclick="pushAddCUstomFieldButton('admin.php?p=forms_control&mode=customfieldsadd')">{trans key="custom_fields.add_custom_field"}</button>
		</div>
	</div>
	<hr class="clearfix">
</div>
{include file="templates/pages/forms-fields/customfields/modal-delete.html"}

{if $customfields}

	<div class="container-fluid">
		<div class="col-xs-12 col-md-6">
			<div class="btn-group">
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						{trans key="common.bulk_actions"}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#" data-toggle="modal" data-target="#modal-customfields-delete">{trans key="common.delete"}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	&nbsp;
	<div class="container-fluid">
		<div class="col-xs-12 col-md-12">
			<table class="table table-striped">
				<thead>
					<tr>
						<th style="width:50px;"><input type="checkbox" id="selectAll"></th>
						<th>{trans key="custom_fields.field_name"}</th>
						<th>{trans key="custom_fields.field_caption"}</th>
						<th>{trans key="custom_fields.section"}</th>
						<th>{trans key="custom_fields.type"}</th>
						<th>{trans key="custom_fields.active"}</th>
						<th>{trans key="custom_fields.required"}</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{foreach from=$customfields item="field"}
						<tr>
							<td><input type="checkbox" class="checkbox-customfield" name="row[{$field.field_id}]" value="{$field.field_id}"></td>
							<td><a href="admin.php?p=forms_control&mode=customfieldsupdate&id={$field.field_id}">{$field.field_name|htmlspecialchars}</a></td>
							<td>{$field.field_caption|htmlspecialchars}</td>
							<td>{$field.field_place|ucfirst}</td>
							<td>{$field.field_type|ucfirst}</td>
							<td>{if $field.is_active == 1}{trans key="common.yes"}{else}{trans key="common.no"}{/if}</td>
							<td>{if $field.is_required == 1}{trans key="common.yes"}{else}{trans key="common.no"}{/if}</td>
							<td class="list-actions text-right">
								<a href="admin.php?p=forms_control&mode=customfieldsupdate&id={$field.field_id}"><span class="icon icon-edit"></span>{trans key="common.edit"}</a>
								<a href="#" onclick="return removeCustomField({$field.field_id}, '{$delete_nonce}');"><span class="icon icon-delete"></span>{trans key="common.delete"}</a>
							</td>
						</tr>
					{/foreach}
				</tbody>
			</table>
            <div class="custom-pager">
                {if $paginator->prevPage}
                <a role="button" class="btn btn-default" href="admin.php?p=forms_control&amp;mode=customfieldslist&amp;page={$paginator->prevPage}"><span class="icon icon-pagination-left"></span></a>
                {else}
                <button disabled class="btn btn-default"><span class="icon icon-pagination-left"></span></button>
                {/if}

                {if $paginator->nextPage}
                <a role="button" class="btn btn-default" href="admin.php?p=forms_control&amp;mode=customfieldslist&amp;page={$paginator->nextPage}"><span class="icon icon-pagination-right"></span></a>
                {else}
                <button disabled class="btn btn-default"><span class="icon icon-pagination-right"></span></button>
                {/if}

                <span class="text">{$paginator->itemsFrom}-{$paginator->itemsTo} <span class="of">{trans key="common.of"}</span>  {$paginator->itemsCount}</span>
            </div>
		</div>
	</div>
{else}
	<div class="container-fluid">
		<div class="col-xs-12">
			{trans key="custom_fields.no_custom_fields_yet"}
		</div>
	</div>
{/if}

<script type="text/javascript" src="content/admin/scripts/forms-control.js?v={$APP_VERSION}"></script>