<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="design.change_theme"}</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
		</div>
	</div>
	<hr class="clearfix">
</div>

{include file="templates/pages/design-settings/modal-preview.html"}
{include file="templates/pages/design-settings/modal-activate.html"}
<div class="container-fluid">
	<div class="col-xs-12 col-md-6 col-lg-5">
		{if $selectedTheme.preview_image}
			<img class="preview img-responsive" src="{$selectedTheme.preview_image}" data-thumbnail="{if $selectedTheme.thumbnail_image}{$selectedTheme.thumbnail_image}{else}images/admin/theme-nothumbnail.jpg{/if}">
		{else}
			<img class="preview img-responsive" src="images/admin/theme-nopreview.jpg?v={$APP_VERSION}">
		{/if}

	</div>
	<div class="col-md-6 col-lg-7 hidden-xs hidden-sm">
		<h2>{$selectedTheme.title}</h2>
		<div class="btn-toolbar">
			<a target="_blank" href="admin.php?p=design_settings&mode=viewsite" class="btn btn-primary">{trans key="design.preview_site"}</a>
			<a class="btn" href="admin.php?p=design_settings&mode=activatedesigner&design_mode_flag=on">{trans key="design.cart_designer"}</a>
		</div>
	</div>
	<div class="col-xs-12 hidden-md hidden-lg text-center">
		<h2>{$selectedTheme.title}</h2>
		<div class="btn-toolbar">
			<a target="_blank" href="admin.php?p=design_settings&mode=viewsite" class="btn btn-primary">{trans key="design.preview_site"}</a>
			<a class="btn" href="admin.php?p=design_settings&mode=activatedesigner&design_mode_flag=on">{trans key="design.cart_designer"}</a>
		</div>
	</div>
	<div class="col-xs-12">
		<hr class="clearfix">
	</div>
    <div class="clearfix">
		<div id="links" class="theme-selection">
		{foreach from=$themeCollection item="theme"}
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 theme-box">
				<div class="theme-thumbnail text-center">
					{if $theme.thumbnail_image}
						<a href="#"  data-img-src="{$theme.preview_image}" id="preview_{$theme.name}" class="theme-preview" title="{$theme.title}">
							<img data-theme="{$theme.name}" src="{$theme.preview_image}" class="img-responsive" title="{$theme.title}">
						</a>
					{else}
						<img data-theme="{$theme.name}" src="images/admin/theme-nopreview.jpg?v={$APP_VERSION}">
					{/if}
				</div>
				<h3 class="text-center">{$theme.title}</h3>
				<div class="btn-toolbar text-center">
					<a href="#" data-img-src="{$theme.preview_image}" title="{$theme.title}" class="btn theme-preview">{trans key="design.preview"}</a>
					<button data-theme-id="{$theme.name}" class="theme-activate btn btn-primary">{trans key="design.activate"}</button>
				</div>
			</div>
		{/foreach}
		</div>
    </div>
</div>
<script language="javascript" type="text/javascript">
    var themesInstallable = {$themesInstallable};
    var existingThemes = {$existingThemes};
    var themeRepository = document.location.protocol + '//www.cartmanual.com/themes';
    var cartVersion = '{$AppVer}';
	var themeInstalled = {$themeInstalled};
    var themeHasTestProducts = {$themeHasTestProducts};
</script>
<script type="text/javascript" src="content/admin/scripts/design-settings.js?v={$APP_VERSION}"></script>