<div class="modal fade" id="modal-theme-activate" tabindex="-1" role="dialog" aria-labelledby="modal-theme-activate-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-theme-activate">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-theme-activate-label">{trans key="design.activate"}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group col-xs-12">
						<h4>{trans key="design.activation_options"}</h4>
					</div>
					<div class="form-group col-xs-12">
						<label><input type="radio" name="form-theme-activate-mode" value="default" checked> {trans key="design.use_default"}</label>
						<label><input type="radio" name="form-theme-activate-mode" value="leave_changes"> {trans key="design.leave_changes"}</label>
					</div>
					<div class="form-group col-xs-12">
						<input type="hidden" name="form-theme-action" value="install">
						<input type="hidden" name="form-theme-id" value="0">
						<i>{trans key="design.notice_warning"}</i>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="button" nonce="{$delete_nonce}" class="btn btn-primary" data-action="action-theme-activate">{trans key="design.activate"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>