<div class="modal fade media" id="id-themes-gallery" tabindex="-1" role="image" aria-hidden="true">
    <div class="modal-dialog" style="width:650px;">
        <div class="modal-content">
            <div class="modal-header">
                <a data-dismiss="modal" class="close">{trans key="common.close"}</a>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body clearfix" style="padding: 25px 10px;">
				<div class="col-xs-12"><img class="modal-img media-object" style="max-width:600px;max-height:600px;" src="images/zerro.gif"></div>
            </div>
        </div>
    </div>
</div>