<form name="form-fraud-method" action="admin.php?p=fraud_method&fraud_method_id={$fraudMethodId}" role="form" method="post" data-auto-validate="1" autocomplete="off" enctype='multipart/form-data'>
	<input type="hidden" name="nonce" id="nonce" value="{$nonce}">

	<div id="content-header">
		<div class="container-fluid">
			<h1 class="col-xs-6">{trans key="common.edit"} {$fraudMethod.name|gs}</h1>
			<div class="col-xs-6 pull-right text-right btn-toolbar">
				<a href="admin.php?p=fraud_methods">{trans key="common.cancel"}</a>
				<button class="btn btn-primary">{trans key="common.save"}</button>
			</div>
		</div>
		<hr class="clearfix">
	</div>

	{form form=$form}
	{form form=$standardGatewaryForm}

</form>
<script type="text/javascript" src="content/admin/scripts/fraud-methods.js?v={$APP_VERSION}"></script>