<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="fraud_methods.methods"}</h1>
	</div>
	<hr class="clearfix">
</div>

<div class="container-fluid payments-nav">
	{foreach from=$FraudMethods item="fraudMethod"}
		<div>
			<div class="clearfix">
				<div class="col-xs-4">
					{if $fraudMethod.active == 'Yes'}
						{if $fraudMethod.logo != ''}
							<a href="#" class="edit-fraud-method" data-id="{$fraudMethod.fid}" ><img src="{$fraudMethod.logo}?v={$APP_VERSION}" class="img-responsive"></a>
						{else}
							<a href="#" class="edit-fraud-method" data-id="{$fraudMethod.fid}" ><h2>{$fraudMethod.name}</h2></a>
						{/if}
					{else}
						{if $fraudMethod.logo != ''}
							<img src="{$fraudMethod.logo}?v={$APP_VERSION}" class="img-responsive">
						{else}
							<h2>{$fraudMethod.name}</h2>
						{/if}
					{/if}
				</div>
				<div class="col-xs-8 text-right list-actions">
					{if $fraudMethod.active == 'Yes'}<a href="#" class="edit-fraud-method" data-id="{$fraudMethod.fid}" data-method-type="{if $fraudMethod.type == 'custom'}custom{/if}"><span class="icon icon-edit"></span>{trans key="common.edit"}</a>{/if}
					<span class="form-group field-checkbox">
						<label style="display:inline-block;width:40px;vertical-align: middle;">
							<input type="checkbox" data-method-caption="{$fraudMethod.title}" name="fraud_method_{$fraudMethod.fid}" class="{if $fraudMethod.active == 'Yes'}disable-fraud-method{else}activate-fraud-method{/if}" data-id="{$fraudMethod.fid}" data-nonce="{$delete_nonce}"{if $fraudMethod.active == 'Yes'} checked{/if}>
						</label>
					</span>
				</div>
			</div>
		</div>
	{/foreach}

	{if count($FraudMethods) == 0}
		{trans key="fraud_methods.no_records"}
	{/if}
</div>

{include file="templates/pages/fraud-method/modal-add-method.html"}
<script type="text/javascript" src="content/admin/scripts/fraud-methods.js?v={$APP_VERSION}"></script>