<div class="modal fade" id="modal-add-fraud" tabindex="-1" role="dialog" aria-labelledby="modal-add-fraud-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-add-fraud" method="post" action="admin.php?p=fraud_method&action=activate">
			<input type="hidden" name="fromQS" value="0">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-add-fraud-label">{trans key="fraud_methods.add_method"}</h4>
				</div>
				<div class="modal-body clearfix">
					<div class="form-group field-select col-xs-12 ">
						<label for="field-fraud_method_id">{trans key="fraud_methods.select_method"}</label>
						<select id="field-fraud_method_id" class="form-control field-fraud_method_id" name="fraud_method_id">
							<option value="">{trans key="fraud_methods.please_choose_method"}</option>
							{foreach from=$FraudMethods item="fraudMethod"}
								<option value="{$fraudMethod.fid}">{$fraudMethod.name|htmlspecialchars}{if $fraudMethod.active=="Yes"} (active){/if}</option>
							{/foreach}
						</select>
					</div>
					<div id="fraud-method-form"></div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary" data-action="action-add-fraud">{trans key="common.activate"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>