<div class="page-home wrap {class file=$smarty.template editable=true}">
	{assign var="imageId" value="image-home"}
	{if $designImages.$imageId}
		<div class="custom-home"><img class="image-home {class file=$smarty.template editable=true}" src="{$designImages.$imageId.content}" alt="{$msg.images.imageHome|htmlspecialchars}"/></div>
		<div class="clearfix"></div>
	{/if}
	<div class="custom-home clearfix">
		<div class="home-container clearfix">
			{if !empty($products)}
				<h1>{$msg.product.recommended_products}</h1>
				<div class="home-products">{include file='templates/pages/catalog/views/display.html'}</div>
			{/if}
		</div>
	</div>
</div>