<div class="panel-catalog-others-bought panel clearfix {class file=$smarty.template editable=true draggable=true}">
	<h4 class="title {class file=$smarty.template editable=true}">{$msg.headers.headerAlsobought}</h4>
	<div class="content {class file=$smarty.template editable=true}">
	{foreach from=$bought_bestsellers item="bestseller"}	
		<a href="{$bestseller.url}">{$bestseller.title|htmlspecialchars}</a>
		{if $bought_bestsellers_view != 'text'}
			{if $bestseller.image}
				<a href="{$bestseller.url}"><img src="{$bestseller.thumb}" {if $bestseller.image_location == "Web"}width="{$CatalogThumbSize}"{/if} style="border:0px;" alt="{$bestseller.title|htmlspecialchars}" title="{$bestseller.title|htmlspecialchars}"/></a>
			{else}
				<a href="{$bestseller.url}">
					{assign var="imageId" value="image-no-image-small"}
					{if $designImages.$imageId}
						<img class="image-no-image-small {class file=$smarty.template editable=true}" src="{$designImages.$imageId.content}" alt="{$msg.images.imageNoImageSmall|htmlspecialchars}"/>
					{else}
						{$msg.images.imageNoImageSmall|htmlspecialchars}
					{/if}
				</a>
			{/if}
		{/if} 
		<div>Price :
		{if $bestseller.call_for_price == "Yes"}
			{$msg.product.call_for_price}
		{else}
			{if ($VisitorSeePrice == "YES") || ($auth_ok == "yes" || $user_cookie)}
				{if $bestseller.price2 > 0}
					<span class="strike">{$bestseller.price2|price}</span><br />
				{/if}
				<span class="catalogPrice">{$bestseller.price|price}</span>
			{else}
				{if $AllowCreateAccount != "No"}
					<a href="{$url_https}p=login">{$msg.account.login}</a> | 
					<a href="{$url_https}p=signup">{$msg.account.register}</a>
				{/if}
			{/if}
		{/if}
		</div>
		{assign var="imageId" value="image-click-to-view"}
		{if $designImages.$imageId}
			<a href="{$bestseller.url}"><img class="image-click-to-view {class file=$smarty.template editable=true}" src="{$designImages.$imageId.content}" alt="{$msg.images.imageClickToView|htmlspecialchars}"/></a>
		{/if}
		<p><a href="{$bestseller.url}">{$msg.product.click_to_view}</a></p>
	{/foreach}
	</div>
</div>