<div class="panel-catalog-search panel clearfix {class file=$smarty.template editable=true draggable=true}">
	<h4 class="title {class file=$smarty.template editable=true}">{$msg.headers.headerSearch}</h4>
	<div class="content {class file=$smarty.template editable=true}">
		<form action="{$url_dynamic}" method="get">
			<input type="hidden" name="p" value="catalog"/>
			<input type="hidden" name="mode" value="search"/>
			<input type="hidden" name="search_in" value="all"/>
			<input maxlength="256" type="text" name="search_str" value="{$search_str|htmlspecialchars}" />
			<div class="gap-top text-center">
				{button class="button-start-search" text=$msg.buttons.buttonStartSearch file=$smarty.template}
			</div>
			<a href="{$url_http}p=catalog&amp;mode=search">{$msg.catalog.advanced_search}</a>
		</form>
	</div>
</div>