<div class="panel-catalog-categories panel clearfix {class file=$smarty.template editable=true draggable=true}">
	<h4 class="title {class file=$smarty.template editable=true}">{$msg.headers.headerCategories}</h4>
	<div class="content {class file=$smarty.template editable=true}">
		<ul class="{if $DesignSideMenuStyle=="drop-down"}drop-down-menu drop-down-menu-vertical{else}tree{/if}">
			{include file="templates/panels/includes/panel-catalog-categories-item.html"}
			{if $enable_gift_cert == 'Yes'}
			<li><span><a href="{$GlobalHttpUrl}/index.php?p=gift_certificate">Gift Certificates</a></span></li>
			{/if}
		</ul>
		
		{if $CatalogUsePriceRanges == "1" && $current_page == "catalog"}
			<b>{$msg.catalog.price_filter}</b>
	
			{if $CatalogPriceRange > 0}
				[<a href="{$url_http}p=catalog&amp;mode={$catalog_mode}&amp;CatalogSetPriceRange=0&amp;parent={$parent}{if $catalog_mode == "search"}&amp;search_str={$search_str|htmlspecialchars}&amp;search_in={$search_in}{/if}{if $catalog_mode == "manufacturer"}&amp;mid={$manufacturer.manufacturer_id}{/if}">{$msg.catalog.cancel_price_filter}</a>]					
			{/if}
			<br/>
			<div style="padding-left:13px;padding-bottom:5px;">
			{foreach from=$catalog_price_ranges item="price_range" key="price_range_key"}
				{if $price_range.min != "" && $price_range.max != ""}
				<div style="padding-top:3px;">
					<a href="{$url_http}p=catalog&amp;mode={$catalog_mode}&amp;CatalogSetPriceRange={$price_range_key}&amp;parent={$parent}{if $catalog_mode == "search"}&amp;search_str={$search_str|htmlspecialchars}&amp;search_in={$search_in}{/if}{if $catalog_mode == "manufacturer"}&amp;mid={$manufacturer.manufacturer_id}{/if}">
						{if $price_range_key == $CatalogPriceRange}<b>{/if}
						{$price_range.min|price} - {$price_range.max|price}
						{if $price_range_key == $CatalogPriceRange}</b>{/if}
					</a>
				</div>
				{/if}
			{/foreach}
			</div>
		{/if}
	</div>
</div>

{if $CatalogUseProductFilters && $productsFeaturesValues}
	{include file="templates/panels/includes/panel-catalog-products-filters.html"}
{/if}
