<div class="panel-checkout-cart panel clearfix {class file=$smarty.template editable=true draggable=true}">
	<h4 class="title {class file=$smarty.template editable=true}">{$msg.headers.headerMyCart}</h4>
	<div class="content {class file=$smarty.template editable=true}">
		{if $order->itemsCount > 0}
			<ul>
				{foreach from=$order_items item="order_item"}
					<li>
						<a href="{$order_item.url}">{$order_item.title|htmlspecialchars}</a>
						<br />
						{$order_item.product_price|price} x {$order_item.quantity} 
						<a href="javascript:CartConfirmDeleteItem('{$order_item.ocid}')">
							{assign var="imageId" value="image-delete-item"}
							{if $designImages.$imageId}
								<img class="image-delete-item {class file=$smarty.template editable=true}" src="{$designImages.$imageId.content}" alt="{$msg.images.imageDeleteItem|htmlspecialchars}"/>
							{else}
								{$msg.images.imageDeleteItem|htmlspecialchars}
							{/if}
						</a>
					</li>
				{/foreach}
			</ul>
			<p class="subtotal">
				{$msg.cart.subtotal_amount}: <span class="order-total-amount">{$order->cartSubtotalAmount|price}</span>
			</p>
	
			<ul class="checkout">
				<li>
					<a class="empty-cart" href="javascript:CartConfirmEmpty()">{$msg.cart.empty_cart}</a> |
					<a class="checkout" href="{$url_checkout}">{$msg.cart.checkout}</a>
				</li>
				{if $ShippingAllowGetQuote == "YES" && $ShippingCalcEnabled != "NO"}
					<li><a href="{$url_https}p=shipping_quote">{$msg.shipping.get_shipping_quote}</a></li>
				{/if}
			</ul>
		{else}
			<span class="msg-cart-empty">{$msg.cart.cart_is_empty}</span>
		{/if}
	</div>
</div>