{if $isDesignMode || $bestsellers}
<div class="panel-catalog-bestsellers panel clearfix {class file=$smarty.template editable=true draggable=true}">
	<h4 class="title {class file=$smarty.template editable=true}">{$msg.headers.headerBestSellers}</h4>
	<div class="content {class file=$smarty.template editable=true}">
		<ul>
		{foreach from=$bestsellers item="bestseller"}
			<li>
				<a href="{$bestseller.url}">{$bestseller.title|htmlspecialchars}</a>
				{if $bestsellers_view != 'text'}
					{if $bestseller.image}
						<a href="{$bestseller.url}"><img src="{$bestseller.thumb}" {if $bestseller.image_location == "Web"}width="{$CatalogThumbSize}"{/if}  alt="{$bestseller.title|htmlspecialchars}" class="visible" title="{$bestseller.title|htmlspecialchars}" /></a>
					{else}
						<a href="{$bestseller.url}">
							{assign var="imageId" value="image-no-image-small"}
							{if $designImages.$imageId}
								<img class="image-no-image-small" src="{$designImages.$imageId.content}" alt="{$msg.images.imageNoImageSmall|htmlspecialchars}"/>
							{else}
								{$msg.images.imageNoImageSmall|htmlspecialchars}
							{/if}
						</a>
					{/if}
				{/if}
			
				Price :
				{if $bestseller.call_for_price=="Yes"}
					{$msg.product.call_for_price}
				{else}
					{if ($auth_ok == "yes" || $user_cookie) || $VisitorSeePrice=="YES"}
						{if $WholesaleDiscountType!="NO" && $user_level>0}
							<span class="price-amount">{$bestseller.price_wholesale|price}</span>
						{else}
							{if $bestseller.price2 > 0}
								<span class="price-amount strike">{$bestseller.price2|price}</span><br />
								<span class="sale-price-label invisible">{$msg.product.sale_price}:</span> <span class="sale-price-amount">{$bestseller.price|price}</span>
							{else}
								<span class="price-label invisible">{$msg.product.product_price}:</span> <span class="price-amount">{$bestseller.price|price}</span>
							{/if}
						{/if}
					{else}
						{if $AllowCreateAccount != "No"}
							<a href="{$url_https}p=login">{$msg.account.login}</a> | 
							<a href="{$url_https}p=signup">{$msg.account.register}</a>
						{/if}
					{/if}
				{/if}
				
				
				{assign var="imageId" value="image-click-to-view"}
				{if $designImages.$imageId}
					<a href="{$bestseller.url}"><img class="image-click-to-view" src="{$designImages.$imageId.content}" alt="{$msg.images.imageClickToView|htmlspecialchars}"/></a>
				{/if}
				<a href="{$bestseller.url}">{$msg.product.click_to_view}</a>
			</li>
		{/foreach}
		</ul>
	</div>
</div>
{/if}