{if $isDesignMode || ($AllowCreateAccount != 'No' || ($enable_gift_cert == 'Yes'))}
<div class="panel-account-profile panel clearfix {class file=$smarty.template editable=true draggable=true}">
	<h4 class="title {class file=$smarty.template editable=true}">{$msg.headers.headerProfile}</h4>
	<div class="content {class file=$smarty.template editable=true}">
		{if $AllowCreateAccount != 'No'}
		{if ($auth_ok == "yes" || $user_cookie) && $auth_express == "no"}
		<div class="bold">{$msg.account.welcome}, {$user_name}</div>
		<ul>
			<li>{if $current_page == "account"}<b>{$msg.account.my_account}</b>{else}<a href="{$url_https}p=account">{$msg.account.my_account}</a>{/if}</li>
			<li>{if $current_page == "profile"}<b>{$msg.account.my_profile}</b>{else}<a href="{$url_https}p=profile">{$msg.account.my_profile}</a>{/if}</li>
			<li>{if $current_page == "address_book"}<b>{$msg.account.my_address_book}</b>{else}<a href="{$url_https}p=address_book">{$msg.account.my_address_book}</a>{/if}</li>
			{if $enable_payment_profiles == 'Yes'}<li>{if $current_page == "payment_profiles"}<b>{$msg.account.edit_payment_profiles}</b>{else}<a href="{$url_https}p=payment_profiles">{$msg.account.edit_payment_profiles}</a>{/if}</li>{/if}
			<li>{if $current_page == "orders"}<b>{$msg.account.my_orders}</b>{else}<a href="{$url_https}p=orders">{$msg.account.my_orders}</a>{/if}</li>
			{if $enable_gift_cert == 'Yes'}<li>					
				<a href="{$url_https}p=gift_certificate&amp;action=check_balance">{if $current_page == "gift_certificate"}<b>{$msg.gift_certificate.checkBalanceLink}</b>{else}{$msg.gift_certificate.checkBalanceLink}{/if}</a>
			</li>{/if}
			{if $EnableWishList == "Yes"}<li>					
				<a href="{$url_https}p=manage_wishlist&amp;wl_action=manage_wishlist">{if $current_page == "manage_wishlist"}<b>{$msg.wishlist.link}</b>{else}{$msg.wishlist.link}{/if}</a>
			</li>{/if}
		</ul>
		{else}
		<ul>
			<li>{if $current_page == "login"}<b>{$msg.account.login}</b>{else}<a href="{$url_https}p=login">{$msg.account.login}</a>{/if}</li>
			<li>{if $current_page == "signup"}<b>{$msg.account.register}</b>{else}<a href="{$url_https}p=signup">{$msg.account.register}</a>{/if}</li>
			{if $enable_gift_cert == 'Yes'}<li>					
				<a href="{$url_https}p=gift_certificate&amp;action=check_balance">{if $current_page == "gift_certificate"}<b>{$msg.gift_certificate.checkBalanceLink}</b>{else}{$msg.gift_certificate.checkBalanceLink}{/if}</a>
			</li>{/if}
		</ul>
		{/if}
		{else}
		<ul>
			{if $enable_gift_cert == 'Yes'}<li>					
				<a href="{$url_https}p=gift_certificate&amp;action=check_balance">{if $current_page == "gift_certificate"}<b>{$msg.gift_certificate.checkBalanceLink}</b>{else}{$msg.gift_certificate.checkBalanceLink}{/if}</a>
			</li>{/if}
		</ul>
		{/if}		
	</div>
</div>
{/if}