{if $isDesignMode}
<div class="panel-paypalbml-120x90 panel clearfix {class file=$smarty.template editable=true draggable=true}" style="background:none;">
	{if $paypal_publisher_id == ''}
	<div style="padding:8px;color:red;">
		In order to place PayPal banners, you must first accept the PayPal Advertising Program Terms.
		<br/>
		Save any changes, then go to <a href="{$url_base}{if $paypalec_Offer_PayPal_BML=="Yes"}admin.php?p=app&key=paypal-bml&show_popup=yes{else}admin.php?p=apps&action=activate&key=paypal-bml{/if}">BillMeLater App</a>, to review and accept the terms.
	</div>
	{elseif !$paypalEnabled}
	<div style="padding:8px;color:red;">
		You must enable a PayPal payment method
		<br/>
		Save any changes, then <a href="{$url_base}admin.php?p=payment_methods">click here</a> to enable a PayPal payment method.
	</div>
	{else}
	<div style="width:120px;min-height:90px;margin:0 auto;">
		<script type="text/javascript" data-pp-pubid="{$paypal_publisher_id}" data-pp-placementtype="120x90" data-pp-channel="pinnacle" {literal}data-pp-td="{'d':{'segments':{'cart_price':'{/literal}{if $order->subtotalAmount > 0}{$order->subtotalAmount|price_round}{/if}{literal}', 'item_price':'{/literal}{if $current_page == 'product'}{$product.price|price_round}{/if}{literal}', 'page_name':'{/literal}{$current_page}{literal}'}}}">
			/*global document: true*/
			(function (d, t) {
			"use strict";
			var s = d.getElementsByTagName(t)[0], n = d.createElement(t);
			n.src = "//paypal.adtag.where.com/merchant.js";
			s.parentNode.insertBefore(n, s);
			} (document, "script"));
		{/literal}</script>
	</div>
	{/if}
</div>
{else}
	{if $paypal_publisher_id != '' && $paypalEnabled}
	<div class="panel-paypalbml-120x90 panel clearfix {class file=$smarty.template editable=true draggable=true}" style="background:none;">
		<div style="margin:0 auto;width:120px;">
			<script type="text/javascript" data-pp-pubid="{$paypal_publisher_id}" data-pp-placementtype="120x90" data-pp-channel="pinnacle" {literal}data-pp-td="{'d':{'segments':{'cart_price':'{/literal}{if $order->subtotalAmount > 0}{$order->subtotalAmount|price_round}{/if}{literal}', 'item_price':'{/literal}{if $current_page == 'product'}{$product.price|price_round}{/if}{literal}', 'page_name':'{/literal}{$current_page}{literal}'}}}">
				/*global document: true*/
				(function (d, t) {
				"use strict";
				var s = d.getElementsByTagName(t)[0], n = d.createElement(t);
				n.src = "//paypal.adtag.where.com/merchant.js";
				s.parentNode.insertBefore(n, s);
				} (document, "script"));
			{/literal}</script>
		</div>
	</div>
	{/if}
{/if}