{if $isDesignMode || !empty($recent_items)}
<div class="panel-catalog-recent panel clearfix {class file=$smarty.template editable=true draggable=true}">
	<h4 class="title {class file=$smarty.template editable=true}">{$msg.headers.headerRecentItems}</h4>
	<div class="content {class file=$smarty.template editable=true}">
		<ul>
	   	{foreach from=$recent_items item=recent_item}
			<li><a href="{$recent_item.url}">{$recent_item.text|htmlspecialchars}</a></li>
	   	{/foreach}
		</ul>
	</div>
</div>
{/if}