{if $isDesignMode || !empty($manufacturers) }
<div class="panel-catalog-manufacturers panel clearfix {class file=$smarty.template editable=true draggable=true}">
	<h4 class="title {class file=$smarty.template editable=true}">{$msg.headers.headerManufacturers}</h4>
	<div class="content {class file=$smarty.template editable=true}">
		<select name="search_in" onchange="if(this.value!='')document.location=this.value">
			<option value="">Please select</option>
			{foreach from=$manufacturers item="manufacturer"}
			<option value="{$manufacturer.url}">{$manufacturer.manufacturer_name|htmlspecialchars}</option>
			{/foreach}
		</select>
	</div>
</div>
{/if}