<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">Manufacturers</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
			<a href="admin.php?p=manufacturer&mode=add" class="btn btn-primary pull-right">{trans key="manufacturers.add_manufacturer"}</a>
			<div class="btn-group pull-right">
				<a class="btn" href="admin.php?p=bulk_manufacturers">{trans key="common.import"}</a>
			</div>
		</div>
	</div>
	<hr class="clearfix">
</div>

{include file="templates/pages/manufacturer/modal-delete.html"}

{** Search Form start here **}
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<form role="form" name="form-manufacturers-search" id="form-manufacturers-search" method="get">
				<input type="hidden" name="p" value="manufacturers">
				{form form=$searchForm}
				<div class="col-xs-12">
					<button type="submit" class="btn btn-default">{trans key="common.search"}</button>
				</div>
			</form>
		</div>
	</div>
</div>
<hr />
{** Search Form ends here **}


	<div class="container-fluid">
		<div class="col-xs-12 col-md-12">
{if $manufacturers}
			<div class="btn-group">
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						{trans key="common.bulk_actions"}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#" data-toggle="modal" data-target="#modal-manufacturers-delete">{trans key="common.delete"}</a></li>
					</ul>
				</div>
			</div>
{/if}
		</div>
	</div>

{if $manufacturers}
	<div class="container-fluid">
		<div class="col-xs-12 col-md-12">
			<table class="table table-striped table-list table-list-manufacturers" data-search-form="#form-manufacturers-search" data-order-by-field="orderBy" data-order-dir-field="orderDir">
				<thead>
					<tr>
						<th class="column-checkbox"><input type="checkbox" id="selectAll"></th>
						<th class="text-left sortable" data-sort-field="manufacturer_name">{trans key="manufacturers.manufacturer_list_table.title"}</th>
						<th class="text-left sortable" data-sort-field="manufacturer_code">{trans key="manufacturers.manufacturer_list_table.id"}</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{foreach from=$manufacturers item="manufacturer"}
						<tr>
							<td><input type="checkbox" class="checkbox-manufacturer" name="row[{$manufacturer.manufacturer_id}]" value="{$manufacturer.manufacturer_id}"></td>
							<td><a href="admin.php?p=manufacturer&mode=update&id={$manufacturer.manufacturer_id}">{$manufacturer.manufacturer_name|htmlspecialchars}</a></td>
							<td><a href="admin.php?p=manufacturer&mode=update&id={$manufacturer.manufacturer_id}">{$manufacturer.manufacturer_code|htmlspecialchars}</a></td>
							<td class="list-actions text-right">
								<a href="admin.php?p=manufacturer&mode=update&id={$manufacturer.manufacturer_id}"><span class="icon icon-edit"></span>{trans key="common.edit"}</a>
								<a href="#" onclick="return removeManufacturer({$manufacturer.manufacturer_id}, '{$delete_nonce}');"><span class="icon icon-delete"></span>{trans key="common.delete"}</a>
							</td>
						</tr>
					{/foreach}
				</tbody>
			</table>
			<div class="custom-pager">
				{if $paginator->prevPage}
					<a role="button" class="btn btn-default" href="admin.php?p=manufacturers&amp;page={$paginator->prevPage}"><span class="icon icon-pagination-left"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-left"></span></button>
				{/if}

				{if $paginator->nextPage}
					<a role="button" class="btn btn-default" href="admin.php?p=manufacturers&amp;page={$paginator->nextPage}"><span class="icon icon-pagination-right"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-right"></span></button>
				{/if}

				<span class="text">{$paginator->itemsFrom}-{$paginator->itemsTo} <span class="of">{trans key="common.of"}</span>  {$paginator->itemsCount}</span>
			</div>
		</div>
	</div>
{else}
	<div class="container-fluid">
		<div class="col-xs-12">
			{trans key="manufacturers.none_found"}
		</div>
	</div>
{/if}

<script type="text/javascript" src="content/admin/scripts/manufacturers.js?v={$APP_VERSION}"></script>