<div class="modal fade" id="modal-manufacturers-delete" tabindex="-1" role="dialog" aria-labelledby="modal-manufacturers-delete-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-manufacturers-delete">
			<input type="hidden" name="nonce" value="{$delete_nonce}">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-manufacturers-delete-label">{trans key="manufacturers.delete_manufacturers"}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group col-xs-12">
						<label><input type="radio" name="form-manufacturers-delete-mode" value="selected" checked> {trans key="manufacturers.delete_selected_manufacturers"}</label>
						<label><input type="radio" name="form-manufacturers-delete-mode" value="search"> {trans key="manufacturers.delete_all_manufacturers"} (all found {$itemsCount})</label>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="button" class="btn btn-primary" data-action="action-manufacturers-delete">{trans key="common.delete"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>