<li id="{$menuItem->id}" class="{$menuItem->classOuter}{if $menuItem->isOpen} open{/if}{if $menuItem->isActive} active open{/if} clearfix">
	{if !is_null($menuItem->url)}<a href="{$menuItem->url|htmlspecialchars}">{/if}
	<span class="wrap clearfix">
		{if $menuItem->hasChildren}<span class="arrow">&nbsp;</span>{/if}
		<span class="icon ic-icon {$menuItem->classInner}">&nbsp;</span>
		<span class="text">{$menuItem->title|htmlspecialchars}</span>
	</span>	
	{if !is_null($menuItem->url)}</a>{/if}

	{assign var="menuItemId" value=$menuItem->id}
	{if $adminMenu.menuItems[$menuItemId]}
		<ul class="level_{$menuItem->level+1}">
			{foreach from=$adminMenu.menuItems[$menuItemId] item="menuItem"}
				{include file="templates/layouts/zones/elements/menu-item.html"}
			{/foreach}
		</ul>
	{/if}
</li>