<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{$pageTitle}</h1>
	</div>
	<hr class="clearfix">
</div>
<div class="container-fluid">
	<div class="col-xs-12">
		<div id="reports-dashboard-ranges" class="row report-ranges"></div>
		<div id="reports-dashboard-cards" class="row"></div>
		<div class="report-big-graph-container row">
			<div class="col-xs-12">
				<h2 id="reports-dashboard-graph-title"></h2>
			</div>
			<div class="col-xs-12">
				<div id="reports-dashboard-graph" class="report-big-graph"></div>
			</div>
		</div>
	</div>
</div>
{**
<div id="reporting-nav" class="container-fluid">
	{foreach from=$reports item="report_type"}
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
			<a href="admin.php?p=report&report_type={$report_type}">
				<span class="icon icon-report-{$report_type}"></span>
				<h3 class="text-center">{trans key=reporting.reports.$report_type}</h3>
			</a>
		</div>
	{/foreach}
</div>
**}
<script type="text/javascript" src="content/vendors/bootstrap-daterangepicker/daterangepicker.js?v=383r2"></script>
<link rel="stylesheet" type="text/css" href="content/vendors/bootstrap-daterangepicker/daterangepicker.css">
<script src="content/admin/scripts/reports-cards.js"></script>
<script src="content/admin/scripts/reports-ranges.js"></script>
<script src="content/admin/scripts/reports-dashboard.js"></script>