<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-8">{trans key=$report->title|htmlspecialchars} ({$report_dates})</h1>
		<div class="col-xs-4 pull-right text-right btn-toolbar">
			<a href="admin.php?p=reports">{trans key="common.cancel"}</a>
		</div>
	</div>
	<hr class="clearfix">
</div>

<div class="container-fluid">
	<div class="col-xs-12">
		<div id="reports-dashboard-ranges" class="row report-ranges"></div>
	</div>
</div>
&nbsp;
<div class="container-fluid">
	<div class="col-xs-6 col-md-6">
		{if $report->count > 0}
			<div class="btn-group">
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						{trans key="common.export"}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a target="_blank" href="admin.php?p=report&report_type={$report->type}&export=1&export_type=csv&export_file=1&{$report_dates_url_params}">{trans key="common.export_as_csv"}</a></li>
						<li><a target="_blank" href="admin.php?p=report&report_type={$report->type}&export=1&export_type=xml&export_file=1&{$report_dates_url_params}">{trans key="common.export_as_xml"}</a></li>
						<li><a target="_blank" href="admin.php?p=report&report_type={$report->type}&export=1&export_type=json&export_file=1&{$report_dates_url_params}">{trans key="common.export_as_json"}</a></li>
					</ul>
				</div>
			</div>
		{/if}
	</div>
</div>

{if $report->count > 0}
&nbsp;
<div class="container-fluid">
	<div class="col-xs-12 col-md-12">
		<table class="table table-striped">
			<thead>
				<tr>
					{foreach from=$report->fields item="field"}
						<th{if $field.class != ""} class="{$field.class}"{/if}>{trans key=$field.title}</th>
					{/foreach}
				</tr>
			</thead>
			<tbody>
				{foreach from=$report->dataDisplay item="row"}
					<tr>
						{foreach from=$report->fields key="fieldId" item="field"}
							<td{if $field.class != ""} class="{$field.class}"{/if}>{$row[$fieldId]}</td>
						{/foreach}
					</tr>
				{/foreach}
			</tbody>
			<tfoot>
				<tr>
					{foreach from=$report->fields key="fieldId" item="field"}
						<td{if $field.class != ""} class="{$field.class}"{/if}>{$report->summaryDisplay[$fieldId]}</td>
					{/foreach}
				</tr>
			</tfoot>
		</table>

	</div>
</div>
{else}
<div class="container-fluid">
	<div class="col-xs-12 col-md-12">
		{trans key="reporting.no_data"}
	</div>
</div>
{/if}

<script type="text/javascript" src="content/vendors/bootstrap-daterangepicker/daterangepicker.js?v=383r2"></script>
<link rel="stylesheet" type="text/css" href="content/vendors/bootstrap-daterangepicker/daterangepicker.css">
<script src="content/admin/scripts/reports-cards.js"></script>
<script src="content/admin/scripts/reports-ranges.js"></script>
<script src="content/admin/scripts/reports-details.js"></script>
<script type="text/javascript">
	var reportType = '{$reportType}';
	var reportRangeType = '{$reportRangeType}';
	var reportDateFrom = '{$reportDateFrom}';
	var reportDateTo = '{$reportDateTo}';
</script>