<div class="catalog-navigation clearfix {class file=$smarty.template editable=true}">
	<div class="col-wrap clearfix">
		<div class="col-40 clearfix">
			<div class="left">
				{$items_count} {$msg.catalog.result_items} - 
				{lang msg=$msg.catalog.result_pages cr=$page_current co=$pages_count}
			</div>
		</div>
		<div class="col-60 clearfix">
			<ul id="catalog-navigation-menu" class="drop-down-menu clearfix" style="float:right;">
				{if $CatalogDisplayItems == 'YES'}
				<li id="catalog-navigation-menu-pagesize">
					<a href="#"><strong>Items</strong></a>
					<ul>
						<li><a href="{$catalog_url_base}&amp;pagesize={$CatalogItemsOnPage}" {if $pagesize == $CatalogItemsOnPage}class="current"{/if}>{$CatalogItemsOnPage}</a></li>
						{counter start=$CatalogItemsOnPage skip=$CatalogItemsOnPage assign=CatalogItemsOnPageIndex}
						{counter}
						<li><a href="{$catalog_url_base}&amp;pagesize={$CatalogItemsOnPageIndex}" {if $pagesize == $CatalogItemsOnPageIndex}class="current"{/if}>{$CatalogItemsOnPageIndex}</a></li>
						{counter}
						<li><a href="{$catalog_url_base}&amp;pagesize={$CatalogItemsOnPageIndex}" {if $pagesize == $CatalogItemsOnPageIndex}class="current"{/if}>{$CatalogItemsOnPageIndex}</a></li>
					</ul>
				</li>
				{/if}
				{if $CatalogDisplaySort == 'YES'}
				<li id="catalog-navigation-menu-sort">
					<a href="#"><strong>Sort</strong></a>
					<ul>
						<li><a href="{$catalog_url_base}&amp;CatalogSetSortBy=priority" {if $CatalogSortBy == "priority"}class="current"{/if}>{$msg.catalog.show_best_match}</a></li>
						<li><a href="{$catalog_url_base}&amp;CatalogSetSortBy=date" {if $CatalogSortBy == "date"}class="current"{/if}>{$msg.catalog.show_newest_to_system}</a></li>
						<li><a href="{$catalog_url_base}&amp;CatalogSetSortBy=name" {if $CatalogSortBy == "name"}class="current"{/if}>{$msg.catalog.show_alphabetical}</a></li>
						<li><a href="{$catalog_url_base}&amp;CatalogSetSortBy=id" {if $CatalogSortBy == "id"}class="current"{/if}>{$msg.catalog.show_by_id}</a></li>
						<li><a href="{$catalog_url_base}&amp;CatalogSetSortBy=price_desc" {if $CatalogSortBy == "price_desc"}class="current"{/if}>{$msg.catalog.show_prices_descending}</a></li>
						<li><a href="{$catalog_url_base}&amp;CatalogSetSortBy=price" {if $CatalogSortBy == "price"}class="current"{/if}>{$msg.catalog.show_prices_ascending}</a></li>
					</ul>
				</li>
				{/if}
				{if $CatalogDisplayView == 'YES'}
				<li id="catalog-navigation-menu-view">
					<a href="#"><strong>View</strong></a>
					<ul>
						{foreach name=csb from=$catalog_views key="key" item="item"}
						<li><a href="{$catalog_url_base}&amp;CatalogSetView={$key}" {if $key == $CatalogView}class="current"{/if}>{$item}</a></li>
						{/foreach}
					</ul>
				</li>
				{/if}
			</ul>
		</div>
	</div>
</div>
{include file="templates/pages/catalog/elements/element-schema-data.html"}