{if $parent != $product.cid}
	<div class="catalog-product-more-in-category {class file=$smarty.template editable=true}">
		{assign var="imageId" value="image-click-to-view"}
		{if $designImages.$imageId}
			<a href="{$url_http}p=catalog&amp;parent={$product.cid}"><img class="image-click-to-view {class file=$smarty.template editable=true}" src="{$designImages.$imageId.content}" alt="{$msg.images.imageClickToView|htmlspecialchars}"/></a>
		{/if}
		<a href="{$product.cat_url}">{lang msg=$msg.product.parent_category s=$product.cat_name|htmlspecialchars}</a>
	</div>
{/if}