{if $ReviewsEnable && $ReviewsShowSummary}
<div class="catalog-product-rating gap-bottom clearfix {class file=$smarty.template editable=true}">
	<div class="product-rating-small" title="{$product.rating|round}"></div>
	<div class="product-reviews-link"><a href="{$product.url}#product-page-reviews">{$product.reviews_count} review(s)</a></div>
</div>
{/if}