<div class="catalog-search-box spacer {class file=$smarty.template editable=true}">
	<form action="{$url_http}" method="get">
		<input type="hidden" name="p" value="catalog" />
		<input type="hidden" name="mode" value="search" />
		<div class="fieldset {class file=$smarty.template editable=true}">
			<h3>{$msg.catalog.search}</h3>
			<div class="field first">
				<label for="inputSearchStr">{$msg.catalog.search_text}</label>
				<div>
					<input id="inputSearchStr" type="text" maxlength="256" name="search_str" value="{$search_str|htmlspecialchars}"/>
					<div class="hint">{$msg.catalog.search_hint}</div>
				</div>
			</div>
			<div class="buttons">
				{button class="button-start-search" text=$msg.buttons.buttonStartSearch file=$smarty.template}
			</div>
		</div>
	</form>
</div>