<div class="catalog-page-breaks clearfix {class file=$smarty.template editable=true} text-center">
	{if $paginator.first} <span><a href="{$paginator.first.url}">{$msg.catalog.page_first}</a></span> {/if}
	{if $paginator.prev} <span><a href="{$paginator.prev.url}">{$msg.catalog.page_prev}</a></span> {/if}
	{if $paginator.range_left} <span><a href="{$paginator.range_left.url}">{$paginator.range_left.text}</a></span> {/if}
	{foreach from=$paginator.pages item="paginatorPage"}
		{if $paginatorPage.active}
			<span class="active">{$paginatorPage.text}</span>
		{else}
			<span><a href="{$paginatorPage.url}">{$paginatorPage.text}</a></span>
		{/if}
	{/foreach}
	{if $paginator.range_right} <span><a href="{$paginator.range_right.url}">{$paginator.range_right.text}</a></span> {/if}
	{if $paginator.next} <span><a href="{$paginator.next.url}">{$msg.catalog.page_next}</a></span> {/if}
	{if $paginator.last} <span><a href="{$paginator.last.url}">{$msg.catalog.page_last}</a></span> {/if}
</div>