<div class="catalog-product-sale-price {class file=$smarty.template editable=true}">
{if $product.call_for_price=="Yes"}
	{$msg.product.call_for_price}
{else}
	{if ($auth_ok == "yes" || $user_cookie) || $VisitorSeePrice=="YES"}
		{if $product.enable_recurring_billing}
			<span class="price-label invisible">{$msg.product.product_price}:</span> <span class="price-amount">{$product.recurring_billing_data.billing_amount|price}</span>
		{else}
			{if $WholesaleDiscountType!="NO" && $user_level>0}
				<span class="price-amount">{$product.price_wholesale|price}</span>
			{else}
				{if $product.price2 > 0}
					<span class="price-amount strike">{$product.price2|price}</span><br />
					<span class="sale-price-label invisible">{$msg.product.sale_price}:</span> <span class="sale-price-amount">{$product.price|price}</span>
				{else}
					<span class="price-label invisible">{$msg.product.product_price}:</span> <span class="price-amount">{$product.price|price}</span>
				{/if}
			{/if}
		{/if}
	{else}
		{if $AllowCreateAccount != "No"}
			<a href="{$url_https}p=login">{$msg.account.login}</a> | 
			<a href="{$url_https}p=signup">{$msg.account.register}</a>
		{/if}
	{/if}
{/if}
</div>