{if $product.is_hotdeal == "Yes"}
	<div class="catalog-product-hot-deal {class file=$smarty.template editable=true}">
		{assign var="imageId" value="image-hot-deal"}
		{if $designImages.$imageId}
			<img class="image-hot-deal {class file=$smarty.template editable=true}" src="{$designImages.$imageId.content}" alt="{$msg.images.imageHotDeal|htmlspecialchars}"/>
		{else}
			<span>{$msg.images.imageHotDeal|htmlspecialchars}</span>
		{/if}
	</div>
{/if}