<div class="catalog-product-click-to-view {class file=$smarty.template editable=true}">
	{assign var="imageId" value="image-click-to-view"}
	{if $designImages.$imageId}
		<a href="{$product.url}"><img class="image-click-to-view {class file=$smarty.template editable=true}" src="{$designImages.$imageId.content}" alt="{$msg.images.imageClickToView|htmlspecialchars}"/></a>
	{/if}
	<a href="{$product.url}">{$msg.product.click_to_view}</a>
</div>