<div class="catalog-product-image {class file=$smarty.template editable=true}">
	<a href="{$product.url}">
		{if $product.image}
			<img src="{$product.thumb}" {if $product.image_location == "Web"}width="{$CatalogThumbSize}"{/if} alt="{if $product.image_alt_text != ''}{$product.image_alt_text|htmlspecialchars}{else}{$product.title|htmlspecialchars}{/if}" title="{$product.title|htmlspecialchars}"/>
		{else}
			{assign var="imageId" value="image-no-image-small"}
			{if $designImages.$imageId}
				<img class="image-no-image-small {class file=$smarty.template editable=true}" src="{$designImages.$imageId.content}" alt="{$msg.images.imageNoImageSmall|htmlspecialchars}"/>
			{else}
				{$msg.images.imageNoImageSmall|htmlspecialchars}
			{/if}
		{/if}
	</a>
</div>