{if $product.call_for_price!="Yes"}
	<div class="catalog-product-price price {class file=$smarty.template editable=true}">
	{if (($auth_ok == "yes" || $user_cookie) || $VisitorSeePrice=="YES")}
		{if $product.enable_recurring_billing}
			<span class="price-label">{$msg.product.unit_price}:</span> <span class="price-amount">{$product.recurring_billing_data.billing_amount|price}</span>
		{else}
			{if $product.price2 > 0}
				<span class="sale-price-label">{$msg.product.unit_price}: </span>
				<span class="strike price-amount">{$product.price2|price}</span>
				<span class="sale-price-amount">{$product.price|price}</span>
			{else}
				<span class="price-label">{$msg.product.unit_price}:</span>
				<span class="price-amount">{$product.price|price}</span>
			{/if}
			{if $WholesaleDiscountType!="NO" && $user_level>0}
				<span class="price-label">{$msg.product.wholesale_price}:</span> <span class="price-amount">{$product.price_wholesale|price}</span>
			{/if}
		{/if}
	{/if}
	</div>
{/if}