<div itemscope itemtype="http://schema.org/CollectionPage">
	<meta itemprop="headline" content="{$category.name|htmlspecialchars}" />
	<meta itemprop="text" content="{$category.description|strip_tags}" />
	<meta itemprop="name" content="{$category.name|htmlspecialchars}" />
	<meta itemprop="url" content="{$GlobalHttpsUrl}/{$category.url}" />
</div>
<div itemscope itemtype="http://schema.org/BreadcrumbList">
	<meta itemprop="url" content="{if $CatalogHomeLink!=""}{$GlobalHttpsUrl}/{$CatalogHomeLink}{else}{$url_rel}{/if}"><meta itemprop="name" content="{$msg.common.home_page}" />
	{foreach from=$page_nav item="page_nav_link"}
	<meta itemprop="url" content="{$page_nav_link.href}" itemprop="url"><meta itemprop="name" content="{$page_nav_link.caption|htmlspecialchars}" />
	{/foreach}
</div>
{foreach from=$products item="product" name="cataloglist"}
	<div itemscope itemtype="http://schema.org/Product">
		<meta itemprop="name" content="{$product.title|htmlspecialchars}" />
		<meta itemprop="image" content="{if $product.image_location=="Local"}{$url_base}{/if}{$product.image}" />
		<meta itemprop="sku" content="{$product.product_sku}" />
		<meta itemprop="gtin13" content="{$product.product_gtin}" />
		<meta itemprop="mpn" content="{$product.product_mpn}" />
		<meta itemprop="manufacturer" content="{$product.manufacturer_name|htmlspecialchars}" />
		<meta itemprop="category" content="{$product.cat_name|htmlspecialchars}" />
		<meta itemprop="weight" content="{$product.weight} {$LocalizationWeightUnits}" />
		<meta itemprop="height" content="{$product.dimension_height} {$LocalizationLengthUnits}" />
		<meta itemprop="width" content="{$product.dimension_width} {$LocalizationLengthUnits}" />
		<meta itemprop="depth" content="{$product.dimension_length} {$LocalizationLengthUnits}" />
		<meta itemprop="url" content="{$product.url}" />
		<meta itemprop="releaseDate" content="{$product.added}" />
		<span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
			<meta itemprop="availability" content="{if $product.out_of_stock}http://schema.org/OutOfStock{else}http://schema.org/InStock{/if}" />
			<meta itemprop="priceCurrency" content="{$current_currency.code}" />
			{if $product.call_for_price=="Yes"}
				<meta itemprop="price" content="{$msg.product.call_for_price}" />
			{else}
				{if ($auth_ok == "yes" || $user_cookie) || $VisitorSeePrice=="YES"}
					{if $product.enable_recurring_billing}
						<meta itemprop="price" content="{$product.recurring_billing_data.billing_amount}" />
					{else}
						<meta itemprop="price" content="{$product.price}" />
					{/if}
				{/if}
			{/if}
			<meta itemprop="seller" content="{$settings.CompanyName|htmlspecialchars}" />
		</span>
		{if $product.rating > 0 && $product.reviews_count > 0}
		<div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
			<meta itemprop="ratingValue" content="{$product.rating}" />
			<meta itemprop="reviewCount" content="{$product.reviews_count}" />
		</div>
		{/if}
	</div>
{/foreach}
