<div class="catalog-product-sub-categories spacer clearfix {class file=$smarty.template editable=true}">
	<ul class="clearfix {if $category.show_subcategory_image}subcat-images{/if}">
		{foreach from=$category.subcategories item=subcat}
			<li>
				{if $category.show_subcategory_image}
					<a class="subcategory-image" href="{$subcat.url}">
					{if $subcat.thumb}
						<img src="{$subcat.thumb}" title="{$subcat.name|escape}" />
					{else}
						{assign var="imageId" value="image-no-image-small"}
						{if $designImages.$imageId}
							<img class="image-no-image-small {class file=$smarty.template editable=true}" src="{$designImages.$imageId.content}" alt="{$msg.images.imageNoImageSmall|htmlspecialchars}"/>
						{else}
							{$msg.images.imageNoImageSmall|htmlspecialchars}
						{/if}
					{/if}
					</a>
				{/if}
				<a href="{$subcat.url}">{$subcat.name|htmlspecialchars}</a>
			</li>
		{/foreach}
	</ul>
</div>