<div class="catalog-bread-crumbs {class file=$smarty.template editable=true}">
	<a href="{if $CatalogHomeLink!=""}{$CatalogHomeLink}{else}{$url_rel}{/if}">{$msg.common.home_page}</a> 
	{foreach from=$page_nav item="page_nav_link"}
		&gt; <a href="{$page_nav_link.href}">{$page_nav_link.caption|htmlspecialchars}</a>
	{/foreach}
	{if $CatalogUsePriceRanges == "1" && !empty($CatalogPriceRangeMin) && !empty($CatalogPriceRangeMin)}
		&gt; {$msg.catalog.price_filter_nav}: {$CatalogPriceRangeMin|price} - {$CatalogPriceRangeMax|price} <sup>(<a href="{$url_http}p=catalog&mode={$catalog_mode}&CatalogSetPriceRange=0&parent={$parent}{if $catalog_mode == "search"}&search_str={$search_str|htmlspecialchars}&search_in={$search_in}{/if}{if $catalog_mode == "manufacturer"}&mid={$manufacturer.manufacturer_id}{/if}" title="{$msg.catalog.cancel_price_filter}">x</a>)</sup>
	{/if}
</div>