<div class="catalog-product-add {class file=$smarty.template editable=true}">
{if !$product.out_of_stock && $product.call_for_price!="Yes" && $env != "email" &&  (($VisitorMayAddItem == "YES" && $VisitorSeePrice=="YES") || ($auth_ok == "yes" || $user_cookie))}
	{if $product.attributes_count > 0 || $product.enable_recurring_billing}
		<form action="{$product.url}" method="post">
	{else}
		<form action="{$url_http}" method="post" onsubmit="return CheckAddProduct(this, '{if $product.min_order>0}{$product.min_order}{else}1{/if}', '{if $product.max_order>0}{$product.max_order}{else}-{/if}', '{if $product.allowed_max>0}{$product.allowed_max}{else}-{/if}')">
			<input type="hidden" name="oa" value="{$ORDER_ADD_ITEM}"/>
			<input type="hidden" name="oa_id" value="{$product.product_id|htmlspecialchars}"/>
			<input type="hidden" name="oa_recurring" value="{$product.enable_recurring_billing}"/>
	{/if}
		<input type="text" name="oa_quantity" class="input-quantity" maxlength="6" value="{if $product.min_order>0}{$product.min_order}{else}1{/if}" />
		{button class="button-add-to-cart" text=$msg.buttons.buttonAddToCart file=$smarty.template}
		</form>
{else}
	<a href="{$product.url}">{$msg.product.click_to_view}</a>
{/if}
</div>