<form name="form-textpage" action="admin.php?p=page" role="form" method="post" data-auto-validate="1" autocomplete="off" enctype='multipart/form-data'>
	<input type="hidden" name="nonce" id="nonce" value="{$nonce}">
	<input type="hidden" name="mode" value="{$mode|gs}">
	{if $id}<input type="hidden" name="id" value="{$id|gs}">{/if}

	<div id="content-header">
		<div class="container-fluid">
			<h1 class="col-xs-6">
				{if $mode == 'add'}{trans key="text_page.add_page"}{else}{trans key="common.editing"}{/if} {trans key="text_page.page"} <span class="title">{$title}</span>
				{if $mode != 'add'}<a href="{$GlobalHttpUrl}/{$pageUrl}" target="_blank"><span style="font-size:13px;font-weight: normal;padding-left: 10px;">{trans key='text_page.view_page'}</span></a>{/if}
			</h1>
			<div class="col-xs-6 pull-right text-right btn-toolbar">
				<a href="admin.php?p=pages">{trans key="common.cancel"}</a>
				<button class="btn btn-primary">{trans key="common.save"}</button>
			</div>
		</div>
		<hr class="clearfix">
	</div>

	{form form=$form}
</form>

<script type="text/javascript"><!--
var PagesSeoUrlSettings = {$seoUrlSettings};
--></script>
<script type="text/javascript" src="content/admin/scripts/textpages.js?v={$APP_VERSION}"></script>
