{** search form starts here **}
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<form role="form" name="form-textpages-search" id="form-textpages-search" method="get">
				<input type="hidden" name="p" value="pages">
				{form form=$searchForm}
				<div class="col-sm-12">
					<input type="submit" value="Search" class="btn btn-default">
				</div>
			</form>
		</div>
	</div>
</div>
<hr>
{** search form ends here **}

<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="text_page.pages"}</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
			<a href="admin.php?p=page&mode=add" class="btn btn-primary pull-right">{trans key="text_page.add_page"}</a>
		</div>
	</div>
	<hr class="clearfix">
</div>
<div class="content-help">
	{trans key="text_page.list_help"}
</div>

{include file="templates/pages/textpage/modal-delete.html"}
{include file="templates/pages/textpage/modal-publish-unpublish.html"}

{if $textpages}
	<div class="container-fluid">
		<div class="col-xs-12 col-md-6">
			<div class="btn-group">
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						{trans key="common.bulk_actions"}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#" data-toggle="modal" data-target="#modal-textpages-delete">{trans key="common.delete"}</a></li>
						<li><a href="#" data-toggle="modal" data-target="#modal-publishunpublish" onclick="publishAction('publish')">{trans key="common.show_content"}</a></li>
						<li><a href="#" data-toggle="modal" data-target="#modal-publishunpublish" onclick="publishAction('unpublish')">{trans key="common.hide_content"}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="col-xs-12">
			<table class="table table-striped table-list table-list-textpages" data-search-form="#form-textpages-search" data-order-by-field="orderBy" data-order-dir-field="orderDir">
				<thead>
					<tr>
						<th style="width:50px;"><input type="checkbox" id="selectAll"></th>
						<th class="sortable" data-sort-field="title">{trans key="text_page.title"}</th>
						<th class="sortable" data-sort-field="url">{trans key="text_page.url"}</th>
						<th class="sortable" data-sort-field="is_active">{trans key="text_page.published"}</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{foreach from=$textpages item="page"}
						<tr>
							<td><input type="checkbox" class="checkbox-textpage" name="row[{$page.pid}]" value="{$page.pid}"></td>
							<td><a href="admin.php?p=page&mode=update&id={$page.pid}">{$page.title|htmlspecialchars}</a></td>
							<td><a href="admin.php?p=page&mode=update&id={$page.pid}">{$page.url|htmlspecialchars}</a></td>
							<td><a href="admin.php?p=page&mode=update&id={$page.pid}">{$page.is_active|htmlspecialchars}</a></td>
							<td class="list-actions text-right">
								<a href="admin.php?p=page&mode=update&id={$page.pid}"><span class="icon icon-edit"></span>{trans key="common.edit"}</a>
								<a href="#" onclick="return removeTextPage({$page.pid}, '{$delete_nonce}');"><span class="icon icon-delete"></span>{trans key="common.delete"}</a>
							</td>
						</tr>
					{/foreach}
				</tbody>
			</table>
			<div class="custom-pager">
				{if $paginator->prevPage}
					<a role="button" class="btn btn-default" href="admin.php?p=pages&amp;page={$paginator->prevPage}"><span class="icon icon-pagination-left"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-left"></span></button>
				{/if}

				{if $paginator->nextPage}
					<a role="button" class="btn btn-default" href="admin.php?p=pages&amp;page={$paginator->nextPage}"><span class="icon icon-pagination-right"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-right"></span></button>
				{/if}

				<span class="text">{$paginator->itemsFrom}-{$paginator->itemsTo} <span class="of">{trans key="common.of"}</span>  {$paginator->itemsCount}</span>
			</div>
		</div>
	</div>
{else}
	<div class="container-fluid">
		<div class="col-xs-12">
			{trans key="text_page.no_records"}
		</div>
	</div>
{/if}

<script type="text/javascript" src="content/admin/scripts/textpages.js?v={$APP_VERSION}"></script>
