<div class="modal fade" id="modal-publishunpublish" tabindex="-1" role="dialog" aria-labelledby="modal-publishunpublish-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-textpages-publishunpublish">
            <input type="hidden" name="nonce" value="{$publish_nonce}"/>
            <input type="hidden" name="mode" value="" class="hidden-input-mode"/>
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-publishunpublish-label"><span class="pu-header-label"></span></h4>
				</div>
				<div class="modal-body">
					<div class="form-group col-xs-12">
						<label><input type="radio" name="form-publishunpublish-mode" value="selected" checked> <span class="radio-btn-label1"></span></label>
						<label><input type="radio" name="form-publishunpublish-mode" value="all"> <span class="radio-btn-label2"></span></label>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary pu-btn-submit"></button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>