<div id="faq-accordion" class="panel-group" role="tablist" aria-multiselectable="true">
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="heading-one" data-toggle="collapse" data-parent="#faq-accordion" data-target="#collapse-one">
			<h4 class="panel-title">
				<a class="collapsed" role="button" data-toggle="collapse" href="#collapse-one" aria-expanded="true" aria-controls="collapse-one">
					Upload your categories and products
				</a>
			</h4>
		</div>
		<div id="collapse-one" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-one">
			<div class="panel-body">
				<p>Don't worry, haven't forgotten about your products</p>
				<p><a href="#" target="_blank" class="link-green">Click here to add products</a></p>
				<p><a href="#" target="_blank" class="link-green">Click here to download an example category spreadsheet</a></p>
				<p><a href="#" target="_blank" class="link-green">Click here to download an example product spreadsheet</a></p>
				<div class="col-sm-4">
					<a class="btn btn-primary" href="#collapse-two" role="button" data-toggle="collapse" data-parent="#faq-accordion">Got it</a>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="heading-two" data-toggle="collapse" data-parent="#faq-accordion" data-target="#collapse-two">
			<h4 class="panel-title">
				<a class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion" href="#collapse-two" aria-expanded="false" aria-controls="collapse-two">
					Example Header
				</a>
			</h4>
		</div>
		<div id="collapse-two" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-two">
			<div class="panel-body">
				<p><a href="admin.php?p=product&mode=insert" target="_blank" class="link-green">Click here</a> to add your first product</p>
				<p>VIDEO: <a href="https://support.pinnaclecart.com/hc/en-us/articles/204956937-Bulk-Importing-Categories" target="_blank" class="link-green">Bulk adding your categories</a></p>
				<p>VIDEO: <a href="https://support.pinnaclecart.com/hc/en-us/articles/204941087-Bulk-Importing-Manufacturers" target="_blank" class="link-green">Bulk adding your manufacturers</a></p>
				<p>VIDEO: <a href="https://support.pinnaclecart.com/hc/en-us/articles/204187568-Bulk-Importing-Products-with-video-" target="_blank" class="link-green">Bulk adding your products</a></p>
				<p>Check out <a href="https://support.pinnaclecart.com/hc/en-us/articles/220026467-Bulk-importing-images-FTP-" target="_blank" class="link-green">this article</a> on bulk adding your product images.</p>

				<h2>Administrating your store</h2>
				<p>Get awesome design tips <a href="https://support.pinnaclecart.com/hc/en-us/categories/200194737" target="_blank" class="link-green">here</a>.</p>
				<p>Don't forget to <a href="admin.php?p=profile" target="_blank" class="link-green">update your admin profile</a>.</p>
				<p>Set up your promotions <a href="admin.php?p=promotions" target="_blank" class="link-green">here</a>.</p>
				<p>Establish your sites <a href="admin.php?p=page&mode=update&id=2" target="_blank" class="link-green">Terms and Conditions</a></p>

				<h2>Keep up to date</h2>
				<p>Get great entrepreneurial advice by checking out <a href="https://www.pinnaclecart.com/blog" target="_blank" class="link-green">our blog</a></p>
				<p>Follow the official PinnacleCart <a href="https://twitter.com/pinnaclecart" target="_blank" class="link-green">Twitter</a></p>
				<p>Get up to date news on our <a href="https://www.facebook.com/PinCart" target="_blank" class="link-green">Facebook</a></p>
				<p>Have other questions about the cart? Check out our <a href="https://support.pinnaclecart.com/hc/en-us" target="_blank" class="link-green">help center</a>!</p>
				<p>Feel free to contact us by clicking <a href="https://www.pinnaclecart.com/contact-us/" target="_blank" class="link-green">here</a></p>

				<div class="col-sm-4">
					<a class="btn btn-primary" href="#collapse-one" role="button" data-toggle="collapse" data-parent="#faq-accordion">Got it</a>
				</div>
			</div>
		</div>
	</div>
</div>