{if $DiscountsPromo == "YES"}
	<div id="opc-invoice-promo-input-row">
		{$msg.opc.invoice_promo_code}
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
			<tbody>
				<tr noid="opc-invoice-promo-input-row">
					<td><input type="text" style="width:100%;" id="opc-promo-code" name="promo_code" autocomplete="off"/></td>
					<td style="min-width:50px;" align="right">
						{button id="opc-promo-code-apply" class="button-apply-promo" text=$msg.opc.invoice_promo_code_apply file=$smarty.template}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
{/if}
