{** ERROR MESSAGE START **}
<div id="opc-error" class="fieldset clearfix invisible {class file=$smarty.template editable=true}">
	<h3>{$msg.opc.error_title}</h3>		
	<div id="opc-error-message" class="msg-error clearfix spacer"></div>
	<div class="spacer">
		<ul class="list">
			<li><a href="{if $CatalogHomeLink!=""}{$CatalogHomeLink}{else}{$url_rel}{/if}">{$msg.common.goto_home_page}</a></li>
			<li><a href="{$site_map_url}">{$msg.common.site_map}</a></li>
		</ul>
	</div>
</div>
{** ERROR MESSAGE FINISH **}