{** SHIPPING START **}
<div id="opc-shipping" class="fieldset clearfix {class file=$smarty.template editable=true}">
	<h3>{$msg.opc.shipping_title}</h3>
	<div id="opc-shipping-inner" style="display:none;">
		<div class="col-wrap clearfix">
			<div class="col-50" id="opc-shipping-address-list">
				{** SHIPPING ADDRESS FORM START **}
				<div id="opc-shipping-address-form" class="invisible">
					<form id="opc-form-shipping" name="opc-form-shipping" method="post" action="">
						{if $EndiciaUspsAddressValidation == "1"}
							<input type="hidden" id="opc-shipping-address-form-use_user_address"  name="use_user_address" value="0"/>
						{/if}
						<div class="spacer no-space-top no-gap-top">
							<strong>{$msg.opc.shipping_select_address}</strong>
							<div class="gap-top">
								<div id="opc-shipping-as-billing-radio" class="invisible">
									<table class="fieldset">
										<tbody>
											<tr class="field radio">
												<td>
													<div>
														<div class="input">
															<input type="radio" name="shipping-address-id" id="opc-shipping-address-id-billing" value="billing"/>
														</div>
														<label for="opc-shipping-address-id-billing">{$msg.opc.shipping_as_billing_address}</label>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div id="opc-shipping-address-book" class="invisible"></div>
								<div id="opc-shipping-new-radio" class="invisible">
									<table class="fieldset">
										<tbody>
											<tr class="field radio">
												<td>
													<div>
														<div class="input">
															<input type="radio" name="shipping-address-id" id="opc-shipping-address-id-new" value="new"/>
														</div>
														<label for="opc-shipping-address-id-new">{$msg.opc.shipping_new_address}</label>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div id="opc-shipping-address-form-new">
							<div class="spacer no-space-top no-gap-top no-space-bottom no-gap-bottom">
								<div class="gap-bottom">
									<a id="opc-link-copy-billing-to-shipping" href="#">{$msg.opc.shipping_copy_billing}</a>
								</div>
								<table class="fieldset">
									<tr class="field required">
										<td>
											<div>
												<label for="opc-shipping-address-form-address_type">{$msg.opc.shipping_address_type}</label>
												<select id="opc-shipping-address-form-address_type" name="address_type">
													<option value="">{$msg.opc.shipping_address_type_please_select}</option>
													<option value="Residential">{$msg.opc.shipping_address_type_residential}</option>
													<option value="Business">{$msg.opc.shipping_address_type_business}</option>
												</select>
											</div>
										</td>
									</tr>
									<tr class="field required">
										<td>
											<div>
												<label for="opc-shipping-address-form-name">{$msg.opc.shipping_name}</label>
												<input type="text" name="name" id="opc-shipping-address-form-name"/>
											</div>
										</td>
									</tr>
									{if $FormsShippingCompany != "Invisible"}
										<tr class="field {if $FormsShippingCompany == "Required"} required{/if}">
											<td>
												<div>
													<label for="opc-shipping-address-form-company">{$msg.opc.shipping_company}</label>
													<input type="text" name="company" id="opc-shipping-address-form-company"/>
												</div>
											</td>
										</tr>
									{else}
									<tr class="invisible">
										<input id="opc-shipping-address-form-company" type="hidden" name="company" value="{$user.company|htmlspecialchars}"/>
									</tr>
									{/if}
									<tr class="field required">
										<td>
											<div>
												<label for="opc-shipping-address-form-address1">{$msg.opc.shipping_address1}</label>
												<input type="text" name="address1" id="opc-shipping-address-form-address1"/>
											</div>
										</td>
									</tr>
									{if $FormsShippingAddressLine2 != "Invisible"}
									<tr class="field {if $FormsShippingAddressLine2 == "Required"} required{/if}">
										<td>
											<div>
												<label for="opc-shipping-address-form-address2">{$msg.opc.shipping_address2}</label>
												<input type="text" name="address2" id="opc-shipping-address-form-address2"/>
											</div>
										</td>
									</tr>
									{else}
									<tr class="invisible">
										<input id="opc-shipping-address-form-address2" type="hidden" name="address2" value="{$user.address2|htmlspecialchars}"/>
									</tr>
									{/if}
									<tr class="field required">
										<td>
											<div>
												<label for="opc-shipping-address-form-city">{$msg.opc.shipping_city}</label>
												<input type="text" name="city" id="opc-shipping-address-form-city"/>
											</div>
										</td>
									</tr>
									<tr id="field-shipping-country" class="field required">
										<td>
											<div>
												<label for="opc-shipping-address-form-country_id">{$msg.opc.shipping_country}</label>
												<select name="country" id="opc-shipping-address-form-country_id"></select>
											</div>
										</td>
									</tr>
									<tr id="field-shipping-state" class="field field-input-states required">
										<td>
											<div>
												<label for="opc-shipping-address-form-state_id">{$msg.opc.shipping_state_province}</label>
												<select name="state" id="opc-shipping-address-form-state_id"></select>
											</div>
										</td>
									</tr>
									<tr id="field-shipping-province" class="field field-input-provinces required">
										<td>
											<div>
												<label for="opc-shipping-address-form-province">{$msg.opc.shipping_state_province}</label>
												<input type="text" name="province" class="input-states" id="opc-shipping-address-form-province"/>
											</div>
										</td>
									</tr>
									<tr id="field-shipping-zip" class="field field-input-zip required">
										<td>
											<div>
												<label for="opc-shipping-address-form-zip">{$msg.opc.shipping_zip}</label>
												<input type="text" name="zip" class="input-zip" id="opc-shipping-address-form-zip"/>
											</div>
										</td>
									</tr>
									
									{if $cf_shipping}
										{foreach from=$cf_shipping item="cfield"}
											<tr class="field{if $cfield.is_required } required{/if}">
												<td>
													<div class="clearfix">
														{if $cfield.field_type == "radio"}
															<label style="float:left;">{$cfield.field_caption|htmlspecialchars}</label>
															<div class="custom-field-radio clearfix">{cfield field=$cfield}</div>
														{else}
															<label>{$cfield.field_caption|htmlspecialchars}</label>
															{cfield field=$cfield}
														{/if}
													</div>
												</td>
											</tr>
										{/foreach}					
									{/if}
								</table>
							</div>
						</div>
						
						<div class="buttons">
							{button id="opc-shipping-address-form-button-save" type="submit" class="button" text=$msg.opc.shipping_button_save file=$smarty.template }
						</div>
					</form>
				</div>
				{** SHIPPING ADDRESS FORM FINISH **}
						
				{** SHIPPING ADDRESS VIEW START **}
				<div id="opc-shipping-address-view">
					<div class="spacer no-space-top no-gap-top no-space-bottom no-gap-bottom">
						&nbsp;
					</div>			
				</div>
				{** SHIPPING ADDRESS VIEW FINISH **}
			</div>
														
			<div class="col-50" id="opc-shipping-methods-list">	
				<form id="opc-shipping-methods-form" class="spacer no-space-top no-gap-top no-space-bottom no-gap-bottom"></form>
			</div>
		</div>
	</div>
</div>

{** SHIPPING FINISH **}
