<!--<strong>{$payment_method->title|htmlspecialchars}</strong>-->

{if $payment_method->message_payment != ""}
<div class="spacer no-space-top no-gap-top">
	{$payment_method->message_payment}
</div>
{/if}

<div class="invisible" id="opc-payment-form-validator"></div>

{if $payment_test_mode}
<div class="msg-warning spacer">
	{$msg.cart.gateway_in_test_mode}
</div>
{/if}
		
{if $order->paymentIsRealtime == "Yes"}
	<div class="clearfix">
	
		{if $is_payment_error == "yes"}
			<div class="msg-error spacer">{$payment_error_message}</div>
		{/if}

		{foreach from=$payment_form item="field"}
			{if $field.type == "hidden"}
				<input type="hidden" name="{$field.name}" value="{$field.value|htmlspecialchars}"/>
			{/if}
		{/foreach}

		{if $paymentProfile}

			{assign var="paymentProfileBillingData" value=$paymentProfile->billingData}
	
			<input type="hidden" name="form[payment_profile_id]" value="{$paymentProfile->id}"/>
			
			<div class="spacer no-space-top no-gap-top">
				<table class="fieldset">
					<tbody>
						<tr class="field checkbox">
							<td>
								<div>
									<div class="input">
										<input type="radio" name="form[payment_method_way]" id="opc-payment-use-profile" value="profile"/>
									</div>
									<label for="opc-payment-use-profile">
										{$paymentProfileBillingData->ccNumber}<br/>
										Exp. date: {$paymentProfileBillingData->ccExpirationMonth}/{$paymentProfileBillingData->ccExpirationYear}
									</label>
								</div>
							</td>
						</tr>
					</tbody>
				</table>

				{if count($payment_profile_form) > 0}
					<div id="opc-payment-method-form-profile">
						<table class="fieldset">
							<tbody>
							{foreach from=$payment_profile_form item="field"}
								{include file="templates/pages/checkout/opc/opc-payment-form-field.html"}
							{/foreach}
							</tbody>
						</table>
					</div>
				{/if}

				<table class="fieldset">
					<tbody>
						<tr class="field checkbox">
							<td>
								<div class="gap-top">
									<div class="input">
										<input type="radio" name="form[payment_method_way]" id="opc-payment-use-card" value="card"/>
									</div>
									<label for="opc-payment-use-card">Use other credit card</label>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		
		{/if}

		{if $processor_form_template}
			{include file=$processor_form_template}
		{else}
			<div class="spacer no-gap-top no-space-top no-gap-bottom no-space-bottom invisible" id="opc-payment-method-form-card">
				<table class="fieldset" cellpadding="0" cellspacing="0">
					<tbody>
					{foreach from=$payment_form item="field"}
					{include file="templates/pages/checkout/opc/opc-payment-form-field.html"}
					{/foreach}
					</tbody>
				</table>
			</div>
		{/if}
	</div>
{else}
	<script type="text/javascript" language="javascript"><!--
		function CheckPaymentForm{$order->paymentMethodId}(frm){literal}{{/literal}
			{$validator_code}
			return true;
		{literal}}{/literal}
	--></script>
	<input type="hidden" name="oa" value="{$ORDER_COMPLETE_ORDER}"/>
{/if}