<div class="col-wrap gap-bottom">
	<div class="col-50">
		<div class="spacer no-space-top no-gap-top no-space-bottom no-gap-bottom">
			<input type="radio" name="form[ext_profile_id]" value="{$profile.ext_profile_id}"{if $selectedPaymentProfileId == $profile.ext_profile_id} checked="checked"{/if} id="ext_profile_{$profile.ext_profile_id}"/> <label for="ext_profile_{$profile.ext_profile_id}">Use payment method</label>
			<br/>
			{$profile.data.name|htmlspecialchars}<br/>
			{$profile.data.address1|htmlspecialchars}<br/>
			{if $profile.data.address2}{$profile.data.address2|htmlspecialchars}<br />{/if}
			{$profile.data.city|htmlspecialchars}, {$profile.data.state|htmlspecialchars}, {$profile.data.zip|htmlspecialchars}<br />
			{$profile.data.country|htmlspecialchars}<br/>
		</div>
	</div>
	<div class="col-50">
		<div class="spacer no-space-top no-gap-top no-space-bottom no-gap-bottom">
			{if $profile.data.phone}{$msg.opc.billing_phone}: {$profile.data.phone|htmlspecialchars}<br/>{/if}
			{if $profile.data.email}<a href="mailto:{$profile.data.email|htmlspecialchars}">{$profile.data.email|htmlspecialchars}</a>{else}<a href="mailto:{$profileEmailAddress|htmlspecialchars}">{$profileEmailAddress|htmlspecialchars}</a>{/if}
			<br/>
			Number: {$profile.data.cc_number|htmlspecialchars}<br/>
			Exp. Date: {$profile.data.cc_expiration_date|htmlspecialchars}
		</div>
	</div>
</div>