{** BILLING START **}
<div id="opc-billing" class="fieldset clearfix {class file=$smarty.template editable=true}">
	<h3>{$msg.opc.billing_title}</h3>
					
	{** BILLING FORM START **}
	<div id="opc-billing-form" class="invisible">
		<form>
			{if $EndiciaUspsAddressValidation == "1"}
				<input type="hidden" id="opc-billing-form-use_user_address"  name="use_user_address" value="0"/>
			{/if}
			<div id="opc-billing-form-profiles" class="invisible"></div>
			
			<div id="opc-billing-form-inner" class="col-wrap clearfix">
				<div class="col-50">
					<div class="spacer no-space-top no-gap-top no-space-bottom no-gap-bottom">
						<table class="fieldset">
							<tbody>
								<tr class="field required">
									<td>
										<div>
											<label for="opc-billing-form-fname">{$msg.opc.billing_fname}</label>
											<input type="text" name="fname" id="opc-billing-form-fname"/>
										</div>
									</td>
								</tr>
								<tr class="field required">
									<td>
										<div>
											<label for="opc-billing-form-lname">{$msg.opc.billing_lname}</label>
											<input type="text" name="lname" id="opc-billing-form-lname"/>
										</div>
									</td>
								</tr>
								{if $FormsBillingCompany != "Invisible"}
									<tr class="field {if $FormsBillingCompany == "Required"} required{/if}">
										<td>
											<div>
												<label for="opc-billing-form-company">{$msg.opc.billing_company}</label>
												<input type="text" name="company" id="opc-billing-form-company"/>
											</div>
										</td>
									</tr>
								{else}
									<tr class="invisible">
										<input id="opc-billing-form-company" type="hidden" name="company" value="{$user.company|htmlspecialchars}"/>
									</tr>
								{/if}
								<tr class="field required">
									<td>
										<div>
											<label for="opc-billing-form-address1">{$msg.opc.billing_address1}</label>
											<input type="text" name="address1" id="opc-billing-form-address1"/>
										</div>
									</td>
								</tr>
								{if $FormsBillingAddressLine2 != "Invisible"}
									<tr class="field {if $FormsBillingAddressLine2 == "Required"} required{/if}">
										<td>
											<div>
												<label for="opc-billing-form-address2">{$msg.opc.billing_address2}</label>
												<input type="text" name="address2" id="opc-billing-form-address2"/>
											</div>
										</td>
									</tr>
								{else}
									<tr class="invisible">
										<input id="opc-billing-form-address2" type="hidden" name="address2" value="{$user.address2|htmlspecialchars}"/>
									</tr>
								{/if}
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-50">
					<div class="spacer no-space-top no-gap-top no-space-bottom no-gap-bottom">
						<table class="fieldset">
							<tbody>
								<tr class="field required">
									<td>
										<div>
											<label for="opc-billing-form-city">{$msg.opc.billing_city}</label>
											<input type="text" name="city" id="opc-billing-form-city">
										</div>
									</td>
								</tr>
								<tr id="field-billing-country" class="field required">
									<td>
										<div>
											<label for="opc-billing-form-country">{$msg.opc.billing_country}</label>
											<select name="country" id="opc-billing-form-country"></select>
										</div>
									</td>
								</tr>
								<tr id="field-billing-state" class="field field-input-states required">
									<td>
										<div>
											<label for="opc-billing-form-state">{$msg.opc.billing_state_province}</label>
											<select name="state" id="opc-billing-form-state"></select>
										</div>
									</td>
								</tr>
								<tr id="field-billing-province" class="field field-input-provinces required">
									<td>
										<div>
											<label for="opc-billing-form-province">{$msg.opc.billing_state_province}</label>
											<input type="text" name="province" class="input-states" id="opc-billing-form-province"/>
										</div>
									</td>
								</tr>
								<tr id="field-billing-zip" class="field field-input-zip required">
									<td>
										<div>
											<label for="opc-billing-form-zip">{$msg.opc.billing_zip}</label>
											<input type="text" class="input-zip" name="zip" id="opc-billing-form-zip"/>
										</div>
									</td>
								</tr>
								{if $FormsBillingPhone != "Invisible"}
									<tr class="field {if $FormsBillingPhone == "Required"} required{/if}">
										<td>
											<div>
												<label for="opc-billing-form-phone">{$msg.opc.billing_phone}</label>
												<input type="text" name="phone" id="opc-billing-form-phone"/>
											</div>
										</td>
									</tr>
								{else}
									<tr class="invisible">
										<input id="opc-billing-form-phone" type="hidden" name="phone" value="{$user.phone|htmlspecialchars}"/>
									</tr>
								{/if}
								<tr class="field required">
									<td>
										<div>
											<label for="opc-billing-form-email">{$msg.opc.billing_email}</label>
											<input type="text" name="email" id="opc-billing-form-email"/>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			{if $cf_billing}
				{assign var="cf_list" value=$cf_billing}
				{assign var="cf_counter" value=$cf_billing_c1}
				{assign var="cf_separator" value=true}
				{include file="templates/pages/checkout/opc/opc-custom-fields.html"}
			{/if}

			{if $auth_express == 'yes' && $AllowCreateAccount != 'No'}
			<div id="opc-account" class="gap-bottom" stysle="border:1px solid silver;background-color:#efefef;">
				{if $AllowCreateAccount=='Yes' || $order->hasRecurringBillingItems()}
					<h3>{$msg.opc.account}</h3>
					<input type="hidden" value="1" name="create_account"/>
				{else}
				<div class="spacer">
					<input type="checkbox" value="1" id="cb-create-account" name="create_account"/>
					<label for="cb-create-account" style="font-size:16px;font-weight:bold;color:gray;">
						&nbsp; {$msg.opc.create_account}
					</label>
				</div>
				{/if}
				<div id="opc-account-inner" class="gap-top clearfix {if $AllowCreateAccount!='Yes' && !$order->hasRecurringBillingItems()}invisible{/if}">
					<div class="clearfix col-wrap">
						<div class="col-50">
							<div class="space-left space-right">
								<table class="fieldset">
									<tbody>
										<tr class="field required">
											<td>
												<div>
													<label for="opc-account-form-login">{$msg.opc.username}</label>
													<input type="text" name="login" id="opc-account-form-login"/>
												</div>
											</td>
										</tr>
										<tr class="field required">
											<td>
												<div>
													<label for="opc-account-form-password">{$msg.opc.password}</label>
													<input type="password" name="password" id="opc-account-form-password"/>
												</div>
											</td>
										</tr>
										<tr class="field required">
											<td>
												<div>
													<label for="opc-account-form-password2">{$msg.opc.password_confirmation}</label>
													<input type="password" name="password2" id="opc-account-form-password2"/>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-50">
							<div class="space-left space-right">
								<table class="fieldset">
									<tbody>
										<tr class="field" valign="top">
											<td>
												<div>
													<label style="float:left;">{$msg.opc.email_subscription}</label>
													<div style="width:170px;display:inline-block;float:left;">
														<input type="checkbox" name="receives_marketing" id="receives_marketing" value="Yes" {if $ReceivesMarketingDefault == "Yes"}checked="checked"{/if}/>
														<label for="receives_marketing">{$msg.opc.receives_marketing}</label>
													</div>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					{if $cf_account}
						{assign var="cf_list" value=$cf_account}
						{assign var="cf_counter" value=$cf_account_c1}
						{assign var="cf_separator" value=true}
						{include file="templates/pages/checkout/opc/opc-custom-fields.html"}
					{/if}
					{if $cf_signup}
						{assign var="cf_list" value=$cf_signup}
						{assign var="cf_counter" value=$cf_signup_c1}
						{assign var="cf_separator" value=true}
						{include file="templates/pages/checkout/opc/opc-custom-fields.html"}
					{/if}
				</div>
			</div>
			{/if}

			<div class="clearfix">
				<div class="spacer text-right clearfix">
					{button id="opc-billing-form-button-save" class="button-continue-with-order" text=$msg.opc.billing_button_save file=$smarty.template }
				</div>
			</div>
		</form>
	</div>
	{** BILLING FORM FINISH **}
				
	{** BILLING VIEW START **}
	<div id="opc-billing-view" class="clearfix invisible">
		<div class="col-wrap">
			<div class="col-50">
				<div class="spacer no-space-top no-gap-top no-space-bottom no-gap-bottom" id="opc-billing-view-address">
					&nbsp;
				</div>
			</div>
			<div class="col-50">
				<div class="spacer no-space-top no-gap-top no-space-bottom no-gap-bottom" id="opc-billing-view-contacts">
					&nbsp;
				</div>
			</div>
		</div>
	</div>
	{** BILLING VIEW FINISH **}
</div>
{** BILLING FINISH **}
