<div id="opc-invoice" class="fieldset clearfix {class file=$smarty.template editable=true}">
				
	<h3 id="opc-invoice-title">{$msg.opc.invoice_title}</h3>
				
	<div id="opc-invoice-message" class="spacer no-space-top no-gap-top">
		{lang msg=$msg.opc.invoice_items_in_cart n=$order->itemsCount}
	</div>
	
	<div id="opc-invoice-totals" class="opc-invoice-totals spacer no-space-bottom">
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
			<tbody>
				<tr id="opc-invoice-subtotal-row" valign="top">
					<td class="invoice-title">{$msg.opc.invoice_subtotal}</td>
					<td id="opc-invoice-subtotal" class="invoice-amount text-right"></td>
				</tr>
				<tr id="opc-invoice-discount-row" class="invisible" valign="top">
					<td class="invoice-title">{$msg.opc.invoice_discount}</td>
					<td id="opc-invoice-discount" class="invoice-amount text-right"></td>
				</tr>
				<tr id="opc-invoice-promo-row" class="invisible" valign="top">
					<td class="invoice-title">{$msg.opc.invoice_promo_discount}</td>
					<td id="opc-invoice-promo" class="invoice-amount text-right"></td>
				</tr>
				<tr id="opc-invoice-shipping-row" class="invisible" valign="top">
					<td class="invoice-title">{$msg.opc.invoice_shipping}</td>
					<td id="opc-invoice-shipping" class="invoice-amount text-right"></td>
				</tr>
				<tr id="opc-invoice-handling-row" class="invisible" valign="top">
					<td class="invoice-title">{$msg.opc.invoice_handling}</td>
					<td id="opc-invoice-handling" class="invoice-amount text-right"></td>
				</tr>
				<tr id="opc-invoice-promo-shipping-row" class="invisible" valign="top">
					<td class="invoice-title">{$msg.opc.invoice_promo_discount}</td>
					<td id="opc-invoice-promo-shipping" class="invoice-amount text-right"></td>
				</tr>
				<tr id="opc-invoice-tax-row" class="invisible" valign="top">
					<td class="invoice-title">{$msg.opc.invoice_tax}</td>
					<td id="opc-invoice-tax" class="invoice-amount text-right"></td>
				</tr>
				<tr id="opc-invoice-bongo-duty-tax-row" class="invisible" valign="top">
					<td class="invoice-title">{$msg.opc.invoice_bongo_duty_tax}</td>
					<td id="opc-invoice-bongo-duty-tax" class="invoice-amount text-right"></td>
				</tr>
				<tr id="opc-invoice-bongo-insurance-row" class="invisible" valign="top">
					<td class="invoice-title">{$msg.opc.invoice_bongo_insurance}</td>
					<td id="opc-invoice-bongo-insurance" class="invoice-amount text-right"></td>
				</tr>
				<tr id="opc-invoice-tax-exempt-row" class="invisible" valign="top">
					<td class="invoice-title">{$msg.opc.invoice_tax_exempt}</td>
					<td id="opc-invoice-tax-exempt" class="invoice-amount text-right"></td>
				</tr>
				<tr id="opc-invoice-total-row" class="opc-invoice-total-row" valign="top">
					<td class="invoice-title">{$msg.opc.invoice_total}</td>
					<td id="opc-invoice-total" class="invoice-amount text-right"></td>
				</tr>
                <tr id="opc-invoice-tax-included-row" class="invisible" valign="top">
                    <td class="invoice-title">{$msg.opc.invoice_tax_included_in_total}</td>
                    <td id="opc-invoice-tax-included" class="invoice-amount text-right"></td>
                </tr>
				<tr id="opc-invoice-gift-certificate-row" class="opc-invoice-gift-certificate-row invisible" valign="top">
					<td class="invoice-title">{$msg.opc.invoice_gift_certificate}</td>
					<td id="opc-invoice-gift-certificate" class="invoice-amount text-right"></td>
				</tr>
				<tr id="opc-invoice-remaining-row" class="opc-invoice-remaining-row invisible" valign="top">
					<td class="invoice-title">{$msg.opc.invoice_remaining_amount}</td>
					<td id="opc-invoice-remaining" class="invoice-amount text-right"></td>
				</tr>
				<tr id="opc-invoice-recurring-row" class="opc-invoice-recurring-row invisible" valign="top">
					<td class="invoice-title" colspan="2"></td>
				</tr>
				<tr id="opc-invoice-recurring-items-row" class="opc-invoice-recurring-items-row invisible" valign="top">
					<td class="invoice-title" colspan="2"></td>
				</tr>
			</tbody>
		</table>
		{include file="templates/pages/checkout/opc/opc-promo-code.html"}
	</div>

	<div id="opc-invoice-cart" class="spacer clearfix">
		<div class="clearfix text-center">
			<a id="cart-items-toggle" href="#">{$msg.opc.invoice_click_to_view}</a>
		</div>
		&nbsp;
		<div class="invisible clearfix" id="cart-items">
			<table cellpadding="0" cellspacing="0" border="0" width="100%">
				<tbody>
			{foreach from=$order_items item="order_item"}
				<tr>
					<td class="cart-item-title">
						{$order_item.title|htmlspecialchars}
					</td>
					<td class="cart-item-price">
						{$order_item.quantity} x {$order_item.product_price|price}
					</td> 
				</tr>
			{/foreach}
				</tbody>
			</table>
		</div>
	</div>
</div>