{if $field.type == "text"}
	<tr class="field">
		<td>
			<div>
				<label>{$field.caption}</label>
				<input type="text" {if !empty($field.id)}id="{$field.id}"{/if} {if !empty($field.class)}class="{$field.class}"{/if} {if !empty($field.maxlength)}maxlength="{$field.maxlength}"{/if} {if !empty($field.size)}size="{$field.size}"{/if} name="{$field.name}" value="{$field.value|htmlspecialchars}"/>
				{if $field.name=="form[check_bank_aba_code]" || $field.name=="form[check_bank_account_number]"}
					{assign var="imageId" value="image-check"}
					{if $designImages.$imageId}
						<div class="hint">
							<a href="javascript:showImage('{$designImages.$imageId.content}','','')">{$msg.common.more_info}</a>
						</div>
					{/if}
				{/if}
				{if $field.hint != ""}
					<div class="hint">{$field.hint}</div>
				{/if}
			</div>
		</td>
	</tr>
{/if}


{if $field.type == "checkbox"}
	<tr class="field">
		<td>
			<div>
				<label>{$field.caption}</label>
				<input {if !empty($field.id)}id="{$field.id}"{/if} type="checkbox" {if !empty($field.class)}class="{$field.class}"{/if}  name="{$field.name}" value="{$field.value|htmlspecialchars}"/>
				{if $field.hint != ""}
					<div class="hint">{$field.hint}</div>
				{/if}
			</div>
		</td>
	</tr>
{/if}


{if $field.type == "select"}
	{if $field.name == "form[cc_expiration_year]" || $field.name == "form[cc_expiration_month]"}
		{if $field.name == "form[cc_expiration_month]"}
			<tr class="field">
				<td>
					<div>
						<label>{$field.caption}</label>

							<select {if !empty($field.id)}id="{$field.id}"{/if} {if !empty($field.class)}class="{$field.class}"{/if} name="{$field.name}">
							{foreach from=$field.options item="field_option"}
								<option value="{$field_option.value}">{$field_option.caption}</option>
							{/foreach}
							</select>
							{assign var="field" value=$payment_form.cc_expiration_year}
							<select {if !empty($field.id)}id="{$field.id}"{/if} {if !empty($field.class)}class="{$field.class}"{/if} name="{$field.name}">
							{foreach from=$field.options item="field_option"}
								<option value="{$field_option.value}">{$field_option.caption}</option>
							{/foreach}
							</select>

						{if $field.hint != ""}
							<div class="hint">{$field.hint}</div>
						{/if}
					</div>
				</td>
			</tr>				
		{/if}
	{elseif $field.name == "form[cc_start_year]" || $field.name == "form[cc_start_month]"}
		{if $field.name == "form[cc_start_month]"}
			<tr class="field">
				<td>
					<div>
						<label>{$field.caption}</label>
						<select {if !empty($field.id)}id="{$field.id}"{/if} {if !empty($field.class)}class="{$field.class}"{/if} name="{$field.name}">
						{foreach from=$field.options item="field_option"}
							<option value="{$field_option.value}">{$field_option.caption}</option>
						{/foreach}
						</select>
						{assign var="field" value=$payment_form.cc_start_year}
						<select {if !empty($field.id)}id="{$field.id}"{/if} {if !empty($field.class)}class="{$field.class}"{/if} name="{$field.name}">
						{foreach from=$field.options item="field_option"}
							<option value="{$field_option.value}">{$field_option.caption}</option>
						{/foreach}
						</select>
						{if $field.hint != ""}
						<div class="hint">{$field.hint}</div>
						{/if}
					</div>
				</td>
			</tr>			
		{/if}
	{else}
		<tr class="field">
			<td>
				<div>
					<label>{$field.caption}</label>
					<select {if !empty($field.id)}id="{$field.id}"{/if} {if !empty($field.class)}class="{$field.class}"{/if} name="{$field.name}">
					{foreach from=$field.options item="field_option"}
						<option value="{$field_option.value}">{$field_option.caption}</option>
					{/foreach}
					</select>
					{if $field.hint != ""}
					<div class="hint">{$field.hint}</div>
					{/if}
				</div>
			</td>
		</tr>
	{/if}
{/if}

{if $field.type == "static"}
	<tr class="field{if $field.wrapperClass != ''} {$field.wrapperClass}{/if}">
		<td>
			<div>{$field.caption}</div>
		</td>
	</tr>
{/if}