{** PAYMENT START **}
<div id="opc-payment" class="fieldset clearfix {class file=$smarty.template editable=true}">
	<h3>{$msg.opc.payment_title}</h3>
	<div id="opc-payment-inner" style="display:none;">
		<div id="opc-payment-methods-error" style="display:none;" class="clearfix invisible msg-error gap"></div>
		<div class="col-wrap clearfix" id="opc-payment-methods">
			<div class="col-30">
				{** PAYMENT METHODS FORM START **}
				<form id="opc-payment-methods-form" class="clearfix invisible">
					<div class="spacer no-space-top no-gap-top gap-bottom">
						<strong>{$msg.opc.payment_method_select}</strong>
						<div class="gap-top gap-bottom">
							<div id="opc-payment-methods-options" class="clearfix"></div>
						</div>
					</div>	
				</form>
				{** PAYMENT METHODS FORM FINISH **}
			</div>
			<div class="payment-methods-form-wrapper">
				{** PAYMENT ERR MESSAGE START **}
				<div id="opc-payment-method-error" class="clearfix invisible gap-bottom gap-left msg-error">
					{$msg.opc.payment_error_occured}
					<div id="opc-payment-method-error-message" class="clearfix"></div>
				</div>
				{** PYYMENT ERR MESSAGE FINISH **}

				{** GIFT CERTIFICATE FORM START **}
				<form id="opc-gift-certificate-form" class="clearfix invisible">
					<div class="spacer no-space-top no-gap-top no-space-bottom no-gap-bottom">
						<strong>{$msg.opc.payment_gc_title}</strong>
						<br/>&nbsp;
						<table class="fieldset">
							<tbody>
								<tr class="field">
									<td>
										<div>
											<label>{$msg.opc.payment_gc_fname}</label>
	  										<input name="gift_cert_first_name" type="text" id="gift_cert_first_name" maxlength="64" value="{$gift_cert_first_name}" autocomplete="off"/>
										</div>
									</td>
								</tr>
								<tr class="field">
									<td>
										<div>
											<label>{$msg.opc.payment_gc_lname}</label>
	    									<input name="gift_cert_last_name" type="text" id="gift_cert_last_name" maxlength="64" value="{$gift_cert_last_name}" autocomplete="off"/>
										</div>
									</td>
								</tr>
								<tr class="field">
									<td>
										<div>
											<label>{$msg.opc.payment_gc_voucher_code}</label>
											<input name="gift_cert_voucher" type="text" id="gift_cert_voucher" maxlength="16" value="{$gift_cert_voucher}" autocomplete="off"/>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="buttons">
						<input type="submit" id="opc-gift-certificate-apply" class="submit" value="{$msg.opc.payment_gc_apply}"/>
					</div>
				</form>
				{** GIFT CERTIFICATE FORM FINISH **}
				
				{** GIFT CERTIFICATE VIEW START **}
				<div id="opc-gift-certificate-view" class="spacer clearfix invisible no-space-top no-gap-top"></div>
				{** GIFT CERTIFICATE VIEW FINISH **}
				
				{** PAYMENT METHOD FORM START **}
				<form id="opc-payment-method-form" method="POST" class="clearfix invisible"></form>
				{** PAYMENT METHOD FORM FINISH **}
				
			</div>
		</div>
		<div class="col-wrap clearfix" id="opc-payment-methods-free">
			<div class="col-50">
				<form id="opc-payment-methods-form-free">
					<input type="hidden" name="payment-method-id" value="free"/>
					<div class="spacer no-space-top no-gap-top gap-bottom">
						<strong>{$msg.opc.free_order_qualified}</strong>
					</div>
				</form>
			</div>
			<div class="col-50">
				<form id="opc-payment-method-form-free" method="POST">
					<input type="hidden" name="oa" value="{$ORDER_COMPLETE_ORDER}"/>
					<div class="spacer no-space-top no-gap-top gap-bottom">{$msg.opc.click_button_to_complete}</div>
				</form>
			</div>
		</div>
		<div class="spacer clearfix text-right">
			{if ($AlwaysDisplayTermsAndConditionsCheckbox == 'Yes' || $auth_express == "yes" || $new_account) && $DisplayTermsAndConditionsCheckbox == "Yes"}
				<input type="checkbox" id="cb_agree" class="checkbox-agree payment-agree" name="form[agree]" value="Yes"/>
				<label id="label_cb_agree" for="cb_agree">{lang msg=$msg.account.checkout_agree_policy url=$url_rel}</label>
				&nbsp; &nbsp;
			{/if}
			{button class="button-purchase" text=$msg.opc.payment_button_place_order id="opc-button-complete" file=$smarty.template}
		</div>
	</div>
	<div id="opc-payment-dialog" style="display:none;">
		<iframe id="opc-payment-dialog-iframe" name="opc-payment-dialog-iframe" style="border:0px;width:100%;height:100%;" scrolling="no" border="0"></iframe>
	</div>
</div>
{** PAYMENT FINISH **}