{if $cf_invoice || $GiftCardActive == "YES"}
	<div id="opc-additional" class="fieldset clearfix">
		<h3>{$msg.cart.additional_information}</h3>
		<div id="opc-additional-inner" class="gap-bottom">
			<form>
				{if $GiftCardActive == "YES"}
				<div class="spacer no-space-top">
					<div>
						<input type="checkbox" name="add_gift" value="yes" id="opc-add-gift-message" {if $order->giftMessage != ""}checked="checked"{/if}/>&nbsp;
						<label for="opc-add-gift-message">{lang msg=$msg.cart.wanna_gift_message limit=$GiftCardMessageLength}</label>
					</div>
					<div id="opc-gift-message">
						<div class="gap-top clearfix">
							<textarea id="gift_message" name="gift_message" style="height:30px;" rows="" cols="">{$order->giftMessage|htmlspecialchars}</textarea>
						</div>
					</div>
				</div>
				{/if}

				{if $cf_invoice}
					<div id="opc-cf-invoice">
						{assign var="cf_list" value=$cf_invoice}
						{assign var="cf_counter" value=$cf_invoice_c1}
						{assign var="cf_separator" value=false}
						{include file="templates/pages/checkout/opc/opc-custom-fields.html"}
					</div>
				{/if}
			</form>
		</div>
	</div>
{/if}