<div class="col-wrap clearfix {if $cf_separator}separator-line gap-top space-top{/if}">
	<div class="col-50">
		<div class="spacer no-space-bottom no-gap-bottom">
			<table class="fieldset">
				<tbody>
					{foreach from=$cf_list item="cfield" name="cfforeach"}
						{if $smarty.foreach.cfforeach.iteration <= $cf_counter}
							<tr class="field{if $cfield.is_required} required{/if}">
								<td>
									<div class="clearfix">
										{if $cfield.field_type == "radio"}
											<label style="float:left;">{$cfield.field_caption|htmlspecialchars}</label>
											<div class="custom-field-radio clearfix">{cfield field=$cfield}</div>
										{else}
											<label>{$cfield.field_caption|htmlspecialchars}</label>
											{cfield field=$cfield}
										{/if}
									</div>
								</td>
							</tr>
						{/if}
					{/foreach}
				</tbody>
			</table>
		</div>
	</div>
	{if $cf_counter < count($cf_list)}
	<div class="col-50">
		<div class="spacer no-space-bottom no-gap-bottom">
			<table class="fieldset">
				<tbody>
					{foreach from=$cf_list item="cfield" name="cfforeach"}
						{if $smarty.foreach.cfforeach.iteration > $cf_counter}
							<tr class="field{if $cfield.is_required} required{/if}">
								<td>
									<div class="clearfix">
										{if $cfield.field_type == "radio"}
											<label style="float:left;">{$cfield.field_caption|htmlspecialchars}</label>
											<div class="custom-field-radio clearfix">{cfield field=$cfield}</div>
										{else}
											<label>{$cfield.field_caption|htmlspecialchars}</label>
											{cfield field=$cfield}
										{/if}
									</div>
								</td>
							</tr>
						{/if}
					{/foreach}
				</tbody>
			</table>
		</div>
	</div>
	{/if}
</div>