<p>{trans key="apps.shopzilla.app_desc1"}</p>
<p><a href="https://merchant.shopzilla.com/oa/registration/index.xpml" target="_blank" class="btn btn-primary">{trans key="apps.shopzilla.app_desc2"}</a></p>