<div id="header" class="layout-zone-header layout-zone {class file=$smarty.template editable=true}">
	<div class="mobilepad">
		<div class="col-wrap">
			<div class="col-50">
				{assign var="imageId" value="image-logo"}
				{if $designImages.$imageId}
					<div class="logo"><a href="{if $CatalogHomeLink!=''}{$CatalogHomeLink}{else}{$url_rel}{/if}"><img class="image-logo {class file=$smarty.template editable=true}" src="{$designImages.$imageId.content}" alt="{$msg.images.imageLogo|htmlspecialchars}"/></a></div>
				{/if}
				{assign var="imageId" value="image-slogan"}
				{if $designImages.$imageId}
					<div class="slogan"><img class="image-slogan {class file=$smarty.template editable=true}" src="{$designImages.$imageId.content}" alt="{$msg.images.imageSlogan|htmlspecialchars}"/></div>
				{/if}
			</div>
			<div class="col-50 col-right">
				<div class="mobile-navigation">
					<a href="#" class="mobile-nav-toggle">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
				</div>
			</div>
		</div>
		<div class="container-menu clearfix">
			<div class="{$LayoutSiteWidth} container-wrap clearfix">
				{include file="templates/layouts/zones/menu.html"}
			</div>
		</div>
		<div class="mobile-only">
			<div class="mobile-navigation-panel clearfix">
				<div class="mobilepad">
					<div class="clear"></div>
					<ul>
						{if $AllowCreateAccount != 'No'}
							{if $auth_ok == "yes" && $auth_express != 'yes'}
								<li><a href="{$url_https}p=account">{$msg.account.my_account}</a></li>
								<li><a href="javascript:ConfirmLogout()">{$msg.account.logout}</a></li>
							{else}
								<li><a href="{$url_https}p=login">{$msg.account.login}</a></li>
								<li><a href="{$url_https}p=signup">{$msg.account.register}</a></li>
							{/if}
						{/if}

						<li style="font-weight: 500; color: #4a4a4a;">
							<span class="nav-text">
								<a style="font-weight: 300;" href="{$url_dynamic}p=cart">{$msg.cart.view_cart}: {$order->itemsCount} Items </a>
								<span class="order-total-amount">({$order->cartSubtotalAmount|price})</span>
							</span>
						</li>
						<li><a href="{$url_checkout}">{$msg.cart.checkout}</a></li>
						<li class="divider"></li>
						{foreach from=$categories item="category"}{if $category.level == 1 && $category.is_visible == "Yes"}
						<li><a href="{$category.category_url}">{$category.name|htmlspecialchars}</a></li>
						{/if}{/foreach}
						{if $enable_gift_cert == 'Yes'}
							<li><span><a href="{$GlobalHttpUrl}/index.php?p=gift_certificate">Gift Certificates</a></span></li>
						{/if}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>