<div class="page-cart wrap {class file=$smarty.template editable=true}">
	<h1>{$msg.cart.your_cart}</h1>

	{include file="templates/layouts/zones/includes/flash-messages.html"}
	
	{if $order->itemsCount > 0}

		{assign var="showCheckoutButton" value="true"}
		{if !$min_subtotal_error && $paypal_ec_active}
			{** PAYPAL CHECKOUT **}
			{if $paypal_ec_active}
				{capture assign="button_paypal_ec"}
				<div class="col-right gap-left" style="{if $paypal_ec_bml_url}height:100px{else}height:42px;{/if}">
					{if $paypal_ec_return_is_error}
						<div class="msg-error text-left">
							{$msg.cart.paypal_errors_back}
							<ul class="list">
							{foreach from=$paypal_ec_return_errors item="pperr"}
								<li>{$pperr}</li>
							{/foreach}
							</ul>
						</div>
					{/if}	
					{if $paypal_ec_is_error}
						<div class="msg-error text-left">
							{$msg.cart.paypal_errors}:
							<ul class="list">
							{foreach from=$paypal_ec_errors item="pperr"}
								<li>{$pperr}</li>
							{/foreach}
							</ul>
						</div>
					{else}
						<a href="{$paypal_ec_url}"><img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" border="0"/></a>
						{if $paypal_ec_bml_url}
							<br/>
							<a href="{$paypal_ec_bml_url}"><img src="https://www.paypalobjects.com/webstatic/en_US/btn/btn_bml_SM.png" border="0" style="margin-top:5px;"/></a>
							<br/>
							<a href="https://www.securecheckout.billmelater.com/paycapture-content/fetch?hash=AU826TU8&content=/bmlweb/ppwpsiw.html" target="_blank"><img src="https://www.paypalobjects.com/webstatic/en_US/btn/btn_bml_text.png" /></a>
						{/if}
					{/if}
					{if $activeGateways > 0}
						<span class="cart-paypal-or{if $paypal_ec_bml_url} cart-paypal-bml{/if}">- OR -</span>
					{/if}
				</div>
				{/capture}
			{/if}

			{assign var="singlePaymentMethod" value=""}
			{if $paypal_ec_active}
				{assign var="singlePaymentMethod" value=$button_paypal_ec}
				{if $totalPaymentMethods == "0"}
					{assign var="showCheckoutButton" value="false"}
				{/if}
			{/if}
		{/if}
	
		{if $showCheckoutButton && $activeGateways > 0 && !$min_subtotal_error}
			{capture assign="checkout_button"}
				<div class="col-right gap-left -gap-right div-checkout-button">
					{button class="button-checkout" disabled="disabled" text=$msg.buttons.buttonCheckout file=$smarty.template}
					{if $paypal_ec_active}

					{/if}
				</div>
			{/capture}
		{/if}

		<div class="clearfix">
			<form id="form-cart" action="{$url_dynamic}p=cart" method="post">
				<input type="hidden" name="oa" value="{$ORDER_UPDATE_ITEMS}"/>
				<input type="hidden" id="form-cart-oa-todo" name="oa_todo" value="update"/>
				<input type="hidden" name="ua" value=""/>
		
				<div class="gap-right gap-top">
					<div class="col-wrap clearfix">
						<div class="col-50">&nbsp;</div>
						<div class="col-50 col-right clearfix">
							<div class="col-wrap">
								{if $showCheckoutButton == 'true'}
									{$checkout_button}
									{if $paypal_ec_active}{$button_paypal_ec}{/if}
								{else}
									{$singlePaymentMethod}
								{/if}
							</div>
						</div>
					</div>
				</div>

				{include file="templates/pages/checkout/elements/element-cart-table.html"}

				<div class="cart-other-options col-wrap clearfix">
					{if $bought_bestsellers}
						<div class="col-50 others-bought clearfix">
							<div class="spacer gap-right">
								<h3>{$msg.cart.others_bought}:</h3>
								<ul>
									{foreach from=$bought_bestsellers item="bestseller"}
										<li class="col-wrap">
											<div class="col-40 col-left">
												{if $bestseller.image}
													<a href="{$bestseller.url}"><img src="{$bestseller.thumb}" {if $bestseller.image_location == "Web"}width="{$CatalogThumbSize}"{/if} style="border:0px;" alt="{$bestseller.title|htmlspecialchars}" title="{$bestseller.title|htmlspecialchars}"/></a>
												{else}
													<a href="{$bestseller.url}">
														{assign var="imageId" value="image-no-image-small"}
														{if $designImages.$imageId}
															<img class="image-no-image-small {class file=$smarty.template editable=true}" src="{$designImages.$imageId.content}" alt="{$msg.images.imageNoImageSmall|htmlspecialchars}"/>
														{else}
															{$msg.images.imageNoImageSmall|htmlspecialchars}
														{/if}
													</a>
												{/if}
											</div>
											<div class="col-60 col-right">
												<a href="{$bestseller.url}"><h4>{$bestseller.title|htmlspecialchars}</h4></a>
												<div>Price :
												{if $bestseller.call_for_price == "Yes"}
													{$msg.product.call_for_price}
												{else}
													{if ($VisitorSeePrice == "YES") || ($auth_ok == "yes" || $user_cookie)}
														{if $bestseller.price2 > 0}
															<span class="strike">{$bestseller.price2|price}</span><br />
														{/if}
														<span class="catalogPrice">{$bestseller.price|price}</span>
													{else}
														{if $AllowCreateAccount != "No"}
															<a href="{$url_https}p=login">{$msg.account.login}</a> | 
															<a href="{$url_https}p=signup">{$msg.account.register}</a>
														{/if}
													{/if}
												{/if}
												</div>
												{assign var="imageId" value="image-click-to-view"}
												{if $designImages.$imageId}
													<a href="{$bestseller.url}"><img class="image-click-to-view {class file=$smarty.template editable=true}" src="{$designImages.$imageId.content}" alt="{$msg.images.imageClickToView|htmlspecialchars}"/></a>
												{/if}
												<p><a href="{$bestseller.url}">{$msg.product.click_to_view}</a></p>
											</div>
										</li>
									{/foreach}
								</ul>
							</div>
						</div>
					{else}
						<div class="col-50">&nbsp;</div>
					{/if}	
					
					<div class="cart-totals col-50 col-right clearfix">
						<div class="spacer gap-left clearfix">
							<ul>
								<li class="cart-amount cart-amount-subtotal">{$msg.cart.subtotal_amount}: {$order->cartSubtotalAmount|price}</li>
								
								{if $order->discountAmount > 0}
									<li class="cart-amount cart-amount-discount">
										{$msg.cart.discount_amount}:
										-{if $DisplayPricesWithTax=="YES"}{$order->discountAmountWithTax|price}{else}{$order->discountAmount|price}{/if}
										{if $order->discountType == "percent"}
											(-{$order->discountValue|smartround}%)
										{/if}
									</li>
								{/if}

								{if $DiscountsPromo == "YES" && $order->promoDiscountAmount > 0}
									<li class="cart-amount cart-amount-discount">
										{$msg.opc.invoice_promo_discount}: -{if $DisplayPricesWithTax=="YES"}{$order->promoDiscountAmountWithTax|price}{else}{$order->promoDiscountAmount|price}{/if}
										{if $order->promoDiscountType == "percent"}
											(-{$order->promoDiscountValue|smartround}%)
										{/if}
									</li>
								{else}
									{if $DiscountsPromo == "YES" && $order->promoType == 'Shipping'}
										<li>
											<p>{$msg.cart.discount_note}</p>
										</li>
									{/if}
								{/if}
								{if $ShippingAllowGetQuote == "YES" && $ShippingCalcEnabled != "NO"}
									<li>{$msg.cart.shipping_quote_amount}: <a href="{$url_https}p=shipping_quote">{$msg.shipping.get_shipping_quote_for_this_order}</a></li>
								{/if}

								{if $DiscountsPromo == "YES"}
									{if $promo_error}
										<li><div class="msg-error">{$msg.cart.promo_code_invalid}</div></li>
									{/if}
									<li>
										<div class="fieldset promo-code {class file=$smarty.template editable=true}">
											<div class="field">
												<label>{$msg.cart.enter_promo_code}</label>
												<input type="text" name="promo_code" class="formControlText" value="{if !$promo_error}{$promo_code|htmlspecialchars}{/if}" autocomplete="off"/>
												
												{button class="button-apply-promo" text=$msg.buttons.buttonApplyDiscount onclick="return true;" file=$smarty.template}
												
											</div>
										</div>
									</li>
								{/if}
							</ul>
							<br/>
							<div class="col-wrap clearfix">
								<div class="gap-top">
								{if $showCheckoutButton == 'true'}
									{$checkout_button}
									{if $paypal_ec_active}{$button_paypal_ec}{/if}
								{else}
									{$singlePaymentMethod}
								{/if}
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	{else}
		<div class="spacer msg-notice bold">
			{$msg.cart.cart_is_empty}
			<ul class="list">
				<li>{lang msg=$msg.common.what_is_next url=$url_rel}</li>
				<li>{lang msg=$msg.common.cookies_note url=$url_rel}</li>
			</ul>
		</div>
	{/if}
</div>