<div class="page-completed wrap {class file=$smarty.template editable=true}">
{if $AffiliateActive == "YES"}
<script language="javascript" type="text/javascript" src="{$AffiliateAreaURL}sale.php?profile=14&{$AffiliateVarOrderId}={$order_num}&{$AffiliateVarAmount}={$order_value}{if $promoCode != ''}&coupon_code={$promoCode}{/if}"></script>
{/if}
{if $SurveyInvitation == "YES"}
<!-- BEGIN: BizRate Survey Invitation HTML -->
<script language="JavaScript" src="https://eval.bizrate.com/js/pos_{$ShopzillaMerchantId}.js" type="text/javascript"></script>
<!-- END: BizRate Survey Invitation HTML -->
{/if}
{if $ShopzillaROITracker == "YES"}
<script language="javascript">
	/* ROI Tracking Data */
	var mid            = '{$ShopzillaMerchantId}';
	var cust_type      = '';
	var order_value    = '{$order_value}';
	var order_id       = '{$order_num}';
	var units_ordered  = '{$order_quantity}';
</script>
<script language="javascript" src="https://www.shopzilla.com/css/roi_tracker.js"></script>
{/if}

{if $settings.DisplayNortonShoppingGuarantee == 'YES' && $settings.NortonSealGuaranteeHash != ''}
<!-- BEGIN: NSG_GUARANTEE -->
<span id="_GUARANTEE_GuaranteeSpan"></span>
<script type="text/javascript" src="//nsg.symantec.com/Web/Seal/gjs.aspx?SN={$settings.NortonSealStoreNumber}"></script>
<script type="text/javascript">
	if(window._GUARANTEE && _GUARANTEE.Loaded)
	{ldelim}
		_GUARANTEE.Hash = "{$settings.NortonSealGuaranteeHash}";
		_GUARANTEE.Guarantee.order = "{$order_num}";
		_GUARANTEE.Guarantee.subtotal = "{$order_value}";
		_GUARANTEE.Guarantee.email = "{$user_email}";
		_GUARANTEE.WriteGuarantee("JavaScript", "_GUARANTEE_GuaranteeSpan");
	{rdelim}
</script> <!-- END: NSG_GUARANTEE -->
{/if}

<h1>{$msg.cart.order_sent}</h1>
<div class="spacer msg-notice no-space-top">
    <p>{$msg.cart.your_ordernum_is} : {$order_num}</p>
	{if $message_thankyou != ""}{$message_thankyou}{/if}
	<ul class="list">
		<li><a href="{$url_http}">{$msg.common.goto_home_page}</a></li>
	</ul>
</div>

{if $GoogleConversionAsync != 'YES' && $GoogleConversionActive == "YES"}
{include file="templates/pages/google/conversion_code.html"}
{/if}
{if $GoogleAdwordsConversionActive == "YES"}
{$GoogleAdwordsConversion}
{include file="templates/pages/google/adwords_conversion.html"}
{/if}
</div>
