<div class="page-order-form page-cart page-opc wrap {class file=$smarty.template editable=true}">
    <script type="text/javascript"><!--
    var opcData = {$opcData};
    var countriesStates = {$countries_states};
    var ShippingAllowSeparateAddress={$ShippingAllowSeparateAddress};
    --></script>

    {script path=$skin_javascript src="opc.js"}
    {script path=$skin_javascript src="opc/billing.js"}
    {script path=$skin_javascript src="opc/shipping.js"}
    {script path=$skin_javascript src="opc/payment.js"}

    <div id="opc-dialog-spinner" style="display:none;">
        <div class="spinner-top">Please Wait...</div>
        <div class="spinner-message">{$msg.opc.please_wait_loading}</div>
    </div>
  {**
    <div id="opc-dialog-login" style="display:none;">
        <form id="opc-form-login" name="opc-form-login" method="post" action="">
            <div class="spacer">
                <div class="login-top spacer">{$msg.opc.login_title}</div>
                <div class="col-wrap clearfix">
                    <div class="col-50">
                        <div class="spacer">
                            {$msg.opc.username}:
                            <input type="text" class="login-username"/>
                        </div>
                    </div>
                    <div class="col-50">
                        <div class="spacer">
                            {$msg.opc.password}:
                            <input type="password" class="login-password"/>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <input type="submit" class="button-login" value="{$msg.opc.login_button}"/> &nbsp;
                    <input type="button" class="button-close" value="{$msg.opc.cancel_button}"/>
                </div>
                <div class="spacer">{lang msg=$msg.account.reset_password s=$url_https}</div>
            </div>
        </form>
    </div>
**}
    {if $EndiciaUspsAddressValidation == "1"}
    <div id="opc-dialog-address-variants" style="display:none;">
        <div class="spacer">
            <div class="spacer address-variants-text">{$msg.opc.address_variants_message}</div>
            <ul class="address-variants-ul"></ul>
        </div>
    </div>
    {/if}

    <div class="clearfix">
        <h1>
            {$msg.opc.title}
        </h1>
        {include file="templates/pages/checkout/elements/element-non-order-cart-table.html"}
        <form id="orderform-cart" action="{$url_dynamic}p=order_form" method="post">
            <input type="hidden" name="ofid" value="{$ofid}"/>
            <input type="hidden" name="order_form_action" value="updateitems"/>
            {include file="templates/pages/checkout/elements/element-order-form-cart-table.html"}
        </form>
    </div>

    <div id="opc-invoice-fixed" style="display:none;">
        <div>
            Total amount: <span class="opc-order-total-amount"></span>
        </div>
    </div>

    <div class="clearfix gap-top">
        <div class="col-wrap clearfix">
            {** RIGHT SIDE START **}
            <div class="col-25">
                <div class="gap-left">
                    {include file="templates/pages/checkout/opc/opc-invoice.html"}
                </div>
            </div>
            {** RIGHT SIDE FINISH **}

            {** LEFT SIDE START **}
            <div class="col-75">
                <div class="gap-right gap-bottom">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                        <tr><td>{include file="templates/pages/checkout/opc/opc-billing.html"}</td></tr>
                        <tr><td>{include file="templates/pages/checkout/opc/opc-additional.html"}</td></tr>
                        <tr><td>{include file="templates/pages/checkout/opc/opc-shipping.html"}</td></tr>
                        <tr><td>{include file="templates/pages/checkout/opc/opc-payment.html"}</td></tr>
                        <tr><td>{include file="templates/pages/checkout/opc/opc-error.html"}</td></tr>
                    </table>
                </div>
            </div>
            {** LEFT SIDE FINISH **}
        </div>
    </div>
</div>

{$paymentMethodsJS}