<div class="page-payment-validation wrap {class file=$smarty.template editable=true}">

<h1 class="col-wrap clearfix">
	<div class="col-50">Payment Validation</div>
	<div class="col-50 text-right">{$msg.cart.order_id}: {$order_num}</div>
</h1>

<form id="frm-cardinal-commerce" name="frm-cardinal-commerce" target="iframe-cardinal-commerce" method="POST" action="{$CardinalACSUrl}"/>
	<input type=hidden name="PaReq" value="{$CardinalPayload}">
	<input type=hidden name="TermUrl" value="{$CardinalNotifyUrl}">
	<input type=hidden name="MD" value="{$CardinalMD}">
</form>

<div class="spacer">
	<div class="msg-notice gap-bottom">
		For your security, please fill out the form below to complete your order.
		Do not click the refresh or back button or this transaction may be interrupted or cancelled.
	</div>
	<iframe style="border:0px solid white;" frameborder="0" scrolling="auto" id="iframe-cardinal-commerce" name="iframe-cardinal-commerce" width="100%" height="400"></iframe>
</div>

<script type="text/javascript">{literal}
$(document).ready(function(){
	$("#frm-cardinal-commerce").submit();
});
{/literal}</script>

{** BILLING AND SHIPPING ADDRESS / CUSTOM FIELDS AND GIFT MESSAGE**}
<div class="col-wrap spacer clearfix" style="padding-top:0px;">
	<div class="col-50 div-billing-address" id="div_billing_address">
		<div class="fieldset gap-right {class file=$smarty.template editable=true}">
			<h3>{$msg.billing.billing_address}</h3>
			<div class="msg-notice spacer">
				{$billing_address.fname|htmlspecialchars} {$billing_address.lname|htmlspecialchars}<br/>
				{if $billing_address.company != ''}{$billing_address.company|htmlspecialchars}<br/>{/if}
				{$billing_address.address1|htmlspecialchars}, {$billing_address.address2|htmlspecialchars}<br/>
				{$billing_address.city|htmlspecialchars}, {$billing_address.province|htmlspecialchars}<br/>
				{$billing_address.country_name|htmlspecialchars}, {$billing_address.zip|htmlspecialchars}
				{if $cf_billing}
					{foreach from=$cf_billing item="cfield"}
					<br/>{$cfield.field_caption|htmlspecialchars} : {$cfield.value_translated|htmlspecialchars}
					{/foreach}
				{/if}
			</div>
		</div>
	</div>
	
	<div class="col-50 col-right div-shipping-address" id="div_shipping_address">
		<div class="fieldset gap-left {class file=$smarty.template editable=true}">
			<h3>{$msg.shipping.shipping_address}</h3>
			<div class="msg-notice spacer">
				{if $order->shippingRequired}
					{$shipping_address.name|htmlspecialchars}<br/>
					{if $shipping_address.company != ''}{$shipping_address.company|htmlspecialchars}<br/>{/if}
					{$shipping_address.address1|htmlspecialchars}, {$shipping_address.address2|htmlspecialchars}<br/>
					{$shipping_address.city|htmlspecialchars}, 
					{if $shipping_address.state_id>0}{$shipping_address.state|htmlspecialchars}{else}{$shipping_address.province|htmlspecialchars}{/if}<br/>
					{$shipping_address.country|htmlspecialchars}, {$shipping_address.zip|htmlspecialchars}
					{if $cf_shipping}
						{foreach from=$cf_shipping item="cfield"}
							<br/>{$cfield.field_caption|htmlspecialchars} : {$cfield.value_translated|htmlspecialchars}
						{/foreach}
					{/if}
				{else}
					{$msg.shipping.no_shipping_information_available}<br/>{$msg.shipping.order_is_not_shippable}
				{/if}
			</div>
		</div>
	</div>
</div>
<div class="buttons {if $start}invisible"{/if} id="div_edit_addresses_link">
	<a href="{$url_checkout}">{$msg.cart.edit_billing_and_shipping}</a>
</div>

{** CART CONTENT START **}
<div class="spacer">
	<table class="list invoice" cellpadding="0" cellspacing="0">
		<thead>
			<tr>
				<th>{$msg.product.product_description}</th>
				<th width="100" class="text-right">{$msg.product.product_price}</th>
				<th width="100" class="text-right">{$msg.product.product_quantity}</th>
				<th width="100" class="text-right">{$msg.cart.total}</th>
			</tr>
		</thead>
		<tbody>
			{foreach from=$order_items item="order_item"}
			<tr>
				<td>{$order_item.title|htmlspecialchars}</td>
				<td class="text-right">
					{$order_item.product_price|price}
					{if $order_item.is_taxable == "No"}
						<br /><span><i>({$msg.cart.not_taxable})</i></span>
					{else}
						<br />
						{$msg.cart.tax_rate}: 
						{if $order_item.tax_description != ""}
							{$order_item.tax_description}
						{else}
							{math equation="round(x,2)" x=$order_item.tax_rate format="%0.2f"}% 
						{/if}
					{/if}
				</td>
				<td class="text-right">{$order_item.quantity}</td>
				<td class="text-right">{$order_item.product_total|price}</td>
			</tr>
			{/foreach}
		</tbody>

		<tfoot>
{** subtotal **}
			<tr class="amount">
				<td colspan="3">{$msg.cart.subtotal_amount}</td>
				<td>{$order->subtotalAmount|price}</td>
			</tr>

{** discount **}
{if $order->discountAmount > 0}
			<tr class="amount">
				<td colspan="3">
					{$msg.cart.discount_amount}
					{**
					{if  $order->discountType == "percent"}
						<i>(-{$order->discountValue|smartround}%)</i>
					{/if}
					**}
				</td>
				<td>{if $order->discountAmount > 0}-{/if} {$order->discountAmount|price}</td>
			</tr>
{/if}

{** promo **}
{if $order->promoDiscountType != "none" && $order->promoDiscountAmount > 0}
			<tr class="amount">
				<td colspan="3">
					{$msg.cart.promo_code_discount} 
					{**
					{if $order->promoDiscountType == "percent"}
						<i>(-{$order->promoDiscountValue|smartround}%)</i>
					{/if}
					**}
				</td>
				<td>- {$order->promoDiscountAmount|price}</td>
			</tr>
{/if}

{** handling **}
{if $order->handlingSeparated && $order->handlingAmount > 0}
			<tr class="amount">
				<td colspan="3">
					{$msg.opc.invoice_handling}
				</td>
				<td>{$order->handlingAmount|price}</td>
			</tr>
{/if}

{** shipping **}
{if $ShippingCalcEnabled == "YES"}
			<tr class="amount">
				<td colspan="3">
					{$msg.opc.invoice_shipping}
					<i>({$order->shippingCMName|htmlspecialchars})</i>
				</td>
				<td>{$order->shippingAmount|price}</td>
			</tr>
{/if}

{** tax **}
			<tr class="amount">
				<td colspan="3">{$msg.cart.tax_amount}</td>
				<td>{$order->taxAmount|price}</td>
			</tr>


{** total **}
			<tr class="amount">
				<td colspan="3">{$msg.cart.total_amount}</td>
				<td id="trTotalAmount"><b>{$order->totalAmount-$gift_cert_amount|price}</b></td>
			</tr>
		</tfoot>
	</table>
</div>
<div class="buttons">
	<a href="{$url_dynamic}p=cart">{$msg.cart.edit_cart}</a>
</div>
</div>