<div class="page-shipping-quote wrap {class file=$smarty.template editable=true}">
{if $ShippingAllowGetQuote == "YES" && $ShippingCalcEnabled != "NO"}
<script language="javascript" type="text/javascript">
	function setShippingState(){ldelim}
		c = document.getElementById('shipping_address_country');
		s = document.getElementById('shipping_address_state');
		s.options.length = 0;

		{foreach from=$countries_states key="coid" item="country"}
			{if $country.states}
				if(c.value == '{$coid|substr:1:5|intval}'){ldelim}
					{assign var="i" value=0}
					{foreach from=$country.states key="stid" item="state"}
						s.options[{$i}] = new Option('{$state|addslashes}', '{$stid|substr:1:5|intval}');
						{assign var="i" value=$i+1}
					{/foreach}	
				{rdelim}
			{/if}
		{/foreach}
	
		d = document.getElementById('div_state');
		d.style.display = s.options.length > 0 ? "block" : "none";
	
		if(c.value == '{$sq_country}' && s.options.length > 0){ldelim}
			s.value = '{$sq_state}';
		{rdelim}
	
	{rdelim}
	$(document).ready(function(){ldelim}
		$('#shipping_address_country').val({$sq_country});
		setShippingState();
		$('#shipping_address_country').val({$sq_state});
		$('#shipping_address_country').val({$sq_country});
	{rdelim});
</script>
<h1>{$msg.shipping.shipping_quote}</h1>
<div class="spacer">
	<form name="frmShipping" action="{$url_https}p=shipping_quote" method="post">
		<input type="hidden" name="get_shipping_quote" value="1"/>
		<div class="fieldset clearfix {class file=$smarty.template editable=true}">
			<div class="field first clearfix">
				<label for="shipping_address_country">{$msg.shipping.quote_choose_country}</label>
				<div>
					<select id="shipping_address_country" name="sq_country" onchange="setShippingState()">
						{foreach from=$countries_states key="coid" item="country"}
							<option value="{$coid|substr:1:5|intval}" {if $sq_country == $coid}selected="selected"{/if}>{$country.country_name|htmlspecialchars}</option>
						{/foreach}
					</select>
				</div>
			</div>
			<div class="field clearfix" id="div_state">
				<label for="shipping_address_state">{$msg.shipping.quote_choose_state}</label>
				<div><select id="shipping_address_state" name="sq_state"></select></div>
			</div>
			<div class="field clearfix">
				<label for="shipping_address_zip">{$msg.shipping.quote_enter_zip}</label>
				<div><input type="text" id="shipping_address_zip" name="sq_zip" value="{$sq_zip|htmlspecialchars}" class="formControlText"/></div>
			</div>
			<div class="buttons">
				{button class="button-get-shipping-quotes" text=$msg.buttons.buttonGetShippingQuotes file=$smarty.template}
			</div>
		</div>
	</form>
	{if $show_shipping_quote}
		<div class="fieldset {class file=$smarty.template editable=true}">
			<div class="spacer">
				{*************************************
	 			 ** Free shipping                   **
	 			 *************************************} 
				{if $shipping_is_free}
					<div class="msg-notice clearfix">
						{if !$shipping_required}{$msg.shipping.digital_download}{else}{$msg.shipping.order_is_not_shippable}{/if}
					</div>
				{*************************************
	 			 ** Shipping is not free            **
				 *************************************}
				{elseif $shippingMethods.shipping_methods_count < 1}
					{*********************************************
					 ** There are no shipping methods available **
					 *********************************************}
					<div class="msg-notice clearfix">
						{$msg.shipping.no_shipping_methods_for_order}
					</div>
				{else}
					{*************************************
					 ** Other shipping methods          **
				 	 *************************************}
					{if !empty($shippingMethods.shipments)}
						{foreach from=$shippingMethods.shipments item="shipment"}
							{if !empty($shipment.shipping_methods) && $shipment.shipping_methods_count > 0}
								<strong>
									{$msg.shipping.shipment} # {$shipment.num}
									{if $shipment.shipping_type == 'local'}
										- {$msg.shipping.local_delivery}
									{/if}
								</strong>
								<div class="msg-notice clearfix">
									{$msg.shipping.available_shipping_methods}
									{if $order->shippingTaxable}
										<br><i>({$msg.cart.shipping_taxable} - {$order->shippingTaxDescription})</i>
									{/if}
								</div>
								<table cellpadding="0" cellspacing="0" class="list">
									<tbody>
										{foreach from=$shipment.shipping_methods item="sm"}
											<tr>
												<td>{$sm.method_name|htmlspecialchars}</td>
												<td class="text-right">{$sm.shipping_price}</td>
											</tr>
										{/foreach}
									</tbody>
								</table>
							{/if}
						{/foreach}
					{/if}
				{/if}
			
				{*************************************
				 ** Alternative shipping methods    **
				 *************************************}
				{if $shippingMethodsAlternative && $shippingMethodsAlternative.shipments && $shippingMethodsAlternative.shipping_methods_count > 1}
					<div class="space-top space-bottom">
						{$msg.shipping.alternative_shipping_methods}
					</div>
					{foreach from=$shippingMethodsAlternative.shipments item="shipment"}
						{if !empty($shipment.shipping_methods) && $shipment.shipping_methods_count > 0}
							<strong>
								{$msg.shipping.shipment} # {$shipment.num}
								{if $shipment.shipping_type == 'local'}
									- {$msg.shipping.local_delivery}
								{/if}
							</strong>
							<div class="msg-notice clearfix">{$msg.shipping.available_shipping_methods}</div>
							<table cellpadding="0" cellspacing="0" class="list">
								<tbody>
									{foreach from=$shipment.shipping_methods item="sm"}
										<tr>
											<td>{$sm.method_name|htmlspecialchars}</td>
											<td class="text-right">{$sm.shipping_price}</td>
										</tr>
									{/foreach}
								</tbody>
							</table>
						{/if}
					{/foreach}
				{/if}
				<div class="msg-notice clearfix">
					<a href="index.php?p=cart">{$msg.shipping.back_to_cart}</a>
				</div>
			</div>
		</div>
	{/if}
</div>
{else}
	<h1>{$msg.shipping.shipping_quote}</h1>
	<div class="spacer clearfix msg-notice">
		{$msg.shipping.shipping_quote_disabled}
	</div>
{/if}
</div>