<div class="form-group field-date {$field.wrapperClass}{if $field.errors} error{/if} col-sm-6 col-xs-12">
	{include file="templates/elements/form/field-element-caption.html"}
	{include file="templates/elements/form/field-element-lock.html"}
	<div class="col-xs-4" style="padding-left: 0;">
		<select name="{$field.name}[month]" class="form-control field-date-month{if $field.errors} error{/if}">
			<option value="1" {if $field.date.month == 1}selected{/if}>{trans key='common.month.1'}</option>
			<option value="2" {if $field.date.month == 2}selected{/if}>{trans key='common.month.2'}</option>
			<option value="3" {if $field.date.month == 3}selected{/if}>{trans key='common.month.3'}</option>
			<option value="4" {if $field.date.month == 4}selected{/if}>{trans key='common.month.4'}</option>
			<option value="5" {if $field.date.month == 5}selected{/if}>{trans key='common.month.5'}</option>
			<option value="6" {if $field.date.month == 6}selected{/if}>{trans key='common.month.6'}</option>
			<option value="7" {if $field.date.month == 7}selected{/if}>{trans key='common.month.7'}</option>
			<option value="8" {if $field.date.month == 8}selected{/if}>{trans key='common.month.8'}</option>
			<option value="9" {if $field.date.month == 9}selected{/if}>{trans key='common.month.9'}</option>
			<option value="10" {if $field.date.month == 10}selected{/if}>{trans key='common.month.10'}</option>
			<option value="11" {if $field.date.month == 11}selected{/if}>{trans key='common.month.11'}</option>
			<option value="12" {if $field.date.month == 12}selected{/if}>{trans key='common.month.12'}</option>
		</select>
	</div>
	<div class="col-xs-4">
		<select name="{$field.name}[day]" class="form-control field-date-day{if $field.errors} error{/if}">
			{foreach from=$field.daysSet item='day'}<option value="{$day}" {if $field.date.day == $day}selected{/if}>{if $day < 10}0{/if}{$day}</option>{/foreach}
		</select>
	</div>
	<div class="col-xs-4">
		<select name="{$field.name}[year]" class="form-control field-date-year{if $field.errors} error{/if}">
			{foreach from=$field.yearsSet item='year'}<option value="{$year}" {if $field.date.year == $year}selected{/if}>{$year}</option>{/foreach}
		</select>
	</div>
	{include file="templates/elements/form/field-element-note.html"}
	{include file="templates/elements/form/field-element-errors.html"}
</div>