<div class="form-group field-image{if $field.errors} has-error{/if}{if $field.required} required{/if}{if strpos($field.wrapperClass, 'col-') === false} col-sm-6 col-xs-12 {$field.wrapperClass}{else} {$field.wrapperClass}{/if}">
	{include file="templates/elements/form/field-element-caption.html"}
	{include file="templates/elements/form/field-element-lock.html"}
	<input class="{$field.class}{if $field.errors} error{/if}" type="file" id="{$field.id}" name="{$field.name}" {$field.attr} {if $field.locked}readonly="readonly"{/if}>
	{include file="templates/elements/form/field-element-note.html"}
	{include file="templates/elements/form/field-element-errors.html"}

	<div class="field-image-preview">
		<canvas></canvas>
		{if $field.value && $field.value != ''}
			<img src="{$field.value}?rnd={1|rand:65536}">
			{if $field.imageDeleteUrl && $field.imageDeleteUrl != ''}
				<div class="field-image-delete">
					<a data-role="button" class="btn" href="{$field.imageDeleteUrl}" data-action="field-image-delete">Delete this image</a>
				</div>
			{/if}
		{/if}
	</div>
</div>
