<div class="form-group field-password{if $field.errors || $field.required && empty($field.value)} has-error has-feedback required{/if}{if strpos($field.wrapperClass, 'col-') === false} col-sm-6 col-xs-12 {$field.wrapperClass}{else} {$field.wrapperClass}{/if}{if $field.meter} generate-password-row meter{/if}">
	{if $field.meter}
	<div class="row">
		<div class="col-xs-3" style="">{include file="templates/elements/form/field-element-caption.html"}</div>
		<div class="col-xs-2 text-right field-password-strength"></div>
		<div class="col-xs-3 progressbar-div text-right">
			<div class="progress admin-progress">
				<div class="progress-bar field-password-meter" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="line-height:18px;"></div>
			</div>
		</div>
		<div class="col-xs-4 generate-password-div text-right">
			<div class="btn-toolbar"><button class="btn" type="button" data-toggle="modal" data-target="#modal-generator">Generate Password</button></div>
		</div>
	</div>
	{else}
		{if $field.confirmationFlag} <div class="row generate-password-label"> {/if}
			{include file="templates/elements/form/field-element-caption.html"}
		{if $field.confirmationFlag} </div> {/if}
	{/if}
	{include file="templates/elements/form/field-element-lock.html"}
	<input placeholder="{trans key=$field.placeholder}" class="form-control {$field.class}{if $field.errors} error{/if}"{if $field.required} data-required="1"{/if}{if $field.validators} data-validators="{$field.validators}"{/if} type="password" id="{$field.id}" name="{$field.name}" value="{$field.value|gs}" {$field.attr} {if $field.locked}readonly="readonly"{/if} >
	{if $field.required}
	<span class="glyphicon glyphicon-warning-sign form-control-feedback warning-sign text-error{if !empty($field.value)} hidden{/if}" aria-hidden="true"></span>
	{else}
	<span class="glyphicon glyphicon-warning-sign form-control-feedback warning-sign text-error hidden" aria-hidden="true"></span>
	{/if}

	{include file="templates/elements/form/field-element-note.html"}
	{include file="templates/elements/form/field-element-errors.html"}
</div>