<div class="form-group field-file{if $field.errors || $field.required} has-error has-feedback required{/if}{if strpos($field.wrapperClass, 'col-') === false} col-sm-6 col-xs-12 {$field.wrapperClass}{else} {$field.wrapperClass}{/if}">
	{include file="templates/elements/form/field-element-caption.html"}
	{include file="templates/elements/form/field-element-lock.html"}
	<input class="{$field.class}{if $field.errors} error{/if}" type="file" id="{$field.id}" name="{$field.name}"{if $field.required} data-required="1"{/if} {$field.attr} {if $field.locked}readonly="readonly"{/if}>
	{if $field.required}
	<span class="glyphicon glyphicon-warning-sign form-control-feedback warning-sign text-error{if !empty($field.value)} hidden{/if}" aria-hidden="true"></span>
	{else}
	<span class="glyphicon glyphicon-warning-sign form-control-feedback warning-sign text-error hidden" aria-hidden="true"></span>
	{/if}
	<span class="sr-only">(error)</span>
	{include file="templates/elements/form/field-element-note.html"}
	{include file="templates/elements/form/field-element-errors.html"}
</div>
