<div class="field filed-wholesale-pricing {$field.wrapperClass}{if $field.errors} error{/if}">
	{include file="templates/elements/form/field-element-caption.html"}
	{include file="templates/elements/form/field-element-lock.html"}
	<div class="control">
		{if $field.levels > 0}
			<input class="short {$field.class}{if $field.errors} error{/if}" type="text" id="{$field.id}_1" name="{$field.name}_1" value="{$field.pricing.1|gn}" {$field.attr} {if $field.locked}readonly="readonly"{/if} >
		{/if}
		{if $field.levels > 1}
			/ <input class="short {$field.class}{if $field.errors} error{/if}" type="text" id="{$field.id}_2" name="{$field.name}_2" value="{$field.pricing.2|gn}" {$field.attr} {if $field.locked}readonly="readonly"{/if} >
		{/if}
		{if $field.levels > 2}
			/ <input class="short {$field.class}{if $field.errors} error{/if}" type="text" id="{$field.id}_3" name="{$field.name}_3" value="{$field.pricing.3|gn}" {$field.attr} {if $field.locked}readonly="readonly"{/if} >
		{/if}
		{include file="templates/elements/form/field-element-note.html"}
		{include file="templates/elements/form/field-element-errors.html"}
	</div>
</div>