<div class="form-group field-dimension {$field.wrapperClass}{if $field.errors} error{/if} col-sm-6 col-xs-12">
	{include file="templates/elements/form/field-element-caption.html"}
	{include file="templates/elements/form/field-element-lock.html"}
	<div class="row">
		<div class="col-xs-4 col-md-4 col-lg-2">
			<input class="form-control text-right{$field.class}{if $field.errors} error{/if}" {if $field.required}data-required="1"{/if} type="text" id="field-{$field.id}-width" name="{$field.name}_width" value="{$field.widthValue}" {$field.attr} {if $field.locked}readonly="readonly"{/if} >
		</div>
		<div class="col-xs-4 col-md-4 col-lg-2">
			<input class="form-control text-right{$field.class}{if $field.errors} error{/if}" {if $field.required}data-required="1"{/if} type="text" id="field-{$field.id}-length" name="{$field.name}_length" value="{$field.lengthValue}" {$field.attr} {if $field.locked}readonly="readonly"{/if} >
		</div>
		<div class="col-xs-4 col-md-4 col-lg-2">
			<input class="form-control text-right{$field.class}{if $field.errors} error{/if}" {if $field.required}data-required="1"{/if} type="text" id="field-{$field.id}-height" name="{$field.name}_height" value="{$field.heightValue}" {$field.attr} {if $field.locked}readonly="readonly"{/if} >
		</div>
	</div>
	{include file="templates/elements/form/field-element-note.html"}
	{include file="templates/elements/form/field-element-errors.html"}
</div>