<div class="form-group field-text{if $field.errors || $field.required && $field.value|@strlen < 1} has-error has-feedback required{/if}{if strpos($field.wrapperClass, 'col-') === false} col-sm-6 col-xs-12 {$field.wrapperClass}{else} {$field.wrapperClass}{/if}">
	{include file="templates/elements/form/field-element-caption.html"}
	{include file="templates/elements/form/field-element-lock.html"}
	<input class="form-control {$field.class}{if $field.errors} error{/if}"{if $field.required} data-required="1"{/if}{if $field.validators} data-validators="{$field.validators}"{/if} type="text" id="{$field.id}" name="{$field.name}" value="{$field.value|gs}" placeholder="{trans key=$field.placeholder}" {$field.attr} {if $field.locked || $field.readonly}readonly="readonly"{/if} >
	{if $field.required && $field.value|@strlen < 1}
	<span class="glyphicon glyphicon-warning-sign form-control-feedback warning-sign text-error{if !empty($field.value)} hidden{/if}" aria-hidden="true"></span>
	{else}
	<span class="glyphicon glyphicon-warning-sign form-control-feedback warning-sign text-error hidden" aria-hidden="true"></span>
	{/if}
	<span class="sr-only">(error)</span>
	{include file="templates/elements/form/field-element-note.html"}
	{include file="templates/elements/form/field-element-errors.html"}
</div>