<div class="form-group field-multiselect{if $field.errors} has-error{/if}{if $field.required} required{/if} col-sm-6 col-xs-12 {$field.wrapperClass}">
	{include file="templates/elements/form/field-element-caption.html"}
	{include file="templates/elements/form/field-element-lock.html"}
	<select class="form-control {$field.class} multiselect{if $field.locked} locked{/if}{if $field.errors} error{/if}" multiple="multiple" id="{$field.id}" name="{$field.name}" {$field.attr} {if $field.locked|| $field.readonly}disabled="disabled"{/if}>
	{foreach from=$field.options item=option}
		<option value="{$option->getValue()}"{if in_array($option->getValue(), $field.value)} selected="selected"{/if}>{trans key=$option->getLabel()}</option>
	{/foreach}
	</select>
	{include file="templates/elements/form/field-element-note.html"}
	{include file="templates/elements/form/field-element-errors.html"}
</div>