<div class="form-group field-checkbox{if $field.errors} has-error{/if}{if $field.required} required{/if}{if strpos($field.wrapperClass, 'col-') === false} col-sm-6 col-xs-12 {$field.wrapperClass}{else} {$field.wrapperClass}{/if}">
	<label for="{$field.id}" >
		<input class="{$field.class}{if $field.errors} error{/if}" type="checkbox" id="{$field.id}" name="{$field.name}" {if $field.value}value="{$field.value|gs}"{/if}{if $field.checked} checked="checked"{/if} {$field.attr} {if $field.locked}readonly="readonly"{/if}>
		{trans key=$field.title}
		{if $field.note} <span class="glyphicon glyphicon-info-sign tooltip-popover"></span>{/if}
	</label>
	{include file="templates/elements/form/field-element-note.html"}
	{include file="templates/elements/form/field-element-errors.html"}
</div>