<div class="field field-text clearfix {$field.wrapperClass}{if $field.errors} error{/if}">
	{include file="templates/elements/form/field-element-caption.html"}
	{include file="templates/elements/form/field-element-lock.html"}
	<div class="control">
		<input class="{$field.class}{if $field.errors} error{/if}" type="submit" id="{$field.id}" name="{$field.name}" value="{$field.value|gs}" {$field.attr} >
		{include file="templates/elements/form/field-element-note.html"}
		{include file="templates/elements/form/field-element-errors.html"}
	</div>
</div>