<div class="form-group field-date-delay col-sm-6 col-xs-12 {$field.wrapperClass}{if $field.errors} error{/if}{if $field.required} required{/if}">
	{include file="templates/elements/form/field-element-caption.html"}
	{include file="templates/elements/form/field-element-lock.html"}
	<div class="row">
		<div class="col-xs-6">
			<input type="text" name="{$field.name}[delay]" class="short" value="{$field.value.delay|htmlspecialchars}">
		</div>
		<div class="col-xs-6">
			<select name="{$field.name}[delay_unit]" class="short">
				{foreach from=$field.delayUnitOptions key="optionKey" item="optionText"}
				<option value="{$optionKey|htmlspecialchars}" {if $field.value.delay_unit == $optionKey}selected{/if}>{trans key=$optionText}</option>
				{/foreach}
			</select>
		</div>
	</div>
	{include file="templates/elements/form/field-element-note.html"}
	{include file="templates/elements/form/field-element-errors.html"}
</div>