<div class="form-group field-checkbox radio-list {$field.wrapperClass} col-xs-12{if !$field.grid} col-md-6{/if}">
	{if $field.title}<h2>{trans key=$field.title}{if $field.note} <span class="glyphicon glyphicon-info-sign tooltip-popover"></span>{/if}</h2>{/if}
	{foreach from=$field.options item=option}
	<div class="col-xs-12{if $field.grid} col-lg-6{/if}{if $field.readonly} disabled{/if}">
		<label for="radio_{$field.id}_{$option->getValue()}">
			<input id="radio_{$field.id}_{$option->getValue()}" type="{if $field.multiple}checkbox{else}radio{/if}" name="{$field.name}" value="{$option->getValue()}"{if in_array($option->getValue(), $field.values)} checked="checked"{/if}{if $field.readonly} disabled="disabled"{/if}>
			{trans key=$option->getLabel()}
		</label>
	</div>
	{/foreach}
</div>