<div class="form-group field-date-month-year {$field.wrapperClass}{if $field.errors} has-error{/if}{if $field.required} required{/if} col-xs-12 col-md-6">
	{include file="templates/elements/form/field-element-caption.html"}
	{include file="templates/elements/form/field-element-lock.html"}
	<div class="col-xs-6" style="padding-left: 0;">
		<select name="{$field.name}[month]" class="field-date-month tiny{if $field.errors} error{/if}" id="{$field.id}">
			<option value="01" {if $field.date.month == 1 || $field.date.month == '01'}selected{/if}>01 - {trans key='common.month.1'}</option>
			<option value="02" {if $field.date.month == 2 || $field.date.month == '02'}selected{/if}>02 - {trans key='common.month.2'}</option>
			<option value="03" {if $field.date.month == 3 || $field.date.month == '03'}selected{/if}>03 - {trans key='common.month.3'}</option>
			<option value="04" {if $field.date.month == 4 || $field.date.month == '04'}selected{/if}>04 - {trans key='common.month.4'}</option>
			<option value="05" {if $field.date.month == 5 || $field.date.month == '05'}selected{/if}>05 - {trans key='common.month.5'}</option>
			<option value="06" {if $field.date.month == 6 || $field.date.month == '06'}selected{/if}>06 - {trans key='common.month.6'}</option>
			<option value="07" {if $field.date.month == 7 || $field.date.month == '07'}selected{/if}>07 - {trans key='common.month.7'}</option>
			<option value="08" {if $field.date.month == 8 || $field.date.month == '08'}selected{/if}>08 - {trans key='common.month.8'}</option>
			<option value="09" {if $field.date.month == 9 || $field.date.month == '09'}selected{/if}>09 - {trans key='common.month.9'}</option>
			<option value="10" {if $field.date.month == 10 || $field.date.month == '10'}selected{/if}>10 - {trans key='common.month.10'}</option>
			<option value="11" {if $field.date.month == 11 || $field.date.month == '11'}selected{/if}>11 - {trans key='common.month.11'}</option>
			<option value="12" {if $field.date.month == 12 || $field.date.month == '12'}selected{/if}>12 - {trans key='common.month.12'}</option>
		</select>
	</div>
	<div class="col-xs-6" style="padding-left: 0;">
		<select name="{$field.name}[year]" class="field-date-year short{if $field.errors} error{/if}">
			{foreach from=$field.yearsSet item='year'}<option value="{$year}" {if $field.date.year == $year}selected{/if}>{$year}</option>{/foreach}
		</select>
	</div>
	{include file="templates/elements/form/field-element-note.html"}
	{include file="templates/elements/form/field-element-errors.html"}
</div>