<div class="form-group field-image-multiple{if $field.errors} has-error{/if}{if $field.required} required{/if} col-xs-12 {$field.wrapperClass}">
	{include file="templates/elements/form/field-element-caption.html"}
	{include file="templates/elements/form/field-element-lock.html"}
	<!--<input class="{$field.class}{if $field.errors} error{/if}" type="file" id="{$field.id}" name="{$field.name}[]" {$field.attr} {if $field.locked}readonly="readonly"{/if}>-->

	<div class="field-image-preview">
		{foreach from=$field.value item="productImage"}
			<div class="field-image-multiple-preview field-image-multiple-preview-{$productImage.image_id}">
				<a href="{$productImage.imageFileName}{if $productImage.location=="Local"}?rnd={1|rand:65536}{/if}" data-action="field-image-multiple-preview"><img src="{if $productImage.imageThumbFileName}{$productImage.imageThumbFileName}{else}{$productImage.imageFileName}{/if}{if $productImage.location=="Local"}?rnd={1|rand:65536}{/if}"></a>
				<div>
					<a href="{$field.imageUpdateUrl}{$productImage.image_id}" class="btn" data-role="button" data-action="field-image-multiple-edit"
					   data-image-id="{$productImage.image_id}"
					   data-image-primary="{if $productImage.primary}1{else}0{/if}"
					   data-image-url="{$productImage.imageFileName}"
					   data-image-file-size="{$productImage.imageFileSize}"
					   data-image-size="{$productImage.width}x{$productImage.height}"
					   data-image-alt-text="{$productImage.altText|htmlspecialchars}"
					   data-image-caption="{$productImage.caption|htmlspecialchars}"
					   data-image-location="{$productImage.location|htmlspecialchars}"
					   data-image-priority="{$productImage.priority}">Edit</a>
					<a href="{$field.imageDeleteUrl}{$productImage.image_id}" class="btn" data-role="button" data-action="field-image-multiple-delete">Delete</a>
				</div>
				{if $productImage.primary}
				<div class="text-center">
					{trans key='product.product_form.primary_image'}
				</div>
				{else}
				<div class="text-center">
					&nbsp;
				</div>
				{/if}
			</div>
		{/foreach}
		<div class="button-file-add add-button" data-field-name="{$field.name}">
			<span class="button-file-add-icon"></span> Upload Image
		</div>
		{if $field.allowExternalImage}
			<div class="button-file-external-add" data-counter="1" data-field-name="{$field.name}_external">
				<span class="button-file-external-add-icon"></span> Add Image URL
			</div>
		{/if}
	</div>

	{include file="templates/elements/form/field-element-note.html"}
	{include file="templates/elements/form/field-element-errors.html"}
</div>
