<div class="form-group field-textarea{if $field.errors || $field.required && empty($field.value)} has-error has-feedback required{/if} col-xs-12 {$field.wrapperClass}">
	{include file="templates/elements/form/field-element-caption.html"}
	{include file="templates/elements/form/field-element-lock.html"}
	<textarea class="form-control {$field.class}{if $field.errors} error{/if}{if $currentGroupHasWysiwyg} editor-area{/if}" id="{$field.id}" {if $field.required}data-required="1"{/if} name="{$field.name}" {if $field.locked}readonly="readonly"{/if}{$field.attr}>{$field.value}</textarea>
	{include file="templates/elements/form/field-element-note.html"}
	{include file="templates/elements/form/field-element-errors.html"}
</div>