<div class="form-group field-seo-preview{if $field.errors} has-error{/if}{if $field.required} required{/if} col-sm-6 col-xs-12 {$field.wrapperClass}">
	{include file="templates/elements/form/field-element-caption.html"}
	{include file="templates/elements/form/field-element-lock.html"}
	<div id="{$field.id}" class="seo-preview-wrapper" >
		<h3 class="seo-preview-title prev-field-{$field.seoOptions.meta_title}">{$field.seoOptions.title}</h3><br>
		<p class="{$field.seoOptions.isUrlHidden}">
			<cite class="prev-field-{$field.seoOptions.meta_url} is_url">{$GlobalHttpUrl}/{$field.seoOptions.url}</cite>
		</p>
		<p class="seo-preview-description prev-field-{$field.seoOptions.meta_description}">{$field.seoOptions.description}</p>
	</div>
	{include file="templates/elements/form/field-element-note.html"}
	{include file="templates/elements/form/field-element-errors.html"}
</div>
