<div class="form-group field-recurring-settings col-lg-6 col-xs-12 {if $field.trial}trial{/if} {$field.wrapperClass}{if $field.errors} error{/if}">
	{include file="templates/elements/form/field-element-caption.html"}
	{include file="templates/elements/form/field-element-lock.html"}
	<div class="row">
		<div class="col-xs-4">
			{if $field.trial}{trans key="product.recurring.trial_settings_how_much"}{else}{trans key="product.recurring.billing_settings_how_much"}{/if}<br>
			<input type="text" id="{$field.id}_amount" name="{$field.name}[amount]"  class="short" {if $field.trial}data-recurring-trial-required="1"{else}data-recurring-required="1"{/if} value="{if $field.value.amount > 0}{$field.value.amount|gn}{else}0.00{/if}" id="{$field.id}_amount">
			<input type="hidden" id="{$field.id}_period_frequency" name="{$field.name}[period_frequency]"  value="{$field.value.period_frequency}">
			<input type="hidden" id="{$field.id}_period_unit" name="{$field.name}[period_unit]"  value="{$field.value.period_unit}">
			<input type="hidden" id="{$field.id}_period_cycles" name="{$field.name}[period_cycles]" value="{$field.value.period_cycles}">
		</div>

		<div class="col-xs-8 {if $field.custom}hidden{/if}" id="{$field.id}-standard-fields">
			<div class="row">
				<div class="col-xs-6">
					{if $field.trial}{trans key="product.recurring.trial_settings_how_long"}{else}{trans key="product.recurring.billing_settings_how_often"}{/if}<br>
					<select class="short period-frequency-and-unit" data-field-id="{$field.id}">
						{foreach from=$field.periodFrequencyAndUnitOptions key="optionKey" item="optionText"}
							<option value="{$optionKey}" {if $field.value.period_frequency_and_unit == $optionKey}selected{/if}>{trans key=$optionText}</option>
						{/foreach}
					</select>
				</div>
				{if !$field.trial}
					<div class="col-xs-6">
						{trans key="product.recurring.billing_settings_how_long"}<br>
						<select class="short period-cycles" data-field-id="{$field.id}">
							{foreach from=$field.periodCyclesOptions key="optionKey" item="optionText"}
								<option value="{$optionKey}" {if $field.value.period_cycles == $optionKey}selected{/if}>{trans key=$optionText}</option>
							{/foreach}
						</select>
					</div>
				{/if}
			</div>
		</div>

		<div class="col-xs-8 {if !$field.custom}hidden{/if}" id="{$field.id}-custom-fields">
			<div class="row">
				<div class="col-xs-8">
					Interval between payments
					<div class="row">
						<div class="col-xs-6">
							<input type="text" class="tiny period-frequency" data-field-id="{$field.id}" value="{$field.value.period_frequency}">
						</div>
						<div class="col-xs-6">
							<select class="short period-unit" data-field-id="{$field.id}">
								{foreach from=$field.periodUnitOptions key="optionKey" item="optionText"}
									<option value="{$optionKey}" {if $field.value.period_unit == $optionKey}selected{/if}>{trans key=$optionText}</option>
								{/foreach}
							</select>
						</div>
					</div>
				</div>
				<div class="col-xs-4">
					Repeat times<br>
					<input type="text" class="tiny period-cycles" data-field-id="{$field.id}" value="{$field.value.period_cycles}">
				</div>
			</div>
		</div>

		<div class="col-xs-8 col-xs-push-4">
			<label for="{$field.id}_custom" style="padding-top:5px;">
				<input type="checkbox" id="{$field.id}_custom" value="1" name="{$field.name}[custom]" data-field-id="{$field.id}" class="custom-checkbox" {if $field.custom}checked{/if}>
				Custom settings
			</label>
		</div>

		{include file="templates/elements/form/field-element-note.html"}
		{include file="templates/elements/form/field-element-errors.html"}
	</div>
</div>