<div class="form-group field-select{if $field.errors || $field.required && $field.value|@strlen < 1} has-error has-feedback required{/if}{if strpos($field.wrapperClass, 'col-') === false} col-sm-6 col-xs-12 {$field.wrapperClass}{else} {$field.wrapperClass}{/if}">
	{include file="templates/elements/form/field-element-caption.html"}
	{include file="templates/elements/form/field-element-lock.html"}
	<select class="form-control {$field.class}{if $field.locked} locked{/if}{if $field.errors} error{/if}" {if $field.required}data-required="1"{/if} id="{$field.id}" name="{$field.name}" {$field.attr} {if $field.locked || $field.readonly}disabled="disabled"{/if}>
	{foreach from=$field.options item=option}
		<option value="{$option->getValue()|htmlspecialchars}"{if in_array($option->getValue(), $field.values)} selected="selected"{/if}>{trans key=$option->getLabel()}</option>
	{/foreach}
	</select>
	{include file="templates/elements/form/field-element-note.html"}
	{include file="templates/elements/form/field-element-errors.html"}
</div>
