<div class="form-group field-lbs-oz {$field.wrapperClass}{if $field.errors} error{/if} col-xs-12">
	{include file="templates/elements/form/field-element-caption.html"}
	{include file="templates/elements/form/field-element-lock.html"}
	<div class="col-xs-6" style="padding: 0;">
		<div class="input-group">
			<input class="form-control text-right {$field.class}{if $field.errors} error{/if}" {if $field.required}data-required="1"{/if} type="text" id="field-lbs-{$field.id}" name="{$field.name}_lbs" value="{$field.lbsValue}" {$field.attr} {if $field.locked}readonly="readonly"{/if} >
			<span class="input-group-addon">lbs</span>
		</div>
	</div>
	<div class="col-xs-6" style="padding-right: 0;">
		<div class="input-group">
			<input class="form-control text-right {$field.class}{if $field.errors} error{/if}" {if $field.required}data-required="1"{/if} type="text" id="field-max-{$field.id}" name="{$field.name}_oz" value="{$field.ozValue}" {$field.attr} {if $field.locked}readonly="readonly"{/if} >
			<span class="input-group-addon">oz</span>
		</div>
	</div>
	{include file="templates/elements/form/field-element-note.html"}
	{include file="templates/elements/form/field-element-errors.html"}
</div>