<div class="form-group field-datetime {$field.wrapperClass}{if $field.errors} has-error{/if} col-xs-12">
	{include file="templates/elements/form/field-element-caption.html"}
	{include file="templates/elements/form/field-element-lock.html"}
	<div class="col-xs-3 col-md-2" style="padding-left: 0;">
		<select name="{$field.name}[month]" class="field-datetime-month tiny{if $field.errors} error{/if}">
			<option value="1" {if $field.date.month == 1}selected{/if}>{trans key='common.month.1'}</option>
			<option value="2" {if $field.date.month == 2}selected{/if}>{trans key='common.month.2'}</option>
			<option value="3" {if $field.date.month == 3}selected{/if}>{trans key='common.month.3'}</option>
			<option value="4" {if $field.date.month == 4}selected{/if}>{trans key='common.month.4'}</option>
			<option value="5" {if $field.date.month == 5}selected{/if}>{trans key='common.month.5'}</option>
			<option value="6" {if $field.date.month == 6}selected{/if}>{trans key='common.month.6'}</option>
			<option value="7" {if $field.date.month == 7}selected{/if}>{trans key='common.month.7'}</option>
			<option value="8" {if $field.date.month == 8}selected{/if}>{trans key='common.month.8'}</option>
			<option value="9" {if $field.date.month == 9}selected{/if}>{trans key='common.month.9'}</option>
			<option value="10" {if $field.date.month == 10}selected{/if}>{trans key='common.month.10'}</option>
			<option value="11" {if $field.date.month == 11}selected{/if}>{trans key='common.month.11'}</option>
			<option value="12" {if $field.date.month == 12}selected{/if}>{trans key='common.month.12'}</option>
		</select>
	</div>
	<div class="col-xs-3 col-md-2" style="padding-left: 0;">
		<select name="{$field.name}[day]" class="field-datetime-day tiny{if $field.errors} error{/if}">
			{foreach from=$field.daysSet item='day'}<option value="{$day}" {if $field.date.day == $day}selected{/if}>{if $day < 10}0{/if}{$day}</option>{/foreach}
		</select>
	</div>
	<div class="col-xs-3 col-md-2" style="padding-left: 0;">
		<select name="{$field.name}[year]" class="field-datetime-year tiny{if $field.errors} error{/if}">
			{foreach from=$field.yearsSet item='year'}<option value="{$year}" {if $field.date.year == $year}selected{/if}>{$year}</option>{/foreach}
		</select>
	</div>
	<div class="col-xs-3 col-md-2" style="padding-left: 0;">
		<select name="{$field.name}[hour]" class="field-datetime-hour tiny{if $field.errors} error{/if}">
			{foreach from=$field.hoursSet item='hour'}
				<option value="{$hour}" {if $field.date.hour == $hour}selected{/if}>{if $hour >= 12}{if $hour > 12}{$hour-12}{else}12{/if} pm{else}{if $hour ==0}12{else}{$hour}{/if} am{/if}</option>
			{/foreach}
		</select>
	</div>
	<div class="col-xs-3 col-md-2" style="padding-left: 0;">
		<select name="{$field.name}[minute]"  class="field-datetime-minute tiny{if $field.errors} error{/if}">
			{foreach from=$field.minutesSet item='minute'}<option value="{$minute}" {if $field.date.minute == $minute}selected{/if}>{if $minute < 10}0{/if}{$minute}</option>{/foreach}
		</select>
	</div>

	{include file="templates/elements/form/field-element-note.html"}
	{include file="templates/elements/form/field-element-errors.html"}
</div>