<div class="form-group field-money{if $field.errors || $field.required && empty($field.value)} has-error has-feedback required{/if} col-sm-6 col-xs-12 {$field.wrapperClass}">
	{include file="templates/elements/form/field-element-caption.html"}
	{include file="templates/elements/form/field-element-lock.html"}
	<input class="form-control {$field.class}{if $field.errors} error{/if}"{if $field.required} data-required="1"{/if}{if $field.validators} data-validators="{$field.validators}"{/if} type="text" id="{$field.id}" name="{$field.name}" value="{if $field.value != $field.emptyValue}{if $field.value == 0}0.00{else}{if is_numeric($field.value)}{$field.value|gn}{else}{$field.value}{/if}{/if}{/if}" placeholder="{trans key=$field.placeholder}" {$field.attr} {if $field.locked}readonly="readonly"{/if} >
	{if $field.required}
	<span class="glyphicon glyphicon-warning-sign form-control-feedback warning-sign text-error{if !empty($field.value)} hidden{/if}" aria-hidden="true"></span>
	{else}
	<span class="glyphicon glyphicon-warning-sign form-control-feedback warning-sign text-error hidden" aria-hidden="true"></span>
	{/if}
	<span class="sr-only">(error)</span>
	{include file="templates/elements/form/field-element-note.html"}
	{include file="templates/elements/form/field-element-errors.html"}
</div>