<div class="form-group field-min-max-numeric {$field.wrapperClass}{if $field.errors} error{/if} col-sm-6 col-xs-12">
	{include file="templates/elements/form/field-element-caption.html"}
	{include file="templates/elements/form/field-element-lock.html"}
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<input class="form-control {$field.class}{if $field.errors} error{/if}" {if $field.required}data-required="1"{/if} type="text" placeholder="Minimum" id="field-min-{$field.id}" name="min_{$field.name}" value="{$field.minValue}" {$field.attr} {if $field.locked}readonly="readonly"{/if} >
			{if $field.required}
			<span class="glyphicon glyphicon-warning-sign form-control-feedback warning-sign text-error{if !empty($field.minValue)} hidden{/if}" aria-hidden="true"></span>
			{else}
			<span class="glyphicon glyphicon-warning-sign form-control-feedback warning-sign text-error hidden" aria-hidden="true"></span>
			{/if}
			<span class="sr-only">(error)</span>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<input class="form-control {$field.class}{if $field.errors} error{/if}" {if $field.required}data-required="1"{/if} type="text" placeholder="Maximum" id="field-max-{$field.id}" name="max_{$field.name}" value="{$field.maxValue}" {$field.attr} {if $field.locked}readonly="readonly"{/if} >
			{if $field.required}
			<span class="glyphicon glyphicon-warning-sign form-control-feedback warning-sign text-error{if !empty($field.maxValue)} hidden{/if}" aria-hidden="true"></span>
			{else}
			<span class="glyphicon glyphicon-warning-sign form-control-feedback warning-sign text-error hidden" aria-hidden="true"></span>
			{/if}
			<span class="sr-only">(error)</span>
		</div>
	</div>
	{include file="templates/elements/form/field-element-note.html"}
	{include file="templates/elements/form/field-element-errors.html"}
</div>