<div class="field field-image-preview {$field.wrapperClass}{if $field.errors} error{/if}">
	{include file="templates/elements/form/field-element-caption.html"}
	{include file="templates/elements/form/field-element-lock.html"}
	<div class="control">
		<span class="image-preview"><a href="{$field.value}" target="_blank"><img src="{$field.value}?{$smarty.now}" alt="{$field.caption}" title="{$field.caption}"></a></span>
		<div class="image-preview-info">
			{$field.value}
			{if $field.imageInfo}
				<br>{$field.imageInfo.width} by {$field.imageInfo.height} pixels, {$field.imageInfo.filesizekb}KB
			{/if}
		</div>
		{include file="templates/elements/form/field-element-note.html"}
		{include file="templates/elements/form/field-element-errors.html"}
	</div>
</div>