{** TODO: finish color preview **}
<div class="form-group field-color clearfix {$field.wrapperClass}{if $field.errors} error{/if} col-sm-6 col-xs-12">
	{include file="templates/elements/form/field-element-caption.html"}
	{include file="templates/elements/form/field-element-lock.html"}
	<input class="form-control {$field.class}{if $field.errors} error{/if}" {if $field.required}data-required="1"{/if} type="text" id="{$field.id}" name="{$field.name}" value="{$field.value|gs}" {$field.attr} >
	<!--span class="color-preview"><span class="color-preview-inner" style="background-color:{$field.value|gs}"></span></span-->
	{include file="templates/elements/form/field-element-note.html"}
	{include file="templates/elements/form/field-element-errors.html"}
</div>