<fieldset id="{$item.id}" {if !$item.collapsible} class="open"{/if}>
	{if $item.title != ''}<legend>{trans key=$item.title}</legend>{/if}
	{if $item.collapsible}<div class="btn-toolbar"><button class="btn" type="button" data-toggle="collapse" data-target="#{$item.id}-body">Edit <span class="caret"></span></button></div>{/if}

	<div id="{$item.id}-body" class="container-fluid{if $item.collapsible} collapse{/if}">
	{if $item.note != ''}<p class="col-xs-12">{trans key=$item.note}</p>{/if}
	{foreach from=$item.fields item=item}
		{if $item->getType() == 'group'}
			{include file='templates/elements/form/field-group.html' item=$item->toArray()}
		{else}
			{assign var='template' value=$item->getTemplate()}
			{include file=$template field=$item->toArray()}
		{/if}
	{/foreach}
	</div>
</fieldset>