<p>{trans key="paypal_bml.desc1"}</p>
<p>{trans key="paypal_bml.desc2"}</p>
<table>
	<tr>
		<td style="width:58px;vertical-align:top;">
			<img src="images/admin/cart2.png?v={$APP_VERSION}">
		</td>
		<td style="padding-left:15px;">
			{trans key="paypal_bml.desc3"}
			<br>
			{trans key="paypal_bml.desc4"}
		</td>
	</tr>
	<tr>
		<td style="width:58px;vertical-align:top;padding-top:10px;">
			<img src="images/admin/bullhorn2.png?v={$APP_VERSION}">
		</td>
		<td style="padding-left:15px;">
			{trans key="paypal_bml.desc5"}<sup>2</sup>
		</td>
	</tr>
</table>
<p class="clearfix">{trans key="paypal_bml.desc6"}</p>
<p style="font-size:11px;margin-top:40px;color:#333399;"><sup>1</sup> {trans key="paypal_bml.note1"}</p>
<p style="font-size:11px;color:#333399;"><sup>2</sup> {trans key="paypal_bml.note2"}</p>