<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="paypal_bml.title"}</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
			<a href="admin.php?p=apps">{trans key="common.back"}</a>
			{*<button type="button" id="export-btn" class="btn btn-primary">{trans key="common.export"}</button>*}
		</div>
	</div>
	<hr class="clearfix">
</div>
<div class="container-fluid">
	<div class="col-xs-12">
{if $paypalEnabled}
	<p>{trans key="paypal_bml.enabled_desc1"}<sup>2</sup></sup></p>
	<p>{trans key="paypal_bml.enabled_desc2"}</p>
	<ol>
		<li>{trans key="paypal_bml.steps.step1"}</li>
		<li>{trans key="paypal_bml.steps.step2"}</li>
		<li>{trans key="paypal_bml.steps.step3"}</li>
		<li>{trans key="paypal_bml.steps.step4"}</li>
		<li>{trans key="paypal_bml.steps.step5"}</li>
	</ol>
	<p>{trans key="paypal_bml.enabled_desc3"}</p>
	<p style="font-size:11px;margin-top:40px;color:#333399;"><sup>1</sup> {trans key="paypal_bml.enabled_desc4"}</p>
	<p style="font-size:11px;color:#333399;"><sup>2</sup> {trans key="paypal_bml.enabled_desc5"}</p>
{else}
	<a href="admin.php?p=payment_methods" class="btn btn-primary">{trans key="paypal_bml.enabled_desc6"}</a>
	<br><br>
{include file="templates/pages/paypal-bml/content.html"}
{/if}
	</div>
</div>

{include file="templates/pages/paypal-bml/modal-publisher-form.html"}

{if $show_popup == 'yes'}
<script type="text/javascript">
	{literal}
	$(document).ready(function () {
		$("#modal-publisher-form").modal('show');
	});
	{/literal}
</script>
{/if}