<div class="modal fade" id="modal-publisher-form" tabindex="-1" role="dialog" aria-labelledby="modal-publisher-form-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-publisher-form"  action="admin.php?p=paypal_bml&mode=publisher" method="post">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-publisher-form-label">{trans key="paypal_bml.accept_advertising"}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group col-xs-12">
						<label for="paypalec-username">{trans key="paypal_bml.your_paypal_email"}</label>
						<input id="paypalec-username" type="text" class="form-control" name="paypalEmail" value="{$paypalec_Email|gs}">
					</div>
					<div class="form-group field-checkbox col-xs-12">
						<label for="paypalec-agree">
							<input id="paypalec-agree" type="checkbox" class="form-control" name="paypalTerms" value="Yes">
							{trans key="paypal_bml.agree_terms"} <a href="https://financing.paypal.com/ppfinportal/content/operatingAgmt" target="_blank">{trans key="paypal_bml.see_terms"}</a>
						</label>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary" data-action="action-save-settings">{trans key="common.save"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

{literal}
<script type="text/javascript">
	$(document).ready(function() {
		$('form[name=form-publisher-form]').submit(function() {
			var theForm = $(this);
			var theModal = theForm.closest('.modal');

			var errors = [];
			var email = $.trim($('#paypalec-username').val());
			if (email == '') {
				errors.push({
					field: '#paypalec-username',
					message: 'Please enter your PayPal email address'
				});
			}
			if (!$('#paypalec-agree').is(':checked')) {
				errors.push({
					field: '#paypalec-agree',
					message: 'You must agree to the terms of the PayPal Advertising Program'
				});
			}

			if (errors.length > 0) {
				AdminForm.displayModalErrors(theModal, errors);
			} else {
				AdminForm.sendRequest(
						'admin.php?p=paypal_bml&mode=publisher-form',
						theForm.serialize(), null,
						function(data) {
							if (data.status == 1) {
								AdminForm.clearAlerts();
								AdminForm.displayAlert('Success!', 'success');

								theModal.modal('hide');
							} else {
								if (data.message !== undefined) {
									AdminForm.displayModalAlert(theModal, data.message, 'danger');
								} else if (data.errors !== undefined) {
									AdminForm.displayModalErrors(theModal, errors);
								}
							}
						}
				);
			}
			return false;
		});
	})
</script>
{/literal}