<form name="form-hf-notification-emails" action="admin.php?p=email_notification" role="form" method="post" data-auto-validate="1" autocomplete="off" >
    <input type="hidden" name="nonce" id="nonce" value="{$nonce}">
    <input type="hidden" name="mode" value="{$mode|gs}">
    {if $id}<input type="hidden" name="id" value="{$id|gs}">{/if}

    <div id="content-header">
        <div class="container-fluid">
            <h1 class="col-xs-6">{trans key="notification_emails.edit_header_and_footer"}</h1>
            <div class="col-xs-6 pull-right text-right btn-toolbar">
                <a href="admin.php?p=email_notifications">{trans key="common.cancel"}</a>
                <button class="btn btn-primary">{trans key="common.save"}</button>
            </div>
        </div>
        <hr class="clearfix">
    </div>

    {form form=$form}
</form>
