<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="notification_emails.notification_emails"}</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
			<a href="admin.php?p=email_notification&mode=header-footer-edit" class="btn btn-primary pull-right">{trans key="notification_emails.edit_email_header_and_footer"}</a>
		</div>
	</div>
	<hr class="clearfix">
</div>

{if $notificationEmails}
	<div class="container-fluid">
		<div class="col-xs-12">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{trans key="notification_emails.email_template"}</th>
                        <th></th>
					</tr>
				</thead>
				<tbody>
					{foreach from=$notificationEmails item="email"}
						<tr>
							<td><a href="admin.php?p=email_notification&mode=update&id={$email.template_id}">{$email.title|htmlspecialchars}</a></td>
                            <td class="list-actions text-right">
                                <a href="admin.php?p=email_notification&mode=update&id={$email.template_id}"><span class="icon icon-edit"></span>{trans key="common.edit"}</a>
                            </td>
						</tr>
					{/foreach}
				</tbody>
			</table>
			<div class="custom-pager">
				{if $paginator->prevPage}
					<a role="button" class="btn btn-default" href="admin.php?p=email_notifications&amp;page={$paginator->prevPage}"><span class="icon icon-pagination-left"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-left"></span></button>
				{/if}
	
				{if $paginator->nextPage}
					<a role="button" class="btn btn-default" href="admin.php?p=email_notifications&amp;page={$paginator->nextPage}"><span class="icon icon-pagination-right"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-right"></span></button>
				{/if}
				<span class="text">{$paginator->itemsFrom}-{$paginator->itemsTo} <span class="of">{trans key="common.of"}</span> {$paginator->itemsCount}</span>
			</div>
		</div>
	</div>
{else}
	<div class="container-fluid">
		<div class="col-xs-12">
			{trans key="notification_emails.no_records"}
		</div>
	</div>
{/if}