<div style="width:596px;height:96px;border:2px solid gray;">
	<div style="padding:5px;">
		<table style="width:100%;" cellpadding="0" cellspacint="0" border="0">
			<tr valign="top">
				{if $product_image_url}<td style="padding-right:5px;max-width:100px;text-align:center;"><a href="{$product_link}"><img src="{$product_image_url}" style="max-width:80px;max-height:80px;" {if $product_image_alt != ""}alt="{$product_image_alt}"{/if}/></a></td>{/if}
				{if $product_image_url}<td>{else}<td style="text-align: center;">{/if}
					<div style="font-size:14px;font-family:Arial;"><strong><a href="{$product_link}">{$product_title}</a> - {$product_price}</strong></div>
					{if $product_overview}<div style="padding:7px;font-size:13px;font-family:Arial;"><i>{$product_overview|truncate:200}</i></div>{/if}
					<div style="font-size:14px;font-family:Arial;"><a href="{$product_link}">{$product_link_text}</a></div>
				</td>
			</tr>
		</table>
	</div>
</div>