<div style="width: 296px; height: 246px; text-align:center; border: 2px solid #aaaaaa; background: white; display: table-cell; vertical-align: middle;">
	<div style="padding: 10px; display: inline-block; width: 80%;">
		<div style="margin-bottom:5px;font-size:16px;font-family:Arial;"><strong><a href="{$product_link}">{$product_title}</a></strong></div>
		{if $product_image_url}
			<div style="margin-bottom:10px;">
				<a href="{$product_link}">
					<img style="max-width:250px;max-height:100px;" src="{$product_image_url}" {if $product_image_alt != ""}alt="{$product_image_alt}"{/if} />
				</a>
			</div>
		{/if}
		{if $product_overview}<div style="margin-bottom:10px;"><i>{$product_overview|truncate:70}</i></div>{/if}
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
			<tr>
				<td style="width:50%"><div style="font-size:20px;font-family:Arial;text-align:center;">{$product_price}</div></td>
				<td style="width:50%;text-align:center;"><a href="{$product_link}" style="text-decoration:none;"><button style="padding:3px 5px;font-size:13px;font-family:Arial;">{$product_link_text}</button></a></td>
			</tr>
		</table>
	</div>
</div>