<div style="width: 158px; height: 298px; text-align: center; border:1px solid gray; display: table-cell; vertical-align: middle;">
	<div style="padding: 5px; padding: 10px; display: inline-block; width: 80%;">
		<div style="margin-bottom:5px;font-size:13px;font-family:arial;"><strong><a href="{$product_link}">{$product_title}</a></strong></div>
		<div style="font-size:16px;font-family:Arial;margin-bottom:5px;font-weight:bold;">{$product_price}</div>
		{if $product_image_url}
			<div style="margin-bottom:5px;font-size:12px;"><a href="{$product_link}"><img style="max-width:140px;max-height:180px;" src="{$product_image_url}" {if $product_image_alt != ""}alt="{$product_image_alt}"{/if}/></a></div>
		{else}
			{if $product_overview}<div style="margin-bottom:5px;font-size:12px;"><i>{$product_overview|truncate:100}</i></div>{/if}
		{/if}
		<div style="margin:10px"><a href="{$product_link}" style="text-decoration:none;"><button style="padding:3px 5px;">{$product_link_text}</button></a></div>
	</div>
</div>