@import url(https://fonts.googleapis.com/css?family=Voces);

html { font-size:14px; }
body { color: #444444; font-family: Voces, Helvetica, Arial, sans-serif; }
a, a:link, a:visited { color:#333333; text-decoration: none; }
a:hover { text-decoration: underline; }

h1 { font-size: 18px; font-weight: 300; text-transform: capitalize; border-bottom: 1px dotted #dfdfdf; padding: 0 0 15px 0;}

.page { margin-top:0; background: none; background-color: #F9F9F9; }
.container-wrap, .doc1024x768C { width: 1140px; }
.layout-zone-header {width: 1140px; margin: 0 auto; padding: 30px 0;}
.layout-zone-header { min-height:0; }
#header-logo {float: left; width: 50%;}
#header-toggle {float: left; width: 50%;}
#image-promo {padding: 20px 0;}
.catalog-navigation .left {font-size: 12px;}
.page .container-navigation { background-color: #fdfdfd; height: 46px; line-height: 46px; border: 1px solid #F1F1F1; }
.container-navigation-top .layout-zone-navigation ul {margin: 0 0 0 0; padding: 9px 0;}
.page .container-menu {  text-transform: uppercase; height: 52px; line-height: 52px; background-color: #f5f5f5; text-align: left; }
.layout-zone-menu ul.drop-down-menu { background-color: transparent; margin: 0; }
.layout-zone-menu .drop-down-menu-item { border: none; }
.layout-zone-menu a.drop-down-menu-item { background-color:transparent; color:#525252; }
.layout-zone-menu a.drop-down-menu-item-hover { background-color:#FFFFFF; }
.layout-zone-menu li ul a.drop-down-menu-item { background-color:#E7E5E5; color:#333333; }
.page .layout-zone-menu a { text-decoration: none; font-size: 13px; font-weight: 600;}

.page .image-home { margin-top:0px; background-color: transparent; background: none; }

.page .container-main #main { background: #FFFFFF; min-height: 600px; }
.page .container-main #left, .page .container-main #right { min-height: 330px; }
.page-home .container-main #left, .page-home .container-main #right { padding-top: 10px; }
.container-main .layout-zone-content { padding: 10px 0; }

/* - - - - display categories css - - - -  */
.catalog-product-title {padding: 5px 0;}
.catalog-view-display .catalog-product-sale-price {color: #6698b9; padding: 5px 0 0 0;}
.catalog-bread-crumbs {padding: 15px 0 10px 0;}
.catalog-bread-crumbs a {color: #6698b9;}
.catalog-navigation {border-bottom: 1px dotted #dfdfdf; border-top: 1px dotted #dfdfdf; }
.catalog-navigation .left {padding: 5px 0;}
.catalog-page-breaks span.active {background-color: #e9e9e9; font-size: 12px; color: #525252;}
.catalog-navigation .drop-down-menu {background-color: #f5f5f5;}
.drop-down-menu-item {background-color: #f5f5f5;}
.layout-zone-footer {background-color: #6698b9;}
.layout-zone-footer ul li a {color: white; }
.layout-zone-footer ul {font-weight: 300;}
.subfooter {color: #A7C4D8; }
.subfooter a {color: #A7C4D8; }
.panel { border: none; padding-top: 0; }
.panel .title { background: none; color: #444444; text-transform:uppercase; font-size: 1.3em; }
.drop-down-menu-item {padding: 0 15px;}
.drop-down-menu-item-hover {padding: 0 15px;}
.panel-catalog-categories a.drop-down-menu-item { background-color:#FFFFFF; color:#333333; text-transform: uppercase; }
.panel-catalog-categories a.drop-down-menu-item-hover { background-color:#FFFFFF; color:#333333; font-weight: bold; text-transform: uppercase; }
.page-home .container-main .layout-zone-content .wrap-panels { padding: 0; }
/* - - - - products css - - - -  */
.product-bread-crumbs a {color: #6698b9; padding: 0 0 0 0;}
.product-bread-crumbs {padding: 0 0 0 0;}
.page-product .product-price {padding-top: 40px; color: #6698b9; }
.price-label {color: #6698b9; }
.product_price.price-amount {color: #6698b9; }
.page-product .product-price .price-label {color: #6698b9;}
.page-product .product-price .price-amount {color: #6698b9;}
.page-product .product-id {padding: 5px 0; }
.product-view-style2 .product-purchase {border: none; background-color: #f5f5f5;}
input.button, input.submit, input.reset {height: 38px; line-height: 40px; background: #6698b9; color: white; font-size: 12px; text-transform: uppercase; padding: 0 15px; border: none; }
.page input.submit {background: #6698b9;}
.product-view-style2 .product-page-block .product-page-block-header {background-color: transparent; border-bottom: 1px dotted #dfdfdf; padding: 12px 0; }
.page-login .col-50.col-left .spacer {border-right: 1px dotted #dfdfdf;}
.fieldset h3 {background-color: transparent; border-bottom: 1px dotted #dfdfdf; padding: 12px 0; }
.page-opc #opc-login {font-size: 12px;}
table.fieldset tr.field td div input[type="text"] {border: 1px solid #d1d1d1; outline: none;}
.fieldset h3 {background-color: transparent; border-bottom: 1px dotted #dfdfdf; padding: 12px 0; }
.fieldset input[type="text"] {border: 1px solid #d1d1d1; outline: none;}




.panel-newsletters-subscribe .content { background:#3D3D3D; color: #FFFFFF; }
.panel-newsletters-subscribe .title { color: #FFFFFF; padding: 0; margin-bottom: 5px; }
.panel-newsletters-subscribe .unsubscribe { margin-top: 10px; }
.panel-newsletters-subscribe a, .panel-newsletters-subscribe a:link, .panel-newsletters-subscribe a:visited { color: #FFFFFF; }
.panel-newsletters-subscribe label { display:block; }
.panel-newsletters-subscribe .content input[type="text"] { width: 175px; }

.page-catalog .catalog-navigation a { color: #333333; }

.catalog-view-thumb1 .catalog-product-image { margin-right: 10px; }

.panel-catalog-categories .content .treeview a { color: #333333; }
.panel-catalog-categories .content .treeview a.selected { background: none; font-weight: bold; }
.panel-catalog-categories .content .treeview .hitarea { background: none; }
.panel-catalog-categories .content .treeview li { background: none; border-bottom: 1px dotted #CCCCCC; padding: 4px 0; text-transform: uppercase; }
.panel-catalog-categories .content .treeview li:last-child { border-bottom: none; }

.panel-catalog-categories a.drop-down-menu-item-hover{ background-color:#FFFFFF; }
.panel-catalog-categories li { z-index: 7; }
.panel-catalog-categories li ul a.drop-down-menu-item { background-color:#333333; color:#FFFFFF; }
.panel-catalog-categories li ul a.drop-down-menu-item-hover{ background-color:#E7E5E5; }
.panel-catalog-categories ul.drop-down-menu-vertical li { display: block; }

/** Changes for responsive **/
#catalog-navigation-menu-view { display: none; }
#catalog-navigation-menu-pagesize { display: none; }

.catalog-view-display .catalog-product {
	float: left;
	display: block;
	width: 33.33333333%;
	text-align:center;
	/*min-height: 265px;*/
	padding: 0;
}
.catalog-view-display .catalog-product:nth-child(3n+1) {
	clear:both;
}

.catalog-view-display .catalog-product-title {
	font-size: 14px;
	font-weight: normal;
}
.catalog-view-display .catalog-product-sale-price {
	font-size: 12px;
}

.icon-bar {
	display: block;
	width: 23px;
	height: 2px;
	background-color: #6698b9;
}
.icon-bar + .icon-bar {
	margin-top: 4px;
}

.mobile-navigation {
	display: none;
	position:relative;
	float: right;
	top:-50px;
}

.mobile-nav-toggle {
	padding: 5px;
}

.mobile-navigation-panel {
	display: none;
	margin: 0 0 20px 0;
}

.mobile-navigation-panel ul {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	background-color: #F5F5F5;
}
.mobile-navigation-panel ul > li {
	position: relative;
	display: block;
}
.mobile-navigation-panel ul > li > a, .mobile-navigation-panel ul > li > span {
	position: relative;
	display: block;
	padding: 10px 15px;
}
.mobile-navigation-panel ul li.divider {
	border-bottom: solid 1px #afafaf;
}

.mobile-nav-subcategories-toggle {
	float: right;
	padding: 5px;
	margin-top: -5px;
	display: none;
}
.mobile-nav-subcategories-panel {
	display: none;
}
.mobile-nav-subcategories-panel ul {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	background-color: #efefef;
}
.mobile-nav-subcategories-panel ul > li {
	position: relative;
	display: block;
}
.mobile-nav-subcategories-panel ul > li > a,
.mobile-nav-subcategories-panel ul > li > span {
	position: relative;
	display: block;
	padding: 10px 15px;
}

.page-product .product-secondary-images img {
	max-width: 75px;
	max-height: 75px;
	cursor: pointer;
}
.product-view-style2 .product-page-center .product-secondary-images ul li {
	margin: 5px 0 5px 10px;
}

.product-view-style2 .product-page-center .product-secondary-images ul li:first-child {
	margin-left: 0;
}
.search-header {height: 38px; width: 240px; border: 1px solid #DFDFDF; float: right;}
.search-header form input#search-field-inner {border: none; box-shadow: none; height: 38px; outline: none; float: left; width: 180px; padding-left: 10px; font-size: 12px; font-style: italic;}


@media screen and (max-width: 991px) {
    .mobile-navigation-panel ul > li {
        position: relative;
        display: block;
        border-bottom: 1px solid #e8e8e8;
        font-size: 14px; font-weight: 300;
    }    
    .MobileDivider {padding: 10px 15px; background-color: #e8e8e8; font-size: 11px; letter-spacing: 1px; font-weight: 400; color: #8e8e8e; text-transform: uppercase;}
    .MobileDivider h4 { font-size: 11px; letter-spacing: 1px; font-weight: 400; color: #8e8e8e; padding: 0 0 0 0; letter-spacing: 1px;}
    .mobile-nav-toggle {padding: 0 0 0 0; border: none; background-color: transparent; outline: none;}
    body.page {padding: 0;}
    .search-header {display: none;}
    .page .container-menu {display: none;}
    img.image-slogan {width: 100%;}
    .container-header {max-height: 60px; min-width: 60px; width: auto; border: 1px solid #e2e2e2; position: relative;}
    .layout-zone-header {max-height: 70px; border: none;  padding: 0 0 0 0; min-height: 60px; width: auto;}
    #header-logo {width: 50%; height: auto; min-height: 60px; float: left; }
    #header-toggle {width: 50%; height: auto; min-height: 60px; float: right;}
    .mobile-navigation {height: auto; cursor: pointer; position: absolute; margin: auto; top: 0;right: 20px; bottom: 0; height: 12px;}
    .logo-main img {width: auto; cursor: pointer; position: absolute; margin: auto; top: 0;left: 0; bottom: 0; max-height: 30px; display: block; max-width: 50%; margin-left: 20px;}
    .mobile-navigation-panel  {position: absolute; width: 100%; margin: 0; z-index: 999;}
    .mobile-nav-subcategories-toggle {background-color: transparent; padding: 0 0 0 0; border: none; margin: 0 0 0 0; outline: none; cursor: pointer;}
    .container-main #main {padding: 10px 20px;}    
	.mobile-nav-subcategories-toggle {
		display: block;
	}

	.mobile-nav-subcategories-toggle > .icon-bar + .icon-bar {
		width: 80%;
	}

	.page .layout-zone-header {
		min-height: 0;
	}
	#header > .container-menu {
		display: none;
	}
	.page .image-logo {
		display: block;
		max-width: 100%;
		height: auto;
	}
	.mobile-navigation {
		display: block;
	}
	#site-container > .container-navigation {
		display: none;
	}
	.page {
		padding: 0 15px;
	}
	.page .image-home {
		margin: 0;
		display: block;
		max-width: 100%;
		height: auto;
	}
	.page .container-wrap, .doc800x600C, .doc800x600L, .doc1024x768L, .doc1280x1024C, .doc1280x1024L {
		width: 100% !important;
	}
	.container-main .layout-zone-left, .container-main .layout-zone-right {
		display: none;
	}

	#catalog-navigation-menu-pagesize, #catalog-navigation-menu-view {
		display: none;
	}

	.page-signup .fieldset .field label {
		width: 100% !important;
	}
	.fieldset .field label {
		padding-left: 0;
	}
	.page-signup .fieldset .field div {
		margin-left: 0;
	}
	.fieldset input[type="text"], .fieldset input[type="password"], .fieldset select {
		width: 100%;
	}

	.page-login .col-50, .page-product .product-page-center .col-50 {
		width: 100%;
	}

	.page-login .col-50.col-left .spacer {
		border: none;
	}

	.page-product .product-print {
		display: none;
	}

	.page-cart #form-cart div.gap-right div.col-wrap div.col-50,
	.page-cart #form-cart div.cart-other-options div.col-50 {
		width: 100%;
	}

	.page-cart #form-cart div.cart-other-options div.col-50 > .spacer {
		margin: 0;
	}

	.page-cart #form-cart div.gap-right div.col-wrap div.col-50:first-child,
	.page-cart #form-cart div.cart-other-options div.col-50:first-child {
		display: none;
	}

	#form-cart > .gap-right {
		display: none;
	}

	#form-cart > .gap-right > .col-wrap > .col-right > .col-wrap > div {
		margin-top: 30px;
	}
	#form-cart > .gap-right > .col-wrap > .col-right > .col-wrap > div:first-child {
		margin-top: 0;
	}
	#form-cart > .gap-right > .col-wrap > .col-right > .col-wrap > div > span {
		display: none;
	}
	#form-cart .cart-totals > div > div > div > div {
		margin-top: 15px;
		width: 100%;
		text-align: right;
	}
	#form-cart .cart-totals > div > div > div > div:first-child {
		margin-top: 0;
	}
	.page-cart .cart-paypal-or{
		display: none;
	}

	#form-cart table td {
		overflow: hidden;
	}

	#opc-billing-form .col-wrap .col-50, #opc-shipping .col-wrap .col-50 {
		width: 100%;
	}

	.page-opc > div > div > div.col-75, .page-opc > div > div > div.col-25 {
		float: none;
		width: 100%;
	}

	.page-opc > div > div > div.col-75 > .gap-right {
		margin-right: 0;
	}

	.page-opc > div > div > div.col-25 > .gap-left {
		margin-left: 0;
	}

	#opc-billing-form table.fieldset tr.field td div input[type="text"],
	#opc-billing-form table.fieldset tr.field td div input[type="password"],
	#opc-billing-form table.fieldset tr.field td div select {
		width: 100% !important;
	}

	#opc-payment-inner .col-wrap .col-50,
	#opc-payment-inner .col-wrap .col-30,
	#opc-payment-inner .col-wrap .col-70 {
		width: 100%;
	}

	.page-opc .payment-methods-form-wrapper {
		overflow: hidden;
		float: none;
		width: 100%;
		max-width: 100%;
		clear: both;
	}

	#opc-button-complete {
		width: 100%;
		clear: both;
		margin-top: 10px;
	}

	#opc-invoice-totals{border-bottom:2px solid #888888;}

	#-opc-dialog-login{position:fixed;width:100%;height:100%;top:30px;left:0px;margin:10px;}
	.page-cart .cart-image{width:100px;}
	.page-cart .cart-description{margin-left:115px;}
}

@media screen and (max-width: 767px) {
    .catalog-navigation .left {font-size: 11px;}
    #image-promo {padding: 20px 0 0 0;}
     img.image-slogan {display: none;}
	.catalog-view-display .catalog-product {
		float: left;
		width: 100%;
		max-width: 100%;
	}

	.page-cart .cart-image{width:50px;}
	.page-cart .cart-description{margin-left:65px;}
}
.page .image-home {margin-top: 0px;}