<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="currencies.currencies"}</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
			<a href="#" data-target="#modal-add-currency-default" data-toggle="modal" class="btn btn-primary pull-right">{trans key="currencies.add_currency"}</a>
			<div class="btn-group pull-right">
				<a class="btn" href="#" data-target="#modal-add-currency-custom" data-toggle="modal">{trans key="currencies.add_custom_currency"}</a>
			</div>
		</div>
	</div>
	<hr class="clearfix">
</div>

{if $currencies}
	<div class="container-fluid">
		<div class="col-xs-12 col-md-6">
			<div class="btn-group">
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						{trans key="common.bulk_actions"}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#" data-toggle="modal" data-target="#modal-currencies-delete">{trans key="common.delete"}</a></li>
						<li><a href="#" data-toggle="modal" data-target="#modal-update-exchange-rates">{trans key="currencies.update_exchange_rates"}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	&nbsp;
	<div class="container-fluid">
		<div class="col-xs-12 col-md-12">
			<table class="table table-striped">
				<thead>
					<tr>
						<th style="width:50px;"><input type="checkbox" id="selectAll"></th>
						<th>{trans key="currencies.code"}</th>
						<th>{trans key="currencies.title"}</th>
						<th>{trans key="currencies.rate"}</th>
						<th>{trans key="currencies.default"}</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{foreach from=$currencies item="currency"}
						<tr>
							<td><input type="checkbox" class="checkbox-currency" name="row[{$currency.currency_id}]" value="{$currency.currency_id}"></td>
							<td><a href="#" class="edit-currency" data-id="{$currency.currency_id}">{$currency.code|htmlspecialchars}</a></td>
							<td><a href="#" class="edit-currency" data-id="{$currency.currency_id}">{$currency.title|htmlspecialchars}</a></td>
							<td><span id="span-id-exchange-rate-{$currency.currency_id}">{$currency.exchange_rate|number_format:$currency.decimal_places:".":","}</span></td>
							<td>
							<input id="id-default-currency-{$currency.currency_id}"  class="default-currency-radio-button"
								   type="radio" name="default_currency" value="{$currency.currency_id}" {if $currency.is_default=="Yes"}checked="checked"{/if}>
							</td>
							<td class="list-actions text-right">
								<a href="#" class="edit-currency" data-id="{$currency.currency_id}"><span class="icon icon-edit"></span>{trans key="common.edit"}</a>
								<a href="#" class="remove-currency" data-id="{$currency.currency_id}" data-nonce="{$delete_nonce}"><span class="icon icon-delete"></span>{trans key="common.delete"}</a>
							</td>
						</tr>
					{/foreach}
				</tbody>
			</table>
			<div class="custom-pager">
				{if $paginator->prevPage}
					<a role="button" class="btn btn-default" href="admin.php?p=currencies&amp;page={$paginator->prevPage}"><span class="icon icon-pagination-left"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-left"></span></button>
				{/if}

				{if $paginator->nextPage}
					<a role="button" class="btn btn-default" href="admin.php?p=currencies&amp;page={$paginator->nextPage}"><span class="icon icon-pagination-right"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-right"></span></button>
				{/if}

				<span class="text">{$paginator->itemsFrom}-{$paginator->itemsTo} <span class="of">of</span>  {$paginator->itemsCount}</span>
			</div>
		</div>
	</div>
{else}
	<div class="container-fluid">
		<div class="col-xs-12">
			{trans key="currencies.no_currencies"}
		</div>
	</div>
{/if}

{include file="templates/pages/currency/modal-delete.html"}
{include file="templates/pages/currency/modal-add-default.html"}
{include file="templates/pages/currency/modal-add-custom.html"}
{include file="templates/pages/currency/modal-update-exchange-rates.html"}

<div id="currency-edit-wrapper"></div>

<script type="text/javascript" src="content/admin/scripts/currencies.js?v={$APP_VERSION}"></script>
