<div class="modal fade" id="modal-update-exchange-rates" tabindex="-1" role="dialog" aria-labelledby="modal-update-exchange-rates-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-update-exchange-rates">
			<input type="hidden" name="nonce" value="{$delete_nonce}">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-update-exchange-rates-label">{trans key="currencies.update_exchange_rates"}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group col-xs-12">
						<label><input type="radio" name="form-update-exchange-rates-mode" value="selected" checked> {trans key="currencies.update_selected"}</label>
						<label><input type="radio" name="form-update-exchange-rates-mode" value="search"> {trans key="currencies.update_all" itemsCount=$itemsCount}</label>
					</div>
					{trans key="currencies.about_exchange_rates"}
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary">{trans key="common.update"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>