<div class="modal fade" id="modal-add-currency-custom" tabindex="-1" role="dialog" aria-labelledby="modal-add-currency-custom-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-add-currency-custom" action="admin.php?p=currency" method="post">
			<input type="hidden" name="nonce" id="nonce" value="{$addNonce}">
			<input type="hidden" name="mode" value="add">
			<input type="hidden" name="currency_type" value="custom">

			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-add-currency-custom-label">{trans key="currencies.add_custom_currency"}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						{form form=$currencyCustomForm}
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary">{trans key="common.save"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>