<div class="modal fade" id="modal-currencies-delete" tabindex="-1" role="dialog" aria-labelledby="modal-currencies-delete-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-currencies-delete">
			<input type="hidden" name="nonce" value="{$delete_nonce}">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-currencies-delete-label">{trans key="currencies.delete_currencies"}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group col-xs-12">
						<label><input type="radio" name="form-currencies-delete-mode" value="selected" checked> {trans key="currencies.delete_selected"}</label>
						<label><input type="radio" name="form-currencies-delete-mode" value="search"> {trans key="currencies.delete_all" itemsCount=$itemsCount}</label>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary">{trans key="common.delete"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>