{if $productsFeaturesValues}
<div class="panel-catalog-products-filters panel clearfix">
	<h4 class="title">{$msg.headers.headerProductFeatures}</h4>
	<div class="content">
		<form method="GET" action="{$current_category_url}">
			{foreach from=$productsFeaturesValues item="productsFeatureValues" key="productsFeatureKey"}
				{if $productsFeatureValues}
					<div class="filter-title">
						<a class="filter-options-toggle-link" href="#" data-target="#panel-catalog-products-filters-panel-{$productsFeatureValues.feature_id}">{$productsFeatureValues.feature_name|htmlspecialchars}</a>
					</div>
					<div class="filter-options" id="panel-catalog-products-filters-panel-{$productsFeatureValues.feature_id}">
						<ul>
							{foreach from=$productsFeatureValues.options item="productsFeatureValue" key="productsValueKey"}
								<li>
									<label class="form-checkbox">
										<input class="filter-input" {if $productsFeatureValue.check}checked="checked"{/if} type="checkbox" name="filters[{$productsFeatureValue.product_feature_id}]" value="{$productsFeatureValue.product_feature_option_id}" data-value="{$productsFeatureValue.product_feature_option_value}">
										<span>{$productsFeatureValue.product_feature_option_value|htmlspecialchars}</span>
									</label>
								</li>
							{/foreach}
						</ul>
					</div>
				{/if}
			{/foreach}
			<div class="filter-buttons">
				<button class="button-apply-products-filters" type="submit">Apply Filter</button>
				&nbsp;<a href="#" class="link-reset-products-filters">Reset</a>
			</div>
		</form>
	</div>
</div>
{/if}