<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="products_features.products_features"}</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
			<a class="btn" href="admin.php?p=features_groups">{trans key="products_features.features_groups"}</a>
			<a href="admin.php?p=products_feature&mode=add" class="btn btn-primary pull-right">Add {trans key="products_features.add_feature"}</a>
		</div>
	</div>
	<hr class="clearfix">
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<form role="form" name="form-products-features-search" id="form-products-features-search" method="get">
				<input type="hidden" name="p" value="products_features">
				{form form=$searchForm}
				<div class="col-xs-12">
					<button type="submit" class="btn btn-default">{trans key="common.search"}</button>
				</div>
			</form>
		</div>
	</div>
</div>
<hr />

<div class="container-fluid">
	<div class="col-xs-12 col-md-12">
		{if $productsFeatures}
			<div class="btn-group">
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						{trans key="common.bulk_actions"}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#" data-toggle="modal" data-target="#modal-products-features-delete">{trans key="common.delete"}</a></li>
					</ul>
				</div>
			</div>
		{/if}
	</div>
</div>

{if $productsFeatures}
<div class="container-fluid">
	<div class="col-xs-12 col-md-12">
		<table class="table table-striped table-list table-list-products-features" data-search-form="#form-products-features-search" data-order-by-field="orderBy" data-order-dir-field="orderDir">
			<thead>
				<tr>
					<th class="column-checkbox"><input type="checkbox" id="selectAll"></th>
					<th class="text-left sortable" data-sort-field="feature_name">{trans key="products_features.features_table.feature_name"}</th>
					<th class="col-sm-3 text-left sortable" data-sort-field="feature_id">{trans key="products_features.features_table.feature_id"}</th>
					<th class="col-sm-1 text-left sortable" data-sort-field="feature_active">{trans key="products_features.features_table.active"}</th>
					<th class="col-sm-2"></th>
				</tr>
			</thead>
			<tbody>
			{foreach from=$productsFeatures item="product_feature"}
				<tr>
					<td><input type="checkbox" class="checkbox-product-feature" name="row[{$product_feature.product_feature_id}]" value="{$product_feature.product_feature_id}"></td>
					<td><a href="admin.php?p=products_feature&mode=update&id={$product_feature.product_feature_id}">{$product_feature.feature_name|htmlspecialchars}</a></td>
					<td><a href="admin.php?p=products_feature&mode=update&id={$product_feature.product_feature_id}">{$product_feature.feature_id|htmlspecialchars}</a></td>
					<td><a href="admin.php?p=products_feature&mode=update&id={$product_feature.product_feature_id}">{$product_feature.feature_status}</a></td>
					<td class="list-actions text-right">
						<a href="admin.php?p=products_feature&mode=update&id={$product_feature.product_feature_id}"><span class="icon icon-edit"></span>{trans key="common.edit"}</a>
						<a href="#" onclick="return ProductsFeatures.removeProductFeature({$product_feature.product_feature_id}, '{$delete_nonce}');"><span class="icon icon-delete"></span>{trans key="common.delete"}</a>
					</td>
				</tr>
			{/foreach}
			</tbody>
		</table>
		<div class="custom-pager">
			{if $paginator->prevPage}
			<a role="button" class="btn btn-default" href="admin.php?p=products_features&amp;page={$paginator->prevPage}"><span class="icon icon-pagination-left"></span></a>
			{else}
			<button disabled class="btn btn-default"><span class="icon icon-pagination-left"></span></button>
			{/if}

			{if $paginator->nextPage}
			<a role="button" class="btn btn-default" href="admin.php?p=products_features&amp;page={$paginator->nextPage}"><span class="icon icon-pagination-right"></span></a>
			{else}
			<button disabled class="btn btn-default"><span class="icon icon-pagination-right"></span></button>
			{/if}

			<span class="text">{$paginator->itemsFrom}-{$paginator->itemsTo} <span class="of">{trans key="common.of"}</span>  {$paginator->itemsCount}</span>
		</div>
	</div>
</div>
{else}
	<div class="container-fluid">
		<div class="col-xs-12">
			{trans key="products_features.none_product_features"}
		</div>
	</div>
{/if}

{include file="templates/pages/product-feature/modal-delete.html"}

<script type="text/javascript" src="content/admin/scripts/products-features.js?v={$APP_VERSION}"></script>