<div class="modal fade" id="modal-products-features-delete" tabindex="-1" role="dialog" aria-labelledby="modal-products-features-delete-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-products-features-delete">
			<input type="hidden" name="nonce" value="{$delete_nonce}">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-products-features-delete-label">{trans key="products_features.delete_features"}</h4>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<div class="col-xs-12">
							<p>{trans key="products_features.confirm_remove_product_feature"}</p>
						</div>
					</div>
					<div class="form-group col-xs-12">
						<label><input type="radio" name="form-products-features-delete-mode" value="selected" checked> {trans key="products_features.delete_selected"}</label>
						<label><input type="radio" name="form-products-features-delete-mode" value="search"> {trans key="products_features.delete_all_feature_from_search"} ({trans key="products_features.all_found"} {$itemsCount})</label>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="button"  nonce="{$delete_nonce}" class="btn btn-primary" data-action="action-products-features-delete">{trans key="common.delete"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>