	<div id="content-header">
		<div class="container-fluid">
			<h1 class="col-xs-6">{trans key="orders.order_num"}{if $order.status == 'Abandon'}A{$order.oid}{else}{$order.order_num}{/if}</h1>
			<div class="col-xs-6 pull-right text-right btn-toolbar">
				<a href="admin.php?p=orders">{trans key="common.cancel"}</a>
			</div>
		</div>
		<hr class="clearfix">
	</div>

	<div class="container-fluid">
		<div class="btn-toolbar clearfix">
			<div class="col-xs-12">
				{if $fraudscore}
					<div class="nav" id="scroll-to-transaction">
						<a href="#fraud-transaction-params" class="see-fraud-details"><font size="4" color="black"><b>{$fraudscorecaption} {$fraudscore}</b></font></a>
					</div>
				{else}
					{if $fraudstatus}
						<div class="nav" id="scroll-to-transaction">
							<a href="#fraud-transaction-params" class="see-fraud-details"><font size="4" color="black"><b>{$fraudstatuscaption} {$fraudstatus}</b></font></a>
						</div>
					{/if}
				{/if}
                {if $order.payment_status == 'Review'}
                    <a href="admin.php?p=order&id={$id|gs}&mode=approve-fraud-review" class="btn fraud-order-approve">{trans key="orders.approve_fraud_review_action"}</a>
                    <a href="admin.php?p=order&id={$id|gs}&mode=deny-fraud-review" class="btn fraud-order-deny">{trans key="orders.deny_fraud_review_action"}</a>
                {else}
                    <a href="admin.php?p=order_invoice&id={$id|gs}" target="_blank" class="btn">{trans key="orders.print_invoice"}</a>
                    {if $showRefund || $showVoid || $showCapture}<a href="#" data-target="#modal-order-process-payment" data-toggle="modal" class="btn">{trans key="orders.payment"}</a>{/if}
                        <a href="#" data-target="#modal-order-update-status" data-toggle="modal" class="btn">{trans key="orders.update_status"}</a>
                        <a href="#" class="add-order-note btn" data-target="#modal-add-order-note" data-toggle="modal">{trans key="orders.add_order_note"}</a>
                    {if $isDobaSetup && $hasDobaItems && $order.doba_order_sent != 1}
                        <a href="#" id="send-doba-order" class="btn">{trans key="orders.send_to_doba"}</a>
                    {/if}

                    {if $isDobaSetup && $hasDobaItems && $order.doba_order_sent == 1 && $order.doba_order_funded != 1}
                        <a href="#" data-target="#modal-fund-doba-order" data-toggle="modal" class="btn">{trans key="orders.fund_doba_order"}</a>
                    {/if}
                    {if $hasStoredCardData}
                        <a href="#" data-target="#modal-credit-card-data" data-toggle="modal" class="btn" id="btn-stored-credit-card">{trans key="orders.stored_credit_card"}</a>
                    {/if}
                    {if $hasInventory}<button type="button" id="return-inventory-btn" class="btn">{trans key="orders.return_inventory"}</button>{/if}
                    {if $endiciaEnabled}<a href="#" data-target="#modal-order-endicia" data-toggle="modal" class="btn">{trans key="orders.generate_shipping_label"} (Endicia)</a>{/if}
                    {if $stampsEnabled}<a href="#" data-target="#modal-order-stamps" data-toggle="modal" class="btn">{trans key="orders.generate_shipping_label"} (Stamps.com)</a>{/if}
                    {if $fulfillment}<a href="#" data-target="#modal-order-add-fulfillment" data-toggle="modal" class="btn btn-primary">{trans key="orders.fulfill"}</a>{/if}
                    {if $vparcelEnabled}<a href="#" data-target="#modal-order-vparcel" data-toggle="modal" class="btn">{trans key="orders.generate_shipping_label"} (VIPparcel)</a>{/if}
                {/if}
			</div>
		</div>
		<div class="clearfix">
		<fieldset class="clearfix" style="margin-bottom: 22px;">
			<div class="col-xs-12 col-md-4">
				<div class="order-details"{if $parentRecurringProfile} style="height: 215px;"{/if}>
					<h4>{trans key="orders.order_details"}</h4>
					<table class="table table-no-borders">
						<tr>
							<td class="text-right" style="width: 120px;">{trans key="orders.order_date"}:</td>
							<td>{$order.placed_date_formatted}</td>
						</tr>
						<tr>
							<td class="text-right" style="width: 120px;">{trans key="orders.status"}:</td>
							<td>{$order.status}</td>
						</tr>
						<tr>
							<td class="text-right" style="width: 120px;">{trans key="orders.fulfilled"}:</td>
							<td>
								{if $order.fulfillment_status == 'partial'}
									{trans key="orders.fulfillment_options.partial"}
								{elseif $order.fulfillment_status == 'completed'}
									{trans key="orders.fulfillment_options.completed"}
								{else}
									{trans key="orders.fulfillment_options.pending"}
								{/if}
							</td>
						</tr>
						<tr>
							<td class="text-right" style="width: 120px;">{trans key="orders.payment"}:</td>
							<td>
								{if $order.payment_status == 'Pending'}
									{trans key="orders.payment_status_options.Pending"}
								{elseif $order.payment_status == 'Partial'}
									{trans key="orders.payment_status_options.Partial"}
								{elseif $order.payment_status == 'Received'}
									{trans key="orders.payment_status_options.Received"}
								{elseif $order.payment_status == 'Refunded'}
									{trans key="orders.payment_status_options.Refunded"}
								{elseif $order.payment_status == 'Declined'}
									{trans key="orders.payment_status_options.Declined"}
								{elseif $order.payment_status == 'Canceled'}
									{trans key="orders.payment_status_options.Canceled"}
								{elseif $order.payment_status == 'Error'}
									{trans key="orders.payment_status_options.Error"}
								{elseif $order.payment_status == 'Auth Expired'}
									{trans key="orders.payment_status_options.Auth_Expired"}
								{elseif $order.payment_status == 'Reversed'}
									{trans key="orders.payment_status_options.Reversed"}
                                {elseif $order.payment_status == 'Review'}
                                    {trans key="orders.payment_status_options.Review"}
								{/if}
							</td>
						</tr>
						{if $parentRecurringProfile}
						<tr>
							<td class="text-right" style="width: 120px;">{trans key="orders.parent_recurring_profile"}:</td>
							<td>
								<a href="admin.php?p=recurring_profiles&action=details&id={$parentRecurringProfile->getProfileId()}">{trans key="orders.recurring_profile_num"}{$parentRecurringProfile->getProfileId()}</a> ({$parentRecurringProfile->getStatus()})
							</td>
						</tr>
						{/if}
					</table>
				</div>
			</div>
			<div class="col-xs-12 col-md-4">
				<div class="order-details"{if $parentRecurringProfile} style="height: 215px;"{/if}>
					<h4>{trans key="orders.billing_information"}</h4>
					{if $order.payment_gateway_id != 'paypalec'}
						<a href="admin.php?p=customer&id={$order.uid}&mode=edit">{$order.fname|gs} {$order.lname|gs}</a><br>
						{if $order.billing_company}{$order.billing_company|gs}<br>{/if}
						{$order.billing_address1|gs}<br>
						{if $order.billing_address2}{$order.billing_address2|gs}<br>{/if}
						{$order.billing_city|gs}, {if $order.billing_province} {$order.billing_province|gs}, {/if} {$order.billing_zip|gs}<br>
						{$order.billing_country_name}<br>
						<br>
						{trans key="orders.email"}: {$order.billing_email|gs}<br>
						{trans key="orders.phone"}: {$order.billing_phone|gs}<br>
						{if $cf_billing}
						<br>
						{foreach from=$cf_billing item="field"}
						<i>{$field.field_name}</i>: {$field.value_translated}<br>
						{/foreach}
						{/if}
					{else}
						<a href="admin.php?p=customer&id={$order.uid}&mode=edit">{$order.fname|gs} {$order.lname|gs}</a><br>
						{trans key="orders.email"}: {$order.billing_email|gs}<br>
						<span style="text-decoration: underline;">{trans key="orders.paypal_ec_order"}</span>
					{/if}
				</div>
			</div>
			<div class="col-xs-12 col-md-4">
				<div class="order-details"{if $parentRecurringProfile} style="height: 215px;"{/if}>
					<h4>{trans key="orders.shipping_information"}</h4>
					{if $shippingRequired}
					{$order.shipping_name|gs} (<span class="italic">{$order.shipping_address_type|gs}</span>)<br>
					{if $order.shipping_company}{$order.shipping_company|gs}<br>{/if}
					{$order.shipping_address1|gs}<br>
					{if $order.shipping_address2}{$order.shipping_address2|gs}<br>{/if}
					{$order.shipping_city|gs}, {if $order.shipping_province} {$order.shipping_province|gs}, {/if} {$order.shipping_zip|gs}<br>
					{$order.country_name}<br>
					<br>
					{if $isBongoOrder}
						<br><strong>{trans key="orders.bongo_dc_address"}</strong><br>
						{$bongoAddress.name|gs}<br>
						{if $bongoAddress.company != ''}{$bongoAddress.company|gs}<br>{/if}
						{$bongoAddress.address1|gs}<br>
						{if $bongoAddress.address2 != ''}{$bongoAddress.address2|gs}<br>{/if}
						{$bongoAddress.city|gs}, {$bongoAddress.province|gs}, {$bongoAddress.zip|gs}<br>
						{$bongoAddress.country_name|gs}<br>
						{if $bongoAddress.phone != ''}Phone: {$bongoAddress.phone|gs}<br>{/if}
					{elseif $order.shipping_carrier_id == 'zip_code'}
						{* TODO: Display PikFly logo? *}
						{* TODO: Change to shipments? *}
						{if $order.shipping_cm_name != ''}
							{trans key="orders.shipping_service"}: {$order.shipping_cm_name}<br>
						{/if}
					{else}
						{if $order.shipping_cm_name != ''}
							{trans key="orders.shipping_service"}: {$order.shipping_cm_name}<br>
						{/if}
					{/if}
					{if $cf_shipping}
					<br>
						{foreach from=$cf_shipping item="field"}
							<i>{$field.field_name}</i>: {$field.value_translated}<br>
						{/foreach}
					{/if}
					{else}
						<span>{trans key="orders.not_shippable"}</span>
					{/if}
				</div>
			</div>
		</fieldset>

		<form id="form-order" name="form-order" action="admin.php?p=order&mode=update&id={$id|gs}" role="form" method="post" data-auto-validate="1" autocomplete="off" enctype='multipart/form-data'>
			<input type="hidden" name="nonce" id="nonce" value="{$nonce}">
			<input id="edit-order-action" type="hidden" name="action" value="update">

		<fieldset id="group-products">
			<legend>{trans key="orders.products"}</legend>
			{if $orderEditable}<div class="btn-toolbar">
				<button class="btn" type="button" id="edit-order-edit">{trans key="common.edit"}</button>
				<button class="btn" type="button" id="edit-order-cancel" style="display: none;">{trans key="common.cancel"}</button>
				<button class="btn btn-primary" type="submit" id="edit-order-save" style="display: none;">{trans key="common.save"}</button>
			</div>{/if}
			<div id="group-products-body" class="container-fluid">
				<table class="table">
					<thead>
						<tr>
							<th colspan="2">{trans key="orders.product_id"}</th>
							<th>{trans key="orders.name"}</th>
							<th class="text-left">{trans key="orders.taxable"}</th>
							<th class="text-left">{trans key="orders.fulfilled"}</th>
							<th class="text-right">{trans key="orders.price"}</th>
							<th class="text-right">{trans key="orders.quantity"}</th>
							<th class="text-right">{trans key="orders.total"}</th>
						</tr>
					</thead>
					<tbody>
					{foreach from=$shipments item="shipment" name="shipments"}
						<tr>
							<td style="width:10px;" class="palette-{$smarty.foreach.shipments.index}"></td>
							<td colspan="6">
								<strong>{trans key="orders.shipment"} # {$shipment.num}{if $shipment.shipping_cm_name != ''}</strong> / {$shipment.shipping_cm_name|htmlspecialchars}{/if}<br/>

								{trans key="orders.shipment_status"}:
								{if $shipment.fulfillment_status == 'pending'}
									{trans key="orders.shipment_statuses.pending"}
								{elseif $shipment.fulfillment_status == 'partial'}
									{trans key="orders.shipment_statuses.partial"}
								{elseif $shipment.fulfillment_status == 'completed'}
									{trans key="orders.shipment_statuses.completed"}
								{/if}
							</td>
							<td class="text-right">{if $shipment.shipping_amount > 0}{$shipment.shipping_amount|price}{/if}</td>
						</tr>
						{foreach from=$lineItems item="lineItem"}
							{if $shipment.id == $lineItem->shipmentId}
								<tr>
									<td style="width:10px;" class="palette-{$smarty.foreach.shipments.index}"></td>
									<td>
										{if $lineItem->giftcertid == 0}
											{$lineItem->productId|gs}{if $lineItem->productSubId != ''} / {$lineItem->productSubId}{/if}
										{else}
											<a href="admin.php?p=gift_cert&mode=update&id={$lineItem->giftcertid}">{$lineItem->productId|gs}{if $lineItem->productSubId != ''} / {$lineItem->productSubId}{/if}</a>
										{/if}
									</td>
									<td>
										{if $lineItem->giftcertid == 0}
											{$lineItem->title|gs}
										{else}
											<a href="admin.php?p=gift_cert&mode=update&id={$lineItem->giftcertid}">{$lineItem->title|gs}</a>
										{/if}
										{if $lineItem->options != ''}
											{if $lineItem->options}<br>{trans key="orders.options"}:<br>{$lineItem->options|gs|nl2br}{/if}
										{/if}
										{if $lineItem->enableRecurringBilling}
											<br>
											<i>{trans key="orders.recurring_payments"}
												{if $lineItem->recurringProfileId}- <a href="admin.php?p=recurring_profiles&action=details&id={$lineItem->recurringProfileId}">{trans key="orders.recurring_profile_num"} {$lineItem->recurringProfileId}</a> ({$lineItem->recurringProfileStatus}){/if}
												<br>
												{$lineItem->recurringTrialDescription}<br>
												{$lineItem->recurringBillingDescription}<br>
											</i>
										{/if}
										{if $lineItem->digitalProductKey}
											<br>
											<a href="{$GlobalHttpUrl}/download.php?a={$id|gs}&b={$lineItem->digitalProductKey|gs}">{trans key="orders.download"}</a>
										{/if}
									</td>
									<td class="text-left">
										{if $lineItem->isTaxable && !$lineItem->isTaxExempt}
											{if $lineItem->taxDescription != ''}{$lineItem->taxDescription}{else}{$lineItem->taxRate|gn}%{/if}
										{elseif $lineItem->isTaxExempt}
											{trans key="orders.tax_exempt"}
										{else}
											{trans key="common.no"}
										{/if}
									</td>
									<td class="text-left">
										{if $lineItem->fulfillmentStatus == 'partial'}
											{trans key="orders.fulfillment_options.partial"}
										{elseif $lineItem->fulfillmentStatus == 'completed'}
											{trans key="orders.fulfillment_options.completed"}
										{else}
											{trans key="orders.fulfillment_options.pending"}
										{/if}
										{if $lineItem->quantityToFulfill > 0}
											<span class="order-fulfill-quantity">({trans key="orders.to_fulfill" count=$lineItem->quantityToFulfill})</span>
										{/if}
									</td>
									<td class="text-right form-group">
										<span class="order-editable-amount">{$lineItem->price|price}</span>
										<input type="text" class="order-editable text-right form-control" id="price_{$lineItem->id}" name="prices[{$lineItem->id}]" value="{$lineItem->price|gn}" style="display:none;max-width: 75px;padding: 0 5px;">
									</td>
									<td class="text-right form-group">
										<span class="order-editable-amount">{$lineItem->quantity}</span>
										<input type="text" class="order-editable text-right form-control" id="quantity_{$lineItem->id}" name="quantities[{$lineItem->id}]" value="{$lineItem->quantity}" style="display:none;max-width: 75px;padding: 0 5px;">
									</td>
									<td class="text-right">{$lineItem->subtotal|price}</td>
								</tr>
							{/if}
						{/foreach}
						<tr><td colspan="8"></td></tr>
					{/foreach}
						<tr>
							<td colspan="7" class="text-right order-total-label">{trans key="orders.subtotal"}:</td>
							<td class="text-right">{$order.subtotal_amount|price}</td>
						</tr>
					{if $order.discount_amount > 0}
						<tr>
							<td colspan="7" class="text-right order-total-label">{trans key="orders.discount"} {if $order.discount_type == 'percent'}(-{$order.discount_value|gn}%){else}(-{$order.discount_value|price}){/if}:</td>
							<td class="text-right form-group">
								<span class="order-editable-amount">{$order.discount_amount|price}</span>
								<input type="text" class="order-editable text-right form-control" id="new_discount_amount" name="new_discount_amount" value="{$order.discount_amount|gn}" style="display: none;max-width: 75px;padding: 0 5px;">
							</td>
						</tr>
					{/if}
					{if $order.promo_discount_amount > 0}
						<tr>
							<td colspan="7" class="text-right order-total-label">
								{trans key="orders.promo_discount"} {if $order.promo_discount_type == 'percent'}(-{$order.promo_discount_value|gn}%){else}(-{$order.promo_discount_value|price}){/if}:<br>
								{if $pc_details && $pc_details.name != '' && $pc_details.promo_code != ''}({$pc_details.name|gs}: {$pc_details.promo_code|gs}){/if}
							</td>
							<td class="text-right form-group">
								<span class="order-editable-amount">{$order.promo_discount_amount|price}</span>
								<input type="text" class="order-editable text-right form-control" id="new_promo_discount_amount" name="new_promo_discount_amount" value="{$order.promo_discount_amount|gn}" style="display: none;max-width: 75px;padding: 0 5px;">
							</td>
						</tr>
					{/if}
					{if $order.shipping_amount > 0}
						<tr>
							<td colspan="7" class="text-right order-total-label">{trans key="orders.shipping_amount"}:</td>
							<td class="text-right">{$order.shipping_amount|price}</td>
						</tr>
					{/if}
					{if $order.handling_amount > 0}
						<tr>
							<td colspan="7" class="text-right order-total-label">{trans key="orders.handling_amount"}:</td>
							<td class="text-right">{$order.handling_amount|price}</td>
						</tr>
					{/if}
					{if $order.tax_amount > 0 || $order.tax_exempt != 'No'}
						<tr>
							<td colspan="7" class="text-right order-total-label">{trans key="orders.tax_amount"}{if $order.tax_exempt != 'No'}<i>({if $order.tax_exempt != 'Yes'}{trans key="orders.order_partially_tax_exempt"}{else}{trans key="orders.order_tax_exempt"}{/if})</i>{/if}:</td>
							<td class="text-right">{$order.tax_amount|price}</td>
						</tr>
					{/if}
					{if $order.gift_cert_amount > 0}
						<tr>
							<td colspan="7" class="text-right order-total-label">{trans key="orders.gift_cert_amount"}:<br>({trans key="orders.voucher_num"}{$order.gift_cert_voucher})</td>
							<td class="text-right">{$order.gift_cert_amount|price}</td>
						</tr>
					{/if}
					{if $isBongoOrder}
						{if $order_data.custom2 == '' || $order_data.custom3 == ''}
						<tr>
							<td colspan="8" class="text-right" style="color:#880000;">
								<strong>{trans key="orders.bongo_total_soon"}</strong>
							</td>
						</tr>
						{elseif $bongoOrderData}
						<tr>
							<td class="text-right" colspan="8" style="color:#880000;">
								<strong>
									{trans key="orders.bongo_order"}
								</strong>
							</td>
						</tr>
						<tr>
							<td colspan="7" class="text-right order-total-label">{trans key="orders.subtotal"}:</td>
							<td class="text-right">{$bongoOrderData.orderSubtotalAmount|price}</td>
						</tr>
						<tr>
							<td colspan="7" class="text-right">{trans key="orders.duty_amount"}:</td>
							<td class="text-right">{$bongoOrderData.orderDutyAmount|price}</td>
						</tr>
						<tr>
							<td colspan="7" class="text-right order-total-label">{trans key="orders.tax_amount"}:</td>
							<td class="text-align-right">{$bongoOrderData.orderTaxAmount|price}</td>
						</tr>
						<tr>
							<td colspan="7" class="text-right order-total-label">{trans key="orders.shipping_amount"}:</td>
							<td class="text-align-right">{$bongoOrderData.orderShippingAmount|price}</td>
						</tr>
						<tr>
							<td colspan="7" class="text-right order-total-label">{trans key="orders.domestic_shipping_amount"}:</td>
							<td class="text-align-right">{$bongoOrderData.orderShippingDomesticAmount|price}</strong></td>
						</tr>
						<tr>
							<td colspan="7" class="text-right order-total-label">{trans key="orders.insurance_amount"}:</td>
							<td class="text-align-right">{$bongoOrderData.orderInsuranceAmount|price}</td>
						</tr>
						<tr>
							<td colspan="7" class="text-right order-total-label"><strong>{trans key="orders.total_amount"} ({$bongoOrderData.orderCurrency|gs}):</strong></td>
							<td class="text-align-right">{$bongoOrderData.orderTotalAmount|price}</td>
						</tr>
						{/if}
					{else}
						<tr>
							<td colspan="7" class="text-right order-total-label">{trans key="orders.total_amount"}:</td>
							<td class="text-right">{$order.total_amount_without_gift_cert|price}</td>
						</tr>
					{/if}
					{if $capturedAmount > 0}
						<tr>
							<td colspan="7" class="text-right order-total-label">
								{trans key="orders.total_captured_amount"}:<br>
								({$order.payment_method_name|gs}{if $order.payment_is_realtime != 'No' and $order.security_id} ({$order.security_id|gs}){/if})
							</td>
							<td class="text-right">
								{$capturedAmount|price}
							</td>
						</tr>
					{/if}
					</tbody>
				</table>
			</div>
		</fieldset>

		</form>

		<div class="col-xs-12">
			{* Shipping Details *}
		</div>
		{if ($cf_invoice && count($cf_invoice) > 0) || $order.gift_message}
			<fieldset id="group-custom-fields">
				<legend style="cursor: pointer;">{trans key="orders.custom_fields"}</legend>
				<div class="btn-toolbar">
					<button class="btn" data-target="#group-custom-fields-body" data-toggle="collapse" type="button">
						{trans key="common.view"}
						<span class="caret"></span>
					</button>
				</div>
				<div id="group-custom-fields-body" class="container-fluid collapse">
					<table class="table table-striped">
						<tbody>
						{if $order.gift_message}
							<tr>
								<td>{trans key="orders.gift_message"}:</td>
								<td>
									{$order.gift_message|gs|nl2br}
								</td>
							</tr>
						{/if}
						{foreach from=$cf_invoice item="field"}
							<tr>
								<td>{$field.field_name|gs}</td>
								<td>{$field.value_translated|gs|nl2br}</td>
							</tr>
						{/foreach}
						</tbody>
					</table>
				</div>
			</fieldset>
		{/if}
		{if count($fulfillments) > 0}

		<form action="admin.php?p=order&mode=edit-shipment&id={$id|gs}" method="POST" role="form" name="form-order-edit-shipment">
		<input type="hidden" name="nonce" value="{$nonce_edit_shipment}">

		<fieldset id="group-order-shipments">

			<legend style="cursor: pointer;">{trans key="orders.shipments"}</legend>

			<div class="btn-toolbar">
				<button class="btn btn-primary" style="display: none;" id="order-shipments-save-button" data-action="action-edit-shipment" type="submit">{trans key="common.save"}</button>
				<button class="btn" id="order-shipments-collapse-button" data-target="#group-order-shipments-body" data-toggle="collapse" type="button">
					{trans key="common.edit"}
					<span class="caret"></span>
				</button>
			</div>

			<div id="group-order-shipments-body" class="container-fluid collapse">

				<table class="table table-striped">
					<thead>
					<tr>
						<th>{trans key="orders.created_at"}</th>
						<th>{trans key="orders.status"}</th>
						<th>{trans key="orders.tracking_number_optional"}</th>
						<th>{trans key="orders.tracking_company"}</th>
						<th>{trans key="orders.items"}</th>
					</tr>
					</thead>
					<tbody>
					{foreach from=$fulfillments item="fulfillment"}
						<tr>
							<td>{$fulfillment->updatedAt}</td>
							<td>
								{if $fulfillment->status == 'completed'}
									{trans key="orders.fulfillment_options.completed"}
								{else}
									{trans key="orders.fulfillment_options.pending"}
								{/if}
							</td>
							<td>
							<div class="form-group field-text col-sm-6 col-xs-12 ">
								<input class="form-control field-tracking_number" style="width: 200px;" id="field-tracking_number" name="tracking_number[{$fulfillment->id}]" value="{$fulfillment->trackingNumber}">
							</div>
							</td>
							<td>
							<div class="form-group field-select col-sm-6 col-xs-12 ">
								<select class="form-control field-tracking_company" style="width: 200px;" id="field-tracking_company" name="tracking_company[{$fulfillment->id}]">
									<option {if $fulfillment->trackingCompany == "UPS"}selected{/if} value="UPS">UPS</option>
									<option {if $fulfillment->trackingCompany == "USPS"} selected {/if} value="USPS">USPS</option>
									<option {if $fulfillment->trackingCompany == "FedEx"} selected {/if} value="FedEx">FedEx</option>
									<option {if $fulfillment->trackingCompany == "CanadaPost"} selected {/if} value="CanadaPost">CanadaPost</option>
									<option {if $fulfillment->trackingCompany == "Other"} selected {/if} value="Other">Other</option>
								</select>
							</div>
							</td>
							<td style="width: 50%;">
								<table class="table">
									<thead>
									<tr>
										<th>{trans key="orders.product"}</th>
										<th class="text-center">{trans key="orders.quantity"}</th>
									</tr>
									</thead>
									<tbody>
									{foreach from=$fulfillment->items item="fulfillmentItem"}
									<tr>
										<td>
											{$fulfillmentItem->title}<br>
											{$fulfillmentItem->productId}{if $fulfillmentItem->productSubId} / {$fulfillmentItem->productSubId}{/if}<br>
											{if $fulfillmentItem->options}Options:<br>{$fulfillmentItem->options|gs|nl2br}{/if}
										</td>
										<td class="text-right" style="width: 20%;">{$fulfillmentItem->quantity}</td>
									</tr>
									{/foreach}
									</tbody>
								</table>
							</td>
						</tr>
					{/foreach}
					</tbody>
				</table>
			</div>
		</fieldset>

		</form>
		{/if}
		{if $endiciaEnabled}
			<fieldset id="group-endicia-labels">
				<legend style="cursor: pointer;">Shipping Labels for this Order (Endicia)</legend>
				<div class="btn-toolbar">
					<button class="btn" data-target="#group-endicia-labels-body" data-toggle="collapse" type="button">
						Edit
						<span class="caret"></span>
					</button>
				</div>
				<div id="group-endicia-labels-body" class="container-fluid collapse">
					{if $orderEndiciaLabels}
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Tracking Number</th>
									<th>Amount</th>
									<th>Created Date</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								{foreach from=$orderEndiciaLabels item="orderEndiciaLabel"}
									<tr>
										<td>{$orderEndiciaLabel.tracking_number|htmlspecialchars}</td>
										<td>{$orderEndiciaLabel.label_amount|price}</td>
										<td>{$orderEndiciaLabel.date_created}</td>
										<td class="list-actions text-right">
											<a href="admin.php?p=endicia_viewlabel&f={$orderEndiciaLabel.label_url|urlencode}" rel="{$orderEndiciaLabel.tracking_number|htmlspecialchars}" class="endicia-view-label-link"><span class="icon icon-edit"></span>View or Print Label</a>
											<a href="#" data-picnum="{$orderEndiciaLabel.tracking_number|htmlspecialchars}" class="endicia-refund"><span class="icon icon-delete"></span>Request Refund</a>
										</td>
									</tr>
								{/foreach}
							</tbody>
						</table>
					{else}
						<div class="col-xs-12">There are no labels generated for this order</div>
					{/if}
				</div>
			</fieldset>
		{/if}
        {if $vparcelEnabled}
            <fieldset id="group-vparcel-labels">
                <legend style="cursor: pointer;">Shipping Labels for this Order (VIPparcel)</legend>
                <div class="btn-toolbar">
                    <button class="btn" data-target="#group-vparcel-labels-body" data-toggle="collapse" type="button">
                        Edit
                        <span class="caret"></span>
                    </button>
                </div>
                <div id="group-vparcel-labels-body" class="container-fluid collapse">
                    {if $orderVparcelLabels}
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Tracking Number</th>
                            <th>Amount</th>
                            <th>Created Date</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {foreach from=$orderVparcelLabels item="orderLabel"}
                        <tr>
                            <td>{$orderLabel.tracking_number|htmlspecialchars}</td>
                            <td>{$orderLabel.label_amount|price}</td>
                            <td>{$orderLabel.date_created}</td>
                            <td class="list-actions text-right">
                                <a href="admin.php?p=vparcel&action=request-viewlabel&f={$orderLabel.label_url|urlencode}" rel="{$orderLabel.tracking_number|htmlspecialchars}" class="vparcel-view-label-link"><span class="icon icon-edit"></span>View or Print Label</a>
                                {*<a href="#" data-picnum="{$orderLabel.pic_number|htmlspecialchars}" class="vparcel-refund"><span class="icon icon-delete"></span>Request Refund</a>*}
                            </td>
                        </tr>
                        {/foreach}
                        </tbody>
                    </table>
                    {else}
                    <div class="col-xs-12">There are no labels generated for this order</div>
                    {/if}
                </div>
            </fieldset>
        {/if}
		{if $stampsEnabled}
			<fieldset id="group-stamps-labels">
				<legend style="cursor: pointer;">Shipping Labels for this Order (Stamps.com)</legend>
				<div class="btn-toolbar">
					<button class="btn" data-target="#group-stamps-labels-body" data-toggle="collapse" type="button">
						Edit
						<span class="caret"></span>
					</button>
				</div>
				<div id="group-stamps-labels-body" class="container-fluid collapse">
					{if $orderStampsLabels}
						<table class="table table-striped">
							<thead>
							<tr>
								<th>Tracking Number</th>
								<th>Status</th>
								<th>Created Date</th>
								<th></th>
							</tr>
							</thead>
							<tbody>
							{foreach from=$orderStampsLabels item="orderStampsLabel"}
								<tr>
									<td>
										{if $orderStampsLabel.tracking_number != ''}
											{$orderStampsLabel.tracking_number|htmlspecialchars}
										{else}
											n/a
										{/if}
									</td>
									<td>{$orderStampsLabel.status}{if $orderStampsLabel.expired} / Expired{/if}</td>
									<td>{$orderStampsLabel.date_created}</td>
									<td class="list-actions text-right">
									{if !$orderStampsLabel.expired && $orderStampsLabel.status != 'Failed'}
										<a href="#" data-olid="{$orderStampsLabel.olid}" class="stamps-view-label-link"><span class="icon icon-edit"></span>View or Print Label</a>
									{/if}
									{if !$orderStampsLabel.expired && $orderStampsLabel.status == 'Created'}
										<a href="#" data-id="{$id}" data-olid="{$orderStampsLabel.olid}" class="stamps-cancel"><span class="icon icon-delete"></span>Cancel</a>
									{/if}
									</td>
								</tr>
							{/foreach}
							</tbody>
						</table>
					{else}
						<div class="col-xs-12">There are no labels generated for this order</div>
					{/if}
				</div>
			</fieldset>
		{/if}
		{if count($admin_notes) > 0}
			<fieldset id="group-order-notes">
				<legend style="cursor: pointer;">{trans key="orders.order_notes"}</legend>
				<div class="btn-toolbar">
					<button class="btn" data-target="#group-order-notes-body" data-toggle="collapse" type="button">
						{trans key="common.edit"}
						<span class="caret"></span>
					</button>
				</div>
				<div id="group-order-notes-body" class="container-fluid collapse">
					<table class="table table-striped">
						<thead>
						<tr>
							<th>{trans key="orders.add_note.title"}</th>
							<th>{trans key="orders.add_note.note"}</th>
							<th>{trans key="orders.created_at"}</th>
							<th>{trans key="orders.email_sent"}</th>
						</tr>
						</thead>
						<tbody>
						{foreach from=$admin_notes item="note"}
							<tr>
								<td>{$note.note_title|gs}</td>
								<td style="width: 50%;">{$note.note_text|gs|nl2br}</td>
								<td>{$note.note_created_at}</td>
								<td>{$note.send_email}</td>
							</tr>
						{/foreach}
						</tbody>
					</table>
				</div>
			</fieldset>
		{/if}
		{if count($transactions) > 0}
			<fieldset id="group-transaction-details">
				<legend style="cursor: pointer;">{trans key="orders.transaction_details"}</legend>
				<div class="btn-toolbar">
					<button class="btn" data-target="#group-transaction-details-body" data-toggle="collapse" type="button">
						{trans key="common.edit"}
						<span class="caret"></span>
					</button>
				</div>
				<div id="group-transaction-details-body" class="container-fluid collapse">
					<table class="table table-striped">
						<thead>
						<tr>
							<th>{trans key="orders.payment_gateway"}</th>
							<th>{trans key="orders.amount"}</th>
							<th>{trans key="orders.completed_at"}</th>
							<th>{trans key="orders.note"}</th>
							<th style="min-width: 50%;">{trans key="orders.gateway_response"}</th>
						</tr>
						</thead>
						<tbody>
						{foreach from=$transactions item="transaction"}
							<tr>
								<td>{$transaction.payment_gateway|gs}</td>
								<td>{$transaction.order_total_amount|price}</td>
								<td>{$transaction.co}</td>
								<td>{if $transaction.extra}{$transaction.extra}{/if}</td>
								<td style="min-width: 50%;">
									<textarea readonly style="width: 100%;min-height:200px;">{$transaction.payment_response|gs}</textarea>
								</td>
							</tr>
						{/foreach}
						</tbody>
					</table>
				</div>
			</fieldset>
		{/if}
		{if $frauddata }
			<div data-spy="scroll" data-target=".navbar-example">
			{form form=$frauddataForm}
			</div>
		{/if}
		</div>
	</div>

{include file="templates/pages/order/modal-add-order-note.html"}
{include file="templates/pages/order/modal-update-status.html"}
{include file="templates/pages/order/modal-process-payment.html"}
{include file="templates/pages/order/modal-add-fulfillment.html"}
{if $isDobaSetup && $hasDobaItems && $order.doba_order_sent == 1 && $order.doba_order_funded != 1}
	{include file="templates/pages/order/modal-fund-doba-order.html"}
{/if}
{if $hasStoredCardData}{include file="templates/pages/order/modal-credit-card-data.html"}{/if}

<script type="text/javascript">
	var currentOrderId = {$id};
</script>
<script type="text/javascript" src="content/admin/scripts/orders.js?v={$APP_VERSION}"></script>
{if $endiciaEnabled}
	{include file="templates/pages/order/modal-endicia.html"}
	{include file="templates/pages/order/modal-endicia-view.html"}
	{include file="templates/pages/order/modal-endicia-refund.html"}

	<script type="text/javascript" src="content/admin/scripts/order-endicia.js?v={$APP_VERSION}"></script>
{/if}

{if $vparcelEnabled}
    {include file="templates/pages/order/modal-vparcel.html"}
    {include file="templates/pages/order/modal-vparcel-view.html"}
    {include file="templates/pages/order/modal-vparcel-refund.html"}
    <script type="text/javascript" src="content/admin/scripts/order_vparcel.js?v={$APP_VERSION}"></script>
{/if}

{if $stampsEnabled}
	{include file="templates/pages/order/modal-stamps.html"}
	{include file="templates/pages/order/modal-stamps-view.html"}
	<script type="text/javascript" src="content/admin/scripts/order-stamps.js?v={$APP_VERSION}"></script>
{/if}