<table class="table" style="width:100%; border: solid 2px #000000;border-collapse: collapse;{if $page_break} page-break-after: always;{/if}">
	<tr>
		<td>
			<table class="table" style="width:100%;">
				{if $PrintableInvoiceCompanyLogoAlignment|strtoupper != 'NO' && $logo_image}
				<tr>
					<td colspan="2" align="{$PrintableInvoiceCompanyLogoAlignment|strtolower}">
						<img src="{$logo_image}">
					</td>
				</tr>
				{/if}
				<tr style="vertical-align: top;">
					<td>
						<h2>{$CompanyName|gs}</h2>
					</td>
					<td>
						<h2>{trans key="orders.order_id"}: {$order.order_num}</h2>
					</td>
				</tr>
				<tr style="vertical-align: top;">
					<td style="width: 55%;">
						<p>
							<strong>{trans key="orders.billing_information"}</strong><br>
							{if $order.payment_gateway_id != 'paypalec'}
								{$user.fname|gs} {$user.lname|gs}<br>
								{if $user.company != ''}{$user.company|gs}<br>{/if}
								{$user.address1|gs}<br>
								{if $user.address2 != ''}{$user.address2|gs}<br>{/if}
								{$user.city|gs}, {if $user.province} {$user.province|gs}, {/if} {$user.zip|gs}<br>
								{$user.country_name|gs}<br>
								{trans key="orders.email"}: {$user.email|gs}<br>
								{trans key="orders.phone"}: {$user.phone|gs}<br>
							{else}
								{$user.fname|gs} {$user.lname|gs}
								{trans key="orders.email"}: {$user.email|gs}
								{trans key="orders.paypal_ec_order"}
							{/if}
							{if $cf_billing}
								<br>
								{foreach from=$cf_billing item="field"}
									<i>{$field.field_name}</i>: {$field.value_translated}<br>
								{/foreach}
							{/if}
						</p>
						<p>
							<strong>{trans key="orders.shipping_information"}</strong><br>
							{if $order.shipping_required}
								{$order.shipping_name|gs} (<span class="italic">{$order.shipping_address_type|gs}</span>)<br>
								{if $order.shipping_company}{$order.shipping_company|gs}<br>{/if}
								{$order.shipping_address1|gs}<br>
								{if $order.shipping_address2}{$order.shipping_address2|gs}<br>{/if}
								{$order.shipping_city|gs}, {if $order.shipping_province} {$order.shipping_province|gs}, {/if} {$order.shipping_zip|gs}<br>
								{$order.country_name}<br>
								{if $cf_shipping}
									<br>
									{foreach from=$cf_shipping item="field"}
										<i>{$field.field_name}</i>: {$field.value_translated}<br>
									{/foreach}
								{/if}
							{else}
								{trans key="orders.not_shippable"}
							{/if}
						</p>
					</td>
					<td style="width:45%;">
						<strong>
							{trans key="orders.order_date"}: {$order.cd}<br>
							{trans key="orders.last_update"}: {$order.sd}
						</strong>
						<p>
							{if $PrintableInvoiceCompanyName == "YES"}
								{$CompanyName|gs}<br>
							{/if}
							{if $PrintableInvoiceCompanyAddress == "YES"}
								{$CompanyAddressLine1|gs}<br>
								{if $CompanyAddressLine2 != ''}{$CompanyAddressLine2|gs}<br>{/if}
								{$CompanyCity|gs}, {$CompanyState|gs} {$CompanyZip|gs}<br>
								{$CompanyCountry|gs}
							{/if}
						</p>
						<p>
							{if $PrintableInvoiceCompanyPhone == "YES"}
								{trans key="orders.phone"}: {$CompanyPhone|gs}<br>
							{/if}
							{if $PrintableInvoiceCompanyFax == "YES"}
								{trans key="orders.fax"}: {$CompanyFax|gs}<br>
							{/if}

							{if $PrintableInvoiceCompanyEmail == "YES"}
								{trans key="orders.email"}: {$CompanyEmail|gs}<br>
							{/if}

							{if $PrintableInvoiceCompanyWeb == "YES"}
								{trans key="orders.website"}: {$CompanyWebsite|gs}<br>
							{/if}
						</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td style="border-top:solid 2px #000000;">
			<table class="table">
				<tr>
					<td style="width: 70%;">{trans key="orders.product"} {trans key="orders.name"}</td>
					<td style="width: 15%;text-align: right;">{trans key="orders.price"}</td>
					<td style="width: 5%;text-align: right;">{trans key="orders.quantity"}</td>
					<td style="width: 10%;text-align: right;">{trans key="orders.total"}</td>
				</tr>
				{foreach from=$shipments item="shipment"}
					<tr>
						<td colspan="4">
							<strong>{trans key="orders.shipment"} # {$shipment.num} - {$shipment.shipping_cm_name|htmlspecialchars}</strong><br>
							{trans key="orders.shipment_status"}:
							{if $shipment.fulfillment_status == 'pending'}
								{trans key="orders.shipment_statuses.pending"}
							{elseif $shipment.fulfillment_status == 'partial'}
								{trans key="orders.shipment_statuses.partial"}
							{elseif $shipment.fulfillment_status == 'completed'}
								{trans key="orders.shipment_statuses.completed"}
							{/if}
						</td>
					</tr>
					{foreach from=$lineItems item="lineItem"}
						{if $shipment.id == $lineItem->shipmentId}
							<tr>
								<td style="width: 70%;">
									{$lineItem->title|gs}
									<br>
									{trans key="orders.product_id"}: {$lineItem->productId|gs}{if $lineItem->productSubId != ''} / {$lineItem->productSubId|gs}{/if}
									{if $lineItem->options != ''}
										{if $lineItem->options}<br>{trans key="orders.options"}:<br>{$lineItem->options|gs|nl2br}{/if}
									{/if}
									{if $lineItem->enableRecurringBilling}
										<br>
										<i>{trans key="orders.recurring_payments"}
											{if $lineItem->recurringProfileId}- {trans key="orders.recurring_profile_num"} {$lineItem->recurringProfileId} ({$lineItem->recurringProfileStatus}{/if}
											<br>
											{$lineItem->recurringTrialDescription}<br>
											{$lineItem->recurringBillingDescription}<br>
										</i>
									{/if}
								</td>
								<td style="width: 15%;text-align: right;">{$lineItem->price|price}</td>
								<td style="width: 5%;text-align: right;">{$lineItem->quantity}</td>
								<td style="width: 10%;text-align: right;">{$lineItem->subtotal|price}</td>
							</tr>
						{/if}
					{/foreach}
				{/foreach}
				{if !$isBongoOrder}
					{foreach from=$orderView.lineItems item="orderViewLineItem" key="orderViewLineItemKey"}
				<tr>
					<td colspan="3" style="text-align: right;font-size: 13px;{if $orderViewLineItemKey == 'total'}font-weight: bold;{/if}">
						{$orderViewLineItem.title} :
						{if $orderViewLineItem.subtitle != ''}<br>{$orderViewLineItem.subtitle}{/if}
					</td>
					<td style="text-align :right;font-size: 13px;{if $orderViewLineItemKey == 'total'}font-weight: bold;{/if}">
						{$orderViewLineItem.amount}
					</td>
				</tr>
					{/foreach}
				{else}
				{if $order.custom2 == '' || $order.custom3 == ''}
					<tr>
						<td class="text-align-right" colspan="3" style="color:#880000;font-size:13px;">
							<strong>
								{trans key="orders.bongo_total_soon"} &nbsp;
							</strong>
						</td>
						<td style="font-size:13px;"></td>
					</tr>
				{else}
					<tr>
						<td colspan="3" class="text-right">{trans key="orders.subtotal"}:</td>
						<td class="text-right">{$bongoOrderData.orderSubtotalAmount|price}</td>
					</tr>
					<tr>
						<td colspan="3" class="text-right">{trans key="orders.duty_amount"}:</td>
						<td class="text-right">{$bongoOrderData.orderDutyAmount|price}</td>
					</tr>
					<tr>
						<td colspan="3" class="text-right">{trans key="orders.tax_amount"}:</td>
						<td class="text-align-right">{$bongoOrderData.orderTaxAmount|price}</td>
					</tr>
					<tr>
						<td colspan="3" class="text-right">{trans key="orders.shipping_amount"}:</td>
						<td class="text-align-right">{$bongoOrderData.orderShippingAmount|price}</td>
					</tr>
					<tr>
						<td colspan="3" class="text-right">{trans key="orders.domestic_shipping_amount"}:</td>
						<td class="text-align-right">{$bongoOrderData.orderShippingDomesticAmount|price}</strong></td>
					</tr>
					<tr>
						<td colspan="3" class="text-right">{trans key="orders.insurance_amount"}:</td>
						<td class="text-align-right">{$bongoOrderData.orderInsuranceAmount|price}</td>
					</tr>
					<tr>
						<td colspan="3" class="text-right"><strong>{trans key="orders.total_amount"} ({$bongoOrderData.orderCurrency|gs}):</strong></td>
						<td class="text-align-right">{$bongoOrderData.orderTotalAmount|price}</td>
					</tr>
				{/if}
				{/if}
			</table>
		</td>
	</tr>
	<tr>
		<td style="border-top:solid 2px #000000;">
			<strong>{trans key="orders.payment"}</strong><br>
			{trans key="orders.method"}: {if $order.payment_is_realtime == 'Yes'}{trans key="orders.real_time"}{else}{trans key="orders.not_real_time"}{/if}, {$order.payment_method_name}<br>
			{if $payment_gateway}
			{trans key="orders.payment_gateway"} : {$payment_gateway}<br>
			{trans key="orders.completed_at"} : {$completed_at}
			{/if}
			{if $order.gift_message != ''}
				<strong>{trans key="orders.gift_message"}</strong><br>
				<div style="border:1px solid black;padding:10px;margin:10px;">{$order.gift_message|gs|nl2br}</div>
			{/if}
			{if $cf_invoice && count($cf_invoice) > 0}
				<strong>{trans key="orders.custom_fields"}</strong><br>
				{foreach from=$cf_invoice item="field"}
					<i>{$field.field_name}</i>: {$field.value_translated}<br>
				{/foreach}
			{/if}
		</td>
	</tr>
</table>