<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{if $customer}{$customer.fname|htmlspecialchars} {$customer.lname|htmlspecialchars} - {/if} {trans key="orders.orders"}</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
			{if $customer}
				<a class="btn" href="admin.php?p=customer&mode=update&id={$customer.uid|intval}">{trans key="orders.edit_customer"}</a>
			{/if}
		</div>
	</div>
	<hr class="clearfix">
</div>
{** search form starts here **}
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<form role="form" name="form-orders-search" id="form-orders-search" method="get">
				<input type="hidden" name="p" value="orders">
				{form form=$searchForm}
				<div>
					{form form=$searchFormAdvanced}
				</div>
				<div class="col-sm-12">
					<input type="submit" value="Search" class="btn btn-default">
				</div>
			</form>
		</div>
	</div>
</div>
<hr>
{** search form ends here **}

<div class="container-fluid">
	<div class="col-xs-12 col-md-6">
		{if $orders}
		<div class="btn-group">
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					{trans key="common.bulk_actions"}
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#" data-toggle="modal" data-target="#modal-orders-bulk-fulfillment">{trans key="orders.fulfill_orders"}</a></li>
					<li><a href="#" data-toggle="modal" data-target="#modal-orders-bulk-update-status">{trans key="orders.update_status"}</a></li>
					<li><a href="#" id="orders-print-invoices">{trans key="orders.print_invoices"}</a></li>
					<li><a href="#" data-toggle="modal" data-target="#modal-orders-export">{trans key="common.export"}</a></li>
					<li><a href="#" data-toggle="modal" data-target="#modal-orders-delete">{trans key="common.delete"}</a></li>
				</ul>
			</div>
		</div>
		{/if}
	</div>
</div>
&nbsp;
{if $orders}
	<div class="container-fluid">
		<div class="col-xs-12">
			<table class="table table-striped table-list table-list-orders" data-search-form="#form-orders-search" data-order-by-field="orderBy" data-order-dir-field="orderDir">
				<thead>
				<tr>
					<th style="width:50px;"><input type="checkbox" id="selectAll"></th>
					<th class="text-left sortable col-xs-1" data-sort-field="order_num">{trans key="orders.order_id"}</th>
					<th class="text-left sortable" data-sort-field="custom_search">{trans key="orders.customer_name"}</th>
					<th class="text-left sortable" data-sort-field="status_date">{trans key="orders.last_update"}</th>
					<th class="text-left sortable col-xs-1" data-sort-field="fulfillment_status">{trans key="orders.fulfilled"}</th>
					<th class="text-left sortable col-xs-1" data-sort-field="status">{trans key="orders.status"}</th>
					<th class="text-left sortable col-xs-1" data-sort-field="payment_status">{trans key="orders.payment"}</th>
					<th class="text-right sortable  col-xs-1" data-sort-field="total_amount_without_gift_cert">{trans key="orders.amount"}</th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				{foreach from=$orders item="order"}
					<tr>
						<td><input type="checkbox" class="checkbox-order" name="row[{$order.oid}]" value="{$order.oid}"></td>
						<td class="text-left"><a href="admin.php?p=order&id={$order.oid}">{if $order.status == "Abandon"}A{$order.oid}{else}{$order.order_num}{/if}</a></td>
						<td class="text-left"><a href="admin.php?p=order&id={$order.oid}">{$order.fname|gs} {$order.lname|gs}</a></td>
						<td class="text-left">{$order.status_date_formatted}</td>
						<td class="text-left">
							{if $order.fulfillment_status == 'partial'}
								{trans key="orders.fulfillment_options.partial"}
							{elseif $order.fulfillment_status == 'completed'}
								{trans key="orders.fulfillment_options.completed"}
							{else}
								{trans key="orders.fulfillment_options.pending"}
							{/if}
						</td>
						<td class="text-left">
							{if $order.status == 'New'}
								{trans key="orders.status_options.New"}
							{elseif $order.status == 'Abandon'}
								{trans key="orders.status_options.Abandon"}
							{elseif $order.status == 'Process'}
								{trans key="orders.status_options.Process"}
							{elseif $order.status == 'Backorder'}
								{trans key="orders.status_options.Backorder"}
							{elseif $order.status == 'Canceled'}
								{trans key="orders.status_options.Canceled"}
							{elseif $order.status == 'Completed'}
								{trans key="orders.status_options.Completed"}
							{elseif $order.status == 'Failed'}
								{trans key="orders.status_options.Failed"}
							{/if}
						</td>
						<td class="text-left">
							{if $order.payment_status == 'Pending'}
								{trans key="orders.payment_status_options.Pending"}
							{elseif $order.payment_status == 'Partial'}
								{trans key="orders.payment_status_options.Partial"}
							{elseif $order.payment_status == 'Received'}
								{trans key="orders.payment_status_options.Received"}
							{elseif $order.payment_status == 'Refunded'}
								{trans key="orders.payment_status_options.Refunded"}
							{elseif $order.payment_status == 'Declined'}
								{trans key="orders.payment_status_options.Declined"}
							{elseif $order.payment_status == 'Canceled'}
								{trans key="orders.payment_status_options.Canceled"}
							{elseif $order.payment_status == 'Error'}
								{trans key="orders.payment_status_options.Error"}
							{elseif $order.payment_status == 'Auth Expired'}
								{trans key="orders.payment_status_options.Auth_Expired"}
							{elseif $order.payment_status == 'Reversed'}
								{trans key="orders.payment_status_options.Reversed"}
							{elseif $order.payment_status == 'Review'}
								{trans key="orders.payment_status_options.Review"}
							{/if}
						</td>
						<td class="text-right">{$order.total_amount_without_gift_cert|price}</td>
						<td class="list-actions text-right">
							<a href="admin.php?p=order&id={$order.oid}"><span class="icon icon-edit"></span>{trans key="common.edit"}</a>
							<a href="admin.php?p=order_invoice&id={$order.oid}" target="_blank"><span class="glyphicon glyphicon-print icon-print"></span>{trans key="common.print"}</a>
							<a href="#" class="remove-order" data-id="{$order.oid}" data-nonce="{$delete_nonce}"><span class="icon icon-delete"></span>{trans key="common.delete"}</a>
						</td>
					</tr>
				{/foreach}
				</tbody>
			</table>
			<div class="custom-pager">
				{if $paginator->prevPage}
					<a role="button" class="btn btn-default" href="admin.php?p=orders&amp;page={$paginator->prevPage}"><span class="icon icon-pagination-left"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-left"></span></button>
				{/if}

				{if $paginator->nextPage}
					<a role="button" class="btn btn-default" href="admin.php?p=orders&amp;page={$paginator->nextPage}"><span class="icon icon-pagination-right"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-right"></span></button>
				{/if}

				<span class="text">{$paginator->itemsFrom}-{$paginator->itemsTo} <span class="of">{trans key="common.of"}</span>  {$paginator->itemsCount}</span>
			</div>
		</div>
	</div>
{else}
	<div class="container-fluid">
		<div class="col-xs-12">
			{trans key="orders.no_orders"}
		</div>
	</div>
{/if}

{include file="templates/pages/order/modal-export.html"}
{include file="templates/pages/order/modal-delete.html"}
{include file="templates/pages/order/modal-bulk-update-status.html"}
{include file="templates/pages/order/modal-bulk-fulfillment.html"}

<script type="text/javascript" src="content/admin/scripts/orders.js?v={$APP_VERSION}"></script>
