<div class="modal fade" id="modal-order-process-payment" tabindex="-1" role="dialog" aria-labelledby="modal-order-process-payment-label" aria-hidden="true">
	<div class="modal-dialog">
		<form action="admin.php?p=order&id={$id}&mode=process-payment" method="POST" role="form" name="form-order-process-payment">
			<input type="hidden" name="nonce" value="{$nonce}">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-order-process-payment-label">{trans key="orders.process_payment"}</h4>
				</div>
				<div class="modal-body">
					{form form=$processPaymentForm}
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary">{trans key="common.update"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>