<div class="modal fade" id="modal-order-vparcel-refund" tabindex="-1" role="dialog" aria-labelledby="modal-order-vparcel-refund-label" aria-hidden="true">
    <div class="modal-dialog">
        <form method="POST" role="form" name="order-vparcel-refund">
            <input type="hidden" name="nonce" value="{$ordervparcelRefundNonce}">
            <input type="hidden" name="pic_number" value="">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
                    <h4 class="modal-title" id="modal-order-vparcel-refund-label">{trans key="orders.refund_shipping_label"}</h4>
                </div>
                <div class="modal-body">
                    <div class="col-xs-12">
                        {trans key="orders.refund_wish_shipping"}
                        <br><br>
                        {trans key="orders.note_shipping_label"}.
                    </div>
                    <div class="col-xs-12">
                        <label>{trans key="orders.refund_reason"}:</label>
                        <input style="width: 400px" type="text" name="refund_reason" value="">
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-primary">{trans key="common.refund"}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>