<div class="modal fade" id="modal-fund-doba-order" tabindex="-1" role="dialog" aria-labelledby="modal-fund-doba-order-label" aria-hidden="true">
	<div class="modal-dialog">
		<form method="POST" role="form" name="form-fund-doba-order" autocomplete="off">
			<input type="hidden" name="doba_order_id" value="{$order.doba_order_id|gs}">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-fund-doba-order-label">{trans key="orders.fund_doba_order"}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group field-text col-xs-12 ">
						<label for="field-doba-cvv2">{trans key="orders.cvv2_for_doba"}</label>
						<input class="form-control field-doba-cvv2" style="max-width: 75px;" type="text" id="field-doba-cvv2" name="cvv2" value="">
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary">{trans key="common.save"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>