<div class="modal fade" id="modal-order-stamps" tabindex="-1" role="dialog" aria-labelledby="modal-order-stamps-label" aria-hidden="true">
	<div class="modal-dialog">
		<form action="admin.php?p=order_stamps&mode=get-rates" method="POST" role="form" name="form-order-stamps">
			<input type="hidden" name="id" value="{$id}">
			<input name="stamps_label_unique_id" type="hidden" value="">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-order-stamps-label">{trans key="orders.stamps_com_shipping_label"}</h4>
				</div>
				<div class="modal-body">
					<div id="stamps-get-rates-panel">
						{form form=$orderStampsForm}
					</div>
					<div id="stamps-generate-label-panel">
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary get-rates-button">Get Rates</button>
						<button type="submit" class="btn btn-primary generate-label-button" style="display: none;">{trans key="orders.generate_shipping_label"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>