<div class="modal fade" id="modal-order-add-fulfillment" tabindex="-1" role="dialog" aria-labelledby="modal-order-add-fulfillment" aria-hidden="true">
	<div class="modal-dialog">
		<form action="admin.php?p=order&mode=add-fulfillment&id={$id|gs}" method="POST" role="form" name="form-order-add-fulfillment">
			<input type="hidden" name="nonce" value="{$nonce}">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-order-add-fulfillment-label">{trans key="orders.fulfill_line_items"}</h4>
				</div>
				<div class="modal-body">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>{trans key="orders.product"}</th>
								<th>{trans key="orders.fulfill_items"}</th>
								<th>{trans key="orders.quantity"}</th>
							</tr>
						</thead>
						{foreach from=$shipments item="shipment"}
							{assign var="shipmentFirstItem" value=true}
							{foreach from=$fulfillment_items item="fulfillmentItem"}
								{if $shipment.id == $fulfillmentItem.shipmentId}
									{if $shipmentFirstItem}
										<tr>
											<td colspan="3">
												<strong>{trans key="orders.shipment"} # {$shipment.num} - {$shipment.shipping_cm_name|htmlspecialchars}</strong> ({$shipment.fulfillment_status})
											</td>
										</tr>
										{assign var="shipmentFirstItem" value=false}
									{/if}
									<tr>
										<td>{$fulfillmentItem.title}</td>
										<td class="text-center">{$fulfillmentItem.quantity}</td>
										<td><input type="text" name="quantity[{$fulfillmentItem.lineItemId}]" min="0" max="{$fulfillmentItem.quantity}" pattern="\d+" value="{$fulfillmentItem.quantity}" style="max-width: 50px;padding: 0 5px;"{if !$allowPartialFulfillment} readonly="readonly"{/if}></td>
									</tr>
								{/if}
							{/foreach}
						{/foreach}
					</table>
					{if $vparcelEnabled && count($orderVparcelLabels) > 0}
						<div class="form-group field-checkbox">
							{foreach from=$orderVparcelLabels item="activeLabel"}
								<div class="col-xs-12">
									<label for="vparcel_label_{$activeLabel.slid}">
										<input type="radio" id="vparcel_label_{$activeLabel.slid}" name="vparcel_label" value="{$activeLabel.slid}"> Shipping Label: {$activeLabel.tracking_number|gs} - {$activeLabel.date_created}
									</label>
								</div>
							{/foreach}
							<div class="col-xs-12">
								<label for="vparcel_label_none">
									<input type="radio" id="vparcel_label_none" name="vparcel_label" value="0" checked> Custom Tracking / No Tracking
								</label>
							</div>
						</div>
					{elseif $stampsEnabled && count($activeStampsLabels) > 0}
					<div class="form-group field-checkbox">
					{foreach from=$activeStampsLabels item="activeLabel"}
					<div class="col-xs-12">
						<label for="stamps_label_{$activeLabel.olid}">
							<input type="radio" id="stamps_label_{$activeLabel.olid}" name="stamps_label" value="{$activeLabel.olid}"> Shipping Label: {$activeLabel.tracking_number|gs} - {$activeLabel.date_created}
						</label>
					</div>
					{/foreach}
					<div class="col-xs-12">
						<label for="stamps_label_none">
							<input type="radio" id="stamps_label_none" name="stamps_label" value="0" checked> Custom Tracking / No Tracking
						</label>
					</div>
					</div>
					{elseif $endiciaEnabled && count($orderEndiciaLabels)}
					<div class="form-group field-checkbox">
					{foreach from=$orderEndiciaLabels item="activeLabel"}
					<div class="col-xs-12">
						<label for="endicia_label_{$activeLabel.slid}">
							<input type="radio" id="endicia_label_{$activeLabel.slid}" name="endicia_label" value="{$activeLabel.slid}"> Shipping Label: {$activeLabel.tracking_number|gs} - {$activeLabel.date_created}
						</label>
					</div>
					{/foreach}
					<div class="col-xs-12">
						<label for="endicia_label_none">
							<input type="radio" id="endicia_label_none" name="endicia_label" value="0" checked> Custom Tracking / No Tracking
						</label>
					</div>
					</div>
					{/if}
					<div class="form-group field-text col-sm-6 col-xs-12 ">
						<label for="field-tracking_number">{trans key="orders.tracking_number_optional"}</label>
						<input class="form-control field-tracking_number"  id="field-tracking_number" name="tracking_number">
					</div>
					<div class="form-group field-select col-sm-6 col-xs-12 ">
						<label for="field-tracking_company">{trans key="orders.tracking_company"}</label>
						<select class="form-control field-tracking_company"  id="field-tracking_company" name="tracking_company">
							<option value="UPS">UPS</option>
							<option value="USPS">USPS</option>
							<option value="FedEx">FedEx</option>
							<option value="CanadaPost">CanadaPost</option>
							<option value="Other">Other</option>
						</select>
					</div>
					<div class="col-xs-12">
						<hr style="margin-top: 0">
					</div>
					<div class="form-group field-checkbox col-xs-12 col-md-6">
						<label for="field-send_email_fulfillment" >
							<input class="field-send_email" type="checkbox" id="field-send_email_fulfillment" name="send_email" checked="checked">
							{trans key="orders.notify_customer"}
						</label>
					</div>
					<div class="form-group field-checkbox col-xs-12 col-md-6">
						<label for="field-complete_order_fulfillment" >
							<input class="field-complete_order_fulfillment" type="checkbox" id="field-complete_order_fulfillment" name="complete_order" checked="checked">
							{trans key="orders.complete_order"}
						</label>
					</div>
					{if $showCapture || $order.payment_method_type == 'custom'}
					<div class="form-group field-checkbox col-sm-6 col-xs-12 clear-both">
						<label for="field-capture_payment_fulfillment" >
							<input class="field-capture_payment_fulfillment" type="checkbox" id="field-capture_payment_fulfillment" name="capture_payment" checked="checked">
							{trans key="orders.capture_payment"}
						</label>
					</div>
					{if $supportsPartialCapture}
					<div class="form-group field-text col-sm-6 col-xs-12 hidden">
						<label for="field-capture_amount_fulfillment" >{trans key="orders.amount_to_capture"}</label>
						<input class="form-control field-capture_amount_fulfillment" type="text" id="field-capture_amount_fulfillment" name="capture_amount" value="{$capturableAmount}">
					</div>
					{else}
						<input type="hidden" id="field-capture_amount_fulfillment" name="capture_amount" value="{$capturableAmount}">
					{/if}
					{/if}
					{if $isBongoOrder}
					<div class="form-group field-checkbox col-sm-6 col-xs-12 clear-both">
						<label for="field-send_bongo_tracking" >
							<input class="field-send_bongo_tracking" type="checkbox" id="field-send_bongo_tracking" name="send_bongo_tracking" checked="checked">
							{trans key="orders.send_tracking_to_bongo"}
						</label>
					</div>
					{/if}
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary">{trans key="common.save"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>