<div class="modal fade" id="modal-orders-bulk-update-status" tabindex="-1" role="dialog" aria-labelledby="modal-orders-bulk-update-status-label" aria-hidden="true">
	<div class="modal-dialog">
		<form action="admin.php?p=order&mode=bulk-update" method="POST" role="form" name="form-orders-bulk-update-status">
			<input type="hidden" name="nonce" value="{$update_nonce}">
			<input type="hidden" name="ids" value="">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-orders-bulk-update-status-label">{trans key="orders.update_status"}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group col-xs-12">
						<label><input type="radio" name="updateMode" value="selected" checked> {trans key="orders.update_only_selected"}</label>
						<label><input type="radio" name="updateMode" value="search"> {trans key="orders.update_all" itemsCount=$itemsCount}</label>
					</div>
					{form form=$updateStatusForm}
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary">{trans key="common.update"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>