<div class="modal fade" id="modal-order-endicia" tabindex="-1" role="dialog" aria-labelledby="modal-order-endicia-label" aria-hidden="true">
	<div class="modal-dialog">
		<form method="POST" role="form">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-order-endicia-label">{trans key="orders.endicia_shipping_label"}</h4>
				</div>
				<div class="modal-body">
					{form form=$orderEndiciaForm}
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>