<div class="modal fade" id="modal-add-order-note" tabindex="-1" role="dialog" aria-labelledby="modal-add-order-note-label" aria-hidden="true">
	<div class="modal-dialog">
		<form action="admin.php?p=order&id={$id}&mode=add-note" method="POST" role="form" name="form-add-order-note">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-add-order-note-label">{trans key="orders.add_order_note"}</h4>
				</div>
				<div class="modal-body">
					{form form=$addOrderNoteForm}
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary" data-action="action-add-order-note">{trans key="common.save"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>