<div class="modal fade" id="modal-order-vparcel-view" tabindex="-1" role="dialog" aria-labelledby="modal-order-vparcel-view-label" aria-hidden="true">
    <div class="modal-dialog">
        <form method="POST" role="form">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
                    <h4 class="modal-title" id="modal-order-vparcel-view-label">{trans key="orders.vipparcel_shipping_label"}</h4>
                </div>
                <div class="modal-body">
                    <iframe id="vparcelLabelIframe" name="vparcelLabelIframe" scrolling="no" style="overflow:hidden;border:none;width:100%;height:600px;"></iframe>
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-primary print-button">Print</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>