<div class="modal fade" id="modal-credit-card-data" tabindex="-1" role="dialog" aria-labelledby="modal-credit-card-data-label" aria-hidden="true">
	<div class="modal-dialog">
		<form method="POST" role="form" name="form-credit-card-data" autocomplete="off">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-credit-card-data-label">{trans key="orders.stored_credit_card"}</h4>
				</div>
				<div class="modal-body">
					<div id="stored-credit-card-form" class="clearfix">
						<div class="form-group field-text col-sm-6 col-xs-12 ">
							<label for="field-ccs-username" >{trans key="orders.username"}</label>
							<input class="form-control field-ccs-username" type="text" id="field-ccs-username" name="ccs-username" value="">
						</div>
						<div class="form-group field-text col-sm-6 col-xs-12 ">
							<label for="field-ccs-password" >{trans key="orders.password"}</label>
							<input class="form-control field-ccs-password" type="password" id="field-ccs-password" name="ccs-password" value="">
						</div>
					</div>
					<div id="stored-credit-card-panel" style="display: none;" class="col-xs-12">
						<div id="cc_details"></div>
						<a id="remove-credit-card" href="#" class="btn" style="margin-top: 10px;">{trans key="orders.remove_stored_credit_card"}</a>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary">{trans key="common.view"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>