<div class="modal fade" id="modal-orders-bulk-fulfillment" tabindex="-1" role="dialog" aria-labelledby="modal-orders-bulk-fulfillment-label" aria-hidden="true">
	<div class="modal-dialog">
		<form action="admin.php?p=order&mode=bulk-fulfillment" method="POST" role="form" name="form-orders-bulk-fulfillment">
			<input type="hidden" name="nonce" value="{$nonce}">
			<input id="bulk-fulfillment-ids" type="hidden" name="ids" value="">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-orders-bulk-fulfillment-label">{trans key="orders.fulfill_orders"}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group col-xs-12">
						<label><input type="radio" name="form-orders-fulfill-mode" value="selected" checked> {trans key="orders.fulfill_only_selected"}</label>
						<label><input type="radio" name="form-orders-fulfill-mode" value="search"> {trans key="orders.fulfill_all" itemsCount=$itemsCount}</label>
					</div>
					<div class="form-group field-checkbox col-xs-12 col-md-6">
						<label for="field-send_email_fulfillment" >
							<input class="field-send_email" type="checkbox" id="field-send_email_fulfillment" name="send_email" checked="checked">
							{trans key="orders.notify_customers"}
						</label>
					</div>
					<div class="form-group field-checkbox col-xs-12 col-md-6">
						<label for="field-complete_order_fulfillment" >
							<input class="field-complete_order_fulfillment" type="checkbox" id="field-complete_order_fulfillment" name="complete_order" checked="checked">
							{trans key="orders.complete_orders"}
						</label>
					</div>
					<div class="form-group field-checkbox col-sm-6 col-xs-12 clear-both">
						<label for="field-capture_payment_fulfillment" >
							<input class="field-capture_payment_fulfillment" type="checkbox" id="field-capture_payment_fulfillment" name="capture_payment" checked="checked">
							{trans key="orders.capture_payment"}
						</label>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary">{trans key="common.save"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>