<div class="modal fade" id="modal-orders-export" tabindex="-1" role="dialog" aria-labelledby="modal-orders-export-label" aria-hidden="true">
	<div class="modal-dialog">
		<form action="admin.php?p=order&mode=export" method="POST" role="form" name="form-order-export">
			<input type="hidden" name="nonce" value="{$export_nonce}">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-orders-export-label">{trans key="orders.export_orders"}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group col-xs-12">
						<label><input type="radio" name="form-orders-export-mode" value="selected" checked> {trans key="orders.export_only_selected"}</label>
						<label><input type="radio" name="form-orders-export-mode" value="search"> {trans key="orders.export_all" itemsCount=$itemsCount}</label>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary">{trans key="common.export"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>