<div class="container-fluid">
	<div class="pull-right text-right">
		<a class="btn btn-primary pull-right" href="" data-role="button" data-action="action-product-attribute-add" style="margin-left:5px;">{trans key="product.attribute.add_attribute"}</a>
		{if $globalAttributesForm}
			<div class="btn-group pull-right">
				<a class="btn" href="#" data-role="button" data-action="action-global-attribute-add">{trans key="product.attribute.add_global_attribute"}</a>
			</div>
		{/if}
	</div>
</div>
<div>
	<div class="col-xs-12">
		<table class="table-product-attributes table table-striped">
			<thead>
				<th>{trans key="product.attribute.attributes_table.name"}</th>
				<th>{trans key="product.attribute.attributes_table.caption"}</th>
				<th>{trans key="product.attribute.attributes_table.priority"}</th>
				<th>{trans key="product.attribute.attributes_table.type"}</th>
				<th>{trans key="product.attribute.attributes_table.variant"}</th>
				<th>{trans key="product.attribute.attributes_table.active"}</th>
				<th>{trans key="product.attribute.attributes_table.required"}</th>
				<th>&nbsp;</th>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>

<script type="text/javascript"><!--
var productAttributes = {if $field.value}{$field.value}{else}[]{/if};
--></script>
