<div class="container-fluid" id="product-shipping-methods">
	<table class="table-product-shipping-methods table table-striped">
		<thead>
			<th style="width:50%;">{trans key="product.shipping_methods.shipping_method_name"}</th>
			<th style="width:50%;">{trans key="product.shipping_methods.shipping_method_price"}</th>
		</thead>
		<tbody>
			{foreach from=$field.value.shippingMethods item="shippingMethod"}
				<tr>
					<td>
						<label>
							<input type="checkbox" class="shipping-method-active" value="1" data-ssid="{$shippingMethod.ssid}" name="shipping_method[{$shippingMethod.ssid}][active]"{if $shippingMethod.is_price == "Yes"} checked="checked"{/if}> &nbsp;
							{$shippingMethod.carrier_name}
						</label>
					</td>
					<td class="input-container">
						<input style="width:100px;" type="text" class="form-control" name="shipping_method[{$shippingMethod.ssid}][price]" value="{if $shippingMethod.price <> ''}{$shippingMethod.price|gn}{/if}">
					</td>
				</tr>
			{/foreach}
		</tbody>
	</table>
</div>
