<div class="container-fluid">
	<div class="pull-right text-right">
		<a class="btn btn-primary pull-right" href="" data-role="button" data-action="action-product-promotion-add">{trans key="product.promotions.add_product_promtion"}</a>
	</div>
	<div class="col-xs-12">
		<table class="table-product-promotions table table-striped">
			<thead>
				<th>{trans key="product.promotions.promotion_list_table.promo_product"}</th>
				<th>{trans key="product.promotions.promotion_list_table.free_quantity"}</th>
				<th>{trans key="product.promotions.promotion_list_table.max_free_quantity"}</th>
				<th>{trans key="product.promotions.promotion_list_table.charge_shipping"}</th>
				<th>&nbsp;</th>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>

<script type="text/javascript"><!--
var productPromotions = {if $field.value}{$field.value}{else}[]{/if};
--></script>
