<form name="frmProduct" action="admin.php?p=product&mode={$mode|gs}{if $id}&id={$id|gs}{/if}" role="form" method="post" data-auto-validate="1" autocomplete="off" enctype='multipart/form-data'>
	<input type="hidden" name="nonce" id="nonce" value="{$nonce}">

	<div id="content-header">
		<div class="container-fluid">
			<h1 class="col-xs-6">
				{if $mode == 'add'}{trans key="common.add"}{else}{trans key="common.editing"}{/if} {trans key="product.product"} <span class="title">{$title}</span>
				{if $mode != 'add'}<a href="{$GlobalHttpUrl}/{$productUrl}" target="_blank" class="hidden-xs hidden-sm"><span style="font-size:13px;font-weight: normal;padding-left: 10px;">{trans key='product.view_product'}</span></a>{/if}
			</h1>
			<div class="col-xs-6 pull-right text-right btn-toolbar">
				<a href="admin.php?p=products">{trans key="common.cancel"}</a>
				{if $qrCodesActive && $mode == 'update'}
					<a href="#" class="btn" data-action="generate-qr-code">{trans key="product.qr_code"}</a>
				{/if}
				{if $widgetsActive && $mode == 'update'}
					<a href="#" class="btn" data-action="generate-widgets">{trans key="product.widgets"}</a>
				{/if}
				<button class="btn btn-primary">{trans key="common.save"}</button>
			</div>
		</div>
		<hr class="clearfix">
	</div>

	{form form=$form}
</form>

<script type="text/javascript" src="content/admin/scripts/products.js?v={$APP_VERSION}"></script>

{if $mode == 'update'}
	<div id="product-feature-edit-wrapper"></div>
	{include file="templates/pages/product/modal-attribute.html"}
	{include file="templates/pages/product/modal-variant.html"}
	{include file="templates/pages/product/modal-assign-features-groups.html"}
	{include file="templates/pages/product/modal-product-feature.html"}
	{include file="templates/pages/product/modal-promotion.html"}
	{include file="templates/pages/product/modal-quantity-discount.html"}
	{if $qrCodesActive}
		{include file="templates/pages/product/modal-qr-code.html"}
	{/if}
	{if $widgetsActive}
		{include file="templates/pages/product/modal-widgets.html"}
	{/if}
	{if $globalAttributesForm}
		{include file="templates/pages/product/modal-global-attributes.html"}
	{/if}
	<script type="text/javascript" src="content/admin/scripts/products-attributes.js?v={$APP_VERSION}"></script>
	<script type="text/javascript" src="content/admin/scripts/products-variants.js?v={$APP_VERSION}"></script>
	<script type="text/javascript" src="content/admin/scripts/products-page-features.js?v={$APP_VERSION}"></script>
	{if $qrCodesActive}
		<script type="text/javascript" src="content/admin/scripts/products-qr-code.js?v={$APP_VERSION}"></script>
	{/if}
	{if $widgetsActive}
		<script type="text/javascript" src="content/admin/scripts/products-widgets.js?v={$APP_VERSION}"></script>
	{/if}
	<script type="text/javascript" src="content/admin/scripts/products-promotions.js?v={$APP_VERSION}"></script>
	<script type="text/javascript" src="content/admin/scripts/products-quantity-discounts.js?v={$APP_VERSION}"></script>
	<script type="text/javascript"><!--
		var productProductsFeaturesGroupsAvailable = {if $productProductsFeaturesGroupsAvailable}{$productProductsFeaturesGroupsAvailable}{else}[]{/if};
	--></script>
{/if}
<script type="text/javascript" src="content/admin/scripts/products-families.js?v={$APP_VERSION}"></script>
<script type="text/javascript" src="content/admin/scripts/products-recurring.js?v={$APP_VERSION}"></script>

<script type="text/javascript"><!--
var productsSeoUrlSettings = {$seoUrlSettings};
--></script>