<div class="container-fluid">
	<div class="col-xs-12 col-md-5">
		<label for="product-families-available">{trans key="product.available_groups"}</label>
		<select multiple id="product-families-available" class="form-control" name="">
			{foreach from=$field.value.families item="family"}
				{if !isset($field.value.selected[$family.pf_id])}
					<option value="{$family.pf_id}">{$family.name|htmlspecialchars}</option>
				{/if}
			{/foreach}
		</select>
	</div>
	<div class="col-xs-12 col-md-2 text-center">
		&nbsp;<br>
		<button class="btn" id="btn-add-family">{trans key="common.add"}</button>
		<button class="btn" id="btn-remove-family">{trans key="common.remove"}</button>
	</div>
	<div class="col-xs-12 col-md-5">
		<label for="product-families-assigned">{trans key="product.assigned_groups"}</label>
		<select multiple id="product-families-assigned" class="form-control">
			{foreach from=$field.value.families item="family"}
				{if isset($field.value.selected[$family.pf_id])}
					<option value="{$family.pf_id}">{$family.name|htmlspecialchars}</option>
				{/if}
			{/foreach}
		</select>
		<input type="hidden" name="product_families" id="product_families_selected" value="">
	</div>
</div>