<div class="container-fluid">
	<div class="pull-right text-right">
		<a class="btn btn-primary pull-right" href="" data-role="button" data-action="action-product-quantity-discount-add">{trans key="product.quantity_discounts.add_quantity_discount"}</a>
	</div>
	<div class="col-xs-12">
		<table class="table-product-quantity-discounts table table-striped">
			<thead>
				<th>{trans key="product.quantity_discounts.table.range_min"}</th>
				<th>{trans key="product.quantity_discounts.table.range_max"}</th>
				<th>{trans key="product.quantity_discounts.table.discount"}</th>
				<th>{trans key="product.quantity_discounts.table.free_shipping"}</th>
				<th>{trans key="product.quantity_discounts.table.apply_to_wholesale"}</th>
				<th>{trans key="product.quantity_discounts.table.is_active"}</th>
				<th>&nbsp;</th>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>

<script type="text/javascript"><!--
var productQuantityDiscounts= {if $field.value}{$field.value}{else}[]{/if};
--></script>
