<div class="container-fluid">
	<div class="pull-right text-right">
		<a class="btn btn-primary pull-right" href="" data-role="button" data-action="action-product-variant-add">{trans key="product.variants.add_variant"}</a>
	</div>
</div>
<div>
	<div class="col-xs-12">
		<table class="table-product-variants table table-striped">
			<thead>
				<th>{trans key="product.variants.variant_list_table.product_subid"}</th>
				<th>{trans key="product.variants.variant_list_table.product_sku"}</th>
				<th>{trans key="product.variants.variant_list_table.stock"}</th>
				<th>{trans key="product.variants.variant_list_table.stock_warning"}</th>
				<th>{trans key="product.variants.variant_list_table.options"}</th>
				<th>{trans key="product.variants.variant_list_table.active"}</th>
				<th>&nbsp;</th>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>

<script type="text/javascript"><!--
var productVariants = {if $field.value}{$field.value}{else}[]{/if};
--></script>
