<div class="container-fluid">
	<div class="pull-right text-right">
		<a class="btn btn-primary pull-right" href="" data-role="button" data-action="action-product-feature-group-assign">{trans key="product.features.assign_feature_group"}</a>
	</div>
</div>
&nbsp;
<div  class="products-features-container"></div>

<script type="text/javascript"><!--
var productProductsFeaturesGroupsAssigned = {if $field.value}{$field.value}{else}[]{/if};
--></script>
