<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-12 col-sm-6">{trans key="product.products"}</h1>
		<div class="col-xs-12 col-sm-6 pull-right text-right btn-toolbar">
			<a href="admin.php?p=product&mode=insert" class="btn btn-primary pull-right">{trans key="product.add_product"}</a>
			<div class="btn-group pull-right">
				{if $hasTestProducts}
					<a href="#" class="btn remove-test-products hidden-xs hidden-sm" data-nonce="{$delete_nonce}">Remove Test Products</a>
				{/if}
				<a href="admin.php?p=bulk_products" class="btn">{trans key="common.import"}</a>
			</div>
		</div>
	</div>
	<hr class="clearfix">
</div>

{include file="templates/pages/product/modal-export.html"}
{include file="templates/pages/product/modal-delete.html"}
{include file="templates/pages/product/modal-edit.html"}
{include file="templates/pages/product/modal-copy.html"}

{** search form starts here **}
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<form role="form" name="form-products-search" id="form-products-search" method="get">
				<input type="hidden" name="p" value="products">
				{form form=$searchForm}
				<div class="col-sm-12">
					<input type="submit" value="Search" class="btn btn-default">
				</div>
			</form>
		</div>
	</div>
</div>
<hr>
{** search form ends here **}

<div class="container-fluid">
	<div class="col-xs-6 col-md-6">
		{if $products}
			<div class="btn-group">
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						{trans key="common.bulk_actions"}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#" data-toggle="modal" data-target="#modal-products-export">{trans key="common.export"}</a></li>
						<li><a href="#" data-toggle="modal" data-target="#modal-products-delete">{trans key="common.delete"}</a></li>
						<li><a href="#" data-toggle="modal" data-target="#modal-products-edit">{trans key="common.edit"}</a></li>
					</ul>
				</div>
			</div>
		{/if}
	</div>
</div>

{if $products}
	&nbsp;
	<div class="container-fluid">
		<div class="col-xs-12">
			<table class="table table-striped table-list table-list-products" data-search-form="#form-products-search" data-order-by-field="orderBy" data-order-dir-field="orderDir">
				<thead>
					<tr>
						<th style="width:50px;"><input type="checkbox" id="selectAll"></th>
						<th class="text-left sortable" data-sort-field="product_id" style="min-width:120px;">{trans key="product.product_list_table.id"}</th>
						<th class="text-left sortable" data-sort-field="title">{trans key="product.product_list_table.title"}</th>
						<th class="text-left sortable" data-sort-field="is_visible" style="min-width:80px;">{trans key="product.product_list_table.visible"}</th>
						<th class="text-right sortable" data-sort-field="price" style="min-width:80px;">{trans key="product.product_list_table.price"}</th>
						<th class="text-right" style="min-width:80px;">{trans key="product.product_list_table.stock"}</th>
						<th style="min-width:130px;"></th>
					</tr>
				</thead>
				<tbody>
				{foreach from=$products item="product"}
					<tr>
						<td><input type="checkbox" class="checkbox-product" name="row[{$product.pid}]" value="{$product.pid}"></td>
						<td class="text-left"><a href="admin.php?p=product&mode=update&id={$product.pid}">{$product.product_id}</a></td>
						<td class="text-left"><a href="admin.php?p=product&mode=update&id={$product.pid}">{$product.title}</a></td>
						<td class="text-left">{$product.is_visible}</td>
						<td class="text-right">{$product.price|price}</td>
						<td class="text-right">{if $product.inventory_control != 'No'}{$product.stock}{else}{trans key="product.product_list_table.na"}{/if}</td>
						<td class="list-actions text-right">
							<a href="admin.php?p=product&mode=update&id={$product.pid}"><span class="icon icon-edit"></span>{trans key="common.edit"}</a>
							<a href="#" data-id="{$product.pid}" data-toggle="modal" data-target="#modal-products-copy" class="copy-product"><span class="icon icon-copy"></span>{trans key="common.copy"}</a>
							{if $widgetsActive}
								<a href="#" class="products-list-widget"  data-action="generate-widgets" product_id={$product.pid}><span class="icon icon-upload"></span>{trans key="product.widgets"}</a>
							{/if}
							<a href="#" data-id="{$product.pid}" data-nonce="{$delete_nonce}" class="delete-product"><span class="icon icon-delete"></span>{trans key="common.delete"}</a>
						</td>
					</tr>
				{/foreach}
				</tbody>
			</table>
			<div class="custom-pager">
				{if $paginator->prevPage}
					<a role="button" class="btn btn-default" href="admin.php?p=products&amp;page={$paginator->prevPage}"><span class="icon icon-pagination-left"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-left"></span></button>
				{/if}

				{if $paginator->nextPage}
					<a role="button" class="btn btn-default" href="admin.php?p=products&amp;page={$paginator->nextPage}"><span class="icon icon-pagination-right"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-right"></span></button>
				{/if}

				<span class="text">{$paginator->itemsFrom}-{$paginator->itemsTo} <span class="of">{trans key="common.of"}</span>  {$paginator->itemsCount}</span>
			</div>
		</div>
	</div>
{else}
	<div class="container-fluid">
		<div class="col-xs-12">
			{trans key="product.no_products"}
		</div>
	</div>
{/if}

<iframe id="export-iframe" style="display:none;width:1px;height:1px;" src=""></iframe>

<script type="text/javascript" src="content/admin/scripts/products.js?v={$APP_VERSION}"></script>
{if $widgetsActive}
	{include file="templates/pages/product/modal-widgets.html"}
	<script type="text/javascript" src="content/admin/scripts/products-widgets.js?v={$APP_VERSION}"></script>
{/if}
