<div class="modal fade" id="modal-product-promotion" tabindex="-1" role="dialog" aria-labelledby="modal-product-promotion-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-product-promotion" method="post">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-product-promotion-label">{trans key="product.promotions.product_promotion"}</h4>
				</div>
				<div class="modal-body">
					{form form=$productPromotionForm}
					<div class="form-group col-xs-12 ">
						<label for="field-promotion-product-search-str">{trans key="product.promotions.please_enter_name_id"}</label>
						<input id="field-promotion-product-search-str" class="form-control" type="text" value="">
						<select id="field-promotion-product-search-result" class="form-control" size="10" style="height:100px;" name="promotion[gift_pid]"></select>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary" data-action="modal-active">{trans key="common.save_changes"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>