<div class="modal fade" id="modal-qr-code" tabindex="-1" role="dialog" aria-labelledby="modal-qr-code-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-qr-code" method="post">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-qr-code-label">{trans key="product.qr_code"}</h4>
				</div>
				<div class="modal-body">
					{form form=$qrCodeForm}
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary" data-action="modal-active">{trans key="common.generate"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="modal fade" id="modal-qr-code-generated" tabindex="-1" role="dialog" aria-labelledby="modal-qr-code-generated-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-qr-code" method="post">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-qr-code-generated-label">{trans key="product.qr_code_preview"}</h4>
				</div>
				<div class="modal-body">
					<div class="text-center col-xs-12">
						<img src="" class="preview">&nbsp;
						<div class="link">
							<a href="" target="_blank"></a>
						</div>
					</div>
					<iframe style="display:none;"></iframe>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary">{trans key="common.download"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>