<div class="modal fade" id="modal-products-copy" tabindex="-1" role="dialog" aria-labelledby="modal-products-copy-label" aria-hidden="true">
    <div class="modal-dialog">
        <form action="admin.php?p=product&mode=copy" method="POST" role="form" name="form-products-copy">
            <input type="hidden" name="nonce" value="{$copy_nonce}">
            <input type="hidden" name="copy[id]" id="productId" value="">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
                    <h4 class="modal-title" id="modal-products-copy-label">{trans key="product.copy_product"}</h4>
                </div>
                <div class="modal-body">
                    <div class="clearfix col-xs-12">
                        <div class="form-group">
                            <select id="selected-fields" name="copy[selected-fields][]" multiple="multiple" data-title="fields" data-source="admin.php?p=product&mode=get-product-fields"
                                    data-value="field" data-text="label"></select>
                        </div>
                    </div>
                    <div class="products-copy-related">
                        {form form=$copyForm}
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-primary" data-action="action-products-copy">{trans key="common.copy"}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<script type="text/javascript" src="content/vendors/jquery/dualbox/dual-list-box.js?v={$APP_VERSION}"></script>
<script type="text/javascript">
    $('#selected-fields').DualListBox(null, {$copyProductFields});
</script>