<div class="modal fade" id="modal-product-feature" tabindex="-1" role="dialog" aria-labelledby="modal-product-feature-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-product-feature" method="post">
			<input type="hidden" name="nonce" id="nonce" value="{$nonce}">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-product-feature-label">Family Title</h4>
				</div>
				<div class="modal-body">
					{form form=$productsFeatures}
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="button" class="btn btn-primary" data-dismiss="modal" data-action="modal-active">{trans key="common.continue"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
