<div class="modal fade" id="modal-products-edit" tabindex="-1" role="dialog" aria-labelledby="modal-products-edit-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-products-edit">
			<input type="hidden" name="nonce" value="{$edit_nonce}">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-products-edit-label">{trans key="product.edit_products"}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group col-xs-12">
						<label><input type="radio" name="form-products-edit-mode" value="selected" checked> {trans key="product.edit_selected_products"}</label>
						<label><input type="radio" name="form-products-edit-mode" value="search"> {trans key="product.edit_all_products_from_search"} ({trans key="product.all_found"} {$itemsCount})</label>
					</div>
					<div class="products-edit-related">
						{form form=$editForm}
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary edit-bulk-product" data-action="action-products-edit">{trans key="product.bulk_update"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>