<div class="modal fade" id="modal-products-export" tabindex="-1" role="dialog" aria-labelledby="modal-products-export-label" aria-hidden="true">
	<div class="modal-dialog">
		<form action="admin.php?p=product&mode=export" method="POST" role="form" name="form-products-export">
			<input type="hidden" name="nonce" value="{$export_nonce}">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-products-export-label">{trans key="product.export_products"}</h4>
				</div>
				<div class="modal-body">
					<div class="clearfix">
					<div class="form-group col-xs-12">
						<label><input type="radio" name="form-products-export-mode" value="selected" checked> {trans key="product.export_selected_products"}</label>
						<label><input type="radio" name="form-products-export-mode" value="all"> {trans key="product.export_all_products_from_search"} ({trans key="product.all_found"} {$itemsCount})</label>
					</div>
					<div class="col-xs-12">
						<hr style="margin:0px 0px 10px 0px;">
						<a href="#" id="modal-products-export-check-all">{trans key="product.export_check_all"}</a> /
						<a href="#" id="modal-products-export-uncheck-all">{trans key="product.export_uncheck_all"}</a>
					</div>
					</div>
					<div class="products-export-fields">
						{form form=$exportForm}
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary" data-action="action-products-export">{trans key="common.export"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>