<div class="modal fade" id="modal-widgets" tabindex="-1" role="dialog" aria-labelledby="modal-widgets-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-widgets" method="post">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-widgets-label">{trans key="widgets.widgets"}</h4>
				</div>
				<div class="modal-body">
					{form form=$widgetsForm}
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary" data-action="modal-active">{trans key="common.generate"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="modal fade" id="modal-widgets-generated" tabindex="-1" role="dialog" aria-labelledby="modal-widgets-generated-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-widgets-preview" method="post">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-qr-code-generated-label">{trans key="widgets.widgets_preview"}</h4>
				</div>
				<div class="modal-body">
					<div class="text-center col-xs-12">
						<textarea style="width:100%;min-height:400px;" class="preview"></textarea>
					</div>
				</div>
				<div class="modal-footer">
				</div>
			</div>
		</form>
	</div>
</div>