<div class="modal fade" id="modal-product-global-attributes" tabindex="-1" role="dialog" aria-labelledby="modal-product-global-attributes-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-product-global-attributes" method="post">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-product-global-attributes-label">{trans key="product.attribute.add_global_attributes"}</h4>
				</div>
				<div class="modal-body">
					{form form=$globalAttributesForm}
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary" data-action="modal-active">{trans key="common.save_changes"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
