<div class="modal fade" id="modal-product-attribute" tabindex="-1" role="dialog" aria-labelledby="modal-product-attribute-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-product-attribute" method="post">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-product-attribute-label">{trans key="product.product_attribute"}</h4>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<div class="col-xs-12">
							You are allowed to enter an unlimited number of attributes to any product.
							Attributes allow you to give your customer's choices for any product.
							Examples include size, color, or type.
						</div>
						&nbsp;
					</div>
					{form form=$productAttributeForm}
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary" data-action="modal-active">{trans key="common.save_changes"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
