<div class="container-fluid">
	<div class="pull-right text-right">
		<a class="btn btn-primary pull-right" href="" data-role="button" data-action="action-category-product-feature-group-assign" style="margin-left:5px;">{trans key="features_groups.assign_product_features_groups"}</a>
	</div>
</div>
<div class="col-xs-12">
	<table class="table-category-products-features-groups table table-striped">
		<thead>
			<th class="col-xs-4 col-md-5 col-lg-6">{trans key="features_groups.category_products_features_groups_table.feature_group_name"}</th>
			<th class="col-xs-3">{trans key="features_groups.category_products_features_groups_table.feature_group_id"}</th>
			<th class="col-xs-3 col-md-2 col-lg-1">{trans key="features_groups.category_products_features_groups_table.priority"}</th>
			<th class="col-xs-2">&nbsp;</th>
		</thead>
		<tbody></tbody>
	</table>
</div>

<div class="none-product-group-features container-fluid">
	{trans key="features_groups.category_no_products_features_groups"}
</div>

<script type="text/javascript" src="content/admin/scripts/categories-products-features-groups.js?v={$APP_VERSION}"></script>
<script type="text/javascript"><!--
var categoryProductsFeaturesGroupsAssigned = {if $field.value}{$field.value}{else}[]{/if};
--></script>
