<form name="form-category" action="admin.php?p=category" role="form" method="post" data-auto-validate="1" enctype='multipart/form-data'>
	<input type="hidden" name="nonce" id="nonce" value="{$nonce}">

	<div id="content-header">
		<div class="container-fluid">
			<h1 class="col-xs-6">
				{if $mode == 'add'}{trans key="categories.add_category"}{else}{trans key="common.editing"}{/if} {trans key="categories.category"} <span class="title">{$title}</span>
				{if $mode != 'add'}<a href="{$GlobalHttpUrl}/{$categoryUrl}" target="_blank"><span style="font-size:13px;font-weight: normal;padding-left: 10px;">{trans key='categories.view_category'}</span></a>{/if}
				{if $mode != 'add' && $isDoba}
					<a href=""><img src="images/admin/doba-logo.jpg" style="height:20px;;"></a>
				{/if}
			</h1>
			<div class="col-xs-6 pull-right text-right btn-toolbar">
				<a href="admin.php?p=categories">{trans key="common.cancel"}</a>
				<button class="btn btn-primary">{trans key="common.save"}</button>
			</div>
		</div>
		<hr class="clearfix">
	</div>

	{form form=$form}
</form>

<script type="text/javascript" src="content/admin/scripts/categories.js?v={$APP_VERSION}"></script>

{if $mode == 'update'}
	{include file="templates/pages/category/modal-assign-features-groups.html"}
	<script type="text/javascript" src="content/vendors/jquery/dualbox/dual-list-box.js?v={$APP_VERSION}"></script>
	<script type="text/javascript"><!--
		var categoryProductsFeaturesGroupsAvailable = {if $categoryProductsFeaturesGroupsAvailable}{$categoryProductsFeaturesGroupsAvailable}{else}[]{/if};
	--></script>
{/if}

<script type="text/javascript"><!--
var categoriesSeoUrlSettings = {$seoUrlSettings};
--></script>