<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="categories.categories"}</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
			<a href="admin.php?p=category&mode=insert" class="btn btn-primary pull-right">{trans key="categories.add_category"}</a>
			<div class="btn-group pull-right">
				<a class="btn" href="admin.php?p=bulk_categories">{trans key="common.import"}</a>
			</div>
		</div>
	</div>
	<hr class="clearfix">
</div>

{if $categories}
	<div class="container-fluid">
		<div class="col-xs-12 col-md-6">
			<div class="btn-group">
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						{trans key="common.bulk_actions"}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#" data-toggle="modal" data-target="#modal-categories-export">{trans key="common.export"}</a></li>
						<li><a href="#" data-toggle="modal" data-target="#modal-categories-delete">{trans key="common.delete"}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	&nbsp;
	<div class="container-fluid">
		<div class="col-xs-12 col-md-12">
			<table class="table table-striped">
				<thead>
					<tr>
						<th style="width:50px;"><input type="checkbox" id="selectAll"></th>
						<th>{trans key="categories.title"}</th>
						<th>{trans key="categories.category_id"}</th>
						<th>{trans key="categories.visible"}</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{foreach from=$categories item="category"}
						<tr>
							<td><input type="checkbox" class="checkbox-category" name="row[{$category.cid}]" value="{$category.cid}"></td>
							<td style="padding-left:{math equation="(x-1)*20+8" x=$category.level}px;"><a href="admin.php?p=category&mode=update&id={$category.cid}">{$category.name|htmlspecialchars}</a></td>
							<td><a href="admin.php?p=category&mode=update&id={$category.cid}">{$category.key_name|htmlspecialchars}</a></td>
							<td>{$category.is_visible}</td>
							<td class="list-actions text-right">
								<a href="admin.php?p=category&mode=update&id={$category.cid}"><span class="icon icon-edit"></span>{trans key="common.edit"}</a>
								<a href="#" class="remove-category" data-id="{$category.cid}" data-nonce="{$delete_nonce}"><span class="icon icon-delete"></span>{trans key="common.delete"}</a>
							</td>
						</tr>
					{/foreach}
				</tbody>
			</table>
		</div>
	</div>
{else}
	<div class="container-fluid">
		<div class="col-xs-12">
			{trans key="categories.no_categories"}
		</div>
	</div>
{/if}

{include file="templates/pages/category/modal-export.html"}
{include file="templates/pages/category/modal-delete.html"}

<script type="text/javascript" src="content/admin/scripts/categories.js?v={$APP_VERSION}"></script>