<div class="modal fade" id="modal-assign-feature-groups" tabindex="-1" role="dialog" aria-labelledby="modal-assign-feature-groups" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-feature-group-features" method="post">
			<input type="hidden" id="field-cid_products_features_groups" value="{$id}">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-assign-feature-groups-label">{trans key="features_groups.assign_product_features_groups"}</h4>
				</div>
				<div class="modal-body">
					<div class="clearfix col-xs-12">
						<div class="form-group">
							<select id="select-category-products-features-group-features" multiple="multiple" name="copy[selected-fields][]"></select>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary" data-action="modal-active">{trans key="common.save_changes"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>