<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="file_manager.file_manager"}</h1>
	</div>
	<hr class="clearfix">
</div>

<div class="container-fluid">
	<div class="col-xs-12">
		<h3>{trans key="file_manager.not_available"}</h3>
	</div>
</div>