<form id="form-filemanager" name="form-filemanager" action="admin.php?p=filemanager&folder={$currentFolder|gs}&file={$currentFile|gs}&action=edit" role="form" method="post" data-auto-validate="1">
	<input type="hidden" name="nonce" value="{$nonce}">
<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="file_manager.file_manager"}</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
			<a href="admin.php?p=filemanager&folder={$currentFolder|gs}">{trans key="common.cancel"}</a>
			<button type="submit" class="btn btn-primary">{trans key="common.save"}</button>
		</div>
	</div>
	<hr class="clearfix">
</div>

<div class="container-fluid">
	<div class="col-xs-12">
		<a href="admin.php?p=filemanager&folder=/"><span class="icon icon-folder"></span>[cart root]</a> /
		{$assign var="current_path" value="/"}
		{foreach from=$parentFolderParts item="parentFolderPart"}
			{assign var="current_path" value="$current_path/$parentFolderPart"}
			<a href="admin.php?p=filemanager&folder={$current_path}">{$parentFolderPart|gs}</a> /
		{/foreach}
	</div>
	<div class="col-xs-12 col-md-12">
		<h2>Editing {$currentFile|gs}</h2>
	</div>
	{form form=$form}
</div>

<script type="text/javascript" src="content/admin/scripts/file-manager.js?v={$APP_VERSION}"></script>
