<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="file_manager.file_manager"}</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
			<div class="btn-group pull-right">
				<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modal-file-manager-upload">{trans key="file_manager.upload_file"}</a>
			</div>
		</div>
	</div>
	<hr class="clearfix">
</div>

{include file="templates/pages/file-manager/modal-upload.html"}

<div class="container-fluid">
	<div class="col-xs-12">
		<a href="admin.php?p=filemanager&folder=/"><span class="icon icon-folder"></span>[cart root]</a> /
		{$assign var="current_path" value="/"}
		{foreach from=$parentFolderParts item="parentFolderPart"}
			{assign var="current_path" value="$current_path/$parentFolderPart"}
			<a href="admin.php?p=filemanager&folder={$current_path}">{$parentFolderPart|gs}</a> /
		{/foreach}
	</div>
	<div class="col-xs-12 col-md-12">
		<table class="table table-striped">
			<thead>
			<tr>
				<th style="width: 15px;"></th>
				<th>{trans key="file_manager.filename"}</th>
				<th>{trans key="file_manager.created"}</th>
				<th>{trans key="file_manager.size"}</th>
				<th class="text-right">{trans key="file_manager.permissions"}</th>
				<th></th>
			</tr>
			</thead>
			<tbody>{if $parentFolder}
			<tr>
				<td><a href="admin.php?p=filemanager&folder={$parentFolder|gs}"><span class="icon icon-folder"></span></a></td>
				<td><a href="admin.php?p=filemanager&folder={$parentFolder|gs}">..</a></td>
				<td></td>
				<td></td>
				<td></td>
				<td class="list-actions text-right">
					<a href="admin.php?p=filemanager&folder={$parentFolder|gs}"><span class="icon icon-folder"></span>{trans key="file_manager.open"}</a>
				</td>
			</tr>{/if}
			{foreach from=$folders item="folder"}
				<tr>
					<td><a href="admin.php?p=filemanager&folder={$currentFolder|gs}{$folder.name|gs}"><span class="icon icon-folder"></span></a></td>
					<td><a href="admin.php?p=filemanager&folder={$currentFolder|gs}{$folder.name|gs}">{$folder.name|gs}</a></td>
					<td>{$folder.created_at}</td>
					<td></td>
					<td class="text-right">{$folder.permissions}</td>
					<td class="list-actions text-right">
						<a href="admin.php?p=filemanager&folder={$currentFolder|gs}{$folder.name|gs}"><span class="icon icon-folder"></span>{trans key="file_manager.open"}</a>
					</td>
				</tr>
			{/foreach}
			{foreach from=$files item="file"}
				<tr>
					<td>
						{if $file.isImage}
							<a href="admin.php?p=filemanager&folder={$currentFolder|gs}&file={$file.name|gs}&action=preview"><span class="icon icon-image-preview"></span></a>
						{else}
							<a href="admin.php?p=filemanager&folder={$currentFolder|gs}&file={$file.name|gs}&action=edit"><span class="icon icon-document"></span></a>
						{/if}
					</td>
					<td>
						{if $file.isImage}
						<a href="admin.php?p=filemanager&folder={$currentFolder|gs}&file={$file.name|gs}&action=preview">{$file.name|gs}</a>
						{else}
						<a href="admin.php?p=filemanager&folder={$currentFolder|gs}&file={$file.name|gs}&action=edit">{$file.name|gs}</a>
						{/if}
					</td>
					<td>{$file.created_at}</td>
					<td>{$file.size} KB</td>
					<td class="text-right">{$file.permissions}</td>
					<td class="list-actions text-right">
						{if $file.isImage}
							<a href="admin.php?p=filemanager&folder={$currentFolder|gs}&file={$file.name|gs}&action=preview"><span class="icon icon-image-preview"></span>{trans key="file_manager.preview"}</a>
						{else}
							<a href="admin.php?p=filemanager&folder={$currentFolder|gs}&file={$file.name|gs}&action=edit"><span class="icon icon-edit"></span>Edit</a>
						{/if}
						<a href="#" onclick="return FileManager.removeFile('{$currentFolder|gs}', '{$file.name|gs}', '{$delete_nonce}');"><span class="icon icon-delete"></span>{trans key="file_manager.delete"}</a>
					</td>
				</tr>
			{/foreach}
			</tbody>
		</table>
	</div>
</div>

<script type="text/javascript">
	var currentFolder = "{$currentFolder|gs}";
</script>
<script type="text/javascript" src="content/admin/scripts/file-manager.js?v={$APP_VERSION}"></script>
