<div class="modal fade" id="modal-file-manager-upload" tabindex="-1" role="dialog" aria-labelledby="modal-file-manager-upload-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-file-manager-upload" action="admin.php?p=filemanager&folder={$currentFolder|gs}&action=upload" method="post" enctype='multipart/form-data'>
			<input type="hidden" name="nonce" value="{$upload_nonce}">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-file-manager-upload-label">{trans key="file_manager.upload_file"}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						{form form=$uploadForm}
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary" data-action="action-file-manager-upload">{trans key="file_manager.upload"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>