<form id="form-filemanager" name="form-filemanager" action="admin.php?p=filemanager&folder={$currentFolder|gs}&file={$currentFile|gs}&action=edit" role="form" method="post" data-auto-validate="1">
	<input type="hidden" name="nonce" value="{$nonce}">
	<div id="content-header">
		<div class="container-fluid">
			<h1 class="col-xs-6">{trans key="file_manager.file_manager"}</h1>
			<div class="col-xs-6 pull-right text-right btn-toolbar">
				<a href="admin.php?p=filemanager&folder={$currentFolder|gs}" class="btn btn-primary">{trans key="common.back"}</a>
			</div>
		</div>
		<hr class="clearfix">
	</div>

	<div class="container-fluid">
		<div class="col-xs-12">
			<a href="admin.php?p=filemanager&folder=/"><span class="icon icon-folder"></span>[cart root]</a> /
			{$assign var="current_path" value="/"}
			{foreach from=$parentFolderParts item="parentFolderPart"}
				{assign var="current_path" value="$current_path/$parentFolderPart"}
				<a href="admin.php?p=filemanager&folder={$current_path}">{$parentFolderPart|gs}</a> /
			{/foreach}
		</div>
		<div class="col-xs-12">
			<h2>{trans key="file_manager.previewing"} {$currentFile|gs}</h2>
		</div>
		<div class="col-xs-12 text-center">
			<img class="img-responsive img-thumbnail" src="{$GlobalHttpsUrl}{$currentFolder|gs}{$currentFile|gs}" style="margin: 0 auto;">
		</div>
		<div class="col-xs-12 text-center" style="margin-top: 15px;">
			{trans key="file_manager.image_url"}: <a href="{$GlobalHttpUrl}{$currentFolder|gs}{$currentFile|gs}" target="_blank">{$GlobalHttpUrl}{$currentFolder|gs}{$currentFile|gs}</a>
		</div>
		{if $fileSize}
		<div class="col-xs-12 text-center" style="margin-top: 15px;">
			{trans key="file_manager.filesize"}: {$fileSize} KB
		</div>
		{/if}
		{if $width and $height}
		<div class="col-xs-12 text-center" style="margin-top: 15px;">
			{trans key="file_manager.width"}: {$width}px
		</div>
		<div class="col-xs-12 text-center">
			{trans key="file_manager.height"}: {$height}px
		</div>
		{/if}
	</div>

	<script type="text/javascript" src="content/admin/scripts/file-manager.js?v={$APP_VERSION}"></script>
