<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">Filtered Menu</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
			<a href="admin.php?p=apps">{trans key="common.cancel"}</a>
		</div>
	</div>
	<hr class="clearfix">
</div>
<div class="container-fluid">
	<div class="col-xs-12">
		<img src="images/admin/filtered-menu.jpg" align="right" style="padding:0px 20px 20px 0px;">
		<h2 style="margin-top:0px;">About Filtered Menu</h2>
		<p>
			Now your visitors can easily find what they are looking for using our Filtered Menu.
			This navigation is seen on all the top stores including Amazon, eBay, NewEgg and more.
			Using this tool, customers can filter their search results by product characters like Product Type, Color, Price, Size and more.
			You have complete control over the filters and how they appear to your customers.
		</p>
		<p>
			Filtered menus allow you to create a better user experience for your customers and help them find the product(s) they are looking for.
			In order to setup a filtered menu you have to:
			<ul style="">
				<li>Create a "Product Feature Group" and add "Product Features" to it</li>
				<li>Assign group(s) to the category where you want to display a "Refine by" filter</li>
				<li>Assign group(s) to the product(s) and enter values for product features</li>
			</ul>
		</p>
		<p>
			<a href="admin.php?p=features_groups" class="btn">Setup Filtered Menus</a>
		</p>
		<hr>
		<p>
			<strong>In order to cancel your subscription to this feature please contact your software vendor.</strong>
		</p>
	</div>
</div>