<p>
	Now your visitors can easily find what they are looking for using our Filtered Menu.
	This navigation is seen on all the top stores including Amazon, eBay, NewEgg and more.
	Using this tool, customers can filter their search results by product characters like Product Type, Color, Price, Size and more.
	You have complete control over the filters and how they appear to your customers.
</p>
{if $canActivate}

{else} 
	{if !$is_label}
		<p><strong>Please note: this is paid feature. In order to activate it, please agree with our terms &amp; conditions by checking box below and clicking "Confirm Subscription" button.</strong></p>
		<h2>Subscribe</h2>
		<table class="table table-striped table-list table-list-app-subscribe">
			<thead>
				<tr>
					<th>Product</th>
					<th class="text-right">Subtotal</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>"Filtered Menu" feature monthly subscription</td>
					<td class="text-right">$9.99 / mo</td>
				</tr>
			</tbody>
		</table>
	</div><!--note - finishes parent col-12 -->

	<div class="hidden-xs col-md-6"></div>

	<form name="form-app-subscribe" method="post">
		<input type="hidden" name="app_key" value="filtered-menu">
		<div class="form-group field-checkbox field-checkbox-space col-xs-12 col-md-3">
			<label for="field-tc_agree">
				<input id="field-tc_agree" class="field-tc_agree" type="checkbox" value="1" name="tc_agree">
				Please check to agree with our <a href="http://www.pinnaclecart.com/terms/" target="_blank">terms and conditions</a>
			</label>
		</div>

		<div class="col-xs-12 col-md-3 text-right">
			&nbsp;<br>
			<button class="btn btn-primary btn-subscribe">Confirm Subscription</button>
		</div>
	</form>

	<div><!--note - restarts parent col-12 -->

	{else}
		This feature is not available under your license agreement.
		Please contact your software vendor.
	{/if}
{/if}