<p>{trans key="mailchimp.mailchimp_desc_1"}</p>
<p>{trans key="mailchimp.mailchimp_desc_2"}</p>
<p>{trans key="mailchimp.mailchimp_desc_3"}</p>
<p>{trans key="mailchimp.mailchimp_desc_4"}</p>
<p><a href="http://eepurl.com/L3JD" target="_blank" class="btn btn-primary">{trans key="mailchimp.mailchimp_desc_5"}</a></p>