<div class="modal fade" id="modal-add-mailchimp" tabindex="-1" role="dialog" aria-labelledby="modal-add-mailchimp-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-add-mailchimp" action="admin.php?p=avalara&mode=tax-codes" method="post">
			<input type="hidden" name="nonce" value="{$addNonce}">

			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-add-mailchimp-label">{trans key="mailchimp.add_avalara_tax_code"}</h4>
				</div>
				<div class="modal-body" style="overflow-y:auto;max-height: 300px;margin-bottom: 30px;">
					<div class="col-xs-12">
						<div class="tree">
							<ul></ul>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary" data-action="action-save-tax-code-avalara">{trans key="common.save"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>