<form name="form-order-form" action="admin.php?p=order_form" role="form" method="post" data-auto-validate="1" autocomplete="off" enctype='multipart/form-data'>
	<input type="hidden" name="nonce" id="nonce" value="{$nonce}">
	<input type="hidden" name="mode" value="{$mode|gs}">
	{if $id}<input type="hidden" name="id" value="{$id|gs}">{/if}

	<div id="content-header">
		<div class="container-fluid">
			<h1 class="col-xs-6">
				{if $mode == 'add'}{trans key="common.add"}{else}{trans key="common.edit"}{/if} {trans key="order_forms.order_form"} <span class="title">{$title}</span>
				{if $mode != 'add'}<a href="{$GlobalHttpsUrl}/{$orderFormUrl}" target="_blank"><span style="font-size:13px;font-weight: normal;padding-left: 10px;">{trans key='order_forms.view_order_form'}</span></a>{/if}
			</h1>
			<div class="col-xs-6 pull-right text-right btn-toolbar">
				<a href="admin.php?p=order_forms">{trans key="common.cancel"}</a>
				<button class="btn btn-primary">{trans key="common.save"}</button>
				{if $mode == 'update'}
				<input type="hidden" id="copy-field-{$id}" name="copy-field-{$id}" value="{$GlobalHttpsUrl}/{$orderFormUrl}" />
				<button class="btn copy-button" ofid="{$id}">{trans key="order_forms.click_link_to_clipboard"}</button>
				<button onclick="return removeOrderForm({$id|gs}, '{$delete_nonce}');" class="btn">{trans key="common.delete"}</button>
				{/if}
			</div>
		</div>
		<hr class="clearfix">
	</div>

	{form form=$form}
</form>

{include file="templates/pages/order-form/modal-product.html"}

<script type="text/javascript" src="content/admin/scripts/order-forms.js?v={$APP_VERSION}"></script>
<script type="text/javascript"><!--
var orderFormSeoUrlSettings = {$seoUrlSettings};
var ofid = {if $id} {$id} {else} 0 {/if};
--></script>