<div class="container-fluid">
	<div class="pull-left text-left">
		<div class="form-group field-text col-sm-12 col-xs-12 ">
			<label for="search-product">{trans key="order_forms.add_product"}</label>
			<input style="width: 300px;" id="search-product" placeholder="{trans key='order_forms.add_product_placeholder'}" class="form-control field-search-product" type="text" value="" name="search-product" />
		</div>
	</div>
	<div class="col-xs-12">
		<h2>{trans key='order_forms.products_in_order_form'}</h2>
		<table class="table-order-form-products table table-striped">
			<thead>
				<th>{trans key="order_forms.products.product_id"}</th>
				<th>{trans key="order_forms.products.product_name"}</th>
				<th>{trans key="order_forms.products.attributes"}</th>
				<th>{trans key="order_forms.products.type"}</th>
				<th>{trans key="order_forms.products.price"}</th>
				<th>{trans key="order_forms.products.quantity"}</th>
				<th>&nbsp;</th>
			</thead>
			<tbody>
			{if $field.value.products}
				{foreach from=$field.value.products item="one"}
					<tr id="product-row-{$one.ofpid}">
						<td>{$one.product_id|htmlspecialchars}</td>
						<td>{$one.title|htmlspecialchars}</td>
						<td>{$one.attributes_list|htmlspecialchars|nl2br}</td>
						<td>{$one.product_type|htmlspecialchars}</td>
						<td>{$one.price|price}</td>
						<td><input price="{$one.price}" class="product-quantity" style="width: 50px;" type="text" name="quantity[{$one.ofpid}]" value="{$one.quantity}" /></td>
						<td class="list-actions text-right">
							<a href="#" onclick="return removePid({$one.ofpid});"><span class="icon icon-delete"></span>{trans key="common.delete"}</a>
							<a target="_blank" href="admin.php?p=product&mode=update&id={$one.pid}"><span class="icon icon-edit"></span>{trans key="common.edit"}</a>
						</td>
					</tr>
				{/foreach}
			{/if}
			</tbody>
			<tfoot>
				<tr id="product-row-totals">
					<td class="text-right" colspan="4"><b>{trans key="order_forms.totals"}</b></td>
					<td id="price-total"></td>
					<td id="quantity-total"></td>
					<td></td>
					<td></td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>