<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="order_forms.order_forms"}</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
			<a href="admin.php?p=order_form&mode=add" class="btn btn-primary pull-right">{trans key="order_forms.add_order_form"}</a>
		</div>
	</div>
	<hr class="clearfix">
</div>

{** search form starts here **}
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<form role="form" name="form-order-forms-search" id="form-order-forms-search" method="get">
				<input type="hidden" name="p" value="order_forms">
				{form form=$searchForm}
				<div class="col-sm-12">
					<input type="submit" value="Search" class="btn btn-default">
				</div>
			</form>
		</div>
	</div>
</div>
<hr>
{** search form ends here **}

{include file="templates/pages/order-form/modal-delete.html"}

	<div class="container-fluid">
		<div class="col-xs-12 col-md-6">
			{if $orderForms}
			<div class="btn-group">
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						{trans key="common.bulk_actions"}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#" data-toggle="modal" data-target="#modal-order-forms-delete">{trans key="common.delete"}</a></li>
					</ul>
				</div>
			</div>
			{/if}
		</div>
	</div>
	&nbsp;

{if $orderForms}
	<div class="container-fluid">
		<div class="col-xs-12 col-md-12">
			<table class="table table-striped">
				<thead>
					<tr>
						<th style="width:50px;"><input type="checkbox" id="selectAll"></th>
						<th class="text-left">{trans key="order_forms.fields.name"}</th>
						<th class="text-left">{trans key="order_forms.fields.active"}</th>
						<th class="text-right">{trans key="order_forms.fields.products"}</th>
					</tr>
				</thead>
				<tbody>
					{foreach from=$orderForms item="one"}
						<tr>
							<td><input type="checkbox" class="checkbox-order-form" name="row[{$one.ofid}]" value="{$one.ofid}"></td>
							<td class="text-left"><a href="admin.php?p=order_form&mode=update&id={$one.ofid}">{$one.name|htmlspecialchars}</a></td>
							<td class="text-left">{$one.active|htmlspecialchars}</td>
							<td class="text-right"><a href="admin.php?p=order_form&mode=update&id={$one.ofid}">{$one.count_products}</a></td>
							<td class="list-actions text-right">
								<a target="_blank" href="{$GlobalHttpsUrl}/{$one.url}"><span class="glyphicon glyphicon-new-window"></span>{trans key="order_forms.launch_preview"}</a>
								<a href="#" class="copy-button" ofid="{$one.ofid}"><span class="glyphicon glyphicon-link"></span>{trans key="order_forms.click_link_to_clipboard"}</a>
								<input type="hidden" id="copy-field-{$one.ofid}" name="copy-field-{$one.ofid}" value="{$GlobalHttpsUrl}/{$one.url}" />
								<a href="admin.php?p=order_form&mode=update&id={$one.ofid}"><span class="icon icon-edit"></span>{trans key="common.edit"}</a>
								<a href="#" onclick="return removeOrderForm({$one.ofid}, '{$delete_nonce}');"><span class="icon icon-delete"></span>{trans key="common.delete"}</a>
							</td>
						</tr>
					{/foreach}
				</tbody>
			</table>
			<div class="custom-pager">
				{if $paginator->prevPage}
					<a role="button" class="btn btn-default" href="admin.php?p=order_forms&amp;page={$paginator->prevPage}"><span class="icon icon-pagination-left"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-left"></span></button>
				{/if}

				{if $paginator->nextPage}
					<a role="button" class="btn btn-default" href="admin.php?p=order_forms&amp;page={$paginator->nextPage}"><span class="icon icon-pagination-right"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-right"></span></button>
				{/if}

				<span class="text">{$paginator->itemsFrom}-{$paginator->itemsTo} <span class="of">{trans key="common.of"}</span>  {$paginator->itemsCount}</span>
			</div>
		</div>
	</div>
{else}
	<div class="container-fluid">
		<div class="col-xs-12">
			{trans key="order_forms.none_found"}
		</div>
	</div>
{/if}

<script type="text/javascript" src="content/admin/scripts/order-forms.js?v={$APP_VERSION}"></script>