<div class="modal fade" id="modal-order-forms-delete" tabindex="-1" role="dialog" aria-labelledby="modal-order-forms-delete-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-order-forms-delete">
			<input type="hidden" name="nonce" value="{$delete_nonce}">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-order-forms-delete-label">{trans key="order_forms.delete_order_forms"}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group col-xs-12">
						<label><input type="radio" name="form-order-forms-delete-mode" value="selected" checked> {trans key="order_forms.delete_selected_order_forms"}</label>
						<label><input type="radio" name="form-order-forms-delete-mode" value="search"> {trans key="order_forms.delete_all_order_forms"} (all found {$itemsCount})</label>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="button" class="btn btn-primary" data-action="action-order-forms-delete">{trans key="common.delete"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>