<div class="modal fade" id="modal-order-forms-search" tabindex="-1" role="dialog" aria-labelledby="modal-order-forms-search-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-order-forms-search" method="get">
			<input type="hidden" name="p" value="order_forms">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-order-forms-search-label">{trans key="order_forms.search_order_forms"}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group col-xs-6">
						<label>{trans key="order_forms.fields.name"}</label>
						<input class="form-control" type="text" name="searchParams[name]" value="{$searchParams.name|htmlspecialchars}">
					</div>
					<div class="form-group col-xs-6">
						<label>{trans key="order_forms.products.product_name"}</label>
						<input class="form-control" type="text" name="searchParams[product_name]" value="{$searchParams.product_name|htmlspecialchars}">
					</div>
					<div class="form-group col-xs-6">
						<label>{trans key="order_forms.products.product_id"}</label>
						<input class="form-control" type="text" name="searchParams[product_id]" value="{$searchParams.product_id|htmlspecialchars}">
					</div>
					<div class="form-group field-select col-xs-6">
						<label for="field-status">{trans key="order_forms.status"}</label>
						<select id="field-status" class="form-control field-status" name="searchParams[visibility]">
							<option {if $searchParams.visibility == 'all'} selected="selected" {/if} value="all">{trans key="order_forms.visibility.display_all"}</option>
							<option {if $searchParams.visibility == 'visible'} selected="selected" {/if} value="visible">{trans key="order_forms.visibility.display_visible"}</option>
							<option {if $searchParams.visibility == 'invisible'} selected="selected" {/if} value="invisible">{trans key="order_forms.visibility.display_invisible"}</option>
						</select>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary">{trans key="common.search"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>