<script language="JavaScript" type="text/javascript">
var google_conversion_id = xxxxx;
var google_conversion_language = "en_US";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_value = '{$order_amount|string_format:"%.2f"}';
var google_conversion_label = "Purchase";
</script>
<script language="JavaScript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<img height="1" width="1" border="0" src="https://www.googleadservices.com/pagead/conversion/xxxxx/?label=xxxxxx&amp;guid=ON&amp;script=0"/>
</noscript>
