<div class="page-home wrap {class file=$smarty.template editable=true}">
	<div class="custom-home">
	
		{if $current_page === 'home'}
	    	    <div class="clearfix">
			{assign var="imageId" value="image-home"}
			{if $designImages.$imageId}
			    <img class="image-home {class file=$smarty.template editable=true}" src="{$designImages.$imageId.content}" alt="{$msg.images.imageHome|htmlspecialchars}"/>
			{/if}  
			<div id="image-promo">
			    {assign var='imageId' value='image-slogan'}
		    	    {if $designImages.$imageId}
		    		<img class="image-slogan {class file=$smarty.template editable=true}" src="{$designImages.$imageId.content}" alt="{$msg.images.imageSlogan|htmlspecialchars}"/>
		    	    {/if}
			</div>
		    </div>
		{/if}
		<h1>Featured Products</h1>
		{if !empty($products)}
			{include file='templates/pages/catalog/views/display.html'}
		{/if}
		<div class="clearfix"></div>
	</div>
</div>