<div class="page-subscribe wrap {class file=$smarty.template editable=true}">
	<h1>{$msg.newsletters.signup_title}</h1>
	<div class="spacer">
		{if $email_exists == "yes"}
			<p class="msg-error">{$msg.newsletters.email_exists}</p>
		{else}
			<p class="msg-notice">{$msg.newsletters.email_added}</p>
		{/if}
		<ul class="list">
			<li><a href="{$url_http}">{$msg.common.goto_home_page}</a></li>
		</ul>
	</div>
</div>