<div class="page-unsubscribe wrap {class file=$smarty.template editable=true}">
	<h1>{$msg.newsletters.cancel_subscription}</h1>
	<div class="spacer">
	{if $status_changed}
		<div class="msg-notice">{$msg.newsletters.subscription_updated}</div>
		<div>{$msg.common.thank_you_for_using_service}</div>
	{else}
		<div>{$msg.newsletters.cancel_note}</div>
		{if $action != ""}
			<div class="msg-error">{$msg.newsletters.unsubscribe_error}</div>
		{/if}
		
		<form onsubmit="return CheckUnsubscribe(this)" method="post" action="{$url_http}p=unsubscribe&amp;action=update">
			<div class="gap-top">
				<label for="cancel_email">{$msg.newsletters.type_your_email}</label><br/>
				<input id="cancel_email" maxlength="64" type="text" name="cancel_email" value="{$email|htmlspecialchars}" class="formControlText cancel-email" style="margin-top:4px;"/>
			</div>
			<div class="gap-top">
				<label>{$msg.newsletters.choose_subscription_to_cancel}</label>
				<div style="margin-top:4px;"><input id="receives_marketing" type="checkbox" name="receives_marketing" checked="checked"/> <label for="receives_marketing">{$msg.newsletters.receives_marketing}</label></div>
			</div>
			<div class="gap-top">
				{button class="button-unsubscribe" text=$msg.buttons.buttonUnsubscribe file=$smarty.template}
			</div>
		</form>
	{/if}
	
	</div>
	<ul class="list">
		<li><a href="{$url_http}">{$msg.common.goto_home_page}</a></li>
	</ul>
</div>