<form name="form-gift-cert" action="admin.php?p=gift_cert&mode={$mode|gs}{if $id}&id={$id|gs}{/if}" role="form" method="post" data-auto-validate="1" autocomplete="off" enctype='multipart/form-data'>
	<input type="hidden" name="nonce" value="{$nonce}">
	<input type="hidden" name="mode" value="{$mode}">

	<div id="content-header">
		<div class="container-fluid">
			<h1 class="col-xs-6">{if $mode == 'add'}{trans key="common.add"}{else}{trans key="common.edit"}{/if} {trans key="marketing.gift_certificate"}</h1>
			<div class="col-xs-6 pull-right text-right btn-toolbar">
				<a href="admin.php?p=gift_cert">{trans key="common.cancel"}</a>
				<button class="btn btn-primary">{trans key="common.save"}</button>
			</div>
		</div>
		<hr class="clearfix">
	</div>

	{form form=$form}
</form>

<script type="text/javascript" src="content/admin/scripts/gift-certs.js?v={$APP_VERSION}"></script>
