<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="marketing.gift_certificates"}</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
			{if $enable_gift_cert == 'Yes'}<a href="admin.php?p=gift_cert&mode=add" class="btn btn-primary pull-right">{trans key="marketing.add_gift_certificate"}</a>{/if}
			<div class="btn-group pull-right">
				<a href="#" data-target="#modal-settings" data-toggle="modal" class="btn">{trans key="marketing.advanced_settings"}</a>
			</div>
		</div>
	</div>
	<hr class="clearfix">
</div>

{include file="templates/pages/gift-cert/modal-delete.html"}
{include file="templates/pages/gift-cert/modal-search.html"}

	<div class="container-fluid">
{if $gift_certs}
		<div class="col-xs-12 col-md-6">
			<div class="btn-group">
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						{trans key="common.bulk_actions"}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#" data-toggle="modal" data-target="#modal-gift-cert-delete">{trans key="common.delete"}</a></li>
					</ul>
				</div>
			</div>
		</div>
{/if}
		<div class="col-xs-12 col-md-6 pull-right text-right">
			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-gift-cert-search">{trans key="common.search"}</button>
		</div>
	</div>

{if $gift_certs}
	<div class="container-fluid">
		<div class="col-xs-12">
			<table class="table table-striped">
				<thead>
				<tr>
					<th style="width:50px;"><input type="checkbox" id="selectAll"></th>
					<th>{trans key="marketing.gift_cert_list_table.name"}</th>
					<th>{trans key="marketing.gift_cert_list_table.email"}</th>
					<th>{trans key="marketing.gift_cert_list_table.voucher_number"}</th>
					{**<th>{trans key="marketing.gift_cert_list_table.gift_message"}</th>**}
					<th>{trans key="marketing.gift_cert_list_table.date_ordered"}</th>
					<th class="text-center">{trans key="marketing.gift_cert_list_table.balance"}</th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				{foreach from=$gift_certs item="gift_cert"}
					<tr>
						<td><input type="checkbox" class="checkbox-gift-cert" name="row[{$gift_cert.id}]" value="{$gift_cert.id}"></td>
						<td><a href="admin.php?p=gift_cert&mode=update&id={$gift_cert.id}">{$gift_cert.first_name|htmlspecialchars} {$gift_cert.last_name|htmlspecialchars}</a></td>
						<td>{$gift_cert.email|gs}</td>
						<td>{$gift_cert.voucher|gs}</td>
						{**<td>{$gift_cert.message|nl2br}</td>**}
						<td>{$gift_cert.created_date_formatted}</td>
						<td class="text-right">{$gift_cert.balance|price}</td>
						<td class="list-actions text-right">
							<a href="admin.php?p=gift_cert&mode=update&id={$gift_cert.id}"><span class="icon icon-edit"></span>{trans key="common.edit"}</a>
							<a href="#" onclick="return GiftCertificates.removeGiftCert({$gift_cert.id}, '{$delete_nonce}');"><span class="icon icon-delete"></span>{trans key="common.delete"}</a>
						</td>
					</tr>
				{/foreach}
				</tbody>
			</table>
			<div class="custom-pager">
				{if $paginator->prevPage}
					<a role="button" class="btn btn-default" href="admin.php?p=gift_cert&amp;page={$paginator->prevPage}"><span class="icon icon-pagination-left"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-left"></span></button>
				{/if}

				{if $paginator->nextPage}
					<a role="button" class="btn btn-default" href="admin.php?p=gift_cert&amp;page={$paginator->nextPage}"><span class="icon icon-pagination-right"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-right"></span></button>
				{/if}

				<span class="text">{$paginator->itemsFrom}-{$paginator->itemsTo} <span class="of">{trans key="common.of"}</span>  {$paginator->itemsCount}</span>
			</div>
		</div>
	</div>
{else}
	<div class="container-fluid">
		<div class="col-xs-12">
			{trans key="marketing.gift_certificate_no_records"}
		</div>
	</div>
{/if}

{include file="templates/pages/gift-cert/modal-settings.html"}
<script type="text/javascript" src="content/admin/scripts/gift-certs.js?v={$APP_VERSION}"></script>