<div class="modal fade" id="modal-gift-cert-delete" tabindex="-1" role="dialog" aria-labelledby="modal-gift-cert-delete-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-gift-cert-delete">
			<input type="hidden" name="nonce" value="{$delete_nonce}">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-gift-cert-delete-label">{trans key="marketing.delete_gift_certificates"}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group col-xs-12">
						<label><input type="radio" name="form-gift-cert-delete-mode" value="selected" checked> {trans key="marketing.delete_selected_gift_certificates"}</label>
						<label><input type="radio" name="form-gift-cert-delete-mode" value="search"> {trans key="marketing.delete_all_gift_certificates"} ({trans key="common.all"} {$itemsCount})</label>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="button" class="btn btn-primary" data-action="action-gift-cert-delete">{trans key="common.delete"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>g
</div>