<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">Final Steps</h4>
			</div>
			<div class="panel-body">
				<p><a href="admin.php?p=product&mode=insert" target="_blank" class="link-green">Click here</a> to add your first product</p>
				<p><a href="admin.php?p=category&mode=insert" target="_blank" class="link-green">Click here</a> to add your first category</p>
				<p>If you’re like to import your product database, <a href="admin.php?p=bulk_products" target="_blank" class="link-green">click here</a>.</p>
				<p>VIDEO: <a href="https://support.pinnaclecart.com/hc/en-us/articles/204956937-Bulk-Importing-Categories" target="_blank" class="link-green">Bulk adding your categories</a></p>
				<p>VIDEO: <a href="https://support.pinnaclecart.com/hc/en-us/articles/204941087-Bulk-Importing-Manufacturers" target="_blank" class="link-green">Bulk adding your manufacturers</a></p>
				<p>VIDEO: <a href="https://support.pinnaclecart.com/hc/en-us/articles/204187568-Bulk-Importing-Products-with-video-" target="_blank" class="link-green">Bulk adding your products</a></p>
				<p>Don't forget to <a href="admin.php?p=profile" target="_blank" class="link-green">update your admin profile</a>.</p>
				<p>Check out <a href="https://support.pinnaclecart.com/hc/en-us/articles/220026467-Bulk-importing-images-FTP-" target="_blank" class="link-green">this article</a> on bulk adding your product images.</p>
				<p>Have other questions about the cart? Check out our <a href="https://support.pinnaclecart.com/hc/en-us" target="_blank" class="link-green">help center</a>!</p>
			</div>
		</div>
	</div>
</div>