<div class="col-xs-6" style="padding: 0;">
	<div class="form-group field-select col-xs-6 col-md-8">
		<label for="field-doba_price_option">{trans key="apps.doba.pricing_options"}</label>
		<select class="form-control" id="field-doba_price_option" name="doba_price_option">
			<option value="item_price"{if $doba_price_option == 'item_price'} selected{/if}>{trans key="apps.doba.use_item_price"}</option>
			<option value="item_price_inc"{if $doba_price_option == 'item_price_inc'} selected{/if}>{trans key="apps.doba.increase_item_price"}</option>
			<option value="item_price_dec"{if $doba_price_option == 'item_price_dec'} selected{/if}>{trans key="apps.doba.decrease_item_price"}</option>
			<option value="msrp_price"{if $doba_price_option == 'msrp_price'} selected{/if}>{trans key="apps.doba.use_msrp"}</option>
			<option value="msrp_price_inc"{if $doba_price_option == 'msrp_price_inc'} selected{/if}>{trans key="apps.doba.increase_msrp"}</option>
			<option value="msrp_price_dec"{if $doba_price_option == 'msrp_price_dec'} selected{/if}>{trans key="apps.doba.decrease_msrp"}</option>
		</select>
	</div>
	<div class="form-group field-text col-xs-6 col-md-4" style="display: none;">
		<label for="field-doba_price_modifier">&nbsp;</label>
		<div class="input-group">
			<input class="form-control" id="field-doba_price_modifier" name="doba_price_modifier" value="{$doba_price_modifier}">
			<span class="input-group-addon">%</span>
		</div>
	</div>
</div>