<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="apps.doba.doba"}</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
			<a href="admin.php?p=apps">{trans key="common.back"}</a>
			<a class="btn btn-primary delete-doba-data">Delete Doba Data</a>
			<a href="admin.php?p=doba&mode=settings" class="btn btn-primary">{trans key="apps.doba.advanced_settings"}</a>
		</div>
	</div>
	<hr class="clearfix">
</div>

<div id="doba-watchlists" class="container-fluid">
	<div class="col-xs-12" id="doba-js-messages" style="display: none;">
		<p id="no-watch-lists" style="display: none;">{trans key="apps.doba.no_watch_lists"}</p>
		<p id="error-message" style="display: none;"><span class="message"></span></p>
	</div>
	<div id="watchlist-prototype" class="watchlist clearfix" style="display: none;">
		<h2 class="col-xs-6" style="cursor: pointer;" data-toggle="collapse" data-target=""></h2>
		<div class="btn-toolbar text-right" style="margin-top:15px;">
			<a href="#" class="import-btn btn">{trans key="common.import"}</a>
			<button class="btn" type="button" data-toggle="collapse" data-target="">{trans key="common.view"} <span class="caret"></span></button>
		</div>
		<div class="collapse watchlist-panel col-xs-12">
			<table class="table table-striped">
				<thead>
					<tr>
						<th class="col-xs-2">{trans key="apps.doba.product_name"}</th>
						<th>{trans key="apps.doba.product_description"}</th>
						<th class="col-xs-1 text-right">{trans key="apps.doba.price"}</th>
						<th class="col-xs-1 text-right">{trans key="apps.doba.msrp"}</th>
						<th class="col-xs-1 text-right">{trans key="apps.doba.drop_fee"}</th>
						<th class="col-xs-1 text-right">{trans key="apps.doba.shipping"}</th>
						<th class="col-xs-1 text-right">{trans key="apps.doba.sale_price"}</th>
						<th class="col-xs-1 text-right">{trans key="apps.doba.stock"}</th>
					</tr>
				</thead>
				<tbody>

				</tbody>
			</table>
			<div class="custom-pager">
				<button class="btn btn-default page-left"><span class="icon icon-pagination-left"></span></button>

				<button class="btn btn-default page-right"><span class="icon icon-pagination-right"></span></button>

				<span class="text"></span>
			</div>
		</div>
	</div>
</div>

{include file="templates/pages/doba/modal-import-progress.html"}

<script type="text/javascript">
	var dobaPriceOption = '{$doba_price_option}';
	var dobaPriceModifier = parseFloat('{$doba_price_modifier}');
	var dobaPriceOption99 = {if $doba_price_option99 == 'Yes'}true{else}false{/if};
</script>
<script type="text/javascript" src="content/admin/scripts/doba.js?v={$APP_VERSION}"></script>