<div class="modal fade" id="modal-import-progress" tabindex="-1" role="dialog" aria-labelledby="modal-import-progress-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-campaigns-delete">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="modal-import-progress-label">{trans key="apps.doba.import_progress"}</h4>
				</div>
				<div class="modal-body">
					<div class="col-xs-12 active">
						<div class="progress progress-striped" style="display: none;">
							<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0px;">
								<span class="sr-only">{trans key="apps.doba.zero_percent_complete"}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer"></div>
			</div>
		</form>
	</div>
</div>