<form name="form-settings" action="admin.php?p=doba&mode=settings" role="form" method="post" data-auto-validate="1" autocomplete="off">
	<input type="hidden" name="nonce" id="nonce" value="{$nonce}">
	<div id="content-header">
		<div class="container-fluid">
			<h1 class="col-xs-6">{trans key="apps.doba.doba_advanced_settings"}</h1>
			<div class="col-xs-6 pull-right text-right btn-toolbar">
				<a href="admin.php?p=app&key=doba">{trans key="common.back"}</a>
				<button type="submit" class="btn btn-primary">{trans key="common.save"}</button>
			</div>
		</div>
		<hr class="clearfix">
	</div>
	<div class="container-fluid">
		<div class="col-xs-12">
			<h2 style="margin-top: 0;font-weight:bold;">{trans key="apps.doba.note_doba_callback_url"}: {$AdminHttpsUrl}/content/admin/doba/callback.php</h2>
		</div>
	</div>
	{form form=$form}
</form>

{literal}
<script type="text/javascript">
	$(document).ready(function() {
		var handleDobaPriceOptionChange = function() {
			var priceOption = $('#field-doba_price_option').val();

			$('#field-doba_price_modifier').closest('.form-group').toggle(priceOption != 'item_price' && priceOption != 'msrp_price');
		};

		$('#field-doba_price_option').change(function() {
			handleDobaPriceOptionChange();
		});

		handleDobaPriceOptionChange();
	});
</script>
{/literal}