<div class="product-image {class file=$smarty.template editable=true}">
	{if $product.image}
		{if $product.image_location=="Local"}
			{assign var="meta_property_url" value=$url_base|cat:$product.image}
		{else}
			{assign var="meta_property_url" value=$product.image}
		{/if}
		{meta name="og:image" content=$meta_property_url type="property"}

		{if !$is_print_version}
			{if (($zoom_option == "zoom" && $product.zoom_option == "global") || $product.zoom_option == "zoom") && $product.image_location=="Local"}
				<a href="{$product.image}" width="{$product.image_width}" height={$product.image_height} class="MagicZoom"><img src="{$product.preview}" alt="{if $product.image_alt_text != ''}{$product.image_alt_text|htmlspecialchars}{else}{$product.title|htmlspecialchars}{/if}" title="{$product.title|htmlspecialchars}"/></a>
				<div class="click-to-enlarge">{$msg.product.zoom_image}</div>
			{elseif (($zoom_option == "magnify" && $product.zoom_option == "global") || $product.zoom_option == "magnify") && $product.image_location=="Local"}
				<a href="{$product.image}" width="{$product.image_width}" height={$product.image_height} class="MagicMagnify"><img src="{$product.preview}" alt="{if $product.image_alt_text != ''}{$product.image_alt_text|htmlspecialchars}{else}{$product.title|htmlspecialchars}{/if}" title="{$product.title|htmlspecialchars}"/></a>
				<div class="click-to-enlarge">{$msg.product.magnify_image}</div>
			{elseif (($zoom_option == "magicthumb" && $product.zoom_option == "global") || $product.zoom_option == "magicthumb") && $product.image_location=="Local"}
				<a href="{$product.image}" width="{$product.image_width}" height={$product.image_height} class="MagicThumb"><img src="{$product.preview}"  alt="{if $product.image_alt_text != ''}{$product.image_alt_text|htmlspecialchars}{else}{$product.title|htmlspecialchars}{/if}" title="{$product.title|htmlspecialchars}"/></a>
				<div class="click-to-enlarge">{$msg.product.enlarge_image}</div>
			{elseif (($zoom_option == "imagelayover" && $product.zoom_option == "global") || $product.zoom_option == "imagelayover") && $product.image_location=="Local"}
				<a href="{$product.image}" rel="lightbox"><img src="{$product.preview}" alt="{if $product.image_alt_text != ''}{$product.image_alt_text|htmlspecialchars}{else}{$product.title|htmlspecialchars}{/if}" title="{$product.title|htmlspecialchars}"/></a>
				<div class="click-to-enlarge">{$msg.product.enlarge_image}</div>
			{else}
				<a href="javascript:showImage('{if $product.image_location=="Local"}{$url_base}{/if}{$product.image}','{$product.image_width}','{$product.image_height}');"><img src="{$product.product_page_image_url}" style="border:0px;padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;" {if $product.image_location == "Web"}width="{$CatalogThumb2Size}"{/if} alt="{if $product.image_alt_text != ''}{$product.image_alt_text|htmlspecialchars}{else}{$product.title|htmlspecialchars}{/if}" title="{$product.title|htmlspecialchars}"/></a>
				<div class="spacer click-to-enlarge">{$msg.product.enlarge_image}</div>
			{/if}
		{else}
			<img src="{$product.product_page_image_url}" width="{$CatalogThumb2Size}" alt="{if $product.image_alt_text != ''}{$product.image_alt_text|htmlspecialchars}{else}{$product.title|htmlspecialchars}{/if}" title="{$product.title|htmlspecialchars}"/>
		{/if}
	{else}
		{assign var="imageId" value="image-no-image-big"}
		{if $designImages.$imageId}
			<img class="image-no-image-big {class file=$smarty.template editable=true}" src="{$designImages.$imageId.content}" alt="{$msg.images.imageNoImageBig|htmlspecialchars}"/>
		{else}
			{$msg.images.imageNoImageBig|htmlspecialchars}
		{/if}
	{/if}
</div>
