{counter name="productPageRecommendedProductsCounter" assign="productPageRecommendedProductsCounter"}
{if $product_families && $productPageRecommendedProductsCounter == 1}
	<div class="product-recommended product-page-block clearfix {class file=$smarty.template editable=true}">
		<h3 class="product-page-block-header">{$msg.product.recommended_products}</h3>
		{foreach from=$product_families item="family"}
			<h4>{$family.name|htmlspecialchars}</h4>
			{assign var="products" value=$family.products}
			{include file="templates/pages/catalog/views/display.html"}
		{/foreach}
	</div>
{/if}