<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
		<h4 class="qsg-page-header">{trans key="quick_start_guide.step_one.general_information"}</h4>
		{form form=$generalInformation.form}
	</div>
	<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<h4 class="qsg-page-header">{trans key="quick_start_guide.step_one.contact_information"}</h4>
				{form form=$contactlnformation.form}
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<h4 class="qsg-page-header">{trans key="quick_start_guide.step_one.industry_specifics"}</h4>
				{form form=$industrySpecifics.form}
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h4 class="qsg-page-header">{trans key="quick_start_guide.step_one.logo"}</h4>
				{form form=$logo.form}
				<div class="col-xs-12 col-sm-12 company-logo">
					<img class="img-responsive" src="{$imageLogo}"/>
				</div>
			</div>
		</div>
	</div>
</div>
