<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="countries.countries"}</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
            <a href="#" data-target="#modal-add-country" data-toggle="modal" class="btn btn-primary pull-right">{trans key="countries.add_country"}</a>
		</div>
	</div>
	<hr class="clearfix">
</div>

{if $countries}
	<div class="container-fluid">
		<div class="col-xs-12 col-md-6">
			<div class="btn-group">
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						{trans key="common.bulk_actions"}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#" data-toggle="modal" data-target="#modal-countries-delete">{trans key="common.delete"}</a></li>
						<li><a href="#" data-toggle="modal" data-target="#modal-countries-activatedeactivate" class="countries-activatedeactivate" mode="activate">{trans key="common.activate"}</a></li>
						<li><a href="#" data-toggle="modal" data-target="#modal-countries-activatedeactivate" class="countries-activatedeactivate" mode="deactivate">{trans key="common.deactivate"}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	&nbsp;
	<div class="container-fluid">
		<div class="col-xs-12 col-md-12">
			<table class="table table-striped">
				<thead>
					<tr>
						<th style="width:50px;"><input type="checkbox" id="selectAll"></th>
						<th>{trans key="countries.name"}</th>
						<th>{trans key="countries.iso_2"}</th>
						<th>{trans key="countries.iso_3"}</th>
						<th>{trans key="countries.iso_number"}</th>
						<th>{trans key="countries.active"}</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{foreach from=$countries item="one"}
						<tr>
							{if $one.disable}
							<td><input type="checkbox" class="checkbox-country" disabled="disabled"></td>
							{else}
							<td><input type="checkbox" class="checkbox-country" name="row[{$one.coid}]" value="{$one.coid}"></td>
							{/if}
							<td><a href="#" onclick="return CountriesStates.editCountry({$one.coid});">{$one.name|htmlspecialchars}</a></td>
							<td>{$one.iso_a2|htmlspecialchars}</td>
							<td>{$one.iso_a3|htmlspecialchars}</td>
							<td>{$one.iso_number}</td>
							<td>{$one.available}</td>
							<td class="list-actions text-right" nowrap>
								<a href="#" onclick="return CountriesStates.editCountry({$one.coid});"><span class="icon icon-edit"></span>{trans key="common.edit"}</a>
								<a href="admin.php?p=states&coid={$one.coid}{if $paginator->currentPage > 1}&amp;countriespage={$paginator->currentPage}{/if}"><span class="icon icon-edit"></span>{trans key="countries.states_provinces"}</a>
								{if $one.disable}
								<a href="#"><span class="icon icon-delete"></span>{trans key="common.delete"}</a>
								{else}
								<a href="#" onclick="return CountriesStates.removeCountry({$one.coid}, '{$delete_nonce}');"><span class="icon icon-delete"></span>{trans key="common.delete"}</a>
								{/if}
							</td>
						</tr>
					{/foreach}
				</tbody>
			</table>
			<div class="custom-pager">
				{if $paginator->prevPage}
					<a role="button" class="btn btn-default" href="admin.php?p=countries&amp;page={$paginator->prevPage}"><span class="icon icon-pagination-left"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-left"></span></button>
				{/if}

				{if $paginator->nextPage}
					<a role="button" class="btn btn-default" href="admin.php?p=countries&amp;page={$paginator->nextPage}"><span class="icon icon-pagination-right"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-right"></span></button>
				{/if}
				<span class="text">{$paginator->itemsFrom}-{$paginator->itemsTo} <span class="of">of</span>  {$paginator->itemsCount}</span>
			</div>
		</div>
	</div>
{else}
	<div class="container-fluid">
		<div class="col-xs-12 col-md-12">
			{trans key="countries.no_countries"}
		</div>
	</div>
{/if}

<script type="text/javascript">
    var cur_paginator_page = 1;
    {if $paginator->currentPage}
        cur_paginator_page = {$paginator->currentPage};
        {/if}
</script>

{include file="templates/pages/country-state/modal-add-country.html"}
{include file="templates/pages/country-state/modal-countries-delete.html"}
{include file="templates/pages/country-state/modal-countries-activate-deactivate.html"}

<div id="country-edit-wrapper"></div>

<script type="text/javascript" src="content/admin/scripts/countries-states.js?v={$APP_VERSION}"></script>