<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{$cur_country.name|htmlspecialchars} - {trans key="states.states"}</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
            <a class="btn" href="admin.php?p=countries{if $countriespage > 1}&amp;page={$countriespage}{/if}">{trans key="common.cancel"}</a>
            <a href="#" data-target="#modal-add-state" data-toggle="modal" class="btn btn-primary pull-right">{trans key="states.add_state"}</a>
		</div>
	</div>
	<hr class="clearfix">
</div>

{if $states}
	<div class="container-fluid">
		<div class="col-xs-12 col-md-6">
			<div class="btn-group">
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						{trans key="common.bulk_actions"}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#" coid="{$coid}" data-toggle="modal" data-target="#modal-states-delete">{trans key="common.delete"}</a></li>
						
					</ul>
				</div>
			</div>
		</div>
	</div>
	&nbsp;
	<div class="container-fluid">
		<div class="col-xs-12 col-md-12">
			<table class="table table-striped">
				<thead>
					<tr>
						<th style="width:50px;"><input type="checkbox" id="selectAll"></th>
						<th>{trans key="states.name"}</th>
						<th>{trans key="states.code"}</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{foreach from=$states item="one"}
						<tr>
							<td><input type="checkbox" class="checkbox-state" name="row[{$one.stid}]" value="{$one.stid}"></td>
							<td><a href="#" class="edit-state" data-id="{$one.stid}" data-coid="{$one.coid}">{$one.name|htmlspecialchars}</a></td>
							<td>{$one.short_name}</td>
							<td class="list-actions text-right" nowrap>
								<a href="#" class="edit-state" data-id="{$one.stid}" data-coid="{$one.coid}"><span class="icon icon-edit"></span>Edit</a>
								<a href="#" class="delete-state" data-id="{$one.stid}" data-coid="{$one.coid}" data-nonce="{$delete_nonce}"><span class="icon icon-delete"></span>Delete</a>
							</td>
						</tr>
					{/foreach}
				</tbody>
			</table>
			<div class="custom-pager">
				{if $paginator->prevPage}
					<a role="button" class="btn btn-default" href="admin.php?p=states&amp;coid={$coid}&amp;page={$paginator->prevPage}"><span class="icon icon-pagination-left"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-left"></span></button>
				{/if}

				{if $paginator->nextPage}
					<a role="button" class="btn btn-default" href="admin.php?p=states&amp;coid={$coid}&amp;page={$paginator->nextPage}"><span class="icon icon-pagination-right"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-right"></span></button>
				{/if}
				<span class="text">{$paginator->itemsFrom}-{$paginator->itemsTo} <span class="of">of</span>  {$paginator->itemsCount}</span>
			</div>
		</div>
	</div>
{else}
	<div class="container-fluid">
		<div class="col-xs-12 col-md-12">
			{trans key="states.no_states"}
		</div>
	</div>
{/if}

<script type="text/javascript">
    var cur_paginator_page = 1;
    {if $paginator->currentPage}
        cur_paginator_page = {$paginator->currentPage};
    {/if}
    var cur_countries_page = {$countriespage};
</script>

{include file="templates/pages/country-state/modal-add-state.html"}
{include file="templates/pages/country-state/modal-states-delete.html"}
<div id="state-edit-wrapper"></div>

<script type="text/javascript" src="content/admin/scripts/countries-states.js?v={$APP_VERSION}"></script>