<div class="modal fade" id="modal-countries-activatedeactivate" tabindex="-1" role="dialog" aria-labelledby="modal-countries-activatedeactivate-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-countries-activatedeactivate">
			<input type="hidden" name="nonce" value="{$activationNonce}">
			<input type="hidden" name="coid" value="{$coid}">
            <input type="hidden" name="mode" class="hidden-input-mode">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-countries-activatedeactivate-label"><span class="ad-label"></span></h4>
				</div>
				<div class="modal-body">
					<div class="form-group col-xs-12">
						<label><input type="radio" name="form-countries-activatedeactivate-mode" value="selected" checked> <span class="ad-text-label1"></span></label>
						<label><input type="radio" name="form-countries-activatedeactivate-mode" value="all"> <span class="ad-text-label2"></span> {$itemsCount})</label>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary ad-btn-label"></button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>