<div class="modal fade" id="modal-countries-delete" tabindex="-1" role="dialog" aria-labelledby="modal-countries-delete-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-countries-delete">
			<input type="hidden" name="nonce" value="{$delete_nonce}">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-countries-delete-label">{trans key="countries.delete_countries"}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group col-xs-12">
						<label><input type="radio" name="form-countries-delete-mode" value="selected" checked> {trans key="countries.delete_selected_countries"}</label>
						<label><input type="radio" name="form-countries-delete-mode" value="all"> {trans key="countries.delete_all_countries" itemsCount=$itemsCount}</label>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary">{trans key="common.delete"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>