<div class="modal fade" id="modal-add-state" tabindex="-1" role="dialog" aria-labelledby="modal-add-state-label" aria-hidden="true">
    <div class="modal-dialog">
        <form role="form" name="form-add-state" action="admin.php?p=states&countriespage={$countriespage}{if $page > 1}&amp;page={$page}{/if}" method="post">
            <input type="hidden" name="nonce" id="nonce" value="{$addNonce}">
            <input type="hidden" name="mode" value="add">
            <input type="hidden" name="page" value="{$page}">
            <input type="hidden" name="countriespage" value="{$countriespage}">

            <div class="modal-content" id="modal-add-state-dialog">
                <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
                    <h4 class="modal-title" id="modal-add-state-label">{trans key="states.add_state"}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        {form form=$stateForm}
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-primary">{trans key="common.save"}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>