<div class="modal fade" id="modal-edit-country" tabindex="-1" role="dialog" aria-labelledby="modal-edit-country-label" aria-hidden="true">
    <div class="modal-dialog">
        <form role="form" name="form-edit-country" action="admin.php?p=countries" method="post">
            <input type="hidden" name="nonce" id="nonce" value="{$updateNonce}">
            <input type="hidden" name="mode" value="update">
            {if $id}<input type="hidden" name="id" value="{$id|gs}">{/if}

            <div class="modal-content">
                <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
                    <h4 class="modal-title" id="modal-edit-country-label">{trans key="common.editing"} {trans key="countries.country"} <span class="title">{$title}</span></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        {form form=$countryForm}
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-primary">{trans key="common.save"}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>