<div class="modal fade" id="modal-add-country" tabindex="-1" role="dialog" aria-labelledby="modal-add-country-label" aria-hidden="true">
    <div class="modal-dialog">
        <form role="form" name="form-add-country" action="admin.php?p=countries" method="post">
            <input type="hidden" name="nonce" id="nonce" value="{$addNonce}">
            <input type="hidden" name="mode" value="add">
            
            <div class="modal-content" id="modal-add-country-dialog">
                <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
                    <h4 class="modal-title" id="modal-add-country-label">{trans key="countries.add_country"}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        {form form=$countryForm}
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-primary">{trans key="common.save"}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>