<div class="modal fade" id="modal-edit-state" tabindex="-1" role="dialog" aria-labelledby="modal-edit-state-label" aria-hidden="true">
    <div class="modal-dialog">
        <form role="form" name="form-edit-state" action="admin.php?p=states&countriespage={$countriespage}{if $page > 1}&amp;page={$page}{/if}" method="post">
            <input type="hidden" name="nonce" id="nonce" value="{$updateNonce}">
            <input type="hidden" name="mode" value="update">
            {if $id}<input type="hidden" name="id" value="{$id|gs}">{/if}
            <input type="hidden" name="page" value="{$page}">
            <input type="hidden" name="countriespage" value="{$countriespage}">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
                    <h4 class="modal-title" id="modal-edit-state-label">{trans key="common.editing"} {trans key="states.states"} <span class="title">{$title}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        {form form=$stateForm}
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-primary" data-action="action-save-state">{trans key="common.save"}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>