<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="marketing.qr_codes"}</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
			{if $qr_active == 'Yes'}<a data-target="#modal-add-campaign" data-toggle="modal" href="#" class="btn btn-primary pull-right">{trans key="marketing.add_qr_campaign"}</a>{/if}
			<div class="btn-group pull-right">
				{if $qr_active == 'Yes'}<a class="btn" href="#" data-target="#modal-qr_generate_image" data-toggle="modal">{trans key="marketing.generate_qr_code"}</a>{/if}
				<a class="btn" href="#" data-target="#modal-settings" data-toggle="modal">{trans key="marketing.advanced_settings"}</a>
			</div>
		</div>
	</div>
	<hr class="clearfix">
</div>

{if $qr_active == 'Yes'}
	{if $campaigns}
		<div class="container-fluid">
			<div class="col-xs-12 col-md-6">
				<div class="btn-group">
					<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							{trans key="common.bulk_actions"}
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a href="#" data-toggle="modal" data-target="#modal-campaigns-delete">{trans key="common.delete"}</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		&nbsp;
		<div class="container-fluid">
			<div class="col-xs-12">
				<table class="table table-striped">
					<thead>
						<tr>
							<th style="width:50px;"><input type="checkbox" id="selectAll"></th>
							<th>{trans key="marketing.qr_code_list_table.name"}</th>
							<th>{trans key="marketing.qr_code_list_table.description"}</th>
							<th>{trans key="marketing.qr_code_list_table.date_added"}</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{foreach from=$campaigns item="one"}
							<tr>
								<td><input type="checkbox" class="checkbox-campaign" name="row[{$one.campaign_id}]" value="{$one.campaign_id}"></td>
								<td><a href="#" onclick="return QRCodes.editQrCode({$one.campaign_id});">{$one.name|htmlspecialchars}</a></td>
								<td>{$one.description|htmlspecialchars}</td>
								<td>{$one.created}</td>
								<td class="list-actions text-right" nowrap>
									<a href="#" onclick="return QRCodes.editQrCode({$one.campaign_id});"><span class="icon icon-edit"></span>{trans key="common.edit"}</a>
									<a href="#" onclick="return QRCodes.removeCampaign({$one.campaign_id}, '{$delete_nonce}');"><span class="icon icon-delete"></span>{trans key="common.delete"}</a>
								</td>
							</tr>
						{/foreach}
					</tbody>
				</table>
				<div class="custom-pager">
					{if $paginator->prevPage}
						<a role="button" class="btn btn-default" href="admin.php?p=settings_qr&amp;page={$paginator->prevPage}"><span class="icon icon-pagination-left"></span></a>
					{else}
						<button disabled class="btn btn-default"><span class="icon icon-pagination-left"></span></button>
					{/if}

					{if $paginator->nextPage}
						<a role="button" class="btn btn-default" href="admin.php?p=settings_qr&amp;page={$paginator->nextPage}"><span class="icon icon-pagination-right"></span></a>
					{else}
						<button disabled class="btn btn-default"><span class="icon icon-pagination-right"></span></button>
					{/if}

					<span class="text">{$paginator->itemsFrom}-{$paginator->itemsTo} <span class="of">{trans key="common.of"}</span>  {$paginator->itemsCount}</span>
				</div>
			</div>
		</div>
	{else}
		<div class="container-fluid">
			<div class="col-xs-12">
				{trans key="marketing.qr_codes_no_records"}
			</div>
		</div>
	{/if}
{else}
	<div class="container-fluid">
		<div class="col-xs-12">
			{trans key="marketing.qr_codes_disabled"}
		</div>
	</div>
{/if}

{include file="templates/pages/qr-code/modal-delete.html"}
{include file="templates/pages/qr-code/modal-add.html"}
{include file="templates/pages/qr-code/modal-settings.html"}
{include file="templates/pages/qr-code/modal-generate.html"}

{include file="templates/pages/qr-code/modal-generated-image.html"}

<div id="qr-code-edit-wrapper"></div>

<script type="text/javascript" src="content/admin/scripts/qr-codes.js?v={$APP_VERSION}"></script>