<div class="modal fade" id="modal-add-campaign" tabindex="-1" role="dialog" aria-labelledby="modal-add-campaign-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-add-campaign" action="admin.php?p=settings_qr" method="post">
			<input type="hidden" name="nonce" id="nonce" value="{$addNonce}">
			<input type="hidden" name="mode" value="add">

			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-add-campaign-label">{trans key="marketing.add_qr_campaign"}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						{form form=$qrCodeForm}
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary" data-action="action-save-campaign">{trans key="common.save"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>