<div class="modal fade" id="modal-qr_generate_image" tabindex="-1" role="dialog" aria-labelledby="modal-qr_generate_image-label" aria-hidden="true">
	<div class="modal-dialog">
	<form name="form-qr_generate_image" class="form-qr_generate_image" action="admin.php?p=settings_qr&mode=generate" role="form" method="post" data-auto-validate="1" autocomplete="off" enctype='multipart/form-data'>
	<input type="hidden" name="nonce" id="nonce" value="{$nonce}">	
	<input type="hidden" name="nonce" id="nonce" value="{$settingsNonce}">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-qr_generate_image-label">{trans key="marketing.generate_qr_code"}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						{form form=$generateForm}
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button id="qr-generate-button" class="btn btn-primary">{trans key="common.generate"}</button>
					</div>
				</div>
			</div>
	</form>
	</div>
</div>



