<div class="modal fade" id="modal-settings" tabindex="-1" role="dialog" aria-labelledby="modal-settings-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-settings" class="form-address" action="admin.php?p=settings_qr&mode=advanced_settings" method="post" role="form" method="post" data-auto-validate="1" autocomplete="off" enctype='multipart/form-data'>
			<input type="hidden" name="nonce" id="nonce" value="{$settingsNonce}">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-settings-label">{trans key="marketing.qr_codes_advanced_settings"}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						{form form=$settingsForm}
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary" data-action="action-save-settings">{trans key="common.save"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>