<div class="modal fade" id="modal-generated-image" tabindex="-1" role="dialog" aria-labelledby="modal-generated-image-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-generated-image">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-generated-image-label">{trans key="marketing.generate_qr_code_image"}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<div class="text-center col-xs-12">
							<img id="dialog-qr-generated-image" src="images/icons/a/raster.png?v={$APP_VERSION}">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="button" class="btn btn-primary" data-action="action-download-image">{trans key="common.download"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>