{if $ShippingShowWeight == "YES"}
<div class="product-weight gap-bottom {class file=$smarty.template editable=true}">
	{if $product.free_shipping == "Yes"}
		{$msg.product.weight}: {$msg.product.free_shipping}
	{elseif $product.weight > 0}
		{$msg.product.weight}: <span id="product_weight">{$product.weight|weight}</span>
	{/if}
</div>
{/if}