{counter name="productPageOverviewCounter" assign="productPageOverviewCounter"}
{if $product.overview != "" && $productPageOverviewCounter == 1}
<div class="product-overview product-page-block {class file=$smarty.template editable=true}">
	<h3 class="product-page-block-header">{$msg.product.product_overview}</h3>
	<div class="product-page-block-content spacer">{$product.overview|nl2br}</div>
</div>
{/if}
