{if isset($PikflyEnabled) && $PikflyEnabled == 'Yes' && $product.same_day_delivery == 1}
<div class="product-same-day-delivery gap-top">
	<a href="{$GlobalHttpsUrl}/index.php?p=pikfly" target="_blank"><img src="{$GlobalHttpsUrl}/images/same-day-delivery.gif"></a>
</div>
{/if}