{counter name="productPageDescriptionCounter" assign="productPageDescriptionCounter"}
{if $product.description != "" && $productPageDescriptionCounter == 1}
<div class="product-description product-page-block {class file=$smarty.template editable=true}">
	<h3 class="product-page-block-header">{$msg.product.product_description}</h3>
	<div class="product-page-block-content spacer">{$product.description}</div>
</div>
{/if}
{include file="templates/pages/product/elements/element-youtube.html"}