{counter name="productPageRecommendedProductsCounter" assign="productPageRecommendedProductsCounter"}
{if $product_families && $productPageRecommendedProductsCounter == 1}
<div class="product-recommended product-page-block clearfix {class file=$smarty.template editable=true}">
	<h3 class="product-page-block-header">{$msg.product.recommended_products}</h3>
	{foreach from=$product_families item="family"}
		<h4>{$family.name|htmlspecialchars}</h4>
		{assign var="products" value=$family.products}
		{if $RecommendedProductsView == "text"}{include file="templates/pages/catalog/views/text.html"}{/if}
		{if $RecommendedProductsView == "thumb1"}{include file="templates/pages/catalog/views/thumb1.html"}{/if}
		{if $RecommendedProductsView == "thumb1clean"}{include file="templates/pages/catalog/views/thumb1clean.html"}{/if}
		{if $RecommendedProductsView == "thumb2"}{include file="templates/pages/catalog/views/thumb2.html"}{/if}
		{if $RecommendedProductsView == "thumb3"}{include file="templates/pages/catalog/views/thumb3.html"}{/if}
		{if $RecommendedProductsView == "thumb3clean"}{include file="templates/pages/catalog/views/thumb3clean.html"}{/if}
		{if $RecommendedProductsView == "display"}{include file="templates/pages/catalog/views/display.html"}{/if}
		{if $RecommendedProductsView == "displaybox"}{include file="templates/pages/catalog/views/displaybox.html"}{/if}
		{if $RecommendedProductsView == "flexible"}{include file="templates/pages/catalog/views/flexible.html"}{/if}
	{/foreach}
</div>
{/if}