{if $DisplayStockOnProductPage == 'YES'}
	{if (($product.inventory_control == 'Yes') and ($product.stock < $DisplayStockOnProductPageThreshold))
		|| (($product.attributes_count) > 0 and ($product.inventory_control == 'AttrRuleExc' or $product.inventory_control == 'AttrRuleInc') and ($product_inventory_hashes_json != false))
	}
	<div class="product-stock gap-bottom {class file=$smarty.template editable=true}">
		{$msg.product.stock}: {$msg.product.stock_only} <span id="product_stock">{$product.stock}</span> {$msg.product.stock_left_in_stock}
	</div>
	{/if}
{/if}