{counter name="productPageSecondaryImagesCounter" assign="productPageSecondaryImagesCounter"}
{if !empty($product.secondary_images) && $productPageSecondaryImagesCounter == 1}
<div class="product-secondary-images clearfix product-page-block {class file=$smarty.template editable=true}">
	<h3 class="product-page-block-header">{$msg.product.secondary_images}</h3>
	<div class="spacer product-page-block-content" style="text-align:center;">
		<div>
		<ul class="clearfix responsive-lightbox">
			{foreach from=$product.secondary_images item="secondary_image"}
				<li>
					<div class="product-secondary-image product-secondary-image-{$secondary_image.iid}">
						{if !$is_print_version}
							{if $zoom_option_secondary == "magicthumb"}
								<a href="{$secondary_image.img_src}" class="MagicThumb">
									<img {if !$secondary_image.thumb_src}{$secondary_image.thumb_size}{/if} src="{if $secondary_image.thumb_src}{$secondary_image.thumb_src}{else}{$secondary_image.img_src}{/if}" alt="{$secondary_image.alt_text}"/>
									<span>{$product.title|htmlspecialchars}</span>
								</a>
							{elseif $zoom_option_secondary == "imagelayover"}
								<a href="{$secondary_image.img_src}" rel="lightbox" title="{$secondary_image.caption}">
									<img {if !$secondary_image.thumb_src}{$secondary_image.thumb_size}{/if} src="{if $secondary_image.thumb_src}{$secondary_image.thumb_src}{else}{$secondary_image.img_src}{/if}" alt="{$secondary_image.alt_text}" title="{$secondary_image.alt_text}" />
								</a>
							{else}
								<a href="javascript:showImage('{$url_base}{$secondary_image.img_src}','{$secondary_image.width}','{$secondary_image.height}');"><img {if !$secondary_image.thumb_src}{$secondary_image.thumb_size}{/if} src="{if $secondary_image.thumb_src}{$secondary_image.thumb_src}{else}{$secondary_image.img_src}{/if}" alt="{$secondary_image.alt_text}"/></a>
							{/if}
						{else}
							<img {if !$secondary_image.thumb_src}{$secondary_image.thumb_size}{/if} src="{if $secondary_image.thumb_src}{$secondary_image.thumb_src}{else}{$secondary_image.img_src}{/if}" alt="{$secondary_image.alt_text}"/>
						{/if}
					</div>
				</li>
			{/foreach}
		</ul>
		{if !$is_print_version}<div class="gap-top click-to-enlarge">{$msg.product.enlarge_image}</div>{/if}
		</div>
	</div>	
</div>
{/if}
