{if $facebookLikeButtonProduct == "Yes" || $twitterTweetButtonProduct == "Yes" || $diggButtonProduct == "Yes" || $googleBuzzButtonProduct == "Yes" || $deliciousButtonProduct == "Yes" || $googlePlusButtonProduct == "Yes" || $pinItButtonProduct == "Yes" }
	<div class="product-social {class file=$smarty.template editable=true} clearfix">

		{if $facebookLikeButtonProduct == "Yes"}
		<div class="product-facebook-like-button gap-bottom clearfix product-social-button">
			<iframe src="//www.facebook.com/plugins/like.php?href={$product.url|urlencode}&amp;send=false&amp;layout=button_count&amp;width=90&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=20" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:25px;" allowTransparency="true"></iframe>
		</div>
		{/if}

		{if $twitterTweetButtonProduct == "Yes" || $diggButtonProduct == "Yes" || $googleBuzzButtonProduct == "Yes" || $googlePlusButtonProduct == "Yes"}
		<div class="clearfix">
			{if $twitterTweetButtonProduct == "Yes"}
			<div class="product-twitter-tweet-button gap-bottom product-social-button" style="float:left;">
				<a href="http://twitter.com/share" class="twitter-share-button" data-url="{$product.url}" data-count="horizontal" data-via="{$twitterAccount}">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
			</div>
			{/if}

			{if $diggButtonProduct == "Yes"}
			<div class="product-digg-button gap-bottom product-social-button" style="float:left;">
				{literal}
				<script type="text/javascript">
					(function() {
						var s = document.createElement('SCRIPT'), s1 = document.getElementsByTagName('SCRIPT')[0];
						s.type = 'text/javascript';
						s.async = true;
						s.src = 'http://widgets.digg.com/buttons.js';
						s1.parentNode.insertBefore(s, s1);
					})();
				</script>
				<a class="DiggThisButton DiggCompact"></a>
				{/literal}
			</div>
			{/if}

			{if $googlePlusButtonProduct == "Yes"}
			<div class="product-google-plus-button gap-bottom product-social-button">
				<div class="g-plusone" data-size="medium" annotation="inline"></div>
			</div>
			{literal}
			<script type="text/javascript">
				(function() {
					var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
					po.src = 'https://apis.google.com/js/plusone.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
				})();
			</script>
			{/literal}
			{/if}
		</div>
		{/if}

		{if $deliciousButtonProduct == "Yes"}
		<div class="product-delicious-button gap-bottom clearfix product-social-button">
			<img src="images/icons/delicious.png" height="10" width="10" alt="Delicious" />
			<a href="http://www.delicious.com/save" onclick="window.open('http://www.delicious.com/save?v=5&noui&jump=close&url='+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title), 'delicious','toolbar=no,width=550,height=550'); return false;"> Bookmark this on Delicious</a>
		</div>
		{/if}

		{if $pinItButtonProduct == 'Yes' && $product.image}
		<div class="product-pinterest-button gap-bottom clearfix product-social-button">
			<a href="//pinterest.com/pin/create/button/?url={$canonical_url}&media={$url_base}{$product.image}" class="pin-it-button" count-layout="horizontal"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>
		</div>
		{/if}
	</div>
{/if}