{if $product.youtube_link != ""}
<div class="product-youtube-link product-page-block {class file=$smarty.template editable=true}">
	<h3 class="product-page-block-header">{$msg.product.product_video}</h3>
	<div class="product-page-block-content spacer embed-responsive-pane embed-responsive-16by9-pane">
		<iframe class="embed-responsive-pane-item" frameborder="0" src="{$product.youtube_link}" frameborder="0" allowfullscreen></iframe>
	</div>
</div>
{/if}