{if $ReviewsEnable}
	<div class="product-rating gap-bottom clearfix {class file=$smarty.template editable=true}">
		<div id="product-rating" class="rating-value" title="{$product.rating|round}"></div>
		<div>
			<a href="{$url_request_uri}#product-page-reviews">{$product.reviews_count} review(s)</a>
		</div>
	</div>
{/if}