{counter name="productPageFacebookCommentsCounter" assign="productPageFacebookCommentsCounter"}
{if $facebookCommentsProduct == "Yes" && $productPageFacebookCommentsCounter == 1}
<div id="product-page-facebook-comments" class="product-facebook-comments product-page-block {class file=$smarty.template editable=true}">
	<h3 class="product-page-block-header">Comment on Facebook</h3>
	<div class="spacer product-page-block-content clearfix">
		<table width="100%" cellpadding="0" cellspacing="0">
			<tr>
				<td>
					<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId={$facebookAppId}&xfbml=1"></script><fb:comments href="{$product.url}" ></fb:comments>
				</td>
			</tr>
		</table>
	</div>
</div>
{/if}