<div class="product-print {class file=$smarty.template editable=true}">
	{assign var="imageId" value="image-print-version"}
	{if $designImages.$imageId}
		<a href="javascript:showPrinterPage('{$product.print_url}')">
			<img class="image-print-version {class file=$smarty.template editable=true}" src="{$designImages.$imageId.content}" alt="{$msg.images.imagePrintVersion|htmlspecialchars}" />
		</a>
	{else}
		<a href="javascript:showPrinterPage('{$product.print_url}')">{$msg.common.print_version}</a>
	{/if}
</div>