<div class="product-price {class file=$smarty.template editable=true}">
{if $product.call_for_price=="Yes"}
	<div class="product-call-for-price"><span class="price-label">{$msg.product.product_price}:</span> <span class="price-amount">{$msg.product.call_for_price}</span></div>
	<input type="hidden" name="pid" value="{$product.pid}" />
{else}
	{if ($auth_ok == "yes" || $user_cookie) || $VisitorSeePrice=="YES"}
		{if $product.enable_recurring_billing}
			<div class="price"><span class="price-label">{$msg.product.product_price}:</span> <span id="product_price" class="price-amount">{$product.recurring_billing_data.billing_amount|price}</span></div>
			{if $product.price > 0}
				<div class="price"><span class="initial-fee-label">{$msg.product.recurring_initial_fee}:</span> <span id="product_initial_fee" class="price-amount compared">{$product.price|price}</span></div>
			{/if}

			<div class="product-recurring-details gap-top">
				<div class="spacer">
					<div class="gap-bottom"><strong>{$msg.recurring.recurring_payments}</strong></div>
					{if $product.recurring_billing_data.schedule_description != ''}
					<div class="gap-bottom"><strong>{$product.recurring_billing_data.schedule_description|htmlspecialchars}</strong></div>
					{/if}
					{if $product.recurring_billing_data.trial_description != ''}
						{$msg.recurring.trial_period}: <i>{$product.recurring_billing_data.trial_description}</i><br>
					{/if}
					{$msg.recurring.billing_period}: <i>{$product.recurring_billing_data.billing_description}</i>
				</div>
			</div>
		{else}
			{if $product.price2 > 0}
				<div class="price"><span class="sale-price-label">{$msg.product.sale_price}:</span> <span id="product_price" class="sale-price-amount">{$product.price|price}</span></div>

				<div class="price2"><span class="price-label compared">{$msg.product.compared_at}:</span> <span id="product_price2" class="price-amount compared">{$product.price2|price}</span></div>
				<div class="you-save"><span class="price-label compared">{$msg.product.you_save}:</span> <span class="price-amount compared">{$product.price2-$product.price|price}</span></div>
			{else}
				<div class="price"><span class="price-label">{$msg.product.product_price}:</span> <span id="product_price" class="price-amount">{$product.price|price}</span></div>
			{/if}

			{if ($WholesaleDiscountType!="NO") && ($user_level>0)}
				<div class="price-wholesale"><span class="price-label">{$msg.product.wholesale_price}:</span> <span id="product_price_wholesale" class="price-amount">{$product.price_wholesale|price}</span></div>
			{/if}
		{/if}
	{else}
		{if $AllowCreateAccount != "No" && !$is_print_version}
		<div class="price-hidden">
			{$msg.product.to_see_price}
			<a href="{$url_https}p=login">{$msg.account.login}</a> | <a href="{$url_https}p=signup">{$msg.account.register}</a>
		</div>
		{/if}
	{/if}	
{/if}
</div>