<span class="product-bread-crumbs {class file=$smarty.template editable=true}">
<a href="{if $CatalogHomeLink!=""}{$CatalogHomeLink}{else}{$url_rel}{/if}">{$msg.common.home_page}</a> 
{foreach from=$page_nav item="page_nav_link"}
	&gt; <a href="{$page_nav_link.href}">{$page_nav_link.caption|htmlspecialchars}</a>
{/foreach}
</span>