{if !$is_print_version}
	{if ($product.call_for_price != "Yes") && (($auth_ok == "yes" || $user_cookie) || (($VisitorSeePrice == "YES") && ($VisitorMayAddItem == "YES")))}
	<div class="product-purchase gap-bottom {class file=$smarty.template editable=true}">
		<h3>{$msg.product.product_purchase}</h3>
		{if $product.out_of_stock}
			<div class="product-out-of-stock spacer">{$msg.catalog.out_of_stock}</div>
		{else}
			<div class="fieldset spacer {class file=$smarty.template editable=true}">
				<form name="frmAddItem" action="{$url_http}" method="post" onsubmit="return CheckAddProduct(this, '{if $product.min_order>0}{$product.min_order}{else}1{/if}', '{if $product.max_order>0}{$product.max_order}{else}-{/if}', '{if $product.allowed_max>0}{$product.allowed_max}{else}-{/if}')">
					<input type="hidden" name="oa" value="{$ORDER_ADD_ITEM}"/>
					<input type="hidden" name="ua" value=""/>
					<input type="hidden" name="oa_id" value="{$product.product_id|htmlspecialchars}"/>
					<input type="hidden" name="oa_recurring" value="{$product.enable_recurring_billing}"/>
					<input type="hidden" name="pid" value="{$product.pid}"/>
					{assign var="firstInput" value="true"}
					{if !empty($product.attributes)}
						{assign var="has_required_attribute" value=false}
						{foreach from=$product.attributes item=attribute}
							{if $attribute.attribute_required == 'Yes'}
								{assign var="has_required_attribute" value=true}
							{/if}
						{/foreach}
						{if $has_required_attribute}
							<div class="notice">{$msg.product.required_attributes_notice}</div>
						{/if}
						{foreach from=$product.attributes item=attribute}
							<div class="product-attribute product-attribute-{$attribute.paid} clearfix field{if $firstInput == true} first{/if}" attribute_required="{$attribute.attribute_required}" attribute_type="{$attribute.attribute_type}">
								<label>{if $attribute.attribute_required == "Yes"}*{/if} {$attribute.caption|htmlspecialchars}</label>
								<div>
									{if $attribute.attribute_type == "select"}
										<select id="attribute_input_{$attribute.paid}" name="oa_attributes[{$attribute.paid}]" onchange="calcAttrPrice()">
										{if $attribute.attribute_required == 'Yes'}
										<option value="-0-">{$msg.product.select_option}</option>
										{/if}
										{foreach from=$attribute.options item=option}
											<option value="{$option.name|urlencode}">{$option.name}{if $attribute.is_modifier == "Yes"}{$option.modifier}{/if}</option>
										{/foreach}
										</select>
									{elseif $attribute.attribute_type == "radio"}
										{if $attribute.attribute_required == 'Yes'}
										<input type="radio" name="oa_attributes[{$attribute.paid}]" onclick="calcAttrPrice()" value="-0-" checked="checked"/>{$msg.product.select_option}<br />
										{/if}
										{foreach from=$attribute.options item="option"}
											{if !$option.first}<br />{/if}
											<input type="radio" id="attribute_input_{$attribute.paid}" name="oa_attributes[{$attribute.paid}]" onclick="calcAttrPrice()" value="{$option.name|urlencode}" {if $option.first && $attribute.attribute_required == 'No'}checked="checked"{/if}/> 
											{$option.name}
											{if $attribute.is_modifier == "Yes"}{$option.modifier}{/if}
										{/foreach}
									{else}
										{if $attribute.attribute_type == "textarea"}
											<textarea wrap="off" name="oa_attributes[{$attribute.paid}]" rows="{$attribute.text_length}" cols="40"></textarea>
										{else}
											<input type="text" name="oa_attributes[{$attribute.paid}]" value="" maxlength="{$attribute.text_length}"/>
										{/if}
									{/if}
								</div>
							</div>
							{assign var="firstInput" value=false}
						{/foreach}
					{/if}
					{include file="templates/pages/product/elements/element-special-offer-quantity.html"}
					<div class="product-quantity clearfix field{if $firstInput == true} first{/if}">
						<label class="label-quantity">{$msg.product.product_quantity}</label>
						<div>
							{if $oa_quantity > $product.min_order}
								{assign var="pq" value=$oa_quantity}
							{else}
								{if $product.min_order > 0}
									{assign var="pq" value=$product.min_order}
								{else}
									{assign var="pq" value=1}
								{/if}
							{/if}
							<input type="text" maxlength="6" name="oa_quantity" class="input-quantity"  value="{$pq}"/>
							{if $product.min_order > 1 || $product.max_order > 0}
							<div class="hint">{$msg.product.min_max_order}: {product_minmax_order min_order=$product.min_order max_order=$product.max_order}</div>
							{/if}
						</div>
					</div>
					{if $product.enable_recurring_billing && $product.recurring_billing_data.customer_can_define_start_date}
						<div class="product-recurring-start-date clearfix">
							<label>{$msg.product.recurring_start_date}</label>
							<div>
								<input type="text" name="oa_custom_data[recurring_start_date]" data-max-start-date-delay="{$product.recurring_billing_data.max_start_date_delay}">
							</div>
						</div>
					{/if}
					<div class="buttons div-add-button" id="div-add-button">
						{button class="button-add-to-cart" text=$msg.buttons.buttonAddToCart file=$smarty.template}
						{if $order->itemsCount > 0 }
							{button class="button-checkout" text=$msg.buttons.buttonCheckout file=$smarty.template onclick="$('#proceedToCheckout').submit(); return false;"}
						{/if}
					</div>
				</form>
				{if $order->itemsCount > 0 }
					<form id="proceedToCheckout" action="{$url_checkout}" method="post"></form>
				{/if}
				<div class="buttons invisible" id="div-out-of-stock">{$msg.product.attribute_out_of_stock}</div>
			</div>
		{/if}
		</div>
	{else}
		<div class="product-purchase gap-bottom {class file=$smarty.template editable=true}">
			<h3>{$msg.product.product_purchase}</h3>
			{if $product.call_for_price == "No" && $AllowCreateAccount != "No"}
				<div class="spacer no-space-bottom">
					{if $VisitorSeePrice == "YES"}
						{$msg.product.to_purchase}
					{else}
						{$msg.product.to_see_price}
					{/if}
					<ul class="list">
						<li><a href="{$url_https}p=login">{$msg.account.login}</a></li> 
						<li><a href="{$url_https}p=signup">{$msg.account.register}</a></li>
					</ul>
				</div>
			{else}
				<div class="spacer">
					{$msg.product.call_for_price}
				</div>
			{/if}
		</div>
	{/if}
{/if}
