<div id="new-email-to-friend" class="invisible">
	<div class="div-email-to-friend fieldset clearfix gap-bottom {class file=$smarty.template editable=true}">
		<input type="hidden" id="e2f-nonce" name="nonce" value="{$email_to_friend_nonce|htmlspecialchars}">
		<div class="msg-notice">
			{$msg.email2friend.fill_form_and_click}<br/>
			{$msg.email2friend.all_fileds_are_required}
		</div>
		<div class="field required first">
			<label>{$msg.email2friend.your_name}</label>
			<div>
				<input maxlength="64" type="text" id="e2f-yname" name="yname"/>
			</div>
		</div>
		<div class="field required clearfix">
			<label>{$msg.email2friend.your_email}</label>
			<div>
				<input maxlength="64" type="text" id="e2f-yemail" name="yemail"/>
			</div>
		</div>
		<div class="field required clearfix">
			<label>{$msg.email2friend.your_friend_name}</label>
			<div>
				<input maxlength="64" type="text" id="e2f-fname" name="fname"/>
			</div>
		</div>
		<div class="field required clearfix">
			<label>{$msg.email2friend.your_friend_email}</label>
			<div>
				<input maxlength="64" type="text" id="e2f-femail" name="femail"/>
			</div>
		</div>

		{if $captchaMethod != "None" && $captcha}
			<div class="fieldset">
				<h3 class="title">Captcha</h3>
				<div class="field clearfix required">
					<label>Please enter CAPTCHA</label>
					<div class="captcha">
						<!-- recaptcha image verification -->
						<script src="https://www.google.com/recaptcha/api.js" async defer></script>
						<div class="g-recaptcha" data-sitekey="{$site_key}"></div>
						<!-- recaptcha end -->
					</div>
				</div>
			</div>
		{/if}

		<div class="buttons">
			{button type="submit" class="button-email-to-friend" id="email-to-friend-submit" text=$msg.buttons.buttonEmailToFriend file=$smarty.template}
		</div>
	</div>
	&nbsp;
</div>