{if (($auth_ok == "yes" || $user_cookie) || ($VisitorSeePrice=="YES")) && ($ShippingShowPriceAtProductLevel == "YES") && ($product.shipping_price) && ($product.free_shipping != "Yes")}
<div class="product-shipping-price gap-bottom {class file=$smarty.template editable=true}">
	{if $product.is_doba == "Yes"}
		{$msg.product.expected_shipping_price}: {$product.shipping_price[0].price|price} *<br/>
		<i>* {$msg.product.expected_shipping_price_disclaimer}</i>
	{else}
		{$msg.product.shipping_price}: {$product.shipping_price[0].price|price}
	{/if}
</div>
{/if}