{if !$is_print_version}
	<div class="product-email-and-wishlist {class file=$smarty.template editable=true}">
		{if $CatalogEmailToFriend != "Disabled"}
			<a href="#" onclick="return showEmail2FriendDialog();">{$msg.product.email_to_friend}</a>
			{include file="templates/pages/product/elements/element-email2friend.html"}
		{/if}
		{if $EnableWishList == "Yes" && $AllowCreateAccount != "No"}
			{if $CatalogEmailToFriend != "Disabled"} | {/if}
			<span class="add-to-wishlist"><a href="javascript:$('#form-wishlist').submit();">{$msg.wishlist.addToWishlist}</a></span>
			<form id="form-wishlist" method="post" action="{$url_http}">
				<input type="hidden" name="wl_action" value="addto_wishlist"/>
				<input type="hidden" name="ua" value="UserAddToWishlist"/>
				<input type="hidden" name="oa_id" value="{$product.product_id|htmlspecialchars}"/>
				<input type="hidden" name="pid" value="{$product.pid}"/>
			</form>
		{/if}
	</div>
{/if}