{counter name="productPageSiblingsProductsCounter" assign="productPageSiblingsProductsCounter"}
{if $product_siblings && $productPageSiblingsProductsCounter == 1}
<div class="product-siblings product-page-block clearfix {class file=$smarty.template editable=true}">
	<h3 class="product-page-block-header">{$msg.product.sibling_products}</h3>
	{assign var="products" value=$product_siblings}
	{if $SiblingProductsView == "text"}{include file="templates/pages/catalog/views/text.html"}{/if}
	{if $SiblingProductsView == "thumb1"}{include file="templates/pages/catalog/views/thumb1.html"}{/if}
	{if $SiblingProductsView == "thumb1clean"}{include file="templates/pages/catalog/views/thumb1clean.html"}{/if}
	{if $SiblingProductsView == "thumb2"}{include file="templates/pages/catalog/views/thumb2.html"}{/if}
	{if $SiblingProductsView == "thumb3"}{include file="templates/pages/catalog/views/thumb3.html"}{/if}
	{if $SiblingProductsView == "thumb3clean"}{include file="templates/pages/catalog/views/thumb3clean.html"}{/if}
	{if $SiblingProductsView == "display"}{include file="templates/pages/catalog/views/display.html"}{/if}
	{if $SiblingProductsView == "displaybox"}{include file="templates/pages/catalog/views/displaybox.html"}{/if}
	{if $SiblingProductsView == "flexible"}{include file="templates/pages/catalog/views/flexible.html"}{/if}
</div>
{/if}