{if $free_products}
	<div class="product-special-offer gap-bottom {class file=$smarty.template editable=true}">
		<h3 class="title">{$msg.product.special_offer}</h3>
		{assign var="free_total" value="0"}
		<div class="spacer">
			<p>{lang msg=$msg.product.purchase_and_get_free_products gift_quantity=$product.gift_quantity title=$product.title|htmlspecialchars}:</p>
			<ul>
			{foreach from=$free_products item=free_product}
				<li>{$free_product.free_product_quantity}
				<a href="{$free_product.url}">{$free_product.title|htmlspecialchars}</a> {$msg.product.for_free}</li>
				{assign var="free_total" value=$free_total+$free_product.free_product_quantity*$free_product.price}
			{/foreach}
			</ul>
		</div>
		<p class="offer-value">{lang msg=$msg.product.a_x_value x=$free_total|price}</p>
	</div>
{/if}
