<div itemscope itemtype="http://schema.org/ItemPage">
	<meta itemprop="primaryImageOfPage" content="{if $product.image_location=="Local"}{$url_base}{/if}{$product.image}" />
	<meta itemprop="lastReviewed" content="{$product.updated}" />
	<meta itemprop="dateCreated" content="{$product.added}" />
	<meta itemprop="dateModified" content="{$product.updated}" />
	<meta itemprop="headline" content="{$product.title|htmlspecialchars}" />
	<meta itemprop="keywords" content="{$product.search_keywords}" />
	<meta itemprop="text" content="{$product.description|strip_tags}" />
	<meta itemprop="name" content="{$product.title|htmlspecialchars}" />
	<meta itemprop="url" content="{$product.url}" />
	<meta itemprop="author" content="{$settings.CompanyName|htmlspecialchars}" />
</div>
<div itemscope itemtype="http://schema.org/BreadcrumbList">
	<meta itemprop="url" content="{if $CatalogHomeLink!=""}{$GlobalHttpsUrl}/{$CatalogHomeLink}{else}{$url_rel}{/if}"><meta itemprop="name" content="{$msg.common.home_page}" />
	{foreach from=$page_nav item="page_nav_link"}
	<meta itemprop="url" content="{$page_nav_link.href}" itemprop="url"><meta itemprop="name" content="{$page_nav_link.caption|htmlspecialchars}" />
	{/foreach}
</div>
<div itemscope itemtype="http://schema.org/Product">
	<meta itemprop="name" content="{$product.title|htmlspecialchars}" />
	<meta itemprop="image" content="{if $product.image_location=="Local"}{$url_base}{/if}{$product.image}" />
	<meta itemprop="sku" content="{if $product.product_sku}{$product.product_sku}{else}{$product.product_id}{/if}" />
	<meta itemprop="gtin13" content="{$product.product_gtin}" />
	<meta itemprop="mpn" content="{$product.product_mpn}" />
	<meta itemprop="weight" content="{$product.weight} {$LocalizationWeightUnits}" />
	<meta itemprop="height" content="{$product.dimension_height} {$LocalizationLengthUnits}" />
	<meta itemprop="width" content="{$product.dimension_width} {$LocalizationLengthUnits}" />
	<meta itemprop="depth" content="{$product.dimension_length} {$LocalizationLengthUnits}" />
	<meta itemprop="description" content="{$product.description|strip_tags}" />
	<meta itemprop="manufacturer" content="{$product.manufacturer_name|htmlspecialchars}" />
	<meta itemprop="category" content="{$product.cat_name|htmlspecialchars}" />
	<meta itemprop="url" content="{$product.url}" />
	<meta itemprop="releaseDate" content="{$product.added}" />
	<span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
		<meta itemprop="priceCurrency" content="{$current_currency.code}" />
		<meta itemprop="availability" content="{if $product.out_of_stock}http://schema.org/OutOfStock{else}http://schema.org/InStock{/if}" />
		{if $product.call_for_price=="Yes"}
			<meta itemprop="price" content="{$msg.product.call_for_price}" />
		{else}
			{if ($auth_ok == "yes" || $user_cookie) || $VisitorSeePrice=="YES"}
				{if $product.enable_recurring_billing}
					<meta itemprop="price" content="{$product.recurring_billing_data.billing_amount}" />
				{else}
					<meta itemprop="price" content="{$product.price}" />
				{/if}
			{/if}
		{/if}
		<meta itemprop="seller" content="{$settings.CompanyName|htmlspecialchars}" />
	</span>
	{if $product_rating > 0 && $product_rating_total > 0}
	<div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
		<meta itemprop="ratingValue" content="{$product_rating}" />
		<meta itemprop="reviewCount" content="{$product_rating_total}" />
	</div>
	{/if}
	{if !empty($reviews)}
	{foreach from=$reviews item="review"}
		<div itemprop="review" itemscope itemtype="http://schema.org/Review">
			<meta itemprop="name" content="{$review.review_title|htmlspecialchars}" />
			<meta itemprop="author" content="{if $review.user_login != ""}{$review.user_login|htmlspecialchars}{/if}" />
			<meta itemprop="datePublished" content="{$review.date_created}" />
			<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<meta itemprop="worstRating" content = "1"/>
				<meta itemprop="ratingValue" content="{$review.rating}" />
				<meta itemprop="bestRating" content="5" />
			</div>
			<meta itemprop="description" content="{$review.review_text|htmlspecialchars|nl2br}" />
		</div>
	{/foreach}
{/if}
</div>