{if $product.quantity_discounts}
	<div class="product-special-offer-quantity gap-bottom {class file=$smarty.template editable=true}">
		<ul>
		{foreach from=$product.quantity_discounts item=qd}
			{if $qd.free_shipping == "Yes" || $qd.discount > 0}
				{assign var="range_min" value=$qd.range_min|number_format:0:$LocalizationCurrencyDecimalSymbol:$LocalizationCurrencySeparatingSymbol}
				{assign var="range_max" value=$qd.range_max|number_format:0:$LocalizationCurrencyDecimalSymbol:$LocalizationCurrencySeparatingSymbol}
				<li>
					{if $qd.discount > 0}
						{if $qd.discount_type=="percent"}
							{lang msg=$msg.product.discount_percent range_min=$range_min range_max=$range_max value=$qd.discount}<br />
						{else}
							{lang msg=$msg.product.discount_amount range_min=$range_min range_max=$range_max value=$qd.discount|price}<br />
						{/if}
						{if $qd.free_shipping == "Yes"}
							and free shipping
						{/if}
					{else}
						{if $qd.free_shipping == "Yes"}
							Buy {$range_min} - {$range_max} and get free shipping 
						{/if}
					{/if}
				</li>
			{/if}
		{/foreach}
		</ul>
	</div>
{/if}