{counter name="productPageReviewsCounter" assign="productPageReviewsCounter"}
{if $ReviewsEnable == '1' && $productPageReviewsCounter == 1}
<div id="product-page-reviews" class="product-reviews product-page-block {class file=$smarty.template editable=true}">
	
	<h3 class="product-page-block-header">{$msg.reviews.product_reviews}</h3>
	
	<div class="spacer product-page-block-content">
		{if !empty($reviews)}
			{if (($auth_ok == "yes" || $user_cookie) && $auth_express !='yes')}
				{if $has_written_review}
					<div class="product-reviews-top-text">{$msg.reviews.create_review_success}</div>
				{else}
					<div class="product-reviews-top-text">
						<a href="javascript:void(0);" onclick="showReviewDialog();">{$msg.reviews.create_review_link}</a>
					</div>
				{/if}
			{else}
				{lang msg=$msg.reviews.new_review login='<a href="'|cat:$url_https|cat:'p=login">'|cat:$msg.account.login|cat:'</a>' register='<a href="'|cat:$url_https|cat:'p=signup">'|cat:$msg.account.register|cat:'</a>'}
			{/if}
			{foreach from=$reviews item="review"}
				<div class="product-review-item col-wrap clearfix">
					<div class="col-30">
						<div class="product-review-item-rating" title="{$review.rating}"></div>
						{if $review.user_login != ""}
							Reviewed by {$review.user_login|htmlspecialchars}<br/>
							{if $review.purchased}
							<div class="spacer small">
								{$review.user_login|htmlspecialchars} bought "{$product.title|htmlspecialchars}"
								on our website<br/>
							</div>
							{/if} 
						{/if}
						{$review.date_created}
						
					</div>
					<div class="col-70">
						<h5>{$review.review_title|htmlspecialchars}</h5>
						<div class="gap-left">
							{$review.review_text|htmlspecialchars|nl2br}
						</div>
					</div>
				</div>
			{/foreach}
		{else}
			{if (($auth_ok == "yes" || $user_cookie) && $auth_express !='yes')}
				<div class="product-reviews-top-text">
					<a href="javascript:void(0);" onclick="showReviewDialog();">{$msg.reviews.create_first_review}</a>
				</div>
			{else}
				{lang msg=$msg.reviews.new_first_review login='<a href="'|cat:$url_https|cat:'p=login">'|cat:$msg.account.login|cat:'</a>' register='<a href="'|cat:$url_https|cat:'p=signup">'|cat:$msg.account.register|cat:'</a>'}
			{/if}
		{/if}
	</div>
	{if (($auth_ok == "yes" || $user_cookie) && $auth_express !='yes')}
	<div id="new-product-review" class="invisible">
		<div class="div-new-product-review fieldset clearfix gap-bottom {class file=$smarty.template editable=true}">
			<input type="hidden" id="pid" name="pid" value="{$product.pid}" />
			<input type="hidden" id="product_id" name="product_id" value="{$product.product_id}" />
		
			<div class="field required first">
				<label>{$msg.reviews.write_review_title}</label>
				<div>
					<input class="form" type="text" id="new-product-review-title" name="review_title" value="" maxlength="255" />
				</div>
			</div>
		
			<div class="field required clearfix">
				<label>{$msg.reviews.write_review_text}</label>
				<div>
					<textarea class="form" id="new-product-review-text" name="review_text" rows="10" cols="40"></textarea>
				</div>
			</div>
			<div class="field required clearfix">
				<label>Rating</label>
				<div id="new-product-rating"></div>
			</div>
		</div>
		
		<div class="buttons">
			{button type="button" class="button-review-send" id="new-product-review-submit" text=$msg.buttons.buttonReviewSend file=$smarty.template}
			&nbsp;
			{button type="button" class="button-review-close" id="new-product-review-close" text=$msg.buttons.buttonReviewClose file=$smarty.template}
		</div>
		&nbsp;
	</div>
	{/if}
</div>
{/if}