<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="order_notifications.order_notifications"}</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
			<a href="admin.php?p=order_notifications&mode=add" class="btn btn-primary pull-right">{trans key="order_notifications.add_order_notification"}</a>
			<div class="btn-group pull-right">
				<a class="btn" href="#" data-target="#modal-settings" data-toggle="modal">{trans key="order_notifications.advanced_settings"}</a>
			</div>
		</div>
	</div>
	<hr class="clearfix">
</div>
<div class="content-help">
	{trans key="order_notifications.list_help"}
</div>

{if $notifications}
	<div class="container-fluid">
		<div class="col-xs-12 col-md-6">
			<div class="btn-group">
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						{trans key="common.bulk_actions"}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#" data-toggle="modal" data-target="#modal-notifications-delete">{trans key="common.delete"}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	&nbsp;
	<div class="container-fluid">
		<div class="col-xs-12 col-md-12">
			<table class="table table-striped">
				<thead>
					<tr>
						<th style="width:50px;"><input type="checkbox" id="selectAll"></th>
						<th>{trans key="order_notifications.name"}</th>
						<th>{trans key="order_notifications.contact"}</th>
						<th>{trans key="order_notifications.type"}</th>
						<th>{trans key="order_notifications.status"}</th>
					</tr>
				</thead>
				<tbody>
					{foreach from=$notifications item="one"}
						<tr>
							<td><input type="checkbox" class="checkbox-notification" name="row[{$one.products_location_id}]" value="{$one.products_location_id}"></td>
							<td><a href="admin.php?p=order_notifications&mode=update&id={$one.products_location_id}">{$one.name|htmlspecialchars}</a></td>
							<td>{$one.contact_name}</td>
							<td>{$one.location_type|ucfirst}</td>
							<td>{if $one.is_active == 'Yes' or $one.is_active == 1}{trans key="common.enabled"}{else}{trans key="common.disabled"}{/if}</td>
							<td class="list-actions text-right" nowrap>
								<a href="admin.php?p=order_notifications&mode=update&id={$one.products_location_id}"><span class="icon icon-edit"></span>{trans key="common.edit"}</a>
								<a href="#" onclick="return OrderNotifications.removeOrderNotification({$one.products_location_id}, '{$delete_nonce}');"><span class="icon icon-delete"></span>{trans key="common.delete"}</a>
							</td>
						</tr>
					{/foreach}
				</tbody>
			</table>
			<div class="custom-pager">
				{if $paginator->prevPage}
					<a role="button" class="btn btn-default" href="admin.php?p=order_notifications&amp;page={$paginator->prevPage}"><span class="icon icon-pagination-left"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-left"></span></button>
				{/if}

				{if $paginator->nextPage}
					<a role="button" class="btn btn-default" href="admin.php?p=order_notifications&amp;page={$paginator->nextPage}"><span class="icon icon-pagination-right"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-right"></span></button>
				{/if}

				<span class="text">{$paginator->itemsFrom}-{$paginator->itemsTo} <span class="of">{trans key="common.of"}</span> {$paginator->itemsCount}</span>
			</div>
		</div>
	</div>

	{include file="templates/pages/order-notifications/modal-delete.html"}
{else}
	<div class="container-fluid">
		<div class="col-xs-12 col-md-12">
			{trans key="order_notifications.no_records"}
		</div>
	</div>
{/if}

{include file="templates/pages/order-notifications/modal-settings.html"}

<script type="text/javascript" src="content/admin/scripts/order-notifications.js?v={$APP_VERSION}"></script>