<div class="modal fade" id="modal-notifications-delete" tabindex="-1" role="dialog" aria-labelledby="modal-notifications-delete-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-notifications-delete">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-notifications-delete-label">{trans key="order_notifications.delete_order_notifications"}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group col-xs-12">
						<label><input type="radio" name="form-notifications-delete-mode" value="selected" checked> {trans key="order_notifications.delete_selected_order_notifications"}</label>
						<label><input type="radio" name="form-notifications-delete-mode" value="search"> {trans key="order_notifications.delete_all_order_notifications"} ({trans key="common.all"} {$itemsCount})</label>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="button" nonce="{$delete_nonce}" class="btn btn-primary" data-action="action-notifications-delete">{trans key="common.delete"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>