<p><strong>{trans key="apps.bongo_checkout.title"}</strong>{trans key="apps.bongo_checkout.app_desc"}</p>
<div>
	<strong>{trans key="apps.bongo_checkout.process_overview"}:</strong>
	<ul style="margin-top:5px;">
		<li>{trans key="apps.bongo_checkout.text01"}</li>
		<li>{trans key="apps.bongo_checkout.text02"}</li>
		<li>{trans key="apps.bongo_checkout.text03"}</li>
		<li>{trans key="apps.bongo_checkout.text04"}</li>
		<li>{trans key="apps.bongo_checkout.text05"}</li>
		</li>
	</ul>
</div>

<div>
	<strong>{trans key="apps.bongo_checkout.benefits"}:</strong>
	<ul style="margin-top:5px;">
		<li>{trans key="apps.bongo_checkout.text06"}</li>
		<li>{trans key="apps.bongo_checkout.text07"}</li>
		<li>{trans key="apps.bongo_checkout.text08"}</li>
		<li>{trans key="apps.bongo_checkout.text09"}</li>
		<li>{trans key="apps.bongo_checkout.text10"}</li>
		<li>{trans key="apps.bongo_checkout.text11"}</li>
		<li>{trans key="apps.bongo_checkout.text12"}</li>
		<li>{trans key="apps.bongo_checkout.text13"}</li>
	</ul>
</div>
<h2>{trans key="apps.bongo_checkout.text14"}</h2>

<p><strong style="text-decoration:underline;">{trans key="apps.bongo_checkout.text15"}</strong></p>