<form name="form-settings" action="admin.php?p=app&key=bongo-checkout" role="form" method="post" data-auto-validate="1">
	<input type="hidden" name="nonce" id="nonce" value="{$nonce}">
	<div id="content-header">
		<div class="container-fluid">
			<h1 class="col-xs-6">{trans key="apps.bongo_checkout.title"}</h1>
			<div class="col-xs-6 pull-right text-right btn-toolbar">
				<a href="admin.php?p=apps">{trans key="common.cancel"}</a>
				<button type="submit" class="btn btn-primary">{trans key="common.save"}</button>
			</div>
		</div>
		<hr class="clearfix">
	</div>
	<div class="container-fluid">
		<div class="col-xs-12 btn-toolbar" style="margin-bottom: 22px;">
			<a href="#" class="btn" data-target="#modal-bongo-sync" data-toggle="modal">{trans key="apps.bongo_checkout.sync_products"}</a>
			<a href="#" class="btn" data-target="#modal-bongo-export" data-toggle="modal">{trans key="apps.bongo_checkout.export_products"}</a>
		</div>
	</div>
	{form form=$form}
</form>

<div class="modal fade" id="modal-bongo-sync" tabindex="-1" role="dialog" aria-labelledby="modal-bongo-sync-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-bongo-sync">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-bongo-sync-label">{trans key="apps.bongo_checkout.sync_products"}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label><input type="radio" name="form-bongo-sync-mode" value="active"> {trans key="apps.bongo_checkout.sync_published_products"}</label>
						<label><input type="radio" name="form-bongo-sync-mode" value="all" checked> {trans key="apps.bongo_checkout.sync_all_products"}</label>
					</div>
					<div class="progress progress-striped active" style="display: none;">
						<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0;">
							<span class="sr-only">0% {trans key="apps.bongo_checkout.complete"}</span>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="button" class="btn btn-primary" data-action="action-bongo-sync">{trans key="apps.bongo_checkout.sync"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="modal fade" id="modal-bongo-export" tabindex="-1" role="dialog" aria-labelledby="modal-bongo-export-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-bongo-export">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-bongo-export-label">{trans key="apps.bongo_checkout.export_products"}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label><input type="radio" name="form-bongo-export-mode" value="active"> {trans key="apps.bongo_checkout.export_published_products"}</label>
						<label><input type="radio" name="form-bongo-export-mode" value="all" checked> {trans key="apps.bongo_checkout.export_all_products"}</label>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="button" class="btn btn-primary" data-action="action-export-sync">{trans key="common.export"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<iframe id="iframe-download" src="" style="display: none;width: 1px;height: 1px;"></iframe>
<script type="text/javascript" src="content/admin/scripts/bongo-checkout.js?v={$APP_VERSION}"></script>