<form name="form-snippet" action="admin.php?p=snippet" role="form" method="post" data-auto-validate="1" autocomplete="off" enctype='multipart/form-data'>
	<input type="hidden" name="nonce" id="nonce" value="{$nonce}">
	<input type="hidden" name="mode" value="{$mode|gs}">
	{if $id}<input type="hidden" name="id" value="{$id|gs}">{/if}

	<div id="content-header">
		<div class="container-fluid">
			<h1 class="col-xs-6">
				{if $mode == 'add'}{trans key="snippet.add_snippet"}{else}{trans key="snippet.edit_snippet"}{/if}
			</h1>
			<div class="col-xs-6 pull-right text-right btn-toolbar">
				<a href="admin.php?p=snippets">{trans key="common.cancel"}</a>
				<button class="btn btn-primary">{trans key="common.save"}</button>
			</div>
		</div>
		<hr class="clearfix">
	</div>

	{form form=$form}
</form>

<script type="text/javascript" src="content/admin/scripts/snippets.js?v={$APP_VERSION}"></script>
