<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="snippet.snippets"}</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
			<a href="admin.php?p=snippet&mode=add" class="btn btn-primary pull-right">{trans key="snippet.add_snippet"}</a>
		</div>
	</div>
	<hr class="clearfix">
</div>
<div class="content-help">
	{trans key="snippet.list_help"}
</div>

{include file="templates/pages/snippet/modal-delete.html"}

{if $snippets}
	<div class="container-fluid">
		<div class="col-xs-6 col-md-6">
			<div class="btn-group">
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						{trans key="common.bulk_actions"}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#" data-toggle="modal" data-target="#modal-snippets-delete">{trans key="common.delete"}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	&nbsp;
	<div class="container-fluid">
		<div class="col-xs-12">
			<table class="table table-striped">
				<thead>
					<tr>
						<th style="width:50px;"><input type="checkbox" id="selectAll"></th>
						<th>{trans key="snippet.snippet_id"}</th>
						<th>{trans key="snippet.name"}</th>
						<th>{trans key="snippet.is_visible"}</th>
						<th>{trans key="snippet.priority"}</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{foreach from=$snippets item="one"}
						<tr>
							<td><input type="checkbox" class="checkbox-snippet" name="row[{$one.sid}]" value="{$one.sid}"></td>
							<td><a href="admin.php?p=snippet&mode=update&id={$one.sid}">{$one.snippet_id|htmlspecialchars}</a></td>
							<td><a href="admin.php?p=snippet&mode=update&id={$one.sid}">{$one.name|htmlspecialchars}</a></td>
							<td><a href="admin.php?p=snippet&mode=update&id={$one.sid}">{$one.is_visible|htmlspecialchars}</a></td>
							<td><a href="admin.php?p=snippet&mode=update&id={$one.sid}">{$one.priority}</a></td>
							<td class="list-actions text-right">
								<a href="admin.php?p=snippet&mode=update&id={$one.sid}"><span class="icon icon-edit"></span>{trans key="common.edit"}</a>
								<a href="#" onclick="return removeSnippet({$one.sid}, '{$delete_nonce}');"><span class="icon icon-delete"></span>{trans key="common.delete"}</a>
							</td>
						</tr>
					{/foreach}
				</tbody>
			</table>
			<div class="custom-pager">
				{if $paginator->prevPage}
					<a role="button" class="btn btn-default" href="admin.php?p=snippets&amp;page={$paginator->prevPage}"><span class="icon icon-pagination-left"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-left"></span></button>
				{/if}

				{if $paginator->nextPage}
					<a role="button" class="btn btn-default" href="admin.php?p=snippets&amp;page={$paginator->nextPage}"><span class="icon icon-pagination-right"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-right"></span></button>
				{/if}

				<span class="text">{$paginator->itemsFrom}-{$paginator->itemsTo} <span class="of">{trans key="common.of"}</span>  {$paginator->itemsCount}</span>
			</div>
		</div>
	</div>
{else}
	<div class="container-fluid">
		<div class="col-xs-12">
			{trans key="snippet.no_records"}
		</div>
	</div>
{/if}

<script type="text/javascript" src="content/admin/scripts/snippets.js?v={$APP_VERSION}"></script>
