<div class="modal fade" id="modal-snippets-delete" tabindex="-1" role="dialog" aria-labelledby="modal-snippets-delete-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-snippets-delete">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-snippets-delete-label">{trans key="snippet.delete_snippets"}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group col-xs-12">
						<label><input type="radio" name="form-snippets-delete-mode" value="selected" checked> {trans key="snippet.delete_selected_snippets"}</label>
						<label><input type="radio" name="form-snippets-delete-mode" value="all"> {trans key="snippet.delete_all_snippets"} ({trans key="common.all"} {$itemsCount})</label>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="button" nonce="{$delete_nonce}" class="btn btn-primary" data-action="action-snippets-delete">{trans key="common.delete"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>