<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="language.languages"}</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
			<a href="admin.php?p=language&mode=add" class="btn btn-primary pull-right">{trans key="language.add_language"}</a>
		</div>
	</div>
	<hr class="clearfix">
</div>

{include file="templates/pages/language/modal-delete.html"}

<div class="container-fluid">
	<div class="col-xs-12 col-md-6">
		<div class="btn-group">
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					{trans key="common.bulk_actions"}
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#" data-toggle="modal" data-target="#modal-textpages-delete">{trans key="common.delete"}</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
{if $languages}
	<div class="container-fluid">
		<div class="col-xs-12">
			<table class="table table-striped">
				<thead>
					<tr>
						<th style="width:50px;"><input type="checkbox" id="selectAll"></th>
						<th>{trans key="language.title"}</th>
						<th>{trans key="language.code"}</th>
						<th>{trans key="language.visible"}</th>
						<th>{trans key="language.default"}</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{foreach from=$languages item="language"}
						<tr>
							<td><input type="checkbox" class="checkbox-language" name="row[{$language.language_id}]" value="{$language.language_id}"></td>
							<td><a href="admin.php?p=language&mode=update&id={$language.language_id}">{$language.name|htmlspecialchars}</a></td>
							<td><a href="admin.php?p=language&mode=update&id={$language.language_id}">{$language.code|htmlspecialchars}</a></td>
							<td><span id="active_val_{$language.language_id}">{$language.is_active|htmlspecialchars}</span></td>
							<td>
								<input id="id-default-language-{$language.language_id}" class="default-language-radio-button" 
								type="radio" name="default_language" value="{$language.language_id}" {if $language.is_default=="Yes"}checked="checked"{/if}>
							</td>
							<td class="list-actions text-right">
								<a href="admin.php?p=language&mode=update&id={$language.language_id}"><span class="icon icon-edit"></span>{trans key="common.edit"}</a>
								<a href="#" onclick="return Languages.removeLanguage({$language.language_id}, '{$delete_nonce}');"><span class="icon icon-delete"></span>{trans key="common.delete"}</a>
							</td>
						</tr>
					{/foreach}
				</tbody>
			</table>
			<div class="custom-pager">
				{if $paginator->prevPage}
					<a role="button" class="btn btn-default" href="admin.php?p=languages&amp;page={$paginator->prevPage}"><span class="icon icon-pagination-left"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-left"></span></button>
				{/if}

				{if $paginator->nextPage}
					<a role="button" class="btn btn-default" href="admin.php?p=languages&amp;page={$paginator->nextPage}"><span class="icon icon-pagination-right"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-right"></span></button>
				{/if}

				<span class="text">{$paginator->itemsFrom}-{$paginator->itemsTo} <span class="of">{trans key="common.of"}</span> {$paginator->itemsCount}</span>
			</div>
		</div>
	</div>
{else}
	<div class="container-fluid">
		<div class="col-xs-12">
			{trans key="language.no_records"}
		</div>
	</div>
{/if}
<script type="text/javascript" src="content/admin/scripts/languages.js?v={$APP_VERSION}"></script>