html {color:#000000;font-family:Helvetica,Arial;font-size:12px;}
body {position:relative;display:block;}
body.page-product-print { background-color:#FFFFFF; }

/** clearfix **/
.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {display:block;}
/* End hide from IE Mac */

/** reset css **/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {margin:0;padding:0;}
html, div, map, dt, isindex, form {display:block;border:0px;}
img{border:0px;}

/** layout css **/
.container-wrap {width:100%;text-align:left;margin:0px auto;text-align:left;}
.doc1{width:960px;}
.doc2{width:1240px;}

.doc100{width:100%;}
.doc800x600C{width:780px;}
.doc800x600L{width:780px;margin-left:0;}
.doc1024x768C{width:1000px;}
.doc1024x768L{width:1000px;margin-left:0;}
.doc1280x1024C{width:1200px;}
.doc1280x1024L{width:1200px;margin-left:0;}

.layout-zone-header{min-height:100px;}

/** default navigation **/
.layout-zone-navigation{min-height:25px;line-height: 25px;}
.layout-zone-navigation ul{display:inline-block;margin:5px 0px;}
.layout-zone-navigation ul li{display:inline-block;padding:0px 5px;float:left;}
.layout-zone-navigation .col-right ul li{padding:0px 10px;}

/** top navigation **/
.container-navigation-top .layout-zone-navigation ul{margin:3px 0px;}
.container-navigation-top .layout-zone-navigation ul li.first{padding:0px 5px 0px 0px;}
.container-navigation-top .layout-zone-navigation ul li.last{padding:0px 0px 0px 5px;}

/** footer **/
.layout-zone-footer {text-align: center;clear:both;min-height:100px; padding-top: 20px;}
.layout-zone-footer ul {display:inline-block;margin:5px 0px;}
.layout-zone-footer ul li{display:inline;border-left:1px solid #ccc;padding:0px 10px;}
.layout-zone-footer ul li:first-child{border-left:none;}

/** subfooter **/
.subfooter{text-align:center;padding:10px;}

/** content **/
.container-main #main{padding:0px;margin:10px 0px;border:0px solid gray;min-height:700px;}
.container-main{position:relative;}
.container-main .layout-zone-left{float:left;width:200px;position:relative;min-height:400px;}
.container-main .layout-zone-right{float:right;width:200px;position:relative;min-height:400px;}
.container-main .layout-zone-content{float:left;position:relative;}
.container-main .layout-zone-content .wrap{min-height:50px;padding:0px 0px;display:block;}
.container-main .layout-zone-content .wrap-panels{min-height:50px;padding:10px 0px;display:block;}
.container-main .layout-zone-content .padding-left{padding-left:10px;}
.container-main .layout-zone-content .padding-right{padding-right:10px;}

/** elements / service **/
h1{padding:5px;font-size:16px;}
h2{padding:5px;font-size:15px;}
h3{padding:5px;font-size:14px;}
h4{padding:5px;font-size:13px;}
h5{padding:5px;font-size:12px;}
p{margin:7px 0px;}

.text-left{text-align:left;}
.text-center{text-align:center;}
.text-right{text-align:right;}
.remark{font-size:12px;}
.bold{font-weight:bold;}
.invisible{display:none;}
.spacer{padding:10px;}
.space-top{padding-top:10px;}
.space-bottom{padding-bottom:10px;}
.space-left{padding-left:10px;}
.space-right{padding-right:10px;}
.no-space-left{padding-left:0px;}
.no-space-right{padding-right:0px;}
.no-space-top{padding-top:0px;}
.no-space-bottom{padding-bottom:0px;}
.strike{text-decoration:line-through;}
.small{font-size:12px;}
.gap{margin:10px;}
.gap-left{margin-left:5px;}
.gap-right{margin-right:5px;}
.gap-bottom{margin-bottom:10px;}
.gap-top{margin-top:10px;}
.no-gap-left{margin-left:0px;}
.no-gap-right{margin-right:0px;}
.no-gap-bottom{margin-bottom:0px;}
.no-gap-top{margin-top:0px;}

/** columns **/
.col-wrap:after{clear:both;content:".";display:block;height:0px;visibility:hidden;}
.col-wrap .col-left{float:left;}
.col-wrap .col-right{float:right;}
.col-wrap .col-5{float:left;width:5%;}
.col-wrap .col-10{float:left;width:10%;}
.col-wrap .col-15{float:left;width:15%;}
.col-wrap .col-20{float:left;width:20%;}
.col-wrap .col-25{float:left;width:25%;}
.col-wrap .col-30{float:left;width:30%;}
.col-wrap .col-33{float:left;width:33.3%;}
.col-wrap .col-35{float:left;width:35%;}
.col-wrap .col-40{float:left;width:40%;}
.col-wrap .col-50{float:left;width:50%;}
.col-wrap .col-60{float:left;width:60%;}
.col-wrap .col-67{float:left;width:66.6%;}
.col-wrap .col-70{float:left;width:70%;}
.col-wrap .col-75{float:left;width:75%;}
.col-wrap .col-80{float:left;width:80%;}
.col-wrap .col-85{float:left;width:85%;}
.col-wrap .col-90{float:left;width:90%;}
.col-wrap .col-95{float:left;width:95%;}
.col-wrap .col-100{float:left;width:100%;}

/** table columns **/
td.col-5{width:5%;}
td.col-10{width:10%;}
td.col-15{width:15%;}
td.col-20{width:20%;}
td.col-25{width:25%;}
td.col-30{width:30%;}
td.col-33{width:33.3%;}
td.col-35{width:35%;}
td.col-40{width:40%;}
td.col-50{width:50%;}
td.col-60{width:60%;}
td.col-67{width:66.6%;}
td.col-70{width:70%;}
td.col-75{width:75%;}
td.col-80{width:80%;}
td.col-85{width:85%;}
td.col-90{width:90%;}
td.col-95{width:95%;}


/** panels **/
.panel {margin: 0 0 10px 0; border: 1px solid #ccc;}
.panel:last-child{margin-bottom:0px;}
.panel .title{padding:5px;font-size:14px;}
.panel .content{padding:10px;font-size:13px;}
.panel .content input[type="text"]{font-size:12px;width:98%;}

.container-main .layout-zone-content .panel:first-child{margin-top:0px;}

.panel-catalog-categories ul{margin-left:0px;}
.panel-newsletters-subscribe .content .unsubscribe { text-align: center; font-size: 10px; }
.panel-account-profile .content ul { list-style-type: none; margin: 0; }
.panel-checkout .content ul { list-style-type: none; margin: 0; }
.panel-catalog-manufacturers .content select { width: 100%; }
.panel-catalog-search .content { text-align: center; }
.panel-catalog-bestsellers .content ul,
.panel-checkout-cart .content ul,
.panel-checkout-cart .content ul,
.panel-catalog-recent .content ul { list-style-type: none; margin: 0; }
.panel-catalog-bestsellers .content ul li,
.panel-checkout-cart .content ul li,
.panel-catalog-recent .content ul li { background: url(../images/menu_tree_arrow_right_empty.gif) no-repeat top left; padding-left:15px; margin-bottom: 5px; }
.panel-checkout-cart .content .subtotal { text-align: right; font-weight: bold; border: 1px solid #cccccc; border-width: 1px 0; padding: 4px 0; }
.panel-checkout-cart .content ul.checkout { text-align: right; list-style-type: none; }
.panel-checkout-cart .content ul.checkout li { background-image: none; }

/** forms **/
.fieldset .no-space-left{padding-left:0px;}
.fieldset .no-space-right{padding-right:0px;}
.fieldset .no-space-top{padding-top:0px;}
.fieldset .no-space-bottom{padding-bottom:0px;}
.fieldset .gap-left{margin-left:5px;}
.fieldset .gap-right{margin-right:5px;}
.fieldset .gap-bottom{margin-bottom:10px;}
.fieldset .gap-top{margin-top:10px;}
.fieldset .no-gap-left{margin-left:0px;}
.fieldset .no-gap-right{margin-right:0px;}
.fieldset .no-gap-bottom{margin-bottom:0px;}
.fieldset .no-gap-top{margin-top:0px;}
.fieldset h3{padding:5px;font-size:16px;margin-bottom:10px;background:#f0f0f0;}
.fieldset h3.light{color:gray;}
.fieldset h4{padding:5px 10px;font-size:14px;margin-top:10px;}
.fieldset .field{padding-bottom:10px;clear:both;}
.fieldset .field.first{padding-top:10px;}
.fieldset .field label, .fieldset .field.title{float:left;padding:2px 0px 0px 10px;font-size:12px;color:#666666;}
.fieldset .field div label{float:none;padding:0;}
.fieldset .field.required label{font-weight:bold;}
.fieldset .field div{margin-left:220px;margin-right:15px;}
.fieldset .field div.hint{margin-left:0px;margin-right:0px;}
.fieldset .field .captcha{padding-left:10px;margin:0px;float:left;text-align:left;}
.fieldset .field .captcha div{margin:0px;float:left;}
.fieldset .option{padding-bottom:10px;}
.fieldset .option.first{padding-top:10px;}
.fieldset .option div{width:25px;float:left;margin-left:10px;}
.fieldset .option div input[type='radio']{float:left;width:13px;height:13px;}
.fieldset .option div input[type='checkbox']{float:left;width:13px;height:13px;}
.fieldset .option label{font-size:12px;}
.fieldset .hint {font-size:12px;padding:0px;margin:5px 0px;float:none;color:#999;}
.fieldset span.hint {display: block;}
.page-profile .buttons {color: transparent;}
.page-profile #receives_marketing{ margin-top: 15px; }
.fieldset input[type="text"]{font-size:12px;width:200px;height:16px;padding:2px;padding-left:3px;font-family:Helvetica;}
.fieldset input[type="file"]{height:22px;padding:2px;padding-left:3px;font-family:Helvetica;}
.fieldset .error[type="text"]{}
.fieldset .error[type="file"]{height:22px;padding:2px;padding-left:3px;font-family:Helvetica;}
.fieldset input[type="password"]{font-size:12px;width:200px;height:16px;padding:2px;padding-left:3px;font-family:Helvetica;}
.fieldset .error[type="password"]{}
.fieldset input[type="checkbox"]{margin:0px;padding:0px;}
.fieldset input[type="radio"]{margin-top:2px;}
.fieldset select{font-size:12px;width:207px;height:24px;padding-top:2px;padding-left:3px;font-family:Helvetica;}
.fieldset select.wide{float:left;width:100%;margin:0px;padding:0px;height:100px;}
.fieldset select option{margin:0px;padding:3px;}
.fieldset select option.grayed{margin:0px;padding:3px;}
.fieldset textarea{float:left;width:100%;height:200px;margin:0px;padding:0px;}
.fieldset textarea.small{float:left;width:100%;height:50px;margin:0px;padding:0px;}
.buttons{text-align:center;padding:10px 0px;margin:0px;}
.separator-line{border-top:2px solid #f0f0f0;}

/** table forms **/
table.fieldset {width:95%;margin:0px;padding:0px;border-spacing:0px;border-collapse:collapse;}
table.fieldset tr.field {padding:0px;margin:0px;}
table.fieldset tr.field td{padding:0px 0px 3px 0px;margin:0px;}
table.fieldset tr.field td div,table.fieldset tr.field div  {min-height:25px;padding:0px 0px 5px 0px;margin:0px;float:none;}
table.fieldset tr.field td div label{width:140px;padding:3px 0px 3px 0px;margin:0px;display:inline-block;float:none;}
table.fieldset tr.field td div input[type="text"]{width:170px;display:inline-block;}
table.fieldset tr.field td div input[type="password"]{width:170px;display:inline-block;}
table.fieldset tr.field td div select{width:178px;display:inline-block;padding-top:2px;}
table.fieldset tr.field td div textarea{height:80px;width:100%;display:inline-block;float:none;}

table.fieldset tr.checkbox td div, table.fieldset tr.radio td div{padding:0px;min-height:18px;}
table.fieldset tr.checkbox td div.input, table.fieldset tr.radio td div.input{padding:0px;margin:0px;width:20px;float:left;}
table.fieldset tr.checkbox td div.input input[type="checkbox"],table.fieldset tr.radio td div.input input[type="radio"]{width:13px;height:13px;padding:0px;margin:3px 0px;}
table.fieldset tr.checkbox td div label,table.fieldset tr.radio td div label{width:70%;}
table.fieldset tr.field td div select.select-expiration-month{width:65px;}
table.fieldset tr.field td div select.select-expiration-year{width:65px;}
table.fieldset tr.field td div select.select-start-month{width:65px;}
table.fieldset tr.field td div select.select-start-year{width:65px;}

table.fieldset tr.field td div input.input-cvv2{width:56px;}
table.fieldset tr.field td div.hint{padding:0px;margin:0px;min-height:10px;}

table.fieldset tr.field td div.custom-field-radio{float:left;width:160px;padding:3px;}
table.fieldset tr.field td div.custom-field-radio label{width:120px;clear:none;}


.page-billing_and_shipping_address .fieldset input { width: 100%; }
.page-billing_and_shipping_address .fieldset select { width: 100%; }

/** messages **/
.msg-error, .msg-notice, .msg-warning{font-size:12px;font-weight:bold;margin:5px 0px 10px 0px;}
.msg-error{ color:#AA0000; }
.msg-notice{ color:#666; }
.msg-warning{ color: #333; }
.msg-error ul li, .msg-notice ul li, .msg-warning ul li{font-size:12px;font-weight:normal;color:#444444;padding-top:5px;}
.msg-error ul li:first-child, .msg-notice ul li:first-child, .msg-warning ul li:first-child{padding-top:0px;}
.msg-error-framed {padding:10px;border:1px solid #cccccc;font-size:16px;margin:10px;}

/** lists **/
table.list {width:100%;margin-bottom:25px;border: 1px solid #ccc; border-collapse: collapse;}
table.list thead tr th{padding:7px;background:#f0f0f0;}
table.list tbody tr td{padding:7px;font-size:12px;}
table.list tfoot tr td{padding:7px;border-top:1px solid #f0f0f0;font-size:12px;font-size:100%;text-align:right;}
ul.list{margin:7px 15px;}
ul.list li{margin:3px 0px;}

/** catalog pages **/
.categories ul{list-style:none;}
.categories ul li{float:left;width:24%;}

.catalog-product-sub-categories ul { list-style: none;padding:0px;margin:0px; }
.catalog-product-sub-categories ul li {display: inline-block; float:left;width:24.99%;padding:5px 0px;margin:0px; }
.catalog-product-sub-categories ul.subcat-images li { text-align: center; }

.subcategory-image { display: block; margin: 10px; }

.catalog-bread-crumbs {padding:5px;font-size:11px;}

.catalog-navigation {border-top:1px solid #cccccc;border-bottom:1px solid #cccccc;margin:10px 0px;padding:5px 0px;}
.catalog-navigation .left{padding:5px 5px 5px 10px;}

.catalog-page-breaks {margin:10px 0px;padding:5px 0px;clear:both;}
.catalog-page-breaks span{padding:5px;display:inline-block;}
.catalog-page-breaks span.active{padding:5px;color:white;background-color:gray;}

/** catalog products elemenents **/
.catalog-product-title{font-size:14px;font-weight:bold;margin:0px;padding:0px 0px 5px 0px;}
.catalog-product-sale-price{margin:5px 0px;font-size:16px;}

/** catalog products views **/
.catalog-product-add .input-quantity {width:22px;}
.catalog-product-add .submit { width: auto; }
.catalog-product-more-in-category { font-size: 12px; margin: 5px 0; }
.catalog-product-hot-deal span { font-weight: bold; color: #F30; }

.catalog-list {border-collapse:collapse;width:100%;}

.catalog-view-display .catalog-product{padding:10px 5px;text-align:center;}
.catalog-view-display .catalog-product-add .input-quantity{margin:0px;padding:0px;width:25px;margin-right:10px;display:inline-block;}
.catalog-view-display .catalog-product-add input[type='image']{display:inline-block;}

.catalog-view-display-box .catalog-list td{height:270px;}
.catalog-view-display-box .catalog-product{padding:10px 5px;text-align:center;}
.catalog-view-display-box .catalog-product-add .input-quantity{margin:0px;padding:0px;margin-right:10px;display:inline-block;}
.catalog-view-display-box .catalog-product-add input[type='image']{display:inline-block;}
.catalog-view-display-box .product-box {border:1px solid #c0c0c0;margin:5px;padding:5px;}

.catalog-view-thumb1 .catalog-list td{padding:5px 10px;}
.catalog-view-thumb1 .catalog-product {padding:10px 0px;}
.catalog-view-thumb1 .catalog-product-image{text-align:left;}
.catalog-view-thumb1 .catalog-product-hot-deal {text-align:left;}
.catalog-view-thumb1 .catalog-product-id { font-size: 0.8em; }

.catalog-view-thumb1-clean .catalog-product {margin-bottom:15px;}
.catalog-view-thumb1-clean .catalog-product-image{text-align:center;}
.catalog-view-thumb1-clean .catalog-product-hot-deal { text-align: center; }

.catalog-view-flexible .catalog-product {float:left;display:block;width:160px;min-width:160px;max-width:50%;text-align:center;}
.catalog-view-flexible .catalog-product-title{font-size:12px;}
.catalog-view-flexible .catalog-product-sale-price{font-size:12px;}

.catalog-view-thumb1 .catalog-list td{width:50%;}
.catalog-view-thumb2 .catalog-product{margin:0px;padding:5px;}
.catalog-view-thumb2 .catalog-product-title{background-color:#f0f0f0;padding:5px;}
.catalog-view-thumb2 .catalog-product-image{text-align:center;}
.catalog-view-thumb2 .catalog-product-hot-deal{text-align: center; }
.catalog-view-thumb2 .gap-left{margin-left:5px;}
.catalog-view-thumb2 .gap-right{margin-right:5px;}
.catalog-view-thumb2 .catalog-product-add .input-quantity{margin:0px;padding:0px;width:30px;margin-right:10px;display:inline-block;}
.catalog-view-thumb2 .catalog-product-add input[type='image']{display:block; margin-top: 5px; }
.catalog-view-thumb2 .catalog-product-id{font-size:0.8em;}
.catalog-view-thumb3 .catalog-product{text-align:center;padding:10px 5px;}
.catalog-view-thumb3 .catalog-product-title{font-size:14px}
.catalog-view-thumb3 .catalog-product-id{font-size:0.8em;}

.catalog-view-thumb3-clean .catalog-product {height:300px;border-bottom:1px solid silver;border-right:1px solid silver;padding:15px;}
.catalog-view-thumb3-clean .catalog-product-title{font-size:14px}
.catalog-view-thumb3-clean .product-image{text-align:center;height:150px;}
.catalog-view-thumb3-clean .product-image img {height:140px;}
.catalog-view-thumb3-clean .catalog-product-add .input-quantity{margin:0px;padding:0px;width:50px;margin-right:10px;display:inline-block;}

/** text view **/
.catalog-view-text .catalog-list{border:1px solid #dddddd;}
.catalog-view-text .catalog-list thead tr th { background: #eee; }
.catalog-view-text .catalog-list th{padding:7px;}
.catalog-view-text .catalog-list td{padding:7px;}
.catalog-view-text .catalog-list tr.even { background: #f0f0f0; }
.catalog-view-text .catalog-product-id {font-size:12px;}
.catalog-view-text .catalog-product-title {font-size:12px;}
.catalog-view-text .catalog-product-sale-price {font-size:12px;}
.catalog-view-text .catalog-product-sale-price {font-size:12px;}
.catalog-view-text .catalog-product-hot-deal {font-size:12px;}
.catalog-view-text .catalog-product-hot-deal span {line-height:24px;margin:0 5px;}
.catalog-view-text .catalog-product .price { font-size: 12px; }

.catalog-product-sale-price .sale-price-label { color: #990000; }
.catalog-product-sale-price .sale-price-amount { color: #990000; }


.product-rating-small{width:60px;padding-top:3px;float:left;}
.product-reviews-link{float:left;}



/** Product page commons **/

.page-product .product-bread-crumbs{font-size:11px;}
.page-product .product-print{}
.page-product .product-image{display:inline-block;text-align:center;width:100%;}
.page-product .product-id{}
.page-product .product-hot-deal{}
.page-product .product-price{margin-bottom:5px;}
.page-product .product-price .price-label {margin-bottom:5px;font-size:150%;color:#000000;}
.page-product .product-price .price-amount {margin-bottom:5px;font-size:150%;color:#000000;}
.page-product .product-price .price-label.compared {margin-bottom:5px;font-size:125%;color:#000000;}
.page-product .product-price .price-amount.compared {margin-bottom:5px;font-size:125%;color:#000000;}
.page-product .product-price .sale-price-label {margin-bottom:5px;font-size:150%;color:#990000;}
.page-product .product-price .sale-price-amount {margin-bottom:5px;font-size:150%;color:#990000;}
.page-product .product-purchase .fieldset .field{padding:0px;margin:0px 0px 7px 0px;}
.page-product .product-purchase .fieldset .field.first{padding:0px;}
.page-product .product-purchase .fieldset label{padding:0px;float:none;clear:both;font-weight:bold;}
.page-product .product-purchase .fieldset div{margin:0px;float:none;clear:both;margin:0px 0px 7px 0px;}
.page-product .product-purchase .fieldset .product-quantity label{padding:6px 0px 0px 0px;margin:0px;float:left;width:120px;clear:none;}
.page-product .product-purchase .fieldset .product-quantity div{float:left;width:100px;clear:none;}
.page-product .product-purchase .fieldset .product-quantity div input{width:50px;}
.page-product .product-recurring-details{ background-color: #F7F7F7;
	border: 1px solid #808080;
	margin-top: 15px;
	max-width: 500px;
	padding: 0;}

.page-product .product-purchase .fieldset .product-recurring-start-date label{padding:6px 0px 0px 0px;margin:0px 0px 10px 0px;float:left;width:120px;clear:none;}
.page-product .product-purchase .fieldset .product-recurring-start-date div{float:left;width:100px;clear:none;}
.page-product .product-purchase .fieldset .product-recurring-start-date div input{width:120px;}
.ui-datepicker{margin-top:-30px;}

.page-product .product-purchase .div-add-button {display:inline;margin:0;margin-top:2px;}
.page-product .product-purchase .div-checkout-button {text-align:left;margin-left:10px;}


.page-product .product-description .product-page-block-content ul { margin: 10px; padding: 5px; }

/** special offer - free **/
.page-product .product-special-offer { border: 1px solid #ccc; background: #f0f0f0; padding: 10px; }
.page-product .product-special-offer p { margin: 0; }
.page-product .product-special-offer .offer-value { margin: 0; font-weight: bold; }
.page-product .product-special-offer ul { list-style-type: none; }
.page-product .product-special-offer ul li { padding-left: 20px; }
.page-product .product-special-offer .title { padding: 0; color: red; }

/** special offer - quantity **/
.page-product .product-special-offer-quantity ul { list-style-type: none; padding: 0px 0px 10px 0px; font-size: 12px; }
.page-product .product-special-offer-quantity ul li { font-weight: bold; color: red; border-bottom:1px solid #999999;padding:5px 0px;}

/** product secondary images **/
.page-product .product-page-center .product-secondary-images h3{background:none;text-align:left;margin:0px;padding-bottom:0;}
.page-product .product-page-center .product-secondary-images ul{list-style:none;margin:10px 0px;}
.page-product .product-page-center .product-secondary-images ul li{list-style:none;float:left;margin: 5px 10px 5px 0;}
.page-product .product-page-center .product-secondary-images ul li div{}
.page-product .product-page-center .product-secondary-images ul li img{vertical-align:middle;text-align:center;}
.page-product .product-page-blocks .product-secondary-images ul{list-style:none;margin:10px 0px;}
.page-product .product-page-blocks .product-secondary-images ul li{list-style:none;float:left;margin-right:10px;}
.page-product .product-page-blocks .product-secondary-images ul li div{}
.page-product .product-page-blocks .product-secondary-images ul li img{vertical-align:middle;text-align:center;}

/** product page blocks and tabs **/
.page-product .product-page-blocks .ui-tabs,.product-page-blocks.ui-tabs{padding:0px;}
.page-product .product-page-blocks.ui-tabs .ui-tabs-nav li a {padding:4px 8px;}
.page-product .product-page-blocks.ui-tabs .ui-tabs-nav li {margin:0 5px -1px 0px;}
.page-product .product-page-blocks .ui-widget, .product-page-blocks.ui-widget{font:inherit;}
.page-product .product-page-blocks .ui-widget-content, .product-page-blocks.ui-widget-content{background:none;border:none;}
.page-product .product-page-blocks .ui-corner-all, .product-page-blocks.ui-corner-all{-moz-border-radius:0px;}
.page-product .product-page-blocks .ui-widget-header{background:none;border:0px;border-bottom:1px solid silver;}
.page-product .product-page-blocks .ui-tabs-nav{padding:0px 0px 0px 10px;}
.page-product .product-page-blocks .ui-tabs-panel{padding:0px;font-size:13px;border:1px solid #C0C0C0;border-top:none;}
.page-product .product-page-blocks .ui-state-active{border:1px solid silver;color:black;}
.page-product .product-page-blocks {margin-top:10px;}

/** product ratings and review**/
.page-product .product-rating div {font-size:12px;line-height:25px;}
.page-product .product-rating .rating-value{ float: left; margin-right: 10px; }
.page-product .product-review-item{border-top:1px solid silver;margin:10px 0px;padding:10px 0px;}



/* product style 1 */
.product-view-style1 .product-purchase{border:1px solid gray;padding:0px;background-color:#f7f7f7;margin-top:15px;max-width:500px;}
.product-view-style1 .product-purchase h3{display:none;}
.product-view-style1 .product-purchase .buttons{padding:0px;}
.product-view-style1 .product-purchase #div-add-button{text-align:right;}
.product-view-style1 .product-page-center .product-image .click-to-enlarge{display:none;}
.product-view-style1 .product-page-center .product-secondary-images h3{display:none;}
.product-view-style1 .product-page-center .product-secondary-images .spacer{padding:0px;}
.product-view-style1 .product-page-center .product-secondary-images .spacer .click-to-enlarge{display:none;}
.product-view-style1 .product-page-center .product-secondary-images ul{list-style:none;margin:10px 0px;display:inline-block;text-align:center;}
.product-view-style1 .product-page-center .product-secondary-images ul li{list-style:none;float:left;margin:5px 5px 5px 0px;}
.product-view-style1 .product-page-center .product-secondary-images ul li div{}
.product-view-style1 .product-page-center .product-secondary-images ul li img{vertical-align:middle;text-align:center;}
.product-view-style1 .product-page-block .product-page-block-header{border-bottom:1px solid #c0c0c0;}

/* product style 2 */
.product-view-style2 .product-purchase{border:1px solid gray;padding:0px;background-color:#f7f7f7;margin-top:15px;max-width:500px;}
.product-view-style2 .product-purchase h3{display:none;}
.product-view-style2 .product-purchase .buttons{padding:0px;}
.product-view-style2 .product-purchase #div-add-button{text-align:right;}
.product-view-style2 .product-page-center .product-image .click-to-enlarge{display:none;}
.product-view-style2 .product-page-center .product-secondary-images h3{display:none;}
.product-view-style2 .product-page-center .product-secondary-images .spacer{padding:0px;}
.product-view-style2 .product-page-center .product-secondary-images .spacer .click-to-enlarge{display:none;}
.product-view-style2 .product-page-center .product-secondary-images ul{list-style:none;margin:10px 0px;display:inline-block;text-align:center;}
.product-view-style2 .product-page-center .product-secondary-images ul li{list-style:none;float:left;margin:5px 5px 5px 0px;}
.product-view-style2 .product-page-center .product-secondary-images ul li div{}
.product-view-style2 .product-page-center .product-secondary-images ul li img{vertical-align:middle;text-align:center;}
.product-view-style2 .product-page-block .product-page-block-header{background-color:#f0f0f0;padding:10px;}

/* product style 3 */
.product-view-style3 .product-page-center .product-image .click-to-enlarge{display:none;}
.product-view-style3 .product-page-center .product-secondary-images h3{display:none;}
.product-view-style3 .product-page-center .product-secondary-images .spacer{padding:0px;}
.product-view-style3 .product-page-center .product-secondary-images .spacer .click-to-enlarge{display:none;}
.product-view-style3 .product-page-center .product-secondary-images li {clear:left;}
.product-view-style3 .product-purchase{border:1px solid gray;padding:0px;background-color:#f7f7f7;max-width:800px;}
.product-view-style3 .product-purchase h3{display:none;}
.product-view-style3 .product-purchase .buttons{padding:0px;}
.product-view-style3 .product-purchase .product-attribute div{padding:5px 0px 0px 5px;}
.product-view-style3 .product-purchase #div-add-button{text-align:right;}

/* product style 4 */
.product-view-style4 .product-page-center .product-image .click-to-enlarge{display:none;}
.product-view-style4 .product-page-center .side-borders{border-left:1px solid #c0c0c0;border-right:1px solid #c0c0c0;}
.product-view-style4 .product-page-center .product-secondary-images h3{display:none;}
.product-view-style4 .product-page-center .product-secondary-images .spacer{padding:0px;}
.product-view-style4 .product-page-center .product-secondary-images .spacer .click-to-enlarge{display:none;}
.product-view-style4 .product-page-center .product-overview{margin-top:10px;}
.product-view-style4 .product-page-center .product-overview .product-page-block-header{padding:0px;margin:0px;}
.product-view-style4 .product-page-center .product-overview .product-page-block-content{padding:5px 0px 0px 5px;margin:0px;}
.product-view-style4 .product-purchase{-border-top:1px solid #c0c0c0;padding:0px;-background-color:#f7f7f7;max-width:800px;margin-top:15px;}
.product-view-style4 .product-purchase .spacer{padding:0px;padding-top:10px;}
.product-view-style4 .other-products .product-recommended{border:1px solid #c0c0c0;padding:5px;}
.product-view-style4 .other-products .product-recommended .product-page-block-header{display:none}
.product-view-style4 .other-products .product-siblings{border:1px solid #c0c0c0;padding:5px;}
.product-view-style4 .other-products .product-siblings .product-page-block-header{font-size:12px;}
.product-view-style4 .product-purchase h3{display:none;}
.product-view-style4 .product-purchase .buttons{padding:0px;}
.product-view-style4 .product-purchase .product-attribute div{padding:5px 0px 0px 5px;}
.product-view-style4 .product-purchase #div-add-button{text-align:left;}
.product-view-style4 .rating-container{display:inline-block;text-align:center;width:125px;float:none;padding-top:10px;}
.product-view-style4 .fieldset select {width:100%;}

/* product style 5 */
.product-view-style5 .product-page-center .product-image .click-to-enlarge{display:none;}
.product-view-style5 .product-page-center .side-borders{border-left:1px solid #c0c0c0;border-right:1px solid #c0c0c0;}
.product-view-style5 .product-page-center .product-secondary-images h3{display:none;}
.product-view-style5 .product-page-center .product-secondary-images .spacer{padding:0px;}
.product-view-style5 .product-page-center .product-secondary-images .spacer .click-to-enlarge{display:none;}
.product-view-style5 .product-page-center .product-overview{margin-top:10px;}
.product-view-style5 .product-page-center .product-overview .product-page-block-header{padding:0px;margin:0px;}
.product-view-style5 .product-page-center .product-overview .product-page-block-content{padding:5px 0px 0px 5px;margin:0px;}
.product-view-style5 .product-purchase{-border-top:1px solid #c0c0c0;padding:0px;-background-color:#f7f7f7;max-width:800px;margin-top:15px;}
.product-view-style5 .product-purchase .spacer{padding:0px;padding-top:10px;}
.product-view-style5 .other-products .product-recommended{border:1px solid #c0c0c0;}
.product-view-style5 .other-products .product-recommended h4{padding:10px;}
.product-view-style5 .other-products .product-siblings{border:1px solid #c0c0c0;}
.product-view-style5 .other-products .product-siblings .product-page-block-header{font-size:12px;}
.product-view-style5 .product-purchase h3{display:none;}
.product-view-style5 .product-purchase .buttons{padding:0px;}
.product-view-style5 .product-purchase .product-attribute div{padding:5px 0px 0px 5px;}
.product-view-style5 .product-purchase #div-add-button{text-align:left;}
.product-view-style5 .product-purchase #div-add-button input{width:140px;height:35px;margin-top:5px;}
.product-view-style5 .rating-container{display:inline-block;text-align:center;width:125px;float:none;padding-top:10px;}
.product-view-style5 .product-page-block .product-page-block-header{background-color:#f0f0f0;padding:10px;}
.product-view-style5 .framed{padding:0px;border:4px solid #c0c0c0;}
.product-view-style5 .product-page-blocks{padding:0px;margin:0px;}
.product-view-style5 .other-products .catalog-view-flexible .catalog-product{width:100%;max-width:100%;}


/* product style 3 */
/*
.product-view-style3 .fieldset .field div{margin-left:120px;}
.product-view-style3 .fieldset .field .hint{margin:0px;}
.product-view-style3 .product-image { display: block; text-align: center; }
.product-view-style3 .product-images .image-primary { display: inline-block; }
.product-view-style3 .product-secondary-images { text-align: center; }
.product-view-style3 .product-secondary-images h3 { text-align: center; }
.product-view-style3 .product-secondary-images ul { margin: auto; text-align: center; }
.product-view-style3 .product-secondary-images ul li { float: none; display: inline-block; }
.product-view-style3 .product-page-blocks { margin-top: 10px; }
*/



.div-new-product-review .field div { margin-left: 120px; }

/** testimonial **/
.testimonial{border:1px solid gray;background:#FEF6DA;padding:25px;margin-top:10px;}
.testimonial .testimonial-text{font-size:16px;font-style:italic;font-family:times;text-indent:30px;}
.testimonial .testimonial-author{text-align:right;}


/** wishlist **/
.page-wishlist-manage table { width: 100%; border: 1px solid #ccc; border-collapse: collapse; }
.page-wishlist-manage table tr td { border: 1px solid #ccc; padding: 10px; }
.page-wishlist-manage table thead tr td { border: none; }

/** checkout **/
.cart .quantity {width:50px;text-align:right;}
.cvv2 {width:50px;}
ul li.productOption { list-style-type: none; padding-left: 20px; font-style: italic; }
ul li.productOption span { padding-left: 10px; }

/** images **/
.image-cart { vertical-align: middle; }


/** pages fixes **/
.page-unsubscribe .cancel-email{width:300px;}

.page-login .fieldset, .page-password_reset .fieldset{border:1px;}
.page-login .fieldset h3, .page-password_reset .fieldset h3{display:none}
/* TODO: Figure out if we can avoid referencing the label/div tag names here directly */
.page-login .fieldset .field label,
.page-password_reset .fieldset .field label {padding-left:0px;width:140px;float:none;clear:both;}
.page-login .fieldset .field div,
.page-password_reset .fieldset .field div{ float:none;clear:both;margin-left:0px; }
.page-login .buttons, .page-password_reset .buttons{text-align:left;}
.page-login .col-50.col-left .spacer { border-right: 1px solid #ccc; }
.page-login .express-checkout { margin-top: 25px; }


/** page-cart **/
.page-cart .cart-paypal-or{position:relative;top:-25px;padding-right:5px;}
.page-cart .cart-paypal-or.cart-paypal-bml{top:-85px;}

.page-cart table.list { margin: 10px 0px; }
.page-cart table.list tr td {padding:15px;}
.page-cart table.list tr td .quantity { width: 30px; text-align: left; }
.page-cart table.list tr td,
.page-cart table.list tr th { border: 1px solid #ccc; }
.page-cart table.list tr td.cart-image { border-right: none; width: 15%; }
.page-cart table.list tr td.cart-image img { width:80px;margin-right:10px;margin-bottom:10px;text-align: left; }
.page-cart table.list tr td.cart-description { border-left: none; }
.page-cart table.list tfoot { background: #f0f0f0; }
.page-cart table.list tfoot tr td { border: none; }
.page-cart table.list tfoot tr td.text-left { text-align: left; }
.page-cart table.list tr td.cart-amount { text-align: right; padding-right:20px; padding-left: 30px; }
.page-cart table.list tr td.cart-quantity { padding-left:10px; padding-right:10px; }

.page-cart table.list tr td span.product-id { font-size: 12px; }
.page-cart table.list tr td ul { list-style-type: none; }

.page-cart .div-checkout-button { text-align: right; }


.page-cart .cart-other-options .spacer { border: 1px solid #ccc; background: #f0f0f0; }
.page-cart .cart-other-options .spacer .spacer { border: none; }
.page-cart .cart-other-options h3 { font-size: 14px; margin-bottom: 20px; }
.page-cart .cart-other-options h4 { font-size: 12px; font-weight: bold; padding: 0; margin-bottom: 5px; }
.page-cart .cart-other-options .others-bought ul { list-style-type: none; }
.page-cart .cart-other-options .others-bought ul li { margin-bottom: 10px; border-top: 1px solid #ccc; padding-top: 10px; }
.page-cart .cart-other-options .others-bought ul li:first-child { border-top: none; padding-top: 0px; }
.page-cart .cart-other-options .others-bought ul li img { width: 100px; }

.page-cart .cart-totals { float: right; }
.page-cart .cart-totals .spacer { border: 1px solid #ccc; background: #f0f0f0; }
.page-cart .cart-totals .spacer .spacer { border: none; }
.page-cart .cart-totals .div-checkout-button { text-align: right;}
.page-cart .cart-totals ul { width: 99%; border: none; text-align: right; list-style-type: none; }
.page-cart .cart-totals ul li { margin-bottom: 7px; }
.page-cart .cart-totals .cart-total-amount { color: #990000; font-size: 14px; margin:15px 0px 22px 0px;}
.page-cart .cart-totals .cart-amount{font-size:16px;margin:5px 0px 15px 0px;}

.page-cart .cart-totals .promo-code .field label { float: none; display: inline-block; }
.page-cart .cart-totals .promo-code .field .formControlText { width: 75px; margin: 0 5px; }
.page-cart .cart-totals fieldset { margin-top: 10px; }
.page-cart .cart-totals fieldset .spacer { border: none; background: none; }
.page-cart .cart-totals fieldset legend { margin-left: 10px; font-weight: bold; }


/** promo codes **/
.page-cart .promo-code{font-size:16px;margin:5px 0px 15px 0px;}
.page-cart .promo-code .title { padding-top: 0; }
.page-cart .promo-code .field { padding: 0px; }
.page-cart .promo-code .field input[type="text"] { height: auto; }
.page-cart .promo-code .field label { padding: 0; }


/** page-invoice **/
.page-invoice .invoice .discounts.amount { font-weight: bold; background: #F0F0F0; }


/* signup form */
.page-signup .fieldset .title { padding-left: 10px }
.page-signup .fieldset .shipping-fields { margin: 10px; }
.page-signup .fieldset .shipping-fields input { float: left; }
.page-signup .fieldset .shipping-fields div { margin-left: 30px; }
.page-signup .fieldset .shipping-fields div .hint { margin-left: 0px; }
.page-signup .fieldset .field label { width: 250px; }
.page-signup .fieldset .field div { margin-left: 260px; }
.page-signup .fieldset .field div.captcha, .page-signup .fieldset .field div.captcha div {margin:0px;padding:0px;}
.page-signup .fieldset .field div label { margin-left: 5px; }
.page-signup .fieldset .buttons { margin-left: 260px; text-align: left; }
.page-signup .label-shipping-same { float: none; text-align: left; }


/** gift certificate page **/
.gift-amount { width: 60px; }
.page-opc .amounts .col-wrap{margin-bottom:10px;}
.page-opc .amounts .col-wrap .col-33{text-align:right;}
.page-opc .field .cvv2 { width: 40px; }
.page-opc .field div.hint{margin:0px;}
.page-opc .field.payment-form-cc-will-be-stored{font-weight:bold;}

.page-opc .payment-methods-form-wrapper { overflow:hidden;float:right;min-width:50%;overflow-x:hidden;overflow-y:hidden;max-width:70%; }

.page-opc .cart-item-title{border-top:1px solid #f0f0f0;padding:5px 0px;}
.page-opc .cart-item-price{border-top:1px solid #f0f0f0;padding:5px 0px;text-align:right;}
.page-opc #cart-items-toggle{font-size:16px;}
.page-opc #opc-invoice-totals{font-size:14px;}
.page-opc #opc-login{font-size:16px;font-weight:bold;}

.page-opc > div > div > div.col-25 {
	float: right;
}

.page-order-form .amounts .col-wrap{margin-bottom:10px;}
.page-order-form .amounts .col-wrap .col-33{text-align:right;}
.page-order-form .field .cvv2 { width: 40px; }
.page-order-form .field div.hint{margin:0px;}
.page-order-form .field.payment-form-cc-will-be-stored{font-weight:bold;}

.page-order-form .payment-methods-form-wrapper { overflow:hidden;float:right;min-width:50%;overflow-x:hidden;overflow-y:hidden;max-width:70%; }

.page-order-form .cart-item-title{border-top:1px solid #f0f0f0;padding:5px 0px;}
.page-order-form .cart-item-price{border-top:1px solid #f0f0f0;padding:5px 0px;text-align:right;}
.page-order-form #cart-items-toggle{font-size:16px;}
.page-order-form #opc-invoice-totals{font-size:14px;}
.page-order-form #opc-login{font-size:16px;font-weight:bold;}

.page-order-form > div > div > div.col-25 {
	float: right;
}

#opc-dialog-spinner {background:#f0f0f0 url(../images/spinner.gif) no-repeat 25px 25px;border:1px solid #cccccc;padding:0px;color:gray;}
#opc-dialog-spinner .spinner-top{margin-left:120px;margin-top:25px;font-size:25px;}
#opc-dialog-spinner .spinner-message{margin-left:120px;margin-top:10px;}

#opc-dialog-login{background:#f0f0f0;border:1px solid #cccccc;padding:0px;width:370px;color:gray;}
#opc-dialog-login .login-top{font-size:25px;}
#opc-dialog-login input[type='text']{width:100%;}
#opc-dialog-login input[type='password']{width:100%;}
#opc-dialog-login input[type='submit']{width:100px;}
#opc-dialog-login input[type='button']{width:100px;}

.opc-spinner{position:absolute;top:30px;left:30px;width:300px;font-size:16px;padding:25px;background:#f0f0f0;display:none;clear:both;border:3px solid gray;z-index:99;}
.opc-invoice-totals table tbody tr td{padding-bottom:5px;}
.opc-invoice-totals .invoice-subtitle {font-size:0.95em;font-style:italic;color:#444444;}
.opc-invoice-totals table tbody tr.opc-invoice-gift-certificate-row td{border-top:1px solid gray;padding-top:5px;color:#000099;}
.opc-invoice-totals table tbody tr.opc-invoice-total-row td{border-top:1px solid gray;padding-top:5px;font-weight:bold;}
.opc-invoice-totals table tbody tr.opc-invoice-recurring-row td{padding-top:5px;font-weight:bold;padding-top:15px;}
.opc-invoice-totals table tbody tr.opc-invoice-recurring-items-row td{font-size:0.9em}
.opc-invoice-totals table tbody tr.opc-invoice-recurring-items-row td div.recurring-product{text-decoration:underline;margin-bottom:5px;padding-top:5px;border-top:1px solid #808080;}
.opc-invoice-totals table tbody tr.opc-invoice-recurring-items-row td div.recurring-product:first-child{border-top:none;padding-top:0px;}
.opc-invoice-totals table tbody tr.opc-invoice-recurring-items-row td div.recurring-payment{margin-top:5px;clear:both;}
.opc-invoice-totals table tbody tr.opc-invoice-recurring-items-row td div.recurring-payment-title{min-width:35%;float:left;}
.opc-invoice-totals table tbody tr.opc-invoice-recurring-items-row td div.recurring-payment-description{min-width:60%;float:right;text-align:right;font-style: italic;}

.opc-shipment{border-top:2px solid #f0f0f0;margin-top:10px;padding-top:10px;}
.opc-shipment-title{font-weight:bold;font-size:1.1em;}
.opc-shipment-items{padding:5px 0px 5px 16px;}
.opc-shipment-items li {font-size:0.9em;}


#opc-invoice-fixed {position:fixed;left:0px;top:0px;background-color:#f0f0f0;border:none;z-index:10000;border:none;width:100%;}
#opc-invoice-fixed div {padding:10px 15px;text-align:right;font-size:1.2em;}
#opc-invoice-fixed div span{font-weight:bold;}

.opc-payment-profile-view{min-height:100px;}

#opc-payment-methods-error {margin-left:10px;}

.checkout-payment-form .field div input,
.checkout-payment-form .field div select { width: 50%; }
.checkout-payment-form .field label { width: auto; float: none; }

.page-billing_and_shipping_address .fieldset .field label{width:140px;}
.page-billing_and_shipping_address .fieldset .field div{margin-left:150px;}
.page-billing_and_shipping_address .fieldset .field textarea{height:100px;}
.page-billing_and_shipping_address .fieldset .field div label { margin-left: 5px; }

.page-shipping-quote .fieldset .field label { width: 250px; }
.page-shipping-quote .fieldset .field div { margin-left: 260px; }
.page-shipping-quote .fieldset .buttons { margin-left: 260px; text-align: left; }


.toggle-new-shipping { float: left; }

/** jquery ui fixes **/

.layout-zone-content .page-unsubscribe ul { padding-left: 20px; margin: 10px; }
.page-unsubscribe p.msg-notice { font-size: 12px; }

/** remember me **/
.input-remember-me { width: auto; }
.col-50 { width: 49.9%; }

/** buttons **/
input.button, input.reset, input.submit { cursor: pointer; width: auto; padding: 2px 5px; }
input.button-disabled{color:gray;}

.button-add-to-cart { width: auto; }

/** checkout pages **/
.div-shipping-address .option label { display: inline-block; }
.page-invoice .fieldset select { width: auto; }

.page-site-map ul li { margin: 5px 0 5px 10px; list-style-type: disc; }
.layout-zone-content .page-404 ul li { margin: 5px 0 5px 10px; list-style-type: disc; }

/** image specific **/
.catalog-product-image img { max-width: 100%; }
.product-image, .product-image img { max-width: 100%; }
.image-home { max-width: 100%; }

/** begin standard theme colors **/
.panel { background-color: #fff; }
.panel .title { background-color: #999; color:#fff; }
.msg-error{color:#dd0000;}
.msg-error ul li{color:#dd0000;}
.msg-notice{color:#333333;}
.msg-notice ul li{color:#666666;}
.msg-warning{color:#0000dd;}
.msg-warning ul li{color:#999999;}
.container-navigation-top .layout-zone-navigation { background-color: #ffffff; }
.container-navigation-middle .layout-zone-navigation { background-color: #bbbbbb; }
.layout-zone-navigation { background-color: #bbbbbb; }
.layout-zone-footer { background-color: #bbbbbb; }
.fieldset .hint { color: #999; }

/** end standard theme colors **/
/** tree menu correction **/
.treeview .hover{color:inherit;}

/** menus **/
.drop-down-menu, drop-down-menu * {padding:0px;margin:0px;list-style:none;z-index:5;}
.drop-down-menu ul{position:absolute;list-style:none;display:none;z-index:5;}
.drop-down-menu li{float:left;position:relative;list-style:none;z-index:5;}
.drop-down-menu a{display:block;position:relative;z-index:5;}
.drop-down-menu li ul li{float:none;clear:left;z-index:5;}

/** menus vertical **/
.drop-down-menu-vertical{width:100%;}
.drop-down-menu-vertical, .drop-down-menu-vertical ul, .drop-down-menu-vertical li, .drop-down-menu-vertical a, .drop-down-menu-vertical li ul li{z-index:4;}
.drop-down-menu-vertical li{clear:left;float:none;}

/** menus initial skin **/
.drop-down-menu, .drop-down-menu ul {background-color:#cccccc;}
.drop-down-menu-item-separator{color:black;}
.drop-down-menu-item {background-color:#cccccc;border-top: 0px solid #ffffff;padding: 7px 7px;text-decoration:none;color:black;font-size:12px;}
.drop-down-menu-item-hover {background-color:#777777;border-top: 0px solid #ffffff;padding: 7px 7px;text-decoration:none;color:white;font-size:12px;}

.catalog-navigation .drop-down-menu {background:none;z-index:4;}
.catalog-navigation .drop-down-menu li {z-index:4;}
.catalog-navigation li{margin-right:5px;}
.catalog-navigation li li{margin-right:0px;}
.catalog-navigation .drop-down-menu-item{border:none;padding:5px;margin-right:0px;z-index:4;}
.catalog-navigation .drop-down-menu-item-hover{border:none;padding:5px;margin-right:0px;z-index:4;}
.catalog-navigation .drop-down-menu li ul .drop-down-menu-item{border-top: 1px solid #ffffff;z-index:4;}
.catalog-navigation .drop-down-menu li ul .drop-down-menu-item-hover{border-top: 1px solid #ffffff;z-index:4;}

select.select-expiration-month, select.select-expiration-year{width:70px;margin-right:5px;}

.address-variants-text{font-size:1.1em;margin-bottom:10px;}
.address-variants-ul{list-style:none;padding:0px;margin:0px 0px 0px 10px;}
.address-variants-li{list-style:none;width:315px;height:65px;display:block;margin:0px;float:left;}
.address-variants-radio{float:left;}
.address-variants-option{margin-left:20px;}

.framed-block{padding:20px 20px 5px 20px;border:2px solid #e0e0e0;-background-color:#f7f7f7;font-size:1.2em;margin-left:5px;margin-right:5px;}
.framed-block table{width:100%;}
.framed-block table thead th{padding-bottom:10px;border-bottom:2px solid #e0e0e0;}
.framed-block table tbody td{padding-bottom:5px;}
.framed-block table.framed-list tbody tr:first-child td{padding-top:10px;}
.framed-block table.framed-list tbody tr:last-child td{padding-bottom:10px;}
.framed-block table.framed-list tfoot tr:first-child td{padding-top:10px;border-top:2px solid #e0e0e0;}
.framed-block table.framed-list tfoot tr td{padding-top:5px;}
.page .layout-zone-content .framed-block a{font-size:1em;font-weight:normal;}

.framed-block .field label{padding-left:0px;font-size:1em;margin-top:3px;}
.framed-block .fieldset .field div{margin-left:200px;}
.framed-block h3{padding:0px;background:none;}

.page-cart .cart-image{width:150px;float:left;}
.page-cart .cart-image img{width:100%;}
.page-cart .cart-description{margin-left:165px;}

@media screen and (max-width: 990px) {
	form.custom-form .fieldset .field label,
	form.custom-form .fieldset .field.title {clear: both; width: 100%;}
	form.custom-form .fieldset .field div {margin: 2px 0 0;}
}

@media screen and (max-width: 767px) {
	table.list.cart thead{display: none;}
	table.list.cart span.product-id {display: none;}
	table.list.cart tbody tr {border-bottom: 1px solid #e1e1e1;}
	.page-cart table.list tr td, .page-cart table.list tr th {border: none; padding: 15px 0;}
	.page-cart table.list {border:none; border-top: 1px solid #e1e1e1;}
	.page-cart table.list tr td .quantity {float: right !important; text-align: center; height: 24px; border: 1px solid #cfcfcf;}
	.page-cart table.list tr td.cart-amount {padding-left: 20px; padding-right: 0px;}
	.page-cart .cart-description div a {font-weight: 600;}
	.page-cart table.list tfoot {background-color: transparent; font-size: 12px;}
	.page-cart .cart-totals .spacer {background-color: transparent; border: none; padding: 0;}
	.page-cart .cart-totals .cart-amount {text-align: center; padding-bottom: 15px;}
	.page-cart .promo-code {text-align: center; margin: 0;}
	.page-cart .cart-totals .promo-code .field .formControlText {width: 100%; margin: 0 0 5px 0;}
	.page-cart input.button-apply-promo.submit {width: 100%;}
	#form-cart .cart-totals > div > div > div > div {text-align: center;}
}

#pikfly-button {
	position: fixed;
	bottom: 0;
	right: 15%;
	padding: 8px;
	font-family: Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.38);
	background-color: #ffffff;
	border-radius: 2px 0 2px 0;
	opacity: 1;
}
#pikfly-button img {
	vertical-align: middle;
	padding: 0 5px;
}
#pikfly-button a, #pikfly-button a:link, #pikfly-button a:hover,
#pikfly-button a:focus, #pikfly-button a:active {
	font-size: 12px;
	font-weight: 700;
	color: #009053;
	text-decoration: underline;
	display: block;
	text-align: center;
}
.pikfly-available {
	display: block; padding-bottom: 7px; text-decoration: none;
}
#pikfly-button a.close-btn, #pikfly-button a.close-btn:link,
#pikfly-button a.close-btn:hover, #pikfly-button a.close-btn:focus, #pikfly-button a.close-btn:active {
	font-size: 13px;
	font-weight: 300;
	color: #a8a8a8;
	text-decoration: none;
	position: absolute;
	top: 5px;
	right: 7px;
}

.shipment-status{font-size:0.90em;font-style:italic;}

.img-responsive{
	max-width: 100%;
	height: auto;
}

/* Start fixed large product images on mobile */
/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
	#lightbox-container-image-box {
		height: auto !important;
		min-width: 95% !important;
		max-width: 95% !important;
	}

	#lightbox-image {
		height: auto !important;
		max-width: 100% !important;
	}

	#lightbox-container-image-data-box {
		min-width: 95% !important;
		width: 95% !important;
		max-width: 95% !important;
		padding: 0px !important;
	}

	#lightbox-nav-btnPrev {
		height: auto !important;
		min-height: 100% !important;
	}

	#lightbox-nav-btnNext {
		height: auto !important;
		min-height: 100% !important;
	}
}

/* Small devices (tablets, 768px and 991px) */
@media (min-width: 768px) and (max-width: 991px) {
	#lightbox-container-image-box {
		height: auto !important;
		min-width: 50% !important;
		max-width: 50% !important;
	}

	#lightbox-image {
		height: auto !important;
		max-width: 100% !important;
	}

	#lightbox-container-image-data-box {
		min-width: 50% !important;
		max-width: 50% !important;
		width: 50% !important;
		padding: 0px !important;
	}

	#lightbox-nav-btnPrev {
		height: auto !important;
		min-height: 100% !important;
	}

	#lightbox-nav-btnNext {
		height: auto !important;
		min-height: 100% !important;
	}
}

/* Medium devices (desktops, 992px and 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
	#lightbox-container-image-box {
		height: auto !important;
		min-width: 75% !important;
		max-width: 75% !important;
	}

	#lightbox-image {
		height: auto !important;
		max-width: 100% !important;
	}

	#lightbox-container-image-data-box {
		min-width: 75% !important;
		max-width: 75% !important;
		width: 75% !important;
		padding: 0px !important;
	}

	#lightbox-nav-btnPrev {
		height: auto !important;
		min-height: 100% !important;
	}

	#lightbox-nav-btnNext {
		height: auto !important;
		min-height: 100% !important;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	#lightbox-container-image-box {
		height: auto !important;
		max-width: 80% !important;
	}

	#lightbox-image {
		height: auto !important;
		max-width: 100% !important;
	}

	#lightbox-container-image-data-box {
		max-width: 80% !important;
	}

	#lightbox-nav-btnPrev {
		height: auto !important;
		min-height: 100% !important;
	}

	#lightbox-nav-btnNext {
		height: auto !important;
		min-height: 100% !important;
	}
}
/* End fixed large product images on mobile */

.product-image img,
.product-secondary-images img {
	height: auto;
	max-width: 100%;
}

.msg-success {
	color: #008000;
	font-size: 12px;
	font-weight: bold;
	margin: 5px 0px 10px 0px;
}

.predictive-search-results {
	width: 255px !important;
	position:absolute !important;
	z-index: 999 !important;
	background: white !important;
	border: 1px solid #e0e0e0 !important;
}

.predictive-search-results ul {
	list-style: none !important;
	width: 100% !important;
}

.predictive-search-results ul li {
	list-style: none !important;
	padding: 4px 15px !important;
	margin: 0px !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
	text-align: left !important;
	width: 89% !important;
}
.predictive-search-results ul li.group {
	background: #f0f0f0 !important;
	padding: 7px 15px !important;
	border-top: 1px solid #e0e0e0 !important;
	text-transform: uppercase !important;
	font-size: 0.9em !important;
	color: #555555 !important;
}

.predictive-search-results ul li.selected{
	background-color:#d0d0d0;
}

.predictive-search-results ul li.selected a {
	display:block !important;
}

.predictive-search-results ul li a {
	color: #777777 !important;
	text-decoration: none !important;
}

.panel-catalog-products-filters {
	background-color: #f0f0f0;
}

.panel-catalog-products-filters .filter-title {
	margin-top:5px;
	font-size:1.1em;
}

.panel-catalog-products-filters .filter-title:first-of-type {
	margin-top:0px;
}

.panel-catalog-products-filters .filter-options ul {
	list-style-type: none;
	padding-left: 0px;
	font-size: 12px;
}

.panel-catalog-products-filters .filter-options ul li {
	margin: 4px 0px;
}

.panel-catalog-products-filters .filter-options ul li label {
	vertical-align: super;
	margin-left: 5px;
}

.panel-catalog-products-filters .filter-options ul li label input[type="checkbox"] {
	padding:0px;
	margin:0px 0px 2px 0px;
	float:left;
}

.panel-catalog-products-filters .button-apply-products-filters, .panel-catalog-products-filters .button-reset-products-filters {
	padding:3px 5px;
}

.product-youtube-link {
	margin: 10px 0px 25px;
}

.embed-responsive-pane {
	display: block;
	height: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
}

.embed-responsive-16by9-pane {
	padding-bottom: 56.25%;
}

.embed-responsive-pane .embed-responsive-pane-item,
.embed-responsive-pane embed,
.embed-responsive-pane iframe,
.embed-responsive-pane object,
.embed-responsive-pane video {
	border: 0 none;
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}