/** boxes fixes **/
#site-container { text-align: center; margin: 0 auto; }
/*.spacer { padding: 0; }*/
.page-catalog .catalog-view-text { padding: 0px; }
.catalog-product-add input { width: 20px; }

.page .layout-zone-navigation .col-right ul.menu { float: right; }


/** checkout **/
.one-page-checkout input { width: 100px; }


/** product pages **/
.product-page-center div.product-purchase div.product-quantity input { width: 30px; margin-top: 0; display: inline; float: none; margin-right: 10px; }

/** email to friend **/
#new-email-to-friend { background: #ffffff; }
#new-product-review { background: #ffffff; }

/** column elements **/
.col-wrap div.col-15, .col-15{ width:14.9%; }
.col-wrap div.col-20, .col-20{ width:19.9%; }
.col-wrap div.col-25, .col-25{ width:24.9%; }
.col-wrap div.col-30, .col-30{ width:29.9%; }
.col-wrap div.col-33, .col-33{ width:33.3%; }
.col-wrap div.col-35, .col-35{ width:34.9%; }
.col-wrap div.col-40, .col-40{ width:39.9%; }
.col-wrap div.col-50, .col-50{ width:49.9%; }
.col-wrap div.col-60, .col-60{ width:59.9%; }
.col-wrap div.col-67, .col-67{ width:66.6%; }
.col-wrap div.col-70, .col-70{ width:69.9%; }
.col-wrap div.col-75, .col-75{ width:74.9%; }
.col-wrap div.col-80, .col-80{ width:79.9%; }
.col-wrap div.col-85, .col-85{ width:84.9%; }

/** testimonials page **/
.page-testimonials .fieldset textarea { width: 50%; }