#site-container { margin-top:110px;}

#trial-bar-button{background:url('../../../../../trial/buttonorange.png') 0px 0px;width:315px;height:79px;display:inline-block;margin-top:10px;}
#trial-bar-button:hover{background-position:0px 79px;}

#trial-bar { left: 0px; top: 0px; height:99px;padding:0px; text-align:center; position:fixed; width: 100%; z-index:10000;color:#ffffff;background:url('../../../../../trial/headrepeat.jpg');}
#trial-bar a { color:#ffffff; }                        
#trial-actions-wrap { margin: 0 auto; width:960px; padding: 5px 10px; }
#trial-message { float:left;width:480px; }
#trial-action-links { float:right;text-align:right;width:480px; }