<div class="page-product page-product-{$product.pid} product-view-style2 wrap {class file=$smarty.template editable=true}">

	{include file="templates/pages/product/elements/head.html"}

	<div class="product-page-top">
		{if !$is_print_version}
			<div class="spacer col-wrap clearfix">
				<div class="col-75">
					{include file="templates/pages/product/elements/element-bread-crumbs.html"}
				</div>
				<div class="col-25 text-right">
					{include file="templates/pages/product/elements/element-print.html"}
				</div>
			</div>
		{/if}
		{include file="templates/pages/product/elements/element-product-title.html"}
	</div>

	<div class="product-page-center gap-top col-wrap">
		<div class="col-50 col-left">
			<div class="gap-left gap-right">
				{include file="templates/pages/product/elements/element-image.html"}
				{include file="templates/pages/product/elements/element-secondary-images.html"}
			</div>
		</div>
		<div class="col-50 col-left">
			<div class="gap-right">
				{include file="templates/pages/product/elements/element-manufacturer-logo.html"}
				{include file="templates/pages/product/elements/element-price.html"}
				{include file="templates/pages/product/elements/element-product-id.html"}
				{include file="templates/pages/product/elements/element-manufacturer-name.html"}
				{include file="templates/pages/product/elements/element-weight.html"}
				{include file="templates/pages/product/elements/element-shipping-price.html"}
				{include file="templates/pages/product/elements/element-special-offer.html"}
				{include file="templates/pages/product/elements/element-rating.html"}
				{include file="templates/pages/product/elements/element-social.html"}
				{include file="templates/pages/product/elements/element-email-and-wishlist.html"}
				{if isset($PikflyEnabled) && $PikflyEnabled == 'Yes'}{include file="templates/pages/product/elements/element-pikfly.html"}{/if}
				{include file="templates/pages/product/elements/element-purchase.html"}
			</div>
		</div>
	</div>

	<div class="product-page-blocks gap-left gap-right clearfix {class file=$smarty.template editable=true}" style="clear:both;">
		{include file="templates/pages/product/elements/element-description.html"}

		{include file="templates/pages/product/elements/element-facebook-comments.html"}
		{include file="templates/pages/product/elements/element-reviews.html"}
		{include file="templates/pages/product/elements/element-recommended.html"}
		{include file="templates/pages/product/elements/element-siblings.html"}
	</div>
</div>