<form name="form-carrier-pickup" action="admin.php?p=stamps&mode=carrier-pickup" role="form" method="post" data-auto-validate="1">
	<input type="hidden" name="nonce" id="nonce" value="{$nonce}">
	<input type="hidden" name="action" value="save">
	<div id="content-header">
		<div class="container-fluid">
			<h1 class="col-xs-6">{trans key="stamps.request_carrier_pickup"}</h1>
			<div class="col-xs-6 pull-right text-right btn-toolbar">
				<a href="admin.php?p=app&key=stamps">{trans key="common.cancel"}</a>
				<button type="submit" class="btn btn-primary">{trans key="common.save"}</button>
			</div>
		</div>
		<hr class="clearfix">
	</div>
	<div class="container-fluid">
		<div class="col-xs-12 btn-toolbar" style="margin-bottom: 22px;">
			<a href="#" class="btn btn-primary pre-populate-carrier-fields">{trans key="stamps.pre_populate_carrier_form_fields"}</a>
		</div>
	</div>
	{form form=$form}
</form>

{include file="templates/pages/stamps/modal-purchase-postage.html"}

<script type="text/javascript" src="content/admin/scripts/stamps.js?v={$APP_VERSION}"></script>