<p style="margin-top:0px;"><strong>{trans key="stamps.desc1"}</strong></p>
<p>{trans key="stamps.desc2"}</p>

<p>{trans key="stamps.desc3" label_app_name=$label_app_name}</p>

<p>{trans key="stamps.desc4"}</p>
<div>
	<strong>{trans key="stamps.highlight_label"}</strong>
	<ul style="margin-top:5px;">
		<li>{trans key="stamps.highlights.highlight1"}</li>
		<li>{trans key="stamps.highlights.highlight2"}</li>
		<li>{trans key="stamps.highlights.highlight3"}</li>
		<li>{trans key="stamps.highlights.highlight4"}</li>
		<li>{trans key="stamps.highlights.highlight5"}</li>
		<li>{trans key="stamps.highlights.highlight6"}</li>
		<li>{trans key="stamps.highlights.highlight7"}</li>
		<li>{trans key="stamps.highlights.highlight8"}</li>
	</ul>
</div>
<div>
	<strong>{trans key="stamps.desc5"}</strong>
	<ul style="margin-top:5px;">
		<li>{trans key="stamps.desc6"}</li>
		<li>{trans key="stamps.discounted_rates_label"}
			<ol>
				<li>{trans key="stamps.discounted_rates.rate1"}</li>
				<li>{trans key="stamps.discounted_rates.rate2"}</li>
			</ol>
		</li>
		<li>{trans key="stamps.discounted_insurance_label"}
			<ol>
				<li>{trans key="stamps.discounted_insurance.insurance1"}</li>
				<li>{trans key="stamps.discounted_insurance.insurance2"}</li>
				<li>{trans key="stamps.discounted_insurance.insurance3"}</li>
				<li>{trans key="stamps.discounted_insurance.insurance4"}</li>
				<li>{trans key="stamps.discounted_insurance.insurance5"}</li>
			</ol>
		</li>
	</ul>
</div>

<p><a href="http://www.stamps.com/{$label_stamps}" target="_blank" class="btn btn-primary">{trans key="stamps.signup_stamps"}</a></p>