<form name="form-settings" action="admin.php?p=app&key=stamps" role="form" method="post" data-auto-validate="1">
	<input type="hidden" name="nonce" id="nonce" value="{$nonce}">
	<div id="content-header">
		<div class="container-fluid">
			<h1 class="col-xs-6">{trans key="stamps.stamps"}</h1>
			<div class="col-xs-6 pull-right text-right btn-toolbar">
				<a href="admin.php?p=apps">{trans key="common.cancel"}</a>
				<button type="submit" class="btn btn-primary">{trans key="common.save"}</button>
			</div>
		</div>
		<hr class="clearfix">
	</div>
	<div class="container-fluid">
		<div class="col-xs-12 btn-toolbar" style="margin-bottom: 22px;">
			{if $canPurchasePostage}<a href="#" data-target="#modal-purchase-postage" data-toggle="modal" class="btn">{trans key="stamps.purchase_postage"}</a>{/if}
			{if $canGenerateScanForms}<a href="admin.php?p=stamps&mode=scan-forms" class="btn">{trans key="stamps.scan_forms"}</a>{/if}
			{if $canCarrierPickup}<a href="admin.php?p=stamps&mode=carrier-pickup" class="btn">{trans key="stamps.request_carrier_pickup"}</a>{/if}
		</div>
		<div class="col-xs-12" style="margin-bottom: 20px;">
			{trans key="stamps.current_balance"} <strong>{$currentBalance|price}</strong>
		</div>
		{if $purchasePostageStatus}
		<div class="col-xs-12" style="margin-bottom: 20px;">
			<strong>{trans key="stamps.purchase_postage_status"}: {$purchasePostageStatus}</strong>
		</div>
		{/if}
	</div>
	{form form=$form}
</form>

{include file="templates/pages/stamps/modal-purchase-postage.html"}

<script type="text/javascript" src="content/admin/scripts/stamps.js?v={$APP_VERSION}"></script>