<div class="modal fade" id="modal-search" tabindex="-1" role="dialog" aria-labelledby="modal-search-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-search-scan-forms" action="admin.php?p=stamps&mode=scan-forms" method="get">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-search-label">{trans key="stamps.search_title"}</h4>
				</div>
				<div class="modal-body">
					{form form=$scanFormSearch}
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary">{trans key="common.search"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>