<div class="modal fade" id="modal-purchase-postage" tabindex="-1" role="dialog" aria-labelledby="modal-purchase-postage-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-purchase-postage" action="admin.php?p=stamps" method="post">
			<input type="hidden" name="nonce" id="nonce" value="{$addNonce}">

			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-purchase-postage-label">{trans key="stamps.purchase_postage"}</h4>
				</div>
				<div class="modal-body">
					<div class="add-form">
						<div class="form-group col-xs-12">
							<span>{trans key="stamps.current_balance"}: {$currentBalance|price}</span>
						</div>
						{form form=$addFundsForm}
					</div>
					<div class="progress" style="display: none">
						<div class="progress col-xs-12 progress-striped active">
							<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
								<span class="sr-only">{trans key="stamps.processing"}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary">{trans key="stamps.purchase"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>