<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="stamps.scan_forms"}</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
			<a href="admin.php?p=app&key=stamps">{trans key="common.cancel"}</a>
			<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modal-generate-scan-form">{trans key="stamps.generate_scan_form"}</a>
			{*<button type="submit" class="btn btn-primary">{trans key="common.save"}</button>*}
		</div>
	</div>
	<hr class="clearfix">
</div>
<div class="container-fluid">
	<div class="col-xs-12 col-md-6">
	</div>
	<div class="col-xs-12 col-md-6 pull-right text-right">
		<button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-search">{trans key="common.search"}</button>
	</div>
</div>

{if $scanForms}
	&nbsp;
	<div class="container-fluid">
		<div class="col-xs-12">
			<table class="table table-striped">
				<thead>
				<tr>
					<th style="width:50px;"></th>
					<th class="text-left">{trans key="stamps.scan_form_id"}</th>
					<th style="width: 60%"></th>
				</tr>
				</thead>
				<tbody>
				{foreach from=$scanFormsSearchResult item="scanForm"}
					<tr>
						<td style="width:50px;"></td>
						<td class="text-left">{$scanForm.scan_form_code|htmlspecialchars}</td>
						<td class="text-left" style="width: 60%">
							<a href="#dialog_stamps_scan_search_{$scanForm.scan_form_id}" class="link_stamps_scan_search_view">View</a>
							<div id="dialog_stamps_scan_search_{$scanForm.scan_form_id}" class="dialog_stamps_scan_search" style="display:none;">
								<div id="dialog_stamps_scan_search_{$scanForm.scan_form_id}_preview" style="overflow:auto;">
									{foreach from=$scanForm.scan_form_url item="scan_form_url"}
										<img src="{$scan_form_url}" style="display:none;">
									{/foreach}
								</div>
							</div>
						</td>
					</tr>
				{/foreach}
				</tbody>
			</table>
		</div>
	</div>
{else}
	<div class="container-fluid">
		<div class="col-xs-12">
			<h2>{$scanFormsDate}</h2>
			{trans key="stamps.no_scan_forms_for_date"}
		</div>
	</div>
{/if}

{include file="templates/pages/stamps/modal-scan-form-search.html"}
{include file="templates/pages/stamps/modal-generate-scan-form.html"}

<script type="text/javascript" src="content/admin/scripts/stamps.js?v={$APP_VERSION}"></script>