	<div id="{$adminMenu.menuId}" class="{$adminMenu.menuClassOuter}">
	{if !is_null($adminMenu.historyItems)}
		<div class="history clearfix">
			<div class="header">Most Used Items</div>
			<ul class="clearfix">
				{foreach from=$adminMenu.historyItems item="menuItem"}
					<li id="mu-{$menuItem->id}" class="{$menuItem->classOuter}{if $menuItem->isActive} active{/if}">
						<a href="{$menuItem->url|htmlspecialchars}" title="{$menuItem->title}"><span class="wrap"><span class="icon ic-icon {$menuItem->classInner}">&nbsp;</span></span></a>
					</li>
				{/foreach}
			</ul>
		</div>
	{/if}
	<div class="menu">
		<div class="header">Admin Menu</div>
		<div class="search"><span class="icon ic-icon ic-zoom">&nbsp;</span><input type="text"></div>
		<div class="search-results"></div>
		<div class="menu-items">
			<ul class="level_1">
				{foreach from=$adminMenu.menuItems[$adminMenu.menuId] item="menuItem"}
					{include file="templates/layouts/zones/elements/menu-item.html"}
				{/foreach}
			</ul>
		</div>
	</div>
</div>

{if $labelAppNameMd5 == 'aac9a3612c49dc1c1d5d4b756d07d789'}
	<div class="admin-social-icons">
		<a href="https://www.facebook.com/PinCart" target="_black"><span class="icon icb-icon icb-facebook"></span></a>
		<a href="http://www.twitter.com/{$pc}" target="_black"><span class="icon icb-icon icb-twitter"></span></a>
		<a href="http://www.youtube.com/user/{$pc}" target="_black"><span class="icon icb-icon icb-youtube"></span></a>
		<a href="http://blog.{$pc}.com" target="_black"><span class="icon icb-icon icb-blogger"></span></a>
	</div>
{/if}