<p>{trans key="apps.bongo_extend.text01"}</p>

<p>{trans key="apps.bongo_extend.text02"}</p>

<p>{trans key="apps.bongo_extend.text03"}</p>

<h2 style="margin-bottom:0px;">{trans key="apps.bongo_extend.text04"}:</h2>
<ul style="margin-top:5px;">
	<li>{trans key="apps.bongo_extend.text05"}</li>
	<li>{trans key="apps.bongo_extend.text06"}</li>
	<li>{trans key="apps.bongo_extend.text07"}</li>
	<li>{trans key="apps.bongo_extend.text08"}</li>
	<li>{trans key="apps.bongo_extend.text09"}</li>
	<li>{trans key="apps.bongo_extend.text10"}</li>
	<li>{trans key="apps.bongo_extend.text11"}</li>
	<li>{trans key="apps.bongo_extend.text12"}</li>
	<li>{trans key="apps.bongo_extend.text13"}</li>
</ul>

<h2 style="margin-bottom:0px;">{trans key="apps.bongo_extend.text14"}:</h2>
<ul style="margin-top:5px;">
	<li><a href="https://bongous.com/duty-tax-calculation.php" target="_blank">{trans key="apps.bongo_extend.text15"}</a></li>
	<li>{trans key="apps.bongo_extend.text16"}</li>
	<li><a href="https://bongous.com/exchange-rate-calculation.php" target="_blank">{trans key="apps.bongo_extend.text17"}</a></li>
	<li>{trans key="apps.bongo_extend.text18"}</li>
</ul>

<p>{trans key="apps.bongo_extend.text19"}</p>

<p><a href="https://bongous.com/extend/get-extend-started.php" target="_blank">{trans key="apps.bongo_extend.text20"}</a>; {trans key="apps.bongo_extend.text21"}</p>

<p><a href="https://bongous.com/extend/get-extend-started.php" target="_blank" style="margin-top:10px;display:block;width:200px;border-radius:7px;padding:10px;border:2px solid orange;text-align:center;color:#3399ff;background-color:#f7f7f7;font-weight:bold;">{trans key="apps.bongo_extend.text22"}</a></p>