<div id="navigation" class="layout-zone-navigation layout-zone col-wrap clearfix {class file=$smarty.template editable=true}">
    <div class="container-wrap {$LayoutSiteWidth} clearfix">
        <div class="col-left">
            {capture name='pagelinks'}
                <li class="first"><a href="{if $CatalogHomeLink!=""}{$CatalogHomeLink}{else}{$url_rel}{/if}">{$msg.common.home_page}</a></li>
                {if $testimonials_Enabled =='Yes'}
                    <li><a href="{$url_http}p=testimonials">{$msg.testimonials.testimonials}</a></li>
                {/if}
                {if $kb_Enabled =='Yes'}
                    <li><a href="{$url_http}p=kb">{$msg.kb.kb}</a></li>
                {/if}
                {if $AffiliateActive =='YES'}
                    <li><a href="{$AffiliateAreaURL|urlencode}">{$AffiliateLinkText|htmlspecialchars}</a></li>
                {/if}
                {if $currencies_count > 1 || $languages_count > 1}
                    <li><a href="{$url_http}p=international">International</a></li>
                {/if}
                {foreach from=$pages_links item="page_item"}
                    {if $page_item.top}
                        <li><a href="{$page_item.url}">{$page_item.title|htmlspecialchars}</a></li>
                    {/if}
                {/foreach}
            {/capture}
            {if $smarty.capture.pagelinks != ''}
                <ul>{$smarty.capture.pagelinks}</ul>
            {else}
                &nbsp;
            {/if}
        </div>

        <div class="col-right">
            <ul>
                {if $order->itemsCount > 0}<li><a href="{$url_checkout}">{$msg.cart.checkout}</a></li>{/if}

                {if $AllowCreateAccount != 'No'}
                    {if $auth_ok == "yes" && $auth_express != 'yes'}
                        {if $EnableWishList =='Yes'}
                            <li><a href="{$url_https}p=manage_wishlist&amp;wl_action=manage_wishlist">{$msg.wishlist.link}</a></li>
                        {/if}
                        <li><a href="{$url_https}p=account">{$msg.account.my_account}</a></li>
                        <li><a href="javascript:ConfirmLogout()">{$msg.account.logout}</a></li>
                    {else}
                        <li><a href="{$url_https}p=login">{$msg.account.login}</a> / <a href="{$url_https}p=signup">{$msg.account.register}</a></li>
                    {/if}
                {/if}

                <li class="last">
                    {assign var="imageId" value="image-cart"}
                    {if $designImages.$imageId}
                        <a href="{$url_dynamic}p=cart"><img class="image-cart {class file=$smarty.template editable=true}" src="{$designImages.$imageId.content}" alt="{$msg.images.imageCart|htmlspecialchars}"/></a>
                    {/if}
                    <a href="{$url_dynamic}p=cart">{$msg.cart.view_cart}</a> : {$order->itemsCount} {$msg.cart.items} /
                    <span class="order-total-amount">{$order->cartSubtotalAmount|price}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
