<div class="container-fluid" id="content-header">
    <h1 class="col-xs-6">Query Speed Test</h1>
    <div class="col-xs-6 pull-right text-right">
        <a href="admin.php?p=speed_test" class="btn btn-primary">Re-run speed test</a>
    </div>
</div>
<div class="container-fluid" id="basic-body">
    <div class="col-xs-12 col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Models</th>
                    <th>Row Count</th>
                    <th>Speed in milliseconds</th>
                    <th>Speed in seconds</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Products</td>
                    <td>{$results.product.count}</td>
                    <td>{$results.product.milliseconds}</td>
                    <td>{$results.product.seconds}</td>
                </tr>
                <tr>
                    <td>Customers</td>
                    <td>{$results.customer.count}</td>
                    <td>{$results.customer.milliseconds}</td>
                    <td>{$results.customer.seconds}</td>
                </tr>
                <tr>
                    <td>Orders</td>
                    <td>{$results.order.count}</td>
                    <td>{$results.order.milliseconds}</td>
                    <td>{$results.order.seconds}</td>
                </tr>
                <tr>
            </tbody>
        </table>
    </div>
</div>
