<form name="form-payment-method" action="admin.php?p=payment_method&payment_method_id={$paymentMethodId}" role="form" method="post" data-auto-validate="1" autocomplete="off" enctype='multipart/form-data'>
	<input type="hidden" name="nonce" id="nonce" value="{$nonce}">

	<div id="content-header">
		<div class="container-fluid">
			<h1 class="col-xs-6">{trans key="common.edit"} {$paymentMethod.name|gs}</h1>
			<div class="col-xs-6 pull-right text-right btn-toolbar">
				<a href="admin.php?p=payment_methods">{trans key="common.cancel"}</a>
				<button class="btn btn-primary">{trans key="common.save"}</button>
			</div>
		</div>
		<hr class="clearfix">
	</div>

	{form form=$form}
	{form form=$standardGatewaryForm}

	{if $otherSettingsForm}
	{form form=$otherSettingsForm}
	{/if}
	{if $supportsCC}
	{if count($paymentMethod.supported_cards)}
	<fieldset id="group-card-types">
		<legend>{trans key="payment_methods.supported_card_types"}</legend>
		<div class="btn-toolbar">
			<button class="btn" data-target="#group-card-types-body" data-toggle="collapse" type="button">
				Edit
				<span class="caret"></span>
			</button>
		</div>
		<div class="container-fluid">
			<div id="group-card-types-body" class="collapse col-xs-12">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>{trans key="payment_methods.card_code"}</th>
							<th>{trans key="payment_methods.issuer_name"}</th>
							<th>{trans key="payment_methods.enabled"}</th>
							<th>{trans key="payment_methods.require_cvv2"}</th>
						</tr>
					</thead>
					<tbody>
					{foreach from=$paymentMethod.supported_cards item="cardType"}
						<tr>
							<td>{$cardType.code}</td>
							<td>{$cardType.name}</td>
							<td class="form-group field-checkbox"><label><input type="checkbox" name="payment_accepted_cc[{$cardType.ccid}][enable]" value="Yes"{if $cardType.enable == 'Yes'}checked="checked"{/if}></label></td>
							<td class="form-group field-checkbox"><label><input type="checkbox" name="payment_accepted_cc[{$cardType.ccid}][enable_cvv2]" value="Yes"{if $cardType.enable_cvv2 == 'Yes'}checked="checked"{/if}></label></td>
						</tr>
					{/foreach}
					</tbody>
				</table>
			</div>
		</div>
	</fieldset>
	{/if}
	{/if}
</form>
{if $customForm}
{include file="templates/pages/payments/solutions/$paymentMethodId/custom-form.html"}
{/if}
<script type="text/javascript">
	var bt_connectUrl = "{$braintreeConnectUrl}";
	var btConnected = "{$btConnected}";
</script>
<script type="text/javascript" src="content/admin/scripts/payment-methods.js?v={$APP_VERSION}"></script>