<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="payment_methods.payments"}</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
			<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modal-add-payment">{trans key="payment_methods.add_payment"}</a>
		</div>
	</div>
	<hr class="clearfix">
</div>

<script type="text/javascript">
	var bt_connectUrl = "{$braintreeConnectUrl}";
	var btConnected = "{$btConnected}";
</script>
<script src="https://assets.braintreegateway.com/v1/braintree-oauth-connect.js"></script>

<div class="container-fluid payments-nav">
	{if $paypalExpressDisplayed}
		<div>
			<div class="clearfix">
				<div class="col-xs-6">
					<img src="images/admin/paypal-express.png?v={$APP_VERSION}" class="img-responsive">
				</div>
				<div class="col-xs-6 text-right list-actions">
					{if $paypalExpressEnabled}<a href="#" class="edit-payment-method" data-id="paypalec" data-method-type=""><span class="icon icon-edit"></span>{trans key="common.edit"}</a>{/if}
					<span class="form-group field-checkbox">
						<label style="display:inline-block;width:40px;vertical-align: middle;">
							<input type="checkbox" name="payment_method_paypalec" class="{if $paypalExpressEnabled}disable-payment-method{else}activate-payment-method{/if}" data-id="paypalec" data-nonce="{$delete_nonce}"{if $paypalExpressEnabled} checked{/if}>
						</label>
					</span>
				</div>
				<div class="col-xs-12" style="margin-top: 15px;">
					Create a seamless checkout experience and increase your conversion rate with PayPal Express Checkout.
				</div>
			</div>
		</div>
	{/if}
	{if $stripeDisplayed}
	<div>
		<div class="clearfix">
			<div class="col-xs-6">
				<img src="images/admin/stripe.png?v={$APP_VERSION}" class="img-responsive">
			</div>
			<div class="col-xs-6 text-right list-actions">
				{if !$stripeConnected}
				<a href="{$stripeConnectUrl}" class="stripe-connect" style="margin-top: 10px;"><span>Connect with Stripe</span></a>
				{elseif $stripeActivateUrl}
				<a href="{$stripeActivateUrl}" class="stripe-connect" style="margin-top: 10px;"><span>Activate Stripe Account</span></a>
				{/if}
				{if $stripeConnected}{/if}
				{if $stripeConnected}
				<a href="#" class="edit-payment-method" data-id="stripe" data-method-type=""><span class="icon icon-edit"></span>{trans key="common.edit"}</a>
				{/if}
				<span class="form-group field-checkbox">
					<label style="display:inline-block;width:40px;vertical-align: middle;">
						<input type="checkbox" name="payment_method_stripe" class="{if $stripeConnected}disable-payment-method{else}activate-payment-method{/if}" data-id="stripe" data-nonce="{$delete_nonce}"{if $stripeConnected} checked{/if}>
					</label>
				</span>
			</div>
			<div class="col-xs-12" style="margin-top: 15px;">
				Accept credit cards in less than 5 minutes. No monthly fees, no setup fees, no merchant account required.
				{if $stripeActivateUrl}
				<br>
				Your store is connected to Stripe, and you are now collecting payments.  Please <a href="{$stripeActivateUrl}" target="_blank">click here</a> to complete the process to accept your funds.
				{/if}
			</div>
		</div>
	</div>
	{/if}
	<div>
		<div class="clearfix">
			<div class="col-xs-6">
				<img src="https://s3.amazonaws.com/braintree-badges/braintree-badge-dark.png?v={$APP_VERSION}" class="img-responsive" width="164px" height ="44px" border="0"/>
			</div>
			<div class="col-xs-6 text-right list-actions">
				{if !$btConnected}
					<div id="modal-bt-activate"></div>
				{/if}
				{if $btConnected}
					<a href="#" class="edit-payment-method" data-id="braintree" data-method-type=""><span class="icon icon-edit"></span>{trans key="common.edit"}</a>
				{/if}
				<span class="form-group field-checkbox">
					<label style="display:inline-block;width:40px;vertical-align: middle;">
						<input type="checkbox" name="payment_method_braintree" class="{if $btConnected}disable-payment-method{else}activate-payment-method{/if}" data-id="braintree" data-nonce="{$delete_nonce}"{if $btConnected} checked{/if}>
					</label>
				</span>
			</div>
			<div class="col-xs-12" style="margin-top: 15px;">
				Accept credit cards in less than 5 minutes. No monthly fees, no setup fees, no merchant account required.
			</div>
		</div>
	</div>
	{foreach from=$paymentMethods item="paymentMethod"}
		<div>
			<div class="clearfix">
				<div class="col-xs-6">
					<h2>{if $paymentMethod.type == 'custom'}{$paymentMethod.title|gs}{else}{$paymentMethod.name}{/if}</h2>
				</div>
				<div class="col-xs-6 text-right list-actions">
					{if $paymentMethod.active == 'Yes'}<a href="#" class="edit-payment-method" data-id="{$paymentMethod.id}" data-method-type="{if $paymentMethod.type == 'custom'}custom{/if}"><span class="icon icon-edit"></span>{trans key="common.edit"}</a>{/if}
					<span class="form-group field-checkbox">
						<label style="display:inline-block;width:40px;vertical-align: middle;">
							<input type="checkbox" name="payment_method_{$paymentMethod.id}" class="{if $paymentMethod.active == 'Yes'}disable-payment-method{else}activate-payment-method{/if}" data-id="{$paymentMethod.id}" data-nonce="{$delete_nonce}"{if $paymentMethod.active == 'Yes'} checked{/if}>
						</label>
					</span>
				</div>
			</div>
		</div>
	{/foreach}

	{if $noPaymentMethods}
		{trans key="payment_methods.no_records"}
	{/if}
</div>

{include file="templates/pages/payments/modal-add-payment.html"}
{include file="templates/pages/payments/modal-update-custom-payment.html"}
{include file="templates/pages/payments/modal-stripe-connect.html"}
{include file="templates/pages/payments/modal-bt-connect.html"}

<script type="text/javascript" src="content/admin/scripts/payment-methods.js?v={$APP_VERSION}"></script>