<div class="modal fade" id="modal-bt-connect" tabindex="-1" role="dialog" aria-labelledby="modal-bt-connect-label" aria-hidden="true">
    <div class="modal-dialog">
        <form role="form" name="form-bt-connect" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
                    <h4 class="modal-title" id="modal-bt-connect-label">Connect bt</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="col-xs-12">
                            It appears that the email {$admin.email} already has a bt account.
                            <br>
                            Would you like to:<br>
                        </div>
                        <div class="col-xs-12">
                            <a href="{$btConnectUrl}" class="bt-connect" style="margin-top: 10px;" target="_blank"><span>Connect with bt</span></a>
                        </div>
                        <div class="col-xs-12 text-center" style="margin: 10px 0;">
                            -- OR --
                        </div>
                        <div class="form-group field-text col-xs-9">
                            <label>Change Email</label>
                            <input type="text" name="bt_email">
                        </div>
                        <div class="col-xs-3">
                            <button type="submit" class="btn btn-primary" style="margin-top: 24px;">Connect</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>