<div class="modal fade" id="modal-add-payment" tabindex="-1" role="dialog" aria-labelledby="modal-add-payment-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-add-payment" method="post" action="admin.php?p=payment_method&action=activate">
			<input type="hidden" name="fromQS" value="0">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-add-payment-label">{trans key="payment_methods.add_payment"}</h4>
				</div>
				<div class="modal-body clearfix">
					<div class="form-group field-select col-xs-12 ">
						<label for="field-payment_method_id">{trans key="payment_methods.payment"}</label>
						<select id="field-payment_method_id" class="form-control field-payment_method_id" name="payment_method_id">
							<option value="">{trans key="payment_methods.please_choose_payment"}</option>
							{foreach from=$paymentMethodsGroups item="paymentMethodGroup"}
								{if count($paymentMethodGroup.methods) > 0}
									<optgroup label="{$paymentMethodGroup.name|htmlspecialchars}">
										{foreach from=$paymentMethodGroup.methods item="paymentMethod"}
											<option value="{$paymentMethod.id}">{$paymentMethod.name|htmlspecialchars}{if $paymentMethod.active=="Yes"} (active){/if}</option>
										{/foreach}
									</optgroup>
								{/if}
							{/foreach}
						</select>
					</div>
					<div id="payment-method-form"></div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary" data-action="action-add-payment">{trans key="common.activate"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>