<div class="modal fade" id="modal-update-custom-payment" tabindex="-1" role="dialog" aria-labelledby="modal-update-custom-payment-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-update-custom-payment" method="post" action="admin.php?p=payment_method&action=update-custom">
			<input type="hidden" name="payment_method_id" value="">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-add-payment-label">{trans key="payment_methods.update_custom_payment"}</h4>
				</div>
				<div class="modal-body clearfix">
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary" data-action="action-add-custom-payment">{trans key="common.save"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>