<div class="modal fade" id="modal-stripe-connect" tabindex="-1" role="dialog" aria-labelledby="modal-stripe-connect-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-stripe-connect" method="post">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-stripe-connect-label">Connect Stripe</h4>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<div class="col-xs-12">
							It appears that the email {$admin.email} already has a Stripe account.
							<br>
							Would you like to:<br>
						</div>
						<div class="col-xs-12">
							<a href="{$stripeConnectUrl}" class="stripe-connect" style="margin-top: 10px;" target="_blank"><span>Connect with Stripe</span></a>
						</div>
						<div class="col-xs-12 text-center" style="margin: 10px 0;">
							-- OR --
						</div>
						<div class="form-group field-text col-xs-9">
							<label>Change Email</label>
							<input type="text" name="stripe_email">
						</div>
						<div class="col-xs-3">
							<button type="submit" class="btn btn-primary" style="margin-top: 24px;">Connect</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>