<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="payment_methods.payments"}</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
			<a href="admin.php?p=payment_methods" class="btn btn-primary">{trans key="common.cancel"}</a>
		</div>
	</div>
	<hr class="clearfix">
</div>

<div class="container-fluid payments-nav">
	<div class="col-xs-12">
		<h3>{trans key="payment_methods.access_denied"}</h3>
	</div>
</div>