<link href='https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.css' rel='stylesheet' />

<form name="area-edit" action="admin.php?p=pikfly&mode={$mode|gs}{if $mode == 'edit-area'}&id={$deliveryArea.ssid}{/if}" method="post">
	<input type="hidden" id="nonce" name="nonce" value="{$nonce}">

	<div id="content-header">
		<div class="container-fluid">
			<h1 style="padding-left:15px;width:auto;float:left;">{if $mode == 'add-area'}{trans key="pikfly.add_same_day_delivery_area"}{else}{trans key="pikfly.edit_same_day_delivery_area"}{/if}</h1>
			<div class="col-xs-6 pull-right text-right btn-toolbar">
				<a href="admin.php?p=app&key=pikfly">{trans key="common.cancel"}</a>
				<button type="submit" class="btn btn-primary">{trans key="common.save"}</button>
			</div>
		</div>
		<hr class="clearfix">
	</div>

	<div id="zip-methods-list" class="container-fluid with-map">
		<div id="pikfly-map" class="pikfly-map">
			<div id="zip" class="pikfly-zip-label"></div>
		</div>
		<div class="pikfly-areas">
			<div class="pikfly-area" data-ssid="{$deliveryArea.ssid}" data-color="#cc37d3" data-zipcodes="{$deliveryArea.zip_codes}">
				<h2 class="col-xs-6" style="margin-bottom: 10px;">
					<span class="swatch" style="background-color:#cc37d3;"></span> {$deliveryArea.title|gs}
				</h2>
				<div class="col-xs-6 text-right list-actions" style="margin-left: 0;margin-top: 20px;">
				</div>
				<div class="col-xs-12 form-group">
					<div class="col-xs-4 col-md-3">
						<label for="area-zips">{trans key="pikfly.zip_codes"}:</label>
					</div>
					<div class="col-xs-8 col-md-9">
						<input id="area-zips" type="text" name="zip_codes" value="{$deliveryArea.zip_codes|replace:' ':''|gs}" style="display: none;">
					</div>
				</div>
				<div class="col-xs-12 form-group">
					<div class="col-xs-4 col-md-3">
						<label for="">{trans key="pikfly.delivery_days"}:</label>
					</div>
					<div class="col-xs-8 col-md-9">
						<div class="col-xs-3">
							<label><input type="checkbox" name="delivery_days[]" value="Monday"{if in_array('Monday', $deliveryArea.delivery_days)} checked{/if}> {trans key="common.days_abbr.mon"}</label>
						</div>
						<div class="col-xs-3">
							<label><input type="checkbox" name="delivery_days[]" value="Tuesday"{if in_array('Tuesday', $deliveryArea.delivery_days)} checked{/if}> {trans key="common.days_abbr.tue"}</label>
						</div>
						<div class="col-xs-3">
							<label><input type="checkbox" name="delivery_days[]" value="Wednesday"{if in_array('Wednesday', $deliveryArea.delivery_days)} checked{/if}> {trans key="common.days_abbr.wed"}</label>
						</div>
						<div class="col-xs-3">
							<label><input type="checkbox" name="delivery_days[]" value="Thursday"{if in_array('Thursday', $deliveryArea.delivery_days)} checked{/if}> {trans key="common.days_abbr.thu"}</label>
						</div>
						<div class="col-xs-3">
							<label><input type="checkbox" name="delivery_days[]" value="Friday"{if in_array('Friday', $deliveryArea.delivery_days)} checked{/if}> {trans key="common.days_abbr.fri"}</label>
						</div>
						<div class="col-xs-3">
							<label><input type="checkbox" name="delivery_days[]" value="Saturday"{if in_array('Saturday', $deliveryArea.delivery_days)} checked{/if}> {trans key="common.days_abbr.sat"}</label>
						</div>
						<div class="col-xs-3">
							<label><input type="checkbox" name="delivery_days[]" value="Sunday"{if in_array('Sunday', $deliveryArea.delivery_days)} checked{/if}> {trans key="common.days_abbr.sun"}</label>
						</div>
					</div>
				</div>
				<div class="col-xs-12 form-group">
					<div class="col-xs-4 col-md-3">
						<label for="">{trans key="pikfly.order_by"}:</label>
					</div>
					<div class="col-xs-8 col-md-9">
						<div class="col-xs-4 col-md-4 col-lg-3">
							<select class="form-control" name="before_time_hour">
								<option value="12:00"{if $deliveryArea.before_time_hour == '12'} selected{/if}>12:00</option>
								<option value="1:00"{if $deliveryArea.before_time_hour == '1'} selected{/if}>1:00</option>
								<option value="2:00"{if $deliveryArea.before_time_hour == '2'} selected{/if}>2:00</option>
								<option value="3:00"{if $deliveryArea.before_time_hour == '3'} selected{/if}>3:00</option>
								<option value="4:00"{if $deliveryArea.before_time_hour == '4'} selected{/if}>4:00</option>
								<option value="5:00"{if $deliveryArea.before_time_hour == '5'} selected{/if}>5:00</option>
								<option value="6:00"{if $deliveryArea.before_time_hour == '6'} selected{/if}>6:00</option>
								<option value="7:00"{if $deliveryArea.before_time_hour == '7'} selected{/if}>7:00</option>
								<option value="8:00"{if $deliveryArea.before_time_hour == '8'} selected{/if}>8:00</option>
								<option value="9:00"{if $deliveryArea.before_time_hour == '9'} selected{/if}>9:00</option>
								<option value="10:00"{if $deliveryArea.before_time_hour == '10'} selected{/if}>10:00</option>
								<option value="11:00"{if $deliveryArea.before_time_hour == '11'} selected{/if}>11:00</option>
							</select>
						</div>
						<div class="col-xs-4 col-md-4 col-lg-3">
							<select class="form-control" name="before_time_am_pm">
								<option value="am"{if $deliveryArea.before_time_am_pm == 'am'} selected{/if}>{trans key="pikfly.am"}</option>
								<option value="pm"{if $deliveryArea.before_time_am_pm == 'pm'} selected{/if}>{trans key="pikfly.pm"}</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-xs-12 form-group">
					<div class="col-xs-4 col-md-3">
						<label for="">{trans key="pikfly.last_delivery"}:</label>
					</div>
					<div class="col-xs-8 col-md-9">
						<div class="col-xs-4 col-md-4 col-lg-3">
							<select class="form-control" name="last_delivery_time_hour">
								<option value="12:00"{if $deliveryArea.last_delivery_time_hour == '12'} selected{/if}>12:00</option>
								<option value="1:00"{if $deliveryArea.last_delivery_time_hour == '1'} selected{/if}>1:00</option>
								<option value="2:00"{if $deliveryArea.last_delivery_time_hour == '2'} selected{/if}>2:00</option>
								<option value="3:00"{if $deliveryArea.last_delivery_time_hour == '3'} selected{/if}>3:00</option>
								<option value="4:00"{if $deliveryArea.last_delivery_time_hour == '4'} selected{/if}>4:00</option>
								<option value="5:00"{if $deliveryArea.last_delivery_time_hour == '5'} selected{/if}>5:00</option>
								<option value="6:00"{if $deliveryArea.last_delivery_time_hour == '6'} selected{/if}>6:00</option>
								<option value="7:00"{if $deliveryArea.last_delivery_time_hour == '7'} selected{/if}>7:00</option>
								<option value="8:00"{if $deliveryArea.last_delivery_time_hour == '8'} selected{/if}>8:00</option>
								<option value="9:00"{if $deliveryArea.last_delivery_time_hour == '9'} selected{/if}>9:00</option>
								<option value="10:00"{if $deliveryArea.last_delivery_time_hour == '10'} selected{/if}>10:00</option>
								<option value="11:00"{if $deliveryArea.last_delivery_time_hour == '11'} selected{/if}>11:00</option>
							</select>
						</div>
						<div class="col-xs-4 col-md-4 col-lg-3">
							<select class="form-control" name="last_delivery_time_am_pm">
								<option value="am"{if $deliveryArea.last_delivery_time_am_pm == 'am'} selected{/if}>{trans key="pikfly.am"}</option>
								<option value="pm"{if $deliveryArea.last_delivery_time_am_pm == 'pm'} selected{/if}>{trans key="pikfly.pm"}</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-xs-12 form-group">
					<div class="col-xs-4 col-md-3">
						<label for="">{trans key="pikfly.delivery_fee"}:</label>
					</div>
					<div class="col-xs-8 col-md-9">
						<div class="col-xs-4 col-md-4 col-lg-3">
							<input type="text" name="delivery_fee" value="{$deliveryArea.delivery_fee|gn}" class="form-control">
						</div>
						<div class="col-xs-4 col-md-4 col-lg-3">
							<select name="delivery_fee_type">
								<option value="amount"{if $deliveryArea.delivery_fee_type == 'amount'} selected="selected"{/if}>{$currency.code|gs}</option>
								<option value="percentage"{if $deliveryArea.delivery_fee_type == 'percentage'} selected="selected"{/if}>%</option>
							</select>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</form>

<script type="text/javascript">
	var originAddress = '{$ShippingOriginAddressLine1}, {$ShippingOriginCity}, {$ShippingOriginStateCode}';

	var pikflyApiUrl = '{$PikflyApiUrl}';
	var pikflyToken = '{$PikflyToken}';
</script>
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.js'></script>
<script type="text/javascript" src="content/admin/scripts/zip-code-map.js?v={$APP_VERSION}"></script>
<script type="text/javascript" src="content/admin/scripts/pikfly.js?v={$APP_VERSION}"></script>