<link href='https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.css' rel='stylesheet' />

<div id="content-header">
	<div class="container-fluid">
		<h1 style="padding-left:15px;width:auto;float:left;">{trans key="pikfly.pikfly"}</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar" style="width:auto;">
			<div class="btn-group pull-right">
				<a href="admin.php?p=pikfly&mode=settings" class="btn">{trans key="pikfly.address_settings"}</a>
				<a href="admin.php?p=pikfly&mode=add-area" class="btn btn-primary">{trans key="pikfly.add_delivery_area"}</a>
			</div>
		</div>
	</div>
	<hr class="clearfix">
</div>

<div id="zip-methods-list" class="container-fluid">
	<form>
		<input type="hidden" id="delete_nonce" name="delete_nonce" value="{$delete_nonce}">
		<div class="pikfly-areas">
			<h2 style="padding-left: 15px;margin-bottom: 0;margin-top: 0;">{trans key="pikfly.same_day_delivery"}</h2>
			{foreach from=$deliveryAreas item="deliveryArea"}
			{include file="templates/pages/pikfly/elements/element-zip-code-area-view.html"}
			{foreachelse}
			<div class="no-pikfly-sections text-center" style="padding-top: 8%;">
				<h2>{trans key="pikfly.no_delivery_areas"}</h2>
				<a href="admin.php?p=pikfly&mode=add-area" class="btn">{trans key="pikfly.add_delivery_area"}</a>
			</div>
			{/foreach}
		</div>
	</form>
</div>

<script type="text/javascript" src="content/admin/scripts/pikfly.js?v={$APP_VERSION}"></script>