<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">"{$customForm.title|htmlspecialchars}" {trans key="custom_form.form_data"}</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
			<a href="admin.php?p=custom_forms">{trans key="common.cancel"}</a>
			<a href="admin.php?p=custom_form&mode=update&id={$customForm.id|intval}" role="button" class="btn">{trans key="custom_form.edit_form"}</a>
		</div>
	</div>
	<hr class="clearfix">
</div>

{** search form starts here **}
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<form role="form" name="form-custom-form-search-data" id="form-custom-form-search-data" method="get">
				<input type="hidden" name="p" value="custom_form_data">
				<input type="hidden" name="form_id" value="{$customForm.id|intval}">
				{form form=$searchForm}
				<div class="col-sm-12">
					<input type="submit" value="Search" class="btn btn-default">
				</div>
			</form>
		</div>
	</div>
</div>
<hr>
{** search form ends here **}

{include file="templates/pages/custom-form/modal-export-data.html"}
{include file="templates/pages/custom-form/modal-delete-data.html"}
{include file="templates/pages/custom-form/modal-view-data.html"}

<div class="container-fluid">
	<div class="col-xs-12 col-md-6">
{if $customFormPosts}
		<div class="btn-group">
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					{trans key="common.bulk_actions"}
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#" data-toggle="modal" data-target="#modal-custom-form-data-export">{trans key="common.export"}</a></li>
					<li><a href="#" data-toggle="modal" data-target="#modal-custom-form-data-delete">{trans key="common.delete"}</a></li>
				</ul>
			</div>
		</div>
{/if}
	</div>
</div>
&nbsp;

{if $customFormFields && $customFormPosts}
	<div class="container-fluid">
		<div class="col-xs-12 col-md-12">
			<div class="table-custom-form-data-container">
				<table class="table table-striped table-list table-list-custom-form-data" data-search-form="#form-custom-form-search-data" data-order-by-field="orderBy" data-order-dir-field="orderDir">
					<thead>
						<tr>
							<th style="width:50px;"><input type="checkbox" id="selectAll"></th>
							<th class="text-left sortable" data-sort-field="date_created">Date</th>
							{foreach from=$customFormFields item="customFormField"}
								<th class="text-left sortable" data-sort-field="{$customFormField.field_name|htmlspecialchars}">{$customFormField.field_name|htmlspecialchars}</th>
							{/foreach}
							<th></th>
						</tr>
					</thead>
					<tbody>
						{foreach from=$customFormPosts item="customFormPost"}
							<tr valign="top" id="custom-form-post-id-{$customFormPost.id|intval}">
								<td><input type="checkbox" class="checkbox-custom-form-post" name="row[{$customFormPost.id}]" value="{$customFormPost.id}"></td>
								<td class="data-cell">
									<a href="#" data-action="action-custom-form-post-view" data-form-post-id="{$customFormPost.id|intval}" data-toggle="modal" data-target="#modal-custom-form-view-data">{$customFormPost.date_created}</a>
								</td>
								{foreach from=$customFormFields item="customFormField"}
									<td class="data-cell">
										{if $customFormPost.fields[$customFormField.field_id]}
											{$customFormPost.fields[$customFormField.field_id]|htmlspecialchars}
										{else}
											n/a
										{/if}
									</td>
								{/foreach}
								<td class="list-actions text-right">
									<a href="#" data-action="action-custom-form-post-view" data-form-post-id="{$customFormPost.id|intval}" data-toggle="modal" data-target="#modal-custom-form-view-data"><span class="icon icon-document"></span>{trans key="common.view"}</a>
									<a href="#" data-action="action-custom-form-post-delete" data-form-id="{$customForm.id|intval}" data-form-post-id="{$customFormPost.id|intval}" data-delete-nonce="{$delete_nonce}"><span class="icon icon-delete"></span>{trans key="common.delete"}</a>
								</td>
							</tr>
						{/foreach}
					</tbody>
				</table>
			</div>
			<div class="custom-pager">
				{if $paginator->prevPage}
					<a role="button" class="btn btn-default" href="admin.php?p=custom_form_data&amp;form_id={$customForm.id|intval}&amp;page={$paginator->prevPage}"><span class="icon icon-pagination-left"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-left"></span></button>
				{/if}

				{if $paginator->nextPage}
					<a role="button" class="btn btn-default" href="admin.php?p=custom_form_data&amp;form_id={$customForm.id|intval}&amp;page={$paginator->nextPage}"><span class="icon icon-pagination-right"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-right"></span></button>
				{/if}

				<span class="text">{$paginator->itemsFrom}-{$paginator->itemsTo} <span class="of">{trans key="common.of"}</span>  {$paginator->itemsCount}</span>
			</div>
		</div>
	</div>
{else}
	<div class="container-fluid">
		<div class="col-xs-12">
			{trans key="custom_form.no_data"}
		</div>
	</div>
{/if}

<script type="text/javascript" src="content/admin/scripts/custom-forms-data.js?v={$APP_VERSION}"></script>