<form name="form-custom-form" action="admin.php?p=custom_form" role="form" method="post" data-auto-validate="1" autocomplete="off" enctype='multipart/form-data'>
	<input type="hidden" name="nonce" id="nonce" value="{$nonce}">
	<input type="hidden" name="mode" value="{$mode|gs}">
	{if $id}<input type="hidden" name="id" value="{$id|gs}">{/if}

	<div id="content-header">
		<div class="container-fluid">
			<h1 class="col-xs-6">
				{if $mode == 'add'}{trans key="common.add"}{else}{trans key="common.editing"}{/if} {trans key="custom_form.custom_form"} <span class="title">{$title}</span>
			</h1>
			<div class="col-xs-6 pull-right text-right btn-toolbar">
				<a href="admin.php?p=custom_forms">{trans key="common.cancel"}</a>
				{if $mode == 'update'}<a href="admin.php?p=custom_form_data&form_id={$id|intval}" role="button" class="btn">{trans key="custom_form.form_data"}</a>{/if}
				<button class="btn btn-primary">{trans key="common.save"}</button>
			</div>
		</div>
		<hr class="clearfix">
	</div>

	{form form=$form}
</form>
{if $mode == 'update'}
	{include file="templates/pages/custom-form/modal-field.html"}
	<script type="text/javascript" src="content/admin/scripts/custom-forms-fields.js?v={$APP_VERSION}"></script>
{/if}

{if $handle == 'insert' && $itemsCount <= 1}
	{include file="templates/pages/custom-form/modal-info.html"}
	<script type="text/javascript" src="content/admin/scripts/custom-forms-info.js?v={$APP_VERSION}"></script>
{/if}

<script type="text/javascript" src="content/admin/scripts/custom-forms.js?v={$APP_VERSION}"></script>
