{if $field.value.mode == 'update'}
<div class="container-fluid">
	<div class="pull-right text-right">
		<a class="btn btn-primary pull-right" href="" data-role="button" data-action="action-custom-field-add" style="margin-left:5px;">{trans key="custom_form.add_field"}</a>
	</div>
	<div class="col-xs-12">
		<table class="table-custom-fields table table-striped">
			<thead>
				<th>{trans key="custom_form.fields_table.name"}</th>
				<th>{trans key="custom_form.fields_table.code"}</th>
				<th>{trans key="custom_form.fields_table.caption"}</th>
				<th>{trans key="custom_form.fields_table.position"}</th>
				<th>{trans key="custom_form.fields_table.type"}</th>
				<th>{trans key="custom_form.fields_table.active"}</th>
				<th>{trans key="custom_form.fields_table.required"}</th>
				<th>&nbsp;</th>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>
<script type="text/javascript"><!--
var customFields = {if $field.value.fields}{$field.value.fields}{else}[]{/if};
--></script>
{else}
	<div class="container-fluid">
		<div class="col-xs-12">
			{trans key="custom_form.please_save_form_first"}
		</div>
	</div>
{/if}