<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="custom_form.custom_forms"}</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
			<a href="admin.php?p=custom_form&mode=add" class="btn btn-primary pull-right">{trans key="custom_form.add_custom_form"}</a>
		</div>
	</div>
	<hr class="clearfix">
</div>

{** search form starts here **}
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<form role="form" name="form-custom-forms-search" id="form-custom-forms-search" method="get">
				<input type="hidden" name="p" value="custom_forms">
				{form form=$searchForm}
				<div class="col-sm-12">
					<input type="submit" value="Search" class="btn btn-default">
				</div>
			</form>
		</div>
	</div>
</div>
<hr>
{** search form ends here **}

{if $customForms}
	<div class="container-fluid">
		<div class="col-xs-12 col-md-12">
			<table class="table table-striped table-list table-list-custom-forms" data-search-form="#form-custom-forms-search" data-order-by-field="orderBy" data-order-dir-field="orderDir">
				<thead>
					<tr>
						<th class="text-left sortable" data-sort-field="title">{trans key="custom_form.custom_form_list_table.title"}</th>
						<th class="text-left sortable" data-sort-field="custom_form_id">{trans key="custom_form.custom_form_list_table.id"}</th>
						<th class="text-left sortable" data-sort-field="is_active">{trans key="custom_form.custom_form_list_table.is_active"}</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				{foreach from=$customForms item="customForm"}
					<tr>
						<td><a href="admin.php?p=custom_form&mode=update&id={$customForm.id}">{$customForm.title|htmlspecialchars}</a></td>
						<td><a href="admin.php?p=custom_form&mode=update&id={$customForm.id}">{$customForm.form_id|htmlspecialchars}</a></td>
						<td>{if $customForm.is_active}Yes{else}No{/if}</td>
						<td class="list-actions text-right">
							<a href="admin.php?p=custom_form&mode=update&id={$customForm.id}"><span class="icon icon-edit"></span>{trans key="common.edit"}</a>
							<a href="admin.php?p=custom_form_data&form_id={$customForm.id}"><span class="icon icon-edit"></span>{trans key="custom_form.form_data"}</a>
							<a href="#" data-action="action-custom-form-delete" data-form-id="{$customForm.id}" data-delete-nonce="{$delete_nonce}"><span class="icon icon-delete"></span>{trans key="common.delete"}</a>
						</td>
					</tr>
				{/foreach}
				</tbody>
			</table>
			<div class="custom-pager">
				{if $paginator->prevPage}
					<a role="button" class="btn btn-default" href="admin.php?p=custom_forms&amp;page={$paginator->prevPage}"><span class="icon icon-pagination-left"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-left"></span></button>
				{/if}

				{if $paginator->nextPage}
					<a role="button" class="btn btn-default" href="admin.php?p=custom_forms&amp;page={$paginator->nextPage}"><span class="icon icon-pagination-right"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-right"></span></button>
				{/if}

				<span class="text">{$paginator->itemsFrom}-{$paginator->itemsTo} <span class="of">{trans key="common.of"}</span>  {$paginator->itemsCount}</span>
			</div>
		</div>
	</div>
{else}
	<div class="container-fluid">
		<div class="col-xs-12">
			{trans key="custom_form.none_found"}
		</div>
	</div>
{/if}

<script type="text/javascript" src="content/admin/scripts/custom-forms.js?v={$APP_VERSION}"></script>