<div class="modal fade" id="modal-custom-field" tabindex="-1" role="dialog" aria-labelledby="modal-custom-field-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-custom-field" method="post">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-custom-field-label">{trans key="custom_form.custom_field"}</h4>
				</div>
				<div class="modal-body">
					{form form=$customFieldForm}
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary">{trans key="common.save_changes"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
