<div class="modal fade" id="modal-custom-form-data-delete" tabindex="-1" role="dialog" aria-labelledby="modal-custom-form-data-delete-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-custom-form-data-delete">
			<input type="hidden" name="p" value="custom_form_data">
			<input type="hidden" name="form_id" value="{$customForm.id|intval}">
			<input type="hidden" name="action" value="delete">
			<input type="hidden" name="nonce" value="{$delete_nonce}">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-custom-form-data-delete-label">{trans key="custom_form.delete_data"}</h4>
				</div>
				<div class="modal-body">
					<div class="form-group col-xs-12">
						<label><input type="radio" name="form-custom-form-data-delete-mode" value="selected" checked> {trans key="custom_form.delete_selected_data"}</label>
						<label><input type="radio" name="form-custom-form-data-delete-mode" value="search"> {trans key="custom_form.delete_all_data_from_search"} ({trans key="custom_form.all_found"} {$itemsCount})</label>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary" data-action="action-custom-form-bulk-delete">{trans key="common.delete"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>