<div class="modal fade" id="modal-info" tabindex="-1" role="dialog" aria-labelledby="modal-custom-field-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-custom-field" method="post">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-custom-field-label"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Information</h4>
				</div>
				<div class="modal-body">
					<div class="col-xs-12">
						<p class="text-center">Custom form has been added. Would you like to use it on a page?</p>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<a href="admin.php?p=pages" role="button" class="btn btn-primary">{trans key="common.yes"}</a>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<button type="button" class="btn btn-default" data-dismiss="modal">{trans key="common.not_yet"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
