<div class="modal fade" id="modal-custom-form-search-data" tabindex="-1" role="dialog" aria-labelledby="modal-custom-form-search-data-label" aria-hidden="true">
	<div class="modal-dialog">
		<form action="admin.php" name="form-custom-form-search-data" method="get">
			<input type="hidden" name="p" value="custom_form_data">
			<input type="hidden" name="form_id" value="{$customForm.id|intval}">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-custom-forms-search-label">{trans key="custom_form.search_custom_forms"}</h4>
				</div>
				<div class="modal-body">
					{form form=$searchForm}
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary">{trans key="common.search"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>