<div class="modal fade" id="modal-custom-form-data-export" tabindex="-1" role="dialog" aria-labelledby="modal-custom-form-data-export-label" aria-hidden="true">
	<div class="modal-dialog">
		<form action="admin.php?p=custom_form_data&mode=export" method="POST" role="form" name="form-custom-form-data-export">
			<input type="hidden" name="form_id" value="{$customForm.id|intval}">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-products-export-label">{trans key="custom_form.export_data"}</h4>
				</div>
				<div class="modal-body">
					<div class="clearfix">
						<div class="form-group col-xs-12">
							<label><input type="radio" name="form-custom-form-data-export-mode" value="selected" checked> {trans key="custom_form.export_selected_data"}</label>
							<label><input type="radio" name="form-custom-form-data-export-mode" value="search"> {trans key="custom_form.export_all_data_from_search"} ({trans key="custom_form.all_found"} {$itemsCount})</label>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary" data-action="action-custom-form-data-export">{trans key="common.export"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>