<div class="modal fade" id="modal-custom-form-view-data" tabindex="-1" role="dialog" aria-labelledby="modal-custom-form-view-data-label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.close"}</button>
				<h4 class="modal-title" id="modal-custom-forms-search-label">{trans key="custom_form.search_custom_record"}</h4>
			</div>
			<div class="modal-body">

			</div>
		</div>
	</div>
</div>