<form name="form-export" action="admin.php?p=app&key=nextag" role="form" method="post" data-auto-validate="1" autocomplete="off">
	<input type="hidden" name="nonce" id="nonce" value="{$nonce}">
	<div id="content-header">
		<div class="container-fluid">
			<h1 class="col-xs-6">{trans key="apps.nextag.title"}</h1>
			<div class="col-xs-6 pull-right text-right btn-toolbar">
				<a href="admin.php?p=apps">{trans key="common.back"}</a>
				<button type="button" id="export-btn" class="btn btn-primary">{trans key="common.export"}</button>
			</div>
		</div>
		<hr class="clearfix">
	</div>
	{form form=$form}
</form>
<iframe id="iframe-download" src="" style="display: none;width: 1px;height: 1px;"></iframe>

{literal}
<script type="text/javascript">
	$('#export-btn').click(function() {
		var template = '&template=nextag_products&apiType=csv&call=GetProducts';
		$('#iframe-download').attr('src', 'content/admin/plugins/openapi/index.php?BatchPage=1'+template+'&BatchSize='+$('#field-product_count').val()+'&PrimaryCategory='+$('#field-product_category').val()+'&download=1');
		return false;
	});
</script>
{/literal}