<h3>{trans key="apps.exactor.app_desc1"}</h3>
<p>{trans key="apps.exactor.app_desc2"}</p>
<p>{trans key="apps.exactor.app_desc3"}</p>
<ul>
	<li>{trans key="apps.exactor.app_desc4"}</li>
	<li>{trans key="apps.exactor.app_desc5"}</li>
	<li>{trans key="apps.exactor.app_desc6"}</li>
	<li>{trans key="apps.exactor.app_desc7"}</li>
	<li>{trans key="apps.exactor.app_desc8"}</li>
	<li>{trans key="apps.exactor.app_desc9"}</li>
</ul>
<p>
	{trans key="apps.exactor.app_desc10"}
	{if !$is_label}
		<a href="https://{if $is_label}merchant{else}pinnacle{/if}.exactor.com/account/signup/application" target="_blank">{trans key="apps.exactor.app_desc11"}</a>
	{/if}
</p>
<p>
	<a href="https://{if $is_label}merchant{else}pinnacle{/if}.exactor.com/account/signup/application" target="_blank" class="btn btn-primary">{trans key="apps.exactor.app_desc12"}</a>
</p>