<div class="modal fade" id="modal-add-tax-code" tabindex="-1" role="dialog" aria-labelledby="modal-add-tax-code-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-add-tax-code" action="admin.php?p=exactor&mode=tax-codes" method="post">
			<input type="hidden" name="nonce" value="{$addNonce}">

			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-add-tax-code-label">{trans key="apps.exactor.add_tax_code"}</h4>
				</div>
				<div class="modal-body">
					{form form=$taxCodeForm}
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary" data-action="action-save-tax-code">{trans key="common.save"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>