<div class="modal fade" id="modal-euc-codes" tabindex="-1" role="dialog" aria-labelledby="modal-euc-codes-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-euc-codes">
			<input type="hidden" name="nonce" value="{$add_euc_nonce}">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-euc-codes-label">{trans key="apps.exactor.add_euc_codes"}</h4>
				</div>
				<div class="modal-body" style="overflow-y:auto;max-height: 300px;margin-bottom: 30px;">
					<div class="col-xs-12 col-sm-6" style="border-right: solid 1px #cccccc;">
						<div class="tree">
							<ul></ul>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="euc-codes">

						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary" data-dismiss="modal">{trans key="common.close"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>