<tr data-ssid="{$methodItem.ssid}">
	<td>{$methodItem.carrier_name|gs}</td>
	<td>
		<div class="form-group">
			<input class="form-control" type="text" name="method[method_name]" value="{$methodItem.method_name|gs}">
		</div>
	</td>
	<td>
		<div class="form-group">
			<input class="form-control" type="text" name="method[fee]" value="{$methodItem.fee|gn}">
			<select class="form-control" name="method[fee_type]">
				<option value="percent"{if $methodItem.fee_type == 'percent'} selected="selected"{/if}>%</option>
				<option value="amount"{if $methodItem.fee_type == 'amount'} selected="selected"{/if}>{$currency.code|gs}</option>
			</select>
		</div>
	</td>
	<td>{$methodItem.states_names|gs}</td>
	<td>
		<select class="form-control" name="method[priority]" id="method-{$methodItem.ssid}-priority">
			{section name=i start=0 loop=11}
				<option value="{$smarty.section.i.index}"{if $methodItem.priority == $smarty.section.i.index} selected="selected"{/if}>{$smarty.section.i.index}</option>
			{/section}
		</select>
	</td>
	<td>
		<div class="form-group field-checkbox">
			<label for="method-{$methodItem.ssid}-active">
				<input id="method-{$methodItem.ssid}-active" type="checkbox" class="form-control" name="method[hidden]" value="No"{if $methodItem.hidden == 'No'} checked="checked"{/if}>
			</label>
		</div>
	</td>
	<td class="list-actions text-right">
		<a href="#" class="save-real-time-method" data-ssid="{$methodItem.ssid}"><span class="icon icon-edit"></span>{trans key="common.save"}</a>
		<a href="#" class="cancel-real-time-method" data-ssid="{$methodItem.ssid}"><span class="icon icon-edit"></span>{trans key="common.cancel"}</a>
	</td>
</tr>