<tr data-ssid="{$methodItem.ssid}">
	<td rowspan="{if $methodItem.ratesCount < 2}1{else}{$methodItem.ratesCount}{/if}">
		{$methodItem.carrier_name|gs}
	</td>
	<td rowspan="{if $methodItem.ratesCount < 2}1{else}{$methodItem.ratesCount}{/if}">{$methodItem.method_name|gs}</td>
	{if $methodItem.method_id == 'flat'}
		{if count($methodItem.rates) == 0}
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		{else}
			{assign var="rate" value=$methodItem.rates.0}
			<td>
				<span class="tax-rate-static">{if $rate.rate_min == 0}1{else}{$rate.rate_min|string_format:"%d"}{/if}{if $rate.rate_max > 0} - {$rate.rate_max|string_format:"%d"} {trans key="shipping.items"}{else} {trans key="shipping.items_and_up"}{/if}</span>
			</td>
			<td>
				<span class="tax-rate-static">{if $rate.price_type == 'percentage'}{$rate.price|gn}%{else}{$rate.price|price}{/if}</span>
			</td>
		{/if}
	{elseif $methodItem.method_id == 'price'}
		{if count($methodItem.rates) == 0}
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		{else}
			{assign var="rate" value=$methodItem.rates.0}
			<td>
				<span class="tax-rate-static">{$rate.rate_min|price}{if $rate.rate_max > 0} - {$rate.rate_max|price}{else} {trans key="shipping.and_up"}{/if}</span>
			</td>
			<td>
				<span class="tax-rate-static">{if $rate.price_type == 'percentage'}{$rate.price|gn}%{else}{$rate.price|price}{/if}</span>
			</td>
		{/if}
	{elseif $methodItem.method_id == 'base_weight'}
		{if count($methodItem.rates) == 0}
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		{else}
			{assign var="rate" value=$methodItem.rates.0}
			<td>
				<span class="tax-rate-static">{if $rate.rate_min == 0}0 {else}{$rate.rate_min|gn}{/if}{if $rate.rate_max > 0} - {$rate.rate_max|gn} {$LocalizationWeightUnits}{else} {$LocalizationWeightUnits} {trans key="shipping.and_up"}{/if}</span>
			</td>
			<td>
				<span class="tax-rate-static">{$rate.base|price}</span>
			</td>
		{/if}
	{elseif $methodItem.method_id == 'product'}
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	{/if}
	<td rowspan="{if $methodItem.ratesCount < 2}1{else}{$methodItem.ratesCount}{/if}">
		<a href="#" class="{if $methodItem.uses_states}change-method-states{else}change-method-countries{/if}" data-ssid="{$methodItem.ssid}">{$methodItem.states_names|gs}</a>
	</td>
	<td rowspan="{if $methodItem.ratesCount < 2}1{else}{$methodItem.ratesCount}{/if}">
		<div>
			{$methodItem.priority}
		</div>
	</td>
	<td rowspan="{if $methodItem.ratesCount < 2}1{else}{$methodItem.ratesCount}{/if}">
		<div class="form-group field-checkbox">
			<!--
			<label for="method-{$methodItem.ssid}-active">
				<input id="method-{$methodItem.ssid}-active" type="checkbox" class="form-control" name="method[hidden]" disabled="disabled" value="No"{if $methodItem.hidden == 'No'} checked="checked"{/if}>
			</label>
			-->
			{if $methodItem.hidden == 'Yes'}No{else}Yes{/if}
		</div>
	</td>
	<td rowspan="{if $methodItem.ratesCount < 2}1{else}{$methodItem.ratesCount}{/if}" class="list-actions text-right">
		<a href="#" class="edit-shipping-method" data-ssid="{$methodItem.ssid}"{if count($methodItem.rates) == 0 && $methodItem.method_id <> 'product'} title="Add ranges for method"{/if}><span class="icon icon-edit"></span>{trans key="common.edit"}{if count($methodItem.rates) == 0 && $methodItem.method_id <> 'product'}<img src="images/admin/alert-cone.gif" style="margin-left: 3px;">{/if}</a>
		<a href="#" class="delete-shipping-method" data-ssid="{$methodItem.ssid}"><span class="icon icon-delete"></span>{trans key="common.delete"}</a>
	</td>
</tr>
{foreach from=$methodItem.rates item="rate" name="rates_loop"}
{if $smarty.foreach.rates_loop.index > 0}
<tr data-ssid="{$methodItem.ssid}" class="rates-row">
	{if $methodItem.method_id == 'flat'}
		<td>
			<span class="tax-rate-static">{if $rate.rate_min == 0}1{else}{$rate.rate_min|string_format:"%d"}{/if}{if $rate.rate_max > 0} - {$rate.rate_max|string_format:"%d"} {trans key="shipping.items"}{else} {trans key="shipping.items_and_up"}{/if}</span>
		</td>
		<td>
			<span class="tax-rate-static tax-rate-price">{if $rate.price_type == 'percentage'}{$rate.price|gn}%{else}{$rate.price|price}{/if}</span>
		</td>
	{elseif $methodItem.method_id == 'price'}
		<td>
			<span class="tax-rate-static">{$rate.rate_min|price}{if $rate.rate_max > 0} - {$rate.rate_max|price}{else} {trans key="shipping.and_up"}{/if}</span>
		</td>
		<td>
			<span class="tax-rate-static">{if $rate.price_type == 'percentage'}{$rate.price|gn}%{else}{$rate.price|price}{/if}</span>
		</td>
	{elseif $methodItem.method_id == 'base_weight'}
		<td>
			<span class="tax-rate-static">{if $rate.rate_min == 0}0{else}{$rate.rate_min|gn}{/if}{if $rate.rate_max > 0} - {$rate.rate_max|gn} {$LocalizationWeightUnits}{else} {$LocalizationWeightUnits} {trans key="shipping.and_up"}{/if}</span>
		</td>
		<td>
			<span class="tax-rate-static">{$rate.base|price}</span>
		</td>
	{/if}
</tr>
{/if}
{/foreach}