<tr data-ssid="{$methodItem.ssid}">
	<td>{$methodItem.carrier_name|gs}</td>
	<td>{$methodItem.method_name|gs}</td>
	<td>
		{if $methodItem.fee != 0}
			{if $methodItem.fee_type == 'amount'}
				{$methodItem.fee|price}
			{else}
				{$methodItem.fee|gn}%
			{/if}
		{else}
			-
		{/if}
	</td>
	<td>
		<a href="#" class="{if $methodItem.uses_states}change-method-states{else}change-method-countries{/if}" data-ssid="{$methodItem.ssid}">{$methodItem.states_names|gs}</a>
	</td>
	<td>
		<div>
			{$methodItem.priority}
		</div>
	</td>
	<td>
		<div class="form-group field-checkbox">
			<!--
			<label for="method-{$methodItem.ssid}-active">

				<input id="method-{$methodItem.ssid}-active" type="checkbox" class="form-control" name="method[hidden]" disabled="disabled" value="No"{if $methodItem.hidden == 'No'} checked="checked"{/if}>
			</label>
			-->
			{if $methodItem.hidden == 'Yes'}No{else}Yes{/if}
		</div>
	</td>
	<td class="list-actions text-right">
		<a href="#" class="edit-real-time-method" data-ssid="{$methodItem.ssid}"><span class="icon icon-edit"></span>{trans key="common.edit"}</a>
		<a href="#" class="delete-shipping-method" data-ssid="{$methodItem.ssid}"><span class="icon icon-delete"></span>{trans key="common.delete"}</a>
	</td>
</tr>