<tr data-ssid="{$methodItem.ssid}"{if count($methodItem.rates) == 0 && $methodItem.method_id <> 'product'} class="tax-rate-new-rate"{/if}>
	<td rowspan="{$rowSpan}">
		<div class="form-group">
			<input class="form-control" type="text" name="method[carrier_name]" value="{$methodItem.carrier_name|gs}">
		</div>
	</td>
	<td rowspan="{$rowSpan}">
		<div class="form-group">
			<select class="form-control flat-method-type" name="method[method_id]">
				<option value="price"{if $methodItem.method_id == 'price'} selected="selected"{/if}>{trans key="shipping.order_subtotal"}</option>
				<option value="base_weight"{if $methodItem.method_id == 'base_weight' || $methodItem.method_id == 'weight'} selected="selected"{/if}>{trans key="shipping.weight"}</option>
				<option value="flat"{if $methodItem.method_id == 'flat'} selected="selected"{/if}>{trans key="shipping.per_item"}</option>
				<option value="product"{if $methodItem.method_id == 'product'} selected="selected"{/if}>{trans key="shipping.product_level"}</option>
			</select>
		</div>
	</td>

	{if $methodItem.method_id == 'flat'}
		{if count($methodItem.rates) == 0}
			<td>
				<div class="form-group">
					<div class="col-xs-6">
						<input class="form-control" type="text" name="rates[-1][rate_min]">
					</div>
					<div class="col-xs-6">
						<input class="form-control" type="text" name="rates[-1][rate_max]">
					</div>
				</div>
			</td>
			<td>
				<div class="form-group">
					<div class="col-xs-6">
						<input class="form-control" type="text" name="rates[-1][price]">
					</div>
					<div class="col-xs-6">
						<select class="form-control" name="rates[-1][price_type]">
							<option value="amount"{if $priceType == 'amount'} selected="selected"{/if}>{$currency.code|gs}</option>
							<option value="percentage"{if $priceType == 'percentage'} selected="selected"{/if}>%</option>
						</select>
					</div>
				</div>
			</td>
		{else}
			{assign var="rate" value=$methodItem.rates.0}
			<td>
				<div class="form-group">
					<div class="col-xs-6">
						<input class="form-control" type="text" name="rates[{$rate.srid}][rate_min]" value="{if $rate.rate_min == '0'}0{else}{$rate.rate_min|string_format:"%d"}{/if}">
					</div>
					<div class="col-xs-6">
						<input class="form-control" type="text" name="rates[{$rate.srid}][rate_max]" value="{if $rate.rate_max > 0}{$rate.rate_max|string_format:"%d"}{/if}">
					</div>
				</div>
			</td>
			<td>
				<div class="form-group">
					<div class="col-xs-6">
						<input class="form-control" type="text" name="rates[{$rate.srid}][price]" value="{if $rate.price == '0'}0{else}{$rate.price|gn}{/if}">
					</div>
					<div class="col-xs-6">
						<select class="form-control" name="rates[{$rate.srid}][price_type]">
							<option value="amount"{if $rate.price_type != 'percentage'} selected="selected"{/if}>{$currency.code|gs}</option>
							<option value="percentage"{if $rate.price_type == 'percentage'} selected="selected"{/if}>%</option>
						</select>
					</div>
				</div>
			</td>
		{/if}
	{elseif $methodItem.method_id == 'price'}
		{if count($methodItem.rates) == 0}
			<td>
				<div class="form-group">
					<div class="col-xs-6">
						<div class="input-group">
							{if $currency.symbol_left}<span class="input-group-addon">{$currency.symbol_left}</span>{/if}
							<input class="form-control" type="text" name="rates[-1][rate_min]">
							{if $currency.symbol_right}<span class="input-group-addon">{$currency.symbol_right}</span>{/if}
						</div>
					</div>
					<div class="col-xs-6">
						<div class="input-group">
							{if $currency.symbol_left}<span class="input-group-addon">{$currency.symbol_left}</span>{/if}
							<input class="form-control" type="text" name="rates[-1][rate_max]">
							{if $currency.symbol_right}<span class="input-group-addon">{$currency.symbol_right}</span>{/if}
						</div>
					</div>
				</div>
			</td>
			<td>
				<div class="form-group">
					<div class="col-xs-6">
						<input class="form-control" type="text" name="rates[-1][price]">
					</div>
					<div class="col-xs-6">
						<select class="form-control" name="rates[-1][price_type]">
							<option value="amount"{if $priceType == 'amount'} selected="selected"{/if}>{$currency.code|gs}</option>
							<option value="percentage"{if $priceType == 'percentage'} selected="selected"{/if}>%</option>
						</select>
					</div>
				</div>
			</td>
		{else}
			{assign var="rate" value=$methodItem.rates.0}
			<td>
				<div class="form-group">
					<div class="col-xs-6">
						<div class="input-group">
							{if $currency.symbol_left}<span class="input-group-addon">{$currency.symbol_left}</span>{/if}
							<input class="form-control" type="text" name="rates[{$rate.srid}][rate_min]" value="{if $rate.rate_min == '0'}0{else}{$rate.rate_min|gn}{/if}">
							{if $currency.symbol_right}<span class="input-group-addon">{$currency.symbol_right}</span>{/if}
						</div>
					</div>
					<div class="col-xs-6">
						<div class="input-group">
							{if $currency.symbol_left}<span class="input-group-addon">{$currency.symbol_left}</span>{/if}
							<input class="form-control" type="text" name="rates[{$rate.srid}][rate_max]" value="{$rate.rate_max|gn}">
							{if $currency.symbol_right}<span class="input-group-addon">{$currency.symbol_right}</span>{/if}
						</div>
					</div>
				</div>
			</td>
			<td>
				<div class="form-group">
					<div class="col-xs-6">
						<input class="form-control" type="text" name="rates[{$rate.srid}][price]" value="{if $rate.price == '0'}0{else}{$rate.price|gn}{/if}">
					</div>
					<div class="col-xs-6">
						<select class="form-control" name="rates[{$rate.srid}][price_type]">
							<option value="amount"{if $rate.price_type != 'percentage'} selected="selected"{/if}>{$currency.code|gs}</option>
							<option value="percentage"{if $rate.price_type == 'percentage'} selected="selected"{/if}>%</option>
						</select>
					</div>
				</div>
			</td>
		{/if}
	{elseif $methodItem.method_id == 'base_weight'}
		{if count($methodItem.rates) == 0}
			<td>
				<div class="form-group">
					<div class="col-xs-6">
						<div class="input-group">
							<input class="form-control" type="text" name="rates[-1][rate_min]" value="">
							<span class="input-group-addon">{$LocalizationWeightUnits}</span>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="input-group">
							<input class="form-control" type="text" name="rates[-1][rate_max]" value="">
							<span class="input-group-addon">{$LocalizationWeightUnits}</span>
						</div>
					</div>
				</div>
			</td>
			<td>
				<div class="form-group">
					<div class="input-group">
						{if $currency.symbol_left}<span class="input-group-addon">{$currency.symbol_left}</span>{/if}
						<input class="form-control" type="text" name="rates[-1][base]" value="">
						{if $currency.symbol_right}<span class="input-group-addon">{$currency.symbol_rightt}</span>{/if}
					</div>
				</div>
			</td>
		{else}
			{assign var="rate" value=$methodItem.rates.0}
			<td>
				<div class="form-group">
					<div class="col-xs-6">
						<div class="input-group">
							<input class="form-control" type="text" name="rates[{$rate.srid}][rate_min]" value="{if $rate.rate_min == '0'}0{else}{$rate.rate_min|gn}{/if}">
							<span class="input-group-addon">{$LocalizationWeightUnits}</span>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="input-group">
							<input class="form-control" type="text" name="rates[{$rate.srid}][rate_max]" value="{$rate.rate_max|gn}">
							<span class="input-group-addon">{$LocalizationWeightUnits}</span>
						</div>
					</div>
				</div>
			</td>
			<td>
				<div class="form-group">
					<div class="input-group">
						{if $currency.symbol_left}<span class="input-group-addon">{$currency.symbol_left}</span>{/if}
						<input class="form-control" type="text" name="rates[{$rate.srid}][base]" value="{if $rate.base == '0'}0{else}{$rate.base|gn}{/if}">
						{if $currency.symbol_right}<span class="input-group-addon">{$currency.symbol_right}</span>{/if}
					</div>
				</div>
			</td>
		{/if}
	{elseif $methodItem.method_id == 'product'}
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	{/if}
	<td rowspan="{$rowSpan}">
		{$methodItem.states_names|gs}
	</td>
	<td rowspan="{$rowSpan}">
		<select class="form-control" name="method[priority]" id="method-{$methodItem.ssid}-priority">
			{section name=i start=0 loop=11}
				<option value="{$smarty.section.i.index}"{if $methodItem.priority == $smarty.section.i.index} selected="selected"{/if}>{$smarty.section.i.index}</option>
			{/section}
		</select>
	</td>
	<td rowspan="{$rowSpan}">
		<div class="form-group field-checkbox">
			<label for="method-{$methodItem.ssid}-active">
				<input id="method-{$methodItem.ssid}-active" type="checkbox" class="form-control" name="method[hidden]" value="No"{if $methodItem.hidden == 'No'} checked="checked"{/if}>
			</label>
		</div>
	</td>
	<td rowspan="{$rowSpan}" class="list-actions text-right">
		<a href="#" class="save-shipping-method" data-ssid="{$methodItem.ssid}" tabindex="10"><span class="icon icon-edit"></span>{trans key="common.save"}</a>
		<a href="#" class="cancel-shipping-method" data-ssid="{$methodItem.ssid}" tabindex="10"><span class="icon icon-edit"></span>{trans key="common.cancel"}</a>
	</td>
</tr>

{foreach from=$methodItem.rates item="rate" name="rates_loop"}
	{if $smarty.foreach.rates_loop.index > 0}
		<tr data-ssid="{$methodItem.ssid}" class="rates-row">
			{if $methodItem.method_id == 'flat'}
				<td>
					<div class="form-group">
						<div class="col-xs-6">
							<input class="form-control" type="text" name="rates[{$rate.srid}][rate_min]" value="{if $rate.rate_min == '0'}0{else}{$rate.rate_min|string_format:"%d"}{/if}">
						</div>
						<div class="col-xs-6">
							<input class="form-control" type="text" name="rates[{$rate.srid}][rate_max]" value="{if $rate.rate_max > 0}{$rate.rate_max|string_format:"%d"}{/if}">
						</div>
					</div>
				</td>
				<td>
					<div class="form-group">
						<div class="col-xs-6">
							<input class="form-control" type="text" name="rates[{$rate.srid}][price]" value="{if $rate.price == '0'}0{else}{$rate.price|gn}{/if}">
						</div>
						<div class="col-xs-6">
							<select class="form-control" name="rates[{$rate.srid}][price_type]">
								<option value="amount"{if $rate.price_type != 'percentage'} selected="selected"{/if}>{$currency.code|gs}</option>
								<option value="percentage"{if $rate.price_type == 'percentage'} selected="selected"{/if}>%</option>
							</select>
						</div>
					</div>
				</td>
			{elseif $methodItem.method_id == 'price'}
				<td>
					<div class="form-group">
						<div class="col-xs-6">
							<div class="input-group">
								{if $currency.symbol_left}<span class="input-group-addon">{$currency.symbol_left}</span>{/if}
								<input class="form-control" type="text" name="rates[{$rate.srid}][rate_min]" value="{if $rate.rate_min == '0'}0{else}{$rate.rate_min|gn}{/if}">
								{if $currency.symbol_right}<span class="input-group-addon">{$currency.symbol_right}</span>{/if}
							</div>
						</div>
						<div class="col-xs-6">
							<div class="input-group">
								{if $currency.symbol_left}<span class="input-group-addon">{$currency.symbol_left}</span>{/if}
								<input class="form-control" type="text" name="rates[{$rate.srid}][rate_max]" value="{$rate.rate_max|gn}">
								{if $currency.symbol_right}<span class="input-group-addon">{$currency.symbol_right}</span>{/if}
							</div>
						</div>
					</div>
				</td>
				<td>
					<div class="form-group">
						<div class="col-xs-6">
							<input class="form-control" type="text" name="rates[{$rate.srid}][price]" value="{if $rate.price == '0'}0{else}{$rate.price|gn}{/if}">
						</div>
						<div class="col-xs-6">
							<select class="form-control" name="rates[{$rate.srid}][price_type]">
								<option value="amount"{if $rate.price_type != 'percentage'} selected="selected"{/if}>{$currency.code|gs}</option>
								<option value="percentage"{if $rate.price_type == 'percentage'} selected="selected"{/if}>%</option>
							</select>
						</div>
					</div>
				</td>
			{elseif $methodItem.method_id == 'base_weight'}
				<td>
					<div class="form-group">
						<div class="col-xs-6">
							<div class="input-group">
								<input class="form-control" type="text" name="rates[{$rate.srid}][rate_min]" value="{if $rate.rate_min == '0'}0{else}{$rate.rate_min|gn}{/if}">
								<span class="input-group-addon">{$LocalizationWeightUnits}</span>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="input-group">
								<input class="form-control" type="text" name="rates[{$rate.srid}][rate_max]" value="{$rate.rate_max|gn}">
								<span class="input-group-addon">{$LocalizationWeightUnits}</span>
							</div>
						</div>
					</div>
				</td>
				<td>
					<div class="form-group">
						<div class="input-group">
							{if $currency.symbol_left}<span class="input-group-addon">{$currency.symbol_left}</span>{/if}
							<input class="form-control" type="text" name="rates[{$rate.srid}][base]" value="{if $rate.base == '0'}0{else}{$rate.base|gn}{/if}">
							{if $currency.symbol_right}<span class="input-group-addon">{$currency.symbol_right}</span>{/if}
						</div>
					</div>
				</td>
			{/if}
		</tr>
	{/if}
{/foreach}

{if count($methodItem.rates) > 0}
	<tr data-ssid="{$methodItem.ssid}" class="rates-row{if $methodItem.method_id <> 'product'} tax-rate-new-rate{/if}">
		{if $methodItem.method_id == 'flat'}
			<td>
				<div class="form-group">
					<div class="col-xs-6">
						<input class="form-control" type="text" name="rates[-1][rate_min]">
					</div>
					<div class="col-xs-6">
						<input class="form-control" type="text" name="rates[-1][rate_max]">
					</div>
				</div>
			</td>
			<td>
				<div class="form-group">
					<div class="col-xs-6">
						<input class="form-control" type="text" name="rates[-1][price]">
					</div>
					<div class="col-xs-6">
						<select class="form-control" name="rates[-1][price_type]">
							<option value="amount"{if $priceType == 'amount'} selected="selected"{/if}>{$currency.code|gs}</option>
							<option value="percentage"{if $priceType == 'percentage'} selected="selected"{/if}>%</option>
						</select>
					</div>
				</div>
			</td>
		{elseif $methodItem.method_id == 'price'}
			<td>
				<div class="form-group">
					<div class="col-xs-6">
						<div class="input-group">
							{if $currency.symbol_left}<span class="input-group-addon">{$currency.symbol_left}</span>{/if}
							<input class="form-control" type="text" name="rates[-1][rate_min]">
							{if $currency.symbol_right}<span class="input-group-addon">{$currency.symbol_right}</span>{/if}
						</div>
					</div>
					<div class="col-xs-6">
						<div class="input-group">
							{if $currency.symbol_left}<span class="input-group-addon">{$currency.symbol_left}</span>{/if}
							<input class="form-control" type="text" name="rates[-1][rate_max]">
							{if $currency.symbol_right}<span class="input-group-addon">{$currency.symbol_right}</span>{/if}
						</div>
					</div>
				</div>
			</td>
			<td>
				<div class="form-group">
					<div class="col-xs-6">
						<input class="form-control" type="text" name="rates[-1][price]">
					</div>
					<div class="col-xs-6">
						<select class="form-control" name="rates[-1][price_type]">
							<option value="amount"{if $priceType == 'amount'} selected="selected"{/if}>{$currency.code|gs}</option>
							<option value="percentage"{if $priceType == 'percentage'} selected="selected"{/if}>%</option>
						</select>
					</div>
				</div>
			</td>
		{elseif $methodItem.method_id == 'base_weight'}
			<td>
				<div class="form-group">
					<div class="col-xs-6">
						<div class="input-group">
							<input class="form-control" type="text" name="rates[-1][rate_min]" value="">
							<span class="input-group-addon">{$LocalizationWeightUnits}</span>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="input-group">
							<input class="form-control" type="text" name="rates[-1][rate_max]" value="">
							<span class="input-group-addon">{$LocalizationWeightUnits}</span>
						</div>
					</div>
				</div>
			</td>
			<td>
				<div class="form-group">
					<div class="input-group">
						{if $currency.symbol_left}<span class="input-group-addon">{$currency.symbol_left}</span>{/if}
						<input class="form-control" type="text" name="rates[-1][base]" value="">
						{if $currency.symbol_right}<span class="input-group-addon">{$currency.symbol_rightt}</span>{/if}
					</div>
				</div>
			</td>
		{elseif $methodItem.method_id == 'product'}
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		{/if}
	</tr>
{/if}