<form name="form-settings_ccs" class="form-settings_ccs" action="admin.php?p=settings_ccs" role="form" method="post" data-auto-validate="1" autocomplete="off" enctype='multipart/form-data'>
	<input type="hidden" name="nonce" id="nonce" value="{$nonce}">
	<div id="content-header">
		<div class="container-fluid">
			<h1 class="col-xs-6">{trans key="credit_card_storage.credit_card_storage"}</h1>
			<div class="col-xs-6 pull-right text-right btn-toolbar">
				{if $canRegenerate}<a class="btn regenerate-certificate" href="#">{trans key="credit_card_storage.regenerate_certificate"}</a>{/if}
				<button class="btn btn-primary">{trans key="common.save"}</button>
			</div>
		</div>
		<hr class="clearfix">
	</div>
	{if $canAccess}
	{form form=$form}
	{else}
		<div class="container-fluid">
			<div class="col-xs-12">
				{trans key='common.access_denied'}
			</div>
		</div>
	{/if}
</form>

{include file="templates/pages/credit-card-storage/modal-generate-certificate.html"}

<script type="text/javascript" src="content/admin/scripts/credit-card-storage.js?v={$APP_VERSION}"></script>