<div class="modal fade" id="modal-generate-certificate" tabindex="-1" role="dialog" aria-labelledby="modal-generate-certificate-label" aria-hidden="true">
	<div class="modal-dialog">
		<form name="form-generate-certificate" class="form-address" role="form" method="post" data-auto-validate="1">
			<input id="nonce_generate" type="hidden" name="nonce_generate" value="{$nonce_generate}">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-generate-certificate-label">{trans key="credit_card_storage.regenerate_certificate"}</h4>
				</div>
				<div class="modal-body">
					{form form=$certificateForm}
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary">{trans key="credit_card_storage.generate"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
