{assign var="billingData" value=$paymentProfile->billingData}
<h3>{$msg.account.payment_profile} {$paymentProfileNumber}{if $paymentProfile->isPrimary} ({$msg.account.payment_profile_primary}){/if}</h3>
<div class="spacer clearfix">
	<strong>
		{if $paymentProfile->name != ''}{$paymentProfile->name|htmlspecialchars}<br>{/if}
		{$paymentProfile->billingData->name|htmlspecialchars}<br>
		{$paymentProfile->billingData->ccNumber|htmlspecialchars} -
		{if $billingData->ccType == 'paypal_account'}
			{$msg.account.payment_profile_paypal}
		{else}
			{$paymentProfile->billingData->ccExpirationMonth|htmlspecialchars}/{$paymentProfile->billingData->ccExpirationYear|htmlspecialchars}
		{/if}
	</strong>
	<div class="gap-top">
		{$paymentProfile->billingData->addressLine1|htmlspecialchars}{if $paymentProfile->billingData->addressLine2 != ''}, {$paymentProfile->billingData->addressLine2|htmlspecialchars}{/if}<br>
		{$paymentProfile->billingData->city|htmlspecialchars},
		{$paymentProfile->billingData->stateName|htmlspecialchars} {$paymentProfile->billingData->zip|htmlspecialchars}<br>
		{$paymentProfile->billingData->countryName|htmlspecialchars}
	</div>
	{if $paymentProfile->billingData->phone != ''}
		<div class="gap-top">
			Phone: {$paymentProfile->billingData->phone|htmlspecialchars}
		</div>
	{/if}
	<div class="gap-top">
		<a href="{$url_https}p=payment_profile_edit&amp;payment_profile_id={$paymentProfile->id}">{$msg.account.edit_payment_profile}</a>
		| <a href="javascript:ConfirmDeletePaymentProfile('{$paymentProfile->id}')">{$msg.account.delete_payment_profile}</a>
	</div>
</div>