<h3>
	{if $allow_select == "yes"}
		{if (($shipping_address > 0) && ($shippin_address == $address.usid)) ||	(($shipping_address < 1) && ($address.is_primary == "Yes"))}
			{assign var="is_selected" value="yes"}
		{else}
			{assign var="is_selected" value="no"}
		{/if}
		<input type="radio" name="shipping_address" {if $is_selected == "yes"}checked="checked"{/if} value="{$address.usid}" id="address{$address.usid}">
		<label for="address{$address.usid}">
	{/if}

	{if $address.usid == "billing"}
		{$msg.shipping.use_your_billing_address}
	{elseif $address.usid == "paypal_ec"}
		{$msg.shipping.use_paypal_ec_address}
	{else}
		{$msg.shipping.address} {$addr_num}

		{if $address.is_primary == "Yes"}(primary){/if}
	{/if}

	{if $allow_select == "yes"}</label>{/if}
</h3>

<input type="hidden" name="shipping_country_id[{$address.usid}]" value="{$address.state}"/>
<input type="hidden" name="shipping_state_id[{$address.usid}]" value="{$address.country}>"/>

<div class="spacer clearfix">
	<strong>{$address.name|htmlspecialchars}{if $address.company != ''}, {$address.company|htmlspecialchars}{/if}</strong>

	{if $address.address_type == 'Residential'}
		<i>({$msg.shipping.address_type_residential})</i>
	{else}
		<i>({$msg.shipping.address_type_business})</i>
	{/if}

	<div class="gap-top">
		{$address.address1|htmlspecialchars}{if $address.address2 != ''}, {$address.address2|htmlspecialchars}{/if}<br>
		{$address.city|htmlspecialchars}, {if $address.province} {$address.province|htmlspecialchars}, {/if} {$address.zip|htmlspecialchars}<br>
		{$address.country_name|htmlspecialchars}
	</div>

	{if $address.usid != "billing" && $address.usid != "paypal_ec" && $ShippingAllowSeparateAddress!="0"}
		<div class="gap-top">
			<a href="{$url_https}p=address_edit&amp;address_id={$address.usid}">{$msg.shipping.edit_address}</a>
			{if $address.is_primary != "Yes"}
				| <a href="javascript:ConfirmDeleteShippingAddress('{$address.usid}', '{$nonce_delete_address|htmlspecialchars}')">{$msg.shipping.delete_address}</a>
			{/if}
		</div>
	{/if}
</div>

