<script language="javascript" type="text/javascript">
var countriesStates = {$countries_states};
{literal}
$(document).ready(function(){
	{/literal}
	setCountriesStates(
		"#shipping_country", "{$edit_address.country}",
		"#shipping_state", "{$edit_address.state}",
		"#shipping_province", "{$edit_address.province|htmlspecialchars}",
		countriesStates
	);
	{if $tc_shipping_address_id && $tc_shipping_address_id == "new"}
		tcSetShippingAddress();
	{/if}
	{literal}
});
{/literal}
</script>

<div class="field required first">
	<label for="shipping_address_type">{$msg.shipping.address_type}</label>
	<div>
		<select id="shipping_address_type" name="form[address_type]">
			{if $edit_address.address_type == ''}
				<option value="">{$msg.shipping.address_type_please_select}</option>
			{/if}
			<option value="Residential" {if $edit_address.address_type == 'Resintial'}selected{/if}>{$msg.shipping.address_type_residential}</option>
			<option value="Business" {if $edit_address.address_type == 'Business'}selected{/if}>{$msg.shipping.address_type_business}</option>
		</select>
	</div>
</div>

<div class="field required">
	<label for="shipping_name">{$msg.shipping.name}</label>
	<div><input id="shipping_name" maxlength="24" type="text" name="form[name]" value="{$edit_address.name|htmlspecialchars}" /></div>
</div>

{if $FormsShippingCompany != "Invisible"}
<div class="field{if $FormsShippingCompany == "Required"} required{/if}">
	<label for="shipping_company">{$msg.shipping.company}</label>
	<div><input id="shipping_company" maxlength="36" type="text" name="form[company]" value="{$edit_address.company|htmlspecialchars}" /></div>
</div>
{else}
	<input type="hidden" name="form[company]" value="{$edit_address.company|htmlspecialchars}">
{/if}

<div class="field required">
	<label for="shipping_address_line1">{$msg.shipping.address_line1}</label>
	<div><input id="shipping_address_line1" maxlength="36" type="text" name="form[address1]" value="{$edit_address.address1|htmlspecialchars}" /></div>
</div>

{if $FormsShippingAddressLine2 != "Invisible"}
<div class="field{if $FormsShippingAddressLine2 == "Required"} required{/if}">
	<label for="shipping_address_line2">{$msg.shipping.address_line2}</label>
	<div><input id="shipping_address_line2" maxlength="36" type="text" name="form[address2]" value="{$edit_address.address2|htmlspecialchars}" /></div>
</div>
{else}
	<input type="hidden" name="form[address2]" value="{$edit_address.address2|htmlspecialchars}">
{/if}

<div class="field required">
	<label for="shipping_city">{$msg.shipping.city}</label>
	<div><input id="shipping_city" maxlength="36" type="text" name="form[city]" value="{$edit_address.city|htmlspecialchars}" /></div>
</div>

<div id="shipping_country" class="field required">
	<label for="shipping_country_select">{$msg.shipping.country}</label>
	<div>
		<select id="shipping_country_select" name="form[country]"></select>
	</div>
</div>

<div id="shipping_state" class="field field-input-states required invisible">
	<label for="shipping_state_select">{$msg.shipping.state_province}</label>
	<div>
		<select id="shipping_state_select" name="form[state]"></select>
	</div>
</div>

<div id="shipping_province" class="field field-input-provinces required invisible">
	<label for="shipping_province_input">{$msg.shipping.state_province}</label>
	<div>
		<input id="shipping_province_input" maxlength="48" type="text" name="form[province]"/>
	</div>
</div>

<div class="field field-input-zip required">
	<label for="shipping_postal_code">{$msg.shipping.postal_code}</label>
	<div>
		<input id="shipping_postal_code" maxlength="48" type="text" name="form[zip]" value="{$edit_address.zip|htmlspecialchars}" />
	</div>
</div>

{if $cf_shipping}
	{foreach from=$cf_shipping item="cfield"}
		<div class="field{if $cfield.is_required} required{/if} clearfix">
			<label>{$cfield.field_caption|htmlspecialchars}</label>
			<div>{cfield field=$cfield}</div>
		</div>
	{/foreach}
{/if}

{if $edit_address.is_primary != "Yes"}
<div class="field">
	<label for="shipping_set_primary_address">{$msg.shipping.set_primary_address}</label>
	<div><input type="checkbox" name="form[set_is_primary]" {if $edit_address.set_is_primary == "Yes"}checked="checked"{/if} value="Yes"/></div>
</div>
{else}
	<input type="hidden" name="form[set_is_primary]" value="Yes"/>
{/if}
