<form name="form-taxes_rate" class="form-address" action="admin.php?p=taxes_rate" role="form" method="post" data-auto-validate="1" autocomplete="off" enctype='multipart/form-data'>
	<input type="hidden" name="nonce" id="nonce" value="{$nonce}">
	<input type="hidden" name="mode" value="{$mode|gs}">
	{if $id}<input type="hidden" name="id" value="{$id|gs}">{/if}
	{if $zone_id}<input type="hidden" name="zone_id" value="{$zone_id|gs}">{/if}

	<div id="content-header">
		<div class="container-fluid">
			<h1 class="col-xs-6">{if $mode == 'add'}{trans key="taxes.add_tax_rate"} {else}{trans key="common.editing"} {trans key="taxes.tax_rate"}{/if} <span class="title">{$title}</span></h1>
			<div class="col-xs-6 pull-right text-right btn-toolbar">
				<a href="admin.php?p=taxes">{trans key="common.cancel"}</a>
				<button class="btn btn-primary">{trans key="common.save"}</button>
			</div>
		</div>
		<hr class="clearfix">
	</div>

	{form form=$form}
</form>

<script type="text/javascript">
	var countriesStates = {$countriesStates};
</script>

<script type="text/javascript" src="content/admin/scripts/taxes.js?v={$APP_VERSION}"></script>
