<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="taxes.taxes"}</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
			<a href="admin.php?p=taxes_rate&mode=add" class="btn btn-primary pull-right">{trans key="taxes.add_tax_rate"}</a>
			<div class="btn-group pull-right">
				<a href="#" data-target="#modal-settings" data-toggle="modal" class="btn">{trans key="taxes.advanced_settings"}</a>
				<a href="admin.php?p=taxes_classes" class="btn">{trans key="taxes.tax_classes"}</a>
			</div>
		</div>
	</div>
	<hr class="clearfix">
</div>

{if $taxrates}
	<div class="container-fluid">
		<div class="col-xs-12 col-md-6">
			<div class="btn-group">
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						{trans key="common.bulk_actions"}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#" data-toggle="modal" data-target="#modal-tax_rate-delete">{trans key="common.delete"}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="col-xs-12">
			<table class="table table-striped">
				<thead>
					<tr>
						<th style="width:50px;"><input type="checkbox" id="selectAll"></th>
						<th>{trans key="taxes.title"}</th>
						<th>{trans key="taxes.rate"}</th>
						<th>{trans key="taxes.location"}</th>
						<th>{trans key="taxes.class"}</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{foreach from=$taxrates item="rate"}
						<tr>
							<td><input type="checkbox" class="checkbox-tax_rate" name="row[{$rate.rate_id}]" value="{$rate.rate_id}"></td>
							<td><a href="admin.php?p=taxes_rate&mode=update&id={$rate.rate_id}">{$rate.rate_description|htmlspecialchars}</a></td>
							<td><a href="admin.php?p=taxes_rate&mode=update&id={$rate.rate_id}">{$rate.tax_rate|string_format:"%.2f"}%</a></td>
							<td><a href="admin.php?p=taxes_rate&mode=update&id={$rate.rate_id}">{$rate.zone_name|htmlspecialchars}</a></td>
							<td><a href="admin.php?p=taxes_rate&mode=update&id={$rate.rate_id}">{$rate.class_name|htmlspecialchars}</a></td>
							<td class="list-actions text-right">
								<a href="admin.php?p=taxes_rate&mode=update&id={$rate.rate_id}"><span class="icon icon-edit"></span>{trans key="common.edit"}</a>
								<a href="#" onclick="return Taxes.removeTaxRate({$rate.rate_id}, '{$delete_nonce}');"><span class="icon icon-delete"></span>{trans key="common.delete"}</a>
							</td>
						</tr>
					{/foreach}
				</tbody>
			</table>
			
			<div class="custom-pager">
				{if $paginator->prevPage}
					<a role="button" class="btn btn-default" href="admin.php?p=taxes&amp;page={$paginator->prevPage}"><span class="icon icon-pagination-left"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-left"></span></button>
				{/if}
	
				{if $paginator->nextPage}
					<a role="button" class="btn btn-default" href="admin.php?p=taxes&amp;page={$paginator->nextPage}"><span class="icon icon-pagination-right"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-right"></span></button>
				{/if}
	
				<span class="text">{$paginator->itemsFrom}-{$paginator->itemsTo} <span class="of">{trans key="common.of"}</span>  {$paginator->itemsCount}</span>
			</div>
		</div>
	</div>
{else}
	<div class="container-fluid">
		<div class="col-xs-12">
			{trans key="taxes.no_records"}
		</div>
	</div>
{/if}

{include file="templates/pages/taxes/modal-delete.html"}
{include file="templates/pages/taxes/modal-settings.html"}

<script type="text/javascript" src="content/admin/scripts/taxes.js?v={$APP_VERSION}"></script>

<script type="text/javascript">
	var countriesStates = {$countriesStates};
</script>