{* TODO: Errors *}
{* TODO: Dual page headers, a bit redundant, no? *}

<form name="form-admin" action="admin.php?p=profile" role="form" method="post" data-auto-validate="1" autocomplete="off" enctype="multipart/form-data" accept="image/gif, image/jpg, image/jpeg, image/png">
    <input type="hidden" name="nonce" id="nonce" value="{$nonce}">
    {* solution from http://stackoverflow.com/questions/15738259/disabling-chrome-autofill *}
    <input style="display:none" type="text" name="fakeusernameremembered"/>
    <input style="display:none" type="password" name="fakepasswordremembered"/>
    <div id="content-header">
        <div class="container-fluid">
            <h1 class="col-xs-6">{trans key='admin.profile.your_administrator_profile'}</h1>
            <div class="col-xs-6 pull-right text-right btn-toolbar">
                <a href="#">{trans key="common.cancel"}</a>
                <button class="btn btn-primary">{trans key="common.save"}</button>
            </div>
        </div>
        <hr class="clearfix">
    </div>
    {form form=$form}

	{include file="templates/pages/admin/profile/modal-generator.html"}
	
</form>
<script type="text/javascript" src="content/vendors/clipboard/clipboard.min.js?v={$APP_VERSION}"></script>
<script type="text/javascript">
    {literal}
    $(document).ready(function(){

        /* Instantiate Clipboard */
        var clipboard = new Clipboard('#copy-clipboard');
    });
    {/literal}
</script>
