<div class="modal fade" id="modal-generator" tabindex="-1" role="dialog" aria-labelledby="modal-generator-label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
				<h4 class="modal-title" id="modal-generator-label">Password Generator</h4>
			</div>
			<div class="modal-body">
				<div class="col-xs-4">
					<div class="btn-toolbar"><button type="button" id="btn-generate-password" class="btn btn-generate" >Generate Password</button></div>
				</div>
				<div class="col-xs-6 no-side-padding">
					<input id="password-generated" readonly class="form-control" type="text" value="" name="password-generated">
				</div>
				<div class="col-xs-2 no-padding-left">
					<div class="btn-toolbar">
						<button type="button" disabled class="btn btn-generate" id="copy-clipboard" data-clipboard-action="copy" data-clipboard-target="#password-generated">Copy</button>
					</div>
				</div>
				<div class="col-xs-12 text-center">
					<input type="checkbox" id="password-confirmed-copy" /> I have copied this password in a safe place.
				</div>
			</div>
			<div class="modal-footer">
				<div class="col-xs-6">
					<button type="button" id="use-password" disabled class="btn btn-primary">Use Password</button>
				</div>
				<div class="col-xs-6">
					<button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>