<div class="modal"  data-backdrop="static" data-keyboard="false" id="modal-security-profile" role="dialog" aria-labelledby="modal-security-profile-label" aria-hidden="true">
    <div class="modal-dialog">
        <form role="form" id="form-security-profile" name="form-security-profile" method="get">
            <input type="hidden" name="p" value="profile_security">
            <input type="hidden" name="id" value="{$admin_id}">
			<input type="hidden" name="__ajax" value="1">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close logout" aria-hidden="true">{trans key="admin.profile.logout"}</a>
                    <h4 class="modal-title" id="modal-security-profile-label">{trans key="admin.profile.pci_security_setup"}</h4>
                </div>
                <div class="modal-body">
					<ul class="space-bottom-6">
						{if $forceUpdatePassword && $forceUpdateQuestion}
							<li>{trans key="admin.profile.pci_change_password_and_answer_question"}</li>
							<li>{trans key="admin.profile.pci_no_previous_password"}</li>
						{elseif $forceUpdatePassword}
							<li>{trans key="admin.profile.pci_change_password"}</li>
							<li>{trans key="admin.profile.pci_no_previous_password"}</li>
						{elseif $forceUpdateQuestion}
							<li>{trans key="admin.profile.pci_answer_question"}</li>
						{/if}
					</ul>
                    {form form=$form}
                </div>
                <div class="modal-footer">
					<div class="col-xs-12">
                    	<button type="submit" class="btn btn-primary">{trans key="common.save"}</button>
					</div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="content/admin/scripts/security-profile.js?v={$APP_VERSION}"></script>