<h1 class="admin-page-header clearfix">
	<span class="icon icb-icon {$PageHeader[2]}"></span>
	<span class="text">{$PageHeader[0]}</span>
</h1>

{if $PageNote}
	<ul class="admin-page-note">
	{foreach from=$PageNote key=key item=note}
		{if (!isset($note.visible) || $note.visible)}
		<li>
			{if (isset($note.class) && $note.class != '')}<span class="icon ic-icon {$note.class}">&nbsp;</span>{/if}
			{if (isset($note.url) && $note.url != '')}
				<a href="{$note.url}">{$note.text}</a>
			{else}
				{$note.text}
			{/if}
		</li>
		{/if}
	{/foreach}
	</ul>
{/if}

{if $PageWhat}
	<div class="admin-page-what">
		What do you want to do now?
		<ul>
		{foreach from=$PageWhat item=item}
			{if (!isset($item.visible) || $item.visible)}
			<li><a href="{$item.url}">{$item.text}</a></li>
			{/if}
		{/foreach}
		</ul>
	</div>
{/if}

{if $PageNote2}
	<ul class="admin-page-note">
	{foreach from=$PageNote2 key="key" item="note"}
		{if !isset($note.visible) || $note.visible}
		<li>
			{if (isset($note.class) && $note.class != '')}<span class="icon ic-icon {$note.class}">&nbsp;</span>{/if}
			{if (isset($note.url) && $note.url != '')}
				<a href="{$note.url}">{$note.text}</a>
			{else}
				{$note.text}
			{/if}
		</li>
		{/if}
	{/foreach}
	</ul>
{/if}