{assign var="smarty_tabs_first" value=true}
<div class="clearfix admin-tabs-items">
	<ul class="clearfix">
{foreach from=$smarty_tab_items item=item}
	<li class="admin-tab{if $smarty_tabs_first} admin-tab-active{/if}" onClick="setActiveTab('{$smarty_tabs_id}', '{$item.id}')" id="admin-tab-{$item.id}"><span>{$item.title}</span></li>
{assign var="smarty_tabs_first" value=false}
{/foreach}
	</ul>
</div>
{if $smarty_active_tab != ''}
{literal}<script type="text/javascript">
	$(document).ready(function(){
{/literal}setActiveTab('{$smarty_tabs_id}', '{$smarty_active_tab|gs}')});
{literal}</script>{/literal}
{/if}