<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h4>Setting Up Your Store</h4>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<p>This guide is designed to collect the most basic information about your store and is a summary of the information we collect under the "Settings" area of the control panel. This tool does not represent all the functions available to you as a store owner and we recommend exploring the "Settings" area once you become more comfortable.</p>
		<p>To complete the guide, you will need to have the following information available:</p>
		<ul>
			<li>Store(s) location and company logo.</li>
			<li>URL’s to social media accounts</li>
			<li>Store title and description (for search engine marketing)</li>
			<li>Credentials to your payment and shipping providers, if applicable.</li>
		</ul>
	</div>
</div>