{if empty($category_level)}
	{assign var="category_level" value=1}
{else}
	{math equation="x + 1" x=$category_level assign="category_level"}
{/if}
{foreach from=$categories item="category"}
{if $category.level == $category_level && $category.is_visible == "Yes" && $category.is_stealth == 0}
	<li>
		<a href="{$category.category_url}" {if !empty($category.children)}class="parent"{/if}><span>{$category.name|htmlspecialchars}</span></a>
		{if !empty($category.children)}
			<ul>
				{assign var="categories" value=$category.children}
				{include file="templates/pages/site/elements/element-map-catalog-category.html"}
			</ul>
		{/if}
	</li>
{/if}
{/foreach}
{math equation="x - 1" x=$category_level assign="category_level"}
{assign var="category" value=0}