{if $canActivate}<form name="app-activate" method="post" action="admin.php?p=apps&action=activate&key={$appKey|gs}">{/if}
	<div id="content-header">
		<div class="container-fluid">
			<h1 class="col-xs-6">{trans key="apps.app_center"}</h1>
			<div class="col-xs-6 pull-right text-right btn-toolbar">
				<a href="admin.php?p=apps" class="">{trans key="common.cancel"}</a>
				{if $canActivate}
					<button type="submit" class="btn btn-primary app-activate">{trans key="apps.enable"}</button>
				{elseif $upgradeUrl}
					<a href="{$upgradeUrl}" target="_blank" class="btn btn-primary">{trans key="common.upgrade"}</a>
				{/if}
			</div>
		</div>
		<hr class="clearfix">
	</div>

	<div id="apps-activate" class="container-fluid">
		<div class="col-xs-12">
			<span class="icon icon-{$app.icon}"></span><h2>{$app.title|gs}</h2>
		</div>
		<div class="col-xs-12">
			{if $app.content}
				{include file=$app.content}
			{/if}
		</div>
	</div>
{if $canActivate}</form>{/if}

<div class="modal fade" id="modal-activate" tabindex="-1" role="dialog" aria-labelledby="modal-activate-label" aria-hidden="true">
	<div class="modal-dialog">
		<form name="form-app-activate" role="form" method="get" data-auto-validate="1">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-activate-label">{trans key="apps.activate"}</h4>
				</div>
				<div class="modal-body">

				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary" data-action="action-activate">{trans key="apps.activate"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<script type="text/javascript" src="content/admin/scripts/apps.js?v={$APP_VERSION}"></script>
<script type="text/javascript">
	var appKey = '{$appKey|gs}';
	var activateFormUrl = '{if $app.activateFormUrl}{$app.activateFormUrl}{/if}';
</script>