<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="apps.active_apps"}</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
			<a href="admin.php?p=apps&action=app-center" class="btn btn-primary">{trans key="apps.app_center"}</a>
		</div>
	</div>
	<hr class="clearfix">
</div>

<div id="apps-nav" class="container-fluid">
	{foreach from=$apps key="appKey" item="app"}
		<div class="app-box-wrapper col-xs-12 col-md-6 col-lg-3">
			<div class="app-box">
				<a href="admin.php?p=app&key={$appKey}">
					<span class="icon icon-{$app.icon}"></span>
					<h3 class="text-left">{$app.title|gs}</h3>
				</a>
				<div class="text-left">
					<a href="#" data-key="{$appKey}" data-title="{$app.title|gs}" class="btn app-disable">{trans key="apps.disable"}</a>
				</div>
			</div>
		</div>
	{/foreach}

<script type="text/javascript" src="content/admin/scripts/apps.js?v={$APP_VERSION}"></script>