<div class="container-fluid">
	<div class="pull-right text-right">
		<a class="btn" href="" data-role="button" data-action="action-group-feature-add" style="margin-left:5px;">Add New Product Feature</a>
		<a class="btn btn-primary" href="" data-role="button" data-action="action-group-feature-assign" style="margin-left:5px;">Assign Product Features</a>
	</div>
</div>
<div class="col-xs-12">
	<table class="table-product-group-features table table-striped">
		<thead>
			<th class="col-xs-4 col-md-5 col-lg-6">{trans key="features_groups.feature_collection_table.feature_name"}</th>
			<th class="col-xs-3">{trans key="features_groups.feature_collection_table.feature_id"}</th>
			<th class="col-xs-3 col-md-2 col-lg-1">{trans key="features_groups.feature_collection_table.priority"}</th>
			<th class="col-xs-2">&nbsp</th>
		</thead>
		<tbody></tbody>
	</table>
</div>
<div class="none-product-group-features container-fluid">
	{trans key="features_groups.no_features_groups_features"}
</div>

<script type="text/javascript"><!--
var productsFeaturesAssigned = {if $field.value}{$field.value}{else}[]{/if};
--></script>