<form name="form-feature-groups" action="admin.php?p=feature_groups" role="form" method="post" data-auto-validate="1" autocomplete="off" enctype='multipart/form-data'>
	<input type="hidden" name="nonce" id="nonce" value="{$nonce}">
	<input type="hidden" name="mode" value="{$mode|gs}">
	<input type="hidden" name="availableFeaturesCount" value="{$availableFeaturesCount}">
	{if $id}<input type="hidden" name="id" value="{$id|gs}">{/if}

	<div id="content-header">
		<div class="container-fluid">
			<h1 class="col-xs-6">
				{if $mode == 'add'}{trans key="common.add"}{else}{trans key="common.editing"}{/if} {trans key="features_groups.add_feature_groups"}
			</h1>
			<div class="col-xs-6 pull-right text-right btn-toolbar">
				<a href="admin.php?p=features_groups">{trans key="common.cancel"}</a>
				<button class="btn btn-primary">{trans key="common.save"}</button>
			</div>
		</div>
		<hr class="clearfix">
	</div>

	{form form=$form}
</form>

<script type="text/javascript" src="content/admin/scripts/products-features-groups.js?v={$APP_VERSION}"></script>

{if $mode == 'update'}
	{include file="templates/pages/product-feature-group/modal-add-features.html"}
	{include file="templates/pages/product-feature-group/modal-assign-features.html"}
	<script type="text/javascript" src="content/vendors/jquery/dualbox/dual-list-box.js?v={$APP_VERSION}"></script>
	<script type="text/javascript" src="content/admin/scripts/products-features-groups-features.js?v={$APP_VERSION}"></script>
	<script type="text/javascript"><!--
		var productsFeaturesAvailable = {if $productsFeaturesAvailable}{$productsFeaturesAvailable}{else}[]{/if};
	--></script>
{/if}
