<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="features_groups.list_page_title"}</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
			<a class="btn" href="admin.php?p=products_features">{trans key="features_groups.manage_features"}</a>
			<a href="admin.php?p=feature_groups&mode=add" class="btn btn-primary" id="btn-add-product-feature-group">Add Feature Group</a>
		</div>
	</div>
	<hr class="clearfix">
</div>
<div class="container-fluid">
	<div class="col-xs-12">
		Filtered menus allow you to create a better user experience for your customers and help them find the product(s) they are looking for.
		In order to setup a filtered menu you have to:
		<ul style="padding:5px 0px 0px 15px;">
			<li>Create a "Product Feature Group" and add "Product Features" to it</li>
			<li>Assign group(s) to the category where you want to display a "Refine by" filter</li>
			<li>Assign group(s) to the product(s) and enter values for product features</li>
		</ul>
	</div>
</div>
&nbsp;
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<form role="form" name="form-features_groups-search" id="form-features-groups-search" method="get">
				<input type="hidden" name="p" value="features_groups">
				{form form=$searchForm}
				<div class="col-xs-12">
					<button type="submit" class="btn btn-default">{trans key="common.search"}</button>
				</div>
			</form>
		</div>
	</div>
</div>
<hr />

<div class="container-fluid">
	<div class="col-xs-12 col-md-12">
		{if $featuresGroups}
			<div class="btn-group">
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						{trans key="common.bulk_actions"}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#" data-toggle="modal" data-target="#modal-features-groups-delete">{trans key="common.delete"}</a></li>
					</ul>
				</div>
			</div>
		{/if}
	</div>
</div>

{if $featuresGroups}
<div class="container-fluid">
	<div class="col-xs-12 col-md-12">
		<table class="table table-striped table-list table-list-features-groups" data-search-form="#form-features-groups-search" data-order-by-field="orderBy" data-order-dir-field="orderDir">
			<thead>
				<tr>
					<th class="column-checkbox"><input type="checkbox" id="selectAll"></th>
					<th class="text-left sortable" data-sort-field="feature_group_name">{trans key="features_groups.feature_groups_table.family_name"}</th>
					<th class="col-sm-3 text-left sortable" data-sort-field="feature_group_id">{trans key="features_groups.feature_groups_table.family_id"}</th>
					<th class="col-sm-1 text-left sortable" data-sort-field="feature_group_active">{trans key="features_groups.feature_groups_table.active"}</th>
					<th class="col-sm-2"></th>
				</tr>
			</thead>
			<tbody>
			{foreach from=$featuresGroups item="feature_groups"}
				<tr>
					<td><input type="checkbox" class="checkbox-group-feature" name="row[{$feature_groups.product_feature_group_id}]" value="{$feature_groups.product_feature_group_id}"></td>
					<td><a href="admin.php?p=feature_groups&mode=update&id={$feature_groups.product_feature_group_id}">{$feature_groups.feature_group_name|htmlspecialchars}</a></td>
					<td><a href="admin.php?p=feature_groups&mode=update&id={$feature_groups.product_feature_group_id}">{$feature_groups.feature_group_id|htmlspecialchars}</a></td>
					<td>{$feature_groups.feature_group_status}</td>
					<td class="list-actions text-right">
						<a href="admin.php?p=feature_groups&mode=update&id={$feature_groups.product_feature_group_id}"><span class="icon icon-edit"></span>{trans key="common.edit"}</a>
						<a href="#" onclick="return ProductsFeaturesGroups.removeFeatureGroup({$feature_groups.product_feature_group_id}, '{$delete_nonce}');"><span class="icon icon-delete"></span>{trans key="common.delete"}</a>
					</td>
				</tr>
			{/foreach}
			</tbody>
		</table>
		<div class="custom-pager">
			{if $paginator->prevPage}
			<a role="button" class="btn btn-default" href="admin.php?p=features_groups&amp;page={$paginator->prevPage}"><span class="icon icon-pagination-left"></span></a>
			{else}
			<button disabled class="btn btn-default"><span class="icon icon-pagination-left"></span></button>
			{/if}

			{if $paginator->nextPage}
			<a role="button" class="btn btn-default" href="admin.php?p=features_groups&amp;page={$paginator->nextPage}"><span class="icon icon-pagination-right"></span></a>
			{else}
			<button disabled class="btn btn-default"><span class="icon icon-pagination-right"></span></button>
			{/if}

			<span class="text">{$paginator->itemsFrom}-{$paginator->itemsTo} <span class="of">{trans key="common.of"}</span>  {$paginator->itemsCount}</span>
		</div>
	</div>
</div>
{else}
	<div class="container-fluid">
		<div class="col-xs-12">
			{trans key="features_groups.no_features_groups"}
		</div>
	</div>
{/if}

{include file="templates/pages/product-feature-group/modal-delete.html"}
<script type="text/javascript" src="content/admin/scripts/products-features-groups.js?v={$APP_VERSION}"></script>