<div class="modal fade" id="modal-features-groups-delete" tabindex="-1" role="dialog" aria-labelledby="modal-features-groups-delete-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-features-groups-delete">
			<input type="hidden" name="nonce" value="{$delete_nonce}">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-features-groups-delete-label">{trans key="features_groups.delete_features_groups"}</h4>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<div class="col-xs-12">
							<p>{trans key="features_groups.confirm_remove_feature_group"}</p>
						</div>
					</div>
					<div class="form-group col-xs-12">
						<label><input type="radio" name="form-features-groups-delete-mode" value="selected" checked> {trans key="features_groups.delete_selected"}</label>
						<label><input type="radio" name="form-features-groups-delete-mode" value="search"> {trans key="features_groups.delete_all_family_from_search"} ({trans key="features_groups.all_found"} {$itemsCount})</label>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="button" nonce="{$delete_nonce}" class="btn btn-primary" data-action="action-features-groups-delete">{trans key="common.delete"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>