<div class="modal fade" id="modal-feature-group-features-add" tabindex="-1" role="dialog" aria-labelledby="modal-feature-group-features-add-label" aria-hidden="true">
	<div class="modal-dialog">

		<form method="post" role="form" name="form-feature-group-features-add">
			<input type="hidden" name="field-product_feature_group_id" id="field-product_feature_group_id" value="{$id}">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-feature-group-features-add-label">Add {trans key="products_features.add_feature"}</h4>
				</div>
				<div class="modal-body">
					{form form=$productFeatureForm}
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary" data-action="modal-active">{trans key="common.save_changes"}</button>
					</div>
				</div>
			</div>
		</form>

	</div>
</div>
