<div class="modal fade" id="modal-feature-group-features" tabindex="-1" role="dialog" aria-labelledby="modal-feature-group-features-label" aria-hidden="true">
	<div class="modal-dialog">
		<form method="post" role="form" name="form-feature-group-features">
			<input type="hidden" name="field-product_feature_group_id" id="field-product_feature_group_id" value="{$id}">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-feature-group-features-label">{trans key="features_groups.assign_product_features"}</h4>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<div class="col-xs-12">
							<p>{trans key="products_features.feature_form_text"}</p>
						</div>
					</div>
					<div class="clearfix col-xs-12">
						<div class="form-group">
							<select id="select-products-features-group-features" multiple="multiple" name="copy[selected-fields][]"></select>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary" data-action="modal-active">{trans key="common.save_changes"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
