<div id="content-header">
	<div class="container-fluid">
		<h1 class="col-xs-6">{trans key="taxes.taxes_classes"}</h1>
		<div class="col-xs-6 pull-right text-right btn-toolbar">
			<a href="#" data-target="#modal-add-tax-class" data-toggle="modal" class="btn btn-primary pull-right">{trans key="taxes.add_tax_class"}</a>
			<div class="btn-group pull-right">
				<a class="btn" href="admin.php?p=taxes">{trans key="common.cancel"}</a>
			</div>
		</div>
	</div>
	<hr class="clearfix">
</div>

{if $taxclasses}
	<div class="container-fluid">
		<div class="col-xs-12 col-md-6">
			<div class="btn-group">
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						{trans key="common.bulk_actions"}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#" data-toggle="modal" data-target="#modal-taxclasses-delete">{trans key="common.delete"}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="col-xs-12">
			<table class="table table-striped">
				<thead>
					<tr>
						<th style="width:50px;"><input type="checkbox" id="selectAll"></th>
						<th>{trans key="taxes.title"}</th>
						<th>{trans key="taxes.key_id"}</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{foreach from=$taxclasses item="class"}
						<tr>
							<td><input type="checkbox" class="checkbox-taxclasses" name="row[{$class.class_id}]" value="{$class.class_id}"></td>
							<td><a href="#" onclick="return Taxes.editTaxClass({$class.class_id});">{$class.class_name|htmlspecialchars}</a></td>
							<td><a href="#" onclick="return Taxes.editTaxClass({$class.class_id});">{$class.key_name|htmlspecialchars}</a></td>
							<td class="list-actions text-right">
								<a href="#" onclick="return Taxes.editTaxClass({$class.class_id});"><span class="icon icon-edit"></span>{trans key="common.edit"}</a>
								<a href="#" onclick="return Taxes.removeTaxClass({$class.class_id}, '{$delete_nonce}');"><span class="icon icon-delete"></span>{trans key="common.delete"}</a>
							</td>
						</tr>
					{/foreach}
				</tbody>
			</table>
			<div class="custom-pager">
				{if $paginator->prevPage}
					<a role="button" class="btn btn-default" href="admin.php?p=taxes_classes&amp;page={$paginator->prevPage}"><span class="icon icon-pagination-left"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-left"></span></button>
				{/if}

				{if $paginator->nextPage}
					<a role="button" class="btn btn-default" href="admin.php?p=taxes_classes&amp;page={$paginator->nextPage}"><span class="icon icon-pagination-right"></span></a>
				{else}
					<button disabled class="btn btn-default"><span class="icon icon-pagination-right"></span></button>
				{/if}

				<span class="text">{$paginator->itemsFrom}-{$paginator->itemsTo} <span class="of">{trans key="common.of"}</span>  {$paginator->itemsCount}</span>
			</div>
		</div>
	</div>
{else}
	<div class="container-fluid">
		<div class="col-xs-12">
			{trans key="taxes.no_records"}
		</div>
	</div>
{/if}

{include file="templates/pages/taxes/classes/modal-delete.html"}
{include file="templates/pages/taxes/classes/modal-add.html"}
<div id="tax-class-edit-wrapper"></div>

<script type="text/javascript" src="content/admin/scripts/taxes.js?v={$APP_VERSION}"></script>