<div class="modal fade" id="modal-edit-tax-class" tabindex="-1" role="dialog" aria-labelledby="modal-edit-tax-class-label" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form" name="form-edit-tax-class" action="admin.php?p=taxes_class" method="post">
			<input type="hidden" name="nonce" id="nonce" value="{$updateNonce}">
			<input type="hidden" name="mode" value="update">
			{if $id}<input type="hidden" name="id" value="{$id|gs}">{/if}

			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-edit-tax-class-label">{trans key="common.editing"} {trans key="taxes.tax_rate"} <span class="title">{$title}</span></h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						{form form=$taxClassForm}
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary" data-action="action-save-tax-class">{trans key="common.save"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
