<h3 style="margin:0px 0px 10px 0px;padding:0px;">{trans key="apps.facebook.app_desc1"}</h3>
<p>{trans key="apps.facebook.app_desc2"}</p>

<h3 style="margin:40px 0px 10px 0px;padding:0px;">{trans key="apps.facebook.app_desc3"}</h3>
<p>{trans key="apps.facebook.app_desc4"} <a href="http://developers.facebook.com/setup" target="_blank">http://developers.facebook.com/setup</a>.</p>
