<div class="page-wishlist-manage wrap {class file=$smarty.template editable=true}">
<h1>{$msg.wishlist.pageHeader}</h1>
{if $display_mode == "manage_wishlist" && $wish_lists}
<table>
	<thead>
		<tr>
			<td width="70%"><span>{$msg.wishlist.name}</span></td>
			<td width="15%">&nbsp;</td>
			<td width="15%">&nbsp;</td>
		</tr>
	</thead>
	<tr valign="top">
		<td colspan="4">
			<a href="{$url_https}p=manage_wishlist&wl_action=add_wishlist"><b>{$msg.wishlist.addnewLink}</b></a>
		</td>
	</tr>
	{assign var="productCount" value=0}
	{foreach from=$wish_lists item="wish_lt"}
	<tr valign="top">
		<td>
		<a href="{$url_https}p=manage_wishlist&wl_action=edit_wishlist&wlid={$wish_lt.wlid}">{$wish_lt.name}</a></td>
		<td>
			<a href="{$url_https}oa={$ORDER_WISHLIST_TO_CART}&wlid={$wish_lt.wlid}">{$msg.wishlist.addToCart}</a></td>
		<td>		
			<a href="javascript:ConfirmDeleteWishlist('{$wish_lt.wlid}')">{$msg.wishlist.deleteWishlist}</a>		
		</td>
	</tr>
		{assign var="productCount" value=$productCount+1}
	{/foreach}
</table>

{elseif $display_mode == "edit_wishlist"}
	{if $wishlist_data}
		{if !$is_print_version}
			<form name="frmAddWishlist" action="{$url_https}p=manage_wishlist" method="post" onsubmit="return CheckWishlistName(this);">
				<input type="hidden" name="wl_action" value="update_name" />
				<input type="hidden" name="wlid" value="{$wishlist_data.wlid}" />
				<table>
					<tr>
						<td>{$msg.wishlist.name}: </td>
						<td>&nbsp;</td>
						<td>
							<input type="text" name="wishlist_name" value="{$wishlist_data.name}" />
						</td>	
						<td>&nbsp;</td>	
						<td>
							{button class="button-update-wishlist" text=$msg.buttons.buttonUpdateWishlist file=$smarty.template}
						</td>
					</tr>
				</table>
			</form>
		{/if}
		<table>
			<tr>	
				<td width="15%">&nbsp;</td>
				<td width="40%"><b>{$msg.wishlist.productList}</b></td>
				<td width="15%"><b>Price</b></td>
				<td width="15%">&nbsp;</td>
				<td width="15%">&nbsp;</td>
			</tr>
		{assign var="productCount" value=0}
			{foreach from=$wishlist_data.wishlist_products item="product"}
			<tr valign="top">		
				<td> 
		        <a href="{$product.url}">
				{if $product.thumb}
					<img src="{$product.thumb}" {if $product.image_location == "Web"}width="{$CatalogThumbSize}"{/if} style="border:0px;"  alt="{$product.title|htmlspecialchars}" title="{$product.title|htmlspecialchars}"/>
				{else}
					{assign var="imageId" value="image-no-image-small"}
					{if $designImages.$imageId}
						<img class="image-no-image-small {class file=$smarty.template editable=true}" src="{$designImages.$imageId.content}" alt="{$msg.images.imageNoImageSmall|htmlspecialchars}"/>
					{else}
						{$msg.images.imageNoImageSmall|htmlspecialchars}
					{/if}
				{/if}</a>
			
				</td>
				<td>
					<a href="{$product.url}">{$product.title} </a> {if $product.attributes} <br />{$product.attributes}{/if}</td>
				<td>&nbsp;{$product.price|price}</td>
				<td>
					{if $product.out_of_stock == "No" || !$product.out_of_stock}			
						<a href="{$url_https}oa={$ORDER_WISHLIST_TO_CART}&wlpid={$product.wlpid}">{$msg.wishlist.addToCart}</a>
					{elseif $product.out_of_stock == "Yes"}
						{$msg.catalog.out_of_stock}
					{/if}	
				</td>
				<td>		
					<a href="javascript:ConfirmDeleteWishlistProduct('{$product.wlpid}')">{$msg.wishlist.deleteWishlist}</a>			
				</td>
			</tr>
				{assign var="productCount" value=$productCount+1}
			{/foreach}
			<tr>	
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>
					<a href="{$url_https}oa={$ORDER_WISHLIST_TO_CART}&wlid={$wishlist_data.wlid}">{$msg.wishlist.addToCart}</a>
				</td>
				<td>
					<a href="{$url_https}p=manage_wishlist&wl_action=send_email_form&wlid={$wishlist_data.wlid}">{$msg.wishlist.sendEmail}</a>
				</td>
				<td>
					<a href="javascript:showPrinterPage('{$url_https}p=manage_wishlist&wl_action=edit_wishlist&wlid={$wishlist_data.wlid}&is_print_version=true')">{$msg.wishlist.printWishlist}</a>		
				</td>
			</tr>
		</table>
	{/if}
{elseif $display_mode == "send_email_form"}
	<form name="frmAddWishlist" action="{$url_https}p=manage_wishlist" method="post" onsubmit="return CheckWishlistEmailFrm(this);">
		<input type="hidden" name="wl_action" value="send_email"/>	
		<input type="hidden" name="wlid" value="{$wlid|htmlspecialchars}"/>
		<table cellpadding="0" cellspacing="0" border="0">
			<tr> 
				<td>&nbsp;</td>
				<td>
					{$msg.wishlist.mailSubject}:<br />
					<input maxlength="64" type="text" style="width:130px;" name="mail_subject"/>
				</td>
				<td>&nbsp;</td>
				<td>
					{$msg.wishlist.yourEmail}:<br /> 
					<input maxlength="64" type="text" style="width:130px;" name="your_email"/>
				</td>
			</tr>
			<tr>
				<td colspan="4" height="70" align="center">
					{button class="button-send-wishlist" text=$msg.buttons.buttonSendWishlist file=$smarty.template}			
				</td>
			</tr>
		</table>
	</form>

{elseif $display_mode == "add_wishlist"}
	<form name="frmAddWishlist" action="{$url_https}" method="post" onsubmit="return CheckWishlistName(this);">
		<input type="hidden" name="wl_action" value="addnew_wishlist"/>	
		<input type="hidden" name="pid" value="{$pid|htmlspecialchars}"/>	
		<input type="hidden" name="ua" value="{$USER_ADD_TO_WISHLIST}"/>
		<table cellpadding="0" cellspacing="0" border="0">
			<tr>
				<td>&nbsp;</td>
				<td colspan="3" height="30">
					{$msg.wishlist.name}
				</td>
			</tr>	
			<tr>
				<td>&nbsp;</td>		
				<td><input type="text" name="wishlist_name" value="" />	</td>
				<td>&nbsp;</td>				
				<td>
					{button class="button-add-wishlist" text=$msg.buttons.buttonAddWishlist file=$smarty.template}
				</td>
			</tr>
		</table>
	</form>
{else}

	<table cellpadding="0" cellspacing="0" border="0">
	{if $wl_message}
		<tr>
			<td colspan="4"><blockquote>{$wl_message}</blockquote></td>
		</tr>
	
	{else}
		<tr>
			<td>&nbsp;</td>
			<td colspan="3">{$msg.wishlist.noWishlist}</td>
		</tr>
		<form name="frmAddWishlist" action="{$url_https}" method="post" onsubmit="return CheckWishlistName(this);">
			<input type="hidden" name="wl_action" value="addnew_wishlist"/>	
			<input type="hidden" name="pid" value="{$pid|htmlspecialchars}"/>	
			<input type="hidden" name="ua" value="{$USER_ADD_TO_WISHLIST}"/>	
		<tr>
			<td>&nbsp;</td>
			<td colspan="3">
				{$msg.wishlist.name}
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>
			<input type="text" name="wishlist_name" value="" />
			</td>
			<td>&nbsp;</td>
			<td>
				{button class="button-add-wishlist" text=$msg.buttons.buttonAddWishlist file=$smarty.template}
			</td>
		</tr>
		</form>
	{/if}
	</table>
{/if}
</div>