<div class="page-wishlist wrap {class file=$smarty.template editable=true}">
<h1>{$msg.wishlist.pageHeader}</h1>
{if $wishlist_messgae != ""}	
	<div class="msg-notice spacer clearfix">
	{if $display_mode == "updated_wishlist"}
	
		{$wishlist_messgae|htmlspecialchars}
		<ul class="list">
			<li>{lang msg=$msg.wishlist.returnToProductPage upl=$url_rel pid=$pid}</li>
		</ul>
	{else}
		{$wishlist_messgae|htmlspecialchars}
	{/if}	
	</div>
{/if}


{if $display_mode == "select_wishlist"}
	<p>{$msg.wishlist.selectWishlist}</p>
	<form name="frmSelectWishlist" action="{$url_https}" method="post">
			<input type="hidden" name="wl_action" value="update_wishlist" />
			<input type="hidden" name="pid" value="{$pid|htmlspecialchars}" />
			<input type="hidden" name="ua" value="{$USER_ADD_TO_WISHLIST}" />
	<table>
	{foreach from=$wish_lists item="wish_list"}
		<tr>
			<td>&nbsp;</td>
			<td>
				<input type="radio" name="wlid" value="{$wish_list.wlid}" onclick="submit();"/>
			</td>
			<td>&nbsp;</td>
			<td>{$wish_list.name}</td>
		</tr>
	{/foreach}
	</table>
	</form>
{/if}
{if $display_mode == "addnew_wishlist"}
	<form name="frmAddWishlist" action="{$url_https}" method="post" onsubmit="return CheckWishlistName(this);">
			<input type="hidden" name="wl_action" value="addnew_wishlist" />
			<input type="hidden" name="pid" value="{$pid|htmlspecialchars}" />
			<input type="hidden" name="ua" value="{$USER_ADD_TO_WISHLIST}" />
	<table>
		<tr>
			<td>&nbsp;</td>
			<td colspan="3" height="20">
				{$msg.wishlist.name}
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>
				<input type="text" name="wishlist_name" value="" />
			</td>
			<td>&nbsp;</td>
			<td>
				{button class="button-add-wishlist" text=$msg.buttons.buttonAddWishlist file=$smarty.template}
			</td>
		</tr>
	</table>
	</form>
{/if}
{if $display_mode == "user_error"}
	<p class="msg-error">{$msg.wishlist.userError}</p>
{/if}
</div>