<div id="design-dashboard-show">
	<div class="design-dashboard-tabs ui-tabs ui-widget ui-widget-content">
		<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header">
			<li class="ui-state-default ui-corner-top"><a href="#">Show</a></li>
		</ul>
	</div>
</div>
<div id="design-dashboard">
	<div class="design-dashboard-tabs" style="min-width:650px;">
		<ul id="design-dashboard-tabs-ul">
			<li><a href="#design-dashboard-images">Edit Theme</a></li>
			<li><a href="#design-dashboard-boxes">Widgets</a></li>
			<li><a href="#design-dashboard-skins">Themes</a></li>
			<li><a href="#design-dashboard-layout">Settings</a></li>
			<li><a href="#design-dashboard-tools">Advanced Tools</a></li>
			<li id="design-dashboard-tab-hide"><a href="#design-dashboard-hide">Hide</a></li>
			<li id="design-dashboard-tab-exit"><a href="#design-dashboard-exit">Exit</a></li>
			<li id="design-dashboard-tab-save"><a href="#design-dashboard-save">Save</a></li>
		</ul>
		<div id="design-dashboard-boxes" class="clearfix">
			<table cellpadding="0" cellspacing="0" border="0" width="100%">
				<tr valign="top">
					<td style="width:244px;border-right:1px solid #dddddd;">
						<ul>
							<li class="button" style="padding-left:0px;width:118px;">
								<div style="float:left;padding:1px;padding-left:4px;width:16px;"><input id="design-dashboard-toggle-left-zone" value="left" type="checkbox" style="margin:0px;height:0px;width:13px;height:13px;"/></div>
								<div style="float:left;width:90px;"><label for="design-dashboard-toggle-left-zone">Show left column</label></div>
							</li>
							<li class="button" style="padding-left:0px;width:115px;">
								<div style="float:left;padding:1px;padding-left:4px;width:16px;"><input id="design-dashboard-toggle-right-zone" value="right" type="checkbox"  style="margin:0px;height:0px;width:13px;height:13px;"/></div>
								<div style="float:left;width:90px;"><label for="design-dashboard-toggle-right-zone">Show right col.</label></div>
							</li>
						</ul>
					</td>
					<td style="border-left:1px solid #888888;padding-left:4px;">
						<ul class="design-dashboard-buttons design-dashboard-panels">
							<li id="design-dashboard-create-new-panel" class="button button-panel-add"><a href="#">Create New Widget</a></li>
							{foreach from=$toolbar key="element_type" item="elements"}
								{foreach from=$elements item='element'}
									<li class="button button-panel panel draggable new-element {$element.id}">{$element.title|truncate:50}</li>
								{/foreach}
							{/foreach}
						</ul>
					</td>
				</tr>
			</table>
		</div>
		<div id="design-dashboard-images" class="clearfix">
			<ul class="design-dashboard-buttons">
				<li id="design-dashboard-images-editor-images" class="button button-images"><a href="#">Edit Site Images</a></li>
				{**<li id="design-dashboard-images-editor-buttons" class="button button-buttons"><a href="#">Edit Site Buttons</a></li>**}
				{**<li id="design-dashboard-images-editor-headers" class="button button-headers"><a href="#">Edit Site Headers</a></li>**}
				<li id="design-dashboard-colors-editor" class="button button-color2"><a href="#">Edit Site Colors</a></li>
				<li id="design-dashboard-fonts-editor" class="button button-font"><a href="#">Edit Site Fonts</a></li>
			</ul>

			<div style="display:none;">
				Site theme:
				<select id="design-site-theme" name="design-site-theme">
					{foreach from=$designSkinThemes key="skinThemeId" item="skinThemeName"}
					<option value="{$skinThemeId|htmlspecialchars}" {if $DesignSkinTheme == $skinThemeId}selected="true"{/if}>{$skinThemeName|htmlspecialchars}</option>
					{/foreach}
				</select>
			</div>
		</div>
		<div id="design-dashboard-skins" class="clearfix">
			<div class="skin-container">
				<div class="skin-container-scroller clearfix" style="width:50000px;">
					<div class="skin-container-wrap clearfix" style="float:left;">
						<div class="themes-area">
							<ul class="themes"></ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="design-dashboard-layout" class="clearfix">
			<table cellpadding="0" cellspacing="0" border="0" width="100%">
				<tr valign="top">
					<td>
						<ul class="design-dashboard-buttons">
							<li id="design-dashboard-layout-catalog-settings" class="button button-catalog"><a href="#">Catalog Settings</a></li>
							<li id="design-dashboard-layout-product-settings" class="button button-product"><a href="#">Product Page</a></li>
						</ul>
					</td>
				</tr>
			</table>
		</div>
		<div id="design-dashboard-tools" class="clearfix">
			<ul class="design-dashboard-buttons">
				<li id="design-dashboard-styles-editor" class="button button-css"><a href="#">Styles editor</a></li>
				<li id="design-dashboard-restore-layout" class="button button-restore-layout"><a href="#">Restore layout</a></li>
				<li id="design-dashboard-restore-skin" class="button button-restore-skin"><a href="#">Restore theme</a></li>
				<li id="design-dashboard-clear-skin-cache" class="button button-clear-skin-cache"><a href="#">Refresh theme</a></li>
				<li id="design-dashboard-edit-custom-css" class="button button-restore-skin"><a href="#">Edit custom css</a></li>
			</ul>
		</div>
		<div id="design-dashboard-hide">&nbsp;</div>
		<div id="design-dashboard-exit">&nbsp;</div>
		<div id="design-dashboard-help">&nbsp;</div>
		<div id="design-dashboard-save">&nbsp;</div>
	</div>
</div>
