<script type="text/javascript">
{literal}
var timerLogout;
var timerLogoutActive = true;
var logoutCountdown = 60;
var logoutCountdownInterval = null;

function autoLogoutPopup()
{
	if (timerLogoutActive)
	{
		logoutCountdown = 60;
		$('#spanLogoutCountdown').html(logoutCountdown--);

		$('#divAutoLogout').dialog({
			width:400,
			height:180,
			autoOpen: true,
			dialogClass: 'auto-logout design-mode',
			closeOnEscape: false,
			modal: true,
			resizable: false,
			open: function(){
				$('.auto-logout .ui-dialog-titlebar').hide();
				$('.auto-logout').css({'height':'172px'});
			}
		});

		logoutCountdownInterval = setInterval("autoLogoutCountdown()", 1000);
		clearTimeout(timerLogout);
	}
}

function autoLogoutCountdown()
{
	$('#spanLogoutCountdown').html(logoutCountdown--);
	if (logoutCountdown==-1) logOut();
}

function logOut()
{
	$.post(site_ajax_url_admin+'/login.php', {
		'action': 'logout'
	}, function(){
		// redirect the user to login page
		window.location = site_ajax_url_admin+'/login.php';
	});
}

function setLogoutTimeout()
{
	if (timerLogoutActive)
	{
		timerLogout = setTimeout("autoLogoutPopup()", 14*60*1000);
	}
}

function resetLogoutTimeout()
{
	clearTimeout(timerLogout);
	setLogoutTimeout();
}

function confirmLogout()
{
	if (confirm("Do you really want to logout?"))
	{
		logOut();
	}
}

$(document).ready(function(){
	
	$("#buttonAutoLogoutNow").click(function(){
		logOut();
	});
	$("#buttonAutoLogoutCancel").click(function(){
		clearInterval(logoutCountdownInterval);
		resetLogoutTimeout();
		$('#divAutoLogout').dialog('close');
	});
	
	$("body").click(resetLogoutTimeout);
	$("body").scroll(resetLogoutTimeout);
	$("body").keypress(resetLogoutTimeout);
	$("body").mousemove(resetLogoutTimeout);
	resetLogoutTimeout();
	
	//reset server session every 10 minutes
	setInterval("$.getJSON('"+site_ajax_url_admin+"/admin.php?chart=1', function(){});", 60 * 10 * 1000);
});
{/literal}
</script>

<div id="divAutoLogout" class="hidden" style="display:none; width:100%;z-index:9999;">
	<div style="width:100%;">
		<div style="text-align:center;font-size:18px;padding:20px 0px 10px 0px;font-weight:bold;color:black;">Your session expires in <span id="spanLogoutCountdown">xx</span> seconds</div>
		<div style="text-align:center;padding:15px;">
			<input type="button" id="buttonAutoLogoutNow" style="padding:5px 7px;" value="Logout now"/> &nbsp;
			<input type="button" id="buttonAutoLogoutCancel" style="padding:5px 7px;" value="Keep me logged in"/>
		</div>
	</div>
</div>