<div id="page-preview" class="invisible">
<div class="page page-preview" style="overflow:auto;width:400px;height:300px;">
	<div class="site-container">
		<div class="container-header container clearfix">
			<div class="{$LayoutSiteWidth} container-wrap clearfix">
				{include file="templates/layouts/zones/header.html"}
			</div>
		</div>
		<div class="container-navigation container clearfix">
			<div class="{$LayoutSiteWidth} container-wrap clearfix">
				{include file="templates/layouts/zones/navigation.html"}
			</div>
		</div>
		<div class="container-menu container clearfix">
			<div class="{$LayoutSiteWidth} container-wrap clearfix">
				<div class="layout-zone-menu layout-zone col-wrap clearfix">
					<ul class="drop-down-menu">
						<li><a href="#" class="drop-down-menu-item">Item 1</a></li>
						<li><a href="#" class="drop-down-menu-item drop-down-menu-item-hover">Item 2</a></li>
						<li><a href="#" class="drop-down-menu-item">Item 3</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container-main container clearfix">
			<div class="{$LayoutSiteWidth} container-wrap clearfix">
				<div>
					<div class="layout-zone-left layout-zone">
						<div class="panel clearfix">
							<h4 class="title">Default Panel</h4>
							<div class="content">
								Some panel content
								<a href="#">link</a>
							</div>
						</div>
						<div class="panel-account-profile panel clearfix">
							<h4 class="title">Panel Header</h4>
							<div class="content">
								Some panel content
								<a href="#">link</a>
							</div>
						</div>
						<div class="panel-catalog-bestsellers panel clearfix">
							<h4 class="title">Panel Header</h4>
							<div class="content">
								Some panel content
								<a href="#">link</a>
							</div>
						</div>
						<div class="panel-catalog-categories panel clearfix">
							<h4 class="title">Panel Header</h4>
							<div class="content">
								<ul class="drop-down-menu">
									<li><a href="#" class="drop-down-menu-item">Item 1</a></li>
									<li><a href="#" class="drop-down-menu-item drop-down-menu-item-hover">Item 2</a></li>
									<li><a href="#" class="drop-down-menu-item">Item 3</a></li>
								</ul>
							</div>
						</div>
						<div class="panel-catalog-manufacturers panel clearfix">
							<h4 class="title">Panel Header</h4>
							<div class="content">
								Some panel content
								<a href="#">link</a>
							</div>
						</div>
						<div class="panel-catalog-others-bought panel clearfix">
							<h4 class="title">Panel Header</h4>
							<div class="content">
								Some panel content
								<a href="#">link</a>
							</div>
						</div>
						<div class="panel-catalog-recent panel clearfix">
							<h4 class="title">Panel Header</h4>
							<div class="content">
								Some panel content
								<a href="#">link</a>
							</div>
						</div>
						<div class="panel-catalog-search panel clearfix">
							<h4 class="title">Panel Header</h4>
							<div class="content">
								Some panel content
								<a href="#">link</a>
							</div>
						</div>
						<div class="panel-checkout-cart panel clearfix">
							<h4 class="title">Panel Header</h4>
							<div class="content">
								Some panel content
								<a href="#">link</a>
							</div>
						</div>
						<div class="panel-checkout panel clearfix">
							<h4 class="title">Panel Header</h4>
							<div class="content">
								Some panel content
								<a href="#">link</a>
							</div>
						</div>
						<div class="panel-newsletters-subscribe panel clearfix">
							<h4 class="title">Panel Header</h4>
							<div class="content">
								Some panel content
								<a href="#">link</a>
							</div>
						</div>
					</div>
					<div class="layout-zone-right layout-zone">
						<div class="panel-catalog-search panel clearfix">
							<h4>Panel Header</h4>
							<div class="content">
								Some panel content
							</div>
						</div>
					</div>
					
					<div class="layout-zone-content layout-zone clearfix">
						<div class="page-preview wrap clearfix">
							<div class="page-catalog">
								<div class="catalog-bread-crumbs">Some text <a href="#">Link</a></div>
								<div class="catalog-navigation">Some text <a href="#">Link</a></div>
								<h5 class="catalog-product-title">Some text <a href="#">Link</a></h5>
								<div class="catalog-product-price"><div class="price"><span class="price-label">Price:</span> <span class="price-amount">$10.00</span></div></div>
								<div class="catalog-product-sale-price"><div class="price"><span class="sale-price-label">Sale Price:</span> <span class="sale-price-amount">$5.00</span></div></div>
								<div class="catalog-product-overview">Overview</div>
							</div>
							<div class="page-product">
								<div class="product-bread-crumbs">Some text <a href="#">Link</a></div>
								<div class="product-title">Some text <a href="#">Link</a></div>
								<div class="product-id">ID</div>
								<div class="product-hot-deal">Product hot deal</div>
								<div class="product-price"><div class="product-price"><span class="price-label">Price:</span><span class="price-amount">$10.00</span></div></div>
								<div class="product-price"><div class="product-price"><span class="sale-price-label">Sale Price:</span><span class="sale-price-amount">$5.00</span></div></div>
								<div class="product-overview">Overview</div>
								<div class="product-description">Description</div>
							</div>
							<h1>Preview page</h1>
							<a href="#">Some link</a>
							<div class="fieldset">
								<h3>Form Header</h3>
								<div class="field">
									<label>Nor required</label>
									<div><input/></div>
								</div>
								<div class="field required">
									<label>Required</label>
									<div><input/>
										<div class="hint">
											Hint
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-footer container clearfix">
			<div class="{$LayoutSiteWidth} container-wrap clearfix">
				{include file="templates/layouts/zones/footer.html"}
			</div>
		</div>
	</div>
</div>
</div>