<div id="design-dialog-save-changes">
	<div class="design-dialog-content-wrap design-dialog-save-changes">
		Please select which area you would like this change to apply:<br/><br/>
		<fieldset>
			<legend>Set current layout for</legend>
			<ul>
				<li>
					<input id="design-set-current" name="saveLayoutScope" value="current" type="radio" checked="checked"/>
					<label for="design-set-current">Current Page Only</label>
				</li>
				<li>
					<input id="design-set-all" name="saveLayoutScope" value="all" type="radio"/>
					<label for="design-set-all">All Pages</label>
				</li>
				<li>
					<input id="design-set-selected" name="saveLayoutScope" value="selected" type="radio"/>
					<label for="design-set-selected">Selected Pages</label>
					<ul id="design-set-selected-options">
						<li>
							<input id="design-save-opt-site" name="saveLayoutSelected" value="site" type="checkbox"/>
							<label for="design-save-opt-site"><strong>Site Pages</strong> (home, site map, etc)</label>
						</li>
						<li>
							<input id="design-save-opt-catalog" name="saveLayoutSelected" value="catalog" type="checkbox"/>
							<label for="design-save-opt-catalog"><strong>Catalog &amp; Product Pages</strong></label>
						</li>
						<li>
							<input id="design-save-opt-account" name="saveLayoutSelected" value="account" type="checkbox"/>
							<label for="design-save-opt-account"><strong>Account Pages</strong> (login, sign up, profile, etc)</label>
						</li>
						<li>
							<input id="design-save-opt-checkout" name="saveLayoutSelected" value="checkout" type="checkbox"/>
							<label for="design-save-opt-checkout"><strong>Checkout Pages</strong> (cart, payment, one page checkout, etc)</label>
						</li>
						<li>
							<input id="design-save-opt-other" name="saveLayoutSelected" value="other" type="checkbox"/>
							<label for="design-save-opt-other"><strong>Other Pages</strong> (gift certificate, wishlist, newsletters, etc)</label>
						</li>
					</ul>
				</li>
				<!--
				<li>
					<input id="design-set-none" name="saveLayoutScope" value="none" type="radio"/>
					<label for="design-set-none">Do not save these changes</label>
				</li>
				-->
			</ul>
		</fieldset>
	</div>
</div>