<ul id="design-context-menu" class="contextMenu">
	<li><a href="#edit-element-css"><span class="ui-icon ui-icon-gear"></span>Edit Visual Properties</a></li>
	<li><a href="#edit-element-html-wysiwyg" id="design-context-menu-wysiwyg-action"><span class="ui-icon ui-icon-pencil"></span>WYSIWYG Editor</a></li>
	<li><a href="#edit-element-html"><span class="ui-icon ui-icon-folder-open"></span>Edit Source Code</a></li>
	<li><a href="#remove-element" id="design-context-menu-remove-action"><span class="ui-icon ui-icon-trash"></span>Remove</a></li>
</ul>