<div id="design-dialog-new-element">
	<div class="design-dialog-content-wrap">
		<div class="field">
			<label for="design-dialog-new-element-title">Widget Title</label>
			<input id="design-dialog-new-element-title" type="text" style="width:770px;"/>
		</div>
		<div class="field">
			<label for="design-dialog-new-element-id">
				Widget ID (must be unique within widgets)
				<span class="error" id="design-dialog-new-element-id-error"></span>
			</label>
			<input id="design-dialog-new-element-id" type="text" style="width:770px;" />
		</div>
		<div class="field">
			<label for="design-dialog-new-element-html">Widget HTML</label>
			<textarea id="design-dialog-new-element-html" class="new-element" style="height:280px;width:770px;"></textarea>
		</div>
	</div>
</div>