<div id="design-dialog-layout-editor">
	<div id="design-dialog-layout-editor-catalog" class="design-dialog-content-wrap invisible">
		<fieldset>
			<legend>Catalog Page Settings</legend>
			<div class="col-wrap clearfix">
				<div class="col-33 gap-left gap-bottom gap-top">List products by</div>
				<div class="col-50 gap-bottom">
					<select name="CatalogDefaultSortOrder" id="CatalogDefaultSortOrder" style="width:250px;">
						<option value="priority">Priority (Default)</option>
						<option value="date">Newest to System</option>
						<option value="name">Alphabetical</option>
						<option value="id">Product ID</option>
						<option value="price_desc">Prices (Highest to Lowest)</option>
						<option value="price">Prices (Lowest to Highest)</option>
					</select>
				</div>
			</div>
			<div class="col-wrap clearfix">
				<div class="col-33 gap-left gap-bottom gap-top">Products per page</div>
				<div class="col-50 gap-bottom">
					<input style="width:123px;" type="text" name="CatalogItemsOnPage" id="CatalogItemsOnPage"/>
				</div>
			</div>
		</fieldset>
	</div>
	<div id="design-dialog-layout-editor-product" class="design-dialog-content-wrap invisible">
		<fieldset>
			<legend>Product Page Settings</legend>
			<div class="col-wrap clearfix">
				<div class="col-33 gap-left gap-bottom gap-top">Recommended products on product page</div>
				<div class="col-50 gap-bottom">
					<input style="width:123px;" type="text" name="RecommendedProductsCount" id="RecommendedProductsCount"/>
				</div>
			</div>
			<div class="col-wrap clearfix">
				<div class="col-33 gap-left gap-bottom gap-top">Enable Email to Friend</div>
				<div class="col-50 gap-bottom">
					<select name="CatalogEmailToFriend" id="CatalogEmailToFriend" style="width:135px;">
						<option value="HTML">Yes</option>
						<option value="Disabled">No</option>
					</select>
				</div>
			</div>
		</fieldset>
	</div>
</div>