<div id="design-dialog-images-editor">
	<div class="design-dialog-content-wrap">{if ini_get('max_file_uploads') }
		<b>Please note: Due to your server limitations you cannot upload more than {php}echo ini_get('max_file_uploads');{/php} files at once</b>
		<br/><br/>
{/if}
		<div style="width:100%;height:420px;overflow:auto;" id="design-dialog-images-editor-content"></div>
		<iframe style="width:100%;display:none;" border="0" frameborder="0" id="design-dialog-images-editor-iframe" name="design-dialog-images-editor-iframe"></iframe>
	</div>
</div>