<div id="design-dialog-styles-editor">
	<div class="design-dialog-content-wrap">
		<div class="col-wrap clearfix">
			<div class="col-20">
				<div class="gap-right">
					<strong>Choose element to edit</strong>
					<div style="overflow:auto;height:483px;width:97.5%;margin-top:7px;">
						<ul class="elements" id="design-dialog-styles-editor-map"></ul>
					</div>
				</div>
			</div>
			<div class="col-80">
				<div class="gap-left">
					<div id="design-dialog-styles-editor-start-text" class="clearfix">
						<div style="font-weight:bold;">Please select element you want to edit</div>
					</div>
					<div id="design-dialog-styles-editor-tabs" class="clearfix">
						<ul id="design-dialog-styles-editor-tabs-ul">
							<li><a href="#design-dialog-styles-editor-tab-visual">Visual Editor</a></li>
							<li><a href="#design-dialog-styles-editor-tab-css">Edit CSS (Advanced)</a></li>
							<li style="float: right"><div class="helpertip">The <strong>Visual Editor</strong> will allow you to adjust many different elements on your site. To edit the CSS (Stylesheet) directly, click CSS. (Advanced Users)</div></li>
						</ul>
						<div id="design-dialog-styles-editor-tab-visual" class="clearfix">
							<div id="design-dialog-styles-editor-font" class="design-dialog-style-editor invisible">
								<fieldset style="margin-bottom:20px;">
									<legend>Font</legend>
									<div class="gap-left clearfix">
										<div class="col-wrap gap-bottom clearfix">
											<div class="col-15" style="padding-top:4px;">Family</div>
											<div class="col-35 clearfix">
												<div style="position:relative;">
													<select id="design-dialog-styles-editor-font-family">
														<option value=""></option>
														<option value="inherit">Inherit</option>
														<option value="Arial,Arial,Helvetica,sans-serif">Arial,Arial,Helvetica,sans-serif</option>
														<option value="Arial Black,Arial Black,Gadget,sans-serif">Arial Black,Arial Black,Gadget,sans-serif</option>
														<option value="Comic Sans MS,Comic Sans MS,cursive">Comic Sans MS,Comic Sans MS,cursive</option>
														<option value="Courier New,Courier New,Courier,monospace">Courier New,Courier New,Courier,monospace</option>
														<option value="Georgia,Georgia,serif">Georgia,Georgia,serif</option>
														<option value="Impact,Charcoal,sans-serif">Impact,Charcoal,sans-serif</option>
														<option value="Lucida Console,Monaco,monospace">Lucida Console,Monaco,monospace</option>
														<option value="Lucida Sans Unicode,Lucida Grande,sans-serif">Lucida Sans Unicode,Lucida Grande,sans-serif</option>
														<option value="Palatino Linotype,Book Antiqua,Palatino,serif">Palatino Linotype,Book Antiqua,Palatino,serif</option>
														<option value="Tahoma,Geneva,sans-serif">Tahoma,Geneva,sans-serif</option>
														<option value="Times New Roman,Times,serif">Times New Roman,Times,serif</option>
														<option value="Trebuchet MS,Helvetica,sans-serif">Trebuchet MS,Helvetica,sans-serif</option>
														<option value="Verdana,Geneva,sans-serif">Verdana,Geneva,sans-serif</option>
													</select>
													<div class="helpertip"><p>Please select which font family you would like to use.</p>
														<p>If you select "Inherit" the font family used in the base template will be applied.</p>
													</div>
												</div>
											</div>
											<div class="col-15" style="padding-top:4px;">Size</div>
											<div class="col-35">
												<div style="position:relative;">
													<select id="design-dialog-styles-editor-font-size">
														<option value=""></option>
														<option value="xx-small">xx-small</option>
														<option value="x-small">x-small</option>
														<option value="small">small</option>
														<option value="medium">medium</option>
														<option value="large">large</option>
														<option value="x-large">x-large</option>
														<option value="xx-large">xx-large</option>
														<option value="smaller">smaller</option>
														<option value="larger">larger</option>
														<option value="inherit">inherit</option>

														<option value="8px">8px</option>
														<option value="9px">9px</option>
														<option value="10px">10px</option>
														<option value="11px">11px</option>
														<option value="12px">12px</option>
														<option value="13px">13px</option>
														<option value="14px">14px</option>
														<option value="15px">15px</option>
														<option value="16px">16px</option>
														<option value="17px">17px</option>
														<option value="18px">18px</option>
														<option value="19px">19px</option>
														<option value="20px">20px</option>
														<option value="21px">21px</option>
														<option value="22px">22px</option>
														<option value="23px">23px</option>
														<option value="24px">24px</option>
													</select>
													<div class="helpertip"><p>Please select the font size you would like to use.</p><p>If you select "Inherit" the font size used in the base template will be applied.</p></div>
												</div>
											</div>
										</div>
										<div class="col-wrap gap-bottom clearfix">
											<div class="col-15" style="padding-top:4px;">Color</div>
											<div class="col-35">
												<input type="text" id="design-dialog-styles-editor-text-color" value="" style="width:153px;"/>
												<div class="helpertip"><p>Change the color of the font by clicking in the widget and selecting a color from the color wheel by clicking and dragging the eyedropper, or enter the HTML color value.</p></div>
											</div>
											<div class="col-15" style="padding-top:4px;">Weight</div>
											<div class="col-35">
												<div style="position:relative;">
													<select id="design-dialog-styles-editor-font-weight"/>
														<option value=""></option>
														<option value="normal">normal</option>
														<option value="bold">bold</option>
														<option value="bolder">bolder</option>
														<option value="lighter">lighter</option>
														<option value="100">100</option>
														<option value="200">200</option>
														<option value="300">300</option>
														<option value="400">400</option>
														<option value="500">500</option>
														<option value="600">600</option>
														<option value="700">700</option>
														<option value="800">800</option>
														<option value="900">900</option>
													</select>
													<div class="helpertip"><p>This feature will allow you to make the selected font bold, lighter or add emphases to the font.</p></div>
												</div>
											</div>
										</div>
										<div class="col-wrap gap-bottom clearfix">
											<div class="col-15" style="padding-top:4px;">Font style</div>
											<div class="col-35">
												<div style="position:relative;">
													<select id="design-dialog-styles-editor-font-style"/>
														<option value=""></option>
														<option value="normal">normal</option>
														<option value="italic">italic</option>
														<option value="oblique">oblique</option>
														<option value="inherit">inherit</option>
													</select>
												</div>
											</div>
											<div class="col-15" style="padding-top:4px;">Decoration</div>
											<div class="col-35">
												<div style="position:relative;">
													<select id="design-dialog-styles-editor-text-decoration"/>
														<option value=""></option>
														<option value="none">none</option>
														<option value="underline">underline</option>
														<option value="overline">overline</option>
														<option value="line-through">line-through</option>
														<option value="blink">blink</option>
														<option value="inherit">inherit</option>
													</select>
													<div class="helpertip">
														<p>This feature will allow you to decorate the font as you see appropriate. You can add an underline, overline, blink or line-through.</p>
														<p>If you select "Inherit" the font size used in the base template will be applied.</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</fieldset>
							</div>
							
							<div id="design-dialog-styles-editor-align" class="design-dialog-style-editor invisible">
								<fieldset style="margin-bottom:20px;">
									<legend>Align</legend>
									<div class="gap-left clearfix">
										<div class="col-wrap gap-bottom clearfix">
											<div class="col-15" style="padding-top:4px;">Text align</div>
											<div class="col-35">
												<div style="position:relative;">
													<select id="design-dialog-styles-editor-text-align">
														<option value=""></option>
														<option value="left">left</option>
														<option value="right">right</option>
														<option value="center">center</option>
														<option value="justify">justify</option>
														<option value="inherit">inherit</option>
														<option value="start">start</option>
														<option value="end">end</option>
													</select>
												</div>
											</div>
										</div>
									</div>
								</fieldset>
							</div>
							<div id="design-dialog-styles-editor-background" class="design-dialog-style-editor invisible">
								<fieldset style="margin-bottom:20px;">
									<legend>Background</legend>
									<div class="gap-left clearfix">
										<div class="col-wrap gap-bottom clearfix">
											<div class="col-15" style="padding-top:4px;">Color</div>
											<div class="col-35">
												<input type="text" id="design-dialog-styles-editor-background-color" value="" style="width:153px;"/>
												<div class="helpertip"><p>Change the background color by clicking in the widget and selecting a color from the color wheel by clicking and dragging the eyedropper, or enter the HTML color value.</p></div>
											</div>
										</div>
										<div class="col-wrap gap-bottom clearfix">
											<div class="col-15" style="padding-top:4px;">
												<input type="checkbox" id="design-dialog-styles-editor-background-image-exists" value="1"/>
												Image
											</div>
											<div class="col-35">
												<input type="hidden" id="design-dialog-styles-editor-background-image" value=""/>
												<input type="file" id="design-dialog-styles-editor-background-image-uploadify" value=""/>
											</div>
											<div class="col-15" style="padding-top:4px;">
												Attachment
											</div>
											<div class="col-35">
												<div style="position:relative;">
													<select id="design-dialog-styles-editor-background-attachment">
														<option value=""></option>
														<option value="scroll">scroll</option>
														<option value="fixed">fixed</option>
														<option value="inherit">inherit</option>
													</select>
												</div>
											</div>
										</div>
										<div class="col-wrap gap-bottom clearfix">
											<div class="col-15" style="padding-top:4px;">Position</div>
											<div class="col-35">
												<div style="position:relative;">
													<select id="design-dialog-styles-editor-background-position">
														<option value=""></option>
														<option value="top left">top left</option>
														<option value="top center">top center</option>
														<option value="top right">top right</option>
														<option value="center left">center left</option>
														<option value="center center">center center</option>
														<option value="center right">center right</option>
														<option value="bottom left">bottom left</option>
														<option value="bottom center">bottom center</option>
														<option value="bottom right">bottom right</option>
														<option value="inherit">inherit</option>
													</select>
												</div>
											</div>
											<div class="col-15" style="padding-top:4px;">Repeat</div>
											<div class="col-35">
												<div style="position:relative;">
													<select id="design-dialog-styles-editor-background-repeat">
														<option value=""></option>
														<option value="repeat">repeat</option>
														<option value="repeat-x">repeat-x</option>
														<option value="repeat-y">repeat-y</option>
														<option value="no-repeat">no-repeat</option>
														<option value="inherit">inherit</option>
													</select>
												</div>
											</div>
										</div>
									</div>
								</fieldset>
							</div>
							<div id="design-dialog-styles-editor-image" class="design-dialog-style-editor invisible">
								<fieldset style="margin-bottom:20px;">
									<legend>Images</legend>
									<div class="gap-left clearfix">
										<div class="col-wrap gap-bottom clearfix">
											<div class="col-15" style="padding-top:4px;">
												Image
											</div>
											<div class="col-35">
												<input type="file" id="design-dialog-styles-editor-image-uploadify" value=""/>
											</div>
										</div>
									</div>
								</fieldset>
							</div>
						</div>
						<div id="design-dialog-styles-editor-tab-css" class="clearfix">
							<div class="clearfix" style="padding:0px;padding-bottom:20px;">
								<textarea id="design-dialog-styles-editor-css" style="height:235px;width:606px;;" wrap="off"></textarea>
							</div>
						</div>
					</div>
					<fieldset style="margin-top:20px;">
						<legend>Preview</legend>
						<div style="padding:10px;">
							<div style="background-color:white;padding:10px;border:1px solid #aaa;border-radius:4px;">
								<div id="design-dialog-styles-editor-preview" style="padding:15px;">Sample Text</div>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
	</div>
</div>