<form id="form-generate-certificate" name="form-generate-certificate" action="admin.php?p=paypal_payments_standard&action=generate-certificate" role="form" method="post" data-auto-validate="1" autocomplete="off" enctype="multipart/form-data">
    <input type="hidden" name="nonce" id="nonce" value="{$nonce}">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
            <h4 class="modal-title" id="modal-dialog-gen-csr-label">Generate Certificate</h4>
        </div>
        <div class="modal-body" style="padding: 25px 9px 10px;">
            <div style="font-size:16px;font-weight:bold;margin-bottom:5px;">Regenerate public key</div>
            {form form=$form}
        </div>
        <div class="modal-footer">
            <div class="col-xs-6">
                <button type="submit" class="btn btn-primary">Generate</button>
            </div>
            <div class="col-xs-6">
                <button type="button" class="btn btn-primary" id="btnDownload">Download</button>
            </div>
        </div>
    </div>
</form>
<form id="frmDownload" method="POST" action="admin.php?p=paypal_payments_standard&action=download-certificate">
</form>

<script type="text/javascript" src="content/admin/scripts/paypal-standard.js?v={$APP_VERSION}"></script>
