<div class="page-address-book wrap {class file=$smarty.template editable=true}">
	<h1>{$msg.account.my_address_book}</h1>
	<div class="spacer clearfix">
		{if !empty($addresses)}
			<div class="gap-left gap-right">
				<div class="msg-notice">{$msg.shipping.select_address_to_edit_or_delete}</div>
			</div>
			<div class="col-wrap clearfix">
				{assign var="addr_num" value="0"}
				{foreach name=addr from=$addresses key=key item=address}
					{math equation="x + y" x=$addr_num y=1 assign="addr_num"}
					<div class="col-50 gap-bottom">
						<div class="framed-block shipping-address-view">
							{include file="templates/pages/account/elements/element-shipping-address-view.html"}
						</div>
					</div>
				{/foreach}
			</div>
		{else}
			<div class="gap-left gap-right">
				<div class="msg-notice">{$msg.shipping.no_addresses_yet}</div>
			</div>
		{/if}

		{if $ShippingAllowSeparateAddress != "0"}
			<div class="framed-block clearfix">
				<h3>{$msg.shipping.enter_new_shipping_address}</h3>
				<div class="spacer clearfix">
					<form name="form-address-book" id="form-address-book" action="{$url_https}p=address_book" method="post" onsubmit="return CheckShippingAddress(this, '{$FormsShippingCompany}', '{$FormsShippingAddressLine2}')">

						{if $user_errors}
							<div class="msg-error">
								{$msg.shipping.address_error}
									<ul class="list">
									{foreach from=$user_errors item="user_error"}
										<li>{$user_error}</li>
									{/foreach}
								</ul>
							</div>
						{/if}
						<div class="fieldset clearfix {class file=$smarty.template editable=true}">
							<input type="hidden" name="ua" value="{$USER_ADD_ADDRESS}">
							<input type="hidden" name="nonce" value="{$nonce_add_address|htmlspecialchars}">
							{include file="templates/pages/account/elements/element-shipping-address-form.html"}
						</div>
						<div class="buttons">
							{button class="button-add-address" text=$msg.buttons.buttonAddAddress file=$smarty.template} &nbsp;
							{button type="reset" form="form-address-book" class="button-reset" text=$msg.buttons.buttonReset file=$smarty.template}
						</div>
					</form>
				</div>
			</div>
		{/if}
	</div>
</div>
<script type="text/javascript"><!--{literal}
$(document).ready(function(){
	var mh = 0;
	$('.shipping-address-view').each(function(){
		if ($(this).height() > mh) mh = $(this).height();
	});
	$('.shipping-address-view').height(mh + 5);
});
{/literal}--></script>