<div class="page-address-edit wrap {class file=$smarty.template editable=true}">
	<h1>{$msg.shipping.shipping_address_editing}</h1>

	<div class="spacer clearfix">
		{if $user_errors}
			<div class="gap-left gap-right">
				<div class="msg-error">
					{$msg.shipping.address_error}
					<ul class="list">
						{foreach from=$user_errors item="user_error"}
						<li>{$user_error}</li>
						{/foreach}
					</ul>
				</div>
			</div>
		{/if}

		<div class="framed-block">
			<h3>{$msg.shipping.shipping_address}</h3>
			<div class="spacer">
				<form name="form-address-edit" id="form-address-edit" action="{$url_https}p=address_edit&amp;address_id={$address_id}" method="post" onsubmit="return CheckShippingAddress(this, '{$FormsShippingCompany|htmlspecialchars}', '{$FormsShippingAddressLine2|htmlspecialchars}')">
					<div class="fieldset clearfix">
						<input type="hidden" name="ua" value="{$USER_UPDATE_ADDRESS}"/>
						<input type="hidden" name="address_id" value="{$address_id|htmlspecialchars}"/>
						<input type="hidden" name="nonce" value="{$nonce|htmlspecialchars}">
						{include file="templates/pages/account/elements/element-shipping-address-form.html"}
					</div>
					<div class="buttons">
						{button class="button-save" text=$msg.buttons.buttonSave file=$smarty.template} &nbsp;
						{button type="reset" form="form-address-edit" class="button-reset" text=$msg.buttons.buttonReset file=$smarty.template}
					</div>
				</form>
			</div>
		</div>
	</div>
</div>