<div class="page-auth-error wrap {class file=$smarty.template editable=true}">
	<h1>{$msg.common.security_error}</h1>
	<div class="spacer msg-error">
		{$msg.common.security_error_description}
		{if $AllowCreateAccount != "No"}
		<ul class="list">
			<li>{lang msg=$msg.common.click_to_login u=$url_https}
			<li>{lang msg=$msg.common.click_to_register u=$url_https}
		</ul>
		{/if}
	</div>
	<div class="spacer msg-notice">
		{lang msg=$msg.common.cookie_remark u=$url_rel}
	</div>
</div>