<div class="page-blocked wrap {class file=$smarty.template editable=true}">
	<h1>{$msg.common.security_error}</h1>
	<div class="spacer msg-error">
		{$msg.common.account_blocked}
	</div>
	<div class="spacer msg-notice">
		{lang msg=$msg.common.contact_admin e=$GlobalSupportEmail}
	</div>
</div>