<div class="page-login wrap {class file=$smarty.template editable=true}">
	<h1>{$msg.account.login}</h1>
	<div class="col-wrap">
		<div class="col-50 col-left">
			<div class="spacer">
				
				{if $facebookLogin == "Yes"}
					<div id="fb-root"></div>
					<div class="fb-login-button" data-scope="email">Login with Facebook</div><br/>
				{/if}
				
				<p>{$msg.account.existing_users}</p>
				
				{if $user_cookie}
					<p>{$msg.account.login_again}</p>
				{/if}
				
				{if $auth_error}
					{if $account_blocked}
						<div class="msg-error">{$msg.account.account_blocked}</div>
					{else}
						<div class="msg-error">{$msg.account.login_incorrect}</div>
					{/if}
				{/if}
				<form action="{$url_https}p=login" method="post" onsubmit="return CheckLoginForm(this)">
					<input type="hidden" name="ua" value="{$USER_LOGIN}" />
					<input type="hidden" name="cart_items_count" value="{$cart_items_count|intval}" />
					<div class="fieldset {class file=$smarty.template editable=true}">
						<div class="field">
							<label for="inputLogin">{$msg.account.enter_username}</label>
							<div><input id="inputLogin" maxlength="255" type="text" name="login" value="{$login|htmlspecialchars}"/></div>
						</div>
							<div class="field">
							<label for="inputPassword">{$msg.account.enter_password}</label>
							<div><input id="inputPassword" maxlength="36" type="password" name="password" value="" autocomplete="off"/></div>
						</div>
						<div class="buttons">
							{button class="button-login" text=$msg.buttons.buttonLogin file=$smarty.template}
						</div>
						<div class="field">
							<input id="input-remember-me" class="input-remember-me" type="checkbox" name="remember_me" value="1" {if $remember_me}checked="checked"{/if}/> 
							<label id="label-input-remember-me" class="label-remember-me" for="input-remember-me">{$msg.account.remember_visit}</label>
						</div>
					</div>
				</form>
				<p>{lang msg=$msg.account.reset_password s=$url_https}</p>
			</div>
		</div>
		<div class="col-50">
			<div class="spacer">
				<p>{$msg.account.new_users}</p>
				<form action="{$url_https}p=signup" method="post">
					{button class="button-register" text=$msg.buttons.buttonRegister file=$smarty.template}
				</form>
				{if $order->itemsCount > 0 && $VisitorSeePrice == "YES" && $AllowCreateAccount == "Allow user to decide"}
					<div class="express-checkout">
					<p>{$msg.account.express_checkout}</p>
					<a href="{$url_https}ua={$USER_EXPRESS_CHECKOUT}">{$msg.account.start_express_checkout}</a>
					</div>
				{/if}
			</div>
		</div>
	</div>
</div>