<div class="page-order wrap {class file=$smarty.template editable=true}">
	<h1 class="clearfix">
		<div class="col-wrap">
			<div class="col-67">{$msg.account.my_order}</div>
			<div class="col-33 text-right">{$msg.cart.order_id}: {$history_order_data->orderNumber}</div>
		</div>
	</h1>

	{** BILLING AND SHIPPING ADDRESS / CUSTOM FIELDS AND GIFT MESSAGE**}
	<div class="spacer clearfix">
		<div class="framed-block clearfix">
			<h3>{$msg.account.order_details}</h3>
			<div class="spacer clearfix">
				<table cellpadding="0" cellspacing="0">
					<tr>
						<td width="35%">{$msg.account.order_id}</td>
						<td width="65%">#{$history_order_data->orderNumber} <i>({$history_order_data->orderType})</i></td>
					</tr>
					<tr>
						<td>{$msg.account.order_placed_at}</td>
						<td>{$history_order_data->orderCreateDate}</td>
					</tr>
					<tr>
						<td>{$msg.account.order_status}</td>
						<td><strong>{$history_order_data->status}</strong></td>
					</tr>
					<tr>
						<td>{$msg.account.order_status_change_date}</td>
						<td>{$history_order_data->statusChangeDate}</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="col-wrap gap-top clearfix">
			<div class="col-50 div-billing-address" id="div_billing_address">
				<div class="framed-block clearfix">
					<h3>{$msg.billing.billing_address}</h3>
					<div class="spacer clearfix">
						<strong>{$history_user_data.fname|htmlspecialchars} {$history_user_data.lname|htmlspecialchars}</strong>
						<div class="gap-top">
							{if $history_user_data.company != ''}{$history_user_data.company|htmlspecialchars}<br>{/if}
							{$history_user_data.address1|htmlspecialchars}, {$history_user_data.address2|htmlspecialchars}<br>
							{$history_user_data.city|htmlspecialchars}, {$history_user_data.province|htmlspecialchars} {$history_user_data.zip|htmlspecialchars}<br>
							{$history_user_data.country_name|htmlspecialchars}
						</div>
					</div>
				</div>
			</div>	
			<div class="col-50 div-shipping-addres" id="div_shipping_address">
				<div class="framed-block">
					<h3>{$msg.shipping.shipping_address}</h3>
					<div class="spacer clearfix">
						{if $history_order_data->shippingRequired}
							<strong>{$history_order_data->shippingName|htmlspecialchars}{if $history_order_data->shippingCompany != ''}, {$history_order_data->shippingCompany|htmlspecialchars}{/if}</strong>
							<i>({if $history_order_data->shippingAddressType=='Business'}{$msg.shipping.address_type_business}{else}{$msg.shipping.address_type_residential}{/if})</i>
							<div class="gap-top">
								{$history_order_data->shippingAddress1|htmlspecialchars}, {$history_order_data->shippingAddress2|htmlspecialchars}<br>
								{$history_order_data->shippingCity|htmlspecialchars}, {$history_order_data->shippingState|htmlspecialchars} {$history_order_data->shippingZip|htmlspecialchars}<br>
								{$history_order_data->shippingCountry|htmlspecialchars}
							</div>
						{else}
							{$msg.shipping.no_shipping_information_available}<br>{$msg.shipping.order_is_not_shippable}
						{/if}
						
						{if $GiftCardActive == "YES" && $history_order_data->giftMessage != ""}
							<div class="gap-top">
								<h5>{$msg.cart.gift_message}:</h5>
								<div>
									{$history_order_data->giftMessage|htmlspecialchars|nl2br}
								</div>
							</div>
						{/if}

						{if $history_order_data->shippingTrackingNumber != "" && $history_order_data->shippingTrackingNumberType != ""}
							<div class="gap-top">
								{$history_order_data->shippingTrackingNumberType}
								{$msg.cart.shipping_tracking_number}:
								<br><i>{$history_order_data->shippingTrackingNumber}</i>
								<br>{$history_order_data->shippingTrackingLink}
							</div>
						{/if}
						
						{if count($history_order_data->shippingTracking) > 0}
							<div class="gap-top">
								{$msg.cart.shipping_tracking_number}:
								{foreach from=$history_order_data->shippingTracking item="st"}
									<br>{$st.carrier}: {$st.tracking}
								{/foreach}
							</div>
						{/if}
					</div>
				</div>
			</div>
		</div>

		{if $tracking_info}
			<div class="gap-top clearfix">
				<div class="framed-block clearfix">
					{if $history_order_data->shippingTrackingNumberType == "UPS"}
						<h3>{$msg.account.order_ups_information}</h3>
						<div class="spacer clearfix">
							<table class="framed-list" width="100%" cellpadding="0" cellspacing="0">
								<tbody>
									<tr>
										<td>{$order.account.order_ups_shipping_method}</td>
										<td>{$tracking_info.shipping_method|capitalize}</td>
									</tr>
									<tr>
										<td>{$order.account.order_ups_pickup_date}</td>
										<td>{$tracking_info.pickup_date}</td>
									</tr>
									{if $tracking_info.scheduled_delivery_date != ""}
										<tr>
											<td>{$order.account.order_ups_schedule_delivery_date}</td>
											<td>{$tracking_info.scheduled_delivery_date} {$tracking_info.scheduled_delivery_time}</td>
										</tr>
									{/if}
									{if $tracking_info.rescheduled_delivery_date != ""}
										<tr>
											<td>{$order.account.order_ups_rescheduled_delivery_date}</td>
											<td>{$tracking_info.rescheduled_delivery_date}</td>
										</tr>
									{/if}
									<tr>
										<td>{$order.account.order_ups_last_activity}</td>
										<td>{$tracking_info.status_type_description|capitalize}</td>
									</tr>
									<tr>
										<td>{$order.account.order_ups_last_activity_location}</td>
										<td>
											{$tracking_info.activity_location|capitalize}<br>
											{$tracking_info.activity_location1}
										</td>
									</tr>
									<tr>
										<td>{$order.account.order_ups_last_activity_date}</td>
										<td>{$tracking_info.activity_date} {$tracking_info.activity_time}</td>
									</tr>
									{if $tracking_info.shipment_weight > 0}
										<tr>
											<td>{$order.account.order_ups_shipment_weight}</td>
											<td>{$tracking_info.shipment_weight} {$tracking_info.shipment_weight_unit}</td>
										</tr>
									{/if}
									{if $tracking_info.package_weight > 0}
										<tr>
											<td>{$order.account.order_ups_package_weight}</td>
											<td>{$tracking_info.package_weight} {$tracking_info.package_weight_unit}</td>
										</tr>
									{/if}
								</tbody>
							</table>
						</div>
					{/if}
					{if $history_order_data->shippingTrackingNumberType == "USPS"}
						<h3>{$msg.account.order_usps_tracking_information}</h3>
						<div class="spacer clearfix">
							{$tracking_info}
						</div>
					{/if}
				</div>
			</div>
		{/if}

		<div class="gap-top clearfix">
			<div class="framed-block clearfix">
				<h3>{$msg.cart.order_content}</h3>
				<div class="spacer clearfix">
					<table class="framed-list" cellpadding="0" cellspacing="0">
						<thead>
							<tr>
								<th>{$msg.product.product_name}</th>
								<th width="150" class="text-right">{$msg.product.product_price}</th>
								<th width="150" class="text-right">{$msg.product.product_quantity}</th>
								<th width="150" class="text-right">{$msg.cart.total}</th>
							</tr>
						</thead>
						<tbody>
							{foreach from=$shipments item="shipment"}
								<tr valign="top">
									<td colspan="3">
										<strong>{$msg.shipping.shipment} # {$shipment.num} - {$shipment.shipping_cm_name|htmlspecialchars}</strong><br>
										<span class="shipment-status">{$msg.shipping.shipment_status}: {$msg.shipping.shipment_statuses[$shipment.fulfillment_status]}</span>
									</td>
									<td class="text-right" width="15%">{if $shipment.shipping_amount > 0}{$shipment.shipping_amount|price}{/if}</td>
								</tr>
								{foreach from=$history_order_data->lineItems item="order_item"}
									{if $shipment.id == $order_item.shipment_id}
										<tr valign="top">
											<td>
												{$order_item.title|htmlspecialchars}<br>
												<i>{$order_item.product_id|htmlspecialchars}</i>
												{if $order_item.options != ""}
													<br><i>{$msg.cart.options}:</i><br>
													{$order_item.options|htmlspecialchars|nl2br}
												{/if}
												{if $order_item.enable_recurring_billing && $order_item.recurring_billing_data}
													<div class="gap-top" style="font-size:0.9em;">
														<strong>{$msg.recurring.recurring_payments}</strong><br>
														{if $order_item.product_recurring_billing_data->getScheduleDescription() != ''}
															<div>{$order_item.product_recurring_billing_data->getScheduleDescription()}</div>
														{/if}
														{if $order_item.recurring_billing_data->getTrialEnabled()}
															{$msg.recurring.trial_period}:
															<i>{$order_item.recurring_trial_description}</i>
															<br>
														{/if}
														{$msg.recurring.billing_period}:
														<i>{$order_item.recurring_billing_description}</i>

														{if $order_item.recurring_billing_data->getStartDate()}
															{assign var="recurringStartDate" value=$order_item.recurring_billing_data->getStartDate()}
															<br>{$msg.recurring.billing_starting_at} {$recurringStartDate->format('U')|date_format:$msg.common.date_format}
														{/if}

														{if $order_item.recurring_profile}
															<br>{$msg.account.order_subscription}: <a href="index.php?p=recurring_profile&id={$order_item.recurring_profile->profileId}">#{$order_item.recurring_profile->profileId}</a> <i>({$order_item.recurring_profile->status})</i>
														{/if}
													</div>
												{/if}

												{if $order_item.product_type == 'Digital' && $history_order_data->paymentStatus == "Received" && $history_order_data->status == "Completed"}
													<br><a href="download.php?a={$history_order_data->oid}&amp;b={$order_item.digital_product_key}">{$msg.product.download_url}</a>
												{/if}
											</td>
											<td class="text-right">
												{$order_item.product_price|price}
												{if $order_item.is_taxable == "No"}
													<br><span><i>({if $order_item.tax_exempt == 1}{$msg.cart.item_tax_exempt}{else}{$msg.cart.not_taxable}{/if})</i></span>
												{else}
													<br>
													{if $order_item.tax_exempt == 1}
														{$msg.cart.item_tax_exempt}
													{else}
														{$msg.cart.tax_amount} :
														{if $order_item.tax_description != ""}
															{$order_item.tax_description}
														{else}
															{math equation="round(x,2)" x=$order_item.tax_rate format="%0.2f"}%
														{/if}
													{/if}
												{/if}
											</td>
											<td class="text-right" width="15%">{$order_item.quantity}</td>
											<td class="text-right" width="15%">{$order_item.product_total|price}</td>
										</tr>
									{/if}
								{/foreach}
							{/foreach}
						</tbody>
						<tfoot>
							{if $history_order_data->bongoOrder}
								{if $history_order_data->bongoData}
									<tr valign="top">
										<td colspan="3">{$msg.cart.bongo_subtotal}:</td>
										<td class="text-right">{$history_order_data->bongoData.orderSubtotalAmount|price}</td>
									</tr>
									<tr valign="top">
										<td colspan="3">{$msg.cart.bongo_duty_amount}:</td>
										<td class="text-right">{$history_order_data->bongoData.orderDutyAmount|price}</td>
									</tr>
									<tr valign="top">
										<td colspan="3">{$msg.cart.bongo_tax_amount}</td>
										<td class="text-right">{$history_order_data->bongoData.orderTaxAmount|price}</td>
									</tr>
									<tr valign="top">
										<td colspan="3">{$msg.cart.bongo_shipping_amount}:</td>
										<td class="text-right">{$history_order_data->bongoData.orderShippingAmount+$history_order_data->bongoData.orderShippingDomesticAmount|price}</td>
									</tr>
									<tr valign="top">
										<td colspan="3">{$msg.cart.bongo_insurance_amount}:</td>
										<td class="text-right">{$history_order_data->bongoData.orderInsuranceAmount|price}</td>
									</tr>
									<tr valign="top">
										<td colspan="3">
											<strong>{$msg.cart.bongo_total_amount} ({$history_order_data->bongoData.orderCurrency}):</strong>
										</td>
										<td class="text-right">{$history_order_data->bongoData.orderTotalAmount|price}</td>
									</tr>
								{else}
									<tr>
										<td colspan="4" class="bold">{$msg.cart.bongo_total_not_final}</td>
									</tr>
								{/if}
							{else}
								{foreach from=$orderView.lineItems key="orderViewLineItemKey" item="orderViewLineItem"}
									<tr valign="top">
										<td colspan="3" class="text-right" >
											{$orderViewLineItem.title}
											{if $orderViewLineItem.subtitle != ''}<br>{$orderViewLineItem.subtitle}{/if}
										</td>
										<td class="text-right" {if $orderViewLineItemKey == 'total'}style="font-weight:bold"{/if}>{$orderViewLineItem.amount}</td>
									</tr>
								{/foreach}
							{/if}
						</tfoot>
					</table>
				</div>
			</div>
		</div>

		{if count($fulfillments) > 0}
		<div class="gap-top clearfix">
			<div class="framed-block clearfix">
				<h3>{$msg.account.shipments}</h3>
				<div class="spacer clearfix">
				<table class="table table-striped">
					{foreach from=$fulfillments item="fulfillment"}
						<thead>
						<tr>
							<th>{$msg.account.created_at}</th>
							<th>{$msg.account.status}</th>
							<th>{$msg.account.tracking_number}</th>
							<th>{$msg.account.tracking_company}</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>{$fulfillment->updatedAt}</td>
							<td>
								{if $fulfillment->status == 'completed'}
									{$msg.shipping.shipment_statuses.completed}
								{else}
									{$msg.shipping.shipment_statuses.pending}
								{/if}
							</td>
							<td>
								{$fulfillment->trackingNumber}
							</td>
							<td>
								{$fulfillment->trackingCompany}	<br/>
								{if $fulfillment->trackingCompany == "UPS"}
									<a target="_blank" href="http://wwwapps.ups.com/etracking/tracking.cgi?tracknums_displayed=5&TypeOfInquiryNumber=T&HTMLVersion=4.0&InquiryNumber1={$fulfillment->trackingNumber}&InquiryNumber2=&InquiryNumber3=&track=Track">{$msg.cart.click_to_track}</a>
								{/if}
								{if $fulfillment->trackingCompany == "USPS"}
									<a target="_blank" href="http://trkcnfrm1.smi.usps.com/PTSInternetWeb/InterLabelInquiry.do?origTrackNum={$fulfillment->trackingNumber}">{$msg.cart.click_to_track}</a>
								{/if}
								{if $fulfillment->trackingCompany == "FedEx"}
									<a target="_blank" href="http://www.fedex.com/Tracking?cntry_code=us&tracknumber_list={$fulfillment->trackingNumber}&language=english">{$msg.cart.click_to_track}</a>
								{/if}
								{if $fulfillment->trackingCompany == "CanadaPost"}
									<a target="_blank" href="http://www.canadapost.ca/cpotools/apps/track/personal/findByTrackNumber?trackingNumber={$fulfillment->trackingNumber}">{$msg.cart.click_to_track}</a>
								{/if}
							</td>
						</tr>
						<tr>
							<td colspan="4" style="width: 100%;">
								<table class="table">
									<thead>
									<tr>
										<th>{$msg.account.products}</th>
										<th class="text-center">{$msg.product.product_quantity}</th>
									</tr>
									</thead>
									<tbody>
									{foreach from=$fulfillment->items item="fulfillmentItem"}
									<tr>
										<td>
											{$fulfillmentItem->title}<br>
											{$fulfillmentItem->productId}{if $fulfillmentItem->productSubId} / {$fulfillmentItem->productSubId}{/if}<br>
											{if $fulfillmentItem->options}Options:<br>{$fulfillmentItem->options|gs|nl2br}{/if}
										</td>
										<td class="text-right">{$fulfillmentItem->quantity}</td>
									</tr>
									{/foreach}
									</tbody>
								</table>
							</td>
						</tr>
						</tbody>
					{/foreach}
				</table>
				</div>
			</div>
		</div>
		{/if}
	</div>
</div>

<script type="text/javascript"><!--{literal}
$(document).ready(function(){
	var bh = $('#div_billing_address .framed-block').height() + 10;
	var sh = $('#div_shipping_address .framed-block').height() + 10;
	var nh = bh > sh ? bh : sh;
	$('#div_billing_address .framed-block').height(nh);
	$('#div_shipping_address .framed-block').height(nh);
});
{/literal}--></script>

