<div class="page-orders wrap {class file=$smarty.template editable=true}">
	<h1>{$msg.account.my_orders}</h1>
	<div class="spacer clearfix">
		<div class="framed-block clearfix">
			<h3>{$msg.account.my_orders}</h3>
			<div class="spacer clearfix">
				{if $orders}
					<table class="framed-list orders" cellpadding="0" cellspacing="0">
						<thead>
							<tr>
								<th width="120">{$msg.cart.order_id}</th>
								<th>{$msg.cart.order_type}</th>
								<th width="150">{$msg.cart.order_date}</th>
								<th width="120">{$msg.cart.order_status}</th>
								<th width="120" class="text-right">{$msg.cart.total_amount}</th>
								<th width="100">&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							{assign var="ordersCount" value=0}
							{assign var="rowStyle" value="CatalogItemDark"}
							{foreach from=$orders item="order"}
								{if $rowStyle == "CatalogItemLight"}
									{assign var="rowStyle" value="CatalogItemDark"}
								{else}
									{assign var="rowStyle" value="CatalogItemLight"}
								{/if}
								<tr>
									<td><a href="{$url_https}p=order&order_id={$order.oid}">#{$order.order_num}</a></td>
									<td><a href="{$url_https}p=order&order_id={$order.oid}">{if $order.order_type == 'Recurring'}{$msg.cart.order_type_recurring}{else}{$msg.cart.order_type_web}{/if}</a></td>
									<td>{$order.placed_date|date_format:"%m/%d/%Y"}</td>
									<td>{$order.status}</td>
									<td class="text-right">{$order.total_amount|price}</td>
									<td class="text-right">
										<a href="{$url_https}p=order&order_id={$order.oid}">
											{assign var="imageId" value="image-click-to-view"}
											{if $designImages.$imageId}
												<img class="image-click-to-view {class file=$smarty.template editable=true}" src="{$designImages.$imageId.content}" alt="{$msg.images.imageClickToView|htmlspecialchars}"/>
											{else}
												{$msg.images.imageClickToView|htmlspecialchars}
											{/if}
										</a>
									</td>
								</tr>
								{assign var="ordersCount" value=$ordersCount+1}
							{/foreach}
						</tbody>
						<tfoot>
							<tr>
								<td colspan="6" class="text-right">{$msg.account.orders_placed} {$ordersCount}</td>
							</tr>
						</tfoot>
					</table>
				{else}
					<div class="gap-left gap-right">
						<div class="msg-notice">
							{$msg.account.no_orders_yet}
						</div>
					</div>
				{/if}
			</div>
		</div>
	</div>
</div>