<div class="page-password-reset wrap {class file=$smarty.template editable=true}">
	<h1>{$msg.account.reset_password_title}</h1>
	<div class="spacer">
		{if $resetPasswordSent}
			<p>{lang msg=$msg.account.reset_password_sent s=$email}</p>
			<p>
				<a href="{$url_https}p=login">{$msg.account.login}</a> | 
				<a href="{$url_https}p=signup">{$msg.account.register}</a>
			</p>
		{else}
			<p>{$msg.account.reset_password_2}</p>
			{if $resetPasswordProbe}
				<p class="msg-error">{$msg.account.reset_error}</p>
			{/if}
			<form action="{$url_https}p=password_reset" method="post" onsubmit="return CheckResetPassword(this)">
				<input type="hidden" name="ua" value="{$USER_PASSWORD_RESET}"/>
				<div class="fieldset {class file=$smarty.template editable=true}">
					<h3>{$msg.account.reset_password_title}</h3>
					<div class="field first">
						<label>{$msg.account.enter_username}</label>
						<div><input  maxlength="24" type="text" name="login" value="{$login|htmlspecialchars}"/></div>
					</div>
					<div class="field">
						<label>{$msg.account.enter_email}</label>
						<div><input id="email" maxlength="64" type="text" name="email" value="{$email|htmlspecialchars}"/></div>
					</div>
					<div class="buttons">
						{button class="button-reset-password" text=$msg.buttons.buttonResetPassword file=$smarty.template}
					</div>
				</div>
			</form>
		{/if}
	</div>
</div>