<div class="page-address-book wrap {class file=$smarty.template editable=true}">
	<h1>{$msg.account.edit_payment_profiles}</h1>
	<div class="spacer clearfix">

		{include file="templates/layouts/zones/includes/flash-messages.html"}

		{if !empty($paymentProfiles)}
			<div class="col-wrap clearfix">
				{assign var="paymentProfileNumber" value="0"}
				{foreach name=prof from=$paymentProfiles key=key item="paymentProfile"}
					{math equation="x + y" x=$paymentProfileNumber y=1 assign="paymentProfileNumber"}
					<div class="col-50 gap-bottom">
						<div class="framed-block payment-profile-view">
							{include file="templates/pages/account/elements/element-payment-profile-view.html"}
						</div>
					</div>
				{/foreach}
			</div>
		{else}
			<div class="gap-left gap-right">
				<div class="msg-notice">{$msg.account.no_payment_profiles_yet}</div>
			</div>
		{/if}

		{if $paymentMethodId}
			<div class="framed-block clearfix">
				<h3>{$msg.account.enter_payment_profile}</h3>
				<div class="spacer clearfix">
					<form name="form-payment-profile" id="form-payment-profile" action="{$url_https}p=payment_profiles" method="post" onsubmit="return CheckPaymentProfile(this, '{$FormsBillingAddressLine2}', '{$FormsBillingPhone}');">
						<div class="fieldset clearfix">
							<input type="hidden" name="ua" value="{$USER_ADD_PAYMENT_PROFILE}"/>
							<input type="hidden" name="form[payment_method_id]" value="{$paymentMethodId}"/>
							<input type="hidden" name="form[ext_profile_id]" value="{$externalProfileId}"/>
							{include file="templates/pages/account/elements/element-payment-profile-form.html" paymentProfile=$newPaymentProfile}
						</div>
						<div class="buttons">
							{button class="button-add-payment-profile" text=$msg.buttons.buttonAddPaymentProfile file=$smarty.template} &nbsp;
							{button type="reset" form="form-payment-profile" class="button-reset" text=$msg.buttons.buttonReset file=$smarty.template}
						</div>
					</form>
				</div>
			</div>
		{else}
			<div class="gap-left gap-right">
				<div class="msg-error">
					<ul class="list">
						<li>{$msg.account.payment_profile_no_methods}</li>
					</ul>
				</div>
			</div>
		{/if}
	</div>
</div>
<script type="text/javascript"><!--{literal}
$(document).ready(function(){
	var mh = 0;
	$('.payment-profile-view').each(function(){
		if ($(this).height() > mh)
		{
			mh = $(this).height();
		}
	});
	$('.payment-profile-view').height(mh+5);
});
{/literal}--></script>