<div class="page-payment-profile-edit wrap {class file=$smarty.template editable=true}">
	<h1>{$msg.account.payment_profile_editing}</h1>
	<div class="spacer clearfix">

		{include file="templates/layouts/zones/includes/flash-messages.html"}

		{if $user_errors}
			<div class="gap-left gap-right">
				<div class="msg-error">
					<ul class="list">
						{foreach from=$user_errors item="user_error"}
						<li>{$user_error}</li>
						{/foreach}
					</ul>
				</div>
			</div>
		{/if}

		<div class="framed-block">
			<h3>{$msg.account.update_payment_profile}</h3>
			<div class="spacer">
				<form name="form-payment-profile-edit" id="form-payment-profile-edit" action="{$url_https}p=payment_profile_edit&amp;payment_profile_id={$editPaymentProfile->id}" method="post" onsubmit="return CheckPaymentProfile(this, '{$FormsBillingAddressLine2}');">
					<div class="fieldset clearfix">
						<input type="hidden" name="ua" value="{$USER_UPDATE_PAYMENT_PROFILE}">
						{include file="templates/pages/account/elements/element-payment-profile-form.html" paymentProfile=$editPaymentProfile}
					</div>
					<div class="buttons">
						{button class="button-edit-payment-profile" text=$msg.buttons.buttonEditPaymentProfile file=$smarty.template} &nbsp;
						{button type="reset" form="form-payment-profile" class="button-reset" text=$msg.buttons.buttonReset file=$smarty.template}
					</div>
				</form>
			</div>
		</div>
	</div>
</div>