<div class="page-profile wrap {class file=$smarty.template editable=true}">
	<h1>{$msg.account.my_profile}</h1>

	<div class="spacer clearfix">

		<div class="gap-left gap-right">
			{if $user_errors}
				<div class="msg-error">
					{$msg.account.profile_update_error}
					<ul class="list">
						{foreach from=$user_errors item="user_error"}
						<li>{$user_error}</li>
						{/foreach}
					</ul>
				</div>
			{/if}

			<div class="msg-notice">{$msg.account.form_agreement}</div>
			{if $update_msg}<div class="msg-notice">{$update_msg}</div>{/if}
		</div>

		<div class="framed-block">
			<form id="frmProfile" name="frmProfile" action="{$url_https}p=profile" method="post" onsubmit="return CheckProfileForm(this, '{$FormsBillingCompany}', '{$FormsBillingAddressLine2}', '{$FormsBillingPhone}')">
				<input type="hidden" name="ua" value="{$USER_UPDATE_PROFILE}">
				<input type="hidden" name="nonce" value="{$nonce|htmlspecialchars}">

				<h3>{$msg.billing.billing_information}</h3>

				<div class="spacer clearfix">

					<div class="fieldset clearfix">

						<div class="field required first">
							<label for="billing_first_name">{$msg.billing.first_name}</label>
							<div><input id="billing_first_name" maxlength="24" type="text" name="form[fname]" value="{$user.fname|htmlspecialchars}"/></div>
						</div>

						<div class="field required">
							<label for="billing_last_name">{$msg.billing.last_name}</label>
							<div><input id="billing_last_name" class="formControlText" maxlength="24" type="text" name="form[lname]" value="{$user.lname|htmlspecialchars}"/></div>
						</div>

						{if $FormsBillingCompany != "Invisible"}
							<div class="field{if $FormsBillingCompany == "Required"} required{/if}">
								<label for="billing_company">{$msg.billing.company}</label>
								<div><input id="billing_company" class="formControlText" maxlength="50" type="text" name="form[company]" value="{$user.company|htmlspecialchars}"/></div>
							</div>
						{else}
							<input id="billing_company" type="hidden" name="form[company]" value="{$user.company|htmlspecialchars}"/>
						{/if}

						<div class="field required">
							<label for="billing_address_line1">{$msg.billing.address_line1}</label>
							<div><input id="billing_address_line1" maxlength="125" type="text" name="form[address1]" value="{$user.address1|htmlspecialchars}"/></div>
						</div>

						{if $FormsBillingAddressLine2 != "Invisible"}
							<div class="field{if $FormsBillingAddressLine2 == "Required"} required{/if}">
								<label for="billing_address_line2">{$msg.billing.address_line2}</label>
								<div><input id="billing_address_line2" maxlength="125" type="text" name="form[address2]" value="{$user.address2|htmlspecialchars}"/></div>
							</div>
						{else}
							<input id="billing_address_line2" type="hidden" name="form[address2]" value="{$user.address2|htmlspecialchars}"/>
						{/if}

						<div class="field required">
							<label for="billing_city">{$msg.billing.city}</label>
							<div><input id="billing_city" maxlength="24" type="text" name="form[city]" value="{$user.city|htmlspecialchars}"/></div>
						</div>

						<div id="billing_country" class="field required">
							<label for="billing_country_select">{$msg.billing.country}</label>
							<div>
								<select id="billing_country_select" name="form[country]"></select>
							</div>
						</div>

						<div id="billing_state" class="field field-input-states required invisible">
							<label for="billing_state_select">{$msg.billing.state_province}</label>
							<div>
								<select id="billing_state_select" name="form[state]"></select>
							</div>
						</div>

						<div id="billing_province" class="field field-input-provinces required invisible">
							<label for="billing_province_input">{$msg.billing.state_province}</label>
							<div><input id="billing_province_input" maxlength="24" type="text" name="form[province]"/></div>
						</div>

						<div class="field field-input-zip required">
							<label for="billing_postal_code">{$msg.billing.postal_code}</label>
							<div><input id="billing_postal_code" maxlength="24" type="text" name="form[zip]" value="{$user.zip|htmlspecialchars}"/></div>
						</div>

						{if $FormsBillingPhone != "Invisible"}
							<div class="field{if $FormsBillingPhone == "Required"} required{/if}">
								<label for="billing_phone_number">{$msg.billing.phone_number}</label>
								<div><input id="billing_phone_number" maxlength="24" type="text" name="form[phone]" value="{$user.phone|htmlspecialchars}"/></div>
							</div>
						{else}
							<input id="billing_phone_number" type="hidden" name="form[phone]" value="{$user.phone|htmlspecialchars}"/>
						{/if}

						{if $cf_billing}
							{foreach from=$cf_billing item="cfield"}
								<div class="field {if $cfield.is_required}required{/if} clearfix">
									<label>{$cfield.field_caption|htmlspecialchars}</label>
									<div>{cfield field=$cfield}</div>
								</div>
							{/foreach}
						{/if}
					</div>
				</div>

				<h3>{$msg.account.account_information}</h3>

				<div class="spacer clearfix">

					<div class="fieldset {class file=$smarty.template editable=true}">

						<div class="field required first">
							<label for="account_email_address">{$msg.account.email_address}</label>
							<div><input id="account_email_address" maxlength="255" type="text" name="form[email]" value="{$user.email|htmlspecialchars}"/></div>
						</div>

						<div class="field">
							<label>{$msg.account.subscribe_to}</label>
							<div>
								<input type="checkbox" name="form[receives_marketing]" id="receives_marketing" value="Yes" {if $user.receives_marketing == "Yes"}checked="checked"{/if} />
								<label for="receives_marketing">{$msg.account.receives_marketing}</label>
							</div>
						</div>

						{if !$user.facebook_user}
						<div class="field">
							<label for="password_entry_old">{$msg.account.old_password}<br />({$msg.account.password_note})</label>
							<div><input id="password_entry_old" class="formControlText" maxlength="24" type="password" name="form[old_password]" value="" /></div>
						</div>

						<div class="field">
							<label for="password_entry">{$msg.account.new_password}<br />({$msg.account.password_note})</label>
							<div>
								<input id="password_entry" class="formControlText" maxlength="128" type="password" name="form[password]" value="" />
								<span class="clearfix password-msg"></span>
							</div>
						</div>
						<div class="field">
							<label for="password_confirm">{$msg.account.password_confirm}</label>
							<div>
								<input id="password_confirm" class="formControlText" maxlength="128" type="password" name="form[password2]" value="" />
								<span class="clearfix password-msg"></span>
								<span class="hint">{$msg.account.password_no_change}</span>
							</div>
						</div>
						{/if}

						{if $cf_account}
							{foreach from=$cf_account item="cfield"}
								<div class="field{if $cfield.is_required} required{/if} clearfix">
									<label>{$cfield.field_caption|htmlspecialchars}</label>
									<div>{cfield field=$cfield}</div>
								</div>
							{/foreach}
						{/if}
					</div>

					<div class="buttons">
						{button class="button-save" text=$msg.buttons.buttonSave file=$smarty.template} &nbsp;
						{button type="reset" form="frmProfile" class="button-reset" text=$msg.buttons.buttonReset file=$smarty.template}
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<script language="javascript" type="text/javascript"><!--
	var banList = COMPLEXIFY_BANLIST
				.concat("{$user.fname|htmlspecialchars}")
				.concat("{$user.lname|htmlspecialchars}");

	var countriesStates = {$countries_states};
	{literal}
	$(document).ready(function(){
		setCountriesStates(
			{/literal}
		"#billing_country", "{$user.country|htmlspecialchars}",
			"#billing_state", "{$user.state|htmlspecialchars}",
			"#billing_province", "{$user.province|htmlspecialchars}",
			countriesStates
		{literal}
		);
	});
	{/literal}
--></script>