<div class="page-recurring-profile wrap {class file=$smarty.template editable=true}">
	<h1>{$msg.recurring.recurring_profile}</h1>
	<div class="spacer clearfix">

		{include file="templates/layouts/zones/includes/flash-messages.html"}

		<div class="col-wrap clearfix">
			<div class="col-50">
				<div class="framed-block clearfix">
					<div id="profile-properties">
						<h3>{$msg.recurring.profile_properties}</h3>
						<div class="spacer clearfix">
							<table cellpadding="0" cellspacing="0">
								<tr>
									<td width="50%">{$msg.recurring.profile_id}</td>
									<td width="50%">#{$profile->profileId}</td>
								</tr>
								<tr>
									<td>{$msg.recurring.created_at}</td>
									<td>{$profile->dateCreated}</td>
								</tr>
								<tr valign="top">
									<td>{$msg.recurring.status}</td>
									<td>
										<strong>{$profile->status}</strong>
										{if $profile->status == $profileStatusSuspended && $profile->suspensionReason != 'None'}
											by {$profile->suspensionReason|strtolower}
										{/if}
										{if $customerCanSuspend || $customerCanCancel || $customerCanActivate}
											<i>(<a href="#" id="profile-status-change-link"><i>{$msg.recurring.change_link}</i></a>)</i>
										{/if}
									</td>
								</tr>
								{if $profile->dateStart && $profile->dateStart != ''}
									<tr>
										<td>{$msg.recurring.start_date}</td>
										<td>{$profile->dateStart}</td>
									</tr>
								{/if}
								<tr>
									<td>{$msg.recurring.initial_order}</td>
									<td><i><a href="index.php?p=order&order_id={$initialOrder.oid}">#{$msg.recurring.order}{$initialOrder.order_num}</a> ({$initialOrder.status})</i></td>
								</tr>
								{if $profile->hasMoreBillingCycles}
									<tr>
										<td>{$msg.recurring.next_payment}</td>
										<td>{$profile->dateNextBilling|date_format:$msg.common.date_format}</td>
									</tr>
								{/if}
								<tr>
									<td>{$msg.recurring.current_billing_cycle}</td>
									<td>
										{if $profile->hasMoreBillingCycles}
											{$profile->currentBillingCycle}
											{if $profile->billingPeriodCycles > 0} of {$profile->billingPeriodCycles+$profile->trialPeriodCycles}{/if}
										{else}
											{$msg.recurring.no_more_billing_cycles}
										{/if}
									</td>
								</tr>
							</table>
						</div>
					</div>
					{if $customerCanSuspend || $customerCanCancel || $customerCanActivate}
						<div id="profile-status-change" style="display:none;">
							<h3>{$msg.recurring.new_status}</h3>
							<div class="spacer clearfix">
								<form action="index.php?p=recurring_profile&id={$profile->profileId}" method="post" id="change-profile-status-form" name="change-profile-status-form">
									<input type="hidden" name="action" value="change-profile-status">
									<select name="profile_new_status">
										{if $customerCanActivate && $profile->status != $profileStatusActive}
											<option value="{$profileStatusActive}">{$msg.recurring.activate}</option>
										{/if}
										{if $customerCanSuspend && $profile->status != $profileStatusSuspended}
											<option value="{$profileStatusSuspended}">{$msg.recurring.suspend}</option>
										{/if}
										{if $customerCanCancel  && $profile->status != $profileStatusCancelled}
											<option value="{$profileStatusCancelled}">{$msg.recurring.cancel}</option>
										{/if}
									</select>
									<div class="gap-top">
										<input type="checkbox" name="payment_profile_new_status_confirmation" id="payment_profile_new_status_confirmation" value="1">
										<label for="payment_profile_new_status_confirmation">{$msg.recurring.confirm_status_change}</label>
									</div>
									<div class="gap-top">
										<input id="profile-status-change-save" type="submit" value="{$msg.recurring.profile_status_save}" disabled>
										<input id="profile-status-change-cancel" type="button" value="{$msg.recurring.profile_status_cancel}">
									</div>
								</form>
							</div>
						</div>
					{/if}
				</div>
			</div>
			<div class="col-50">
				<div class="framed-block clearfix">
					<h3>{$msg.recurring.item}: {$lineItem->title|htmlspecialchars}</h3>
					{if $lineItem->productRecurringBillingData->scheduleDescription != ''}
						<div class="gap-top gap-left">
							<i>{$lineItem->productRecurringBillingData->scheduleDescription|htmlspecialchars}</i>
						</div>
					{/if}
					{if $lineItem->options != ''}<div class="spacer clearfix">{$msg.cart.options}:<br>{$lineItem->options|nl2br}</div>{/if}
					<div class="spacer clearfix">
						<table cellpadding="0" cellspacing="0">
							<tr>
								<td>{$msg.recurring.item_quantity}</td>
								<td>{$profile->itemsQuantity}</td>
							</tr>
							{if $profile->trialEnabled}
								<tr>
									<td>{$msg.recurring.trial_period}</td>
									<td><i>{$profile->trialDescription}{**if !$profile->hasMoreTrialCycles} ({$msg.recurring.trial_period_finished}){/if**}</i></td>
								</tr>
							{/if}
							<tr>
								<td>{$msg.recurring.billing_period}</td>
								<td><i>{$profile->billingDescription}{if !$profile->hasMoreBillingCycles} ({$msg.recurring.billing_period_finished}){/if}</i></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="col-wrap gap-top clearfix">
			<div class="col-50">
				<div class="framed-block clearfix">
					<h3>{$msg.recurring.payment_method}</h3>
					<div class="spacer clearfix">
						<div id="payment-method-view">
							{if $paymentProfile}
								<strong>
									{if $paymentProfile->name != ''}{$paymentProfile->name|htmlspecialchars}<br>{/if}
									{$paymentProfile->billingData->name|htmlspecialchars}<br>
									{$paymentProfile->billingData->ccNumber|htmlspecialchars} -
									{$paymentProfile->billingData->ccExpirationMonth|htmlspecialchars}/{$paymentProfile->billingData->ccExpirationYear|htmlspecialchars}
								</strong>
								<div class="gap-top">
									{$paymentProfile->billingData->addressLine1|htmlspecialchars}<br>
									{if $paymentProfile->billingData->addressLine2 != ''}{$paymentProfile->billingData->addressLine2|htmlspecialchars}<br>{/if}
									{$paymentProfile->billingData->city|htmlspecialchars},
									{$paymentProfile->billingData->stateName|htmlspecialchars} {$paymentProfile->billingData->zip|htmlspecialchars}<br>
									{$paymentProfile->billingData->countryName|htmlspecialchars}
								</div>
								{if $paymentProfile->billingData->phone != ''}
									<div class="gap-top">
										{$msg.recurring.phone}: {$paymentProfile->billingData->phone|htmlspecialchars}
									</div>
								{/if}
							{else}
								<div>
									{$msg.recurring.payment_profile_not_found}
								</div>
							{/if}
							<div class="gap-top">
								<a id="payment-method-change-link" href="#">{$msg.recurring.payment_method_change}</a>
							</div>
						</div>
						<div id="payment-method-change" style="display:none;">
							<form action="index.php?p=recurring_profile&id={$profile->profileId}" method="post" id="change-payment-profile-form" name="change-payment-profile-form">
								<input type="hidden" name="action" value="change-payment-profile">
								<select name="payment_profile_id">
									{foreach from=$paymentProfiles item="userPaymentProfile"}
										<option value="{$userPaymentProfile->id}" {if $paymentProfile->id == $userPaymentProfile->id}selected="selected"{/if}>
											{$userPaymentProfile->billingData->ccNumber} -
											{$userPaymentProfile->billingData->ccExpirationMonth}/{$userPaymentProfile->billingData->ccExpirationYear}
											{if $userPaymentProfile->name != ''} - {$userPaymentProfile->name|htmlspecialchars}{/if}
										</option>
									{/foreach}
								</select>
								<div class="gap-top">
									<input id="payment-method-change-save" type="submit" value="{$msg.recurring.payment_method_save}">
									<input id="payment-method-change-cancel" type="button" value="{$msg.recurring.payment_method_cancel}">
								</div>
							</form>
							<div class="gap-top">
								<a href="index.php?p=payment_profiles">{$msg.recurring.manage_payment_profiles}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-50">
				<div class="framed-block">
					<div id="shipping-address-view">
						<h3>{$msg.recurring.delivery_preferences}</h3>
						<div class="spacer">
							{$msg.recurring.shipping_method}: <i>{$initialOrder.shipping_cm_name}</i>
						</div>
						{if $shippingAddress}
							<h3>{$msg.recurring.shipping_address}</h3>
							<div class="spacer clearfix">
								<div>
									<strong>
										{$shippingAddress->name|htmlspecialchars} <i>({$shippingAddress->addressType})</i>
										{if $shippingAddress->companyName != ''}<br>{$shippingAddress->companyName}{/if}
									</strong>
								</div>
								<div class="gap-top">
									{$shippingAddress->addressLine1|htmlspecialchars}<br>
									{if $shippingAddress->addressLine2 != ''}{$shippingAddress->addressLine2|htmlspecialchars}<br>{/if}
									{$shippingAddress->city|htmlspecialchars},
									{$shippingAddress->stateName|htmlspecialchars} {$shippingAddress->zip|htmlspecialchars}<br>
									{$shippingAddress->countryName|htmlspecialchars}
								</div>
								<div class="gap-top">
									<a id="shipping-address-form-link" href="#">{$msg.recurring.change_link}</a>
								</div>
							</div>
						{/if}
					</div>
					<div id="shipping-address-form" style="display:none;">
						<h3>{$msg.recurring.shipping_address}</h3>
						<div class="spacer clearfix">
							<form method="post" action="{$url_https}p=recurring_profile&id={$profile->profileId}" id="update-shipping-address-form" name="update-shipping-address-form">
								<input type="hidden" name="action" value="update-shipping-address">
								<div class="fieldset">
									<div class="field required">
										<label for="shipping_address_type">{$msg.shipping.address_type}</label>
										<div>
											<select id="shipping_address_type" name="form[address_type]">
												<option value="Residential" {if $shippingAddress->addressType == 'Residential'}selected{/if}>{$msg.shipping.address_type_residential}</option>
												<option value="Business" {if $shippingAddress->addressType == 'Business'}selected{/if}>{$msg.shipping.address_type_business}</option>
											</select>
										</div>
									</div>

									<div class="field required">
										<label for="shipping_name">{$msg.shipping.name}</label>
										<div><input id="shipping_name" maxlength="24" type="text" name="form[name]" value="{$shippingAddress->name|htmlspecialchars}"></div>
									</div>

									{if $FormsShippingCompany != "Invisible"}
										<div class="field{if $FormsShippingCompany == "Required"} required{/if}">
											<label for="shipping_company">{$msg.shipping.company}</label>
											<div><input id="shipping_company" maxlength="36" type="text" name="form[company]" value="{$shippingAddress->company|htmlspecialchars}"></div>
										</div>
									{/if}

									<div class="field required">
										<label for="shipping_address_line1">{$msg.shipping.address_line1}</label>
										<div><input id="shipping_address_line1" maxlength="36" type="text" name="form[address1]" value="{$shippingAddress->addressLine1|htmlspecialchars}"></div>
									</div>

									{if $FormsShippingAddressLine2 != "Invisible"}
										<div class="field{if $FormsShippingAddressLine2 == "Required"} required{/if}">
											<label for="shipping_address_line2">{$msg.shipping.address_line2}</label>
											<div><input id="shipping_address_line2" maxlength="36" type="text" name="form[address2]" value="{$shippingAddress->addressLine2|htmlspecialchars}"></div>
										</div>
									{/if}

									<div class="field required">
										<label for="shipping_city">{$msg.shipping.city}</label>
										<div><input id="shipping_city" maxlength="36" type="text" name="form[city]" value="{$shippingAddress->city|htmlspecialchars}"></div>
									</div>

									<div id="shipping_country" class="field required">
										<label for="shipping_country_select">{$msg.shipping.country}</label>
										<div><select id="shipping_country_select" name="form[country]"></select></div>
									</div>

									<div id="shipping_state" class="field required invisible">
										<label for="shipping_state_select">{$msg.shipping.state_province}</label>
										<div><select id="shipping_state_select" name="form[state]"></select></div>
									</div>

									<div id="shipping_province" class="field required invisible">
										<label for="shipping_province_input">{$msg.shipping.state_province}</label>
										<div><input id="shipping_province_input" maxlength="48" type="text" name="form[province]"></div>
									</div>

									<div class="field required">
										<label for="shipping_postal_code">{$msg.shipping.postal_code}</label>
										<div><input id="shipping_postal_code" maxlength="48" type="text" name="form[zip]" value="{$shippingAddress->zip|htmlspecialchars}"></div>
									</div>
								</div>
								<div class="buttons">
									{button class="button-save" text=$msg.buttons.buttonSave file=$smarty.template} &nbsp;
									{button type="button" form="frmProfile" class="button-cancel" text=$msg.buttons.buttonCancel file=$smarty.template id="shipping-address-form-cancel"}
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="gap-top">
			<div class="framed-block clearfix">
				<h3>{$msg.recurring.recurring_orders}</h3>
				<div class="spacer clearfix">
					{if $orders}
						<table class="framed-list" cellpadding="0" cellspacing="0">
							<thead>
								<tr>
									<th width="120">{$msg.cart.order_id}</th>
									<th width="150">{$msg.cart.order_status}</th>
									<th>{$msg.cart.order_date}</th>
									<th width="150" class="text-right">{$msg.cart.order_total}</th>
									<th width="100">&nbsp;</th>
								</tr>
							</thead>
							<tbody>
								{foreach from=$orders item="order"}
									<tr>
										<td><a href="{$url_https}p=order&order_id={$order.oid}">#{$order.order_num}</a></td>
										<td>{$order.status}</td>
										<td>{$order.placed_date|date_format:$msg.common.date_format}</td>
										<td class="text-right">{$order.total_amount|price}</td>
										<td class="text-right">
											<a href="{$url_https}p=order&order_id={$order.oid}">
												{assign var="imageId" value="image-click-to-view"}
												{if $designImages.$imageId}
													<img class="image-click-to-view {class file=$smarty.template editable=true}" src="{$designImages.$imageId.content}" alt="{$msg.images.imageClickToView|htmlspecialchars}">
												{else}
													{$msg.images.imageClickToView|htmlspecialchars}
												{/if}
											</a>
										</td>
									</tr>
								{/foreach}
							</tbody>
						</table>
					{else}
						<div class="msg-notice">
							{$msg.account.no_orders_yet}
						</div>
					{/if}
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">{literal}
$(document).ready(function(){
	$('#profile-status-change-link').click(function(e){
		e.stopPropagation();
		$('#profile-properties').hide();
		$('#profile-status-change').show();
		return false;
	});

	$('#profile-status-change-cancel').click(function(e){
		e.stopPropagation();
		$('#profile-status-change').hide();
		$('#profile-properties').show();
		return false;
	});

	$('#payment_profile_new_status_confirmation').click(function(){
		if ($(this).is(':checked'))
		{
			$('#profile-status-change-save').removeAttr('disabled').option('disabled', false);
		}
		else
		{
			$('#profile-status-change-save').attr('disabled', 'disabled').option('disabled', true);
		}
	});

	$('#change-profile-status-form').submit(function(){
		return $('#payment_profile_new_status_confirmation').is(':checked');
	})

	$('#payment-method-change-link').click(function(e){
		e.stopPropagation();
		$('#payment-method-view').hide();
		$('#payment-method-change').show();
		return false;
	});

	$('#payment-method-change-cancel').click(function(e){
		e.stopPropagation();
		$('#payment-method-change').hide();
		$('#payment-method-view').show();
		return false;
	});

	$('.page-recurring-profile .col-wrap').each(function(){
		var wrap = this;
		var maxHeight = 0;
		$(wrap).find('.framed-block').each(function(){
			maxHeight = $(this).height() > maxHeight ? $(this).height() : maxHeight;
		});
		$(wrap).find('.framed-block').css('min-height', maxHeight + 10 + 'px');
	});

	$('#shipping-address-form-link').click(function(e){
		e.stopPropagation();
		$('#shipping-address-view').hide();
		$('#shipping-address-form').show();
		return false;
	});

	$('#shipping-address-form-cancel').click(function(e){
		e.stopPropagation();
		$('#shipping-address-form form')[0].reset();
		$('#shipping-address-form').hide();
		$('#shipping-address-view').show();
		return false;
	});

	$('#shipping-address-form form').submit(function(e){
		e.stopPropagation();
		return CheckShippingAddress(this, 'Notrequired', 'Notrequired');
	});

{/literal}
	var countriesStates = {$countries_states};
	setCountriesStates(
		"#shipping_country", "{$shippingAddress->countryId|htmlspecialchars}",
		"#shipping_state", "{$shippingAddress->stateId|htmlspecialchars}",
		"#shipping_province", "{$shippingAddress->province|htmlspecialchars}",
		countriesStates
	);
{literal}
});
{/literal}</script>
