<div class="page-recurring-profiles wrap {class file=$smarty.template editable=true}">
	<h1>{$msg.recurring.recurring_profiles}</h1>
	<div class="spacer clearfix">
		<div class="framed-block clearfix">
			<h3>{$msg.recurring.recurring_profiles}</h3>
			<div class="spacer clearfix">
				{if $results.count > 0}
					<table class="framed-list recurring-profiles" cellpadding="0" cellspacing="0">
						<thead>
							<tr>
								<th width="120">{$msg.recurring.profile_id}</th>
								<th>{$msg.recurring.description}</th>
								<th width="150">{$msg.recurring.next_billing_date}</th>
								<th width="120">{$msg.recurring.status}</th>
								<th width="120">{$msg.recurring.has_trial}</th>
								<th width="100">&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							{assign var="profilesCount" value=0}
							{assign var="rowStyle" value="CatalogItemDark"}
							{foreach from=$recurringProfiles item="recurringProfile"}
								{if $rowStyle == "CatalogItemLight"}
									{assign var="rowStyle" value="CatalogItemDark"}
								{else}
									{assign var="rowStyle" value="CatalogItemLight"}
								{/if}
								<tr>
									<td><a href="{$url_https}p=recurring_profile&id={$recurringProfile->profileId}">#{$recurringProfile->profileId}</a></td>
									<td><a href="{$url_https}p=recurring_profile&id={$recurringProfile->profileId}">{$recurringProfile->productName|htmlspecialchars}</a></td>
									<td>{if $recurringProfile->hasMoreBillingCycles}{$recurringProfile->dateNextBilling}{else}&nbsp;{/if}</td>
									<td>{$recurringProfile->status}</td>
									<td>{if $recurringProfile->trialEnabled}{$msg.recurring.yes}{else}{$msg.recurring.no}{/if}</td>
									<td class="text-right">
										<a href="{$url_https}p=recurring_profile&id={$recurringProfile->profileId}">
											{assign var="imageId" value="image-click-to-view"}
											{if $designImages.$imageId}
												<img class="image-click-to-view {class file=$smarty.template editable=true}" src="{$designImages.$imageId.content}" alt="{$msg.images.imageClickToView|htmlspecialchars}"/>
											{else}
												{$msg.images.imageClickToView|htmlspecialchars}
											{/if}
										</a>
									</td>
								</tr>
								{assign var="profilesCount" value=$profilesCount+1}
							{/foreach}
						</tbody>
					</table>
					{include file="templates/pages/catalog/elements/element-page-breaks.html"}
				{else}
					<div class="msg-notice">
						{$msg.recurring.no_profiles_yet}
					</div>
				{/if}
			</div>
		</div>
	</div>
</div>