<div class="page-signup wrap {class file=$smarty.template editable=true}">
<script type="text/javascript" language="javascript">
	var ship2countries = new Array();
	{if $ship2countries == "all"}
		var ship2all = true;
	{else}
		var ship2all = false;
	{section name=sc loop=$ship2countries}
		ship2countries[{$smarty.section.sc.iteration}] = {$ship2countries[sc]};
	{/section}
	{/if};
</script>

<script language="javascript" type="text/javascript">
	var countriesStates = {$countries_states};
	{literal}
	$(document).ready(function(){
		setCountriesStates(
			{/literal}
			"#billing_country", "{$form.country|htmlspecialchars}",
			"#billing_state", "{$form.state|htmlspecialchars}",
			"#billing_province", "{$form.province|htmlspecialchars}",
			countriesStates
			{literal}
		);
	});
	{/literal}
</script>

<h1>{$msg.account.register}</h1>
<div class="spacer">
	<p>{lang msg=$msg.account.register_note url=$url_https}</p>
	<div class="msg-notice">{$msg.common.required_fields_are_bold}</div>

	<form name="signupForm" action="{$url_https}p=signup" method="post" onsubmit="return CheckSignupForm(this, '{$FormsBillingCompany}', '{$FormsBillingAddressLine2}', '{$FormsBillingPhone}', ship2all, ship2countries)">
		<input type="hidden" name="ua" value="{$USER_SIGNUP}"/>
		<input type="hidden" name="cart_items_count" value="{$order->itemsCount|intval}"/>
		{if $is_user_errors == "yes"}
			<div class="msg-error">
				{$msg.account.register_error}
				{if $userErrors}
					<ul class="list">
					{foreach from=$userErrors item="userError"}
						<li>{$userError}</li>
					{/foreach}
					</ul>
				{/if}
			</div>
		{/if}
	
		<div class="fieldset {class file=$smarty.template editable=true}">
			<h3 class="title">{$msg.billing.billing_information}</h3>
			<div class="field required clearfix">
				<label for="billing_first_name">{$msg.billing.first_name}</label>
				<div><input id="billing_first_name" maxlength="24" type="text" name="form[fname]" value="{$form.fname|htmlspecialchars}" /></div>
			</div>
	
			<div class="field required clearfix">
				<label for="billing_last_name">{$msg.billing.last_name}</label>
				<div><input id="billing_last_name" maxlength="24" type="text" name="form[lname]" value="{$form.lname|htmlspecialchars}" /></div>
			</div>
	
			{if $FormsBillingCompany != "Invisible"}
			<div class="field{if $FormsBillingCompany == "Required"} required{/if} clearfix">
				<label for="billing_company">{$msg.billing.company}</label>
				<div><input id="billing_company" class="formControlText" maxlength="50" type="text" name="form[company]" value="{$form.company|htmlspecialchars}" /></div>
			</div>
			{else}
				<input type="hidden" name="form[company]" value="{$form.company|htmlspecialchars}"/>
			{/if}

			<div class="field required clearfix">
				<label for="billing_address_line1">{$msg.billing.address_line1}</label>
				<div><input id="billing_address_line1" class="formControlText" maxlength="125" type="text" name="form[address1]" value="{$form.address1|htmlspecialchars}" /></div>
			</div>

			{if $FormsBillingAddressLine2 != "Invisible"}
			<div class="field{if $FormsBillingAddressLine2 == "Required"}required{/if} clearfix">
				<label for="billing_address_line2">{$msg.billing.address_line2}</label>
				<div><input id="billing_address_line2" class="formControlText" maxlength="125" type="text" name="form[address2]" value="{$form.address2|htmlspecialchars}" /></div>
			</div>
			{else}
				<input type="hidden" name="form[address2]" value="{$form.address2|htmlspecialchars}"/>
			{/if}
	
			<div class="field required clearfix">
				<label for="billing_city">{$msg.billing.city}</label>
				<div><input id="billing_city" maxlength="24" type="text" name="form[city]" value="{$form.city|htmlspecialchars}" /></div>
			</div>
	
			<div id="billing_country" class="field required clearfix">
				<label for="billing_country_select">{$msg.billing.country}</label>
				<div>
					<select id="billing_country_select" name="form[country]">
						<option value="" selected="selected">{$msg.javascript.select_state_or_province}</option>
					</select>
				</div>
			</div>

			<div id="billing_state" class="field field-input-states required invisible clearfix">
				<label for="billing_state_select">{$msg.billing.state_province}</label>
				<div>
					<select id="billing_state_select" name="form[state]">
						<option value="" selected="selected">{$msg.javascript.select_state_or_province}</option>
					</select>
				</div>
			</div>

			<div id="billing_province" class="field field-input-provinces required invisible clearfix">
				<label for="billing_province_input">{$msg.billing.state_province}</label>
				<div><input id="billing_province_input" maxlength="24" type="text" name="form[province]"/></div>
			</div>

			<div id="billing_postal_code_field" class="field field-input-zip required clearfix">
				<label for="billing_postal_code">{$msg.billing.postal_code}</label>
				<div><input id="billing_postal_code" maxlength="24" type="text" name="form[zip]" value="{$form.zip|htmlspecialchars}" /></div>
			</div>
	
			{if $FormsBillingPhone != "Invisible"}
			<div class="field{if $FormsBillingPhone == "Required"} required{/if} clearfix">
				<label for="billing_phone_number">{$msg.billing.phone_number}</label>
				<div><input id="billing_phone_number" maxlength="24" type="text" name="form[phone]" value="{$form.phone|htmlspecialchars}" /></div>
			</div>
			{else}
				<input type="hidden" name="form[phone]" value="{$form.phone|htmlspecialchars}" />
			{/if}
			
			{if $cf_billing}
				{foreach from=$cf_billing item="cfield"}
					<div class="field {if $cfield.is_required }required{/if} clearfix">
						<label>{$cfield.field_caption|htmlspecialchars}</label>
						<div>{cfield field=$cfield}</div>
					</div>
				{/foreach}
			{/if}
		</div>
		
		<div class="fieldset {class file=$smarty.template editable=true}">
			<h3 class="title">{$msg.shipping.shipping_information}</h3>
			<div class="shipping-fields">
				<input type="checkbox" id="cb_thesame" name="form[thesame]" value="Yes" {if $form.thesame=="Yes" || $ShippingAllowSeparateAddress=="0"}checked="checked"{/if}{if $ShippingAllowSeparateAddress=="0"} disabled="disabled"{/if}/> 
				<div class="clearfix">
					<label id="label-cb_thesame" class="label-shipping-same" for="cb_thesame">{$msg.shipping.shipping_as_billing}</label>
					<div class="hint">
						{$msg.shipping.shipping_as_billing_description}
					</div>
				</div>
			</div>
		</div>
		
		<div class="fieldset {class file=$smarty.template editable=true} clearfix">
			<h3 class="title">{$msg.account.account_information}</h3>
					
			<div class="field required clearfix">
				<label for="account_login">{$msg.account.username} ({$msg.account.username_note})</label>
				<div><input id="account_login" maxlength="255" type="text" name="form[login]" value="{$form.login|htmlspecialchars}"/></div>
			</div>
			<div class="field required clearfix">
				<label for="account_password">{$msg.account.password} ({$msg.account.password_note})</label>
				<div><input id="account_password" maxlength="24" type="password" name="form[password]" value=""/></div>
			</div>
			<div class="field required clearfix">
				<label for="account_password_confirm">{$msg.account.password_confirm}</label>
				<div><input id="account_password_confirm" maxlength="24" type="password" name="form[password2]" value=""/></div>
			</div>
			<div class="field required clearfix">
				<label for="account_email_address">{$msg.account.email_address}</label>
				<div><input id="account_email_address" maxlength="255" type="text" name="form[email]" value="{$form.email|htmlspecialchars}"/></div>
			</div>
			<div class="field clearfix">
				<label>{$msg.account.subscribe_to}</label>
				<div>
					<input type="checkbox" name="form[receives_marketing]" id="receives_marketing" value="Yes" {if $form.receives_marketing == "Yes"}checked="checked"{/if}/>
					<label for="receives_marketing">{$msg.account.receives_marketing}</label>
				</div>
			</div>
			
			{if $cf_account}
				{foreach from=$cf_account item="cfield"}
					<div class="field{if $cfield.is_required } required{/if} clearfix">
						<label>{$cfield.field_caption|htmlspecialchars}</label>
						<div>{cfield field=$cfield}</div>
					</div>
				{/foreach}
			{/if}
		</div>
		
		{if $captchaMethod != "None" && $captcha}
			<div class="fieldset {class file=$smarty.template editable=true}">
				<h3 class="title">Captcha</h3>	
				<div class="field clearfix required">
					<label>Please enter CAPTCHA</label>
					<div class="captcha">
						<!-- recaptcha image verification -->
						<script src="https://www.google.com/recaptcha/api.js" async defer></script>
						<div class="g-recaptcha" data-sitekey="{$site_key}"></div>
						<!-- recaptcha end -->
					</div>
				</div>
			</div>
		{/if}
		
		{if $cf_signup}
			<div class="fieldset {class file=$smarty.template editable=true}">
				<h3 class="title">{$msg.cart.additional_information}</h3>
				{foreach from=$cf_signup item="cfield"}
					<div class="field{if $cfield.is_required } required{/if} first">
						<label>{$cfield.field_caption|htmlspecialchars}</label>
						<div>{cfield field=$cfield}</div>
					</div>
				{/foreach}
			</div>
		{/if}
		
		{if $DisplayTermsAndConditionsCheckbox == "Yes"}
			<div class="spacer text-center">
				<input type="checkbox" id="cb_agree" name="form[agree]" value="Yes" {if $form.agree == "Yes"}checked="checked"{/if} /> 
				<label for="cb_agree">{lang msg=$msg.account.register_agree_policy url=$url_rel}</label>
			</div>
		{/if}
		
		<div class="buttons">
			{button class="button-register" text=$msg.buttons.buttonRegister file=$smarty.template} &nbsp;
			{button type="reset" form="signupForm" class="button-reset" text=$msg.buttons.buttonReset file=$smarty.template}
		</div>
	</form>
</div>
</div>