<div class="page-catalog page-catalog-{$catalog_mode} {if $catalog_mode == 'catalog'}page-catalog-category-{$category.cid} page-catalog-category-level-{$category.level}{/if}{if $catalog_mode == 'manufacturer'}page-catalog-manufacturer-{$manufacturer.mid}{/if} wrap clearfix {class file=$smarty.template editable=true}">

	<h1>{$page_title|htmlspecialchars}{if $category.subcategories}
		<a href="#" class="mobile-nav-subcategories-toggle">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</a>
		{/if}
	</h1>

	{if $category.subcategories}
	<div class="mobile-nav-subcategories-panel">
		<ul>
			{foreach from=$category.subcategories item=subcat}
				<li><a href="{$subcat.url}">{$subcat.name|htmlspecialchars}</a></li>
			{/foreach}
		</ul>
	</div>
	{/if}

	{include file="templates/pages/catalog/elements/element-bread-crumbs.html"}

	{if $CatalogManufacturerImageDisplay == "YES" && $catalog_mode == "manufacturer" && $manufacturer.img != ""}
		<img id="manufacturerImg" src="{$manufacturer.img}" alt="{$manufacturer.name|htmlspecialchars}" title="{$manufacturer.name|htmlspecialchars}" />
	{/if}

	{if ($catalog_mode == "catalog") && ($category.img || ($category.description != "")) }
		{if $category.img}
			<img id="categoryImg" src="{$category.img}" alt="{$category.name|htmlspecialchars}" title="{$category.name|htmlspecialchars}" />
		{/if}
		{if $category.description != ""}
			<div id="categoryDescriptionTop">{$category.description}</div>
		{/if}
	{/if}

	{if $category.subcategories && $category.list_subcats == 'Yes'}
		{include file="templates/pages/catalog/elements/element-sub-categories.html"}
	{/if}

	{if $catalog_mode == "search"}
		{include file="templates/pages/catalog/elements/element-search-box.html"}
	{/if}

	{if $items_count > 0}
		{include file="templates/pages/catalog/elements/element-navigation.html"}
		{include file=$CatalogViewFile}
		{include file="templates/pages/catalog/elements/element-page-breaks.html"}
	{else}
		<div class="spacer">
			<h3>{$msg.catalog.no_results}</h3>
			<div class="spacer">
				{lang msg=$msg.common.what_is_next url=$url_rel}
				<ul class="list">
					<li><a href="{$url_http}p=site_map">{$msg.common.site_map}</a></li>
					<li><a href="{$url_http}">{$msg.common.goto_home_page}</a></li>
				</ul>
			</div>
		</div>
	{/if}

	{if $category.description_bottom != ""}
		<div id="categoryDescriptionBottom">{$category.description_bottom}</div>
	{/if}
</div>
