<div id="site-container" class="site-container">

	{if $DesignTopMenuAvailable == 'YES'}
		<div class="container-navigation container-navigation-top clearfix">
				{include file="templates/layouts/zones/navigation.html"}
		</div>
	{/if}

	<div class="container-header clearfix">
			{include file="templates/layouts/zones/header.html"}
	</div>
	<div class="container-menu clearfix">
		<div class="{$LayoutSiteWidth} container-wrap clearfix">
			{include file="templates/layouts/zones/menu.html"}
		</div>
	</div>
	{if $DesignTopMenuAvailable != 'YES'}
		<div class="container-navigation container-navigation-middle clearfix">
			<div class="{$LayoutSiteWidth} container-wrap clearfix">
				{include file="templates/layouts/zones/navigation.html"}
			</div>
		</div>
	{/if}

	<div class="container-main clearfix">
		<div class="{$LayoutSiteWidth} container-wrap clearfix">
			{**if $current_page === 'home'}
			<div class="clearfix">
				{assign var="imageId" value="image-home"}
				{if $designImages.$imageId}
					<img class="image-home {class file=$smarty.template editable=true}" src="{$designImages.$imageId.content}" alt="{$msg.images.imageHome|htmlspecialchars}"/>
				{/if}  
                <div id="image-promo">
                    {assign var='imageId' value='image-slogan'}
                    {if $designImages.$imageId}
                        <img class=" {class file=$smarty.template editable=true}" src="{$designImages.$imageId.content}" alt="{$msg.images.imageSlogan|htmlspecialchars}"/>
                    {/if}    
                </div>
			</div>
			{/if**}
			<div id="main" class="clearfix">
				{include file="templates/layouts/zones/left.html"}
				{include file="templates/layouts/zones/right.html"}
				{include file="templates/layouts/zones/content.html"}
			</div>
		</div>
	</div>

	<div class="container-footer">
			{include file="templates/layouts/zones/footer.html"}
	</div>
</div>