<div class="container-header clearfix">
	<div class="container-wrap {$LayoutSiteWidth} clearfix">
		<div id="header" class="layout-zone-header layout-zone clearfix {class file=$smarty.template editable=true}">    
		    <div id="header-logo">
		        {assign var="imageId" value="image-logo"}
		        {if $designImages.$imageId}
		            <a href="{if $CatalogHomeLink!=''}{$CatalogHomeLink}{else}{$url_rel}{/if}" class="logo-main">
		                <img class="image-logo {class file=$smarty.template editable=true}"  src="{$designImages.$imageId.content}" alt="" />
		            </a>
		        {/if}        
		    </div>
		    <div id="header-toggle">
		        <div class="search-header {class file=$smarty.template editable=true}">
		            <form action="{$url_http}" method="get">
		                <input type="hidden" name="p" value="catalog"/>
		                <input type="hidden" name="mode" value="search"/>
		                <input type="hidden" name="search_in" value="all"/>
		                <input id="search-field-inner"  maxlength="256" type="text" name="search_str" value="{$search_str|htmlspecialchars}" placeholder="Search Store"/>
		                 {button class="button-start-search" text=$msg.buttons.buttonStartSearch file=$smarty.template}
		            </form>
		        </div>        
		        <div class="mobile-navigation">
		            <a href="#" class="mobile-nav-toggle">
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		            </a>
		        </div>
		    </div>
		</div>
		<div class="mobile-navigation-panel clearfix">
			<div class="clear"></div>
			<ul>
				{if $AllowCreateAccount != 'No'}
					{if $auth_ok == "yes" && $auth_express != 'yes'}
						<li><a href="{$url_https}p=account">{$msg.account.my_account}</a></li>
						<li><a href="javascript:ConfirmLogout()">{$msg.account.logout}</a></li>
					{else}
						<li><a href="{$url_https}p=login">{$msg.account.login}</a></li>
						<li><a href="{$url_https}p=signup">{$msg.account.register}</a></li>
					{/if}
				{/if}

				<li style="font-weight: 500; color: #4a4a4a;">
					<span class="nav-text">
						<a style="font-weight: 300;" href="{$url_dynamic}p=cart">{$msg.cart.view_cart}: {$order->itemsCount} Items </a>
						<span class="order-total-amount">({$order->cartSubtotalAmount|price})</span>
					</span>
				</li>
				<li><a href="{$url_checkout}">{$msg.cart.checkout}</a></li>
				<div class="MobileDivider">
		            <h4>{$msg.catalog.browse_products}</h4>
		        </div>
				{foreach from=$categories item="category"}{if $category.level == 1 && $category.is_visible == "Yes"}
				<li><a href="{$category.category_url}">{$category.name|htmlspecialchars}</a></li>
				{/if}{/foreach}
				{if $enable_gift_cert == 'Yes'}
					<li><span><a href="{$GlobalHttpUrl}/index.php?p=gift_certificate">Gift Certificates</a></span></li>
				{/if}
			</ul>
		</div>
	</div>
</div>
<div id="site-container" class="site-container">
    <div class="container-main clearfix">
        <div class="{$LayoutSiteWidth} container-wrap clearfix">
            <div id="main" class="clearfix">
                {include file="templates/layouts/zones/content.html"}
            </div>
        </div>
    </div>
</div>