<div id="footer" class="layout-zone-footer layout-zone {class file=$smarty.template editable=true}">
	<ul>
		<li><a href="{if $CatalogHomeLink!=''}{$CatalogHomeLink}{else}{$url_rel}{/if}">{$msg.common.home_page}</a></li>
		{if $testimonials_Enabled == "Yes"}
			<li><a href="{$testimonial_url}">{$msg.testimonials.testimonials}</a></li>
		{/if}
		{if $kb_Enabled == "Yes"}
			<li><a href="{$url_http}p=kb">{$msg.kb.kb}</a></li>
		{/if}
		{if $AffiliateActive == "YES"}
			<li><a href="{$AffiliateAreaURL|urlencode}">{$AffiliateLinkText|htmlspecialchars}</a></li>
		{/if}
		{if $currencies_count > 1 || $languages_count > 1}
			<li><a href="{$international_url}">International</a></li>
		{/if}
		<li><a href="{$site_map_url}">{$msg.common.site_map}</a></li>
		{foreach from=$pages_links item="page_item"}
			{if $page_item.bottom}
				<li><a href="{$page_item.url}">{$page_item.title|htmlspecialchars}</a></li>
			{/if}
		{/foreach}
	</ul>

	{if $GoogleAnalyticsAsync == 'No' && $GoogleAnalyticsActive == 'YES' && !$isDesignMode}{$GoogleAnalytics}{/if}
	<div class="subfooter">
		Powered by <a target="_blank" href="{$label_home_site}" title="{$FooterAnchorText|lower}">{$label_app_name}</a> {$FooterAnchorText}
	</div>
</div>
{if $settings.DisplayNortonShoppingGuarantee == 'YES' && $settings.NortonSealGuaranteeHash != ''}
	{include file="templates/layouts/zones/includes/norton_seal.html"}
{/if}