<div id="header" class="layout-zone-header layout-zone {class file=$smarty.template editable=true}">
	<div class="col-wrap">
		<div class="col-50">
			{assign var="imageId" value="image-logo"}
			{if $designImages.$imageId}
				<a href="{if $CatalogHomeLink!=''}{$CatalogHomeLink}{else}{$url_rel}{/if}"><img class="image-logo {class file=$smarty.template editable=true}" src="{$designImages.$imageId.content}" alt="{$msg.images.imageLogo|htmlspecialchars}"/></a>
			{/if}
			&nbsp;
		</div>
		<div class="col-50 col-right">
			&nbsp;
			{assign var="imageId" value="image-slogan"}
			{if $designImages.$imageId}
				<img class="image-slogan {class file=$smarty.template editable=true}" src="{$designImages.$imageId.content}" alt="{$msg.images.imageSlogan|htmlspecialchars}"/>
			{/if}
		</div>
	</div>
</div>
