<div id="menu" class="layout-zone-menu layout-zone col-wrap clearfix {class file=$smarty.template editable=true}">
	<ul class="drop-down-menu clearfix">
		{include file="templates/layouts/zones/includes/menu-item.html"}
		{if $enable_gift_cert == 'Yes'}
		<li><a href="{$GlobalHttpUrl}/index.php?p=gift_certificate">Gift Certificates</a></li>
		{/if}
	</ul>
</div>
