<div class="catalog-view-display catalog-products spacer clearfix {class file=$smarty.template editable=true}">
	{foreach from=$products item="product" name="cataloglist"}
		<div class="catalog-product catalog-product-{$product.pid}">
			<div class="spacer">
				{include file="templates/pages/catalog/elements/element-product-image.html"}
				{include file="templates/pages/catalog/elements/element-product-hot-deal.html"}
				<div class="catalog-product-title">
					<a href="{$product.url}">{$product.title|htmlspecialchars}</a> - {include file="templates/pages/catalog/elements/element-product-sale-price.html"}
				</div>
			</div>
		</div>
	{/foreach}
</div>