<form name="form-import-assign" id="form-import-assign" action="admin.php?p={$page}" role="form" method="post" data-auto-validate="1" autocomplete="off">
	<input type="hidden" name="nonce" id="nonce" value="{$nonce}">
	<input type="hidden" name="action" value="import">

	<div id="content-header">
		<div class="container-fluid">
			<h1 class="col-xs-6">{$pageTitle}</h1>
			<div class="col-xs-6 pull-right text-right btn-toolbar">
				<a href="admin.php?p={$pageCancel}">{trans key="common.cancel"}</a>
				<button class="btn btn-primary">{trans key="common.continue"}</button>
			</div>
		</div>
		<hr class="clearfix">
	</div>

	{form form=$form}

	<div class="container-fluid">
		<div class="col-xs-12">
			<table class="table table-striped table-responsive">
				<thead>
				<tr>
					<th style="width:20%">Field</th>
					{math assign="columnWidth" equation="80/x" x=$assignOptions.previewLinesCount}
					{foreach from=$assignOptions.previewLines key="key" item="line"}
						<th style="width:{$columnWidth}%">Line {$key+1}</th>
					{/foreach}
				</tr>
				</thead>
				<tbody>
				{foreach from=$assignOptions.columns key="columnKey" item="column"}
					<tr>
						<td class="assign-group">
							<select name="assign_fields[{$columnKey}]" class="form-control assigned-field">
								{foreach from=$fields key="fieldName" item="field"}
									<option value="{$fieldName|htmlspecialchars}" {if $fieldName == $column}selected{/if} {if $field.required}style="font-weight:bold;"{/if}>{$field.title|htmlspecialchars}</option>
								{/foreach}
							</select>
						</td>
						{foreach from=$assignOptions.previewLines item="line"}
							<td>{$line[$columnKey]|htmlspecialchars}</td>
						{/foreach}
					</tr>
				{/foreach}
				</tbody>
			</table>
		</div>
	</div>


</form>

<script type="text/javascript"><!--
var importFields = {$fieldsJson};
--></script>
<script type="text/javascript" src="content/admin/scripts/import.js?v={$APP_VERSION}"></script>
