<form name="form-import-start" id="form-import-start" action="admin.php?p={$page}" role="form" method="post" data-auto-validate="1" autocomplete="off" enctype='multipart/form-data'>
	<input type="hidden" name="nonce" id="nonce" value="{$nonce}">
	<input type="hidden" name="action" value="start">

	<div id="content-header">
		<div class="container-fluid">
			<h1 class="col-xs-6">{$pageTitle}</h1>
			<div class="col-xs-6 pull-right text-right btn-toolbar">
				<a href="admin.php?p={$pageCancel}">{trans key="common.cancel"}</a>
				<button class="btn btn-primary">{trans key="common.continue"}</button>
			</div>
		</div>
		<hr class="clearfix">
	</div>

	{form form=$form}
</form>

<script type="text/javascript" src="content/admin/scripts/import.js?v={$APP_VERSION}"></script>
