<div class="modal fade " id="modal-change-payment-profile" tabindex="-1" role="dialog" aria-labelledby="modal-change-payment-profile-label" aria-hidden="true">
	<div class="modal-dialog">
		<form class="form-address" method="POST" role="form" name="form-change-payment-profile">
			<input type="hidden" name="actionSource" value="{$actionSource|gs}">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-change-payment-profile-label">{trans key="customers.change_payment_profile"}</h4>
				</div>
				<div class="modal-body">
					{foreach from=$paymentProfiles item="paymentProfile" name="user_profiles"}
						<div class="col-sm-12 col-md-6 payment-profile-view-container">
							{include file="templates/pages/payment-profiles/payment-profile-view.html"}
						</div>
					{/foreach}
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="button" class="btn btn-primary" data-action="action-change-payment-profile">{trans key="common.save"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>