<div class="modal fade " id="modal-edit-payment-profile" tabindex="-1" role="dialog" aria-labelledby="modal-edit-payment-profile-label" aria-hidden="true">
	<div class="modal-dialog">
		<form class="form-address" method="POST" role="form" name="form-edit-payment-profile">
			<input type="hidden" name="actionSource" value="{$actionSource|gs}">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">{trans key="common.cancel"}</button>
					<h4 class="modal-title" id="modal-edit-payment-profile-label">{trans key="customers.edit_payment_profile"}</h4>
				</div>
				<div class="modal-body">
					{form form=$paymentProfileForm}
				</div>
				<div class="modal-footer">
					<div class="col-xs-12">
						<button type="button" class="btn btn-primary" data-action="action-payment-profile">{trans key="common.save"}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>