<div id="payment-profile-{$paymentProfile->id}" class="payment-profile-view{if $paymentProfile->isPrimary} payment-profile-primary{/if}">
	<strong>
		{if $paymentProfile->name != ''}{$paymentProfile->name|htmlspecialchars}<br>{/if}
		{$paymentProfile->billingData->name|htmlspecialchars} <span class="payment-profile-primary-label" {if !$paymentProfile->isPrimary}style="display:none;"{/if}><i>({trans key="customers.primary"})</i></span><br>
		{$paymentProfile->billingData->ccNumber|htmlspecialchars} -
		{if $paymentProfile->billingData->ccType == 'paypal_account'}
			{trans key="customers.payment_profile_paypal"}
		{else}
			{$paymentProfile->billingData->ccExpirationMonth|htmlspecialchars}/{$paymentProfile->billingData->ccExpirationYear|htmlspecialchars}
		{/if}
	</strong>
	<br>
	{$paymentProfile->billingData->addressLine1|htmlspecialchars}{if $paymentProfile->billingData->addressLine2 != ''}, {$paymentProfile->billingData->addressLine2|htmlspecialchars}{/if}<br>
	{$paymentProfile->billingData->city|htmlspecialchars},
	{$paymentProfile->billingData->stateName|htmlspecialchars} {$paymentProfile->billingData->zip|htmlspecialchars}<br>
	{$paymentProfile->billingData->countryName|htmlspecialchars}
	<br>
	{if $paymentProfile->billingData->phone != ''}
		Phone: {$paymentProfile->billingData->phone|htmlspecialchars}
	{/if}
</div>