{if $field.value.profile}
{if $field.value.profile.profilename == 'braintree'}
{literal}
<script src="content/vendors/braintree/js/braintree.js" type="text/javascript"></script>
{/literal}
<script type="text/javascript">
    var colorTransition = 'color 100ms ease-out';
    var braintreeclient = null;
    var bt_token = "{$field.value.profile.client_token}";
    var bt_amount = 1;
    var storeInVault = "{$field.value.profile.storeInVault}"
    {literal}
    $(document).ready(function(){
        var checkout;
        var singleUse = ($.trim(storeInVault) != '' && storeInVault == 'Yes')?false:true;
        braintree.setup(bt_token, 'custom', {
            onReady: function (integration) {
                checkout = integration;
            },
            onPaymentMethodReceived: function (payload) {
                $("#id_method_way").val('');
                if (payload.nonce != ''){
                    $("#id_checkouttype").val(payload.type);
                    $("#id_pm_nonce").val(payload.nonce);
                    $("#id_method_way").val('profile');
                    $("#id_checkoutdetails").val(JSON.stringify(payload.details));
                    $('button[data-action="action-payment-profile"]').click();
                }
                else{
                    alert('Paypal Purchase Flow was canceled!');
                    return false;
                }
            },
            paypal: {
                singleUse: singleUse,
                amount: bt_amount,
                currency: 'USD',
                locale: 'en_us',
                enableShippingAddress: true,
                headless: true
            }
        });

        document.querySelector('#btree-paypalbutton').addEventListener('click', function (event) {
            event.preventDefault();
            checkout.paypal.initAuthFlow();
        }, false);

    });

</script>
{/literal}
<div class="form-group field-text required col-sm-12 col-xs-12">
    <input type="hidden" id='id_pm_nonce' name="payment_method_nonce" value=""/>
    <input type="hidden" id='id_checkouttype' name="form[checkout_type]" value="customform"/>
    <input type="hidden" id='id_checkoutdetails' name="form[pp_details]" value=""/>
    <input type="hidden" id='id_method_way' name="form[payment_method_pp]" value="customcard"/>
    <div class="form-group col-sm-12 col-xs-12">
        <a href="#" id="btree-paypalbutton" class="paypal is-active" title="Pay with PayPal">
            <img src="images/buttons/english/paypal@2x.png" style="max-width: 30%" alt="PayPal powered by Braintree">
        </a>
    </div>
</div>
{/if}
{/if}