<div style="padding-left:10px;">
	<div class="gap-bottom">
		<ul>
			<li>
				<a href="#" data-action="payment-profile-add" data-action-source="recurring-profile" data-user-id="{$userId}" data-payment-method-id="{$paymentProfilePaymentMethodId}">{trans key="customers.add_payment_card"}</a>
			</li>
		</ul>
	</div>
	<div class="payment-profiles-list">
		{foreach from=$paymentProfiles item="paymentProfile" name="user_profiles"}
			{include file="templates/pages/payment-profiles/recurring-payment-profile.html"}
		{/foreach}
	</div>
	<div class="payment-profiles-list-empty formItemControl big clearfix" {if $paymentProfiles}style="display:none;"{/if}>
		{trans key='payment_profiles.no_payment_profiles'}
	</div>

	<input type="hidden" name="userId" value="{$userId}">
	<input type="hidden" name="recurringProfileId" value="{$recurringProfileId}">
	<input type="hidden" name="paymentProfileId" value="{$currentPaymentProfileId}">

</div>
