{*<div id="admin-tab-sheet-payment-profiles" class="admin-tab-sheet">
	<div class="admin-tab-sheet-wrap">
		<div class="admin-form-header first"><span class="icon ic-icon"></span>{trans key='payment_profiles.user_payment_profiles'}</div>
		<div class="gap-bottom">
			<ul>
				<li>
					<a href="#" data-action="payment-profile-add" data-action-source="user-profile" data-user-id="{$userId}" data-payment-method-id="{$paymentProfilePaymentMethodId}">{trans key="customers.add_payment_card"}</a>
				</li>
			</ul>
		</div>
		<div class="payment-profiles-list">
			{foreach from=$paymentProfiles item="paymentProfile" name="user_profiles"}
				{include file="templates/pages/payment-profiles/user-page-payment-profile.html"}
			{/foreach}
		</div>
		<div class="payment-profiles-list-empty formItemControl big clearfix" {if $paymentProfiles}style="display:none;"{/if}>
			{trans key='payment_profiles.no_payment_profiles'}
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<script type="text/javascript" src="content/admin/javascript/payment-profiles.js?v={$APP_VERSION}"></script>*}