<div class="payment-profile payment-profile-{$paymentProfile->id}">
	<div class="payment-profile-links" style="float:right;">
		<a href="#" data-action="payment-profile-edit" data-action-source="user-profile" data-payment-profile-id="{$paymentProfile->id}"><img src="images/icons/a/pencil.png" alt="{trans key="common.edit"}" title="{trans key="customers.edit_payment_profile"}"></a>
		<a href="#" data-action="payment-profile-delete" data-action-source="user-profile" data-payment-profile-id="{$paymentProfile->id}"><img src="images/icons/a/delete.png" alt="{trans key="common.delete"}" title="{trans key="customers.delete_payment_profile"}"></a>
	</div>
	{include file="templates/pages/payment-profiles/payment-profile-view.html"}
</div>